[2016-01-10 10:33] ljacqu opened #432 "[Dev] Revise instantiation / remove static injections in main class"
Along with the integration tests for data sources, this will be the next big story I will work on. The objective of this issue is to clean up the `AuthMe` class and to reduce the number of statically injected members into other code, as I've done for the command part (see issues nr. 305 and 306).

Specifically:
- No more public immutable fields on AuthMe (such as maps!)
- Export certain logic to o

[2016-01-10 12:22] sgdc3 commented on #426
Yeah, the version on dev bukkit is very outdated...

[2016-01-10 12:24] sgdc3 commented on #427
Nope, if they put the wrong e email they are locked out of the account.

[2016-01-10 12:25] ljacqu commented on #427
Not for password / email combination that sNuuFix describes.

[2016-01-10 12:29] sgdc3 commented on #427
@ljacqu What do you mean?

[2016-01-10 13:44] sNuuFix commented on #427
Yes, I forgot to mention that it should be optional, so users who don't want to give out their email because they don't trust the server yet are not forced to write it. But I don't know what message would be the best to show that it's optional. also there may be problem with users who are used to write password twice on other servers, so there must be some error checking for email parameter. I don

[2016-01-10 21:06] MithrandirCraft opened #433 "Error on server stop"
Found this error on logs during today's afternoon restart.

http://hastebin.com/iteqejujoj.apache

----------------------
Current authme version: 5.2-SNAPSHOT-b672

[2016-01-10 21:33] Xephi commented on #433
Can you test?

[2016-01-10 21:41] Xephi commented on #430
The problem with automatically set name from realName is for old datas, since RealName column was not automatically fill in the past, we cannot read from database and found the username from it

[2016-01-10 22:15] MithrandirCraft commented on #433
sure. Will report back.

[2016-01-11 11:16] DarkEvoli opened #434 "WBB3 hash not working"
I'm just trying to connect with WBB authme.
This works well so far but I get the message wrong password.

What am I doing wrong?
sorry for my bad English
[config.txt](https://github.com/Xephi/AuthMeReloaded/files/85604/config.txt)

[2016-01-11 16:48] sNuuFix opened #435 "Registration not working with Vault and/or PermissionsEx plugins enabled"
While using Vault or PermissionsEx (bukkit stable releases), users that are not in ops list cannot join the server, they are shown a message to register even if they are already registered and any command they write, including /register and /login gets error "You don't have permission to use this command!". unLoggedinGroup is ignored, even giving all permissions (even including admin commands like

[2016-01-11 17:27] kingpyro commented on #248
Sorry for the late response. Not fixed.

I even tried regenerating an using the default config. (Which makes the delayJoinLeaveMessages as true). I tried with false just in case if the Boolean was switched, no success.

@sgdc3 https://i.imgur.com/xFDoITm.png

[2016-01-11 17:32] kingpyro commented on #248
Build 682 btw.

[2016-01-11 22:15] MithrandirCraft commented on #433
b682 - Still getting errors, got last error today on afternoon restart.

[2016-01-11 22:36] sgdc3 commented on #248
What's your plugin list?

[2016-01-12 03:02] zhgt commented on #353
Sorry, I was on holiday.
Update the dev and remains unchanged.

[2016-01-12 08:34] Xephi commented on #433
since we don't kick them , we don't need to handle the quit event, can you send me the new logs ?

[2016-01-12 18:41] Slaand commented on #137
Hello guys, how it's going?

[2016-01-12 20:51] MithrandirCraft commented on #433
This time I think it's longer, but I'm handing over the last section where it mentions authme xD

http://hastebin.com/joqilocehe.apache

[2016-01-13 07:39] Xephi commented on #385
[ ] - Write the full changelog :'(

[2016-01-13 10:16] DNx5 commented on #137
I thought everything is working fine, by reading your comment.

[2016-01-13 10:18] DNx5 commented on #433
are you using reload command?

[2016-01-13 11:45] Slaand commented on #137
No, my last comment is password change on forum, and its working.
But when players register at server, they can't login at website. So, at table xf_user_authenticate plugin does not save remember_key (screen above), maybe its an issue.

[2016-01-13 11:57] smartmadio opened #436 "Can I convert password hash from SHA256 to SALTED2MD5?"
I'm using 'passwordHash: SHA256' now and for some kind of reason I need to change the passwordhash to SALTED2MD5.

 I've tried to change the setting 'supportOldPasswordHash' to 'true',when I tried to login with new setting it told me that the password is wrong,but when I restored the old setting, I could login again with the same password.

Old setting:
[code]
New setting:
[code]

`Seems like auth

[2016-01-13 12:11] smartmadio commented on #436
[code]

[2016-01-13 12:17] smartmadio commented on #436
Seems like authme didn't try SHA256 when I changed passwordHash to SALTED2MD5.

[2016-01-13 12:30] Slaand commented on #137
[xenforo-cp.zip](https://github.com/Xephi/AuthMeReloaded/files/88827/xenforo-cp.zip)

[2016-01-13 14:50] sNuuFix commented on #436
sha256 is newer and much better hashing algorithm than md5. For more than 5 years md5, with or without salt is considered broken and unsecure because of popularity of big rainbow tables and hash collision occasions because of small length (so salts don't add much security to them, except for common password rainbow table attack). The problem with md5 is that on modern hardware you can generate bil

[2016-01-13 15:45] KokeCacao opened #437 "[BUG] Player can change their email with out permission: 'authme.email.change'"
They can use /email add [email] to change their email.

For example:
/email add email@a.com
/email add email@b.com
The player will change email from email@a.com to email@b.com with out permission 'authme.email.change'!

if
/email add email@a.com
/email add email@a.com
The plugin will return: 'You have exceeded the maximum number of registration for your connection!'

The plugin did not check if th

[2016-01-13 16:11] MithrandirCraft commented on #433
No. But I am using AutoSaveWorld's automatic restart method.

[2016-01-13 16:15] MithrandirCraft opened #438 "Inventory wipes are back"
It seems that this horrible bug is somehow reemerging on my server. I wouldn't dare confirm this is 100% Authme's fault, as the inventory protection system has been improved, but sometimes during restarts/logouts, there are occasional inventory losses.
But I do recall this issue being caused by Authme some time before during logouts/restarts.

I've already got a few reports in on this :/

If I can

[2016-01-13 16:22] games647 commented on #438
Do you have ProtocolLib installed?

[2016-01-13 16:22] MithrandirCraft commented on #438
@games647 Yes.

[2016-01-13 16:34] sNuuFix commented on #435
This is very serious issue to our development team, that has stopped everything for 2 days now. We are willing to help in any way we can, even donate to resolve this.

[2016-01-13 16:43] games647 commented on #435
Which build do you use?

[2016-01-13 16:44] sNuuFix commented on #435
I compiled latest snapshot from github at master branch.

[2016-01-13 16:45] games647 commented on #435
From the AuthMe-Team repo?

[2016-01-13 16:46] sNuuFix commented on #435
No, this one, git@github.com:Xephi/AuthMeReloaded.git
Is that version better or more stable in any way?

[2016-01-13 16:47] games647 commented on #435
That's a very good question. Personally I don't know, but there are the newest changes.

[2016-01-13 16:49] games647 commented on #435
So I tried the build from there and added the permission "authme.player.register" and it worked for me.

[2016-01-13 16:49] sNuuFix commented on #435
Thank you for suggestion, testing this right now.

[2016-01-13 18:00] sNuuFix commented on #435
It's the same bug, even introduces new ones. The players who are not logged in or registered get kicked for flying by anticheat.

[2016-01-13 18:37] games647 commented on #435
Do you also tried to install both Vault and PermissionsEx? I tried it under these conditions and it worked without problems.

[2016-01-13 18:39] sNuuFix commented on #435
Ofcourse. Latest stable versions and snapshots. Also, the issue seems not to be connected with ops list, because PermissionEx admin group also have no problems connecting. Everybody else is forced to register but have no permission, even with already registered accounts.

[2016-01-13 19:00] Tahrll commented on #434
Again a more detailed explanation, namely the plugin connects to the DB is also recognized but who I am ingame einlogge it says wrong password.
If I then change the password ingame, the PW also changes in the database but even that he does not recognize and forum I'm no longer even.

[2016-01-13 20:35] ArcasCZ commented on #399
When it will be fixed?

[2016-01-13 20:35] netbiosxx opened #439 "Authme bad permissions managing"
Hi! On my server,when a player join,sometimes it remain on non-logged group.
So i replaced the non logged-group with the user group.
But now the staffers remain users,and i have to reset them every time.
Now the prefix is bugged,and the default one on the group don't work,it remains user,so i need to set that.
I use PermissionsEX ,essentials and authme,and i have spigot 1.8.8

[2016-01-13 21:09] ljacqu commented on #437
Pushed some changes on a separate branch. I still need to test it. I think I will only have time next weekend. :(

[2016-01-13 23:32] sgdc3 commented on #399
@ArcasCZ what's your buildnumber?

[2016-01-13 23:38] sgdc3 commented on #353
@Xephi bump

[2016-01-13 23:38] sgdc3 commented on #248
@kingpyro bump

[2016-01-13 23:43] sgdc3 commented on #150
@DanielRamosAcosta @Xephi BUMP

[2016-01-13 23:45] sgdc3 commented on #172
@Trojaner25 any news? Can you write the interface of the methods you need?

[2016-01-13 23:52] #311 closed

[2016-01-14 00:00] #334 closed

[2016-01-14 00:35] smartmadio commented on #436
Yes, I now it.But I really need it ,because Discuz! uses SALTED2MD5 to store the password,if I want to sync password with Discuz! I have to use SALTED2MD5.

[2016-01-14 00:36] smartmadio commented on #436
And if I wan't to transform from SALTED2MD5 to SHA256,it still won't work,too.

[2016-01-14 00:49] smartmadio opened #440 "BUG about issue #436"
I know SHA256 is better.But I really need it ,because Discuz uses SALTED2MD5 to store the password,if I want to sync password with Discuz I have to use SALTED2MD5,perhaps I'll have to delete the passwords and ask players to register again.

And during the test abuout issue #436  I found another bug: if I want to transform passwordhash from SALTED2MD5 to SHA256,it still won't work,too.

[code]

[2016-01-14 01:23] KokeCacao commented on #437
You can also check that if the email is added by other users.
It is optional.

[2016-01-14 03:06] Platinteufel opened #441 "Case sensitive usernames"
Hello,

I got a question: Is it possible to deny "nAmE" to join if there's a registered user called "Name"? He shouldn't be able to connect and should get a message like this:

![case sen](https://cloud.githubusercontent.com/assets/13700636/12314788/2e951840-ba74-11e5-94f1-d89bce4f0b3e.png)

atm AuthMe only denies "nAmE" to join if "Name" is currently online, but it doesn't check if "Name" is alre

[2016-01-14 06:41] ArcasCZ commented on #399
IDK now. I just want to know if there is reason to update :D

[2016-01-14 06:49] sgdc3 commented on #441
Enable preventOtherCases in the config.

[2016-01-14 06:49] #441 closed

[2016-01-14 06:51] sgdc3 commented on #437
What do you mean?

[2016-01-14 06:59] ljacqu commented on #440
You can't _transform_ a hash to another hash. With the settings enabled, we will check the stored hash in the db against all our supported hash algo's. Only if a player logs in, we can hash the pw with the new hash algo and store it in the db.
I.e. if you leave supportOldPassword = true for one week in yout config, all players that log in during this week will have updated hashes.

I'll assign thi

[2016-01-14 07:03] ljacqu commented on #441
@Platinteufel We'll probably do a round of translatable messages sometime soon. Could we contact you for German translations at that point? :)

[2016-01-14 07:05] ljacqu commented on #437
@KokeCacao Thanks for the review. I will also add a check for uniqueness

[2016-01-14 08:50] smartmadio commented on #440
Yes,I know your meaning, a hash couldn'd be transformed into another and I know it's when player logs in ,it will try all hash algo.

As sha256 to saltedmd5 ,I've solved the problem using my way.

Thanks for fixing it.

[2016-01-14 08:57] smartmadio opened #442 "The setting maxRegPerEmail won't work."
My fault,it's translation error.

[2016-01-14 09:04] smartmadio opened #443 "Wrong message when player logs in successfully."
I used this setting a long time ago.
[code]
Today I changed the setting to
[code]
And when a player who havn't added an email to his account logs in successfully,it always displays: `Email address successfully added to your account!` rather than  `Please add your email to your account with the command "/email add <yourEmail> <confirmEmail>"`

[2016-01-14 10:01] Platinteufel commented on #441
Thank you for the fast support. :)

Sure @ljacqu ;)

[2016-01-14 13:03] DanielRamosAcosta commented on #150
Hi, I'm so sorry for the late answer. I joined the university classes and I've been very bussy lately. I finish exams in february, then I'll come back to this.

Greetings!

[2016-01-14 16:16] ljacqu commented on #442
Is one of our translation files wrong?

[2016-01-14 17:47] Platinteufel opened #444 "DeathBot v 3.2"
Hello,

a user crashed my server with DeathBot v 3.2, where thousands of user joined within seconds. AuthMe-AntiBot seems to work fine for me, but here it failed.
https://youtu.be/5cFJ8pMOae0
It would be nice if anyone could take a look on it for future releases. I'm running a 5.1-snapshot, but I don't think that this is very important. Is it recommended to install another AntiBot plugin? How stro

[2016-01-14 20:04] sNuuFix commented on #436
How many active users do you have? One possible workaround would be to convert their passwords when they login to website. I can give you example php code for that.

[2016-01-14 20:10] sgdc3 commented on #399
...

[2016-01-14 20:50] sNuuFix commented on #444
You can limit registrations to only one per IP and configure fail2ban service to parse mc logs and automatically deny IP access at firewall level for those that connect too many times from same IP inhumanly fast.

[2016-01-14 20:59] ljacqu commented on #440
Thanks for the report!
With the changes in the referenced commit I can now successfully "convert" from SHA256 to Salted2Md5. Please close this issue if there's nothing left to solve for this issue, or let me know what is missing. :)

[2016-01-14 21:43] sNuuFix commented on #435
This bug misteriously dissapeared after again testing with specific register permission on unregistered and default group with latest snapshot. I don't know if it's worth closing, let me test this a few days.

[2016-01-14 23:23] sgdc3 commented on #435
@sNuuFix which programming languages do you know? ;)

[2016-01-14 23:25] sgdc3 commented on #435
Off topic, i know, but i was curious xD

[2016-01-14 23:29] sgdc3 commented on #444
DeathaBot uses proxies, ip filtering is useless. Anyway, i've tried it on my server and with latest authme versions i'm unable to bypass the antibot feature.

[2016-01-14 23:30] sgdc3 commented on #150
Ok, good luck! ;)

[2016-01-15 00:40] sNuuFix commented on #435
@sgdc3 no problem. I'm professional web developer with 7 years of expirience in the field, mainly as a backend developer. I've been involved in various interesting projects, for example accounting managment systems, post office logistics system, various CMS'es and frameworks. I've managed teams of developers, also have tried to create two businesses on my own, but not successfully. At this point I

[2016-01-15 00:41] DanielRamosAcosta commented on #150
Thanks! :D

[2016-01-15 00:52] sNuuFix commented on #444
How many proxies could it possibly have? They are not anonymous proxies for sure, because those, if hosted for free, are limited and usually works very slow, if at all. So they must be public transparent proxies that could be blocked with a few firewall rules. And I guess nobody wants players from transparent proxies anyway.

[2016-01-15 03:33] smartmadio commented on #436
I have about 100-200 players online per day and 55630 registered players,so maybe it will be a big work.I'm now trying to change the code of Discuz from `$password = md5(md5($password).$salt);` to `$password = hash("sha256", $password);`,but seems there're something wrong.

Now I'm providing players with two lobby servers to fix this problem.

[2016-01-15 03:38] smartmadio commented on #443
Something wrong with my words ,I've corrected it.

[2016-01-15 03:50] smartmadio commented on #442
Yes,the translation of 'max_reg' in messages_zhcn.yml,messages_zhhk.yml,messages_zhtw.yml is not exactly enough.

The translation's meaning is 'You have exceeded the maximum number of registrations for your IP!'

But When the player reaches the limit of maxRegPerEmail ,it also display this message.

Emm...maybe the English version is also not suitable.

Maybe adding a 'max_reg_email' could be bett

[2016-01-15 08:40] smartmadio commented on #436
No,maybe I'm wrong,Discuz's original algo is
[code]
Shold I change it to
[code]
(I'm noob on php)

[2016-01-15 09:35] ljacqu commented on #436
$password = '$SHA$' . $salt . '$' . sha256(sha256($password) . $salt);

Please try that ^

[2016-01-15 20:50] Platinteufel commented on #444
Okay, I've added an IP-Filter as this bot uses proxies. Thank you!

[2016-01-15 20:50] #444 closed

[2016-01-16 01:28] smartmadio commented on #442
Maybe it's not just a translation error.Seems maxRegPerEmail really can't work correctly,today I tested again on it,the players coult register unlimited amount of accounts using the same e-mail while 'maxRegPerEmail' is setted to '1'.

[2016-01-16 01:29] smartmadio commented on #436
Testing on it:)

[2016-01-16 03:02] smartmadio commented on #436
Seems php doesn't support algo like
[code]
I'll have a try on
[code]

[2016-01-16 03:31] smartmadio commented on #436
[code]

[2016-01-16 05:25] Platinteufel commented on #438
Do you have any more information about inventory problems with AuthMe? I want to update my server to the latest 5.2-devbuild tomorrow, so I need to know if it's safe to update or if I'll messing up my players inventories.

[2016-01-16 06:01] ljacqu commented on #436
You're right—the salt length used for SHA256 is 16

[2016-01-16 13:28] Tahrll commented on #434
When can I expect an editor of my problem but I expect as my server to make it wants can not be happy

[2016-01-16 15:52] agronaque512 opened #445 "Ignore IP from OP ?"
Is this possible to configure AuthMe to make him ignore all admins account IP ? Like they need to use /login too but they don't have IP join/login/reg restriction ?

[2016-01-16 16:05] ljacqu commented on #445
Sounds like you want to allow certain people multiple accounts, which we have a permission for :) Please see
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md

[2016-01-16 21:04] eero619 opened #446 "Im not sure if its an issue but look it over"
DataSource:
  backend: sqlite
  caching: true
  mySQLHost: 127.0.0.1
  mySQLPort: '3306'
  mySQLUsername: authme
  mySQLPassword: '12345'
  mySQLDatabase: authme
  mySQLTablename: authme
  mySQLColumnId: id
  mySQLColumnName: username
  mySQLColumnPassword: password
  mySQLColumnEmail: email
  mySQLColumnLogged: isLogged
  mySQLColumnIp: ip
  mySQLColumnLastLogin: lastlogin
  mySQLlastlocX: x
  my

[2016-01-16 23:58] sgdc3 commented on #446
sure you can! ;)
maxJoinPerIp: 4

[2016-01-17 01:41] kingpyro commented on #248
@sgdc3  Nothing, I every dev build you send out and I respond on is newest spigot and most recent dev of authme.

[2016-01-17 03:22] yzz17 opened #447 "the player loses the inventory when not logged this caused by auto-kick"
the time out cose this
1 login
2 take items
3 log out
4 enter the server
5 wait for auto kick
6 enter the server
7 login
8 the items "pufff" ={

[2016-01-17 08:11] DNx5 commented on #447
what is your `/authme version` ?

[2016-01-17 09:13] sgdc3 commented on #447
What's your inventory management plugin (Es: mv-inv, multiinv, perworldinventory... )

[2016-01-17 09:18] sgdc3 commented on #248
@DNx5 Can you check this out please? ;)

[2016-01-17 12:10] ljacqu commented on #347
I think it's been proven that this issue contains way too much content. Referencing this issue number, I've implemented a new settings management class based on Xephi's. Currently, it co-exists with the old settings class.
I will create follow-up issues for all other pending things so we can keep track of the goals on a more granular level. I will close & rename this issue.

[2016-01-17 12:13] ljacqu opened #448 "Configuration: restructure settings"
- Restructure the settings so that the settings are grouped together more clearly and coherently.
- Write a migration so that a player's old config can be "converted" to the new one
- Add an entry to the breaking changes page

[2016-01-17 12:14] ljacqu opened #449 "[Dev] Configuration: Change to new class and delete old "Settings""
- Replace all usages of `Settings` with the `NewSetting` class
- Delete the `Settings` class
- Rename the `NewSetting` class to something more sensible

Plugin should act exactly like before.

[2016-01-17 12:16] ljacqu opened #450 "[Dev] Configuration: Port rewrite checks to NewSetting class"
We are temporarily using `Settings` and `NewSetting`. The goal is to eventually use only `NewSetting`.

- [x] **Before** this can be done, we need to be able to write proper YAML in NewSetting. This should be done as much as possible by the methods SnakeYAML offers. Integration test should still work and could be enhanced a little more (e.g. have a value with a backslash, have a value with an apos

[2016-01-17 12:23] ljacqu commented on #347
#448 Restructure settings
#449 Change to new settings and delete the old one
#450 Port rewrite checks ("migrations") to the new settings class

[2016-01-17 12:23] #347 closed

[2016-01-17 14:05] MithrandirCraft commented on #438
@Platinteufel I would say it's rather rare for players to get inventory wipes.

The problem is, not everyone reports this on my server. I only got 2 reports untill now.

It may not even be Authme's fault. It's definetly a rare bug.

[2016-01-17 15:02] Platinteufel commented on #447
I'm running the latest snapshot + MultiInv b70 since two days and can't confirm this bug.

[2016-01-17 15:02] Platinteufel commented on #438
I'm running the latest snapshot + MultiInv b70 since two days and can't confirm any inventory wipes yet.

[2016-01-17 17:58] Dimatert9 opened #451 "sendPlayerTo: '' not work"
When i start server authme change Server name to ''
I have   sendPlayerTo: Games
And after server start:   sendPlayerTo: ''

[19:58:30 INFO]: ==========[ AuthMeReloaded ABOUT ]==========
[19:58:30 INFO]: Version: AuthMeReloaded v5.2-SNAPSHOT (build: 685)

[2016-01-17 19:17] yzz17 commented on #447
mv-inv , beta-3

[2016-01-17 23:10] sgdc3 commented on #447
Can you try with perworldinventory?

[2016-01-17 23:15] sgdc3 commented on #438
@MithrandirCraft Can you check this? #447

[2016-01-18 03:17] KokeCacao commented on #437
A weekend has passed... Have you release the new build?

[2016-01-18 05:28] DNx5 commented on #437
development build
http://ci.xephi.fr/job/AuthMeReloaded

[2016-01-18 05:37] KokeCacao commented on #437
#686

[13:33:18] [Server thread/INFO]: [AuthMe] Enabling AuthMe v5.2-SNAPSHOT-b686
[13:33:18] [Server thread/INFO]: [AuthMe] Loading Configuration File...
[13:33:18] [Server thread/WARN]: [AuthMe] Remove Email.mailText from config, we now use the email.html file
[13:33:18] [Server thread/WARN]: [AuthMe] Merged new Config Options - I'm not an error, please don't report me
[13:33:18] [Server thread/

[2016-01-18 06:18] ljacqu commented on #437
Unrelated. My changes aren't in the development build yet. I landed in the hospital on Friday and had surgery on Saturday, so my weekend plans were postponed :P

[2016-01-18 07:11] Dimatert9 commented on #451
Its fixed. Thanks

[2016-01-18 07:11] #451 closed

[2016-01-18 07:54] ljacqu commented on #428
Yes, please, if you could post your config.yml (especially the `DataSource` and `ExternalBoardOptions` sections; as well as `security.passwordHash`). Thanks for updating your initial post; that clears up some confusion. :)

[2016-01-18 07:55] ljacqu commented on #337
Blocked by #415

[2016-01-18 09:45] KokeCacao commented on #437
Well, I wish you a good health. XD

[2016-01-18 12:18] yajiedesign commented on #447
I am this bug too

AuthMe-5.0-beta3.jar
AutoSaveWorld.jar
DeathMessages-1.7.10.jar
Essentials.jar
EssentialsAntiBuild.jar
EssentialsChat.jar
EssentialsGroupManager.jar
EssentialsProtect.jar
EssentialsSpawn.jar
KillerMoney.jar
NeverLag1.3.0.jar
ProtocolLib.jar
pTweaks.jar
Residence.jar
Vault-1.4.1.jar
worldedit-bukkit-6.1.jar

[2016-01-18 12:33] games647 commented on #437
@KokeCacao Which minecraft version do you use?

[2016-01-18 12:34] games647 commented on #439
Do you have Vault installed?

[2016-01-18 12:43] games647 commented on #447
@sgdc3 It's the old version from BukkitDev

@yajiedesign @yzz17 Please try to update to a dev build

[2016-01-18 12:45] #447 closed

[2016-01-18 13:21] #391 closed

[2016-01-18 13:52] games647 commented on #433
I found the source of this issue. If the server shutdowns, it first disable the plugins and then cancel all running tasks by this plugin.
https://github.com/bergerkiller/CraftSource/blob/master/org.bukkit/plugin/SimplePluginManager.java#L420

Maybe we should just ignore the remaining saving attempts, because we already handle it in the savePlayer method. I would just add two missing methods:
```da

[2016-01-18 13:54] smartmadio commented on #436
Done, thank you very much.

[2016-01-18 13:54] #436 closed

[2016-01-18 13:56] smartmadio commented on #440
Thank you.

[2016-01-18 13:56] #440 closed

[2016-01-18 13:59] ljacqu commented on #440
Thanks for the feedback!

[2016-01-18 17:14] DNx5 commented on #433
this is caused by thread pool in cached datasource is no longer accept a new task.

[2016-01-18 17:15] games647 commented on #433
And this happens because of the reason I posted. The plugin is disabled and so the executor is closed before the async tasks finishes.

[2016-01-18 17:17] games647 commented on #438
@sgdc3 This is the new SNAPSHOT version. It shouldn't be related to #477.

[2016-01-18 17:20] DNx5 commented on #433
AuthMe should initialize a new thread pool, and not use the closed one. idk how that's can happen.

[2016-01-18 17:21] games647 commented on #433
Why? The plugin should just wait until all tasks are finished.

[2016-01-18 17:24] DNx5 commented on #433
we already do that
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/datasource/CacheDataSource.java#L173
but wait, we dont do that on reload method. :laughing:

[2016-01-18 17:25] DNx5 commented on #433
oh well, that method was unused. so I still dont understand.

[2016-01-18 17:26] games647 commented on #437
The guava library version changed from 1.7 to 1.8. We might should build something like [this](https://github.com/dmulloy2/ProtocolLib/blob/master/ProtocolLib/src/main/java/com/comphenix/protocol/utility/SafeCacheBuilder.java)

[2016-01-18 17:27] DNx5 commented on #447
someone should remove 5.0 from BukkitDev. It has critical bug.

[2016-01-18 17:28] games647 commented on #433
Yes this waits until all pending SQL actions finishes, but the pending **Bukkit tasks** hasn't scheduled the remaining save attempts, which causes the rejected exception.

[2016-01-18 17:41] Platinteufel commented on #438
#447 is an issue with an old AuthMe version. Anyways, I'm still not able to reproduce any inventory wipes in the latest 5.2-snapshots. I would say it isn't AuthMes fault.

[2016-01-18 17:43] DNx5 commented on #437
:worried:

[2016-01-18 19:45] Platinteufel opened #452 "[Enhancement] Login in the air"
Hey,
I just noticed that if you logout in the air or in water and relog with AuthMe installed, you're bugging in the air, can't login (because you can't open the chat) and sometimes get kicked for "flying is not enabled".
I don't know if there's an easy fix for it, but maybe it's possible to create a virtual block below the player or enable fly-mode till the player is logged in. :)

[2016-01-18 20:01] andris155 opened #453 "AuthMe bot crash."
19:26:59] [Server thread/INFO]: com.mojang.authlib.GameProfile@223e975[id=c6e62295-b468-300e-805f-7528ee91c39c,name=XoxOR2JJiNouo3H,properties={},legacy=false] (/5.62.154.23:64389) lost connection: A szervert támadják, gyere vissza 5 perc múlva!
[19:26:59] [Server thread/INFO]: Disconnecting com.mojang.authlib.GameProfile@7ea27fc3[id=3891cd1c-5f9c-3110-8f44-1957a041cf97,name=tNChVjokX1dVAq1,proper

[2016-01-18 20:16] ljacqu opened #454 "[Dev] Protect AuthMe master branch"
@games647 recently suggested that we protect the _master_ branch of our dev repository at AuthMe-Team/AuthMeReloaded.

This can be done under Settings > Branches: Protected branches. This helps us prevent accidental force pushes in the future.

I think only @sgdc3 can set this, or @Xephi

https://help.github.com/enterprise/11.10.340/admin/articles/blocking-force-pushes-to-a-repository/

[2016-01-18 20:33] sgdc3 commented on #454
Sometimes we use the force feature to reset huge errors in the commit log

[2016-01-18 20:34] sgdc3 commented on #454
we have tons of backup anyway.

[2016-01-18 20:34] sgdc3 commented on #454
just think about all the forks

[2016-01-18 20:35] #454 closed

[2016-01-18 20:36] games647 commented on #454
Then you could do revert commit, don't you think so?

But most of them are not up to date.

[2016-01-18 20:36] sgdc3 commented on #453
how we can help you? Are you using our antibot feature?

[2016-01-18 20:37] sgdc3 commented on #452
@Platinteufel what's your plugin version?

[2016-01-18 20:39] sgdc3 commented on #450
Why we can't just rename NewSettings to Settings?

[2016-01-18 20:40] Platinteufel commented on #452
build 683

[2016-01-18 20:41] andris155 commented on #453
Use Nocheatplus logins
    logins:
      active: true
      startupdelay: 600
      perworldcount: false
      seconds: 10
      limit: 4
      kickmessage: Túl sok ember lépett be. Próbálkozz újra!
and use AntibotUltra plugin.
Authme anti bot how to work?

[2016-01-18 20:42] sgdc3 commented on #448
pushed a WIP of the new config

[2016-01-18 20:42] sgdc3 commented on #452
Ok, we'll fix asap. ;)

[2016-01-18 20:45] sgdc3 commented on #453
1) We can't support you about other plugins.
2) Use this in your authme config:
Protection:acklist:
    # Do we need to enable automatic antibot system?
    enableAntiBot: true
    # Max number of player allowed to login in 5 secs before enable AntiBot system automatically
    antiBotSensibility: 5
    # Duration in minutes of the antibot automatic system
    antiBotDuration: 10

[2016-01-18 20:47] sgdc3 commented on #454
Nope, mine is updated

[2016-01-18 20:48] sgdc3 commented on #454
Anyway if you want we can enable the protection and disable it only when required

[2016-01-18 20:49] andris155 commented on #453
Antibot turn on - block all player join?

[2016-01-18 20:50] sgdc3 commented on #454
done

[2016-01-18 20:51] sgdc3 commented on #453
blocks unregistered users to join the server if there are more than 5 joins per second

[2016-01-18 20:52] games647 commented on #454
Thank you

[2016-01-18 20:53] andris155 commented on #453
Thanks for helping. :)

[2016-01-18 20:53] #453 closed

[2016-01-18 20:55] sgdc3 commented on #453
Please feedback ;)

[2016-01-18 20:55] sgdc3 commented on #454
You're welcome ;)

[2016-01-18 20:57] sgdc3 commented on #437
Should we include guava as shaded maven library?

[2016-01-18 20:59] sgdc3 commented on #447
@Xephi

[2016-01-18 21:00] sgdc3 commented on #439
@netbiosxx

[2016-01-18 21:04] sgdc3 commented on #248
@games647 do you have any ideas about the cause of this? :/

[2016-01-18 21:09] games647 commented on #248
Looks like the settings are not loaded correctly.

[2016-01-18 21:16] andris155 commented on #453
Bots using /register, and /login command. :(

[2016-01-18 21:16] sgdc3 commented on #248
@kingpyro

[2016-01-18 21:17] sgdc3 commented on #453
Unregistered users can't join if there are too many joins per second...

[2016-01-18 21:18] andris155 commented on #453
ok

[2016-01-18 21:33] andris155 commented on #453
Authme antibot not work, not switched on. Joined 5 bot 5 s.

[2016-01-18 21:34] sgdc3 commented on #453
Yeah i know why, the enable protection setting must be enabled, but you need also to add your countrycode to the country whitelist

[2016-01-18 21:42] andris155 commented on #453
How to enable all countrys?

[2016-01-18 22:24] sgdc3 commented on #453
we need to split the country filtering from the antibot

[2016-01-18 22:24] sgdc3 commented on #453
@games647 @DNx5

[2016-01-18 22:30] ljacqu commented on #450
We can once Settings is deleted. I don't think it would make sense to gradually change the code in Settings.

[2016-01-18 22:32] ljacqu commented on #454
Thanks, yeah, force push is never a good idea

[2016-01-18 22:34] ljacqu commented on #437
Personally I would prefer that if it's possible than using reflection. The smiley DNx5 posted says it all :P...

[2016-01-18 22:42] ljacqu commented on #448
One wish I would personally have would be to move the mysqlColumnSalt option to the data source section, also the group column. I understand that those are optional but I find it confusing that different column configs are 50 lines apart

[2016-01-18 23:29] sgdc3 commented on #448
Yeah, i haven't reach the end of the file, in the meantime do what do you want with it. ;)

[2016-01-18 23:30] sgdc3 commented on #437
ok, sgdc3 gets in action... tomorrow xD

[2016-01-18 23:53] NickFirenzo opened #455 "How to disable /server command before login or register?"
Hi,
I need help about disable /server command before players logging in. Authme isn't block it :(

[2016-01-19 02:24] Dooleylabs opened #456 "[Question] How do I disable the /login command"
I want to use AuthMeReloaded as a forum sign-up tool, rather than a game login tool. I want to disable /login and allow players to play as they would if the plugin were not installed. Is this possible? I though I did it before, but after I reinstalled the plugin, I couldn't disable the feature. Is there a way I can do this?

All help is greatly appreciated.
Thanks.

[2016-01-19 04:37] Platinteufel commented on #456
Hm, there's a point in config that let you disable registrations:

    registration:
        # enable registration on the server?
        enabled: true

But I'm not sure if this will solve your issue.

[2016-01-19 04:42] DoomGary opened #457 "[BUG] Flat To MySql"
Is there any way to change them? Already did with the /converter and gave me this file: http://pastebin.com/1nHzuVCs Already tried to import them, nothing happen

[2016-01-19 06:27] prozhong commented on #455
Do you use bungeecord(BC)?
/server is one BC command

/server [server]
Permission Node: bungeecord.command.server

[2016-01-19 06:45] sgdc3 commented on #455
This should be done by authmebungee. The issue is that we first need to fix it. xD

[2016-01-19 06:46] sgdc3 commented on #457
Yeah this sql file is empty.

[2016-01-19 06:48] sgdc3 commented on #456
yeah you're right ;)

[2016-01-19 07:04] Mabus13 opened #458 "Error with encoding. Not work russian names players."
MySQL UTF-8
ubuntu locale utf-8
All russian chars in DB visible only as ? like вадим = ?????

[2016-01-19 07:10] Mabus13 commented on #458
allowedNicknameCharacters: '[а-яА-Яa-zA-Z0-9_]*'

[2016-01-19 07:38] ljacqu commented on #458
Personally, I wouldn't recommend using non-ASCII characters for usernames or passwords. Even if we can fix this issue here it's highly probable you'll encounter another issue at some other point, or that some data will be lost later on (say, if you or your host migrate some component).

[2016-01-19 08:26] Mabus13 commented on #458
I full translate my server in russian. For stupid russian schoolers.  They need russian chars in they names. =))) Lost data not mean for me.
p.s. password use only eng.

[2016-01-19 08:31] Mabus13 commented on #458
I lost maximum 20 accounts data. All other account english names. Because ???, ????, ?????... names block to reg all russian names same length.

I thiink it realy need to fix, because it error encoding same for other not eng languages.

[2016-01-19 08:59] Dimatert9 commented on #458
Обидно ведь (

[2016-01-19 09:56] Mabus13 commented on #458
Seek in source code functions what convert encoding for name. 99% here mistake arguments and after "converting" chars lost they data and replaced ????

[2016-01-19 10:23] games647 commented on #458
Does utf-8 include Russian characters. Maybe the connection to the database is not encoded correctly

[2016-01-19 12:13] NickFirenzo commented on #455
I'm using plugin for /server, not bungeecord permission
@sgdc3 AuthMeBridge install on bungeecord ?

[2016-01-19 12:40] games647 commented on #455
@NickFirenzo Yes you need to install it on the BungeeCord instance.

[2016-01-19 13:32] games647 commented on #458
Could you test it? I tried to explicitly set utf-8 encoding. Maybe this will fix it.

[2016-01-19 14:41] NickFirenzo commented on #455
fixed

[2016-01-19 14:41] #455 closed

[2016-01-19 16:06] Dooleylabs commented on #456
I only want to get rid of /login. I want to use /register to sign up on our forum so we don't get spam bots and users that aren't part of the game.

[2016-01-19 16:22] Mabus13 commented on #458
I havent API for compile it, please can you compile it for me and it test fix it or not. chervanenko@gmail.com

[2016-01-19 16:22] DNx5 commented on #458
@Mabus13
http://ci.xephi.fr/job/AuthMeReloaded/696/

[2016-01-19 16:41] Mabus13 commented on #458
@DNx5 Thank you! But 1,7mb why so fat >_< Testing.....

[2016-01-19 17:03] Mabus13 commented on #458
Not work T_T i try configure to work with my database. But geeat always same result:

[19:58:26] [Server thread/INFO]: [AuthMe] Enabling AuthMe v5.2-SNAPSHOT-b696
[19:58:26] [Server thread/INFO]: [AuthMe] Loading Configuration File...
[19:58:26] [Server thread/INFO]: [AuthMe] Set Language to: en
[19:58:26] [Server thread/WARN]: [AuthMe] Can't load the configuration file... Something went wrong. To

[2016-01-19 17:05] Mabus13 commented on #458
I try delete old config, and create "new". But after edit mysql setings i have result above.

[2016-01-19 17:20] games647 commented on #458
@Mabus13 Could add this to your configuration and restart the server so we can see the error message:

[code]

[2016-01-19 21:55] netbiosxx commented on #439
yes si

[2016-01-19 22:04] netbiosxx commented on #439
I have vault installed,i followed the adviceof sgdc3,putting a fake group unLogged InGroup, result?
They join on that fake group,written by authme on permissionsEX.
It would be better that the unLoggedInGroup Group was already integrated on AuthMe,with a pre-login permissions management system,and then jumps to permissionsEX after login,So he only read on permissionsEX,preventing bugs.

[2016-01-19 22:36] sgdc3 commented on #439
Ok i've found the issue. @ljacqu we need to check if the target group exist before changing the player one. ;)

[2016-01-19 23:30] Mabus13 commented on #458
Its magic! I do all same, use old config, just add 1 string logConsole true. that all! And now it load correct:

[02:27:05] [Server thread/INFO]: [AuthMe] Enabling AuthMe v5.2-SNAPSHOT-b696
[02:27:05] [Server thread/INFO]: [AuthMe] Loading Configuration File...
[02:27:05] [Server thread/WARN]: [AuthMe] Remove Email.mailText from config, we now use the email.html file
[02:27:05] [Server thread/WARN

[2016-01-19 23:53] Mabus13 commented on #458
But now when my oped char with permission.* try login use comand /L pass i see message You dont have the permissions. >_<

[2016-01-20 00:19] Mabus13 commented on #458
And after few trys enter i see that when stop server:
[03:17:36] [Server thread/INFO]: [AuthMe] Disabling AuthMe v5.2-SNAPSHOT-b696
[03:17:36] [Server thread/WARN]: [AuthMe] Can't perform a Backup: disabled in configuration. Cause of the Backup: STOP
[03:17:36] [Server thread/INFO]: [AuthMe] Waiting for 7 tasks to finish
[03:17:41] [Server thread/INFO]: [AuthMe] Async task 22 528 times out after t

[2016-01-20 00:29] Mabus13 commented on #458
And now i dont know why but after all, try go all back 5.0 version. Login all ok. But now not work WASD movement >_< just not work. But when jumping it work.

[2016-01-20 00:42] Mabus13 commented on #458
Cant move my opped char what i try login few times, other chars can move.... Ehhh
Strange magic T_T

[2016-01-20 03:32] Mabus13 commented on #458
And I noticed that when I try to move from under the feet of the pieces fly block on which I stand as if I slip .

[2016-01-20 07:46] games647 commented on #458
Might be related to #435

We change the movement speed. Maybe you still have the old speed.

[2016-01-20 11:10] Mabus13 commented on #458
Ok /speed 1 coomand resolve problem with no movement.
But i still not understand how fix problem with OPERATOR with permission * cant login?

[2016-01-20 14:28] Mabus13 commented on #435
Plugins (30): AsyncWorldEditInjector, craftinomicon, WorldEdit, Essentials, PacketListenerApi, ClearLag, AnimatedFrames, ReversCraft, ConsolesCore, ProtocolLib, NoCheatPlus, GravityGun, SkinsRestorer, AsyncWorldEdit, MyCraft, EssentialsChat, PermissionsEx, RandomTPItem, SkullTurret, GTADeath, Vault, GriefPrevention, EssentialsSpawn, TitleManager, AuthMe, ConsolesComputers, ResourcePackDownloader,

[2016-01-20 15:45] Done84 commented on #421
+ An API would be very nice

[2016-01-20 15:51] Done84 opened #459 "Run a custom command when more than x alts are detected."
Hello. It would be nice if besides being able to see accounts registered in the same ip we could also run a custom command when this happens.
Basically and option like:

If player/IP has more than X accounts run this command
- /command %playername something

The X amount could also be configurable. Its very easy for players to override the max allowed registrations by using a VPN or a friends pc o

[2016-01-20 15:52] Done84 commented on #459
Upps forgot tot tittle my enhancement. - Run a custom command when more than x alts are detected.

[2016-01-20 16:02] sgdc3 commented on #421
@Done84 The API already exist...

[2016-01-20 18:33] GeARCraft1 commented on #421
I don`t now if a JavaDoc is already available, but it would be a nice idea.

[2016-01-20 18:55] games647 commented on #421
Yes there is a online JavaDoc available. http://www.xephi.fr/AuthMeReloaded/fr/xephi/authme/api/NewAPI.html

But it looks like this version is very old.

[2016-01-21 00:06] sgdc3 commented on #421
new javadocs are hosted on our jenkins

[2016-01-21 00:06] sgdc3 commented on #421
the issue is that i don't remember the link

[2016-01-21 00:22] sgdc3 commented on #421
Ok, found it: http://ci.xephi.fr/job/AuthMeReloaded/javadoc

[2016-01-21 00:30] sgdc3 opened #460 "Maven enhancements (just a reminder)"
<githubroot>- Add the javadoc jar file to the mvn repo.
- Remove timestamp plugin (unused).</githubroot>

[2016-01-21 03:03] kingpyro commented on #248
Works!

*successfull cheer and super happy smile on face*

Hahaha, thank you very much guys for your hard work and dedication! :)

[2016-01-21 06:47] sgdc3 commented on #248
You're welcome. ;)

[2016-01-21 06:48] #248 closed

[2016-01-21 10:11] sgdc3 commented on #248
Whoops sorry  @DNx5  ;)

[2016-01-21 15:24] #460 closed

[2016-01-21 15:29] Nightick opened #461 "Authme similar nicks bug"
Hi all! I face a problem. If, for example player "Player" is on the server and he is logged in if the second user try to log in with nick "plAyEr", the first user would be unlogged, and the second one is allowed to join the server

[2016-01-21 15:29] games647 commented on #461
Which version do you use?

[2016-01-21 15:30] Nightick commented on #461
The latest Authme version. And 1.8.8-R0.1-SNAPSHOT spigot version.

[2016-01-21 15:33] games647 commented on #461
From BukkitDev or Jenkins?

[2016-01-21 15:34] Nightick commented on #461
The second one

[2016-01-21 15:38] Nightick commented on #461
Plugin version. whops. From Bukkit

[2016-01-21 15:42] sgdc3 commented on #461
@Nightick Please use this version: http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT.jar
and enable the preventOtherCase option in the configuration. ;)

[2016-01-21 15:42] #461 closed

[2016-01-21 15:43] Nightick commented on #461
Thank your so much :+1:

[2016-01-21 15:51] sgdc3 commented on #461
You're welcome ;)

[2016-01-21 15:57] Nightick commented on #461
Sry, one more quest, after login command server broadcast "@playername joined the game", i can't find any settings in config for this case and, also, hide stream doesn't help

[2016-01-21 16:00] Nightick commented on #461
Oh, i understand, it's okey

[2016-01-21 16:09] Nightick commented on #461
Oh, and what permissions should i give player to let them log in, they are complainging that, they don't have perms for login

[2016-01-21 22:22] SmeXhy commented on #419
Well still it's just tottaly random. I think it can be some other plugin "fighting" with AuthMe? I don't know. I see no clues for this..

[2016-01-21 23:07] sgdc3 commented on #419
Can you post your pl list please? (including bungee plugins)

[2016-01-21 23:31] SmeXhy commented on #419
There it is:

[2016-01-22 06:49] sgdc3 commented on #419
looks like a very well assembled server

[2016-01-22 06:55] sgdc3 commented on #419
I'll check if any of your plugins is using an improper way to hook into our api. ;)

[2016-01-22 10:22] Barrimor opened #462 "Bug/Errors with /login D:"
Hello, I tried to login on my server with one of my offline alts, then Authme thrown errors in console. You will find the log down.

I have a little idea about how it does that:
- I set max join / ip = 2 & max register / ip = 2 (I had already my main account + one of my alt connected before connecting the 3rd one)
- When I did /login it told me "Already authenticated"
- I also use AutoIn / AutoIn-

[2016-01-22 11:43] SmeXhy commented on #419
Okey, thank you...

[2016-01-22 14:10] Kixot14 opened #463 "AuthMe and EssentialsSpawn"
Essentials spawn have feature to set 2 spawn points: 1 normal, and 1 for newbie players.
But this newbie spawn don't actual, because AuthMe always teleport all players on general spawn. Even if i disable ''teleportUnAuthedToSpawn", then newbies spawn on newbies point, but after move authme teleport them to general spawn.

I wanna to teleport unauthed users to spawn, but newbies(who first time join

[2016-01-22 14:34] Kixot14 commented on #463
if set essentials first on 'spawnPriority' it's don't help to!

[2016-01-22 15:07] Platinteufel commented on #452
Maybe you could add a point like "SafeLogin" in config that you can enable/disable.

[2016-01-22 17:51] MithrandirCraft commented on #433
I think this is the same issue... http://hastebin.com/egaqevesak.apache

Still pops up constantly. Just posting because I saw it again, lol.

[2016-01-22 17:53] games647 commented on #433
You are using an old build.

[2016-01-22 17:54] MithrandirCraft commented on #433
yup... I'll update asap, but you haven't fixed this error yet, have you?

[2016-01-22 17:56] games647 commented on #433
I tried it.

[2016-01-23 11:50] DardBrinza opened #464 "Default message "player join the game""
After installing the latest build # 696, after authorization players in the chat default message appears "player join the game". In his plugin, I turned off the message, but after installing the latest build it began to appear after a successful login.

[2016-01-23 12:01] DardBrinza opened #465 "Adding full localization file."
Can you add a file that you can locate all of  authme (/authme; /authme help; /authme about; /authme "all command")? Thanks :)

[2016-01-23 12:04] Kixot14 commented on #463
And little bug: AuthMe don't remember your eye point (pitch and yaw) after relog. Always turn you to 0. and 0.

[2016-01-23 12:05] DNx5 commented on #465
This file?
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/commands.md

[2016-01-23 12:06] DardBrinza opened #466 "Random /logout"
My players randomly receive removal authorization during the game on the server. The chat messages are not displayed with the requirement to enter a password. A player blocks all commands, motion and more, and if you enter /login "password" it will display a message about the successful authorization and the game continues. It happens randomly, you can play 10 minutes or 8 hours, this is impossibl

[2016-01-23 12:06] DardBrinza commented on #465
Yes

[2016-01-23 12:09] DNx5 commented on #465
What do you mean?

[2016-01-23 12:11] DNx5 commented on #464
So, you have a plugin that prevent/edit the join message?

[2016-01-23 12:12] DNx5 commented on #463
yeah, because we only store x,y,z into the database.

[2016-01-23 12:15] DardBrinza commented on #465
Translate this
http://joxi.ru/vAWYJVdTkBzPZm.jpg
http://joxi.ru/LmG3L7bTRgjPem.jpg
http://joxi.ru/V2VeNGWu08OPam.jpg
http://joxi.ru/KAgMxENIgN0Wnm.jpg

[2016-01-23 12:18] DardBrinza commented on #464
Yes, I use a plugin to hide this message and authme #682 and this is no problem.

[2016-01-23 12:18] DNx5 commented on #465
related to #293

[2016-01-23 12:18] #465 closed

[2016-01-23 12:20] sgdc3 commented on #464
We need to listen to the join message at lowest priority... @DNx5

[2016-01-23 12:24] sgdc3 commented on #466
@DNx5 we need to log into the console the cause of the logout. (Command, Api, etc...)

[2016-01-23 12:24] DNx5 commented on #464
i already do that. maybe the code has changed.

[2016-01-23 12:37] DNx5 commented on #466
duplicate? #419

[2016-01-23 12:42] DardBrinza commented on #466
Yes, but I did not get the message about the end of the session or a message to enter the password .

[2016-01-23 12:43] ScuroGuardiano opened #467 "Buildcraft doesn't work (Cauldron GUAVA Issue)"
Hi, I have problem with BuildCraft and AuthMe. Buildcraft Quarry doesn't work, I added buildcraft to unrestrictions, but it still doesn't work. I tried everything... I am using AuthMe Reloaded 5.0-beta3.
My server engine is KCauldron
My configuration file: http://pastebin.com/MNjDb0jh
Please help
PS: Sorry for my English, I am from Poland

[2016-01-23 12:45] DNx5 commented on #466
Same issue
https://github.com/Xephi/AuthMeReloaded/issues/419#issuecomment-169858260

[2016-01-23 12:45] DardBrinza commented on #466
My plugins:
Plugins (51): SmokeTrail, RemoteToolkitPlugin, PlugMan, DynPad, MaxBans, stAnalytics, RandomPort, CoreProtect, WorldEdit, RainbowArmour, OpenInv, Essentials, SunCraftCases (My case plugin), ClearLag, AutoMessage, SuperDupe, Chairs, WorldBorder, Multiverse-Core, dtlCore, Fixer (My small fix with mobs), MCDonate, PermissionsEx, FeatherBoard, MineResetLite, CustomJoinItems, Vault, UralCla

[2016-01-23 12:45] sgdc3 commented on #467
Try latest build: http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT.jar

[2016-01-23 12:51] DNx5 commented on #464
Try this, and see if it works.
http://ci.xephi.fr/job/AuthMeReloaded/699/artifact/target/AuthMe-5.2-SNAPSHOT.jar

[2016-01-23 13:09] DNx5 commented on #464
@DardBrinza are you using essentials to remove join message?

[2016-01-23 13:28] ScuroGuardiano commented on #467
This version doesn't work:
[14:27:18] [Server thread/INFO]: [AuthMe] Enabling AuthMe v5.2-SNAPSHOT-b699
[14:27:18] [Server thread/INFO]: [AuthMe] Loading Configuration File...
[14:27:18] [Server thread/WARN]: [AuthMe] Remove Email.mailText from config, we now use the email.html file
[14:27:18] [Server thread/WARN]: [AuthMe] Merged new Config Options - I'm not an error, please don't report me
[14:2

[2016-01-23 15:12] DardBrinza commented on #464
@DNx5 No, I use not public plugin

[2016-01-23 16:00] sgdc3 commented on #464
@DardBrinza have you tried the file @DNx5 posted?

[2016-01-23 16:01] sgdc3 commented on #467
This is because cauldron isn't supported atm, i'll try to fix that...

[2016-01-23 16:51] yzz17 commented on #447
thx to all

[2016-01-23 17:44] UberNoel opened #468 "Players Play Without Loggin In"
I've been hosting a cracked server for 6 months now , using Authme , no problems until recently 4 hours ago , my admin told me that everyone can play without logging in . I quickly stopped my server before members starts logging in into my staffs account or mine . I've tried reinstalling the plugin and did everything i could for few hours. May i know how to solve this ?

[2016-01-23 19:54] games647 commented on #468
Which version do you use? Do you have any errors in the log?

[2016-01-24 01:56] MithrandirCraft commented on #433
@games647 I'm afraid this error keeps appearing on every restart...

[2016-01-24 09:11] games647 commented on #433
@MithrandirCraft Do you tried the newest version?

[2016-01-24 14:31] DardBrinza commented on #464
Fixed. Thanks

[2016-01-24 15:04] RoinujNosde commented on #441
Can't find this option.

I'm using AuthMe Reloaded 5.0-beta3

[2016-01-24 15:05] games647 commented on #441
This option is only implemented in the dev builds.

[2016-01-24 15:16] RoinujNosde commented on #441
Thanks ;)

[2016-01-24 17:10] RoinujNosde opened #469 "sql warning"
Hello,
I started using the last build (699) and i'm getting this warning on console/log:
[AuthMe] [SQLITE_CONSTRAINT]  Abort due to constraint violation (column username is not unique)

Should i worry about it?

(Server version: CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT))

[2016-01-24 17:36] games647 commented on #469
Could you post the complete error?

[2016-01-24 17:44] RoinujNosde commented on #469
That's the complete error.

[2016-01-24 21:03] MithrandirCraft commented on #433
@games647 I tried it on b698

[2016-01-24 22:20] RoinujNosde commented on #456
I think AutoIn would help you.

[2016-01-25 06:41] sgdc3 commented on #456
I'll send you a configuration ;)

[2016-01-25 06:44] sgdc3 commented on #469
wtf? duplicated username column?

[2016-01-25 07:33] ljacqu commented on #469
Can you post some of the surroundng lines in the log?
Did this happen when someone tried to /login or /register?

[2016-01-25 07:36] ljacqu commented on #469
In MySQL.java:
[code]
columnRealName should be UNIQUE—not columnName. This probably happened when someone registered "Bobby" and then later "bobby"

[2016-01-25 11:05] games647 commented on #433
What's in your log? There should be something like "Waiting for unfinished tasks".

[2016-01-25 12:53] #464 closed

[2016-01-25 15:19] RoinujNosde commented on #469
Server log: [2016-01-24-4.txt](https://github.com/Xephi/AuthMeReloaded/files/103390/2016-01-24-4.txt)
This warning seems to occur when someone joins the server.

[2016-01-25 18:36] falconhome opened #470 "New PhpBB3 3.1.6 or 3.1.7 is supported?"
Hi Guys!

I have PHPBB3 3.1.7 forum engine + spigot MC:1.8.8 game srv + AuthMe 5.0_B3 with ALL clean install (+all the plugins which need for base MC srv like essential, group manager, etc), but when i try to use the AuthMe i got "wrong password" msg in the game...

So, before i start a long explanation about my config files, i would like to know i am a stupid or i found something...

Choices:
a.)

[2016-01-25 18:52] Trojaner25 opened #471 "Repo not working"
The repo at http://ci.xephi.fr/plugin/repository/everything/ does not work correctly.

Seems like downloads get aborted

[2016-01-25 19:25] sgdc3 commented on #471
Yeah i know.... Our vps has 100% of hdd usage due to a bug. We need to wait @Xephi to fix it...

[2016-01-25 19:29] sgdc3 commented on #470
You should never use version 5.0 Now our buildserver is offline, but when it will be avariable, please try latest build, it fixes TONS of bugs. About PHPBB we need someone to test it ;)

[2016-01-25 19:29] sgdc3 commented on #433
@MithrandirCraft

[2016-01-25 19:30] sgdc3 commented on #468
@UberNoel

[2016-01-25 22:58] ghost opened #472 "Enhancement - Confirm the recovery of the password via E-Mail"
Hello,

I have found a pretty important enchantment for your plugin, you should add the confirmation of the password recovery via E-Mail, because now a player with an offline-version of Minecraft can just connect to the server with the nick of a player that they don't like, recover the password via E-Mail (assuming they know the E-Mail address of their "victim"), and so the players can annoy other

[2016-01-26 20:21] MithrandirCraft commented on #433
Here's the latest log on this error: http://hastebin.com/fihifaxamo.vhdl

[2016-01-26 20:22] games647 commented on #433
I thought I fixed it.

[2016-01-26 20:33] games647 commented on #433
Could you check it again? Although this fixes only this specific error and you may lose your op status (if you logout right before the server shuts down), the changes should fixes the error you had.

[2016-01-26 23:18] sgdc3 commented on #471
Fixed

[2016-01-26 23:18] sgdc3 commented on #471
@Xephi

[2016-01-26 23:22] sgdc3 commented on #471
Nope still unavariable..

[2016-01-26 23:22] sgdc3 commented on #471
@Xephi

[2016-01-26 23:33] MithrandirCraft commented on #433
Will apply asap. Reporting back asap.

[2016-01-27 13:29] games647 commented on #471
Now my builds fails too :worried:

Isn't it possible to delete some older version in order to free some spaces?

[2016-01-27 14:42] Dooleylabs commented on #456
How's the configuration coming? I'm excited. Once this works properly, I'm launching our forum, which hooks into our teamspeak - which should, in theory, make our server s secure as possible.

[2016-01-27 14:52] sgdc3 commented on #471
no, there is a glitched log file

[2016-01-27 16:00] games647 opened #473 "API: ForceRegister doesn't work"
Testcase:

If the player joins the server invoke the command after a delay of 3 seconds:

Output:
[16:57:16 INFO]: games647[/127.0.0.1:58689] logged in with entity id 7291 at [...]
[16:57:26 WARN]: [AuthMe] null

[2016-01-27 16:04] games647 commented on #473
BTW: logConsole property is missing from the config.

[2016-01-27 19:34] sgdc3 commented on #473
@ljacqu

[2016-01-27 19:42] sgdc3 commented on #456
[config.txt](https://github.com/Xephi/AuthMeReloaded/files/107212/config.txt)

[2016-01-27 19:43] sgdc3 commented on #456
@Dooleylabs It should work fine, check it and set your customization settings.

[2016-01-27 20:28] ljacqu commented on #473
Good catch on the "logConsole" property—I'll make sure to add it on the branch for #450, which should be merged within this week.

[2016-01-28 02:53] Dooleylabs commented on #456
I tested it, it still says the /login prompt when I try any conmand. Is there a way to whitelist all possible commands without needing to login, or am I missing something? I tried it with 5.0 beta 3 and build 700, but neither worked, claiming that some nodes in the config were updated each time. With both instances, I used a fresh copy of the modified config you sent.

[2016-01-28 10:42] games647 commented on #471
@sgdc3 Is it fixed, because my builds works again.

[2016-01-28 10:43] #473 closed

[2016-01-28 10:48] sgdc3 commented on #471
@games647 yeah but it's not stable still100gb of usage

[2016-01-28 11:17] Xephi commented on #471
I've checked directly on vps and the biggest directory i've found has 1Gb max, idk where it comes from, if you have some information tell me

[2016-01-28 15:06] Giulio1708 commented on #150
News?

[2016-01-28 15:15] sgdc3 commented on #471
Don't you remember? There is a glitched jenkins tmp file.

[2016-01-28 18:47] Giulio1708 opened #474 "PhpBB 3.1"
Hi there,
I know that the PhpBB integration is actually work in progress, but I'm here to ask a question.
I configured AuthMe and Phpbb trying to login with my password and the server says that my account isn't verified and that I have to check my email inbox to validate it.

[2016-01-29 09:08] Xephi commented on #471
I remember , but we have a cron task that rm it each minutes T.T

[2016-01-29 12:52] sgdc3 commented on #471
I know, probably after the update the file path changed

[2016-01-29 14:32] Xephi commented on #471
I've found the problem and it's now fixed

[2016-01-29 14:32] #471 closed

[2016-01-29 16:16] sgdc3 commented on #471
What was the cause? @Xephi

[2016-01-29 16:21] Xephi commented on #471
A file at /var/log/daemon.log was to big

[2016-01-29 16:28] White6983 opened #475 "IPB"
AuthMeReloaded have support for IPB 3.4.8/9 ?

[2016-01-29 16:55] MithrandirCraft commented on #433
Looks like this is fixed? http://hastebin.com/lumasaguza.vbs

[2016-01-29 16:56] games647 commented on #433
But there aren't much scheduled task

[15:39:01] [Server thread/INFO]: [AuthMe] Progress: 1 / 1

The one task which times out here is the Metrics task.

[2016-01-29 19:12] sgdc3 commented on #471
Are you sure? http://ci.xephi.fr/plugin/disk-usage/

[2016-01-30 00:19] falconhome commented on #470
Hi Guys!

Thx, my phpbb forum and AuthMe 5.2 b703 works well.
tested phpbbs - 3.1.6, and 3.1.7 - both OK
- /login - OK both side
- /changepassword - OK both side (PHPBB and Minecraft)
- game side /register and /unregister going - unexpected error ...

The config.yml on: http://pastebin.com/jSXUU9p1 - for anybody who do not wanted to spend too many time for base config

messages_hu.yml - http://pas

[2016-01-30 01:39] sgdc3 commented on #470
What's the error with registration/unregistration

[2016-01-30 01:39] sgdc3 commented on #470
?

[2016-01-30 04:34] JHXSMatthew opened #476 "Multiple lines in message files"
Hi,

Could you guys add line changing char '\n' to implement a "multiple lines" message ?

say :
reg_msg: '&3Please,  register to the server with the command "/register <password> <ConfirmPassword>"'
It shows like
Please,  register to the server with the command "/register <password> <ConfirmPassword>

Multiple lines:
reg_msg: '&3Please,  \n register to the server with the command "/register <pass

[2016-01-30 09:37] games647 commented on #476
It already works. Just wrap it into a new line:

![Authme-Line](http://i.imgur.com/YxfsagB.png)

So in your case:

[code]

[2016-01-30 10:07] Giulio1708 commented on #474
Well, solved reinstalling the plugin.

[2016-01-30 10:07] #474 closed

[2016-01-30 10:08] Giulio1708 commented on #475
Yes

[2016-01-30 10:12] Giulio1708 commented on #435
@sNuuFix news about it? I have the same problem, but for me it's still not solved.

[2016-01-30 10:21] ljacqu commented on #474
Happy to hear it! Thanks for the update.

[2016-01-30 10:23] ljacqu commented on #470
Is there an error when someone does /register in the server log? It would be very interesting to see that :)

---

What's the current behavior?

[2016-01-30 10:53] Giulio1708 commented on #458
Try to add "_ authme.player.* _" permission to your unLoggedinGroup

[2016-01-30 11:22] ravkr opened #477 "Authme's mysql table uses bigint instead of timestamp"
mysql table created by AuthMe is using `bigint(20)` on `lastlogin` column but `timestamp` would be better. almost all programs made for managing mysql shows date and time when column is using `timestamp` type.
now we have eg. `1454151480984` but after changing type it would show eg. `2016-01-30 10:58:00`

[2016-01-30 11:24] ljacqu commented on #415
bumperoni

[2016-01-30 11:41] White6983 commented on #467
Try 3.1 version ;) On 3.1+ unrestrictions don't work.

[2016-01-30 12:05] White6983 commented on #475
Maybe you have a configuration file?

[2016-01-30 12:10] Giulio1708 commented on #475
I haven't, but if you post your config and a screen of the user table I'll try to help you out.

[2016-01-30 12:21] White6983 commented on #475
Working... wrong column name with salt:D

[2016-01-30 12:21] #475 closed

[2016-01-30 12:34] ljacqu commented on #450
TODO:
- [ ] ReloadCommand needs to be changed to speak with NewSettings
- [ ] AuthMe main class uses Settings#set at one point...
- [ ] AuthMe main class + ForceFlatToSqlite uses Settings#setValue. Both need to be ported
- [ ] Need to relocate Settings#getRestrictedIp, Settings#isEmailCorrect
- [ ] Do equivalent of Settings#loadEmailText and #getWelcomeMessage
- [ ] Need to port check from Setting

[2016-01-30 14:19] sgdc3 commented on #415
it should be fine, and yes we agree to move the /converter comand ;)

[2016-01-30 14:24] #476 closed

[2016-01-30 14:30] ljacqu commented on #415
Thanks! I'll merge master into the branch since it's gotten quite old and then you can move `/authme converter` to `/converter` if you want. :)

[2016-01-30 14:40] ljacqu commented on #415
19 commits behind and not a single conflict. Nice. :smile:

[2016-01-30 16:29] k3ldon opened #478 "AuthmeBridge not working"
Hi, I recently upgraded to the latest version and no longer works authme + authmebridge...
any idea what things changed?
=/

AuthMe v5.2-SNAPSHOT-b702
and
AuthmeBridge:
https://www.spigotmc.org/resources/authmebridge-for-bungeecord.574/

[2016-01-30 16:59] Platinteufel commented on #452
Do you have any idea how to fix this? Is it possible to enable Essentials Flymode till the player is logged in? It's quite annoying that players can't login in the air and have to try it 5-10 times. ;)

[2016-01-30 18:46] Trojaner25 opened #479 "delayJoinMessage option not working"
But still join messages are delayed and only shown on login

[2016-01-30 19:02] DardBrinza opened #480 "Output from the server in the air."
Hi. Faced with the problem of the players output from the server through the air, and then they can not enter the password (closes chat and kicked from server with the reason: You can not fly). There is a suggestion: Add a feature that will put the player on the ground before authorization (was in the air, puts it on the ground, he enters the password and sends it back into the air)

[2016-01-30 19:53] Platinteufel commented on #480
#452

[2016-01-30 20:01] Mabus13 commented on #458
Thank you i try it later. I downgrade to 3.5 version. Bacuse new version make mistakes with save postion logout. Also i have bugs with delete inventory on new version. I prefer wait more stable version >_<

[2016-01-30 20:56] RoinujNosde commented on #469
Hello?

[2016-01-30 20:56] ljacqu commented on #469
Sorry. I will take care of this.

[2016-01-30 20:59] DardBrinza commented on #480
Sorry :D

[2016-01-30 21:00] #480 closed

[2016-01-30 21:03] DardBrinza commented on #452
Add a feature that will put the player on the ground before authorization (was in the air, puts it on the ground, he enters the password and sends it back into the air)

[2016-01-30 21:48] sgdc3 commented on #452
@DNx5 @ljacqu @games647 what do you think about?

[2016-01-30 22:08] sgdc3 commented on #479
@DNx5 @games647 Can you check this please? Thanks ;)

[2016-01-30 22:09] sgdc3 commented on #478
AuthMeBridge is not an official authme addon and it seems to be abbandoned... We are working on an official replacement ;)

[2016-01-30 22:09] #478 closed

[2016-01-30 22:15] sgdc3 commented on #477
@Xephi @DNx5 @ljacqu @games647

[2016-01-30 22:16] sgdc3 commented on #435
Blocked by our permissions structure update

[2016-01-30 22:18] ljacqu commented on #477
I'll bite; I assigned another sql issue to myself so I can also do this while I'm there

[2016-01-30 22:25] sgdc3 commented on #477
Thanks ;)

[2016-01-31 07:56] UberNoel opened #481 "Server Lagging So Much When A player joins"

[2016-01-31 07:57] UberNoel commented on #481
http://pastebin.com/qzqfj7Rx
This error keeps spamming in my console over and over the lag wont stop when a player joins

[2016-01-31 08:11] ljacqu commented on #481
If we look at the last few lines of the error:

31.01 15:46:09 [Server] WARN at sun.net.www.protocol.http.HttpURLConnection.getInputStream(Unknown Source)
31.01 15:46:09 [Server] WARN at sun.net.www.protocol.http.HttpURLConnection.getInputStream0(Unknown Source)
31.01 15:46:09 [Server] WARN java.io.IOException: **Server returned HTTP response code: 502 for URL: http\://www.projecthoneypot.org/ip_1

[2016-01-31 08:52] ljacqu opened #482 "[Dev] Merge MessagesManager and provide better default messages"
- The MessagesManager no longer extends `CustomConfiguration` but just manages a `YamlConfiguration` internally, so these methods and the `YamlConfiguration` field can be moved to `Messages` and the `MessagesManager` class can be deleted.

- Use the JAR's messages_en.yml file to retrieve a message from instead of the current "message for key [x] not found", which is not helpful at all for regular

[2016-01-31 12:00] UberNoel commented on #481
ok thanks for ur reply ill try removing the plugin

[2016-01-31 12:18] ljacqu commented on #481
Good luck!

[2016-01-31 12:18] #481 closed

[2016-01-31 16:07] Feerko opened #483 "AuthMe with IPB4"
Hello,

Connection to the database is correct. The problem is with a password. Typed password does not match.

Authme Version: v5.2
Config: http://pastebin.com/raw/zy193eyL

I hope for a quick response. Thanks! :)

[2016-01-31 16:24] ljacqu commented on #483
Looks like IPB4 does password hashing differently from IPB3. Do you know anything more about what's done? Failing so, could you maybe share a hash or two for us to test against?

[2016-01-31 16:34] Feerko commented on #483
Ok :)

pass: password
hash: $2a$13$hTUJkHi6NNjgFUhcKqodqOJEkaasnksrD1a3phmjhB9OXF7TtKLWO
salt: OPYU52RvYD2mPReSvIYafn

pass: StrongPassword!
hash: $2a$13$n0GJE9D1aPCWMmPk07VnfuyiV/N/Wsj.vkUtJq5wYzdG.7lInZMEC
salt: n0GJE9D1aPCWMmPk07Vnf8

[2016-01-31 16:51] ljacqu commented on #483
Oh, cool, you rock!
I wonder what the salt does—seems like the hash is enough to validate the password. In your config, could you please try:
[code]

maybe you also need to set
[code]
so that the hashes generated by AuthMe also follow the `$2a$13$` format, but I would assume that it works with any number.
It's possible that players who register with AuthMe won't be able to log into the forum since

[2016-01-31 17:01] Feerko commented on #483
BCRYPT 13

pass: StrongPassword!
hash: $2a$13$QpurEu2SgqbS7n.nR26bbu8Oa.IoqCl4aXApvUXXc2UoG0PrdhyPS

Unfortunately, a different result.

[2016-01-31 17:22] Trojaner25 commented on #479
push

[2016-01-31 17:25] ljacqu commented on #483
Thanks for the info. In that case we'll need to take a closer look at it. Note that it generating a different hash doesn't necessarily mean it's wrong, but of course since the forum doesn't accept it, something is wrong.

[2016-01-31 17:57] sgdc3 commented on #479
try with delayJoinLeaveMessages: false

[2016-01-31 18:20] falconhome commented on #470
Hi,
1.) messages_hu - for sure ;), that was the reason why i put it here (open source ;))
2.) I go to check the logs...

[2016-01-31 18:23] Feerko commented on #483
Thank you @sgdc3 ! When can I expect some small updates? Few hours ago I bought IPB and I'm very excited, but I can not move forward because AuthMe does not support IPB4.

Players are waiting and I can not do anything.

Greetings.

[2016-01-31 18:36] ghost opened #484 "Enchantment - Allow to disable help for the plugin"
Hello,

I've found an enchantment possibility for your plugin. It'd be nice when we could translate help options in AuthMe, so you could add those options to "message_xx.yml".

Also, you could add an options to disable help for the plugin.

Thank you.

[2016-01-31 18:42] Naxter commented on #484
Also, you could add an option to disable help for the plugin.

[2016-01-31 19:33] ljacqu commented on #484
Related to #293

[2016-01-31 19:41] falconhome commented on #470
messages_hu updated, because i missed a line, now it is complete

[2016-01-31 20:41] ljacqu commented on #437
I haven't forgotten about this! Will be done within the next six days.

[2016-01-31 22:01] sgdc3 commented on #483
@Feerko Why me? @ljacqu is the one you need to thanks ;)

[2016-01-31 22:19] falconhome commented on #470
_"Other: If the in game registration disabled in config, for the new players know this after, if they try to register... In this case i think better solution to inform promptly them "In game registration disabled, please visit our registration site..."_

Update: I made some mistake in my "CommunityBridge" plugin config file, and that caused the problem... **Now, function /unregister working well..

[2016-01-31 22:30] sgdc3 opened #485 "[Dev] Too many active branches."
Please delete/merge some of them. Thanks ;)

[2016-01-31 22:31] sgdc3 commented on #485
Woops it assigned the issue to ljacqu itself xD

[2016-02-01 00:03] Feerko commented on #483
You right :)

[2016-02-01 04:00] DardBrinza commented on #452
UP. Important problem.

[2016-02-01 05:35] ljacqu commented on #485
https://git-scm.com/book/en/v2/Git-Branching-Branches-in-a-Nutshell

Branches are very lightweight. I (still) don't understand the issue with having more than like two (because this seems to come up every now and then). I can only speak for the branches I've started but there I promise that they're being looked after ;)

[2016-02-01 05:52] ljacqu commented on #483
I'm afraid I already have a lot of things in AuthMe to take care of so I won't have time to look at this in greater detail. Maybe someone else from the dev team can.

[2016-02-01 22:33] netbiosxx commented on #439
Ciao
Il problema che continuo a porti è che io stesso non trovo soluzione ed il seguente è sempre il solito:
A prescidere cosa io ci scriva nel config di AuthMe in unLoggedinGroup:, che in questo momento forzatamente ho messo utente, il plugin authme non si ricorda il gruppo di origine a cui apparteneva un determinato utente.
Un esempio:
l'utente xxx in permissionex è settato helper,  ebbene, quan

[2016-02-01 22:47] sgdc3 commented on #439
@ljacqu @DNx5 @games647 Can you give a quick look at this? (read my last comment to understand what's the possible cause of this issue) Thanks ;)

[2016-02-01 23:47] Feerko commented on #483
Hello there.
Are there any progress with this? I must admit that I really really care about.

[2016-02-02 06:00] stevennight opened #488 "The items will clear If logining timeout."
When we hide the item without login , The item will clear after the player kick by logining timeout.
It can't recoery the Item after player login again.

[2016-02-02 06:57] sgdc3 commented on #488
Version?

[2016-02-02 08:32] vst8800 opened #489 "People able to login with any letter case."
Hi, can you make an option that restricts the players so that they can login only with the exact letter case they have registered only. Now they can change upper case to lower case or lower to upper in their nicks and this way they can cheat things from other plugins.

Thanks a lot in advance,

[2016-02-02 13:37] sgdc3 commented on #489
Are you using latest version? If yes just enable the "preventOtherCase" setting in the plugin's configur ation. ;)

[2016-02-02 13:46] vst8800 commented on #489
Hi actually missed that option. Now I see it and it is not enabled. I will try it and if it does what we need I will close the issue. Thanks a lot.

[2016-02-02 17:17] Feerko commented on #483
Please?

[2016-02-02 17:27] Maddeningmorel commented on #483
Hi, I have the same problem. Is anyone working on fixing this?

[2016-02-02 17:40] sgdc3 commented on #483
@Feerko @Maddeningmorel We are all volunteers in the team, please be patient...

[2016-02-02 18:06] ljacqu commented on #483
I'm not taking on any issues before I finish the ones I assigned myself to (besides any unstarted [Dev]).
What you lads could kindly do to speed up the process is if you have any php knowledge – if so, you could find out what IPB needs in the db for the login to work (like why there is this salt column).
Alternatively, we could look into having a Skype session sometime to have a look together. I'm

[2016-02-02 21:14] falconhome commented on #470
Hi guys!

I saw on all open issues, and i think this issue can be move to low priority, because i found a very simple workaround! ;) If anybody (not registered) arrives into the game server, i tell them please register first on <myphpbb.myserver.com> webpage. So you have time... ;)

Br
 F

[2016-02-02 22:13] 7h3ev1l opened #490 "Async task %%%%% on stop"
Every time when server is stopping and i have 100 players i get

**[AuthMe] Progress: 1 / 106
[00:06:43 INFO]: [AuthMe] Async task %%%%% times out after to many tries
and i need to wait like 10 minutes...**

How to skip this???

[2016-02-02 22:39] games647 commented on #490
Is it just one task or are there more?

[2016-02-02 22:57] 7h3ev1l commented on #490
Its more like
[AuthMe] Progress: 1 / 106
[AuthMe] Progress: 2 / 106
[AuthMe] Progress: 3 / 106
[AuthMe] Progress: 4 / 106

to 106...

[2016-02-03 00:15] nathampa0909 commented on #490
The players dont be kicked and shouldn't be delay more time!

[2016-02-03 00:17] nathampa0909 opened #491 "Dependencies of project"
Hello, I'm trying to compile AuthMe but I can't, I have this error on try to compile:

Failed to execute goal on project authme: Could not resolve dependencies for project fr.xephi:authme:jar:5.2-SNAPSHOT: Failed to collect dependencies for [com.zaxxer:HikariCP:jar:2.4.3 (compile?), org.slf4j:slf4j-jdk14:jar:1.7.14 (compile?), org.apache.logging.log4j:log4j-core:jar:2.0-beta9 (provided?), org.apac

[2016-02-03 00:28] sgdc3 commented on #491
All the dependencies are working well. Try to run mvn clean before mvn install or delete your .m2 folder

[2016-02-03 00:33] nathampa0909 commented on #491
Im using Netbeans, how do i run these commands?

[2016-02-03 06:17] ljacqu commented on #491
It can't even find Gson or JUnit – this is a problem on your machine.

[2016-02-03 06:18] ljacqu commented on #491
`cd` to the project folder (where your pom.xml is) in console and run `mvn clean install`

[2016-02-03 07:57] games647 commented on #491
Netbeans, IntelliJ and Eclipse can detect Maven projects.
1. Click the open project symbol.
2. Select the folder
3. Netbeans should detect the project folder as maven project.
    (if you have the maven plugin installed, which is default)
4. Then you could click the 'Clean and Build' option
    * or use the custom goal button after you right clicked the project.

[2016-02-03 07:58] games647 commented on #490
@7h3ev1l Are there any more tasks which times out?

[2016-02-03 11:34] 7h3ev1l commented on #490
hm, i will check next time

[2016-02-03 15:36] Feerko commented on #483
It's hard to be patient when you spend on licensed almost 200 dollars and there's nothing you can do.

Okay, I'm in despair. I really want this.
Someone will do it for payment on paypal?

[2016-02-03 15:40] sgdc3 commented on #483
@DNx5 @games647 @ljacqu I can only bump this report..

[2016-02-03 15:52] ljacqu commented on #483
@Feerko Money is not an incentive for me, but if you have the possibility to have a Skype session together sometime, we could kick some butt ;3
I speak German and French natively in case that would luckily coincide with your mother tongue

[2016-02-03 16:25] Feerko commented on #483
Moj angielski jest zbyt kiepski, żeby rozmawiać a ojczysty język to Polski.
Może przyda Wam się moja tabela z użytkownikami ipb4? Mogę dodać pare rekordów.

http://pastebin.com/raw/7PnpPZFf

test:test123
ljacqu:ljacqu123
sgdc3:sgdc3123
someother:3vbQ(y7Pw$K2j'?;

Please write if I could somehow help.

[2016-02-03 16:40] ljacqu commented on #483
Thanks, that's already a great help. The real question is what this `members_pass_salt` column does. Do you know php? We need to find out where it's used in IPB.

[2016-02-03 16:51] Feerko commented on #483
I understand PHP syntax but do not encode. Ok, I'll try to find it. Give me a moment.

[2016-02-03 19:47] Dooleylabs commented on #456
*bump*

[2016-02-03 21:06] sgdc3 commented on #456
@DNx5 @games647@ljacqu we need to add an allowCommands option.

[2016-02-03 21:21] ljacqu opened #492 "Check AsyncRegister change"
Introduced in commit [f195054](https://github.com/AuthMe-Team/AuthMeReloaded/commit/f195054), there is an orphaned `TODO` that has been in the code since.

[code]

[2016-02-04 09:48] blastic opened #493 "User locations not being saved."
Hello,

I recently noticed that user's locations do not get saved on logout.
I have done a lot of testing with different settings and this are the results.

AuthMe 5.0-beta3
spigot server 1.8.8

ForceSpawnLocOnJoinEnabled: false
SaveQuitLocation: true
useReloadCommandSupport: true

these are the settings I  use.
Basically in the tests I had a user stand on a diamond block and I /reload then I woul

[2016-02-04 13:40] sgdc3 commented on #493
Please update to 5.2: http://ci.xephi.fr/job/AuthMeReloaded/

[2016-02-04 13:46] blastic commented on #493
AuthMe-5.2-SNAPSHOT-javadoc.jar
AuthMe-5.2-SNAPSHOT.jar

Thanks for the reply! which one do I download?

[2016-02-04 13:57] blastic commented on #493
I put only AuthMe-5.2-SNAPSHOT.jar
and I got error so I tried both the files together and also got error.
and of error i mean my server wouldn't start. as soon as I downloaded the 5.0-beta3 version from Bukkit and put it back the server started normally.
so there is a problem with the new version that is crashing my server.

this is what i saw in console.

04.02 08:49:00 [Multicraft] Server ran co

[2016-02-04 14:13] sgdc3 commented on #493
You need to use only AuthMe-5.2-SNAPSHOT.jar What's the error with it?

[2016-02-04 14:15] sgdc3 commented on #493
Can you post the content of the /logs/latest.log file? (But first put authme 5.2 and run the server once)

[2016-02-04 14:17] sgdc3 commented on #490
@7h3ev1l Any update?

[2016-02-04 14:27] blastic commented on #493
Ok server crashed again here is the latest log file.
[latest.zip](https://github.com/Xephi/AuthMeReloaded/files/117540/latest.zip)

[2016-02-04 14:32] sgdc3 commented on #493
[09:24:35] [Server thread/WARN]: [AuthMe] Your HashAlgorithm has been detected as plaintext and is now deprecated; it will be changed and hashed now to the AuthMe default hashing method
[09:24:35] [Server thread/WARN]: [AuthMe] null

[2016-02-04 14:32] sgdc3 commented on #493
This is the issue

[2016-02-04 14:34] sgdc3 opened #494 "Unable to convert HashAlorithm from plaintext to default."
[code]

[2016-02-04 14:34] blastic commented on #493
what should I change it to for a fix?

[2016-02-04 14:46] blastic commented on #493
I changed it to SHA256 is that the safest one?

[2016-02-04 15:24] games647 commented on #494
Please activate stacktrace logging.

[2016-02-04 15:28] sgdc3 commented on #494
@games647 yeah, i forgot about it ;)

[2016-02-04 15:33] sgdc3 commented on #493
Add this to your config under Security > console:
logConsole: true

And than restart, this will produce another error messsage useful to fix your issue ;)

[2016-02-04 15:34] sgdc3 commented on #493
Anyway, SHA256 is the default encryption, it's fine ;)

[2016-02-04 15:35] sgdc3 commented on #493
But first we need to fix the flatfile to SHA256 error...

[2016-02-04 15:36] blastic commented on #493
I changed it to SHA256 and my server is working fine now, since i haven't opened my server yet there was only 2 users so I unregistered them and they re registered.

[2016-02-04 15:37] sgdc3 commented on #493
Ok but can you help us to find out what's wrong with the auto converter? :/

[2016-02-04 15:38] sgdc3 commented on #493
Just use 5.0b3, set encryption to flatfile and enable logConsole, stop, put authme5.2 restart and send me the log

[2016-02-04 15:39] sgdc3 commented on #493
We really need this, please :)

[2016-02-04 19:28] vst8800 commented on #489
Tried the option. It didn't seemed to work. However our issue was else where. Closing the issue.

[2016-02-04 19:28] #489 closed

[2016-02-04 21:52] sgdc3 commented on #489
@vst8800 What do you mean? What was the cause? ;) Just to know!

[2016-02-04 21:54] sgdc3 commented on #439
@ljacqu can you check this? The fix should be very quickly!

[2016-02-04 21:54] sgdc3 commented on #439
Pex creates a new group if it doesn't exist!

[2016-02-04 23:15] nathampa0909 commented on #490
This is my log when AuthMe disable: http://pastebin.com/nbJMm4EW

When authme try turn off delay more time (In above paste I think 30 minutes!)

[2016-02-04 23:19] nathampa0909 commented on #491
@games647 I tried what you says but Im having this error: http://pastebin.com/wNimChp8

[2016-02-04 23:26] sgdc3 commented on #490
memory leak issue

[2016-02-04 23:26] sgdc3 commented on #490
@games647

[2016-02-04 23:28] nathampa0909 commented on #490
Can you do to remove 10 in 10 to remove more fast?

[2016-02-05 06:21] ljacqu commented on #439
@sgdc3 I'm afraid I'm not familiar with our handling of permissions that much. Maybe this is more suitable for you to look at? I have no idea how to get about this.

[2016-02-05 06:55] sgdc3 commented on #439
lol me too maybe @games647 or @DNx5 can help us ;)

[2016-02-05 07:06] Feerko commented on #483
It's been almost a week. :C

[2016-02-05 07:44] ljacqu opened #495 "[Dev] Minor - create ConsoleLogger method for exceptions"
We often do something like

[code]

This could be summarized as one method on ConsoleLogger with `String message, Throwable th` as arguments

[2016-02-05 12:23] sgdc3 commented on #491
Can't reproduce...

[2016-02-05 12:24] sgdc3 commented on #483
@Xephi can you help us? ;)

[2016-02-05 12:25] Xephi commented on #495
Huuum done i think ;)

[2016-02-05 12:56] games647 commented on #491
@nathampa0909 Looks like the service was down. Could you try it again? Maybe additional with the the option -U (You could use the yellow button in the output section) added in order to force a repository update.

[2016-02-05 12:56] ljacqu commented on #495
Thanks — assigning to me to make a small change this evening

[2016-02-05 12:59] mckite opened #496 "Already Join Playername can join with ABC like abc to join"
We have a problem on a minecraft server,with the plugin AuthMe.
Our server is non-premium so people can join with whatever nickname they want.
Players join on donator nicknames with small letters.Example if the nickname is Milojka and has a donator rank,someone can join with MiLOjKA and he will have the same permissions and perks as the donator rank.When they join it doesn't require login,but regi

[2016-02-05 12:59] mckite commented on #496
We have a problem on a minecraft server,with the plugin AuthMe.
Our server is non-premium so people can join with whatever nickname they want.
Players join on donator nicknames with small letters.Example if the nickname is Milojka and has a donator rank,someone can join with MiLOjKA and he will have the same permissions and perks as the donator rank.When they join it doesn't require login,but regi

[2016-02-05 13:10] games647 commented on #490
Thanks a lot that help me to fix it. I'll do that today.

[2016-02-05 13:17] sgdc3 commented on #496
What's the plugin version? ;)

[2016-02-05 16:33] DNx5 commented on #490
It's broken

[2016-02-05 16:34] games647 commented on #490
That's why I'm working on it. -.-

[2016-02-05 16:37] DNx5 commented on #490
Anyway, its no longer necessary. Also, that spamming a lot.

[2016-02-05 16:38] nathampa0909 commented on #490
Thanks @games I will test the latest version.

[2016-02-05 16:41] games647 commented on #490
@DNx5 sql save query still runs async...

[2016-02-05 16:42] DNx5 commented on #490
@games647 that's the point of CachedDataSource

[2016-02-05 16:50] DNx5 commented on #462
@Barrimor Update your AuthMe plugin

[2016-02-05 18:06] sgdc3 commented on #462
http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT.jar

[2016-02-05 18:07] #462 closed

[2016-02-05 22:16] #495 closed

[2016-02-06 05:19] Dooleylabs commented on #456
**It works!!** The last thing I need now is an option to hide the /login message and something to disable the unlogged group. Thank you for all of your help @sgdc3

[2016-02-06 08:17] DardBrinza opened #497 "Commands bungeecord before authorization."
There is a problem: if you do not enter a password and write commands bungeecord, they will work. It is very important that command "/alert" and anyone can enter this command to login. How can I fix it?

[2016-02-06 10:44] Dimatert9 opened #498 "3 authme servers use one sqlite db"
like this:
![default](https://cloud.githubusercontent.com/assets/8667294/12866211/3a5e5944-cccf-11e5-8082-77e07880a01b.png)

Can you make this? Because i have about 200k+ accaunts and its very difficult to move this db to mysql.

[2016-02-06 10:52] nathampa0909 commented on #490
@games647 AuthMe build 719 dont turn off, dont have errors and nothing only says that authme is disabling and server bug and dont turn off.

[2016-02-06 10:53] nathampa0909 commented on #491
I will test.

[2016-02-06 10:54] games647 commented on #490
@DNx5 Could you look into it? You made the changes.

[2016-02-06 11:26] sgdc3 commented on #498
Impossible, our sqlite structure disallow us to share the same data between servers... You really should convert your db to mysql, Keep in mind that sqlite is slower than mysql, and it may cause sync issues between authme instances!

[2016-02-06 11:28] sgdc3 commented on #497
We are working on a bungeecord-side plugin to prevent this. Stay tuned! ;)

[2016-02-06 11:48] ljacqu commented on #498
Why is that? For the reasons mentioned by sgdc3, such a setup really requires MySQL.

[2016-02-06 11:51] sgdc3 commented on #456
Message: just incrase the delay value to something like 300, the message will still be shown but it will remember players that they should register ;)

[2016-02-06 11:51] sgdc3 commented on #456
Group issue: It's a current bug, we are working on it!

[2016-02-06 12:11] Dimatert9 commented on #498
in authme.db i has lot of duplicates. And when i import a authme.sql using phpmyadmin i has errors.

[2016-02-06 12:25] ljacqu commented on #498
Strange. Both datasources (SQLite and MySQL) should have the same restrictions.

[2016-02-06 12:38] Dimatert9 commented on #498
![image](https://cloud.githubusercontent.com/assets/8667294/12866681/4956d89e-ccdf-11e5-94e0-8197594d2abe.png)

[2016-02-06 12:44] nathampa0909 commented on #491
I downloaded the maven and tried to compile AuthMe but failed.

I used the option -U but have same errors.

[http://pastebin.com/MM3uyprG](url)

[2016-02-06 12:46] games647 commented on #491
Which repo did you downloaded?

[2016-02-06 12:50] nathampa0909 commented on #491
This doesn't exists: https://hub.spigotmc.org/nexus/content/groups/public/org/bukkit/bukkit/1.8.8-R0.1-SNAPSHOT/bukkit-1.8.8-R0.1-SNAPSHOT.pom

I tried to use this: https://hub.spigotmc.org/nexus/content/groups/public/org/bukkit/bukkit/1.8.8-R0.1-SNAPSHOT/bukkit-1.8.8-R0.1-20150727.122515-1.pom

[2016-02-06 12:51] games647 commented on #491
Do you downloaded the AuthMe-Team repo or this repo?

[2016-02-06 12:52] nathampa0909 commented on #491
AuthMe-Team.

See my pom: http://pastebin.com/ffCGu4EH

[2016-02-06 13:06] games647 commented on #491
Found it. Add change the repository url of the spigot from http to https.

[2016-02-06 13:17] nathampa0909 commented on #491
It worked! But I have this errors: http://pastebin.com/v6jBB0jc

[2016-02-06 13:24] games647 commented on #491
@ljacqu Could you look into it. It's about a unit test from the new settings, which is failing.

[2016-02-06 13:33] games647 commented on #491
@nathampa0909 What does your config.yml in src/main/resources folder and your config-sample-values.yml in src/test/resources look like?

[2016-02-06 13:37] nathampa0909 commented on #491
@games647 src/main/resources/config.yml is http://pastebin.com/ARZPDH3B and src/test/resources/config-sample-values.yml is http://pastebin.com/YSEAUEDK

[2016-02-06 13:39] sgdc3 commented on #498
@ljacqu There is still this issue with duplicates! :/

[2016-02-06 13:58] DardBrinza opened #499 "Add an option to disable "X logged in" console messages if the login is triggered by plugin messaging."
If I connect all servers bungeecord to a single database, then all servers are reports of successful authorization, etc. On the server go SkyWars posts Survival server. This option will display these messages only on one server.

[2016-02-06 14:09] games647 commented on #491
@nathampa0909 Sorry I don't know why the tests are failing for you, but you could skip tests until we found the cause for it.

Tools->Options->Java->Maven->Skip Tests
or for command line: -DskipTests=true

[2016-02-06 14:17] nathampa0909 commented on #491
@games647 Build sucess! Thanks for support! I will contribute with the project.

I use Windows 7 Ultimate 64-bits (I think that helps you to find the problem).

[2016-02-06 14:17] #491 closed

[2016-02-06 15:25] Dooleylabs commented on #456
So I set the timeout on that reminder to broadcast once a year (31536000 - my fav number ;D) and I set the login reminder to " ". As for the group, is it possible to set it to a blank space or [ ]? I can safely set it to default, but it messes up prefixes, so I've set it as unLogged until it can be disabled. I do not want a pex listing for every player on the server as I've seen it create lag in t

[2016-02-06 15:30] vst8800 commented on #489
Hi when Donation Points is used the players were able to do dp transfer while not logged in and when logged with different case letters. The solution was to disable the command in the dp config.

[2016-02-06 16:12] ljacqu commented on #498
@sgdc3 But that's being handled in another issue, right? Do you mean #469?

[2016-02-06 16:30] #450 closed

[2016-02-06 17:12] ljacqu opened #500 "[Dev] Setting fields of static ConsoleLogger"
The static ConsoleLogger class needs to know the plugin's logger -- I made some changes recently to pass it the Logger explicitly but I'd like to open this issue to remind me to look into it more. I believe it's bit of an ugly solution right now...

[2016-02-06 18:38] nathampa0909 commented on #490
I think I found error, see my code:

`
        System.out.println("0");
        // Save player data
        Collection<? extends Player> players = Utils.getOnlinePlayers();
        for (Player player : players) {
            savePlayer(player);
        }
        System.out.println("1");
        // Do backup on stop if enabled
        new PerformBackup(plugin).doBackup(PerformBackup.BackupCause.STO

[2016-02-06 19:12] Feerko commented on #483
Please? :)

[2016-02-06 21:00] ljacqu commented on #437
@KokeCacao This should be done now ^^ Sorry for the long wait. Can you give us some feedback whether this fixes the issue you've described?

[2016-02-06 21:07] sgdc3 commented on #499
Can't understand what you mean. Can you provide a more complete description? ;)

[2016-02-06 21:09] KokeCacao commented on #437
okey, I'll test for you.
The latest build?

[2016-02-06 21:15] DardBrinza commented on #499
This messages for all server
[code]
[00:13:23 INFO]: UUID of player 6o6ik is e113f609-47cf-3add-a6fd-9fc74fd4bec6
[00:13:23 INFO]: 6o6ik[/93.84.181.218:53401] logged in with entity id 2081994 at ([world]-6.171954821668361, 71.0, -0.18655668558194327)
[00:13:23 INFO]: [AuthMe] 6o6ik logged in!
[00:14:28 INFO]: UUID of player 6767690 is 7fe72738-5258-349f-b80d-175b61cb2545
[00:14:28 INFO]: 6767690[/

[2016-02-06 21:37] sgdc3 opened #501 "Set @games647 as collaborator."

[2016-02-06 21:38] ljacqu commented on #437
Yes, please :)

[2016-02-06 21:40] sgdc3 commented on #499
Ah, right! :D Thanks for the report!

[2016-02-06 21:44] sgdc3 commented on #483
@Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi @Xephi
-----
Sorry for the spam xD

[2016-02-06 21:46] sgdc3 commented on #490
Database can't be closed, probably due to unfinished tasks.

[2016-02-06 21:47] sgdc3 commented on #498
Yeah i know, sorry i was lazy xD @ljacqu

[2016-02-06 21:49] sgdc3 commented on #489
@vst8800 Yeah, but authme should never allow users with different case to join if the preventOtherCase feature is enable. :/

[2016-02-06 21:51] sgdc3 commented on #456
@Dooleylabs I sent a commit that allows you to set the reminder interval to a value < 0 (disables the message), can you try it? ;)

[2016-02-06 22:00] KokeCacao commented on #437
No method error.
onEnable.setupDatabase

spigot.1.7.10(procotohack)

[2016-02-06 22:06] nathampa0909 commented on #490
Why @sgdc3 any updates before did not have this problem.

[2016-02-06 22:08] sgdc3 commented on #490
Because we changed how database queries are managed on server stop.

[2016-02-06 22:21] Dooleylabs commented on #456
I'll try it within 30-45 mins. I'm out at the moment.

[2016-02-06 22:36] sgdc3 commented on #456
Ok, thanks ;)

[2016-02-06 22:36] ljacqu commented on #437
Oh, yes. I think @sgdc3 is planning on handling this with #467. I completely forgot about this and focused on the email handling logic.

[2016-02-06 22:38] sgdc3 commented on #437
@ljacqu We can fix in 2 ways: shade guava into the jar (no pls xD +2Mb in the final jar) or compile the plugin under an old build of guava.

[2016-02-06 22:39] sgdc3 commented on #437
@ljacqu What do you think?

[2016-02-06 22:59] DNx5 commented on #490
Try latest code,
i dont think `database.close();` could block it.

[2016-02-06 23:38] Dooleylabs commented on #456
@sgdc3 once again, **It works!!** Now to figure out the unLogged permission and we'll be forever set!! **<3**

[2016-02-07 00:21] Dooleylabs commented on #456
Found a cavet._. When you aren't logged in, you can't break or place blocks at all...

[2016-02-07 00:50] rErEaT opened #502 "[Suggestion] Op password"
Hello!

I have a suggestion :p

What do you think about lock the op command? :)
for example: the command is the folowing: /op &lt;player> &lt;password>

[2016-02-07 01:54] sgdc3 commented on #456
right... we need to add an option to disable all the checks @ljacqu @games647 @DNx5

[2016-02-07 08:59] ljacqu commented on #498
I will "revert" this to the original question and close it since we have another issue dedicated to the duplication issue.

[2016-02-07 09:00] #498 closed

[2016-02-07 10:09] games647 commented on #456
or mark the player as logged in?

[2016-02-07 11:53] Feerko commented on #483
@games647 I see that you take care of 2fa You can also look at it?

[2016-02-07 12:10] ImPat opened #503 "delayJoinLeaveMessages uses default Minecraft join message."
When enabeling delayJoinLeaveMessages in the config it always outputs the default join message.
If you change the join message in Essentials it still uses the default message.
Could you please change it so we can change the joinmessage in the config? It doesnt need to link in with essentials or any other Plugin.
Thanks,
ImPat

[2016-02-07 12:11] sgdc3 commented on #483
Bump, any volunteer?
@Xephi @ljacqu @games647 @DNx5

[2016-02-07 12:12] sgdc3 commented on #503
@ImPat What's your Authme version? (/authme version)

[2016-02-07 12:13] ImPat commented on #503
5.2 Snapshot Build 708

[2016-02-07 12:14] games647 commented on #483
@sgdc3 Me!

It looks like IPB4 uses bcrypt but with a higher cost value.

[2016-02-07 12:16] sgdc3 commented on #456
Yeah but this will create issues with web interfaces.

[2016-02-07 12:17] sgdc3 commented on #483
@games647 Thanks ;)

[2016-02-07 12:32] games647 commented on #483
@Feerko Do you use AuthMe for registrations or logins?

[2016-02-07 12:36] ljacqu commented on #502
(Note: edited `<` to `&lt;` in the issue description because typing things like `<player>` will be interpreted as HTML otherwise)

[2016-02-07 12:43] ljacqu commented on #477
I thought this was going to be easy >.< I spent about four hours on this so far.

[2016-02-07 14:06] sgdc3 commented on #477
Wtf? @ljacqu xD

[2016-02-07 14:49] ImPat commented on #503
Please also do so with the leave message!

[2016-02-07 14:50] sgdc3 commented on #503
Join message fixed, working on the leave msg

[2016-02-07 14:52] ImPat commented on #503
Thanks, is it in the latest dev build? Do i need to regenerate my config?

[2016-02-07 14:53] sgdc3 commented on #503
No, the config is the same ;)

[2016-02-07 15:01] ImPat commented on #503
ok :+1:

[2016-02-07 20:40] Feerko commented on #483
After using the new version also works. Yey!
But now I have a problem with the Maven http://pastebin.com/raw/sFCbq5mv

I have to recompile, beacuse...
https://github.com/AuthMe-Team/AuthMeReloaded/blob/9cf7405f63b2e5bddf48c1e9487ce9f96d638088/src/main/java/fr/xephi/authme/listener/AuthMePlayerListener.java

@EventHandler(ignoreCancelled = true, priority = EventPriority.HIGHEST)
It spoils my script

[2016-02-07 22:29] ravkr commented on #477
good job @ljacqu XD

[2016-02-08 06:26] ljacqu commented on #477
Thanks—it's still on a branch currently :P I will have it done within this week sometime (Wednesday?, Thursday?). Still having some weird bugs where the timestamp is saved as 0000-00-00...

[2016-02-08 06:43] sgdc3 commented on #477
Why do we need to save 00-00-0000 ? xD

[2016-02-08 07:36] Feerko commented on #483
I was wrong. it doesn't work. In a database column of salt it is null.

[2016-02-08 08:46] vst8800 commented on #489
I agree. But in the latest dev builds the server stop letting people joining in after like 10 minutes after the server has loaded and when you stop it is stuck on disabling AuthMe and cannot stop until you hit ctrl + c in the console :/

[2016-02-08 13:41] Feerko commented on #483
I know what the problem is.
Registrations have on the server.
Forum is used to login, password recall and change the password.

When you register on the server does not fill the field with salt.
Salt is not necessary to login on the server.
To login on to the forum is needed.

[2016-02-08 14:14] games647 commented on #483
That's weird, because the salt is included in the bcrypt hash. It's the first 22 characters after the $.

[2016-02-08 14:21] Feerko commented on #483
Really.
Hmm... If the salt is not needed, then there wouldn't be salt column.
I don't know what IPB invented.

[2016-02-08 14:24] games647 commented on #483
@Feerko Does it work if you copy the salt into the salt column?

[2016-02-08 14:26] Feerko commented on #483
It worked when I changed the password to other in admin panel and automatically created the salt.

[2016-02-08 15:34] ljacqu commented on #483
@Feerko: random guess, what if you add a "salt" (random text of same length as the others) into the column?
It wouldn't make sense to persist it but maybe IPB uses a second salt for some other purposes, like creating a safer cookie to signal to the server that the user is logged in (just putting the password hash has security implications, so it's a possibility they went that way)

[2016-02-08 15:38] ljacqu commented on #483
If so, the implementation is easy: use BCrypt (with 13 as number of rounds?) + add behavior to persist a random string of fixed length to the column

[2016-02-08 15:57] Feerko commented on #483
I did it in a rather unusual way. In authme did execute commands at registration. In the script I cut the string, so that came out of the salt. It works.

set {_salt} to index 0 of objects in column "members_pass_hash" from result of query "SELECT members_pass_hash FROM core_members WHERE member_id=%{id.%arg-player%}%;"
set {_salt} to the first (index of "" in {_salt} + 28) characters of {_salt}
r

[2016-02-08 19:27] games647 commented on #483
@ljacqu So maybe we should save the salt in the salt column although it's not needed.

[2016-02-08 20:41] sNuuFix commented on #435
Sorry for the delayed response. I still haven't found the exact solution, but what I know from setting permission plugin to debug, was that it requires authme.player.register and authme.player.login permissions exactly and it seems to fail with authme.player.* wildcard setting.

[2016-02-08 20:54] DNx5 commented on #483
This looks like xenforo
[code]

[2016-02-08 21:37] sgdc3 commented on #501
@Xephi Bump

[2016-02-09 08:22] Lthwoibe opened #504 "When the server restarts reset the password."
Hello. AuthMe bound to the database. Cms - DLE. Until the server restart all is well come, but after restarting the server, when entering the password, writes that he is wrong. In the log run\disable there are no mistakes. Maybe something with config?

[2016-02-09 13:39] sgdc3 commented on #504
What's your version? Can you post your config? ;)

[2016-02-09 18:30] Eisenbahn opened #505 "Cauldron compatibility issue (same nick online)"
Its becoming too frequent the "a player with this username is already online" and he is not.
(Not sure how is the message in english, but you get the idea.)

Ive tried to disable sessions, force single session and still getting this issue.
AuthMe-5.2-SNAPSHOT

Using cauldron, java7

[2016-02-09 18:35] games647 commented on #505
Which build do you have?

[2016-02-09 18:36] Eisenbahn commented on #505
b185

[2016-02-09 18:37] games647 commented on #505
That's very old. Could you try it with a newer build?

[2016-02-09 18:38] Eisenbahn commented on #505
Can do. But ive tested a new build after generating files with this one, and the commands didnt worked. But i'll try anyway. Which one do you recommend?

[2016-02-09 18:39] games647 commented on #505
The newest.

[2016-02-09 18:41] Eisenbahn commented on #505
http://ci.xephi.fr/job/AuthMeReloaded/749/ will be then.
I'll let you know.

[2016-02-09 18:50] Eisenbahn commented on #505
Yep. No command work.
Eg:
I join and it doenst ask for login or register.
I do like /login mypass it returns in chat
"login password"  in white.

[2016-02-09 18:50] games647 commented on #505
Do you have any errors in the log?

[2016-02-09 18:55] Eisenbahn commented on #505
Yep:
http://pastebin.com/F2VsBA1x

[2016-02-09 19:45] sgdc3 commented on #505
We need to drop guava usage...

[2016-02-09 19:47] sgdc3 commented on #505
Or wait, i have an idea! :D

[2016-02-09 19:59] Eisenbahn commented on #505
Am i screwed D:?

[2016-02-09 20:42] sgdc3 commented on #505
@Eisenbahn Can you try this jar? http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-legacy.jar

[2016-02-09 20:44] sgdc3 opened #506 "Check if email recovery works with the new libs shade policy"
Since commit https://github.com/AuthMe-Team/AuthMeReloaded/commit/0f13206a75542f6b8a54edc09ca5b89b0c6722e6 we relocate all the libs.

[2016-02-09 20:45] sgdc3 commented on #488
No answer, please open another report if needed...

[2016-02-09 20:45] #488 closed

[2016-02-09 20:46] sgdc3 commented on #467
@ScuroGuardiano Ciao, dovremmo aver risolto! Prova questo jar: http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-legacy.jar

[2016-02-09 20:47] sgdc3 commented on #468
No answer

[2016-02-09 20:47] #468 closed

[2016-02-09 20:47] Eisenbahn commented on #505
Will do.

[2016-02-09 20:47] #445 closed

[2016-02-09 20:49] sgdc3 commented on #137
@DNx5 Can you look at this? ;)

[2016-02-09 20:50] sgdc3 commented on #505
Thanks ;)

[2016-02-09 20:54] Eisenbahn commented on #505
Loaded fine as i can see. Ill checked logs too. Its fine.

BUT i havent tested the primary issue i had. I'm still worried.. Files is from 185, now its 740+. Do you think i will have problems if i upload it in the main server and i had to rollback versions?

[2016-02-09 21:04] sgdc3 commented on #505
Just do a backup before the update ;)

[2016-02-10 00:11] Eisenbahn commented on #505
I'm currently using this last version. But still not sure if the primary problem is fixed, cause i havent reached the max players yet. The server is crashing/restarting sometimes tho.

This is the only crash log i got in the first crash:

http://pastebin.com/ixvDQDBs

[]'s

[2016-02-10 00:34] Eisenbahn commented on #505
Yep. Another timeout.

[2016-02-10 00:55] DNx5 commented on #505
looks like not AuthMe fault

[2016-02-10 00:57] Eisenbahn commented on #505
Thats possible.
I'm using the old version now. I'll let know if i get timeout or crashes.

[]'s !

[2016-02-10 01:49] Eisenbahn commented on #505
Server still fine.. Is there a way i could make sure is/isnt the Plugin? Any way to depure it?

[]'s

[2016-02-10 04:35] DNx5 commented on #505
i dont know why. but in your crashlog, it show me that your virtual pack plugin is the cause.

[2016-02-10 05:03] Eisenbahn commented on #505
Ye, i noticed this crash happened few times before. But again, still giving timeouts. The timeouts/no response happened cause authme somehow. Ive switch back to old version and server still up and fine. :c

[2016-02-10 09:54] WindofFreedom opened #507 "countriesBlacklist is not working"
In all 5.x versions countriesBlacklist is not working on my server. My config file is in attachment
[config.txt](https://github.com/Xephi/AuthMeReloaded/files/124485/config.txt)

[2016-02-10 12:59] sgdc3 commented on #507
You need to set "enableProtection: true" ;)

[2016-02-10 13:23] WindofFreedom commented on #507
If I set "enableProtection: true" it will be enable countriesWihitelist. How do I enable only the blacklist?
От the [Bukkit site](http://dev.bukkit.org/bukkit-plugins/authme-reloaded/pages/configure-auth-me/) says:
"Countries blacklisted automatically ( without any needed to enable protection )"

[2016-02-10 14:32] sgdc3 commented on #507
Ah sorry, i forgot about this ;) Let me check...

[2016-02-10 14:41] WindofFreedom commented on #507
))
Can I enable only blacklist?

[2016-02-10 14:44] sgdc3 commented on #507
Yeah with enableProtection: false the blacklist is enabled.

[2016-02-10 14:45] sgdc3 commented on #507
Maybe players uses proxyes to join the server...

[2016-02-10 14:50] WindofFreedom commented on #507
No, player join from countries that have been added to the blacklist

[2016-02-10 20:45] ljacqu commented on #483
@Feerko IPB4 support has been implemented by @DNx5 and should work by setting `passwordHash: IPB4` and `mySQLColumnSalt: 'members_pass_hash'` in your config. Could you please try it out with a recent [development build](http://ci.xephi.fr/job/AuthMeReloaded/)? :) [build 755 or any blue build above]

[2016-02-11 00:05] Eisenbahn commented on #505
Should i start a new possible issue about the timeout then?

[2016-02-11 01:22] sgdc3 commented on #505
What do you mean?

[2016-02-11 01:24] Eisenbahn commented on #505
The new versions works with cauldron and everything, but im getting these timeouts.. Like, server connection getting slower and slower until the console stops.
No timeouts when i put the old version back.
(I havent tested the nickname online issue yet, cause the server doesnt get full cause of that timeout thing)

My question is if i should make another post here about the possible timeout thing.

[2016-02-11 01:27] sgdc3 commented on #505
Ok if you prefer to open another issue you should ;)

[2016-02-11 01:28] #505 closed

[2016-02-11 01:53] Eisenbahn opened #508 "Timeouts in 750 + ?"
The new versions works with cauldron and everything, but im getting these timeouts.. Like, server connection getting slower and slower until the console stops.
Timeouts are gone when i put the old version back (currently using b185). (I knooow, old)

Java 7, Cauldron.
Happens with all players.

[]'s!

[2016-02-11 16:53] MCG-server opened #509 "authme email"
I put everything I've done everything but no email does not come to me as I do? new versions come out of authme - reloaded ?

[2016-02-11 17:08] sgdc3 commented on #509
@MCG-server What's your version atm?

[2016-02-11 17:16] MCG-server commented on #509
The version of my authme is 5.0 beta 3

[2016-02-11 17:16] MCG-server commented on #509
version of my sever is 1.8

[2016-02-11 17:19] MCG-server commented on #509
@sgdc3 help me please

[2016-02-11 17:19] ljacqu commented on #509
Stay patient

[2016-02-11 17:39] MCG-server commented on #509
@ljacqu  @sgdc3  @timvisee  @irobin591  @Maxetto  but will release another version of authme -reload ?? please help me to set SMTP ( that works ) , I do not send the email so it's pointless

[2016-02-11 17:57] MCG-server commented on #509
@sgdc3  @ljacqu
I have the same problem NickFirenzo you can explain to me how you have helped him risolovere this bug ??

[2016-02-11 18:06] ljacqu commented on #437
@KokeCacao The Guava issue should have been updated (via #467). Sorry for the wait/confusion

[2016-02-11 18:22] DardBrinza opened #510 "Add blocking movement in the Y coordinate."
Hello. Whether motion lock is possible in all the coordinates? This will help me with the players go out of the game. Their pulls down authme and returns them back, so they can not open a chat and to enter their passwords. Thx :)

[2016-02-11 18:27] MCG-server opened #511 "authme email recovery HELP !!!!!! (2)"
I have the same problem NickFirenzo you can explain to me how you have helped him risolovere this bug ??

[2016-02-11 18:36] MCG-server commented on #511
@timvisee  @irobin591  @Trojaner25  @DmitryRendov  @Maxetto  help me!!

[2016-02-11 18:39] sgdc3 commented on #509
@MCG-server You need to update your version: http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar

[2016-02-11 18:39] #511 closed

[2016-02-11 18:49] MCG-server commented on #509
@sgdc3

Then what should I do after installing the updated version

[2016-02-11 18:50] sgdc3 commented on #509
It should work if the config is correct and no errors are shown in the console ;)

[2016-02-11 18:52] MCG-server commented on #509
but you are the creator of authme ??
I'm configuring the plugin

[2016-02-11 18:56] Dimatert9 opened #512 "Remove players from tablist, and make they invisible when Hooks.bungeecord: true"
Can you add this? And please add fuction to hide join and leave messages.

[2016-02-11 19:01] DardBrinza commented on #512
In bungeecord config "tab_list: GLOBAL_PING" change to "tab_list: SERVER"

[2016-02-11 19:08] MCG-server commented on #509
@sgdc3 how do I configure the SMTP always from config.yml??

[2016-02-11 19:09] Dimatert9 commented on #512
Remove players from tablist and make they invisible with protocollib:
[code]
remove messages:
[code]
can you add this to this plugin. And add config functions for this?

Thanks

[2016-02-11 19:39] sgdc3 commented on #509
[code]
Just read the comments xD

[2016-02-11 19:46] MCG-server commented on #509
@sgdc3 I configured everything now I try to send an email to a accaunt , in a nutshell I pretend that one has lost the password .
updated the site of authme Bukkit plugins ( downloads)

[2016-02-11 19:56] sgdc3 commented on #509
What do you mean?

[2016-02-11 20:00] ljacqu commented on #509
Forse @MCG-server  parla italiano? Sarà più facile...

[2016-02-11 20:01] MCG-server commented on #509
@ljacqu ma siete italiani
??

[2016-02-11 20:02] sgdc3 commented on #509
Io si XD @ljacqu lo capisce

[2016-02-11 20:02] sgdc3 commented on #509
Ecco spiegata la qualità del tuo inglese :P

[2016-02-11 20:03] MCG-server commented on #509
ok grazie stavo dicendo se volete entrate nel mio server cosi capite voi quale è il problema
per favore

[2016-02-11 20:03] sgdc3 commented on #509
@MCG-server basta che lo descrivi bene xD

[2016-02-11 20:06] MCG-server commented on #509
quando il giocatore entra si puo muovere ma credo come risolvere il problema (siete grandi avete tuttala mia stima ) il problema e il radius devo metterlo a zero invece un altro problema e che non fa fare login password o register password
ip: minecraftcrazygamers.gamehosting.it   cosi lo vedete con i vostri occhi

[2016-02-11 20:08] sgdc3 commented on #509
un po di punteggiatura per favore!

[2016-02-11 20:08] MCG-server commented on #509
si, scusa
lo riscrivo ?

[2016-02-11 20:09] sgdc3 commented on #509
Si grazie xD

[2016-02-11 20:15] MCG-server commented on #509
quando i giocatori entrano sul server, si possono muovere liberi , credo che devo mettere il radius a zero.Un altro problema è che non sono constretti (cosa che devono essere) a fare /register <pass> <confirmpass> o /login <pass> . Se volete potete entrare nel server ip: minecraftcrazygamers.gamehosting.it , cosi capite meglio la situazione!! p.s avete tutta la mia stima sia come creatori di plugi

[2016-02-11 20:16] sgdc3 commented on #509
@MCG-server Ok sono dentro, quale versione del plugin stai usando? Puoi inviarmi il tuo config (ricordati di rimuovere i dati del database e dell'email) ?

[2016-02-11 20:17] sgdc3 commented on #512
@Dimatert9 Done ;)

[2016-02-11 20:17] MCG-server commented on #509
sto usando la versione che mi hai dato te.

come faccio a inviarti il onfig come hai fatto te?

[2016-02-11 20:18] sgdc3 commented on #509
incolla il config nel messaggio, seleziona tutto e clicca sull'icona con le due parentesi <>

[2016-02-11 20:22] MCG-server commented on #509
`DataSource:
    # What type of database do you want to use?
    # Valid values: sqlite, mysql
    backend: sqlite
    # Enable database caching, should improve database performance
    caching: true
    # Database location
    mySQLHost: 127.0.0.1
    # Database Port
    mySQLPort: '3306'
    # Username about Database Connection Infos
    mySQLUsername: authme
    # Password about Database Connec

[2016-02-11 20:23] MCG-server commented on #509
forse non era cosi che dovevo fare??!!

[2016-02-11 20:24] MCG-server commented on #509
ho levato e rimesso il config perchè pensavo che si risistemava

[2016-02-11 20:25] MCG-server commented on #509
se volete lo modifico con le impostazioni che voglio?

[2016-02-11 20:28] DardBrinza commented on #510
@sgdc3

[2016-02-11 20:28] nathampa0909 commented on #490
Plugin don't stop. Today 10:30 server restart and now I see the console 18:28 the server dont turned off. Build 10:30:29 INFO]: [AuthMe] Disabling AuthMe v5.2-SNAPSHOT-b759

[2016-02-11 20:43] MCG-server commented on #509
questo è il config con le impostazioni modificate            `DataSource:
    # What type of database do you want to use?
    # Valid values: sqlite, mysql
    backend: sqlite
    # Enable database caching, should improve database performance
    caching: true
    # Database location
    mySQLHost: 127.0.0.1
    # Database Port
    mySQLPort: '3306'
    # Username about Database Connection Infos

[2016-02-11 20:43] MCG-server commented on #509
@sgdc3

[2016-02-11 21:37] sgdc3 commented on #509
Si ma potresti usare almeno notepad++

[2016-02-11 21:40] sgdc3 commented on #510
@DardBrinza Keep calm xD We are now focused on bugfixes, stay tuned... ;)

[2016-02-11 21:47] MCG-server commented on #509
ma io lo uso ma non so perchè me lo fa copiare cosi

[2016-02-11 21:47] MCG-server commented on #509
ho notato che hai tolto tutte le versioni di 1.8 di authme

[2016-02-11 21:51] #482 closed

[2016-02-11 21:56] MCG-server commented on #509
se vuoi ti do il link cosi ti scarichi il mio config?? aspetto una risposta

[2016-02-11 21:56] MCG-server commented on #509
@sgdc3

[2016-02-11 21:57] sgdc3 commented on #509
Ok mandami un link, per esempio su pastebin

[2016-02-11 21:59] ljacqu commented on #512
@sgdc3
Why is there a `catch (FieldAccessException e)`? I don't see anything that would throw that.

[2016-02-11 22:00] sgdc3 commented on #512
I don't know, i think it's required with old protocol version :/

[2016-02-11 22:04] MCG-server commented on #509
io uso mediafire
ma tu vivi in america??
se si che ore sono li ?? link: http://www.mediafire.com/download/e4nco1nxx071lf1/Nuova_cartella_%282%29.rar

ma avete tolto tutte le versioni 1.8 per bug o per cosa ?? posso avere una versione per 1.8 (quando è pronta) ???

[2016-02-11 22:04] MCG-server commented on #509
@sgdc3

[2016-02-11 22:16] sgdc3 commented on #509
@MCG-server No no sono italiano DOC ;)

[2016-02-11 22:19] MCG-server commented on #509
ok anche io
ma quindi perche avete levato authme per le versioni 1.8?? e poi io come faccio a risolvere il mio problema?

[2016-02-11 22:21] sgdc3 commented on #509
@MCG-server Non abbiamo levato nulla, abbiamo solo rimosso authme 5.0 dai download perchè aveva un sacco di problemi ormai risolti in authme 5.2. Quando lo staff di bukkit avrà visionato il nuovo jar vedrai comparire una nuova voce nella sezione di download ;)

[2016-02-11 22:22] sgdc3 commented on #509
Riguardo il tuo problema: sembra che la causa del malfunzionamento sia un qualche altro plugin che va in conflitto... sicuro di non trovare alcun errore o avvertenza nel log della console?

[2016-02-11 22:24] MCG-server commented on #509
ok grande ma quanti anni hai (se vuoi)?ma io non ho capito cosa è il reparto smtp?? (so che serve per il recupero password) ma come faccio si che quando il player fa /email recovery <email> gli arriva l email nella casella di posta ... mi potresti passare la versione di authme 5.2 cosi ti dico se ci sono bug

[2016-02-11 22:25] MCG-server commented on #509
hai skype o qualcosa del genere magari teamspeak??

[2016-02-11 22:35] sgdc3 commented on #509
Si ma ormai ne parliamo domani ;)

[2016-02-11 22:36] MCG-server commented on #509
hai detto che qualche altro plugin puo andare in conflitto per esempio come faccio a vederlo( io intendo quando un giocatore fa /email recovery <email> perche non gli arriva l email anche se ho settato tutto nel config????

[2016-02-11 22:42] sgdc3 commented on #509
No,prima quando sono entrato nel tuo server ho notato una serie di problemi che non avevo mai visto. Ne parliamo domani pomeriggio, buonanotte ;)

[2016-02-11 22:44] MCG-server commented on #509
grazie che mi aiuti verso che ora domani?? buona notte anche a te

[2016-02-11 22:47] sgdc3 commented on #509
Facciamo tra le 15 e le 17, ok ? ;)

[2016-02-11 22:55] MCG-server commented on #509
si
grazie molte ti faccio una statua qualcosa sul server ti devo fare buona notte

[2016-02-12 02:43] KokeCacao commented on #467
@sgdc3 Although I have no idea what you talking about,
但是我還是會試壹試插件的, 謝謝`(*∩_∩*)′

[2016-02-12 06:37] sgdc3 commented on #467
We have fixed the issue, just download our -legacy jar from our jenkins

[2016-02-12 07:02] ljacqu opened #513 "[Dev] Link tool task execution to Maven lifecycle"
Find a way to link the tool tasks that make sense to our maven life cycle. The docs only make sense to have on the repository and it would be nice if all files corresponded to the ones in the repository, so this might be a little tricky

[2016-02-12 07:04] ljacqu opened #514 "[Dev] Messages tool should add missing messages as comments"
With the new handling of the messages we don't (and shouldn't) put English messages into translation files. But for translators it is easier for them to see what is missing: add any missing messages + English text as a Yaml comment.
Remember to also ensure that the tool task recognizes those comments in a second round; otherwise we'll keep adding those comments on every execution

[2016-02-12 07:07] ljacqu opened #515 "[Dev] Add tag for dev repo root"
The tools task work with a very simple tag replacement system. Add another tag that will be replaced with the link to the dev repo, i.e. to AuthMe-Team/AuthMeReloaded. This allows us to easy link to the dev repo in the markdown, ensuring that a user can get to the most current doc page

[2016-02-12 12:42] MCG-server commented on #509
Comunque io usavo google traduttore @sgdc3

[2016-02-12 13:18] sgdc3 commented on #509
Di notava xD Adesso sono sul bus, tra poco sarò a casa. Nel frattempo entra su questo ts: ts.gaming-italia.it

[2016-02-12 13:19] MCG-server commented on #509
@sgdc3 ma quanti anni hai ?

[2016-02-12 13:26] ScuroGuardiano commented on #467
Still the same http://pastebin.com/hvpgmDxB :/

[2016-02-12 13:27] sgdc3 commented on #509
Ne parliamo su ts, adesso non voglio intasare github di discorsi offtopic xD

[2016-02-12 15:00] sgdc3 commented on #467
@games647 any ideas? ;)

[2016-02-12 17:49] ljacqu opened #516 "[Dev] Support comments on config sections"
With `NewSetting` and `SettingsClass` implementations we can write comments in config.yml for properties with `@Comment`, but not above sections:

[code]

Implement a way to add such comments. Annotations at type level would be nice but we can only add one annotation per element. Since all settings classes implement `SettingsClass` we could put a method `Map<String, String> getSectionComments()` o

[2016-02-12 21:51] Dimatert9 commented on #512
@sgdc3 What version i need to download? Authme-legacy or -spigot?

[2016-02-12 22:11] sgdc3 commented on #512
legacy is for 1.7.10 and cauldron. spigot is for 1.8.x

[2016-02-12 22:22] ljacqu commented on #512
@sgdc3 I've added this info to the Wiki https://github.com/AuthMe-Team/AuthMeReloaded/wiki/AuthMe-Releases-%28Jenkins%29 Please update or complete it if something is not good. You understand this better than I do

[2016-02-12 22:23] Dimatert9 commented on #512
http://pastebin.com/9y1W3ZBw

[2016-02-12 22:39] sgdc3 commented on #512
@games647 What do you think about this error?

[2016-02-12 22:42] Dimatert9 commented on #512
http://pastebin.com/mCqyXK9r

in this plugin code is work.

[2016-02-12 22:52] ljacqu commented on #512
The messages suggests we have to override the `onPacketSending()` as well, see the [code and javadoc](https://github.com/aadnk/ProtocolLib/blob/master/ProtocolLib/src/main/java/com/comphenix/protocol/events/PacketAdapter.java), as well as [this](http://dev.bukkit.org/bukkit-plugins/protocollib/forum/50417-cant-use-time-update-event/)

[2016-02-13 02:50] solidern opened #517 "Welcome Message"
Hi, welcome message not working. When setting useWelcomeMessage: true or BroadcastWelcomeMessage: true, so are not working. In older versions working properly

[2016-02-13 07:23] ljacqu opened #518 "Website integration code sample prone to SQL injection"
The php code at http://dev.bukkit.org/server-mods/authme-reloaded/pages/web-site-integration/ uses the deprecated mysql_ function family and does not use a prepared statement for inserting the name into the query

[2016-02-13 08:21] ljacqu commented on #517
What `/authme version` are you using? I did a test with the most recent and it worked. The welcome message only appears when a user _registers_, not logs in.

We recently moved the welcome message from config.yml to a separate welcome.txt. If you don't have a welcome.txt in the same folder as config.yml, then something is wrong and we need to investigate. It should create it automatically.

[2016-02-13 10:02] ljacqu commented on #518
@Xephi Not asking you replace the code in the link with mine, but the SQL injection needs to be fixed. I'd also be satisfied with a mention on that page or something.

[2016-02-13 11:39] sgdc3 commented on #518
I can edit the bukkit page now. What do you need?

[2016-02-13 11:46] sgdc3 opened #519 "Move the /src/tools/docs folder to the project root"

[2016-02-13 11:51] ljacqu commented on #518
Oh, neat! I'll create a fix to the code on the page (so it's still relatively small, as opposed to the code I've committed) and I'll report back.

[2016-02-13 11:51] #401 closed

[2016-02-13 11:52] sgdc3 opened #520 "Add tempban feature after X wrong login tries."
As described in #401

[2016-02-13 11:54] sgdc3 commented on #110
@ljacqu @DNx5 @games647 What do you think about this? ;)

[2016-02-13 12:19] sgdc3 commented on #172
@ljacqu @games647 @DNx5 can you look at this? I can't understand what @Trojaner25 needs in addition to our API.

[2016-02-13 12:22] Trojaner25 commented on #172
Currently I stoppped developing bukkit plugins, so this can be closed.

[2016-02-13 12:27] sgdc3 commented on #172
@Trojaner25 Lol this feature may be useful to someone else ;)

[2016-02-13 12:28] sgdc3 commented on #172
Ok, i think this feature will be avariable when the plugin will be splitted into more modules ;)

[2016-02-13 12:28] #172 closed

[2016-02-13 12:29] sgdc3 commented on #520
Related to #192

[2016-02-13 12:35] sgdc3 commented on #314
@ljacqu Bump?

[2016-02-13 12:36] ljacqu commented on #518
@sgdc3 I have a fix for the code on the page, which uses mysqli instead of mysql and makes use of prepared statements. It's shorter than my previous commit, but not by much (because of some additional error handling / dealing because of the prepared statement).

I could imagine the page to look something like below. What do you think? :)

<hr />

## Website Integration

**Web integration**  [<-- p

[2016-02-13 12:37] sgdc3 commented on #518
@ljacqu Thanks, can you take a look at the oldest issues in the issuetracker please? ;)

[2016-02-13 12:38] ljacqu commented on #172
Just to quickly comment—probably Trojaner would have just required a few tweaks to our PreAuthEvent if I'm not mistaken.

[2016-02-13 12:38] ljacqu commented on #314
You can do it if you want ;)

[2016-02-13 12:39] sgdc3 commented on #314
Yeah but what's the "todo" list about this issue?

[2016-02-13 12:44] sgdc3 commented on #518
Done!

[2016-02-13 12:44] #518 closed

[2016-02-13 12:49] ljacqu commented on #314
I've updated the description. In a nutshell, a lot of methods in `PermissionsManager` are doing this:
[code]

That's a good sign that a common interface should be created and then we worry about _one_ permissions plugin per class.
I half-heartedly created the `PermissionsService` interface with barely any methods yet. This can either be extended to contain all common methods of the future child cl

[2016-02-13 12:52] ljacqu commented on #518
Beautiful, thanks! Could we maybe link to [/samples/website-integration](https://github.com/AuthMe-Team/AuthMeReloaded/tree/master/samples/website_integration) on the page? It has a sample form to quickly test that it works, and integration.php is a little different (but compatible)

[2016-02-13 12:53] sgdc3 commented on #518
I missed that xD

[2016-02-13 12:54] ljacqu commented on #518
If you don't like it we can skip it :P

[2016-02-13 12:56] sgdc3 commented on #518
Done, sorry!

[2016-02-13 12:58] ljacqu commented on #518
Thank you very much :blush:

[2016-02-13 13:00] sgdc3 commented on #518
@ljacqu can you login into gitter? ;)

[2016-02-13 16:29] Dimatert9 commented on #512
Thanks. Fix is work.

[2016-02-13 18:54] ljacqu commented on #512
Thanks for the feedback :)

[2016-02-14 07:06] #512 closed

[2016-02-14 08:35] ljacqu commented on #469
With a setting, we allow the same nick to be registered in different casing, i.e. "nick", "Nick", "NICK". That's why we have a `username` and `realname` column (named somewhat confusingly), where `username` is always lowercase and `realname` contains the correct casing. So it is possible—in theory—to have the following in the DB:

[code]

Currently we tell the DB that `username` should be unique,

[2016-02-14 08:54] ljacqu commented on #477
@sgdc3 Heh no, for some reason it kept writing that timestamp into the DB. Looks like I just missed a method that was still talking to the DB with the `long` format, instead of the new `timestamp`

@ravkr I think this (_finally_) concludes our story. Please close it if so, or let us know what is still open :)

[2016-02-14 09:53] i998979 opened #521 "A new messages_zhhk.yml"
I don't know where to put this, so I put it here
I saw the old messages_zhhk.yml has a lot of useless sentences
so I made a new one for you.
In this messages_zhhk.yml, I removed a lot of repeat messages
also, the old one has few advertisement of his own organisation.

the files is inside the attached file (github don't let me to put .yml as attach...)

[code]

[2016-02-14 12:52] sgdc3 commented on #521
Done! Thanks ;)

[2016-02-14 12:52] #521 closed

[2016-02-14 13:24] ljacqu commented on #521
@i998979 Thanks for the contribution! Could we ask you to translate the following as well? :) Then we have a complete zhcn file.

[code]

Also, in `wrong_captcha`, we use the placeholder `THE_CAPTCHA` to replace it with the actual captcha code. Maybe you could help us integrate it into the message. Would it just be this?
[code]

[2016-02-14 13:26] sgdc3 commented on #521
Whoops -_- i forgot to check everytime

[2016-02-14 13:35] sgdc3 commented on #469
@ljacqu Look at this: https://gist.github.com/lahwran/1188500
We can change the player name and displayname on join to match the realName

[2016-02-14 13:35] sgdc3 commented on #469
The only issue is that we need access to NMS code

[2016-02-14 14:17] i998979 commented on #521
email_already_used: '&4邮箱已被使用'
kick_antibot: '[AuthMe] 防机器人程序已启用 !请稍等几分钟後才再次进入服务器'
email_exists: '&c恢复邮件已发送 ! 你可以丢弃它然後使用以下的指令来发送新的邮件：'
two_factor_create: '&2你的代码是 %code，你可以使用 %url 来扫描'

+ wrong_captcha: '&c驗證碼錯誤，請再次輸入 /captcha THE_CAPTCHA。'
^^^^^
This one is totally correct

(actually, zhcn's one is not that good, those symbols is not unified......, but I have no way to do it coz I can read zhcn b

[2016-02-14 14:45] RoinujNosde commented on #469
@ljacqu I don't have this kind of registration. I was using AuthMe 3.5-SNAPSHOT and when you join with a different case, it asks you to use /login.

Only one person (me) logged in, whitelist was on.

[2016-02-14 15:36] sgdc3 commented on #469
@ljacqu What do you think about the setname solution?

[2016-02-14 15:48] ljacqu commented on #415
Permission change done + added to breaking changes. Still open is moving /converter to /authme converter

[2016-02-14 16:32] ljacqu commented on #469
@sgdc3 Hmm, that's very interesting. I do have mixed feelings, though, what the code does is call `Player#setDisplayName()`—but there's also `Player#getName()`. Plugins go through `Player#getName` to identify players so I'm not sure if this solves the problem.

--

@RoinujNosde I had a closer look at the log. There was a conversion from flatfile to SQLite, which seems to have gone fine. I was thin

[2016-02-14 16:34] sgdc3 commented on #469
@ljacqu Look at https://gist.github.com/lahwran/1188500#file-changeplayername-java-L42

[2016-02-14 16:35] sgdc3 commented on #469
player.setDisplayName(args[0]); set the tablist/chat name
setPlayerName(player.getHandle(), args[0]); the real nickname (very hacky code)

[2016-02-14 16:50] ljacqu commented on #521
Added, thank you very much, @i998979  :) Now zhhk is the only translation without any missing message ;)

[2016-02-14 16:51] #514 closed

[2016-02-14 16:52] i998979 commented on #521
Coz my server need this stuff but i dont to use the old one…

[2016-02-14 16:58] evolfox opened #522 "Sending the email to the following server failed : smtp.gmail.com:465"
Hello,

On the latest version AuthMe-5.2-SNAPSHOT-spigot.jar, the mail system is not working. It works on AuthMe - 3.4.

I have this error message :
Failed to send a mail to [*****@outlook.fr]: Sending the email to the following server failed : smtp.gmail.com:465

Thanks

[2016-02-14 17:08] ljacqu commented on #522
Can you please download build nr. 787 or upwards and try again? I've improved the logging and we will get more information about the issue.  http://ci.xephi.fr/job/AuthMeReloaded/

In config.yml, under `Security` > `Console`, there is:
[code]
Please make sure it is set to `true` as above. Then if you could try to send the email again we will have more detailed information in authme.log. That will

[2016-02-14 17:14] evolfox commented on #522
The build 787 seems to have failed. Unable to download

[2016-02-14 17:15] ljacqu commented on #522
ALternatively, you can use this link https://circleci-tkn.rhcloud.com/api/v1/project/AuthMe-Team/AuthMeReloaded/tree/master/latest/artifacts/AuthMe.jar

[2016-02-14 17:52] evolfox commented on #522
ok i have tested with your link and logConsole: true, it's always ditto.

With enableEmailRegistrationSystem: true, i have:

`[02-14 18:40:36]: SQLite driver loaded
[02-14 18:40:36]: SQLite Setup finished
[02-14 18:40:36]: You're using Minecraft 1.6.x or older, Log4J support will be disabled
[02-14 18:40:36]: Hooked correctly with Essentials
[02-14 18:40:36]: Hooked correctly with EssentialsSpawn

[2016-02-14 18:12] Platinteufel commented on #507
IPs from Russia are able to join my server, even I didn't add Russian IPs to the whitelist, just a few countries from EU. :/

![unbenannt](https://cloud.githubusercontent.com/assets/13700636/13035371/cc7f974a-d34e-11e5-87e0-5592f6fa67b7.png)

[2016-02-14 18:15] sgdc3 commented on #522
..... Ok we can't shade email libs

[2016-02-14 18:16] WindofFreedom commented on #507
Russian hackers forever)) But you are right, it's а bug

[2016-02-14 18:16] RoinujNosde commented on #469
@ljacqu email sent.

[2016-02-14 18:17] Platinteufel commented on #507
Sorry, deleted my comment. Just a question: My GeoIP.dat is from 2014. Should I delete and regenerate it?

[2016-02-14 18:19] sgdc3 commented on #522
Should have been fixed... Wait for latest build to compile and grab it!

[2016-02-14 18:21] sgdc3 commented on #507
@Platinteufel :/ Idk if it can be the cause of the issue, but try! ;)

[2016-02-14 18:23] WindofFreedom commented on #507
My Geoip is from 2014 too. I have already updated it, hope will help. Thank you!

[2016-02-14 18:53] sgdc3 opened #523 "GeoIp data auto update"
Old geoip data may cause bugs like #507

[2016-02-14 18:58] sgdc3 opened #524 "Update to GeoIp2 (GeoIp is deprecated)"

[2016-02-14 19:06] evolfox commented on #522
Ok, i have tested with build #7​88 and it's works ! Thank you for your support <3

[2016-02-14 19:39] ljacqu commented on #469
@sgdc3 Sorry, I missed that :P

@RoinujNosde Thank you; I got it :) I'm looking into it. I did some queries on the SQLite db and didn't find anything... so now I'll try the migration and I'll see how that goes. I'll keep this thread updated

[2016-02-14 19:50] RoinujNosde commented on #469
@ljacqu Beleza.

[2016-02-14 20:01] RoinujNosde opened #525 "[Question] Would this work?"
https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/process/join/AsynchronousJoin.java#L72
player.kickPlayer(MessageKey.NOT_OWNER);

https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/output/MessageKey.java
NOT_OWNER("not_owner"),

https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/resources/messages/messages_en.yml
not_owner:

[2016-02-14 20:47] ljacqu commented on #525
Should be done :) Pretty cool that you figured out the places to add the things :D

[2016-02-14 20:48] #431 closed

[2016-02-14 20:48] ljacqu commented on #519
;)

[2016-02-14 20:48] #515 closed

[2016-02-14 21:20] RoinujNosde commented on #525
I started learning Java :)
Pehaps this week I make a pull request to make other things translatable

[2016-02-14 21:20] ljacqu commented on #469
@RoinujNosde I could perform the flatfile to sqlite conversion with no error, and after that running the server with the sqlite database works fine for me. Also running the server with the SQLite db you provided me.

Therefore, I would like to suggest updating your AuthMe version with one of the latest builds, hopefully that helps. http://ci.xephi.fr/job/AuthMeReloaded/

I updated the error loggin

[2016-02-14 21:24] ljacqu commented on #525
That's awesome :) Any message that is public (i.e. not admin-only specific stuff) is very welcome to be translated. A few people opened issues for this, actually, so that would definitely help us out!

[2016-02-14 21:29] ljacqu commented on #501
@Xephi bump

[2016-02-14 22:26] Platinteufel commented on #452
Don't think that's very difficult to fix, would be awesome seeing it in 5.2 release. No ideas? :/

[2016-02-14 22:27] sgdc3 commented on #452
@ljacqu We should set the player's fly state to true before login, and then back to the original one (like in authme 3.4 with the limbocache)

[2016-02-14 22:29] #522 closed

[2016-02-14 22:29] sgdc3 commented on #522
@evolfox You're welcome ;)

[2016-02-14 22:29] sgdc3 commented on #519
Fine! Thank you!

[2016-02-14 22:29] #519 closed

[2016-02-15 06:57] ljacqu commented on #452
I'm unfamiliar with that part of AuthMe so it will be good to learn ^^

[2016-02-15 11:34] RoinujNosde opened #527 "user email is not getting saved"
AuthMe version: 5.2-SNAPSHOT-b790
When player issues /email add someemail someemail, he gets the "Email added" message.
But if I run /authme getemail player, it shows me "your@email.com".
PS.: I'm using sqlite.

[2016-02-15 15:33] smartmadio opened #528 "Duplicate entry ERROR"
[code]

I've searched whole Authme Database,only one 'haofan' exists.

Spigot 1.8.8 / AuthMeReloaded v5.2-SNAPSHOT (build: 790)

[2016-02-15 15:41] smartmadio opened #529 "Server often stop responding after updated Authme."
[code]
Spigot 1.8.8 / AuthMeReloaded v5.2-SNAPSHOT (build: 790)

[2016-02-15 16:23] ljacqu commented on #528
Thanks for the full error, very helpful. We had another report and I thought it was somewhere else.
Can you tell me what that player was doing? Logging in?, registering?

[2016-02-15 16:24] elessday opened #530 "Fly mode before login"
Hello,

I am looking for a logout flymod, is it possible ?
The server is actually in survival mod, but i want only the fly mod before the login.

Thank you in advance.

[2016-02-15 16:26] ljacqu commented on #528
saveAuth _inserts_ a record into the db, probably we call it at some wrong place or under wrong circumstances

[2016-02-15 16:27] sgdc3 commented on #530
Duplicate of #510

[2016-02-15 16:27] #530 closed

[2016-02-15 16:27] #525 closed

[2016-02-15 16:30] RoinujNosde commented on #527
Update: Just tested with MySQL, same thing happened.

[2016-02-15 16:31] elessday commented on #530
It is not the same problem >.<

[2016-02-15 16:35] ljacqu commented on #530
#510 suggests putting players back down to the ground—you suggest enabling flight. Both are about the same _problem_ though, and I'd wager your proposition is better (easier implementation + foolproof for water)

[2016-02-15 16:36] ljacqu commented on #527
Thanks for the detailed analysis :)

[2016-02-15 16:36] elessday commented on #530
So, there's no solution ?

[2016-02-15 16:38] ljacqu commented on #530
None atm. The problem will be tackled with #510. i think Github offers a way to follow specific issues.

[2016-02-15 16:48] smartmadio commented on #528
He's logging in.

[2016-02-15 19:59] Platinteufel commented on #452
Thank you! :)
I'm just wondering why all Build Processors are down at jenkins server. Is this intended? ^^

[2016-02-15 20:02] games647 commented on #452
[code]

[2016-02-15 20:07] Platinteufel commented on #452
Oh, okay :persevere:

[2016-02-15 22:01] RoinujNosde commented on #527
https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/datasource/MySQL.java#L332
 I think "pst.setString(x, auth.getEmail());" is missing.

[2016-02-15 22:32] DNx5 commented on #529
Is your MySQL server on the same server with Bukkit?

[2016-02-15 22:48] sgdc3 commented on #527
@ljacqu

[2016-02-15 23:09] sgdc3 opened #531 "fix jenkins hdd leak"
maybe related to https://issues.jenkins-ci.org/plugins/servlet/mobile#issue/JENKINS-29490

[2016-02-15 23:16] smartmadio commented on #529
Yes,on the same server.

[2016-02-15 23:27] DNx5 commented on #529
@sgdc3 :(

[2016-02-15 23:35] DNx5 commented on #528
@ljacqu
https://github.com/AuthMe-Team/AuthMeReloaded/blob/b3734f40102466ef145e5361b6125ed96360ddef/src/main/java/fr/xephi/authme/listener/AuthMePlayerListener.java#L254-L254

[2016-02-15 23:43] DNx5 commented on #528
@ljacqu
I just realise, i'm using saveAuth wrong. I thought that was for update PlayerAuth in the database.
But it's not, the method name is ambiguous.

[2016-02-16 00:26] DNx5 commented on #528
@smartmadio Thanks for useful stacktrace.

[2016-02-16 00:38] DNx5 commented on #508
it would help us if you put crash-log or console error here, :smile:

[2016-02-16 01:15] Eisenbahn commented on #508
I would, but i got nothing to show :c
It literally just gets harder and harder to join the server until everyone timeouts. (750)

[2016-02-16 01:40] DNx5 commented on #508
could you do.. timings paste?

[2016-02-16 01:41] Eisenbahn commented on #508
Sure. But ill come back with the timings in few days. I'm moving at the moment.

[]'s

[2016-02-16 01:43] sachaw opened #533 "using php's password hashing api"
I am using php7 and the password hashing api, for example a register function could be:
`$options = [
        'salt' => uniqid(mt_rand(), true),
        'cost' => 12
    ];
    $hash = password_hash($_POST["password"], PASSWORD_DEFAULT, $options);`
which creates a hash like: `$2y$12$199083790356be8bda908Om6AZXfMNcwbq6uYQfPEdXIYwP3jvSjy`
this is using BCrypy BTW.
so when I go to my authme config an

[2016-02-16 06:19] FabioZumbi12 opened #534 "Why "not the owner of this account"?"
Why i having this message on my lobby server: You are not the owner of this account. Please try another name!

Running in offline mode!

Theres no options to disable this? All of my players is having this and cant connect to my server!

Using the bukkit version:
**AuthMe 5.2-SNAPSHOT for 1.8.1 Feb 11, 2016**

[2016-02-16 06:23] FabioZumbi12 opened #535 "Groups on Joomla"
Using with joomla 3, the new registred players need to have an additional table to store the groups (not column on same user table).

An option to add the player group with GroupID and PlayerID in another table will solve this problem!

On joomla the player column is **xxx_users** and group column is **xxx_user_usergroup_map**.
Thanks!

[2016-02-16 06:27] ljacqu commented on #528
The method name is really bad. I understand the problem with realname now! I was looking at the wrong column I guess

[2016-02-16 17:32] markob007 opened #536 "Shows that the server is online but no one can enter"
Shows that the server is online but no one can enter...

After ten minutes no one can enter the server. Those who are inside can play.

New version problem..

[2016-02-16 23:15] rErEaT opened #537 "com.mojang.authlib.GameProfile"
Hello!

I think its problem cause of Authme:
Player com.mojang.authlib.GameProfile@1fa6d0e1[id=b874c95b-0b54-3744-9c27-fe0527956db3,name=foxi69,properties={},legacy=false] (/193.6.61.20:1666) disconnected (Disconnected)

But if not, please help me how can I fix this?

[2016-02-17 00:23] sgdc3 commented on #537
Not enough infos, please send us a portion of your log and your configuration. ;)

[2016-02-17 00:24] sgdc3 commented on #536
What's your version?

[2016-02-17 02:37] KokeCacao commented on #467
How is the progress

[2016-02-17 04:19] Dooleylabs commented on #456
Any progress?

[2016-02-17 09:01] rErEaT commented on #537
http://pastebin.com/7Y3JWrFh

What is the most stable and bugfree version of AuthMe?

[2016-02-17 09:02] rErEaT commented on #536
same problem here!

I am using AuthMe-v5.2-b768

[2016-02-17 11:33] RoinujNosde commented on #469
Warning is gone with build 793.

[2016-02-17 11:37] RoinujNosde commented on #517
# Enable to display the welcome message (welcome.txt) after a registration or a login
    # You can use colors in this welcome.txt + some replaced strings:
    # {PLAYER}: player name, {ONLINE}: display number of online players, {MAXPLAYERS}: display server slots,
    # {IP}: player ip, {LOGINS}: number of players logged, {WORLD}: player current world, {SERVER}: server name
    # {VERSION}: get cu

[2016-02-17 11:40] RoinujNosde commented on #536
What kick message they get?

[2016-02-17 14:39] rErEaT commented on #536
In the console:
Player com.mojang.authlib.GameProfile@1fa6d0eid=b874c95b-0b54-3744-9c27-fe0527956db3,name=foxi69,properties={},legacy=false disconnected (Disconnected)

In the client: Timed out

[2016-02-17 15:54] sgdc3 commented on #537
I'm sorry but this is not enough! Please provide a full log file ;)

[2016-02-17 15:57] sgdc3 commented on #467
@KokeCacao It should work now, just download latest -legacy jar ;)

[2016-02-17 16:21] markob007 commented on #536
AuthMe 5.2-SNAPSHOT please fix it..

[2016-02-17 17:20] rErEaT commented on #537
And when I stop the server its crash cause of authme cant be disabled.

http://pastebin.com/jyWbjB54

[2016-02-17 17:44] vanthoi opened #538 "Please fix changepassword on dev 793 http://ci.xephi.fr/job/AuthMeReloaded/"
I use os Linux and Bungee. When command changepassword sussce but it not change pass and consoler error:
[00:37:58 WARN]: [AuthMe] Error while getting country name [AddressNotFoundException]: The address 127.0.0.1 is not in the database.
[00:37:58 WARN]: [AuthMe] Error while getting country name [AddressNotFoundException]: The address 127.0.0.1 is not in the database.
[00:37:58 WARN]: [AuthMe] Err

[2016-02-17 21:16] sgdc3 commented on #538
Issue with GeoIp2

[2016-02-17 21:18] sgdc3 commented on #517
@solidern Yeah maybe you misread how the welcome message works, look at @RoinujNosde 's comment ;)

[2016-02-17 21:19] sgdc3 commented on #469
Ok, should have been fixed, we'll reopen this issue if the problem persists.

[2016-02-17 21:19] #469 closed

[2016-02-17 21:21] sgdc3 commented on #456
Assigned to @games647
We need to create a method shouldDenyEvent method and use it into all the listener

[2016-02-17 21:31] RoinujNosde commented on #517
Nope, he did not misread.
The welcome message should be displayed on register or login, but it's only displayed on register.

[2016-02-17 21:32] sgdc3 commented on #517
ah ok ;) let me check...

[2016-02-17 23:56] smartmadio opened #539 "Error while getting country code."
[code]
Spigot 1.8.8 / AuthMeReloaded v5.2-SNAPSHOT (build: 793)

[2016-02-18 05:45] vanthoi commented on #538
I discovered one more thing. That is the new version of your overloaded error linux kernel. It makes the whole system unresponsive. I upgraded to the most recent version I had trouble continuous server crash but it is not itself off debts due to nostalgic without any further feedback. I could not find fault in crash by one the number of times I have read a text file but by chunk, clearlag plugin.

[2016-02-18 06:37] DNx5 commented on #538
could you test this version?
http://ci.xephi.fr/job/AuthMeReloaded/797/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar
also, it would be helpful if you give us error/crash log or timings report.

[2016-02-18 06:40] vanthoi commented on #538
No I user Bukkit 1.8.3. OS linux CentOS. OK I will build new server add add plugin test timming!

[2016-02-18 06:41] sgdc3 commented on #538
Can you post your timings? /timings on
then login and quit more times
after 5 minutes /timings paste and post here the link that appears in chat

[2016-02-18 11:38] RoinujNosde commented on #517
![authme](https://cloud.githubusercontent.com/assets/6441328/13142289/4ec0dc1a-d623-11e5-82e2-673c0059a651.PNG)
Build 797.

[2016-02-18 15:23] ljacqu commented on #517
The question is now whether we should show the welcome message for register _and_ login, or if we should adjust the description.

[2016-02-18 15:27] ljacqu commented on #517
My personal opinion is the first because the config clearly says register **and** login, and that's probably more useful for a server owner. @sgdc3 Thoughts?

[2016-02-18 15:33] ljacqu commented on #539
For devs, an interesting read:
https://github.com/maxmind/GeoIP2-java/issues/28

(And indeed, a simple `null` would be simpler for unknown IP's...)

[2016-02-18 16:45] markob007 commented on #536
when will this be corrected, because un the old version Player can run into the staff name very easily

[2016-02-18 17:29] MithrandirCraft opened #540 "Players can enderpearl clip through ceiling"
Players can go through a ceiling by throwing a single enderpearl, and then logging out.

What happens then, is that when the player logs back in, he/she will appear on top of the ceiling, therefore going through it.

This is a very old bug, I believed was patched, but I saw it re-emerge recently.

---

Spigot Version: 1.8.8
Authme Version: 5.2 b702

[2016-02-18 19:43] RoinujNosde commented on #527
@ljacqu

[2016-02-18 21:20] DNx5 commented on #539
@ljacqu or we could go back with old GeoIP.
GeoIP2 depends on jackson library.

[2016-02-18 22:37] sachaw commented on #533
Hoping to get a reply soon, thanks.

[2016-02-18 22:59] sgdc3 commented on #533
@DNx5 Bump, maybe our bcrypt algorithm is different ;)

[2016-02-18 23:02] DNx5 commented on #533
our bcrypt algorithm doesn't have separated salt.
@sachaw could you try to set
`bCryptLog2Round: 12` in your config.yml ?

[2016-02-18 23:08] sgdc3 commented on #539
Ok, i missed that requirement... Let's move back to legacy geoip. P.S: I think that @ljacqu is right, we should use null as default address ;)

[2016-02-18 23:11] sgdc3 commented on #540
Can you record a video please? Thanks ;)

[2016-02-18 23:14] sgdc3 commented on #517
@ljacqu yeah, you're right, maybe we'll split this feature into two options in the future ;)

[2016-02-18 23:49] sachaw commented on #533
no, ill try thanks.

[2016-02-18 23:58] DNx5 commented on #539
I already set default value for unkown ips, that was just logging problem.

[2016-02-19 03:36] sachaw commented on #533
No luck, I changed `bCryptLog2Round: 10` to `12` no luck, i verified my hash in php was correct with `password_get_info($hash)` which returned `array(3) { ["algo"]=> int(1) ["algoName"]=> string(6) "bcrypt" ["options"]=> array(1) { ["cost"]=> int(12) } }` so nothing seems odd, I have no clue what else to try, any ideas?

[2016-02-19 04:44] DNx5 commented on #533
could you change your options variable to this,
`$options = [ 'cost' => 12 ];` cost depends on your bCryptLog2Round value in config.yml
note: it may break your old hash if you have one.

[2016-02-19 06:50] ljacqu commented on #517
So for now I'll do it for both and I'll call it a day

[2016-02-19 06:52] ljacqu commented on #539
@sgdc3 The linked issue is from the GeoIp2 repo :P I was just happy to see other people complain about the exception being thrown. It's expensive, and imho inuintive.

[2016-02-19 13:35] RoinujNosde commented on #534
Is AllowRestrictedUser true in config.yml?

[2016-02-19 13:36] MithrandirCraft commented on #540
Sure, will do right now.

[2016-02-19 13:47] xyblues commented on #508
I have the same problem

[2016-02-19 13:57] Platinteufel commented on #510
#452

[2016-02-19 14:38] MithrandirCraft commented on #540
Here you go:
https://youtu.be/EvjHTC4PCAs

[2016-02-19 14:51] DNx5 commented on #540
what's wrong with that.
where we should put that player on login? mid air or on the ground?

[2016-02-19 15:00] MithrandirCraft commented on #540
How about, not one block higher?

[2016-02-19 15:01] DNx5 commented on #540
is this happen only with one layer ceiling?

[2016-02-19 15:02] MithrandirCraft commented on #540
Good question, I'll test it.

[2016-02-19 15:07] MithrandirCraft commented on #540
Works with two layers...

[2016-02-19 15:10] MithrandirCraft commented on #540
Works from 3 to 5 layers...

[2016-02-19 15:15] MithrandirCraft commented on #540
Yeah, it worked underground too. I'm pretty sure there's no limit to how many layers you can go through :S

[2016-02-19 15:32] DNx5 commented on #524
Closing this until we got a lightweight API for it.

[2016-02-19 15:32] #524 closed

[2016-02-19 15:32] DNx5 commented on #523
https://github.com/AuthMe-Team/AuthMeReloaded/pull/106

[2016-02-19 15:32] #523 closed

[2016-02-19 15:35] DNx5 commented on #528
latest development build should work fine.

[2016-02-19 15:37] #507 closed

[2016-02-19 15:58] sgdc3 commented on #508
@xyblues Already reported in issue #490

[2016-02-19 15:59] sgdc3 commented on #534
`preventOtherCase: false`

[2016-02-19 16:02] sgdc3 commented on #539
@ljacqu Yeah i know but i've misunderstood your P.S ;)

[2016-02-19 16:03] sgdc3 commented on #517
ok

[2016-02-19 16:04] sgdc3 commented on #533
@sachaw

[2016-02-19 16:04] sgdc3 commented on #527
@ljacqu @DNx5 @games647 @Xephi

[2016-02-19 16:17] DNx5 commented on #527
@sgdc3 that source code is from Xephi's repo. that's old and already fixed
https://github.com/AuthMe-Team/AuthMeReloaded/commit/7eeabd68e788474378fdaa44c1827552c5bb6ef8

[2016-02-19 16:17] games647 commented on #533
@sachaw
Infact the Bcrypt implementation is different. The library we use uses $2a. Could you try to set "BCRYPT2Y" as encryption method in your authme config.

[2016-02-19 16:35] DNx5 commented on #533
:laughing: ah I didn't notice that. but still, it doesn't have separated salt.

[2016-02-19 16:39] DNx5 commented on #527
Just found the problem, should works fine now.

[2016-02-19 16:41] games647 commented on #533
Neither does PHP.

[2016-02-19 16:51] ljacqu commented on #523
It would be interesting to know if the legacy GeoIp is at least still updated somewhat. Otherwise the data will become too inaccurate soon

[2016-02-19 17:26] sgdc3 commented on #523
It seems to be updated: http://dev.maxmind.com/geoip/legacy/downloadable/

[2016-02-19 17:38] ljacqu commented on #527
Thanks, @DNx5; excellent work as always!

[2016-02-19 17:43] andris155 opened #541 "AuthMe v5.2-SNAPSHOT-b763 removePassword: true not work"
![kepkivagas](https://cloud.githubusercontent.com/assets/8324198/13183762/b37c91f6-d738-11e5-940a-d3c57d698da7.PNG)

[2016-02-19 17:55] ljacqu commented on #533
Assigning to me as I will provide a fully functional sample

[2016-02-19 18:16] ljacqu commented on #533
@sachaw
https://github.com/AuthMe-Team/AuthMeReloaded/tree/master/samples/website_integration/bcrypt
Using the two files there ^ I can log in and register both ways (on the php page and in AuthMe). But new registration may not work in AuthMe due to database cache. If you restart the plugin then it works. But that's another issue.

[2016-02-19 18:18] FabioZumbi12 commented on #534
Still not allowing: http://prntscr.com/a5e2xd

[2016-02-19 18:20] ljacqu commented on #534
@sgdc3 The error comes from AsynchronousJoin
[code]

I don't have time to troubleshoot which setting this is but hopefully that points in the right direction

[2016-02-19 18:31] FabioZumbi12 commented on #534
Reproducing the problem, using "AllowRestrictedUser: false" that Works, but i need to allow one nick to player test and have a preview on my server. Then i need to have this option enabled. This is my config:

[code]

[2016-02-19 18:32] Done84 opened #542 "Timstamp issue. Re-Register - Spigot version"
Hi. i just tried version #799 Spigot.
First i was getting this error:

[12:58:22] [Craft Scheduler Thread - 131/WARN]: [AuthMe] Could not get timestamp from resultSet. Defaulting to current time [SQLException]: Cannot convert value '0000-00-00 00:00:00' from column 5 to TIMESTAMP.
[12:58:22] [Craft Scheduler Thread - 132/INFO]: [AuthMe] Player itzgamefreak_ has logged in from one of your server!

[2016-02-19 18:40] Done84 commented on #542
More errors: http://pastebin.com/BdDZgEyj

[2016-02-19 18:42] FabioZumbi12 commented on #541
Yes, this a critical bug! No snapshots on jenkings solving this? Thanks!

[2016-02-19 18:46] Done84 commented on #542
Also i reverted back to a previous version that worked fine mostly, and the problem persists.

[2016-02-19 18:47] RoinujNosde commented on #534
Why 127.0.0.1?

Você é brasileiro?

[2016-02-19 18:49] FabioZumbi12 commented on #534
Sim, sou kkkk
E é um bot do site que uso pra conectar no server!

[2016-02-19 18:52] RoinujNosde commented on #534
Tente trocar esse IP pelo IP externo da máquina.

[2016-02-19 18:53] FabioZumbi12 commented on #534
Mas não acontece com esse nick, acontece com todos que tentam se logar!
"But this happens not only for this nick, its with all player Nicks that tryng to join!"

[2016-02-19 18:55] RoinujNosde commented on #534
Tente mesmo assim :)

[2016-02-19 19:07] FabioZumbi12 commented on #534
Mesmo com o IP do meu host que uso pra conectar não funciona!

[2016-02-19 19:46] Done84 commented on #542
For for the monolog, but im getting a bit desperate here.
Tryed the lates build that just came out #802

The behavior is not consistent. Some people are asked to register even thought they already are. Some are not.

[2016-02-19 20:18] RoinujNosde commented on #527
Build 802:
It's not fixed.

[2016-02-19 20:22] RoinujNosde commented on #527
Update:
If I use /email add fakeemail fakeemail and then /email change fakeemail realemail.
It works.

[2016-02-19 20:29] ljacqu commented on #542
A question while I fix the timestamp issue -- are there many users in the database with 00:00:00 as timestamp? If so, do you know the "origin" of any of those? Like, where they registered by an admin maybe? (Or anything like that that would make them stand out from other players)

[2016-02-19 20:43] Done84 commented on #542
Not sure if this is the propper way to search as i am not good with mysql, but heres my try:
http://prntscr.com/a5g891

Also, i dont get the timestamp error anymore, i just get a few players asked to register when they are already in the database and nothing stops them from doing so.

[2016-02-19 20:50] ljacqu commented on #527
Thanks for the update. Hopefully it's fixed now. (Build nr. 803 or upwards)

[2016-02-19 21:13] Done84 commented on #542
Maybe this comparison can help
Bugged player in my backup database: http://prntscr.com/a5gnsz
Bugged player in my curreent database: http://prntscr.com/a5goht

[2016-02-19 21:25] ljacqu commented on #542
I'm thinking about this, and I'm at a complete loss where this 00:00:00 stuff comes from. Did you recently update AuthMe version? We did a change to the timestamp recently and automatically migrated that column; I wonder a) whether the migration is faulty and/or b) whether it causes trouble together with the database caching.

Your two most recent screenshots—are both records in the same database?

[2016-02-19 21:40] Done84 commented on #542
the first screen shot is from i backup i made before updating to the new -spigot builds of authme, the second is how the database became ofter the fact for a player that had the Re-Register issue.

[2016-02-19 21:42] ljacqu commented on #542
It seems quite the same, besides the last position. I just realized, though, that it might be because your database got purged. We haven't updated to the new format so it might be that we just match way too much and delete too many accounts. I'll report back.

[2016-02-19 22:18] Done84 commented on #542
Things seeamed stable for a while then booom.. all hell breaks lose and people get asked to re-register.

rror during SQL operation: [MySQLIntegrityConstraintViolationException]: Duplicate entry 'vengadordelolpvp' for key 'username'

full log: http://pastebin.com/DcUD7bNB

[2016-02-19 22:28] Done84 commented on #542
Ok so... The BungeeCord hook somehow set itself to "true" and changed it back to false and now things seem stable. I report back once again to confirm... jesus

[2016-02-19 23:07] sgdc3 opened #543 "[Maven] New pom style: yaml"
https://gist.github.com/sgdc3/6144626a390b9428ad76
Would you like a pom like that? ;)

[2016-02-20 00:46] DNx5 commented on #534
try to enable bungeecord hook.
[code]
if this didn't work, probably we have problem getting player's real IP.

[2016-02-20 00:53] sgdc3 commented on #531
fixed atm

[2016-02-20 00:53] #531 closed

[2016-02-20 00:56] sgdc3 commented on #506
doesn't work xD reverted

[2016-02-20 00:56] #506 closed

[2016-02-20 00:57] sgdc3 commented on #510
i'll close this because the other issue is more clear.

[2016-02-20 00:57] #510 closed

[2016-02-20 01:01] sgdc3 commented on #502
This should be handled by another plugin

[2016-02-20 01:01] #502 closed

[2016-02-20 01:02] sgdc3 commented on #504
Bump!

[2016-02-20 01:31] RoinujNosde commented on #527
Fixed! xD

[2016-02-20 01:31] #527 closed

[2016-02-20 02:43] smartmadio opened #544 "removeSpeed stops player from moving after switching server."
There're two servers (server A and server B) under the same bungeecord.They all have authme installed.
I've turned 'bungeecord' hook and 'removeSpeed' to 'true' in the config.yml.But when player logged in in server A and then switched to server B ,player can't move in server B (But he could jump in server B,authme also suggested that he had already logged in successfully.).
Need help on it.Is ther

[2016-02-20 05:10] sachaw commented on #533
thanks, trying it now

[2016-02-20 05:24] Platinteufel opened #545 "Early 1.9 Support"
Hey AuthMe-Team. :)
According to this thread in spigot forums
https://www.spigotmc.org/threads/minecraft-1-9-more-info.124273/
Spigot/Bukkit 1.9 will be released at Feb 26th. The 1.9 API should be already available on git. Is it possible to support early 1.9 builds in time? That would be awesome. :)

[2016-02-20 05:36] sachaw commented on #533
half working:
If i register with AuthMe I can login to my server and online - Good.
If i register with  with my registration script, I can login to my site but not my server - Bad.
my `config.yml` has the following confg:
`passwordHash: BCRYPT`
`bCryptLog2Round: 12`
My registration function I have tried:
`$options = [ 'cost' => 12 ];
$hash = password_hash($_POST["password"], PASSWORD_BCRYPT, $opti

[2016-02-20 05:57] ljacqu commented on #543
I had no idea that was a thing—trying to stay open-minded :P

[2016-02-20 05:58] ljacqu commented on #502
Thanks for the suggestion, @rErEaT—I agree with @sgdc3. What you can do is rename the /op (and /ban etc.) commands in your server config file so that they do something else.
The server I used to maintain had /eop, /eban (besides /eop Essentials already provides these e-commands) and we redirected /eop, /eban to a trivial command no one had permission for (namely /ptime). So for the user it looked

[2016-02-20 06:01] ljacqu commented on #533
Does it work with the files I linked to? If so, kindly post your entire php code (or create a repo and I'll send a PR tofix it).
If not, we need to troubleshoot

[2016-02-20 06:02] ljacqu commented on #533
Oh, this might be because:

Could you please check if that is the issue?

[2016-02-20 06:05] sachaw commented on #533
ill try thanks.

[2016-02-20 06:12] sachaw commented on #533
db cache is not the problem, must be my register function, here's a simplistic version, please the procedural style, just used to try 2 get 2 work.
`session_start();
if ($_POST["password"] != $_POST["verify"]) {
    header('Location: ../../login/invite/new?error=mismatch');
} else {
    include '../mysql.php';
    $options = [
        'cost' => 12
    ];
     $hash = password_hash($_POST["password

[2016-02-20 06:15] ljacqu commented on #533
Does it work with the files I linked to?

[2016-02-20 06:20] sachaw commented on #533
was getting some errors `
Fatal error: Call to a member function bind_param()`

[2016-02-20 06:20] sachaw commented on #533
and similar error on login

[2016-02-20 06:28] ljacqu commented on #534
Please check with build nr. 805 or upwards

[2016-02-20 06:43] ljacqu commented on #533
OK, i had to remove some stuff from your script since I don't have an "invites" table etc.
[code]

Sent a request, verified that it was put into authme, started the server, could log in just fine. I would suggest outputting the queries you execute, try them manually, make sure that they go through. Make sure that `$result` is `true` after executing; things like this.
If caching is not a problem I

[2016-02-20 06:58] sachaw commented on #533
I think it is a problem with verifying the password on the plugin side, can you please supply you config.yml please, as the hash inserted into my db from your script works for logging into my site but not the server.

[2016-02-20 06:58] sachaw commented on #533
I am certain the hash is fine

[2016-02-20 07:01] ljacqu commented on #541
Cannot reproduce. I have in config.yml
[code]

Otherwise maybe some other plugin interfering or something? I checked on Spigot with barely any other plugins. CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

[2016-02-20 07:06] ljacqu commented on #533
I have
[code]

I left `bCryptLog2Round: 10`, that shouldn't be an issue. My entire config is here: http://pastebin.com/rf5AhPgQ but I wouldn't suggest to use it. I use this for development so I switch around different settings and I'm not exactly sure what is enabled/disabled at this point since it's not for an external server.

[2016-02-20 07:19] sachaw commented on #533
heres what i tried:
1| register with the server, can login to server and mc.
use `var_dump(password_get_info("$2a$10$.xzsPPVHX09Hx9qGv0T0OufjVCsENg2lP.9IMQkgoirzzoM2IlRY."));` on site, but returns:
`array(3) { ["algo"]=> int(0) ["algoName"]=> string(7) "unknown" ["options"]=> array(0) { } }`
I have no clue, it just keeps getting more and more confusing.

[2016-02-20 07:23] ljacqu commented on #517
Please verify. (@solidern or @RoinujNosde)

Welcome message upon login was changed to be shown only on email registration...? https://github.com/AuthMe-Team/AuthMeReloaded/commit/48b845b That wasn't even so long ago but I don't remember the context, so I undid that check.

[2016-02-20 07:34] sachaw commented on #533
ignore the last part of my pervious comment, I tried a few bcrypt generators online, all of which let me login to my site with and the server, so there must be something when im gernerating a hash

[2016-02-20 07:40] sachaw commented on #533
think there's something wrong with my salt, as a hash generated by the plugin works by verifying with https://www.dailycred.com/article/bcrypt-calculator but one that php generates does not. I dont want a custom salt, as

[2016-02-20 08:03] sachaw commented on #533
after trying my options, I just need to know if i can get AuthMeReloaded to use `$2y`, I can't do this in the config with `BCRYPT2Y`

[2016-02-20 08:06] sachaw commented on #533
Just looked ad https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/security/HashAlgorithm.java and noticed that `BCRYPT2Y` was ther but in my log `[WARN] [AuthMe] ERROR: Unknown Hash Algorithm; defaulting to SHA256`

[2016-02-20 08:23] FabioZumbi12 commented on #541
My lobby server has only this plug-ins:
Plugins (11): AdvancedPortals, AuthMe, UltimateHub, WorldEdit,
Legendchat, MaxBans, SkinsModule, PictureLogin, BetterAlias, PacketListenerApi, ProtocolSupport

[2016-02-20 08:52] sachaw commented on #533
just scanned the jar that i have 5.0beta3(dont know if it's upto date but couldnt find a newer one anywhere else) which contained no information on BCRYPT2Y, so if anyone has a more recent compiled version, could you please supply me with one thanks.

[2016-02-20 08:57] sachaw commented on #533
NM, Finally git it working. Thanks for your help, especially @ljacqu

[2016-02-20 08:58] FabioZumbi12 commented on #534
Hook with bungee already true. I will try the new build ;)

[2016-02-20 09:09] FabioZumbi12 commented on #534
Yay, seems working fine now! My TesteDemo can login only from that ip (tested with my ip) and other player can connect too ^^

I only received this message:
[code]
I already added on my messages_br.yml but only for information ;)

[2016-02-20 10:18] #494 closed

[2016-02-20 10:31] RoinujNosde commented on #517
Build 807:
Fixed.

[2016-02-20 11:14] ljacqu commented on #534
@FabioZumbi12 Thanks for the verification, and for the report—it should be fixed now.

[code]

If you think this concludes this issue, kindly close it, otherwise please let me know what's still open. :)

Finally, if you have any [messages_br](https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/resources/messages/messages_br.yml) texts we don't have that you'd like to share, we'd gla

[2016-02-20 11:17] ljacqu commented on #517
Thanks for verifying!

[2016-02-20 11:17] #517 closed

[2016-02-20 11:47] #533 closed

[2016-02-20 11:53] sgdc3 commented on #545
Yeah yesterday i checked the api changes. We need only to fix missing event listeners ;)

[2016-02-20 11:56] sgdc3 commented on #544
Issue with bungeecord messaging

[2016-02-20 12:42] DNx5 commented on #529
@smartmadio is it fixed?

[2016-02-20 12:45] smartmadio commented on #529
Yes,it's fixed.@DNx5

[2016-02-20 12:46] #529 closed

[2016-02-20 13:47] #458 closed

[2016-02-20 14:14] xyblues opened #546 "Time Out"
I'm sorry for my poor English.
When the server is running, sometimes the player will time out.
Java 8, Spigot.
And I type /stop
the server will cannot disabling authme(Maybe he needs a long time?)
http://timings.aikar.co/?url=15143676
 buildnumber #803
@sgdc3 I think they are different.
`[21:47:53] [Server thread/INFO]: com.mojang.authlib.GameProfile@662c023[id=e2779022-0f62-3c8e-ace6-ca8efd22a960

[2016-02-20 14:23] sgdc3 commented on #546
please run /authme version and tell us your buildnumber

[2016-02-20 14:24] sgdc3 commented on #546
ups sorry i misread your infos. 808, thanks

[2016-02-20 14:25] xyblues commented on #546
buildnumber:803

[2016-02-20 14:28] ljacqu commented on #423
@MithrandirCraft Is this still an open issue?

[2016-02-20 14:29] smartmadio commented on #546
I have the same problem that authme can't be disabled correctly when shutting down the server.

[2016-02-20 14:35] sgdc3 commented on #456
Why did i close this? O_o thanks @ljacqu

[2016-02-20 14:37] ljacqu commented on #456
@sgdc3 It's not your fault—when someone commits something along the lines of "Fix #456" or "Close #456" it automatically closes the issue. This only happens for commits on Xephi/master, which happened with the pull request you merged (and thanks for that! It was time). :)

[2016-02-20 17:41] sgdc3 commented on #545
No errors! AuthMe is already compatible with the new API ;)

[2016-02-20 17:44] vanthoi commented on #538
ok it is not crash by plugin. it crash by RAM server have 1 chanel error. Thanks

[2016-02-20 17:47] #545 closed

[2016-02-20 17:48] sgdc3 commented on #538
Ok open another report if you find other issues ;) Thank you!

[2016-02-20 17:48] #538 closed

[2016-02-20 17:51] sgdc3 commented on #456
@DNx5 @ljacqu @games647 Who want to fix this? ;)

[2016-02-20 17:52] Platinteufel commented on #545
Wow, nice to hear. :)

[2016-02-20 17:53] sgdc3 commented on #433
This issue is fixed but now the server is unable to stop XD The database can't be closed and the shutdown freezes.

[2016-02-20 17:54] sgdc3 commented on #543
We shouldn't use this: services like versioneye will break!

[2016-02-20 17:54] #543 closed

[2016-02-20 17:59] ljacqu commented on #543
Thanks for the update. The pom looks really nice in YAML but not at the cost of relying on unstable services / deviating from the standard. You made the right call, so great work :)

[2016-02-20 18:00] sgdc3 commented on #543
"great work" xD Only xml-hate :+1:

[2016-02-20 18:55] ljacqu opened #547 "[Dev] Revise (a)sync task architecture"
Introduce a service to easily pass our usual service instances to the (a)sync processes and to avoid static injections.

[2016-02-20 19:41] Done84 commented on #542
Same issue as #537

[2016-02-20 22:06] andris155 commented on #541
Used plugins:
![kepkivagas](https://cloud.githubusercontent.com/assets/8324198/13199476/8c10f4d8-d826-11e5-951e-bcbdbc5d8eb2.PNG)

[2016-02-20 22:44] sgdc3 commented on #541
Ok, not a compatibility issue :(

[2016-02-21 00:17] MithrandirCraft commented on #423
@ljacqu This isn't an issue, it's a suggestion :)
Anyway, I still havent got the change to test if the latest builds already apply this. I am quite stable at the moment, and I'm waiting for a full release on bukkit.

[2016-02-21 00:53] Eisenbahn commented on #508
Ello. Still need timings? If so, how long should i run it?

[2016-02-21 02:02] DNx5 commented on #547
Is this can be used to wait uncomplete scheduled async bukkit task before closing MySQL datasource?
#542
http://hastebin.com/wukesebuhu.avrasm

[2016-02-21 02:06] DNx5 commented on #508
5mins is okay. or until you get that timeout.

[2016-02-21 02:15] DNx5 commented on #456
this should be, "No Need to Authenticate Players" feature.
@sgdc3 How about the newconfig.yml? is it good enough?

[2016-02-21 09:13] #501 closed

[2016-02-21 09:13] games647 commented on #501
@Xephi Thanks

[2016-02-21 09:31] xyblues opened #548 "BUG"
[1.txt](https://github.com/Xephi/AuthMeReloaded/files/139536/1.txt)

[2016-02-21 10:06] ljacqu commented on #548
@xyblues Thanks for the log!
How many other plugins do you have and how long (with how many players) does it take for this to happen? I'm trying to get a feeling of the dimensions.

---

@ Devs, analyzing the log

[code]
Might something be causing blocking in CacheDataSource? Most of the threads with `State: BLOCKED` have a stacktrace pointing to CacheDataSource!

-
Other (but probably somewhat mi

[2016-02-21 10:08] ljacqu commented on #547
That should be one level above, ProcessService is passed to the processes themselves for some common tasks like sending a message to players (has advantages of adding a layer between the real services and the action in case we ever switch, and no need to get services statically)

If you want to implement a waiting mechanism that should probably be on `Management` level, but I wouldn't be sure how

[2016-02-21 11:06] ljacqu commented on #548
@DNx5 You know the Guava stuff better than I do. Could it be this change?

In #508 @Eisenbahn says it started around build nr. 750; that was on Feb 9th and the commit is from Feb 5th.

[2016-02-21 11:08] sgdc3 commented on #456
we can't switch to newsettings atm, the NewSettings class is still a WIP and settings often are taken from the old Settings class.. If we need to add an option we had to insert it in the old file.

[2016-02-21 11:16] DNx5 commented on #546
@xyblues fixed?

[2016-02-21 11:52] DNx5 commented on #548
[code]
Killed the main thread.

[2016-02-21 12:03] sgdc3 commented on #548
As killed you mean blocked by a task, right?

[2016-02-21 12:15] xyblues commented on #548
@ljacqu
plugins:17 other plugins
player:I use BungeeCord,The total number of players to reach 140

[2016-02-21 12:17] DNx5 commented on #548
maybe the database isn't responding. and because that check called in server thread, it crashed.
@xyblues is your database on the same server?

[2016-02-21 12:17] xyblues commented on #548
@DNx5  Yes

[2016-02-21 12:20] DNx5 commented on #548
can you show us your config.yml?

[2016-02-21 12:23] xyblues commented on #548
[config.txt](https://github.com/Xephi/AuthMeReloaded/files/139602/config.txt)

[2016-02-21 12:33] sgdc3 commented on #548
Ok, have you tried to enable the bungeecord hook and disable the kickPlayersBeforeStopping feature?

[2016-02-21 12:35] sgdc3 commented on #548
I know this can't be the cause but we should try...

[2016-02-21 12:36] xyblues commented on #548
Ok,thanks.I will

[2016-02-21 12:39] DNx5 commented on #548
For temporary fix,
you could set allowMovement to false or set the allowedMovementRadius to 0

[2016-02-21 12:42] DNx5 commented on #548
@sgdc3 kickPlayersBeforeStopping feature is not work.

[2016-02-21 12:50] DNx5 commented on #548
@ljacqu
we call it on pre login because we need the cache of PlayerAuth for next sync event.

[2016-02-21 13:22] RoinujNosde commented on #442
Still happens on:
Build 813
CraftBukkit version git-Spigot-db6de12-3f3c65f (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

[2016-02-21 13:45] sgdc3 commented on #546
@xyblues bump

[2016-02-21 16:14] RoinujNosde commented on #442
Update:
I set maxRegPerEmail to 2.
Registered SirCadogan and killer010 with blabla@email.com.
When I tried to register RoinujNosde with the same email, it displays me max_reg msg.
So it just does not work with maxRegPerEmail: 1.

Here is another bug I found:
Both killer and sircadogan were registered, so the limit was reached, but i was able to register RoinujNosde using blabla@email.COM.
Should I

[2016-02-21 16:20] RoinujNosde commented on #541
Both of you are using MultiCraft?

[2016-02-21 16:47] ljacqu commented on #442
If I understand correctly, the issues are:
1. email check does not work when maxRegPerEmail is set to 1
2. Email check is case-sensitive

If it's just that, we're OK with one ticket :) Both should be easy fixes. Thanks a lot for your analysis!

[2016-02-21 16:52] RoinujNosde commented on #442
That's it :)

[2016-02-21 17:00] FabioZumbi12 commented on #541
I am not! I using direct with SSH and not PaperSpigot.

[2016-02-21 17:10] RoinujNosde commented on #541
Can you try to run your server locally?

[2016-02-21 17:44] RoinujNosde commented on #442
Registered SirCadogan and killer010 with blabla@email.com.
 When I tried to register RoinujNosde with the same email, it displays me max_reg msg.
 So it just does not work with maxRegPerEmail: 1.

Ignore this.
Just tested again and maxRegPerEmail: 1 is working.

[2016-02-21 19:03] andris155 commented on #541
I tested Windows bat, and Multicraft.

[2016-02-21 19:06] andris155 commented on #541
http://ci.xephi.fr/job/AuthMeReloaded/813/ = work removePassword: true Thanks!

[2016-02-21 19:14] ljacqu commented on #541
Thank you for the update. I have no idea what changed in the meantime :P
@FabioZumbi12 Does a new build also solve it for you?

[2016-02-21 19:21] RoinujNosde commented on #442
P.S.: This is still a bug:

[2016-02-21 20:40] ljacqu commented on #442
Thanks as always, @RoinujNosde; I hope you stick around! You're providing us with a lot of helpful analyzes and insight. The issue at hand should be fixed with build nr. 816 or upwards :)

Full disclosure, haven't tested on MySQL before pushing but will do that now...

[2016-02-21 20:51] ljacqu opened #550 "Welcome message shown twice upon registration"
Looks like a recent fix by me now makes the welcome message be displayed twice. Reason is after registration we call the login event so it goes through it twice.

[2016-02-21 20:56] ljacqu commented on #542
@sgdc3 @DNx5 @games647
I would like to suggest reverting the lastlogin column from `timestamp` back to `bigint`. For one, we're only doing it for MySQL (because SQLite doesn't have such a type) and MySQL does not like the timestamp `0000-00-00 00:00:00`. Checking for this value before retrieving it is annoying and requires two reads for one value. Therefore, I will create a pull request shortly an

[2016-02-21 21:07] RoinujNosde commented on #442
Man, as long as I am a server owner, I am gonna use AuthMe and help reporting bugs :)

[2016-02-21 21:13] ljacqu opened #551 "Email registration does not work when no email is set"
RegisterCommand checks if email registration is enabled but only performs email registration if the mail account setting is populated with a value. Otherwise, even though the user did `/register mail@example.com mail@example.com`, the registration process will continue and interpret the email as the password...

[code]

If no mail account is set it means the user's password cannot be sent by mail,

[2016-02-21 21:47] FabioZumbi12 commented on #541
Yess, solved the /register nd /login problens ^^
http://prntscr.com/a6aiwq

[2016-02-21 22:27] FabioZumbi12 commented on #534
I wait before close i theres some bug but now is working fine ;)
And on AuthMe-5.2-SNAPSHOT-spigot.jar/messages already have messages_br.yml, or you mean the message for 'not_owner_error' message?

[2016-02-21 22:35] RoinujNosde commented on #534
Voce nao e o(a) dono(a) desta conta. Por favor, use outro nome!
:)

[2016-02-21 23:25] #541 closed

[2016-02-21 23:25] sgdc3 commented on #541
Fine ;)

[2016-02-21 23:31] sgdc3 commented on #542
yeah, you're right ;)

[2016-02-21 23:49] sgdc3 commented on #546
@xyblues Any news?

[2016-02-22 00:19] Done84 commented on #542
I dont know if its relevant... but. With the latest builds i wasn't getting the error in console anymore. Just the timeouts.

[2016-02-22 01:14] xyblues commented on #546
Still timeout....

[2016-02-22 05:51] ljacqu commented on #542
@sgdc3 Are you doing it? I'm confused by the "in progress" label

[2016-02-22 09:43] Saren-Arterius opened #552 "Stuck at login -> Reload authme from console -> Server hangs then crash"
AuthMeReloaded #813 w/SQLite
PaperSpigot #434

Part of server log that is useful.

    [17:37:38] [Server thread/INFO]: Use the command /authme about to view about.
    [17:37:41] [Server thread/INFO]: com.mojang.authlib.GameProfile@36ef1eac[id=bcf460b3-afa1-4f43-b7a2-526630389881,name=Shaorune,properties={textures=[com.mojang.authlib.properties.Property@254b3bb1]},legacy=false] (/192.168.0.100:59

[2016-02-22 09:57] Saren-Arterius commented on #552
Currently I disabled cache and see if login will still stuck

[2016-02-22 19:45] ljacqu commented on #534
Thanks. Message has been added via pull request of @RoinujNosde

[2016-02-22 19:45] #534 closed

[2016-02-22 23:00] sgdc3 commented on #542
@Done84 can you try latest build? ;)

[2016-02-22 23:04] sgdc3 commented on #442
@RoinujNosde can you try latest build and report back? :)

[2016-02-22 23:10] RoinujNosde commented on #442
@sgdc3 Just downloaded 817, opened its plugin.yml:

[2016-02-23 00:31] RoinujNosde commented on #472
What if the password is not changed on a recovery?
For instance:
Old password: 12345
New password: 54321

If I login with 12345 means that I was able to remember my password, so the new one is not necessary.
The old one would only be dumped if the new is used.

[2016-02-23 11:17] dankand commented on #544
I have the same problem as you

[2016-02-23 11:44] dankand commented on #536
Build #813 same problem as you  but,  Build #699 don't have join problem

but every time when server is stopping i get

[AuthMe] Disabling AuthMe v5.2-SNAPSHOT-b699
[Server thread/WARN]: [AuthMe] Can't perform a Backup: disabled in configuration. Cause of the Backup: STOP
[Server thread/INFO]: [AuthMe] Waiting for 261 tasks to finish
[Server thread/INFO]: [AuthMe] Async task 1 024 003 times out af

[2016-02-23 13:48] RoinujNosde commented on #472
Other thing that can prevent this is secret answers.
In order to request a new password, player would have to answer correctly to questions he created.

[2016-02-23 13:54] Xephi commented on #552
Can you try with latest build please?

[2016-02-23 16:38] Saren-Arterius commented on #552
I will try that tomorrow

Alexandre Vanhecke <notifications@github.com> 於 2016年2月23日週二 21:54 寫道：

[2016-02-23 16:40] Platinteufel commented on #441
@ljacqu Do you still need German translations for 5.2 release?

[2016-02-23 22:41] sgdc3 commented on #441
@Platinteufel Yes please ;) Just open a new issue with a link to your message_xx file.

[2016-02-23 22:42] Eisenbahn commented on #508
http://timings.aikar.co/?url=15183993

This is NOT my crowded server. That one was around 15 players while was timing.

Im using the last versin right now (821) and got no timeout or any other issues yet.

[2016-02-23 23:01] Eisenbahn commented on #508
OK. Server is at 4 players now. I cant even join myself. And apparently noone can :(

[2016-02-23 23:18] RoinujNosde opened #554 "Loading/creating spawn.yml"
Build 821:
There is some kind of bug on loading/creating spawn.yml:

at fr.xephi.authme.settings.Spawn.<init>(Spawn.java:26) ~[?:?]
at fr.xephi.authme.settings.Spawn.getInstance(Spawn.java:42) ~[?:?]

How to reproduce:
1. Delete your spawn.yml file
2. Start your server
Or:
1. Start your server
2. Use /authme reload
Or:
1. Start your server
2. Join server

[2016-02-23 23:28] RoinujNosde commented on #442
Fixed.

[2016-02-24 00:04] #442 closed

[2016-02-24 00:05] sgdc3 commented on #442
Thank you ;)

[2016-02-24 00:11] sgdc3 commented on #508
damn :( The timings are ok, nothing suspicious... @DNx5 @games647 any idea?

[2016-02-24 02:41] Done84 commented on #542
@sgdc3 To be honest, I'm scared to death to that ... Dealing with a big database restoring things is such a pain...
I'll do it later tomorrow and report back.

[2016-02-24 06:45] sgdc3 commented on #542
It's hard to do a mysql dump? :/ If you are using a webpanel like phpmyadmin it should be very easy.

[2016-02-24 10:21] xyblues opened #555 "A problem"
I change from the new version of the old version to.
But the game player can not be registered
An error occurred
How to do?
Thank.
ERROR: Data truncation: Incorrect datetime value: '946749527810' for column 'lastlogin' at row 1

[2016-02-24 13:53] Fellner96 opened #556 "Chat and command sending problem"
I installed latest version on my lobby server. Than the logined player can't see their messages in the chat. Doesn't matter what I write in, it doesn't show. I only got error message back, when use /login with a wrong pw. Nothing else show in the chat. My multiplayer chat option is set the Show.
**The issue is the same after I logged in.**

[2016-02-24 14:28] xyblues commented on #555
I solved

[2016-02-24 14:28] #555 closed

[2016-02-24 14:37] Fellner96 commented on #556
Resolved my problem.

Clear my Bungee server's plugins BungeeAuthMeBridge, then working fine.

[2016-02-24 14:37] #556 closed

[2016-02-24 16:13] sgdc3 commented on #554
@RoinujNosde It should have been fixed by @DNx5 ;)

[2016-02-24 16:47] ElitStrikerzHD commented on #334
yeah. i need the download again haha

[2016-02-24 16:47] andris155 opened #557 "AuthMeBridge v1.5 error (AuthMe-5.2-SNAPSHOT-spigot b813)"
[17:42:08] [Craft Scheduler Thread - 0/INFO]: [AuthMe] TNTZoli2003 logged in!
[17:42:08] [Server thread/ERROR]: Could not pass event LoginEvent to AuthMeBridge v1.5
org.bukkit.event.EventException
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:302) ~[spigot_1.8.jar:git-PaperSpigot-ee63dbe]
	at co.aikar.timings.TimedEventExecutor.execute(TimedEventExecutor.java:74) ~[sp

[2016-02-24 17:28] games647 commented on #557
at com.crylegend.authmebridge.AuthMeBridgeListener.onAuthMeLogin(AuthMeBridgeListener.java:24)

This is error comes from AuthMe bridge.

[2016-02-24 17:54] StelArian commented on #537
Same here. And after I restart the server, player can connect again for an hr or so.

[2016-02-24 21:15] Kixot14 commented on #317
Can someone explain me, what exactly do this **preventOtherCase** ??
Did that feature can prevent bug in **Offline-mod** servers, when UUID is dupped, because some player join with different case, and as a result dupped all data from plugins, which used UUID system (Essentials, for example: Money, homePoints, punishments... In short: All data, that have previous player with same nickname but anoth

[2016-02-24 22:26] sgdc3 commented on #557
AuthMeBridge is no longer supported.

[2016-02-24 22:26] #557 closed

[2016-02-24 22:26] andris155 commented on #557
:'(

[2016-02-24 22:28] sgdc3 commented on #557
We'll try to fix our AuthMeBungee xD

[2016-02-24 22:30] andris155 commented on #557
:+1:

[2016-02-24 22:52] RoinujNosde commented on #317
@Kixot14 if you set preventOtherCase to true, AuthMe will allow only one case to join your server.
E.g.:
I register RoinujNosde; if I try to join with roinujnosde, authme will kick me.

So yes, it prevent uuid bugs :)

[2016-02-24 23:11] Naxter commented on #472
Hmm, I think the first option were pretty good, setting secret answers would in my opinion take too much time for the players. But I think you should implement some spam-security system, so that a player couldn't just spam the E-Mail address with new passwords of the real account owner.

[2016-02-25 02:35] Kongolan opened #558 "NullPointer when TabComplete false and TabListHide false"
AuthMe.java throws NullPointer when tabComplete and tablistHider not initialized

Line 667+

        if (newSettings.getProperty(RestrictionSettings.DENY_TABCOMPLETE_BEFORE_LOGIN) && tabComplete == null) {
            tabComplete = new AuthMeTabCompletePacketAdapter(this);
            tabComplete.register();
        } else if (inventoryProtector != null && tabComplete != null) {
            tabCom

[2016-02-25 06:23] ljacqu commented on #317
Exactly—in offline mode, even a change in casing (roinuj vs. Roinuj) will have a different UUID. More up-to-date plugins use UUIDs to distinguish players and so will be able to profit from that.

[2016-02-25 06:24] ljacqu commented on #472
Assigning to myself to come up with some technical solutions within the next two days

[2016-02-25 09:46] DNx5 commented on #558
Thanks

[2016-02-25 09:47] #558 closed

[2016-02-25 10:37] Kixot14 commented on #317
It's very cool! Thanks!
Did i need to purge all data of players, before use this feature ??

[2016-02-25 10:50] RoinujNosde commented on #554
Fixed :)

[2016-02-25 10:53] RoinujNosde commented on #317
Nope, you don't have to purge players' data :)
(Make a backup of your database just in case)

[2016-02-25 15:11] sgdc3 commented on #554
Thanks you ;)

[2016-02-25 15:11] #554 closed

[2016-02-25 15:13] #317 closed

[2016-02-25 19:18] MithrandirCraft opened #559 "Error log + Crash"
http://hastebin.com/uhurigeday.coffee

-----------------
Authme version: 5.2-SNAPSHOT b702
Server: Spigot 1.8.8

[2016-02-25 19:20] games647 commented on #559
[20:13:03] [Spigot Watchdog Thread/ERROR]: 	PID: 16 | Suspended: false | Native: false | State: BLOCKED
[20:13:03] [Spigot Watchdog Thread/ERROR]: 	Stack:
[20:13:03] [Spigot Watchdog Thread/ERROR]: 		com.mysql.jdbc.PreparedStatement.executeQuery(PreparedStatement.java:2182)
[20:13:03] [Spigot Watchdog Thread/ERROR]: 		at.pcgamingfreaks.MarriageMaster.Bukkit.Databases.MySQL.GetPlayerID(MySQL.java:3

[2016-02-25 21:13] MithrandirCraft commented on #559
Wtf, MarriageMaster... allright, I will report this to the corresponding dev.

[2016-02-25 21:15] #559 closed

[2016-02-25 21:40] markob007 opened #560 "I need a new version!!!"
Players can enter the admin account by mistake with case sensitive... for example
markob007 and MarkoB007
He can enter and register and he will have OP
or when I am in game he can join without registration

[2016-02-25 22:15] sgdc3 commented on #560
@markob007 What's your authme version?

[2016-02-25 23:53] RoinujNosde commented on #560
@markob007 Try the last build: http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-legacy.jar

[2016-02-26 00:08] RoinujNosde opened #561 "PlayerJoinEvent"
Hi,
I'm making a plugin that uses PlayerJoinEvent to teleport some players to a location x.
The thing is ForceSpawnLocOnJoinEnabled is true, so ALL players go to the spawn location.
[code]
How can i give my plugin a higher priority than authme's?

[2016-02-26 00:19] RoinujNosde commented on #561
Or...
AuthMe has an event when a player logs in successfully?

[2016-02-26 01:15] Done84 commented on #542
It's easy, it just takes some time to dump, shut down the whole network, replace jars in all servers, start everything again, wait 30 mins to check if the problem still occurs, then to everything again.

Anyway.. The problem still persists.. After 15 to 30 mins no one can switch servers, everyone just times out.

[2016-02-26 02:06] DNx5 commented on #561
try to set your event to LOW and see if it works.

[2016-02-26 03:00] Done84 commented on #542
@sgdc3
Ok.. So. I found out that BungeeBridge was causing even more problems, so i took it off to debug.
After that instead of time outs now the server does not ask for /login, if you still run the command it works thoght.

 This error shows up in the console:
Caused by: java.lang.IllegalArgumentException: Name cannot be null

Full logs from 2 servers:
http://pastebin.com/08bid9Br
http://pastebin.

[2016-02-26 06:58] sgdc3 commented on #542
.... AuthMeBridge? NEVER USE IT. It's not official and it's outdated.

[2016-02-26 06:59] sgdc3 commented on #542
Remove also the AuthMeBridgeBukkit jar from your servers

[2016-02-26 12:23] RoinujNosde commented on #561
Did not work.

[2016-02-26 12:25] vanthoi commented on #538
I use Spigot server: This Spigot build supports Minecraft clients both of versions 1.7.x and of 1.8.x.
I test all ver dev: error!

 [19:20:48 INFO]: [AuthMe] Enabling AuthMe v5.2-SNAPSHOT-b823
[19:20:48 INFO]: [AuthMe] Detected deprecated property settings.delayJoinLeaveMessages
[19:20:48 INFO]: [AuthMe] Note that we now also have the settings settings.removeJoinMessage and settings.removeLeaveMes

[2016-02-26 12:42] games647 commented on #538
Try to use the legacy version.

[2016-02-26 12:46] games647 commented on #561
Yes the LoginEvent, but I think SpawnTeleportEvent is more useful for you.

[2016-02-26 12:51] markob007 commented on #560
I will try this V.
sgdc3 I am using 4.0

[2016-02-26 13:24] markob007 commented on #560
BUG with new snapshot... After 10min nobody can enter server

[2016-02-26 13:48] ljacqu commented on #560
We have multiple issues about that

[2016-02-26 14:03] #560 closed

[2016-02-26 14:30] vanthoi commented on #538
Thank it is worked!

[2016-02-26 15:38] sgdc3 commented on #536
@markob007 Can you try this jar please? https://circle-artifacts.com/gh/AuthMe-Team/AuthMeReloaded/807/artifacts/0/tmp/circle-artifacts.tsZTzNN/AuthMe-5.2-SNAPSHOT-spigot.jar

[2016-02-26 16:54] tteeee opened #562 "No permissions"
`/authme forcelogin NICKNAME`
Ezy Hacking a servers. :(

[2016-02-26 16:58] sgdc3 commented on #562
What do you mean?

[2016-02-26 17:07] RoinujNosde commented on #561
@games647
LoginEvent works nicely xD

[2016-02-26 17:07] #561 closed

[2016-02-26 17:09] RoinujNosde commented on #562
@sgdc3 I think he is saying that /authme forcelogin don't require a permission, so everyone can use it.

[2016-02-26 17:29] DNx5 commented on #562
Couldn't reproduce it. Probably he is using the broken one.

[2016-02-26 17:45] arturek1666 opened #563 "Keep login status after reload"
Hi, Is it possible to don't have to login when you do /reload.

[2016-02-26 20:08] ljacqu commented on #563
/reload should literally reload the plugin; in case anything goes wrong it's a "fresh" start (more or less). So that would be a bad idea

[2016-02-26 20:33] ljacqu commented on #304
I suggest to close this as I think it the added complexity is not worth the benefit.

[2016-02-26 20:33] #304 closed

[2016-02-26 22:28] arturek1666 commented on #563
Well other plugin did had that and they had no problem it's just like if they leave and join they don't  have to login and they should be able to do same with the /reload. It's possible because other plugins that are now outdated did had this option.

[2016-02-26 22:59] ljacqu commented on #477
As discussed in #542, lastlogin had to be reverted from timestamp back to bigint. The suggestion to use the `timestamp` was very good but unfortunately had some undesirable consequences.

[2016-02-26 22:59] #477 closed

[2016-02-26 23:03] ljacqu commented on #366
Closing—two months went by without an answer

[2016-02-26 23:03] #366 closed

[2016-02-26 23:55] sgdc3 commented on #563
@arturek1666 I think @arturek1666 means that it's more secure to restart the entire plugin ;) Anyway, you can use the session feature to auto-login players after a reload!

[2016-02-26 23:57] sgdc3 commented on #563
@ljacqu I have to admit that reload should keep the login status, maybe we should only update the isLogged status from the database.

[2016-02-26 23:58] sgdc3 commented on #562
Yeah, it works fine.

[2016-02-26 23:58] sgdc3 commented on #562
@tteeee Please use the latest dev build: http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar

[2016-02-26 23:59] #562 closed

[2016-02-27 00:00] sgdc3 commented on #537
@rErEaT @Done84 @StelArian It should have been fixed in latest build: http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar

[2016-02-27 00:01] sgdc3 commented on #508
@Eisenbahn Can you try latest build? http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar

[2016-02-27 00:02] sgdc3 commented on #544
@DNx5 @games647 @ljacqu Who wants to take care of this? :)

[2016-02-27 00:03] sgdc3 commented on #456
@DNx5 @ljacqu @games647 Anyone wants to work on this?

[2016-02-27 00:04] sgdc3 commented on #552
@Saren-Arterius Any update?

[2016-02-27 00:05] sgdc3 commented on #551
Bump (just to keep it in the top of the issue list)

[2016-02-27 00:06] sgdc3 commented on #548
@xyblues Can you try latest build?

[2016-02-27 01:54] Eisenbahn commented on #508
Sure. But im using cauldron. Should i get the legacy build? Or that one?

[2016-02-27 02:52] DNx5 commented on #508
get the legacy build on http://ci.xephi.fr/job/AuthMeReloaded

[2016-02-27 02:52] Eisenbahn commented on #508
Got it and been running fine for 30 min.