[2017-07-24 20:11] #1294 closed

[2017-07-24 21:48] #1282 closed

[2017-07-25 13:31] #721 closed

[2017-07-25 13:31] #991 closed

[2017-07-25 13:32] sgdc3 commented on #1292
@FlexVN

[2017-07-25 13:37] games647 commented on #1150
@krusic22 You use the topic/argon2 branch? What exact error do you get in Spigot?

[2017-07-25 13:55] krusic22 commented on #1150
Yes. It doesn't give a error just reverts to SHA256. OracleJDK.

[2017-07-25 13:56] games647 commented on #1150
What config value do you put in there?

[2017-07-25 14:04] krusic22 commented on #1150
ARGON2 also tried just ARGON.

[2017-07-25 14:14] games647 commented on #1150
For me it crashes if I put ARGON2 in there and don't have the library installed:

[WARN]: [AuthMe] WARNING!!! You use Argon2 Hash Algorithm method but we can't found any Argon2 library on your system !
[WARN]: [AuthMe] THE SERVER IS GOING TO SHUT DOWN AS DEFINED IN THE CONFIGURATION!!

If the library is installed, it works fine.

[2017-07-25 14:22] mat41997 commented on #1150
@games647 How to run Argon2 in windows 10?

[2017-07-25 14:32] FlexVN commented on #1292
?

[2017-07-25 14:32] #470 closed

[2017-07-25 14:33] sgdc3 commented on #1292
Is the msyql server in the same machine as the spigot instance?

[2017-07-25 14:40] games647 commented on #1150
@mat41997
Download a compiled library for your architecture from [here](https://github.com/phxql/argon2-jvm/tree/master/src/main/resources) or compile it yourself. Then install the dll to one folder specified in your PATH variable. You could execute `set path` to view all possible locations separated by a semicolon. You could also use `-Djava.library.path=<absolute path>` as your Java startup para

[2017-07-25 15:40] loprip147 commented on #1016
md5 T^T i need this , because i dont know how to encode be like your code

[2017-07-25 15:57] Eyremba commented on #1016
Update to bcrypt, scrypt, or Argon2

[2017-07-25 16:13] loprip147 commented on #1016
i need some tips~
in php how can i encode same code for bcrypt???

or any else??

[2017-07-25 16:17] loprip147 commented on #1016
i use mysql get the code
in mysql it show me start with $2a$
and i use php password_hash("xxxx", PASSWORD_BCRYPT);
he show me start with $2y$
@@

[2017-07-25 16:36] games647 commented on #1016
Configure `passwordHash=BCRYPT2Y ` in your AuthMe config and it will generate the same prefix as PHP does ($2y). It's an issue in the library we use.

[2017-07-25 16:43] loprip147 commented on #1016
Salt T^T
is It random???
salt = "$2y$10$" + salt

[2017-07-25 16:47] loprip147 commented on #1016
GENed code are not same everytimes

[2017-07-25 17:04] games647 commented on #1016
You mean the password hashes are not equal for the same user input? That's normal and a security feature. A random salt is generated each time to make the hash more unique. You have to use the PHP `password_verify` method to compare the passwords correctly. This will extract the salt to generate the same password hash.

[2017-07-25 19:40] #1278 closed

[2017-07-26 06:13] loprip147 commented on #1016
Thanks you very much!!!

[2017-07-27 02:02] fmohican commented on #1016
It must be left to the user's decision which hash algorithm wants to be use.
Personally I think more freedom = more better.

[2017-07-27 13:45] IceString3 opened #1298 "Permissions not removed when purging player's data"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
Permissions and groups of player aren't removed when purging a player's data

### What behaviour is expected:
Permissions and groups of player removed

### Steps/models to reproduce:
1. Register a player
2. Change their group
3. /authme purgepla

[2017-07-27 14:19] games647 commented on #1016
Yes, but md5 and unsalted hashes are way too insecure for storing passwords. Passwords of your server and **all your users** should be saved in a safe manner.

[2017-07-27 19:59] #967 closed

[2017-07-27 20:01] blijgozertje opened #1299 "lag issues with authme"
Timings:
https://timings.aikar.co/?id=cf5a92957d81462a9163ef315dcc6015

I use sqlite

[2017-07-27 20:03] sgdc3 commented on #1299
The Spartan plugin is lagging the server: https://timings.aikar.co/?id=cf5a92957d81462a9163ef315dcc6015#plugins

[2017-07-29 00:29] fmohican commented on #1016
It's user/server admin problem, not ours
If they want to use something unsafe, it's their problem.
However, the default plugin setting must be something with salt and heavy like PBKDF2 or BCrypt

[2017-07-29 13:27] ljacqu opened #1300 "Prefixes not always in same order after login"
Follow-up of #1265, groups are seemingly not always restored in the same order. As posted by @xcamnhamx :

[2017-07-29 13:28] ljacqu commented on #1265
We will address the open issue with #1300 (closing this so we have it in the 5.3.2 milestone)

[2017-07-29 13:28] #1265 closed

[2017-07-29 13:32] ljacqu commented on #1016
@fmohican We offer sample PHP integrations for BCRYPT, SHA256 and PBKDF2 at https://github.com/AuthMe/AuthMeReloaded/tree/master/samples/website_integration
Really, the easiest way to hook into AuthMe database with PHP is with BCRYPT; if you look at its implementation, it's literally just a wrapper for the built-in PHP functions `password_hash()` and `password_verify()`.

[2017-07-29 13:46] ljacqu commented on #681
Would like to keep this open to investigate "account freezing" or something. This is an issue many plugin users fight with; not sure how to tackle it.

[2017-07-30 06:46] Tanimsiz opened #1301 "HELP ERROR"
Please help :((
https://hastebin.com/ilotawodur.hs

[2017-07-30 07:51] sgdc3 commented on #1301
Please post your plugin list

[2017-07-30 09:50] Tanimsiz commented on #1301
https://i.hizliresim.com/YNRPXa.png

[2017-07-30 10:12] sgdc3 commented on #1301
This is an issue with groupmanager, please use pex or luckperms

[2017-07-30 13:06] fmohican commented on #1016
@ljacqu yah man i check that file, however for me isn't a problem i can make anytime or i can use your's , i just saying, for a small server isn't suitable to use hashed password with salt. Simple hashed password with good hashing algorithm like SHA2, SHA512 or at lasted MD5
In my case i can use plaintext, that isn't a problem, because at ~50/day (with a maximum 60) players isn't any problem to us

[2017-07-30 13:14] sgdc3 commented on #1016
security tips 2017

[2017-07-30 13:26] fmohican commented on #1016
@sgdc3 Yes I'm 100% sure that one of 20 player is a cracker dealing with security issues and cracking your password to get some shit like diamond. xDDD
We talk about kid's who play a game. If someone really want to crack your server be sure he will do.

[2017-07-30 13:39] HexelDev commented on #1016
@fmohican These "kids" could use the same password on other sites. The correct behaviour to face this situation is the use of a good hashing method, it's a form of respect to the players because your user base is not that different from the others.

[2017-07-30 13:53] fmohican commented on #1016
@HexelDev i don't care about their password. You probably think I'm rude. But they are also rude when call admin/mod and ask " X steal my items!!! BAN BAN BAN!". Most do not understand what the player vs. the player means. Don't mind, lets be on topic.

It is not worth using the salted password for small servers. I understand that this plugin targets lager server, but I say don't neglect the littl

[2017-07-30 14:49] games647 commented on #1016
@fmohican Are you talking about the performance of using a good hashing algorithm. First I think it's more important about security and second I highly doubt you will notice the difference especially if it's a small server and only used for logins.

Taking md5 as an example. md5 is complete no-go for hashing passwords with today's hardware. You can generate millions of hashes within seconds. [More

[2017-07-30 18:03] fmohican opened #1302 "MSSQL Support"
Its possible to provide support for Microsoft SQL Server ?
https://www.microsoft.com/en-us/sql-server/sql-server-2016
Thanks you.

[2017-07-30 18:10] Xephi commented on #1302
Hi, what's the problem with Microsoft Sql Server?

Since we already support SQL syntax, is it something into the sql engine that change from all other existing ?
Since we support MySQL, we also support PostgreSQL (without clustering optimisations), InnoDB, etc.. engines, i thinks it actually works well with Microsoft SQL Server, have you test it ?

[2017-07-30 18:13] sgdc3 commented on #1302
@Xephi i think the dialect is different

[2017-07-30 18:14] fmohican commented on #1302
@Xephi nop i didn't test it, i will test in few moment.

[2017-07-30 18:35] fmohican commented on #1302
isn't work
https://pastebin.com/phyTP0pM

[2017-07-30 18:40] Xephi commented on #1302
Huum, ok, @sgdc3 HikariCP alreay handle the Microsoft SQL Server driver

[code]
We can add the handle easily i think

[2017-07-30 18:43] fmohican commented on #1302
would be nice, on hosted server i have to install mysql just for minecraft.... rest of application use MSSQL. xD

[2017-07-30 18:46] sgdc3 commented on #1302
@Xephi, no we have to add the driver, create a MsSql class and change the sql commands

[2017-07-30 19:05] HexelDev commented on #1258
@arturek1666
Can you send here your mybb mysql's configuration?

[2017-07-30 19:11] #1301 closed

[2017-07-30 19:18] sgdc3 commented on #1258
Seems like an error in your config, please post more infos about your mybb setup.

[2017-07-31 14:30] fmohican commented on #1016
@games647 good point.
I see one method that can satisfy everyone. Its simple and "easy" to use.
Add possibility to enable / disable password salt in config a line like
`disable_pass_salt: false`
and of course an warning like
`This may cause heavily security issues and decrease performance, use only if you know what are you doing.`

I'm sorry for my english, i'm not native speaker.

[2017-07-31 21:59] sgdc3 commented on #1302
@fmohican could you try this jar please? https://2079-8662641-gh.circle-artifacts.com/0/tmp/circle-artifacts.icdOyru/AuthMe-5.4-SNAPSHOT.jar

(in the config set the database type as MSSQL before starting)

[2017-07-31 22:00] sgdc3 commented on #1302
try to register/login/changepassword/logout etc
if everything works fine we are almost ready to merge it into the master branch

[2017-07-31 22:18] sgdc3 commented on #1295
Does it happen if you disable useAsyncTasks?

[2017-08-01 00:39] fmohican commented on #1302
sure I will test today and I'll get back with reply.

[2017-08-01 08:00] Darkfield opened #1304 "Missing API methods from 3.4"
API.database.getAuth(name.toLowerCase()).getIp()
API.database.getAllAuthsByIp(ip)
API.hookAuthMe().database.removeAuth(key)
API.database.getAuth(name.toLowerCase()).getLastLogin()

[2017-08-01 08:06] sgdc3 commented on #1304
removeAuth -> https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/api/v3/AuthMeApi.java#L239

[2017-08-01 08:15] sgdc3 commented on #1304
i'll add String getLastIp(String name), List<String> getUsersByIP(String address), and Date getLastLogin(String name)

[2017-08-01 13:11] fmohican commented on #1302
isn't work, i tryied with all port still get same error.
Default port of MSSQL is 1433 or 1434 TCP
https://pastebin.com/mwyXz2Cp

[2017-08-01 14:09] sgdc3 commented on #1302
Whoops my fault xD wrong parameter, fixing it asap

[2017-08-01 14:41] sgdc3 commented on #1304
@Darkfield Done, is that ok? ;)

[2017-08-01 15:11] sgdc3 commented on #1302
Fixed: https://2081-8662641-gh.circle-artifacts.com/0/tmp/circle-artifacts.gG5GKtO/AuthMe-5.4-SNAPSHOT.jar

[2017-08-01 18:18] fmohican commented on #1302
https://pastebin.com/AcNRQ58Z

I trink isn't use login user / password. can u check logs?

[2017-08-01 18:31] Darkfield commented on #1304
I think ty :)

[2017-08-01 18:31] #1304 closed

[2017-08-01 18:55] sgdc3 commented on #1302
check your db connection credentials (host, port, dbName, user, password) :/

[2017-08-02 15:36] arturek1666 commented on #1258
I needed to convert mybb to: 4-Byte UTF-8 Support
(requires MySQL 5.5.3 or above) as it required after mybb update

[2017-08-03 15:04] fmohican commented on #1302
Yes config is right user & password, i just test via php (sqlsvr for php7) script (who connect and try to make a empty table)

[2017-08-04 22:37] Xephi commented on #1219
Usually, token are time based, i haven't develop on this feature but i know how to implement Google Authenticator compatible TOTP easily, i'll take a look soon an fix that issue

[2017-08-05 11:16] ljacqu commented on #1219
@Xephi see TwoFactor:

[code]

this could be adapted. I would not suggest to keep track of any used tokens, or to revisit this idea after #1141 as I expect there will be some changes to the whole handling of 2FA.

[2017-08-05 11:31] Jamaic230 commented on #1219
@ljacqu by a definition, OTP (one-time password) is a password that is valid only for one transaction. If you want to follow this definition, you have to keep track of already used tokens, so you can reject them.

[2017-08-05 11:40] ljacqu commented on #1219
Alright, then I propose to do this after #1141.

[2017-08-05 11:40] games647 commented on #1219
AuthMe implementation uses TOTP-passwords they are time-based and not counter-based.

[2017-08-05 13:12] #1255 closed

[2017-08-08 13:17] gavrilyuc commented on #1016
MD5 need

[2017-08-08 14:38] games647 commented on #1016
@gavrilyuc Please explain why you can't switch?

[2017-08-08 19:26] Maxetto commented on #1119
I'll also add this security issue as another case for this.
If you hack an Account who has email, you can unregister it and register it back in order to give it another email and make it impossible to recover.

[2017-08-09 13:13] sgdc3 commented on #1119
@HexelDev i'm a bit busy with my network atm, could you fix this in the meantime?

[2017-08-09 13:20] MineFriend opened #1308 "Huge problem !!"
In the latest version of your plugin there is a huge problem !! The problem is that MySQL does not work ... I've tested it with another plugin (which connects to mysql) and everything works fine (the plugin in question maxbans) but with autme does not work me from this error in the logs: https://pastebin.com/uWA6nZzx

spigot version: 1.8.8

authme version: 5.3.2

[2017-08-09 13:22] MineFriend commented on #1308
one moment

[2017-08-09 13:23] MineFriend commented on #1308
solved

[2017-08-09 13:24] #1308 closed

[2017-08-10 15:09] PanCakev2 opened #1309 "SQLite UnsatisfiedLinkError"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
when I start the server, authme is shouting down it - it's default config, i don't change the mysql options.

[08-10 16:56:45]: [WARN] THE SERVER IS GOING TO SHUT DOWN AS DEFINED IN THE CONFIGURATION!
[08-10 16:56:45]: [INFO] AuthMe 5.3.1-b1702

[2017-08-10 17:31] ljacqu commented on #1309
Interesting, it's a version conflict with Spigot. What's your exact Spigot version?

[2017-08-10 21:20] HexelDev opened #1311 "Email verification code - hijacked accounts (using email)"
Adapted from [#1119](https://github.com/AuthMe/AuthMeReloaded/issues/1119#issuecomment-321056716) to manage it better.

@Maxetto

[2017-08-10 21:29] HexelDev commented on #1311
The idea:
When an user (that has an email associated with the account) execute the `/unregister` will be forced to insert a **confirmation captcha**.

This captcha will be sent via mail and it will confirm the account deletion.

[2017-08-10 22:40] Maxetto commented on #1311
Or otherwise, after unregistration, if re-registration happens within a server restart, email is restored from old account.

[2017-08-11 11:17] dartasen commented on #1207
This bug is more important than updating translations i think.
Players just have to connect on an account to get player's base position while connecting 👎

So please fix that quickly

[2017-08-11 13:30] PanCakev2 commented on #1309
b1229 for 1.12, and when the plugin isn't work i changed for official spigot for 1.12.1.

[2017-08-11 18:13] ljacqu commented on #1207
Because people updating translations are the same people developing...?

[2017-08-11 20:37] sgdc3 commented on #1207
@dartasen does this happen with sessions and bungeecord hook disabled?

[2017-08-11 20:42] ljacqu commented on #1311
Some unfinished thoughts:
- Email captcha sounds lovely and is easy to implement. It should be fine to just store the codes in memory, i.e. we'd lose the codes once the server restarts.

- Captcha is required for changing the email address then, too, if we want to be fully safe.

- Should a server user be able to enable this? Our philosophy says yes—our config.yml however is creaming "stop bloatin

[2017-08-12 12:17] dartasen commented on #1207
https://pastebin.com/VJwDq6fm

[2017-08-12 18:17] MithrandirCraft commented on #1207
Just in case it's usefull. I have the bungee hook set to true, and sessions disabled.

[2017-08-12 20:31] #1119 closed

[2017-08-13 10:55] ljacqu commented on #1207
hi @sgdc3, did you mean to close this?

[2017-08-13 11:41] dartasen commented on #1207
If you want to play @sgdc3, i can open hundred of thousands issues

[2017-08-13 11:42] dartasen commented on #1207
lmfao

[2017-08-13 17:34] yangm97 opened #1313 "Minor issues when running with Glowstone"
### What behaviour is observed:
Sensitive commands (like /login and /register) are not being censored. Glowstone uses a different logging engine than Spigot;
Player IP is detected incorrectly when running Glowstone with Bungeecord by AuthMe. This issue possibly has more to do with Glowstone, so I opened an issue there as well: GlowstoneMC/Glowstone#547

### What behaviour is expected:
Censoring se

[2017-08-13 21:19] sgdc3 commented on #1313
We can't fix that

[2017-08-13 21:23] sgdc3 commented on #1207
Uh no, sorry xD

[2017-08-13 22:07] sgdc3 commented on #1207
@HexelDev

[2017-08-14 05:19] Kiwis2451 opened #1314 "AuthMe with spigot 1.8.8"
help me pls
`[12:15:12] [Server thread/WARN]: [AuthMe] Aborting initialization of AuthMe: [InjectorReflectionException]: Could not invoke constructor of class 'class fr.xephi.authme.command.CommandHandler'
[12:15:12] [Server thread/WARN]: [AuthMe] THE SERVER IS GOING TO SHUT DOWN AS DEFINED IN THE CONFIGURATION!`

My config as default

[2017-08-14 12:28] AIphaDragon opened #1315 "Problem with assigning players another's accounts"
Hello,
We are using the latest version of your plugin - 5.3.2.
The problem is, that recently our AuthMe plugin strated to assign players the accounts, which don't belong to them and count it, as their's "twins".
So please, help us solve this problem.
We are looking forward to your answer

- Our server use Spigot 1.11.2 core.
- Our database is SQLite.
- Here is the list of our plugins:
https://pp.u

[2017-08-14 18:34] #1299 closed

[2017-08-14 18:35] sgdc3 commented on #1314
What's your authme version?

[2017-08-14 18:37] sgdc3 commented on #1315
Please explain your issue with some valid examples

[2017-08-14 23:15] Kiwis2451 commented on #1314
lastest version on spigot

[2017-08-15 10:44] sgdc3 commented on #1314
Use this version: http://ci.xephi.fr/job/AuthMeReloaded/

[2017-08-15 10:46] AIphaDragon commented on #1315
Well,
As it can be seen in our config, we have limited an amount of maximum accounts to only 2. Players, that have 2 accounts, complaining, they have 3 or more. After checking the "3rd" assigned account, it shows, that this account have no twins and is single account. The assigned accounts cannot be hacked or stolen, as players enter game normaly and from their's IP.
What type of examples or evide

[2017-08-15 12:51] sgdc3 commented on #1315
are you using bungeecord?

[2017-08-16 10:49] AIphaDragon commented on #1315
No, not yet

[2017-08-16 16:02] sgdc3 commented on #1315
I still can't understand your issue, @ljacqu @HexelDev any idead?

[2017-08-16 18:13] games647 commented on #1309
Could you try to set this as a startup parameter

[2017-08-16 20:01] dartasen commented on #1207
UP

[2017-08-16 20:08] ljacqu commented on #1315
We have a feature that limits the number of users an Ip address may register. He is seeing this limit being reached for users he doesn't expect.

@AlphaDragon, could you look at the ip addresses of those users with /authme debug db? It would be interesting to see if e.g. all have the ip address 127.0.0.1 or something

[2017-08-16 20:32] sgdc3 commented on #1207
We'll fix that asap, please stop bumping it.

[2017-08-17 13:10] Kiwis2451 commented on #1314
tks you very much

On Tue, Aug 15, 2017 at 5:44 PM, Gabriele C. <notifications@github.com>
wrote:

[2017-08-17 14:27] #1314 closed

[2017-08-18 11:40] blijgozertje opened #1316 "Lag issues"
Having some lag issues and I think it is because of Authme.

https://timings.aikar.co/?id=f1907ea3a6ec4e7fb9b64132e3113d13

[2017-08-18 12:22] sgdc3 commented on #1316
lag issues? you have 20 tps 100% of the time :/

[2017-08-18 15:35] blijgozertje commented on #1316
Look at the random TPS loss. I have 11.7 TPS right now but it doesnt show the good tps in the timings

[2017-08-18 15:52] blijgozertje commented on #1316
New timings and did catch the TPS drops.
https://timings.aikar.co/?id=d9f97f93643749f2a07cfaeb29c603f4

[2017-08-18 16:46] sgdc3 commented on #1316
could you describe your setup? bungee/standalone mysl/sqlite mysql server location, etc...

[2017-08-18 17:27] blijgozertje commented on #1316
A hub server on Bungeecord with sqlite.

[2017-08-18 18:41] sgdc3 commented on #1316
How many registered users do you have?

[2017-08-20 08:54] ljacqu commented on #1263
I see that everything is fixed, thank you.

[2017-08-20 08:54] #1263 closed

[2017-08-20 11:23] sgdc3 commented on #1316
@blijgozertje

[2017-08-20 12:58] ljacqu opened #1317 "Remove MySQL lastlogin timestamp -> bigint migration"
### Background
With #477 we changed the lastlogin column in the MySQL database to be of the TIMESTAMP type for about two weeks before reverting it again. To not break anyone's database, we introduced a migration back from TIMESTAMP to BIGINT.

TIMESTAMP was used for around two weeks in dev builds, and this was about 18 months ago. In 5.5 we should be fine to remove the migration code. **Should not

[2017-08-20 15:01] blijgozertje commented on #1316
152321

[2017-08-21 15:19] AIphaDragon commented on #1315
We have discovered what the problem was.
The matter was in routers, when two different players, which use routers, had the similiar IP's. So, thanks for your help

[2017-08-21 15:19] #1315 closed

[2017-08-22 06:51] ljacqu commented on #1315
Thanks for letting us know! Glad you could get to the bottom of your issue.

[2017-08-22 09:12] pjorun opened #1318 "Problem whit lagging plugin when join 10 players / s"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
What happened?
Serwer has huge lag and tps down. In my server today play 800/1000 players.

### What behaviour is expected:
What did you expect?
Plugin have problem whit handling connection ?

### Steps/models to reproduce:
The actions that caus

[2017-08-22 15:25] hsombini opened #1319 "Field realname not working properly when using external registration method"
### What behaviour is observed:
When using external registration, the field "realname" is not considered until a restart or a reload is performed on AuthMe.

### Steps/models to reproduce:
1. Startup the server

2. Register using this query:
insert into authme (username, realname, password, , email) values ('test', 'Test', '123123')

3. Try to login as Test

4. You'll not be able to login, AuthMe

[2017-08-22 17:35] sgdc3 commented on #1318
Have you tried with useAsyncTasks: true?

[2017-08-22 18:40] HexelDev commented on #1311
I agree with the other ideas.

We could use the frozen state as an alternative to the captcha confirmations...

E.g.
We could provide 2 type of confirmation security:
- captcha confirmations
- 'frozen' state

While captcha confirmations is used:
- We can execute the deletion (and every other operation) after the confirmation.

While 'frozen' state is used:
- The operation will be confirmed after a

[2017-08-22 18:48] pjorun commented on #1318
Nothing change, to reduce lag i must use Authme addons to teleport after login.

[2017-08-23 05:02] ljacqu commented on #1318
Thanks for the timings! One question here – do you have any other plugins? I don't see them in the timings but it would have made an interesting comparison.

[2017-08-23 05:35] pjorun commented on #1318
Yes, but this is a normal global plugin like Essentials, Worldedit, WorldGuard, Vault, MultiVerse, PermissionsEx, LagMeter and nothing else.

[2017-08-23 19:58] pjorun commented on #1318
Nothing change, same problem whit huge lag. Maybe problem is in MySQL 5.6.36 ?

[2017-08-24 01:16] sgdc3 commented on #1318
is the mysql server in the same machine?

[2017-08-24 03:40] pjorun commented on #1318
Yes, Authme is connected in localhost. Authme have 400k player account.

[2017-08-24 07:06] pjorun commented on #1318
I do not know what are you add to Authme but plugin is totally broken...
All dedicated server whit Intel  Xeon E3-1225v2 and 32 gb ram on ssd disc and timings:
https://timings.spigotmc.org/?url=quguhipibu

[2017-08-24 10:37] sgdc3 commented on #1318
You are the first one that reports such issues, i'll try to figure out the cause

[2017-08-24 10:39] sgdc3 commented on #1318
Timings v1 are misleading, do you reallynotice tps issues or are you just concerned avout the timings report?

[2017-08-24 11:59] sgdc3 commented on #1318
A timings v2 report would help finding the real cause

[2017-08-24 15:07] pjorun commented on #1318
Today i add authme from 2016 and issue dissapeared. Now all work fine.

[2017-08-24 15:08] ljacqu commented on #1318
@pojrun Interesting, what version of AuthMe was that?

[2017-08-24 19:03] pjorun commented on #1318
5.2 work perfect

[2017-08-24 21:43] sgdc3 commented on #1318
Is the mysql database on the same machine of the spigot instance?

[2017-08-25 05:09] pjorun commented on #1318
Ofcourse is in this same machine...
screen java -Xms32M -Xmx8000M -jar spigot.jar nogui

[2017-08-25 12:38] sgdc3 commented on #1318
Try with java -Xms8G -Xmx8G -jar spigot.jar always use fixed memory size allocation

[2017-08-25 19:15] pjorun commented on #1318
So I wonder maybe authme 5.3 / 5.4 is not compatible with PacketListnerAPI? And that is the problem?.

[2017-08-25 20:17] sgdc3 commented on #1318
@pjorun i don't think so, could you truy disabling non critical plugins and see if the problem persists?

[2017-08-26 20:33] SaitDev opened #1320 "Expect teleport behavior or bug?"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
What happened?
- With `teleportUnAuthedToSpawn` set to true, players wont be teleported back to their normal position unless `SaveQuitLocation` also set to true. But with SaveQuitLocation it will bypass `ForceSpawnLocOnJoin`, players werent forc

[2017-08-28 10:54] Bielecki opened #1321 "Bypass country blacklist/whitelist by IP"
I'm protecting my server by using "country whitelist", which works great. Currently I have only one country unblocked (my own country) and successfully blocking those players who use VPNs (there aren't many VPN servers in my country).
The problem is: I'm using VPN myself, and I use it very frequently, therefore my server keeps kicking me out. Also there are players who live abroad, but we are talk

[2017-08-29 00:17] JavyMC123 opened #1322 "Authme - LoginSecurity Converter Error"
What happened?
Hi, this plugin is amazing! But i have a problem... I put the plugin authme to convert the login security data to the new authme, because its better. The problem is that i put the command to convert from login security and the players when they put /login and his password, authme say password incorrect!. Sorry for my english. 

What did you expect?
The Convertion have a error

 Plug

[2017-08-29 00:27] sgdc3 commented on #1322
which version of loginsecurity are you using?

[2017-08-29 06:25] ljacqu commented on #1322
Try BCRYPT? What was Loginsecurity configured to use?

[2017-08-29 15:23] ljacqu commented on #1321
Relates to #1020

[2017-08-29 15:25] ljacqu commented on #1318
Hi @pjorun do you think you could re-add the version you were using previously and check whether it creates this sort of lag again? We didn't change that much in terms of scheduling tasks / interactions with the database etc. from 5.2 to 5.3 so I'm a little surprised that switching versions resulted in such an improvement for you.

[2017-08-30 11:53] Bielecki commented on #1321
Still #1020 not implemented after 9 months

[2017-08-30 12:21] sgdc3 commented on #1321
I'll implement that asap, i'm currently in vacation.

[2017-09-01 00:24] Platinteufel commented on #1321
[code]

Copy & paste?

[2017-09-01 02:26] evernife commented on #837
What about now?

Sponge is getting bigger, modded comunity is getting bigger.
It would be really greate to have Authme ported for sponge.

For now i need to make a lobby just as workround to still use the Authme.
So, it would be a good thing to have it officially!

[2017-09-01 08:36] sgdc3 commented on #837
I don't think sponge will replace spigot, it isn't suitable for large networks.

[2017-09-01 08:38] sgdc3 commented on #1321
yep sorry, i had to wotk on unit test fixes and forgot about that xD

[2017-09-01 20:40] evernife commented on #837
Quite sure it wont... but just from the ones that i know, these three servers have a lot of players (Modded modpacks)

![image](https://user-images.githubusercontent.com/11357801/29986986-58014890-8f3c-11e7-9c86-17e91372190a.png)

But if you say "great networks" who have more than 500 players i think it is difficult because of the forge performace (moddeds servers cause lagg...)

[2017-09-01 21:37] Eufranio commented on #837
Sponge DID replace spigot when talking about modded, and IS suitable for large networks, people just dont frequently request a AuthMe port because only a small percentage of those networks run modded servers on offline mode.

[2017-09-01 21:46] sgdc3 commented on #837
Sponge support would require a complete rewrite of the plugin, atm we are too busy to do that.

[2017-09-01 21:54] Eufranio commented on #837
A rewrite that would be quicker now than when AuthMe has more and more features: turns out that later it will take more work than it would take currently.

[2017-09-02 02:38] ljacqu commented on #837
As said, hook us up with a dev and we can make it happen

[2017-09-02 10:27] sgdc3 commented on #1321
@Bielecki does it work? ;)

[2017-09-02 16:54] pjorun commented on #1318
@ljacqu Sorry, but I will not risk the lag and the possibility of losing some players.

[2017-09-02 19:13] Darlelet opened #1324 "GroupOptions - PermissionCheck not working properly"
### What behaviour is observed:
When option `GroupOptions->enablePermissionCheck` is enabled through config file, as soon as the user connects his parent group is set to `registeredPlayerGroup`, using world context.

### What behaviour is expected:
The parent group should be set "globally", without using any context, so that this feature is fully compatible with existing permissions plugins.

###

[2017-09-02 23:04] sgdc3 commented on #1324
@Darlelet could you try last dev build please? ;)

[2017-09-02 23:18] #1316 closed

[2017-09-02 23:21] sgdc3 commented on #1020
I added a new permission, please check #1321 for more infos

[2017-09-02 23:21] #1020 closed

[2017-09-02 23:33] sgdc3 commented on #1320
This is a jar with some debug code, please let me know if you see the "Limbo destination world was null!" message in console.
[AuthMe-5.4-TPDEBUG.zip](https://github.com/AuthMe/AuthMeReloaded/files/1272596/AuthMe-5.4-TPDEBUG.zip)

[2017-09-02 23:33] sgdc3 commented on #1320
@SaitDev

[2017-09-02 23:42] sgdc3 commented on #1284
Not an optimal solution, you should always send your players to the auth server, that feature would only create a more complex scenario.

[2017-09-02 23:42] #1284 closed

[2017-09-02 23:48] sgdc3 commented on #1320
Maybe related to #1207 ?

[2017-09-03 00:07] sgdc3 commented on #1298
@IceString3 Please try the latest dev build ;) Does it work now?

[2017-09-03 00:08] sgdc3 commented on #1322
@JavyMC123 please try @ljacqu 's solution

[2017-09-03 00:11] #1208 closed

[2017-09-03 00:14] sgdc3 commented on #1200
@xion87 AuthMe can't handle every possible scenario, auto-op isn't supported by our plugin. The only way to fix that is that LP should listen for our LoginEvent and give the OP only after a successful login.

[2017-09-03 00:15] sgdc3 commented on #1200
@lucko we don't touch any UUID related stuff, any other ideas?

[2017-09-03 00:15] sgdc3 commented on #1200
@Eufranio Please provide your plugin list, if you are using FastLogin that could be the cause.

[2017-09-03 00:20] Eufranio commented on #1200
When I first tested this, I ran a fresh server with only LP and AuthMe (4 months ago). On my main server, the issue is still present, but with less frequency. I'm running:
[code]

[2017-09-03 00:22] sgdc3 commented on #540
@MithrandirCraft Still happening? One possible solution is by using paper with the disable-teleportation-suffocation-check option set to true

[2017-09-03 00:29] sgdc3 commented on #540
Yeah, this seems to be the only possible solution: https://github.com/PaperMC/Paper/blob/master/Spigot-Server-Patches/0060-Fix-inter-world-teleportation-glitches.patch

[2017-09-03 00:33] sgdc3 commented on #540
@MithrandirCraft i'll close the issue as this seems to be a vanilla exploit, please let me know if the paper option fixes your issue ;)

[2017-09-03 00:33] #540 closed

[2017-09-03 00:35] sgdc3 commented on #1200
I think this is FastLogin's fault @games647

[2017-09-03 00:36] sgdc3 commented on #1200
@Eufranio please open a new issue in the FastLogin tracker, i personally use lp with authme without any issue.

[2017-09-03 00:36] #1200 closed

[2017-09-03 00:44] sgdc3 commented on #592
@MithrandirCraft Last commit should fix or at least reduce the issue, could you check that?

[2017-09-03 02:19] MarvanCZ opened #1325 "AuthmeReloaded Errors"
Hello I found this error !
https://pastebin.com/8ZjggczX

Plugin in '/pl' is green

Image Authme Automatic spamming login command message.
https://imgur.com/a/I1UPO

WTF please add bugfix.
Thx sorry for my english i am from CzechRepublic.

[2017-09-03 08:12] games647 commented on #1200
Then it's likely to be related to games647/FastLogin#167

[2017-09-03 08:14] xion87 commented on #1200
I am not using fastlogin, and in rare case permission don't load (it don't happen only in hub but also in other server, so is not authme fault)

[2017-09-03 10:06] sgdc3 commented on #1200
@xion87 maybe skinrestorer?

[2017-09-03 10:33] sgdc3 commented on #1325
how often does it happen? On every player join?

[2017-09-03 11:13] MarvanCZ commented on #1325
Yeah on PlayerJoin

[2017-09-03 11:39] sgdc3 commented on #1325
is it a local server or a public one?

[2017-09-03 11:45] MarvanCZ commented on #1325
public

[2017-09-03 11:47] sgdc3 commented on #1325
does it happen with any player? is it a standalone server or under a bungee instance?

[2017-09-03 11:49] MarvanCZ commented on #1325
Server is on spigot version last build

[2017-09-03 11:50] MarvanCZ commented on #1325
yes to each player but the spam logging message only ever

[2017-09-03 13:03] lucko commented on #1200
The FastLogin issue linked above was exclusively BungeeCord. I don't think they're related.

### Just to clarify:

Plugins which use reflection/some other hack to modify a players unique ID during the login process have the potential to cause serious race conditions and issues with other plugins.

The login process for LuckPerms (and quite a few other plugins looks a bit like this):

#### `AsyncPl

[2017-09-03 14:47] MithrandirCraft commented on #592
Understood. Updating*

[2017-09-03 14:58] games647 commented on #1200
FastLogin on the Bukkit side modifies the UUID before the `AsyncPlayerPreLoginEvent` by working with the spoofed UUID fields of Spigot and SkinRestorer doesn't need to override the UUID, because it only changes the game profile property of the tablist entry.

[2017-09-04 06:00] SaitDev commented on #1320
I guess its the same with 1207. But I'll try your debug build

[2017-09-04 10:30] Bielecki commented on #1321
Unfortunately not, FR vpn, same with Cz vpn. Error below:
`[12:26:14 INFO]: UUID of player Bielecki is a89de266-1a38-3a9a-82e9-3da0c51a7178
[12:26:14 ERROR]: Could not pass event PlayerLoginEvent to AuthMe v5.4-SNAPSHOT-b1768
org.bukkit.event.EventException: null
        at org.bukkit.plugin.EventExecutor$1.execute(EventExecutor.java:46) ~[PaperSpigot-latest.jar:git-Paper-1151]
        at co.aikar

[2017-09-04 13:24] kizza5161 opened #1326 "Do you intend to upgrade it to use for sponge?"
I'm using a sponge server but a lot of players use a cracker that wants to participate in the game experience but in sponge they do not intend to create a plugin that allows off-mode mode. I would like to ask if you can upgrade auth to use for sponges?

[2017-09-04 14:30] sgdc3 commented on #1326
Maybe in the future, not in our todo list atm.

[2017-09-04 14:30] #1326 closed

[2017-09-04 14:31] sgdc3 commented on #1321
ok i broke something xD i'll fix that asap

[2017-09-04 18:12] MithrandirCraft commented on #1325
Confirmed here as well. Since I updated in attempt of a fix for the login on spawn issue:
https://hastebin.com/aweqinosig.vbs

[2017-09-04 18:15] MithrandirCraft commented on #1207
Emmm... Am I alucinating or didn't you ask me to update + if the issue was solved @sgdc3
You lied to me q_q
https://hastebin.com/emejipozoj.bash
Still doesn't work.

[2017-09-04 19:35] MithrandirCraft commented on #1207
I must also add, players are logging back in on the last place they logged out from since I updated (Noticed this only in hub).
I hope the config didn't reset...

[2017-09-04 19:45] MithrandirCraft commented on #1207
The config for Hub didn't reset. This simply stopped working:
`        teleportUnAuthedToSpawn: true`

[2017-09-05 01:50] sgdc3 commented on #1207
sigh, i'll try to fix the exception tomorrow

[2017-09-05 07:49] Bielecki commented on #1321
If that would be possible, can you add an entry into the config file (or a command if that will make things easier), which contains the IP address of a player whom I want to allow to join my server? I’m asking because if I give a permission to the player (on a nickname), the player will be able not only to join my server through his original IP, but also through any other IP address (by using VPNs

[2017-09-05 13:14] Darlelet commented on #1324
@sgdc3 Regarding the (world) context issue this seems to be fixed indeed! 😉

However I noticed two strange behaviors:

- It happens that the temporary parent is **not set at all** (and user keeps his base group). I didn't manage to reproduce on purpose, but it happened a few times during the testing phase.

- If you connect to server, but don't log in, and then disconnect and reconnect immediately

[2017-09-05 18:24] HexelDev commented on #1321
@Bielecki what if the player's IP is dynamic?

[2017-09-05 23:41] sgdc3 commented on #1324
I noticed LuckPerms handles very bad operations on offline players... we should write a proper luckperms integration that directly uses the api, not thru Vault

[2017-09-06 02:12] sgdc3 commented on #1325
@MarvanCZ @MithrandirCraft Should have been fixed in latest dev build ;)

[2017-09-06 07:36] Bielecki commented on #1321
@HexelDev that's his problem. If I give him access by IP, then after IP change he will be denied from joining. But then I could give him permission (on nick), if I decide to trust him :)

I have some players that are trying to join every couple of days and they have same IP every time, so I could let that IP join, because it hasn't changed for months.

[2017-09-06 10:32] sgdc3 commented on #1321
@Bielecki I fixed the exception, please try again with the latest dev build.

[2017-09-06 11:25] Bielecki commented on #1321
@sgdc3 Tested right now, works great :) Also I'd be grateful if you implement that "allow-one-ip" feature.

[2017-09-06 16:44] MithrandirCraft commented on #1325
Fixed on my side.

[2017-09-07 13:32] MithrandirCraft commented on #1207
This is also fixed. FOR NOW <u<

[2017-09-07 13:32] sgdc3 commented on #1207
Yah!

[2017-09-08 02:53] FlexVN commented on #1292
I use wordpress hash
Mysql I put in localhost
It does not report any logs either. I tried opening two auth servers that share authme's mysql table
Server auth1 has 7-15 player / s
Server auth2 does not have players
But when one server lag is the same server lag even if I shut down 2 servers and turn it back on then it stops at authme start pool
I then turned off mysql to re-enable it and it came b

[2017-09-08 10:25] HexelDev commented on #1292
@FlexVN are your (auth1 and auth2) servers running on your computer?

[2017-09-08 11:00] FlexVN commented on #1292
no errors

[2017-09-08 11:31] FlexVN commented on #1292
Error during SQL operation: [SQLTransientConnectionException]: AuthMeMYSQLPool - Connection is not available, request timed out after 30001ms.

[2017-09-08 14:36] sgdc3 commented on #1292
@FlexVN are you using mariadb?

[2017-09-08 15:02] FlexVN commented on #1292
i using mysql.com
my config: https://hastebin.com/faziboquvo.makefile

[2017-09-08 19:43] sgdc3 commented on #1292
@FlexVN Please post your authme config

[2017-09-08 20:36] sgdc3 commented on #1292
@FlexVN try this setting:

DataSource.maxLifetime: 360

[2017-09-08 23:29] FlexVN commented on #1292
my config: https://hastebin.com/nuceyukoci.bash

[2017-09-08 23:59] sgdc3 commented on #1292
set the max lifetime to 360

[2017-09-09 04:56] FlexVN commented on #1292
It still lag (long login player!) After the password is complete I have to wait 2-3m then it login complete

[2017-09-09 04:57] FlexVN commented on #1292
And slowly people say lag back :(

[2017-09-09 05:00] FlexVN commented on #1292
poolSize: -1
maxLifetime: 360

[2017-09-09 07:02] sgdc3 commented on #1292
try to set poolSize to 10

[2017-09-09 07:03] sgdc3 commented on #1292
how many servers do you have on the machine, how much ram did you assign to them, what's the system ram amount?

[2017-09-09 07:06] sgdc3 commented on #1292
try with poolSize: 10 and maxLifetime: 360

do you get any error or warning on console?

[2017-09-09 08:34] krusic22 commented on #592
Actually breaks it for me... Players now don't get teleported to spawn before they login except if they move.

[2017-09-09 09:20] sgdc3 commented on #592
:/ what about you @MithrandirCraft

[2017-09-09 09:43] MithrandirCraft commented on #592
3 things:
- Firstly, both bugs I mentioned are still not fixed. I thought they where, but the feature for sending to spawn on login only seems to work sometimes.
- The force spawn on login feature doesn't work.
- There's also some kind of issue with world spawning, where players appear where they shouldn't. In one of my worlds it sends players to a random location. On my hub world and other server

[2017-09-09 09:45] krusic22 commented on #592
The force spawn on login works for me (after they /login of course). Make sure you also set spawn cords in AuthMe.

[2017-09-09 09:49] MithrandirCraft commented on #592
Hmh... maybe it does. I was trying it yesterday and it wasn't.

[2017-09-09 09:51] MithrandirCraft commented on #592
It works sometimes. Check again by switching servers (If you use bungee) and logging completely out from the server/network. Make sure you actually moved away from spawn point.

[2017-09-09 09:53] krusic22 commented on #592
I don't get that bug... just the one before they login.

[2017-09-09 10:04] FlexVN commented on #1292
At logon it is still very slow
And then it crashed again until I restarted mysql and turned it back on :(

[2017-09-09 10:06] FlexVN commented on #1292
PlayerListener::onPlayerLogin(PlayerLoginEvent) Lag
https://timings.spigotmc.org/?url=lokememafi

[2017-09-09 10:42] FlexVN commented on #1292
my mysql errors:
https://hastebin.com/izewikaceg.sql

[2017-09-09 12:06] MarvanCZ opened #1327 "Error in AuthmeReloaded / RepeatingLogin Message"
Hello i found new bug.

When i login on game and send command for login.
login is successful but these errors occur rarely after login.

IMG: (https://imgur.com/m0aS1G8)

Error (https://pastebin.com/0J8d3DcB);
AuthmeReloaded version is v5.4S-NAPSHOT Build 1770

Please Fix it

[2017-09-09 12:31] FlexVN commented on #1292
pls help me :(

[2017-09-09 12:44] games647 commented on #1292
What version of MySQL do you use?

[2017-09-09 12:45] FlexVN commented on #1292
5.7

[2017-09-09 12:50] games647 commented on #1292
Could you try MariaDB? It's included in newer versions of XAMPP.

[2017-09-09 12:57] FlexVN commented on #1292
I tried using xampp before but it also lag :(
Includes: Apache 2.4.26, MariaDB 10.1.25, PHP 5.6.31, phpMyAdmin 4.7.0, OpenSSL 1.0.2, XAMPP Control Panel 3.2.2, Webalizer 2.23-04, Mercury Mail Transport System 4.63, FileZilla FTP Server 0.9. 41, Tomcat 7.0.56 (with mod_proxy_ajp as connector), Strawberry Perl 7.0.56 Portable

[2017-09-09 13:00] games647 commented on #1292
Check if no other program is using your port, because the error message means that AuthMe cannot reach the server.

[2017-09-09 13:07] FlexVN commented on #1292
no config bad what we're lag as this 3 months ago and find all ways but one failed

[2017-09-09 13:09] FlexVN commented on #1292
My server lags:
[+] phuthu ─É├ú Tham Chiß║┐n
[20:09:05 WARN]: handleDisconnection() called twice
[20:09:05 INFO]: phongnhoz1230 lost connection: Disconnected
[20:09:05 INFO]: binhlkvn1 lost connection: Disconnected
[20:09:05 INFO]: [AuthMe] theotaooke logged in!
[20:09:05 INFO]: [AuthMe] KhangPro_1772007 registered 123.22.250.73
[20:09:05 INFO]: KhangPro_1772007 lost connection: ┬º2─É─âng k├╜ th├á

[2017-09-09 13:10] FlexVN commented on #1292
my mysqlerrors.err:
2017-09-09T13:00:20.190530Z 100 [Note] Aborted connection 100 to db: 'unconnected' user: 'root' host: 'localhost' (Got timeout reading communication packets)
2017-09-09T13:00:20.198533Z 101 [Note] Aborted connection 101 to db: 'unconnected' user: 'root' host: 'localhost' (Got timeout reading communication packets)
2017-09-09T13:05:29.186332Z 153 [Note] Access denied for user 'r

[2017-09-09 13:11] FlexVN commented on #1292
used mariadb, mysql are all the same error
example:
2017-09-09T13: 08: 20.018412Z 214 [Note] Aborted connection 214 to db: 'mc_users' user: 'root' host: 'localhost' (Got an error writing communication packets)
[Note] Aborted connection 205 to db: 'mc_users' user: 'root' host: 'localhost' (Got an error writing communication packets)

[2017-09-09 14:27] sgdc3 commented on #1292
@FlexVN please describe your machine (cpu ram hdd) and the OS (windows / linux distro) this seemns like an issue with yout system setup.
Have you tried with a fresh new db? Maybe the current one is corrupted.

[2017-09-09 14:28] sgdc3 commented on #1292
If you want i can help you remotely, it's hard to understand what's the real cause of your issue.

[2017-09-09 14:30] sgdc3 commented on #1327
@games647 could you please take a look if we do some wrong async stuff with permission group changes?

[2017-09-09 14:33] sgdc3 commented on #592
Ok, i'll take a look at this again

[2017-09-10 02:55] FlexVN commented on #1292
Duel Xeon X5650
32 GB Ram
500GB HDD

[2017-09-10 11:48] sgdc3 commented on #1292
@FlexVN is it ok if we try to fix your issue remotely with tools like TeamViewer or AnyDesk or via screen sharing with Skype? send me an email at: sgdc3.mail@gmail.com

[2017-09-12 14:53] games647 commented on #1327
@sgdc3  I found none. I looked up the usages of `PermissionManager` methods and `setOP(boolean)`. **Maybe** it's another plugin. We could maybe add a patch to Spigot for another AsyncCatcher or a create Java proxy to find the source.

@MarvanCZ What permissions plugin do you use and what plugins do you have that modifies permissions.

[2017-09-12 18:26] MarvanCZ commented on #1327
permissionsEx 1.23.4

[2017-09-12 18:29] MarvanCZ commented on #1327
Plugins (58): ShadowDog, AdvancedClearlag, PlaceholderAPI, NametagEdit, FixPlugin, ChatReaction, OldCombatMechanics, CensorReloaded, Realistic_World, CoreProtect, dynmap, Skript, QuickBoard, Votifier, Multiverse-Core, ProtocolLib, DeathMessagesPrime, LibsDisguises, VotingPlugin, FastAsyncWorldEdit, PermissionsEx, mcMMO, MassiveCore, HolographicDisplays, HideAndCustomPlugins, AAC, SkinsRestorer, Cr

[2017-09-13 19:59] SzymoonDev opened #1329 "Message when wrong password"
Hi,
this is not a bug, maybe offer.
When i use wrong password for my account, authme send me text message "Forgot your password? Please use the command: /email recovery <yourEmail>", but i dont have email added to account.
In other words, authme doesn't have to send me text message ("Forgot your password? Please use the command: /email recovery <yourEmail>"), when i dont have added email to accoun

[2017-09-13 20:39] sgdc3 commented on #1329
Please post your configuration file. (Remove your db credentials)

[2017-09-14 14:57] SzymoonDev commented on #1329
https://hastebin.com/okagabobin.bash
AuthMe configuration.

[2017-09-14 15:32] games647 commented on #1327
It's SkinsRestorer. They run an async where they change the OP status. Related ticket https://github.com/Th3Tr0LLeR/SkinsRestorer---Maro/issues/209

[2017-09-14 15:34] sgdc3 commented on #1327
@games647 i love you just because you made possible to replace that shitty plugin ;) ChangeSkin id way better!

[2017-09-14 15:47] MarvanCZ commented on #1327
Thank you for clarifying the problem.

[2017-09-14 15:55] #1327 closed

[2017-09-14 16:25] sgdc3 commented on #1329
@SzymoonDev Should have been fixed ;)

[2017-09-14 19:55] sgdc3 commented on #1324
@Darlelet Could you try with the latest dev build? ;)

[2017-09-14 22:55] sgdc3 commented on #1321
@Bielecki As most of the public ips nowadays are dynamic addresses i don't think that feature would be very useful.

[2017-09-14 22:55] sgdc3 commented on #1321
@Bielecki Open a new issue if you still think you need this feature.

[2017-09-14 22:55] #1321 closed

[2017-09-14 22:56] #1322 closed

[2017-09-14 22:57] sgdc3 commented on #1318
@pjorun Do you have any news about that?

[2017-09-14 22:58] #1309 closed

[2017-09-14 22:58] #1298 closed

[2017-09-14 22:59] #1313 closed

[2017-09-14 23:00] sgdc3 commented on #1300
I think this happens only with PermissionsEx, we should check that

[2017-09-14 23:01] sgdc3 commented on #1295
@Pijanista any news?

[2017-09-14 23:01] sgdc3 commented on #1292
@FlexVN

[2017-09-14 23:03] sgdc3 commented on #1150
@Xephi any news about that? ;)

[2017-09-15 08:42] Xephi commented on #1150
It actually works, i've to write the wiki page T.T

[2017-09-15 11:44] RoinujNosde opened #1330 "[Question] Where are the country codes?"
https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/config.md redirects me to https://dev.bukkit.org/projects/authme-reloaded/pages/countries-codes but this page cannot be found...

[2017-09-15 11:58] sgdc3 commented on #1329
Reminder: use Utils.isEmailDefined

[2017-09-16 08:43] ljacqu commented on #1326
See also #837

[2017-09-16 08:55] ljacqu commented on #1320
Hi @SaitDev , how did it work with the debug build?

[2017-09-16 09:55] HexelDev commented on #1311
@ljacqu What do you think about the above ideas? :)

[2017-09-16 09:58] SzymoonDev commented on #1330
http://dev.maxmind.com/geoip/legacy/codes/iso3166/

[2017-09-16 10:06] RoinujNosde commented on #1330
Thanks!
(I am gonna leave this open so they can fix it)

[2017-09-16 10:09] SzymoonDev commented on #1329
Works correctly, thanks :)

[2017-09-16 10:24] HexelDev commented on #1300
Our code seems ok, but I'm not sure if PermissionsEx handle the permissions in an 'opposite' way...

E.g.

[2017-09-16 11:50] sgdc3 commented on #1330
We have to change the url in the configuration

[2017-09-16 12:02] #1329 closed

[2017-09-16 12:05] #1330 closed

[2017-09-16 15:56] ljacqu commented on #1311
Sounds great! :) I worry that we make things too complicated. But the email captcha would add a nice layer of security on top; some sort of frozen state would fix the vulnerability described in #681. For this story I would suggest to only look at the email captcha. This should not be too difficult to do (although I guess somewhat time-consuming to integrate it everywhere).

[2017-09-16 17:51] SaitDev commented on #1320
Sorry for late reply, I tried with logLevel is DEBUG, there isnt any message like "Limbo destination world was null!"

[2017-09-16 18:07] SaitDev commented on #1320
Just test with the newest dev build 1778. It works fine now, seem like its same with 1207. I'll close this issue. Thanks for your work

[2017-09-16 18:07] #1320 closed

[2017-09-17 04:00] ljacqu commented on #1320
Thanks for the update!

[2017-09-17 09:42] HexelDev commented on #1311
Perfect

[2017-09-17 18:07] Eyremba commented on #1150
Just by the way, this here: https://github.com/andreas1327250/argon2-java is a pure Java implementation of Argon2.

It could be maybe implemented into AuthMe, and it would not require any external libraries or dlls or stuff.

[2017-09-17 18:24] ljacqu commented on #1150
That's pretty cool, I would immediately favor that over anything that requires additional steps. Looks like it still needs a little to be mature, though. Maybe I could help out a little.

[2017-09-17 20:04] Eyremba commented on #1150
Yes. The last changes in the repo were made 5 days ago, so yes it is currently in active developement.

But maybe it could be used in AuthMe soon. I have tested this Argon2 version, and it seems to be pretty stable. Also, AuthMe could pull the latest version of Argon2 everytime before a AuthMe release is compiled.

[2017-09-18 11:25] renzotom opened #1333 "Problem with LuckyPerms"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
When I updated  to the latest AuthmeReloaded development build (#1782), LuckyPerms give me error about:
[code]

### What behaviour is expected:
I expect, LuckyPerms and Authme work, both.

### Steps/models to reproduce:
I only updated to the lat

[2017-09-18 11:28] sgdc3 commented on #1333
@lucko Any idea?

[2017-09-18 11:35] renzotom commented on #1333
I am deleted "playerdata folder" and "authme.db", beacuse my server isn't opened yet.

But for next time, can't you add other way to fix it without deleting that folder and that file?

[2017-09-18 12:28] games647 commented on #1333
@sgdc3 Maybe it's because #1331 that we check the permissions to early.

[2017-09-18 12:39] renzotom commented on #1333
And will it be fixed? When I remove folder and file (menitioned UP), it worked.

[2017-09-18 19:10] renzotom commented on #1333
Other users, except me can't join my server. PLEASE, FIX IT. IT IS REALLY IMPORTANT. I must disable Authme for now and turn on Whitelist for my server, there isn't another solution...

[2017-09-18 19:25] games647 commented on #1333
Yes, you could try an older build and test if it works.

[2017-09-18 19:33] renzotom commented on #1333
`[21:25:01] [User Authenticator #6/INFO]: UUID of player SkyBlood is 770542f2-59df-3dfe-83d1-f0ad0b12bd0f
[21:25:01] [Server thread/INFO]: Disconnecting com.mojang.authlib.GameProfile@16557ea7[id=770542f2-59df-3dfe-83d1-f0ad0b12bd0f,name=SkyBlood,properties={},legacy=false] (/xxx): §7§l[§b§lL§3§lP§7§l] §cPermissions data could not be loaded. Please try again later.
[21:25:01] [Thread-29/INFO]: [0

[2017-09-18 19:41] renzotom commented on #1333
On build 1753 it works, I try some newer version, before new LuckPerms handler.

[2017-09-18 19:51] lucko commented on #1333
Might be fixed by https://github.com/lucko/LuckPerms/commit/5b742eb5b2db16676cc6adcbcff604b16a186b03

https://ci.lucko.me/job/LuckPerms/331/

[2017-09-18 20:05] renzotom commented on #1333
Yeah, probably fixed, if no, I write here again :D .

[2017-09-18 20:06] #1333 closed

[2017-09-18 20:36] renzotom opened #1334 "Request: add "PSW PSW_CONFIRM EMAIL" registration type."
Can we have also third argument, when players register? I want create something like /register password password email (email is optional, but will be wrote there).

And when will be released authenticator app? https://github.com/AuthMe/AuthMeReloaded/wiki/Registration Can we see somewhere some progress?

[2017-09-20 12:50] DisTrugator commented on #1324
Latest dev build still have this error on PaperSpigot 1.12.2

[2017-09-20 16:39] sgdc3 commented on #1324
@DisTrugator Are you using the latest LuckPerms dev build?

[2017-09-20 19:41] Darlelet commented on #1324
Sorry for not being the quick-reply guy here 😞, quite busy last few days...

Never mind, just tried out latest Authme build, using LP 3.3.19.

Here's what I noticed:
- This version **definitely seems to fix** the previous issue causing a player to loose his group.
I tried a dozen times, didn't happened, the feature is working as expected. 👍
- On the other hand this seems to bring in a new (**minor

[2017-09-20 21:40] sgdc3 commented on #1324
@Darlelet This has been fixed by luckperms in the latest dev builds: https://ci.lucko.me/job/LuckPerms/334/

;)

[2017-09-20 21:40] sgdc3 commented on #1324
@Darlelet Check it out and let us know if that fixed your issue

[2017-09-20 21:57] Darlelet commented on #1324
I'm gonna give it a try soon and keep you informed.

Should've tried latest LP build aswell indeed, my bad! :wink:

On Sep 20, 2017, 11:40 PM, at 11:40 PM, "Gabriele C." <notifications@github.com> wrote:

[2017-09-22 19:32] Pluginsel opened #1335 "Add /authme registeredlist command on AuthMe 5.4"
I Have a idea:
Can you add the /authme registeredlist command on version 5.4?
This command show the all registered players.

Example:
IGN İssued server command: /authme registeredlist
Server: total registered users: 7643

Thanks!

[2017-09-23 10:49] ljacqu commented on #1335
It's available under /authme debug (don't know which one by heart). I think that should be enough and doesn't require a dedicated command

[2017-09-23 20:10] SaitDev opened #1336 "Teleport unAuthenticated player to spawn broke"
After fix #1207 option `teleportUnAuthedToSpawn : true` seem not work anymore. When join and havent login with password, players arent teleported to spawn

AuthMeReloaded v5.4-SNAPSHOT (build: 1782)
Paper Spigot 1.11.2

[2017-09-23 20:48] sgdc3 commented on #1336
Do you have any error in the console log?

[2017-09-23 22:39] SaitDev commented on #1336
Sorry for missing info. There isnt any error in the console

[2017-09-24 13:59] sgdc3 commented on #1336
@SaitDev Could you post your configuration file please?

[2017-09-24 18:40] SaitDev commented on #1336
Same with my old one on privious report https://pastebin.com/XMexrbwu

[2017-09-26 19:24] krusic22 commented on #1335
/authme debug stats
Should do the job.

[2017-09-26 19:31] krusic22 commented on #1336
Related to #592
I think

[2017-09-26 21:43] #1335 closed

[2017-09-26 22:21] SaitDev commented on #1336
@krusic22 not really. by that report `teleportUnAuthedToSpawn` still works but got some delay so that other player can get *real location* of any account without login with password.
for me `teleportUnAuthedToSpawn` totolly not work, player stay where they were and authme wait for them type /login password

[2017-09-26 22:29] krusic22 commented on #1336
I'm saying that the patch for #592 broke teleportUnAuthedToSpawn for me at least.

[2017-09-26 23:34] SaitDev commented on #1336
i see. u should told it first 😅

[2017-09-27 12:41] sgdc3 commented on #592
@MithrandirCraft Let's end this meme xD

[2017-09-27 12:42] sgdc3 commented on #592
This fix is effective only on 1.9+ servers.

[2017-09-27 13:19] sgdc3 commented on #1336
@SaitDev Could you check latest build please? ;)

[2017-09-27 15:11] krusic22 commented on #1336
Fixed for me (using a 1.12.2 server)

[2017-09-27 15:14] SaitDev commented on #1336
`teleportUnAuthedToSpawn` works fine with latest build but #1207  come back :((

[2017-09-27 19:07] MithrandirCraft commented on #592
Ok, I'll check it after I fix my network which was severely hacked and brutally greefed for no justified reason.

[2017-09-27 19:41] sgdc3 commented on #592
@MithrandirCraft Uh, that's very sad :( I hope authme wasn't the fault in your security.

[2017-09-27 19:43] MithrandirCraft commented on #592
@sgdc3 No, it was a backdoor bruteforce attack.

[2017-09-29 07:48] sgdc3 commented on #1336
@SaitDev what do you mean? ForceSpawnOnLogin is applied only after the login.

[2017-09-29 16:19] SaitDev commented on #1336
yes, after login success player are teleported back to worlds that are in ForceSpawnLocOnJoin.worlds instead of stay at spawn

[2017-09-29 17:26] sgdc3 commented on #1336
@SaitDev so it works as intended, what's the issue?

[2017-09-30 10:53] SaitDev commented on #1336
I dont think it works as intended. In my config file https://pastebin.com/XMexrbwu there is `Dungeon` in section ForceSpawnLocOnJoin.worlds.
When player connect to server, they r teleported to spawn by `teleportUnAuthedToSpawn: true`. After enter password and login successfully, they r teleported back to `Dungeon`. So `ForceSpawnLocOnJoin` does no job when teleportUnAuthedToSpawn is actived

[2017-09-30 13:16] sgdc3 commented on #1336
@SaitDev could you check the latest dev build? ;)

[2017-09-30 13:16] sgdc3 commented on #1295
Fixed

[2017-09-30 13:16] #1295 closed

[2017-09-30 14:04] #1243 closed

[2017-09-30 14:06] sgdc3 commented on #1193
The issue was probably caused by some old glitch, not bungeecord related

[2017-09-30 14:06] #1193 closed

[2017-09-30 14:07] sgdc3 commented on #1302
MSSQL requires a complete rewrite of the sql queries, i'll keep this open but not in our todo list atm

[2017-09-30 14:28] fmohican commented on #1302
okay, Thanks you!

[2017-09-30 14:35] SaitDev commented on #1336
both `teleportUnAuthedToSpawn` and `ForceSpawnLocOnJoin` work fine with 1790

[2017-09-30 15:18] Pluginsel opened #1338 "[Request] AuthMe /email command translate"
Can you add the translate for command: **/email** on the version 5.4?
http://prntscr.com/grl4yc

[2017-09-30 15:53] ljacqu commented on #1338
Hi @Pluginsel , you can translate all of the help commands with help_xx.yml in your messages folder. At the top there are some comments on the format.

[2017-09-30 16:34] sgdc3 commented on #1338
@Pluginsel let us know if we can close this issue or if you have more questions ;)

[2017-09-30 16:34] sgdc3 commented on #1336
Nice, thank you @SaitDev

[2017-09-30 16:34] #1336 closed

[2017-09-30 16:36] sgdc3 commented on #1302
@fmohican Would PostgreSQL support be useful for you? I think it would be easier to implement and will allow us to start working on an abstraction layer for the sql database implementations ;)

[2017-09-30 16:49] sgdc3 commented on #1324
@Darlelet Any news?

[2017-09-30 17:09] sgdc3 commented on #1319
@hsombini Still happening? The code looks fine.

[2017-09-30 17:10] sgdc3 commented on #1311
@HexelDev any news? ;)

[2017-09-30 17:16] Darlelet commented on #1324
@sgdc3 LGTM (15+ attempts or so), good job! 🎉
~ Using latest LP (Build 341)

I guess I should close the issue then? ;p

[2017-09-30 17:18] sgdc3 commented on #1324
Thank you for the feedback.

[2017-09-30 17:18] #1324 closed

[2017-09-30 18:02] MithrandirCraft commented on #592
Now "ForceSpawnLocOnJoin" is not working at all.
https://hastebin.com/ivocikayuh.bash

However, teleporting unauthed to spawn is working perfect.

[2017-09-30 18:05] sgdc3 commented on #592
@MithrandirCraft Update again, i fixed it today

[2017-09-30 18:32] HexelDev commented on #1311
I'll soon create the issue related branch :)

[2017-09-30 18:52] #794 closed

[2017-09-30 18:53] sgdc3 commented on #1311
Thank you

[2017-09-30 18:56] sgdc3 commented on #829
What's the goal of this? @LapizSeller @ljacqu

[2017-09-30 18:59] ljacqu commented on #829
Apparently @LapizSeller has the need to be able to use a tag that will be replaced to the player's name in any message.

[2017-09-30 19:00] sgdc3 commented on #829
Uh, nice

[2017-10-01 09:46] Pluginsel commented on #1338
translate for help_xx is very hard.
I working, wait before close this issue.
Thanks @sgdc3 and @ljacqu

[2017-10-01 09:51] Pluginsel commented on #1338
I need help for translate the /email command.
Can you send example?

[2017-10-01 10:33] MithrandirCraft commented on #592
It works so well I'm even surprised.
I consider this matter currently solved.

[2017-10-01 11:47] SourcePowered opened #1341 "NoClassDefFoundError for PlayerSpawnLocationEvent on Uranium (KCauldron)"
Uranium 1.7.10 - B172 ( A KCauldron fork https://ci.xjboss.net/job/Uranium-dev/ )
Authme Build 1797

First time:
[code]

Then I set some thing to "false", and next time:

[code]

**The old version did not have this problem.**

[2017-10-01 13:10] MineSAT commented on #1338
I vote for that! where can I find the list of commands by defect with the English descriptions already made to be able to translate it easier?

[2017-10-01 13:15] MineSAT commented on #1341
It seems that Authme is not compatible with KCauldron :/

[2017-10-01 15:05] SourcePowered commented on #1341
YES, sir. I will using 5.3.2 or ... 3.4...

[2017-10-01 15:53] sgdc3 commented on #1341
@MineSAT It is compatible, that is caused by a recent commit, i'll fix this asap ;)

[2017-10-01 15:55] sgdc3 commented on #1338
@Pluginsel just look at the help_en one, it should be easy to understand.

[2017-10-01 15:56] sgdc3 commented on #1338
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/resources/messages/help_en.yml

[2017-10-01 15:56] sgdc3 commented on #592
@MithrandirCraft Thank you ;)

[2017-10-01 15:56] #592 closed

[2017-10-01 18:47] ljacqu commented on #1341
Review:
- Does the new event really belong in the 1.9 listener? The package name suggests it's specific to Spigot: `org.spigotmc.event.player.PlayerSpawnLocationEvent`. Suggestion: add to a new "SpigotPlayerListener" (or similar) and determine with `Utils#isClassLoaded` which option to choose.
- `IS_ASYNC_PLAYER_PRE_LOGIN_EVENT_CALLED` is not immutable and so should not be in uppercase.
- `isIsPla

[2017-10-01 18:49] ljacqu commented on #1338
We could generate a fully complete help YML file. Would suggest to keep this issue open for doing that. It's been on my mind for a while... :)

[2017-10-01 23:27] sgdc3 commented on #1341
Lol i missed all that points, you're 100% right xD

[2017-10-02 02:56] Roper89 opened #1343 "unrestrictions"
In **config.yml** there is a setting for the exceptions "**unrestrictions**". But there are no commands to add to the list. I want to add players to "unestricts" through the console. For premium users to login without authorization.

_P.S. I understand that this is not safe_

[2017-10-02 06:12] Roper89 opened #1344 "Non-forced registration inconsistencies"
1)

With these settings config.yml:

_registration:
  enabled: true
  force: **false**_

does not work "useWelcomeMessage: true" for unregistered users.
This is very inconvenient, I have to use other plugins for WelcomeMessage

2)

customJoinMessage:
"# {DISPLAYNAME}: the player name (with colors)" — Color codes do not work

[2017-10-02 07:04] sgdc3 commented on #1344
1) Fixed

2) Try with {PLAYERLISTNAME}, if it doesn't work then you have an issue with another plugin.

[2017-10-02 07:41] sgdc3 commented on #1341
@ljacqu is it ok now?

[2017-10-02 11:57] MineSAT commented on #1338
@ljacqu Yes please! generates the whole file so that it is easier to translate. Thanks ;)

[2017-10-02 14:28] Roper89 commented on #1344
1.

{PLAYERLISTNAME} also does not work.
Please check by yourself.  Even without other plugins, color codes do not work.
Screenshot:  https://i.imgur.com/HLHjvQ5.png

2.

With these settings config.yml:

_registration:
enabled: true
force: **false**_
       **+**
              _ProtectInventoryBeforeLogIn: **true**_

Not registered players can not take anything

[2017-10-02 20:21] ljacqu commented on #1341
@sgdc3 Thanks, looks good and successfully tested with Bukkit 1.8.8. I close.

[2017-10-02 20:21] #1341 closed

[2017-10-03 15:55] renzotom commented on #1334
Can someone reply?

[2017-10-03 15:55] sgdc3 commented on #1334
About the app: no news atm, we are currently too busy to work on it.

[2017-10-03 18:11] Roper89 commented on #1344
Addition to the first message:

"customJoinMessage" is also not shown if:
_registration:
  enabled: true
  force: **false**_

[2017-10-03 20:11] arturek1666 opened #1345 "Java 9 compatibility"
After my host changed to java 9 plugin stopped working, I did try to make them switch but they don't. So please update to support java 9

### Environment description
paperspigot1.12.2

### AuthMe build number:
AuthMe 5.3.2

### Error Log:
[21:55:25] [Server thread/INFO]: [AuthMe] Enabling AuthMe v5.3.2-b1726
[21:55:25] [Server thread/WARN]: [AuthMe] Aborting initialization of AuthMe: [NoClassDefFo

[2017-10-03 20:19] ItzSomebody commented on #1345
Java 9 literally breaks everything so don't expect an update anytime soon.

[2017-10-03 20:39] sgdc3 commented on #1345
@ItzSomebody Nope, i'm only waiting for a library update and we are ready for java 9 ;)

[2017-10-03 20:50] ItzSomebody commented on #1345
@sgdc3 oh ok, good to know.

[2017-10-03 21:26] Platinteufel opened #1346 "Authme purge issue"
**From SpigotMC** (just report it here): https://www.spigotmc.org/threads/authme-reloaded.62079/page-46#post-2695112

AuthMe v5.3.2-b1726
git-Spigot-570526c-75a8885
PEX

https://pastebin.com/qpiab1Md

[2017-10-03 21:58] sgdc3 commented on #1346
@Platinteufel try to disable permission purging

[2017-10-03 22:06] Platinteufel commented on #1346
@sgdc3 Thanks, but it's not my issue, it's from SpigotMCs discussion thread (see link above)

[2017-10-04 13:00] Roper89 commented on #1343
?

[2017-10-04 13:04] sgdc3 commented on #1343
@ljacqu what do you think about this?

[2017-10-04 13:51] Arcenia opened #1347 "API: Missing changePassword method"
just need a changepassword method in authme api.

[2017-10-04 17:48] Roper89 commented on #1344
Another bug.
If you use these settings:

_registration:
enabled: true
force: **false**_

Ignore the setting — "_SaveQuitLocation: **true**_"

[2017-10-04 18:10] HexelDev commented on #1311
Ok, we will call this feature **email verification code** because captcha is fuorviant.

### The plan

The idea is to provide via mail a verification code that will authenticate the user until the disconnection from the server, giving him the access to edit his personal informations.

At the moment I've implemented the email related methods but not the code handler ones either the user input ones.

[2017-10-04 18:19] sgdc3 commented on #1334
@ljacqu What do you think about that? Probably we shoudnìt add the psw confirmation if we already have the recovery email :/

[2017-10-04 18:29] sgdc3 commented on #1344
Fixed the welcome message colors

[2017-10-05 05:54] ljacqu commented on #1346
It's a bug on our side in the sense that I don't want an NPE to happen just because a queried user doesn't exist

[2017-10-05 05:56] ljacqu commented on #1344
Can we split this into multiple issues? Whatever was reported initially has been fixed within this issue — reappropriating it leaves no log of the initial bug.

[2017-10-05 05:59] ljacqu commented on #1343
Hmm, unrestriction basically means that AuthMe will ignore the player altogether (i.e. for him the experience is as if AuthMe didn't exist: no restrictions, no need to log in).
If you want premium players to be logged in automatically, have a look at https://github.com/games647/FastLogin

[2017-10-05 06:03] ljacqu commented on #1334
To be honest I'm really not "feeling" this issue ;) The reason being it seems annoying for me to use as a user, and it would bloat our config even more. If this was a popular demand I wouldn't mind. If only one person wants this I'd vote to skip it.
Essentially this could easily be done by a dev by overrriding the register cmd and checking the confirmation there before passing on the data to our A

[2017-10-05 07:32] sgdc3 commented on #1334
I agree

[2017-10-05 07:33] #1334 closed

[2017-10-05 07:35] sgdc3 commented on #1343
@ljacqu yeah, i think it would be a security risk too

[2017-10-05 07:37] sgdc3 commented on #1344
@ljacqu no, we need to find out a better way to handle non registered players with force mode disabled.. We should handle it like we do with sessions.

[2017-10-05 07:39] sgdc3 commented on #1346
@ljacqu how would that happen?

[2017-10-05 08:09] ljacqu commented on #1344
I'm talking about issues in GitHub. This was initially about player display names.

[2017-10-05 08:11] ljacqu commented on #1343
If we need to support unrestricted users "dynamically" I'd rather go with a permission than a command -> no need to change the config on runtime or worry about persistence another way

[2017-10-05 14:25] Roper89 commented on #1343
If you did not have this function, then there were no questions.
Function is available, but poorly implemented.
Do it for use or discard it.

I want to add players to "unrestrictions" even if it's not safe, but it's done through config.yml is extremely inconvenient

[2017-10-05 15:57] ljacqu commented on #1343
The function is meant for NPC players that have a predefined name. To me it sounds like you're trying to solve a problem with unrestrictions where there might be a more appropriate solution.

[2017-10-05 21:14] ljacqu commented on #1345
Hi @sgdc3, I managed to release the new update of the injector. If there's nothing else this can be marked as a "please verify."

[2017-10-05 21:21] sgdc3 commented on #1345
@arturek1666 Please try the latest dev build ;)

[2017-10-05 22:02] ljacqu commented on #1347
hi @Arcenia , this is now available from build n. 1808 or above. http://ci.xephi.fr/job/AuthMeReloaded/ OK for us to close?

[2017-10-05 22:05] ljacqu commented on #1346
Sorry, I misread the stacktrace and thought a larger part of the stacktrace was from AuthMe. IMHO this is a bug on PermissionsEx side. More details would be interesting (like what was the username and did he exist in PermissionEx).

[2017-10-06 09:11] Roper89 commented on #1344
Tell me, has not this been fixed yet?

I write: _customJoinMessage: 'Hi **&5**{DISPLAYNAME}  ^_^'_
The name does not get colored ...

[2017-10-06 12:03] sgdc3 commented on #1344
You probably have a plugin that adds &r in the displayname.

[2017-10-06 20:15] arturek1666 commented on #1345
yea it work's thanks :)

[2017-10-06 21:08] #1345 closed

[2017-10-06 23:30] #1258 closed

[2017-10-07 10:40] sgdc3 commented on #1258
@ljacqu i think we should collect such tips in a wiki page...

[2017-10-07 12:51] ljacqu commented on #1258
@sgdc3 You're welcome to create one. I don't understand the issue here well enough to be able to phrase it in a useful way.

[2017-10-07 13:10] ljacqu commented on #1311
Hi @HexelDev , sorry for the late reply ;)

I like that you steer clear from the "captcha" name so that we can easily distinguish our different code systems.

What common properties do you see between these codes and 2FA? I'm not sure I follow your second point under "To Do."

Have you thought about configurations yet? I am thinking we need a boolean "enable" property and probably one to set the v

[2017-10-07 23:51] HexelDev commented on #1311
No problem @ljacqu ^.^

If you're not looking forward to doing it, for me it's fine to leave it out until someone requests it.

As I saw we already have a [function](https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/mail/EmailService.java#L105) for it, I will try to copy-paste it and get the best result :P

### Configuration

I am thinking the same, so

- Enable pr

[2017-10-08 00:04] HexelDev commented on #1311
Or it can also be done using the bungeecord pipeline...

At the moment **I will close the issue after the 'local implementation'**. After that I will try to work with @sgdc3 and figure out how to implement a sort of 'temporary data sharing system'...

[2017-10-08 00:47] sgdc3 commented on #1311
I think that we shouldn't use the bungeecord messaging channel, new db columns are fine in my opinion.

[2017-10-08 09:50] ljacqu commented on #1311
+1, keeps our issues to stand for a reasonable unit of work :)

@sgdc3 Could you provide a motivation for this? I'd tend to do the opposite because once we'd have a Bungeecord messaging system in place we'd be able to apply it for other things (like recovery code or captcha). I'm scared of polluting our table with a lot of temporary data, especially here we're probably talking about three addition

[2017-10-08 09:57] #1318 closed

[2017-10-08 10:15] sgdc3 commented on #1311
Bungee messaging is too incosistent, if there are no players online on a server bungee can't send the data to it.

[2017-10-08 10:15] sgdc3 commented on #1311
The only way is to use a messaging system based on redis but that is too complex for normal users.

[2017-10-08 10:43] ljacqu commented on #1311
I wouldn't want to synchronize all servers, just if a player is on the server, the request for a verification code or whatever would be forwarded to the "master server."

So if a player is on another server and does /email code, the server asks the master "hey is that correct for this user?" and the master replies, because he's the one with the data.

[2017-10-08 10:59] sgdc3 commented on #1311
:/ Too complex

[2017-10-08 11:02] HexelDev commented on #1311
There will always be a player where the information is required. We can't adopted a master-slave format but we can use a simple information shared system based on time

[2017-10-08 11:02] HexelDev commented on #1311
Woops sorry

[2017-10-08 11:02] HexelDev commented on #1311
Woops sorry

[2017-10-08 11:03] sgdc3 commented on #1311
In the past we had many issues caused by plugin messaging

[2017-10-08 11:51] HexelDev commented on #1311
It will be used only to share temp data, if the transmission fail it will not be a problem...

[2017-10-08 11:53] HexelDev commented on #1311
Anyway after this issue I'll do a test :)

[2017-10-08 19:13] Eufranio opened #1350 "AuthMe/LuckPerms server stall"
The server just stalled once a (maybe) random player joined. Stall-report: https://gist.github.com/Eufranio/dd8feaf2df8f1c82731aa80a32506a8c
Config: https://gist.github.com/Eufranio/6738caa3dd617e00d82f14b94ec31bdc

Running:
  AuthMe-5.4-b1808
  Thermos-1.7.10-1614-b58

[2017-10-08 20:40] ljacqu commented on #1095
Hi @GeigerCounter, using the following configuration: https://hastebin.com/eguwusagum.bash our SMF integration looks alright. You have to register from the forums but if that is given, changing passwords in the forum or in Minecraft works fine for me, as does logging in on both sides (forum and MC). I propose to open another issue for the registration issue - it would be nice to be able to registe

[2017-10-08 20:48] ljacqu commented on #1338
Hi @MineSAT, we'll offer a command soon that will extend the current help YML file to include all possible entries. It's not in the latest JAR yet, but if you want to get started, here's how the generated file would look:
https://hastebin.com/obefedibof.vbs

[2017-10-08 20:53] GeigerCounter commented on #1095
@ljacqu I'll try with the latest comment and close the issue if this resolves it. As per opening a new issue, could you handle that please? I'm not even sure what exactly it is you're wanting to put down as an issue.

[2017-10-08 20:55] ljacqu commented on #1095
That sounds like a plan @GeigerCounter , thank you~

[2017-10-08 23:03] sgdc3 commented on #1350
looks like a luckperms issue

[2017-10-08 23:08] Eufranio commented on #1350
@lucko?

[2017-10-08 23:23] lucko commented on #1350
@sgdc3 You're joining a future on the main thread.

This means the main thread is blocked, and pauses to wait for the future to complete. (not good)

You even commented this in the code....
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/permission/handlers/LuckPermsHandler.java#L66

Don't see how you could possibly blame me, lol.

[2017-10-09 00:38] GeigerCounter commented on #1095
@ljacqu I'm having a bit of a brain slog today, so I might not get this done until tomorrow. Could you tell me what column types I need for the SQL database? Also, AuthMe only tries to create the table if it can't find the appropriate columns, right? I already have a table in place, from a fresh SMF install with only two users. I need AuthMe to not shutdown and use the table that's already there.

[2017-10-09 05:23] ljacqu commented on #1095
@GeigerCounter No problem, please have a look at my config.yml in https://github.com/AuthMe/AuthMeReloaded/issues/1095#issuecomment-335036850

Not sure what you mean there—if you already use MySQL you can adapt settings and do /authme reload; otherwise you'll need to restart (cannot change database type on reload)

[2017-10-09 05:23] ljacqu commented on #1095
One small caveat at my config, I'm not sure about the ip columns (ip vs. ip2). Exercise left for the reader ;)

[2017-10-09 06:48] sgdc3 commented on #1350
Whoops, missed that point, sorry xD

[2017-10-09 06:49] sgdc3 commented on #1350
@lucko any way to set a timeout to the task?

[2017-10-09 07:00] sgdc3 commented on #1350
Uh right, ComparableFuture.get(timeout, TimeUnit) ;)

[2017-10-09 07:05] sgdc3 commented on #1350
@Eufranio Should have been fixed

[2017-10-09 07:06] #1347 closed

[2017-10-09 07:26] sgdc3 commented on #1344
@Roper89 try with {DISPLAYNAMENOCOLOR} (update to latest dev build first)

[2017-10-09 08:01] lucko commented on #1350
Blocking the main server thread for 1 second is still absolutely not ok.

You will absolutely kill the TPS, and create 1 second long lag spikes (worst case) every time you retrieve an offline user.

[2017-10-09 08:01] sgdc3 commented on #1319
You have to disable caching i think.

[2017-10-09 09:38] sgdc3 commented on #1350
Probably a deadlock, because it took more than 30 seconds.

[2017-10-09 09:43] sgdc3 commented on #1350
@lucko How could we check the permission of an offline user witout blocking the main thread, it's impossible if we don't cache it somehow.

[2017-10-09 15:17] MineSAT commented on #1338
Hi @ljacqu Thanks you for the YML. I'm go to Translate it

[2017-10-09 15:18] MineSAT commented on #1338
Hi @ljacqu Thanks you for the YML. I'm go to Translate it :)

[2017-10-09 15:29] lucko commented on #1350
Return a default value for the check, or actually perform the action which depends on the check asynchronously to start with.

[2017-10-09 16:20] sgdc3 commented on #1350
@ljacqu any idea?

[2017-10-09 17:29] GeigerCounter opened #1352 "Missing SQL permissions"
Unsure why, but the check to see if the table exists is failing with my particular config.

### What behaviour is observed:
What happened?
AuthMe tries to recreate the table I'm integrating it into even though it already exists and should be configured correctly.
### What behaviour is expected:
What did you expect?
I expected AuthMe to hook into the SMF table and allow registration through SMF.

#

[2017-10-09 19:44] ljacqu commented on #1350
I'd like to forward the question to @lucko: when a player joins we do some permission checks (for VIP status and various restriction overriding permissions) based on the _name_ (not _Player_ object because it's not available in all joining events). I guess this falls into "offline player" check—how would you suggest we handle these?

[2017-10-09 19:56] ljacqu commented on #1350
Looking at the stacktrace, I see it failed while retrieving a player's groups.

@lucko Do we have a way to retrieve an online player's groups without Future?

[2017-10-09 20:04] lucko commented on #1350
Yes, just don't call the loadUser method.

[2017-10-09 20:21] ljacqu commented on #1352
Could you post the full error from authme.log please? I'm interested in seeing the stack trace so we know when this happens exactly.

[2017-10-09 20:24] sgdc3 commented on #1350
@ljacqu that's why we have a hasPermission and hasPermissionOffline method

[2017-10-09 20:28] GeigerCounter commented on #1352
@ljacqu https://somethinghub.com/magicant/authme.log

[2017-10-10 07:55] Roper89 commented on #1344
Does not work. The name does not become colored. Color codes do not work...
Screenshot https://i.imgur.com/m8mUa0O.png
Downloaded version from here http://ci.xephi.fr/job/AuthMeReloaded/
I tried with {DISPLAYNAME} and {DISPLAYNAMENOCOLOR}

P.S. did not understand why you suggested using {DISPLAYNAMENOCOLOR}
My goal is to get a color name :)

[2017-10-10 08:03] sgdc3 commented on #1344
Yeah sorry i found the cause, i'll fix that asap

[2017-10-10 18:30] Roper89 commented on #1344
I have a problem player who, when connected, does not admit to the server with an error _"lost connection: Timed out"_
If I disable the plugin, it can connect...

[2017-10-10 18:34] sgdc3 commented on #1344
Are you sure? There is an issue with spigot 1.12.2 that causes that randomly.

[2017-10-10 18:43] Roper89 commented on #1344
Yes. This problem is only for one player. Until I disconnect the plugin, it will not be able to log on to the server

[2017-10-11 07:19] sgdc3 commented on #1352
@GeigerCounter The authme user doesn't have the required permissions.

Try running this command in the mysql console:
`GRANT ALL PRIVILEGES ON smf.* TO 'authme'@'%' WITH GRANT OPTION;`

[2017-10-11 07:47] GeigerCounter commented on #1352
Yeah, that fixed it.

[2017-10-11 07:47] #1352 closed

[2017-10-11 07:49] GeigerCounter commented on #1095
@ljacqu Fixed as of version 5.4 - at least as far as register from forum goes. Did not try register from server as I don't want/need that. As far as I'm concerned, this issue is closed. Feel free to open it again if there's more you want to mess with here.

[2017-10-11 07:49] #1095 closed

[2017-10-11 09:18] sgdc3 commented on #1350
@ljacqu If we don't query the storage hasPermissionOffline will just return the dafault node values.

[2017-10-11 09:19] sgdc3 commented on #1344
Are you 100% sure it doesn't happen without authme?

[2017-10-11 10:18] lucko commented on #1350
May I ask, when do you need to query offline users?

[2017-10-11 10:21] sgdc3 commented on #1350
PlayerAsyncPreLoginEvent

[2017-10-11 10:40] ljacqu commented on #1350
@sgdc3 I know. Up until a week or two ago we queried online player permission check for join verifications. Maybe we should return to that. After all, we need the join process to be fast.

[2017-10-11 10:58] lucko commented on #1350
PreLogin event should be fine if you listen sometime after LOW. LP loads users then.

Surely database purging is done async anyways? Same with admin commands which are likely to take a while to execute?

[2017-10-11 16:47] Roper89 commented on #1344
No. Too few tests were.

[2017-10-11 18:12] ljacqu commented on #1095
Thanks! I'll create a follow-up issue as described in https://github.com/AuthMe/AuthMeReloaded/issues/1095#issuecomment-335036850 sometime.

[2017-10-12 19:49] Maxetto commented on #871
Would you now reconsider this feature @sgdc3 ?
We now have stored PlayerCache, it's no effort to add another value, which defaults to false and changes only if Essentials is present and SocialSpy status is activated.

[2017-10-14 11:15] ljacqu commented on #1338
The command is available (`/authme messages help`) in newer builds; if there's anything not good please comment and we'll reopen this issue. I close for now. :)

[2017-10-14 11:15] #1338 closed

[2017-10-14 11:31] ljacqu opened #1355 "Move session from in memory to database"
Creating an issue for adequate tracking of our changes to AuthMe.

We moved the resumable sessions data from being held in memory to the database, such that the feature is also usable for Bungeecord servers. This entails adding an additional field on the database to track whether the user has a session or not.

Implementation was via pull requests #1337 and #1351.

[2017-10-14 15:17] Pluginsel commented on #1338
Thanks! I testing.

[2017-10-14 15:24] Pluginsel opened #1356 "[Advanced Request] Register and Login with Command Block"
Can you add register and login system with command?

On player join on the server, is will login with command block.

Config.yml option;

Command_Block:
   register: true
   force: true

   login: true
   force: true

Thanks!

[2017-10-14 15:57] ljacqu commented on #1356
I don't understand what you mean with the config, but we do have `/authme register <player> <password>` and `authme forcelogin <player>`, which are admin commands to register and log in a user.
https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/commands.md

Is this what you need? Or what are you trying to do?

[2017-10-15 08:10] Pluginsel commented on #1356
No, watch the video from 9:05:
https://www.youtube.com/watch?v=1c94vjldt0U

Player is logged the server, and is login with command block. Not with command.

[2017-10-15 08:12] ljacqu commented on #1356
@sgdc3 Do you understand this?

[2017-10-15 08:13] Pluginsel commented on #1356
@ljacqu When the player enters the server, he will log in with the command block. Not with the command.

[2017-10-15 08:22] #1292 closed

[2017-10-15 08:31] Pluginsel commented on #1338
@ljacqu the translate of all messages_en.yml file is available on the new builds of AuthMe?
because the hastebin link is broken.

[2017-10-15 08:35] ljacqu commented on #1338
Yep! Just run `/authme messages help` and your help_xx.yml file in messages/ will be updated to contain all possible entries.

[2017-10-15 08:38] SzymoonDev opened #1357 "API: missing RegisterEvent"
Hi,
Can you add to AuthMeApi on login event? I know, i can add command to be executed on player login/register, but i want to listen event. Maybe this is already added to AuthMe, but i cant find this.
Sorry for my bad English,
Regards.

[2017-10-15 08:38] ljacqu commented on #1141
I move this to 5.5 with a somewhat "heavy heart" since I know that people do want this, but we need to eventually come to a closure with 5.4 and this requires major changes. We'll make this a priority in 5.5.

[2017-10-15 08:42] ljacqu commented on #1357
Hi, I think you're looking for our [LoginEvent](http://ci.xephi.fr/job/AuthMeReloaded/javadoc/fr/xephi/authme/events/LoginEvent.html). I don't think we have an event for registration, though.

[2017-10-15 09:05] Pluginsel commented on #1338
command /authme messages help is available on the version 5.3.2?

[2017-10-15 09:06] ljacqu commented on #1338
No.
It's available on newer dev builds at http://ci.xephi.fr/job/AuthMeReloaded/ Build n. 1814 and above

[2017-10-15 11:07] DoNotSpamPls commented on #1327
Hello,

We are in the process of fixing this in SkinsRestorer. Can you give us more information, so we can reproduce the bug?
Thanks!

[2017-10-15 11:10] ljacqu commented on #994
Implemented with #1338 -> closing this as duplicate.

[2017-10-15 11:10] #994 closed

[2017-10-15 11:12] sgdc3 commented on #1356
@ljacqu Yes, use the commandblock gui as a form ;)

[2017-10-15 11:23] ljacqu opened #1358 "Mark forum-specific hash algorithms"
We already have some annotations on our `EncryptionMethod` methods, which are used when we generate our hash algorithm overview page: https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/hash_algorithms.md

As a user, it is unclear to me which hash algorithms will go beyond that and actually perform additional operations on the database specific to some forum software (cf. `MySqlExtensionsFac

[2017-10-15 12:19] Pluginsel commented on #1356
@sgdc3 Can you add this feature on the next (5.4) update?

[2017-10-15 12:37] sgdc3 commented on #1356
I'm not sure about 5.4... We are already late for the scheduled release.

[2017-10-15 16:31] ljacqu commented on #1355
I just realize I've created a duplicate for #1031 ;)

[2017-10-15 16:31] #1355 closed

[2017-10-15 16:36] Pluginsel commented on #1356
@sgdc3 & @ljacqu Hmm ok. But Do you understand what I want?

[2017-10-15 16:40] sgdc3 commented on #1356
@Pluginsel Yeah ;)

[2017-10-15 16:57] Pluginsel commented on #1356
Okay.
I waiting for this feature.

Thanks for your all supports.

[2017-10-15 20:23] SzymoonDev commented on #1357
I don't need RegisterEvent, because on succesfully player register, LoginEvent is called. Thank you!

[2017-10-15 21:09] ljacqu commented on #1357
Excellent, in that case I close this issue :) Thanks

[2017-10-15 21:09] #1357 closed

[2017-10-15 22:33] Dimatert9 opened #1360 "session doesnt work."
https://youtu.be/NoCopwF8whU
Build number, steps to reproduce and config in video.

plugins [00:25:02 INFO]: Plugins (6): AutoSaveWorld, ProtocolSupport, ProtocolLib, AuthMe, AuthServer, HolographicDisplays

[2017-10-16 05:24] sgdc3 commented on #1360
Can't watch the video atm, i'll do it asap

[2017-10-16 05:57] sgdc3 commented on #1360
If you use bungeecord with multiple auth servers you must disable caching in the config file

[2017-10-16 10:39] Dimatert9 commented on #1360
Only one server with authme

[2017-10-16 13:07] Pluginsel opened #1361 "1.13 Version Support"
Dinnerbone has announced the first snapshot of 1.13 is will releasing next week.
Probabily the 1.13 is will releasing before 2018.
Can you WAIT and add SUPPORT for 1.13 version on AuthMe 5.4?

[2017-10-16 13:08] MithrandirCraft opened #1362 "New players spawning for the first time on the highest Y axis"
This is a very old issue that has now somehow returned.

All new players appear above the defined spawnpoint, at the highest possible block on the Y axis.
It's happening on each of my servers. The first time a player enters a server with authme installed, he/she is sent to the highest possible position.

Config file for one server (Factions): https://hastebin.com/zusihejaza.bash

Authme v: 5.4-SNA

[2017-10-16 13:32] sgdc3 commented on #1361
We can't until spigot 1.13 is released xD

[2017-10-16 13:32] #1361 closed

[2017-10-16 13:37] sgdc3 commented on #1362
works fine on my server, could you provide more infos?

[2017-10-16 13:38] sgdc3 commented on #1360
Could you paste your config please? What's authserver?

[2017-10-16 13:44] MineSAT commented on #1362
Maybe you have misconfigured the Spawn server, do you use any particular plugin or Essentials?

[2017-10-16 18:06] Pluginsel commented on #1356
@sgdc3 can you add this feature for 5.5?

[2017-10-16 18:08] Pluginsel commented on #1356
@sgdc3 & @ljacqu can you add this feature for 5.5?

[2017-10-16 19:29] MithrandirCraft commented on #1362
@MineSAT
Well it started happening after I updated authme.
What do you mean by "Spawn server"? There are many diverse spawns.

[2017-10-16 19:33] MithrandirCraft commented on #1362
@sgdc3 Currently added Config and Version.

[2017-10-16 19:49] Dimatert9 commented on #1360
151.80.108.152/config.yml
151.80.108.152/AuthServer.jar sources in jar.

[2017-10-16 20:28] sgdc3 commented on #1360
@ljacqu strange, maybe some issue with the hasSession logic? :/

[2017-10-16 21:47] sgdc3 commented on #1362
Does it happen with the latest builds?

[2017-10-16 22:34] MithrandirCraft commented on #1362
Updating*

[2017-10-17 01:02] Eufranio commented on #1350
So?

[2017-10-17 06:12] sgdc3 commented on #1350
@ljacqu i think we should make any permission check async for offline players

[2017-10-17 07:02] sgdc3 commented on #829
Moving to 5.5, we are too late with 5.4

[2017-10-17 07:03] sgdc3 commented on #847
@Pijanista Any news about that? Is the issue still happening?

[2017-10-17 07:05] sgdc3 commented on #957
@t0rched Did it work? ;)

[2017-10-17 07:07] sgdc3 commented on #1016
@ljacqu Can we close this?

[2017-10-17 07:10] sgdc3 commented on #1110
I'm now personally using 5.4 on my network, never experienced lag issues caused by authme, my timings looks fine. I'll move this to 5.5

[2017-10-17 07:12] sgdc3 commented on #1031
@voodootje0 If you are still interested could you check the latest dev builds please? :)

[2017-10-17 08:24] ljacqu commented on #1016
No

[2017-10-17 08:28] ljacqu commented on #1350
I think we shouldn't go over the offline player on join. If we don't have a known permission system the user cannot use permissions atm. This is not ideal

[2017-10-17 08:31] ljacqu commented on #1360
I can check this evening. I don't see anything wrong just looking at the code

[2017-10-17 08:56] sgdc3 commented on #1016
What do we have to do about it?

[2017-10-17 08:57] sgdc3 commented on #1360
@ljacqu That would be great, thank yoi

[2017-10-17 10:01] Dimatert9 commented on #1360
In 1789 and lower works, 1790+ not work

[2017-10-17 11:55] sgdc3 commented on #1360
Not possible, it is working just fine on my network, maybe it is broken with sqlite :/ could you try it with mysql?

[2017-10-17 12:07] Dimatert9 commented on #1360
I tested it 3 times. After 1790 build sessions doesn't works. I cant test with mysql because i have 180k+ accounts and it will take long time to convert and import accounts to mysql. Also autobackup mysql database is harder then sqlite.

[2017-10-17 12:24] sgdc3 commented on #1360
@Dimatert9 180k records in sqllite ? O_O consider moving to mysql asap, backup is easy to do, you need just to run the mysqldump utility.

[2017-10-17 13:05] Dimatert9 commented on #1360
I dont want merge sqlite to mysql. I have only one server with AuthMe and max online on this server is ~5-10 players.
There is video than shows that session works on 1789 and dont work on 1790. In 1790 when i join AuthMe send message that session was expired.
https://youtu.be/3S_vi301-pg

[2017-10-17 14:53] voodootje0 commented on #1031
@sgdc3 Can you explain what is changed since my current version? This is really necessary since nothing may break, there are total 1653018 users in the database.
Now I'm using AuthMeReloaded v5.2 build 1530.

Database structure now.
![image](https://user-images.githubusercontent.com/6852308/31671912-5ee29fc2-b35b-11e7-81a1-2f5ba459a823.png)

Also, do I need to use AuthMeBridge when updating?

[2017-10-17 18:48] ljacqu commented on #1360
Hi @Dimatert9, for a while (build 1790 to 1821) we used a different way of handling sessions that has since been changed yet again, in build n. 1822 and above. Could we ask you to test with build n. 1822?
http://ci.xephi.fr/job/AuthMeReloaded/

[2017-10-17 18:49] ljacqu commented on #1016
Settings need to be changed if  deprecated hash is used

[2017-10-17 18:57] flipper1406 opened #1363 "Suggestion for modification"
Hi,

i recently had the problam that my server stopped itself because of a bad config. (My fault)

My suggestion is a hint in the log, that the server is restarting because of AuthMe as I haven´t found a hint at all, just the message that the server stops.
Makes it a bit easier for other serverowner I guess.

flipper1406

[2017-10-17 19:25] ljacqu commented on #1363
Hi, how did you notice that it was a bad config? Maybe a copy of your log would still help us pinpoint the cause.

[2017-10-17 20:13] flipper1406 commented on #1363
I changed the following settings:

    # What type of database do you want to use?
    # Valid values: SQLITE, MYSQL
    backend: 'SQLITE'
    # Enable database caching, should improve database performance
    caching: true
    # Database host address
    mySQLHost: '127.0.0.1'
    # Database port
    mySQLPort: '3306'
    # Connect to MySQL database over SSL
    mySQLUseSSL: true
    # Username t

[2017-10-17 20:21] ljacqu commented on #1363
I think it's the best we can do, unfortunately, since as soon as the plugin shuts down we don't have a chance to log anything anymore (like at the very end to really catch the user's attention). Thanks for the ticket, nevertheless. I'll go ahead and close this.

[2017-10-17 20:21] #1363 closed

[2017-10-18 02:12] Dimatert9 commented on #1360
In video above and in video on main post i also tested 1822. On main post all video with 1822, in video above at the end.

[2017-10-18 02:12] FataLeeer commented on #1279
@DNx5 @sambadime how to fix?

[2017-10-18 05:23] sgdc3 commented on #1279
@FataLeeer open a new issue report and fill the module

[2017-10-18 08:13] Roper89 commented on #1344
I did the test.
For a day, I turned off AuthMe and installed LoginSecurity.
The person who played during the disabled AuthMe was unable to log in to the server the next day when I turned on AuthMe

[2017-10-18 12:15] sgdc3 commented on #1344
Seems like any plugin that delays the login process causes random disconnection, related to https://github.com/PaperMC/Paper/issues/895

[2017-10-18 13:53] Roper89 commented on #1344
I want to continue tests, can you advise me any plug-in authorization?
It's strange that AuthMe and LoginSecurity do not let in different people, and not the same people.
Who comes with LoginSecurity - can not go with AuthMe and vice versa

[2017-10-18 16:22] sgdc3 commented on #1344
@Roper89 That doesn't make any sense :/ Please test again.

[2017-10-18 21:14] MithrandirCraft commented on #1362
May have been fixed. Will request re-open if else.

[2017-10-19 19:54] ljacqu commented on #1016
Hi @sgdc3, this is now implemented. If you have time to look it over, please do so, otherwise feel free to close. ;) Thanks

[2017-10-19 20:45] Dimatert9 commented on #1360
[code]
![image](https://user-images.githubusercontent.com/8667294/31793325-9c5718c4-b527-11e7-82d9-bb42659e5701.png)
this code was ignored

[2017-10-19 21:01] Dimatert9 commented on #1360
i found problem.
pst.setString(1, user);
user is not lowercased

[2017-10-19 22:03] sgdc3 commented on #1360
@Dimatert9 Wow, haven't noticed that! ;D it was working with me because my nick is already lowercase! xD

[2017-10-19 22:11] #1360 closed

[2017-10-19 22:12] sgdc3 commented on #1360
Thank you very much :D

[2017-10-19 22:12] sgdc3 commented on #1360
@Dimatert9 Please let us know if you have any issue with the latest dev build ;)

[2017-10-19 22:15] sgdc3 commented on #1016
Looks good, thank you ;)

[2017-10-19 22:15] #1016 closed

[2017-10-19 23:48] Dimatert9 commented on #1360
With latest build all good.

[2017-10-19 23:59] voodootje0 commented on #1031
@sgdc3 @ljacqu ^

[2017-10-20 05:08] sgdc3 commented on #1031
Sorry xD

We didn't break any expected behaviour atm, we added an hasSession column to the db schema and changed how session internally works, in order to make it working on bungee networks, you can use AuthMeBridge with the latest builds. ;)

[2017-10-20 05:10] sgdc3 commented on #1031
If you have any issue you can revert to the previous version without having to rollback anything ;)

[2017-10-20 05:11] sgdc3 commented on #1031
Ah, we recently deprecated some unsalted password hash types, but if you are using SHA256 you are already ok :)

[2017-10-20 07:37] sgdc3 commented on #930
@ljacqu I would close this as wontfix, is that ok for you?

[2017-10-20 07:56] ljacqu commented on #930
It's a reasonable feature request. Why are you against it?

[2017-10-20 09:51] sgdc3 commented on #930
You said that, sorry, i'm not against that, but we have to move it to the next milestone

[2017-10-20 10:10] ljacqu commented on #930
Sorry, it's been a stressful week for me xP

[2017-10-20 12:19] sgdc3 commented on #930
Sorry i think i didn't understand the context at all, sorry ;)

[2017-10-20 12:33] Pluginsel commented on #1338
@ljacqu & @sgdc3 I tested this, and work correctly.
But can you add translate this:

**Unknown Command!
Did you mean /<command>?
Use the command /<command> to view help.**

to messages_en.yml file?

[2017-10-20 13:06] ljacqu commented on #1338
Thanks for the feedback!
I kindly invite you to create a new issue for your request, since it's independent of the work we've done here. This helps us keep track of our work better ;) Thanks

[2017-10-20 13:08] ljacqu commented on #930
The sorry's all mine; I didn't have to get so worked up ^^ Sorry :)

[2017-10-20 15:19] Pluginsel opened #1364 "Required Translate Messages"
Can you add this translates ? :

--------------------------------------------------------

- [ ] (Unknown Command Message) :

**Unknown Command!
Did you mean /(command)?
Use the command /(command) to view help.**

--------------------------------------------------------

- [ ] (Mail Recovery System Message) :

**Dear (IGN),**

**You have requested to reset your password on (ServerName). To reset i

[2017-10-20 15:44] ljacqu opened #1365 "Player IP retrieval causes NullPointerException on local server"
When I am running AuthMe on localhost it spits the following error each time I join. Apparently the IP lookup fails when the player's IP is looked up via Spigot's PlayerSpawnLocationEvent.

[code]

[2017-10-20 21:42] ljacqu opened #1366 "Revise IP address handling for last IP vs. registration IP"
TBD @ljacqu. For now I just need an issue number I can write TODO comments with.

[2017-10-21 09:02] ljacqu opened #1367 "Improve /authme debug mysqldef"
With `/authme debug mysqldef` it's possible to view the "NOT NULL" status of MySQL columns. However, the command only checks for the `NOT NULL` status and fails to check if there is a default value in the definition.

This is relevant, as for instnace a database generated from our 5.2 release will have the email column to be defined as `VARCHAR(255) DEFAULT 'your@email.com'` — nullable but with a

[2017-10-21 09:05] ljacqu opened #1368 "Improve look of /authme debug commands"
When using `/authme debug` commands to view data it quickly becomes confusing what text belonged to which command / request because everything is just in white. It would be nice to put some color into the mix, maybe by always coloring the first line in the output or by ensuring that all commands output some sort of title (like `/authme debug db <name>` does).

[2017-10-21 09:23] ljacqu commented on #1366
Hi @DNx5 @Eufranio @games647 @Gnat008 @HexelDev @Platinteufel @sgdc3 @Twonox

Pardon the mass mention.* We could really use some input here as to how the registration IP and last login IP should influence the above features. Do you have any preferences?

\* let me know if you want to be removed from my "AuthMe feebdack" list :P

[2017-10-21 09:33] ljacqu opened #1369 "Datasource: make isLogged and hasSession optional"
If I don't have a forum integration or don't want to use sessions, I shouldn't be required to have the `isLogged` and `hasSession` columns in my database.

**This requires some analysis to solve elegantly** since we already do a lot of "code acrobatics" for the optional salt column, and group column in MySQL. We need to come up with a concept to improve our handling of optional columns so we have

[2017-10-21 09:47] ljacqu opened #1370 "Datasource: unify format of case-insensitive clause"
Since the `name` column is case-insensitive we need to make sure that our query is case-insensitive as well. This is done in various ways:

- By using `WHERE name = ?` with `PlayerAuth#getNickname`, which is guaranteed to be in lower case
- `WHERE name = ?` with `name.toLowerCase()` for String inputs
- `WHERE name = ?` with `name`, omitting the `toLowerCase()` (this should be fine for recently cre

[2017-10-21 10:42] sgdc3 commented on #1366
Maybe configurable? But i think that since most of the ip addresses are dynamic the registration ip is useless to check the user's other accounts.

[2017-10-21 10:43] sgdc3 commented on #1366
For an IP address lookup (/authme accounts 123.45.67.89), we should probably search both fields. Do we need to distinguish which field matched afterwards? Is that interesting to the user?

Yeah, we should do that

[2017-10-21 10:59] HexelDev commented on #1366
### Max registration count & other accounts command

Ips are dynamic, so my vote is for ` last login ip `

### /authme accounts

Do we need to distinguish which field matched afterwards?

It could be a cool feature, but
Is that interesting to the user?

In my opinion it could be considered as an enhancement, because ips are dynamic so the retrieved data could be inaccurate.

### API methods

Appro

[2017-10-21 12:38] Twonox commented on #1366
For max registration account, it's not very useful but why not.
For `/authme accounts` it's more better to check and show both. And yes, we need to distinguish last login IP and registration IP.
A setting to define all that is still welcome.

When we want search informations about alt accounts, it's a good find to know all you can know.

[2017-10-22 00:59] DevNatan opened #1373 "API: Get player information"
Well I'm making a plugin that it should show some information that are in AuthMe, like password, email ... But I do not find any method in the API that shows the email for example.

I searched the AuthMe code and found "PlayerAuth" and "PlayerCache" only they have an annotation "@Inject" which I do not know for what it is, I just wanted to have a way of invoking "PlayerCache" and get the informati

[2017-10-22 07:20] ljacqu commented on #1373
When we add this I'd like whatever new methods we add to return an interface, that PlayerAuth can implement (or some other class), but I'd just like our PlayerAuth class not to be directly coupled with API methods.

[2017-10-22 15:34] DevNatan commented on #1373
I understand, but is not there any way to get a player's email through your name or unique id?

[2017-10-22 15:36] Eufranio commented on #1350
[code]

[2017-10-22 16:01] lucko commented on #1350
This is because your database is taking longer than 1 second to reply to the request, per this commit.

https://github.com/AuthMe/AuthMeReloaded/commit/fafbef6be72c12822fd05e2e9af7b5a5e4067f99

[2017-10-22 16:04] Eufranio commented on #1350
It is taking longer than 1 second because looks like AuthMe is lagging the server when players are joining...

[2017-10-22 18:25] ljacqu commented on #1373
At the moment, there isn't.

[2017-10-22 22:11] Xephi commented on #1150
Available on master branch

[2017-10-23 05:21] sgdc3 commented on #1350
@Eufranio no, it seems that your db response time is longer than 1 second, so authme has to halt the server and cause lag, we are going to move the permission checks to async, but please also check why your mysql db is so slow.

[2017-10-23 05:30] ljacqu commented on #1350
@sgdc3 What's the plan here? Given this and #1365 and the fact that a permission handler is now required I'd like to go back to our old approach

[2017-10-23 05:51] sgdc3 commented on #1350
We should discuss that, maybe on discord

[2017-10-23 07:36] mat41997 opened #1377 "more permissions"
add more permissins to better configuration plugin

https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/config.md
https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/permission_nodes.md

[code]
e.g
# to enable session for player or group have this permission
- authme.custom.session
# to set timeout time for player or group have this permission
- authme.custom.session.timeout.10minutes

[2017-10-23 07:45] krusic22 commented on #1377
Look interesting but should be done in such a way that it doesn't affect existing configurations.

[2017-10-23 09:11] sgdc3 commented on #1377
What are you trying to archieve with that?

[2017-10-23 09:34] mat41997 commented on #1377
@sgdc3 archieve? i not trying any archieve.

[2017-10-23 11:13] ljacqu commented on #1377
_achieve_

[2017-10-23 11:50] mat41997 commented on #1377
@ljacqu ok, thx.

@sgdc3 i trying to achieve most configurable to authme plugin : )

[2017-10-23 11:56] sgdc3 commented on #1377
Sorry xD
Remember, i'm a stupid italian clown xD

[2017-10-23 16:13] ljacqu commented on #1150
Hi @Eyremba @mat41997, we'd be thankful for some feedback :)

[2017-10-23 16:15] ljacqu commented on #1150
Confirmed by krusic22 on Discord that it works, so I close again xP Sorry

[2017-10-23 16:15] #1150 closed

[2017-10-23 16:20] Eufranio commented on #1350
I'm almost certainly sure that the issue is not on my end, I have plenty of other applications/plugins using the same database server and they arent that slow. I also tried creating a SQLite database with the data of my MySQL one and testing with AuthMe, the SAME problem happens.

[2017-10-23 16:31] mat41997 commented on #1150
i have one error
[code]

[2017-10-23 16:53] krusic22 commented on #1350
I'm using LuckPerms (4x servers so 40 connection to DB) and AuthMe on the same DB (MariaDB) with a big connection limit and I'm having zero problems.
But you are using Thermos 1.7... So that might cause issues?

[2017-10-23 20:36] ljacqu commented on #1365
Verified successfully -> closing. Thanks @sgdc3 :)

[2017-10-23 20:36] #1365 closed

[2017-10-23 23:45] DevNatan commented on #1373
I urgently ask YouTube to add methods that can do such a function of obtaining information. Be it not necessarily encrypted. It would greatly increase the number of plugins that can use your API.

Sorry for persistence, but i'm Brazilian, and we're known for It... 😁😂😋

[2017-10-24 06:48] ljacqu commented on #1367
This seems to be important when people will migrate from 5.3 so moving into milestone

[2017-10-24 14:48] Pluginsel commented on #1040
Please add option in config.yml
VIP-kick: true
@ljacqu

[2017-10-24 16:09] sgdc3 commented on #1040
@Pluginsel if you don't give the vip permission it is already "disabled"

[2017-10-24 16:46] Roper89 commented on #1344
_registration:
enabled: true
force: **false**_

it still does not work?

[2017-10-25 03:49] SaitDev opened #1378 "Question - Command for event OnJoin"
We have onLogin and onRegister events. So what is OnJoin. Its anytime player enter server but not yet login or first time player enter the server?

Thank in advance

[2017-10-25 10:13] barruMC opened #1379 "Help: Communications link failure"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
The server drops after starting the .run from Debian since it can not start the mySql database but everything is correct.

### What behaviour is expected:
Solve the problem.

### Steps/models to reproduce:
We do not know, everything is fine, les

[2017-10-25 10:34] games647 commented on #1379
AuthMe doesn't start the MySQL it only connects to it. So you get this kind of error if AuthMe cannot connect to it.

[2017-10-25 10:36] barruMC commented on #1379
@games647 I'm not sure that you've seen the error line, I'll mark it for you to see.

[2017-10-25 10:52] games647 commented on #1379
That's exactly what I meant. It means that the driver cannot reach your MySQL/MariaDB server. Plugins only connect to running MySQL/MariaDB servers. The server should already be installed and running when you start up the Minecraft server.

[2017-10-25 10:54] barruMC commented on #1379
But our problem has been nothing more than the server fell, before it worked properly, I do not know because now it comes out as well. @games647 Any solution?

[2017-10-25 10:55] games647 commented on #1379
Check if the MySQL/MariaDB is running and if your connection details (host and port) in the AuthMe config are correct.

[2017-10-25 10:59] barruMC commented on #1379
Yes, the host and port are correct, I do not know why I get the error.  @games647

[2017-10-25 11:00] barruMC commented on #1379
Can it work with InnoDB? @games647

[2017-10-25 11:00] games647 commented on #1379
Do you checked if the MySQL/MariaDB is running?

[2017-10-25 11:01] barruMC commented on #1379
Yes, it is checked, they are working. @games647

[2017-10-25 11:47] barruMC commented on #1379
Clearly the database exists, and if it is running perfectly mysql but follow the error of the linked. @games647

[2017-10-25 12:13] games647 commented on #1379
Connection refused is a message that there is no service running on that host and port combination. You can event try it on your own with `curl 127.0.0.1:3306`.

Please check `service mysql status` or maybe MySQL server really runs on a different port. Then login into MySQL (`mysql -u user -p`) and run `SHOW VARIABLES LIKE 'port'`

[2017-10-25 12:38] barruMC commented on #1379
Whats 'port'? @games647

[2017-10-25 12:38] games647 commented on #1379
That's not a placeholder. Just this exact SQL statement.

[2017-10-25 12:42] barruMC commented on #1379
The following when putting the show variables as 'port'
https://gyazo.com/5312f9b89eae0d2164bf2019ec239321 @games647

[2017-10-25 12:51] games647 commented on #1379
Then please check if the MySQL is running on the same host as the Minecraft server. I guess you use a game server hoster?

[2017-10-25 12:54] barruMC commented on #1379
Yes it's a gamehosting. @games647

[2017-10-25 12:55] barruMC commented on #1379
It's a VPS @games647 Debian Minimal.

[2017-10-25 12:58] games647 commented on #1379
Then please try the curl command, maybe it's a wrong firewall rule that applied to the localhost too.

[2017-10-25 13:00] barruMC commented on #1379
we have Debian Minimal and, therefore, we have neither iptables nor ufw @games647

[2017-10-25 13:05] barruMC commented on #1379
When doing the curl it stays in white and after a while says I do not know what of q can not connect. @games647

[2017-10-25 15:56] games647 commented on #1379
Please try out to use '127.0.0.1' instead of localhost inside the AuthMe config.

[2017-10-25 16:05] sgdc3 commented on #1378
Yes

[2017-10-25 16:05] #1378 closed

[2017-10-25 16:06] sgdc3 commented on #1344
@Roper89 Could you try with the latest paper builds?

[2017-10-25 16:06] sgdc3 commented on #1344
Whoops, sorry xD

[2017-10-25 16:22] Roper89 commented on #1344
I do not quite understand you. Test the plugin on PaperSpigot? I just do not use it.
We had a problem with the plug-in when changing the settings, but then we started to discuss another question and deviated from the original problem.

Please read the beginning of the correspondence, there were a lot of bugs caused because of this:

_registration:
enabled: true
force: **false**_

[2017-10-25 16:26] sgdc3 commented on #1344
I'm talking about

If I disable the plugin, it can connect...

Since this is a craftbukkit bug that the paper team tried to fix or at least reduce i think using paper would be helpful to understand the real cause of the issue.

[2017-10-25 16:27] sgdc3 commented on #1344
registration:
enabled: true
force: false

About the original issue: to fix the issue we have to rewrite how authme handles the join and login process.

[2017-10-25 16:31] Roper89 commented on #1344
Notify me when you fix it:

[2017-10-26 05:41] SaitDev commented on #1378
What do you mean? my first option or 2nd

[2017-10-26 08:26] sgdc3 commented on #1378
Sorry, the first one ;)

[2017-10-26 09:39] SaitDev commented on #1378
Thank you

[2017-10-26 09:43] SaitDev commented on #1217
Essentials has this with command /seen

[2017-10-26 09:48] SaitDev commented on #1046
+1 for this

[2017-10-27 09:29] friishon commented on #1217
@SaitDev not all people use essentials, and is different, i suggest to find ip, but not necesary put the all ip, only one part, and then show ips that start as you put and show ip and account

[2017-10-28 07:39] EduardoMGP opened #1383 "mysql does not connect help-me"
Hello, I'm not able to put authme in mysql
I did not find a solution on any ticket
At least if there is one I can not find

the error is as follows

[code]

[code]

How can I make it work?
sorry if duplicated
I really did not find it to connect

[2017-10-28 10:13] sgdc3 commented on #1383
Are you sure this is the right ip?

[2017-10-28 12:57] ljacqu commented on #1190
Hi @HexelDev , OK to close this?

[2017-10-28 13:17] HexelDev commented on #1190
Yeah, well done ;)

[2017-10-28 13:17] #1190 closed

[2017-10-28 17:51] Remski01 opened #1387 "Force only users with a permission to register"
How can i set that only a few ranks need to have a registered thing?

As example: Ranks lower the Admin dont register. Nor have they the option. Admins and higher are required to register and login everytime.

Note:
Sorry if this is on the wrong place. I am very noob because i dont understand how the "Pull Request" section works.

[2017-10-28 19:39] EduardoMGP commented on #1383
yes I have
utilizo um plugin em mysql
desta forma
jdbc:mysql://localhost:3306/mc1702
e funciona corretamente
o authme nem colocando localhost funciona
http://prntscr.com/h38ib9

[2017-10-28 20:34] ljacqu commented on #1387
Not a bug, but a feature request :) So far this is not possible with AuthMe. We could probably introduce a permission that would require registration.

[2017-10-28 22:58] HexelDev opened #1388 "Verification code improvements"
Follow of this [pull request ](https://github.com/AuthMe/AuthMeReloaded/pull/1382#issuecomment-340177232) and related issue #1311

- [ ] Add new messages to notify the user about the state of the email (sent or failed)

checks if the emails are enabled, the user has a real email, the user has the permission and the user has not been verified yet.

checks if the user has a code and has not been ver

[2017-10-28 23:00] DutchUser commented on #1387
Can you add it?

I just want this for my Mods and higher,

[2017-10-29 01:14] Eufranio commented on #1350
Is there a way for me to disable this integration at all, and use the old system? It was perfectly fine (for me), and I'd like to not have to rollback the AuthMe version and stick to an old build...

[2017-10-29 06:53] ljacqu commented on #1387
Yep, this issue now stands for doing it.

[2017-10-29 06:54] #1368 closed

[2017-10-29 07:54] Pluginsel opened #1389 "Mail API is not set error"
I used /email recover <email> command, but on console I have this error:
[AuthMe] Mail API is not set

How to set Mail API?

[2017-10-29 07:57] ljacqu commented on #1389
In your config.yml the `Email:` section needs to be filled.

[2017-10-29 07:59] ljacqu commented on #1383
It's not connecting to the MySQL database. That's all we can tell you. Either the info is wrong, or your server can't make the connection to the MySQL DB, or the MySQL DB is not accepting your request.

[2017-10-29 08:13] games647 commented on #1383
@EduardoMGP Could you post the content of the authme log file. There should be an exception stacktrace. Maybe it gives some more details like invalid credentials.

[2017-10-29 08:34] Pluginsel commented on #1389
@ljacqu How do I fill?

[2017-10-29 09:01] Pluginsel commented on #1389
I did. Thanks.

[2017-10-29 09:01] #1389 closed

[2017-10-29 09:03] Pluginsel commented on #1364
New message required for translate on mail recovery system.:
Dear PluginerTR,

You have requested to reset your password on (ServerName). To reset it, please use the recovery code XXXXXX: /email code XXXXXX.

The code expires in 4 hours.

[2017-10-29 09:11] Pluginsel commented on #1364
@ljacqu & @sgdc3 Can you add 5.4? Because it's urgent. :D

[2017-10-29 09:56] Roper89 commented on #1344
New bug with _/authme unregister <player>_
When we cancel a player registration,  his expended attempt in **maxRegPerIp** not restored.
Even if we cancel the registration, **maxRegPerIp** - will consider it registered

[2017-10-29 10:31] sgdc3 commented on #1350
I could add an option to force using the vault hook instead

[2017-10-29 10:48] sgdc3 commented on #1350
ok, that should work as a tempfix

[2017-10-29 10:51] sgdc3 commented on #1344
@Roper89 Could you open a new issuw for that? Just to keep the original issue clear. :)

[2017-10-29 10:52] Roper89 commented on #1344
ok :)

[2017-10-29 10:53] sgdc3 commented on #1364
@Pluginsel unknown command: spigot.yml allows you to change that

[2017-10-29 10:53] sgdc3 commented on #1364
Whoops sorry, you are right, forgot  we use our own custom command system xD

[2017-10-29 10:54] Roper89 opened #1391 "bug with /authme unregister"
When we cancel a player registration, his expended attempt in **maxRegPerIp** not restored.
Even if we cancel the registration, **maxRegPerIp** - will consider it registered

[2017-10-29 10:56] sgdc3 commented on #1391
Strange, could you try to disable caching? (datasource.caching in our config.yml)

[2017-10-29 10:56] sgdc3 commented on #1391
As "When we cancel a player registration" you mean unregister, right?

[2017-10-29 10:57] sgdc3 commented on #1344
Thank you ;)

[2017-10-29 11:12] Pluginsel commented on #1364
@sgdc3 No problem :D Can you add this for 5.4? PLS PLS PLS

[2017-10-29 12:54] Roper89 commented on #1391
Yes, `/authme unregister <player>`
I changed to `caching: false`   and now works :+1:

[2017-10-29 13:25] sgdc3 commented on #1391
@ljacqu @HexelDev Caching is completely broken xD

[2017-10-29 13:49] HexelDev commented on #1391
Nice ahahahha!
I need to give it a look and understand how it's built, after that I'll try to figure out some improvements xD

[2017-10-29 17:11] EduardoMGP commented on #1383
@games647
`[09-07 21:18:23]: fr.xephi.authme.libs.zaxxer.hikari.pool.HikariPool$PoolInitializationException: Failed to initialize pool: Cannot connect to MySQL server on 192.99.21.28:3306.

Make sure that there is a MySQL server running on the machine/port you are trying to connect to and that the machine this software is running on is able to connect to this host/port (i.e. not firewalled). Also

[2017-10-29 17:14] games647 commented on #1383
Try to disable useSSL and please format the log here.

[2017-10-29 17:18] ljacqu commented on #1350
@sgdc3 So what's the end game here? How will this be handled permanently?

[2017-10-29 17:41] ljacqu commented on #1319
Closing as I cannot reproduce this bug with `preventOtherCase: true`

[2017-10-29 17:41] #1319 closed

[2017-10-29 17:54] sgdc3 commented on #1350
@ljacqu i really don't know, luckperms should be handled fully async, but we are currently doing every permission check sync

[2017-10-29 17:57] ljacqu commented on #1350
@sgdc3 Can we revert the changes from using a `String name` back to a `Player` for those join verifications? I really dislike the implementation because we need to have a known perm system for permissions to work (counter-intuitive) and with the name we're basically doing an "offline player check" which isn't what we're doing (causing issues like this one)

[2017-10-29 17:57] sgdc3 commented on #1350
@lucko That breaks permission purging

[2017-10-29 18:00] ljacqu commented on #1350
no, I'm speaking of the OnJoinVerifier.

Purging happens in async so it's fine.

[2017-10-29 18:04] sgdc3 commented on #1350
You mean ignoring the AsyncPreLoginEvent?

[2017-10-29 18:36] sgdc3 commented on #1350
@ljacqu that should fix any issue

[2017-10-29 18:42] ljacqu commented on #1350
I mean undoing the part in 6c6fbaf12d282272789410cf04bc71857b15498e where `Player` gets changed to a `String name`. Is the performance improvement that good that it's worth all of this trouble? Because right now it's breaking stuff.

[2017-10-29 18:44] sgdc3 commented on #1350
In my opinion the performance improvement is worth the efford

[2017-10-29 18:48] sgdc3 commented on #1350
Just the LuckPerms integration, i didn't notice any other issue atm.

[2017-10-29 19:00] sgdc3 commented on #1350
LuckPerms is the only one that has that behaviour

[2017-10-30 03:31] EduardoMGP commented on #1383
@games647
that's how it worked
but not converting the file to mysql
I have more than 16k registered users
I can not lose them
plus the conversion command is not converting
the authme database is converting the mc1702 database
more this database was created when dei reload

`DataSource:
    # What type of database do you want to use?
    # Valid values: sqlite, mysql
    backend: 'mysql'
    # Enab

[2017-10-30 07:11] Theboss81 opened #1392 "Authme Crashing server."
So im not using format because im not confortable with it.

So, here is a back story..
i moved host.. everything is fine but when i login, server crashes....
i used old fancy trick in which i disabled the plugins one by one and checked
(for example renaming authme.jar to authme.jarold)
and i found authme was culprit..

i also tried other things with it.. when i removed my "old" authme.db it made a

[2017-10-30 07:17] games647 commented on #1383
Invalid username/password combination or this user account has no access to the database authme.

[2017-10-30 07:21] EduardoMGP commented on #1383
If I put mc1702 it works
More if you put authme of this mistake
How to pass the database to mysql without losing registered users?
The / authme converter is not passing the authme database the default that comes in the plugin

[2017-10-30 07:26] sgdc3 commented on #1391
@Roper89 How did you remove the user? /authme unregister or directly from the db?

[2017-10-30 07:28] games647 commented on #1392
Please append your config and a pastebin / gist link to the crash dump. Segmentation fault means there is either a bug in the JVM or in any native library that is used. In case it's a JVM bug, you could try to update to 1.8.0_152, Java 9 or switch to OracleJre.

[2017-10-30 07:36] Roper89 commented on #1391
I used the command `/authme unregister <player>`

[2017-10-30 07:52] sgdc3 commented on #1391
Do you have multiple servers with authme?

[2017-10-30 07:56] Roper89 commented on #1391
No, only one

[2017-10-30 08:22] Theboss81 commented on #1392
my config- https://hastebin.com/nipakubaba.bash also, server is cracked.

[2017-10-30 08:23] Theboss81 commented on #1392
https://hastebin.com/nipakubaba.bash

[2017-10-30 08:23] Theboss81 commented on #1392
i closed it by a mistake, above is my config link

[2017-10-30 08:35] games647 commented on #1392
And the crash dump please at /tmp/hs...

[2017-10-30 08:52] Theboss81 commented on #1392
sorry, but there is just one of that file which is because of an old plugin, which i removed

[2017-10-30 08:53] Theboss81 commented on #1392
https://hastebin.com/iveqakozen.go

[2017-10-30 08:53] Theboss81 commented on #1392
its old, just telling

[2017-10-30 09:46] sgdc3 commented on #1391
Was the player online when you performed /authme unregister?

[2017-10-30 10:08] Roper89 commented on #1391
Sorry, but `caching: false` did not help
I was mistaken because I had a registered account earlier from another ip
`/authme unregister <player>` in **maxRegPerIp** not restored.

[2017-10-30 10:18] sgdc3 commented on #1391
Ok, that makes more sense now xD

[2017-10-30 10:21] sgdc3 commented on #1391
SQLite, right?  @Roper89

[2017-10-30 10:25] Roper89 commented on #1391
I do not use it

[2017-10-30 10:56] games647 commented on #1392
This what the error says it created a new file at /tmp/hs_err_pid23.log. We need that specific file.

[2017-10-30 10:59] games647 commented on #1383
So what are you trying to do? The plugin starts up without any issues and then your trying to convert the database and this error pops up? What was the exact command you typed in?

[2017-10-30 11:55] Theboss81 commented on #1392
umm

[2017-10-30 11:56] Theboss81 commented on #1392
[hs_err_pid23 (2).log](https://github.com/AuthMe/AuthMeReloaded/files/1427065/hs_err_pid23.2.log)
there

[2017-10-30 11:58] Theboss81 commented on #1392
How can you say its not your fault? server runs perfectly when authme isn't there.

[2017-10-30 12:00] Theboss81 commented on #1392
Letme tell what i think is a problem-
authme encrypts the passwords and data...
which needs public and private key..
because of host change(and ip change of server) it broke itself, and that's why when i use new DB (like remove old DB and reload server)
it work's perfectly.. i need some way to DE-ENCRYPT USER PASSWORDS.

[2017-10-30 12:04] Theboss81 commented on #1392
here is my latest.log
tell me the problem if authme isn't causing problem
[latest (2).log](https://github.com/AuthMe/AuthMeReloaded/files/1427086/latest.2.log)

[2017-10-30 12:09] games647 commented on #1392
Because Segmentation faults doesn't really happen in Java. The error (hs_..) you uploaded is from "Fri Jun 16 13:41:54" and shows a bug in the SQLite driver after Jobs tries to load it.

Is that the log after the server crashed? Does only the Minecraft server crash or the complete JVM? Do you have a reference to crash file hs_* (not an old one)?

[2017-10-30 12:12] Theboss81 commented on #1392
well, i don't get what you mean
about 2nd answer

[2017-10-30 12:12] Theboss81 commented on #1392
also jobs is already disabled

[2017-10-30 12:14] Theboss81 commented on #1392
okay, its spigot(normal) then i use ubandu 64 bit,

[2017-10-30 12:16] Theboss81 commented on #1392
Please answer this:
Letme tell what i think is a problem-
authme encrypts the passwords and data...
which needs public and private key..
because of host change(and ip change of server) it broke itself, and that's why when i use new DB (like remove old DB and reload server)
it work's perfectly.. i need some way to DE-ENCRYPT USER PASSWORDS.

also, i already posted list of my plugins

[2017-10-30 12:16] Theboss81 commented on #1392
Why im sure its authme? because when i deleted old authme.db and restarted server, it worked just fine.

[2017-10-30 12:45] Theboss81 commented on #1392
remove those labels please

[2017-10-30 13:03] sgdc3 commented on #1392
Authme uses many libraries and relies on many internal java utilities, please update to the latest java 8 version.

[2017-10-30 13:13] Theboss81 commented on #1392
okay, thanks

[2017-10-30 13:13] Theboss81 commented on #1392
i'll try

[2017-10-30 13:39] Theboss81 commented on #1392
okay, i installed latest java 8 and still the problem dosen't fixes

[2017-10-30 13:40] Theboss81 commented on #1392
why isn't this answerd-
Please answer this:
Letme tell what i think is a problem-
authme encrypts the passwords and data...
which needs public and private key..
because of host change(and ip change of server) it broke itself, and that's why when i use new DB (like remove old DB and reload server)
it work's perfectly.. i need some way to DE-ENCRYPT USER PASSWORDS.

[2017-10-30 14:20] ljacqu commented on #1392
We don't encrypt passwords—we hash them. No keys involved and different concept. No way of _decrypting_ them. Maybe your db file is somehow corrupt but that shouldn't cause a segfault anyhow.

[2017-10-30 14:28] Theboss81 commented on #1392
So, how do i fix this problem, i want to restore passwords...

[2017-10-30 14:29] Theboss81 commented on #1392
if DB is wrong, it will no longer work..

[2017-10-30 15:29] games647 commented on #1392
1) Please post the missing spigot version.
2)

I meant whether the process hang, only the minecraft implementation crashed like "Server stopped responding..." or the JVM - the java process - crashed (A fatal error has been detected by the Java Runtime Environment). If you meant the last one, we need the **associated** crash report file to find the source - not some old files from June you sent pre

[2017-10-30 16:45] sgdc3 commented on #1391
MySql? @Roper89

[2017-10-30 16:51] Roper89 commented on #1391
No.
I do not even know what it is.

[2017-10-30 18:10] ljacqu commented on #1350
Wrong https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/permission/PermissionsManager.java#L248
if no known perm handler, hasPermissionOffline won't do jack shit besides returning the default value, i.e. permission plugins unknown to us suddenly don't work with AuthMe.

[2017-10-30 21:35] sgdc3 commented on #1350
@ljacqu ??? Any permission plugin that implements vault api correctly (fully sync compatible, not good for performance but consistent) is compatible.

[2017-10-31 06:47] ljacqu commented on #1350
Not every plugin hooks into vault

[2017-10-31 06:50] sgdc3 commented on #1350
That is an huge performance improvement, it allows us to run every check async

[2017-10-31 06:53] sgdc3 commented on #1350
We can make it configurable

[2017-10-31 08:44] Theboss81 commented on #1392
well, i use spigot 1.12, and is there a way to check if suthme.db is currupted or migrate to a new db?

[2017-10-31 08:56] krusic22 commented on #1392
Try migrating it to MySQL?

[2017-10-31 10:17] Theboss81 commented on #1392
sure it'll work?

[2017-10-31 10:38] ljacqu commented on #1392
You can open the file with a sqlite db viewer. Could you check if that works?

[2017-10-31 11:06] Theboss81 commented on #1392
it opens

[2017-10-31 13:09] mattymatty97 opened #1394 "Authme and essentials-spigot"
when a server has a version of essntials-spigot the authme hooking fails whit a "null pointer exeption" or a "InjectorReflectionException".

https://pastebin.com/hw3dzAhd

I've installed mv-core and other plugins but i've tested removing one by one that are not they fault.

[2017-10-31 13:49] ljacqu commented on #1394
Can you post the exception from your error log abd your authme version?

[2017-10-31 13:57] mattymatty97 commented on #1394
The versions i've tryed are 5.3.2, 5.3.1, 5.3
I've not tryed older builds

Error log? How to find it?

[2017-11-01 05:09] Theboss81 commented on #1392
what now?

[2017-11-01 09:25] games647 commented on #1392
Which exact version? Spigot recently updated the driver.

[2017-11-01 19:05] ljacqu commented on #1394
authme.log in plugins/AuthMe/  Without it we're not sure where the error happens

[2017-11-01 19:07] ljacqu commented on #1392
If you can open the file I'd like to ask you to try and save it as another file, then use that file as your authme.log to try if it works then.

Who knows at this point :/ I mean besides you sending one of us your database (which you probably don't want to, understandably) all we can do is make shots in the dark

[2017-11-02 08:19] Pluginsel commented on #1388
@HexelDev
**And this message for E-mail:**
Your password is successfully reseted!
You can play on this server of (ServerName)

**And other feature: (Unimportant)**
Add a link to e-mail address for reset passwords. If player click on the link, is will allowed to reset your passwords on this server.

[2017-11-02 08:33] ljacqu commented on #1388
Those are different things that have nothing to do with this issue.

[2017-11-02 09:16] mattymatty97 commented on #1394
[authme.log](https://github.com/AuthMe/AuthMeReloaded/files/1437095/authme.log)

it might be enough, but there are the same messages of the mclog simply purged from non AUTHME ones, right?

[2017-11-02 09:55] Pluginsel commented on #1356
@sgdc3 & @ljacqu
I updated this issue with more info.
If you have a question that you have in mind, you can ask here.

[2017-11-02 10:11] Pluginsel commented on #1364
@sgdc3 Can you add this for 5.4 or 5.5?

[2017-11-02 10:14] krusic22 commented on #847
No bots currently bypass the country check. Tho I am using Waterfall and Paper. Also note already registered users bypass the country check by default.

[2017-11-02 10:57] sgdc3 commented on #847
I wasn't able to reproduce the issue, i think we can close this.

[2017-11-02 10:57] #847 closed

[2017-11-02 10:59] sgdc3 commented on #1364
5.5 probably, we are too late with the 5.4 release

[2017-11-02 11:01] sgdc3 commented on #792
@ljacqu Could we close this?

[2017-11-02 11:02] sgdc3 commented on #1031
I'm currently using this feature in my server, it is working perfectly ;)

[2017-11-02 11:02] #1031 closed

[2017-11-02 11:04] sgdc3 commented on #1061
We completely changes how this work, this issue is now invalid

[2017-11-02 11:04] #1061 closed

[2017-11-02 11:06] sgdc3 commented on #1350
Should have been fixed ;) @lucko we are now loading the user data on login in the AsyncPreLoginEvent, is that ok in your opinion?

[2017-11-02 11:59] Twonox commented on #1391
@Roper89 sgdc3 want know what you use for authme's database.
So there is two way: SQLite (default) and MySQL. If you don't know what MySQL is, you probably use the default way, which is SQLite.

[2017-11-02 12:14] sgdc3 commented on #1367
Any news?

[2017-11-02 12:20] Twonox commented on #1391
@sgdc3 I have tried to reproduce this issue: unregistration works fine, I can register me again and I can register with other account, with latest build (and in a online server, not crack (idk if it change anything)).
What build are you using @Roper89 ?

[2017-11-02 12:25] Roper89 commented on #1391
spigot-1.12.2-R0.1-SNAPSHOT-b1421
AuthMe-5.4-SNAPSHOT

[2017-11-02 12:33] Twonox commented on #1391
What is the build number of authme? You can see it with the command` /authme version`

[2017-11-02 12:34] Roper89 commented on #1391
build: 1822

[2017-11-02 12:35] Twonox opened #1397 "New config.yml file ?"
Hi,

https://github.com/AuthMe/AuthMeReloaded/blob/master/samples/NewConfig.yml

@sgdc3 Will you not continue that ? :)

[2017-11-02 12:36] Twonox commented on #1391
Please try the latest build http://ci.xephi.fr/job/AuthMeReloaded/

[2017-11-02 12:58] ljacqu commented on #1367
Please verify ;)

[2017-11-02 12:59] sgdc3 commented on #1397
Since we changed many options it needs to be updated xD

[2017-11-02 13:24] Pluginsel opened #1398 "authme.vip Permission question"
If players have permission authme.player.*, is will have authme.vip permission? Or VIP permission is different from authme.player.* ?

[2017-11-02 14:14] sgdc3 commented on #1367
lul

[2017-11-02 14:15] sgdc3 commented on #1398
It is different

[2017-11-02 14:15] #1398 closed

[2017-11-02 16:12] ljacqu commented on #1367
As in if you have time you can check it out to see if you have any feedback ;3

[2017-11-02 16:28] lucko commented on #1350
Yep

[2017-11-02 16:50] sgdc3 commented on #1350
Thank you

[2017-11-02 16:50] #1350 closed

[2017-11-03 08:34] sgdc3 commented on #1311
@HexelDev @ljacqu what should we do with this issue? Should we close it?

[2017-11-03 09:50] Theboss81 commented on #1392
i will just reinstall server. thankyou

[2017-11-03 09:50] #1392 closed

[2017-11-03 10:27] Zhb1508444061 opened #1399 "The number of IP registrations cannot be restricted"
Config.yml already has the # maxRegPerIp: 1
But he could not limit the number of IP registrations
Is there any solution?
Authme version: 5.3.2
Test clothes with your own machine.
The IP limit of your own computer test.
But you can have an unlimited number of accounts.
Ask for help
I'm a Chinese, I'm not good at English...

[2017-11-03 12:33] HexelDev commented on #1311
Mhh I was interested in a sort of feedback, but yeah, we can close it ^.^

[2017-11-03 12:33] HexelDev commented on #1311
Mhh I was interested in a sort of feedback, but yeah, we can close it ^.^

[2017-11-03 12:33] #1311 closed

[2017-11-03 12:35] Xephi commented on #1311
The only thing we could provide is Redis Cache support, that will allow us to sync PlayerAuth instances between servers

[2017-11-03 12:35] Xephi commented on #1311
But it's a bit overkill

[2017-11-03 12:36] HexelDev commented on #1311
@Xephi let's open a new issue to discuss this topic, it requires more attention :D

[2017-11-03 12:51] Xephi commented on #110
@HexelDev

[2017-11-03 14:11] sgdc3 commented on #1399
Please update to the latest dev build.

[2017-11-03 14:11] sgdc3 commented on #1399
http://ci.xephi.fr/job/AuthMeReloaded/

[2017-11-03 14:12] sgdc3 commented on #1311
We already have a mysql database, let's use it instead xD

[2017-11-03 14:22] Zhb1508444061 commented on #1399
@sgdc3
Thank you, I will test tomorrow afternoon plug-in IP restrictions. The plugin is very good. hope to do better

[2017-11-03 15:42] HexelDev commented on #1311
(facepalm)

[2017-11-03 18:39] ljacqu commented on #792
Yes, this is done—finally

[2017-11-03 18:39] #792 closed

[2017-11-03 18:41] ljacqu commented on #1397
We should definitely revisit the config, but imho not in the next milestone. If we add a lot of features in the next milestone we'll add more configurations, then when we have a good base it will be worth it to restructure things. This will also allow us to have time to think about it in detail. We need to be careful when we change the config to have something that is future-proof.

[2017-11-03 18:42] ljacqu commented on #1344
Work was done for this issue within 5.4 -> moving back. Please create a follow-up issue if needed.

[2017-11-03 18:45] ljacqu commented on #1397
To be handled with #448, so closing this ;)

[2017-11-03 18:45] #1397 closed

[2017-11-03 19:06] sgdc3 commented on #1344
We didn't fix this at all, we just fixed some minor related issues

[2017-11-03 19:07] ljacqu commented on #1061
I'm conflicted about keeping this in the milestone because we didn't do any work for this issue, but is this bug fixed (players don't have to use /login anymore after registering)? If so, fine for me to keep it in 5.4 milestone, since the bug was fixed somehow.

[2017-11-03 19:12] ljacqu commented on #1344
This brings me back to a comment I wrote earlier: https://github.com/AuthMe/AuthMeReloaded/issues/1344#issuecomment-334366634 Fact is work was done here, and I'd like an issue in 5.4 to account for it. What do you suggest?

[2017-11-03 19:20] #814 closed

[2017-11-03 19:23] ljacqu commented on #814
I propose to close this even though I've left the location columns untouched. The big learning during this issue and #792 is that we kind of need NOT NULL columns to have a default value - SQLite requires that a NOT NULL column have a default value if it is added to a table later on, and various forum software we want to support has requirements for e.g. the email to be not null. Here the default

[2017-11-04 04:14] Zhb1508444061 commented on #1399
@sgdc3
limit The local IP?
5.4 version not limit local IP?
local IP： 127.0.0.1

[2017-11-04 07:03] drAkeTool opened #1400 "Error Hash PHPBB 3.1.10"
hello, I have a problem with the hash password
I currently have a PHPBB forum, but I can not make the hash work
It correctly detects the user, but when it enters the password, it says the password is wrong.

I'm using:
Spit 1.12.1
Authme 5.3.2
PHPBB 3.1.10

My configuration is as follows
https://pastebin.com/vvX86guQ

Console:
https://pastebin.com/efqs0mdR

How can I make it work?
For your attenti

[2017-11-04 09:15] ljacqu opened #1401 "Bungeecord warning on login"
Latest dev build with `bungeecord: false` in config.yml, on login the following error is thrown

[code]

[2017-11-04 09:17] ljacqu commented on #1401
Ah, it's my fault

[2017-11-04 09:18] #1401 closed

[2017-11-04 10:41] ljacqu commented on #1400
Hi @drAkeTool, thanks for the error report. Should be fixed with build n. 1862 or higher, http://ci.xephi.fr/job/AuthMeReloaded/ It marks the builds as failed at the moment but that's because of an unrelated issue; you can still download the JAR and I promise it's fine.

Would be thankful for some feedback whether or not we can close this. :)

[2017-11-04 11:02] sgdc3 commented on #1399
localhost is not limited

[2017-11-04 11:04] Zhb1508444061 commented on #1399
@sgdc3
好的 非常感谢...

Ok thank you very much...

[2017-11-06 06:19] sgdc3 commented on #1367
Seems working as intended ;)

[2017-11-06 06:19] #1367 closed

[2017-11-06 23:36] Roper89 commented on #1391
Problem solved.

After the last update, I started receiving a message in the console: "[SpigetUpdate] Invalid SemVer versions specified [450-SNAPSHOT] [450-SNAPSHOT]"  — What does it mean?

[2017-11-07 00:13] sgdc3 commented on #1391
@Roper89 This isn't related to authme: we don't use the spiget updater.

[2017-11-07 00:13] #1391 closed

[2017-11-07 00:15] sgdc3 commented on #1400
@drAkeTool any news? ;)

[2017-11-07 21:01] Roper89 opened #1403 "Question - countriesBlacklist"
`Protection:`
    `enableProtection: false`
    `enableProtectionRegistered: false`
    `countries:`
    `- US`
    `- GB`
    `countriesBlacklist:`
    `- A1`

I want to block only one country, what settings do I need to set?
also does not work link https://dev.bukkit.org/projects/authme-reloaded/pages/countries-codes

[2017-11-08 06:35] sgdc3 commented on #1403
Where did you find this link? I was sure i already changed it everywhere.

[2017-11-08 06:35] sgdc3 commented on #1403
You have to add the country you want to block to the countriesBlacklist section.

[2017-11-08 08:11] xcamnhamx commented on #1300
Is it fine to bump?

[2017-11-08 08:18] sgdc3 commented on #1300
@xcamnhamx we need some test scenarios with more than 3 groups, could you try with a player with 4 groups? Is the order reversed or shuffled randomly?

[2017-11-08 20:02] MithrandirCraft commented on #1362
Reopening issue still persists.

[2017-11-08 21:08] #1403 closed

[2017-11-09 06:18] ljacqu commented on #1403
More specifically, for whitelist / blacklist stories, whenever the whitelist is not empty, we go through the whitelist, otherwise we consider the blacklist.

[2017-11-09 06:23] sgdc3 commented on #1403
@ljacqu are you sure?

[2017-11-09 06:32] ljacqu commented on #1403
Yes, it's the only thing that makes sense (well, kind of): if a whitelist is defined by definition we can't allow anything that is not inside it

[2017-11-09 18:13] sgdc3 commented on #1400
@drAkeTool Please open the issue again if the issue persists,

[2017-11-09 18:13] #1400 closed

[2017-11-09 18:16] sgdc3 opened #1404 "Non-forced registration join process inconsistencies"
Follows #1344

If registration is not forced unregistered players will just skip the login process entirely, that breaks many features like custom join messages, quit location restore, etc...

[2017-11-09 18:17] sgdc3 commented on #1344
Moved to 5.5

[2017-11-09 18:17] #1344 closed

[2017-11-10 18:18] DoNotSpamPls opened #1405 "AuthMe opens too many MySQL connections"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
When AuthMe is set to MySQL, it opens too many connections and overloads the MySQL server.
I have even tried to increase the connections limit, same deal.

### What behaviour is expected:
Not disrupting MySQL for me and other users of the same s

[2017-11-10 18:25] DoNotSpamPls commented on #1405
Update: I have tried the latest build from the CI, same issue.

[2017-11-10 18:44] sgdc3 commented on #1405
try with poolSize: 10

[2017-11-10 18:51] DoNotSpamPls commented on #1405
That worked! Thanks for the fast answer.
I guess auto didn't work all that well :(

[2017-11-10 18:51] #1405 closed

[2017-11-10 19:40] sgdc3 commented on #1405
Probably you have a cpu with a huge core count, auto uses the core count as poolsize

[2017-11-10 20:14] DoNotSpamPls commented on #1405
I guess so, it's on a shared hosting provider. They probably have a lot of cores on their machines.

[2017-11-11 11:48] Thegamesbg commented on #1404
Hello there sgdc3! I want to help you, but can you give me more information about the Bug.
From that you wrote, i understood that this is really a CRITICAL Bug, but give me more information about the problem and i'll try to solve it! Have a nice day, Thegamesbg

[2017-11-11 12:04] sgdc3 commented on #1404
When "registration.force = false" player that aren't registered will skip the entire login process, that breaks some features that are supposed to work anyway, look at the previous issue for more details.

[2017-11-11 16:01] KorkugunuB opened #1406 "Error output"
### Plugin list:
This can be found by running `/pl`
https://hastebin.com/zomopusato.md

### Environment description
Standalone server/Bungeecord network, SQLite/MySql, ...
Bungeecord network, MySql

### AuthMe build number:
This can be found by running `/authme version`
AuthMeReloaded v5.3.2 (build: 1726)

### Error Log:
Pastebin/Hastebin/Gist link of the error logo or stacktrace (if any)
https://

[2017-11-11 16:03] sgdc3 commented on #1406
Do you have any error related to authme before the thread dump?

[2017-11-11 18:16] Dimatert9 opened #1407 "Registration does not work correctly"
Hello. I am use AuthMe-1865. When new player join authme says that it need register(https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/resources/messages/messages_en.yml#L2). When player use register command, authme send message that he was successfully registered and player is not registered(https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/resources/messages/messages_en.ym

[2017-11-11 19:12] crypt1cgamer opened #1408 "AuthMe Reloaded wont save to wp_users"
I am trying to sync minecraft users with my wordpress website but I am having a few issues maybe you can help me out. I cant get authme to save in the database table wp_users, instead it creates a new database table called users, its in the correct database I want to use the same table data for users to login to my wordpress website. I know I am missing a step here and I apologize but your help wo

[2017-11-11 20:01] sgdc3 commented on #1407
Do you have any error in the console log?

[2017-11-11 20:35] Dimatert9 commented on #1407
No. There is no errors.

[2017-11-12 12:34] Dimatert9 commented on #1407
Somethink wrong with async tasks?
useAsyncTasks: false
useAsyncPreLoginEvent: false
this is solve my problem.

[2017-11-12 16:07] DarkFort commented on #1407
I have the same problem, very much to fix.

[2017-11-12 17:13] sgdc3 commented on #1407
Does it work with

?

[2017-11-12 22:53] Dimatert9 commented on #1407
[code]

[2017-11-12 23:50] sgdc3 commented on #1407
do you have caching enabled?

[2017-11-13 00:41] Dimatert9 commented on #1407
If true;true and caching false registration works good.

[2017-11-13 00:48] sgdc3 commented on #1407
Do you use bungeecord?

[2017-11-13 08:13] sgdc3 commented on #1406
Please update to the latest authme dev build and try again http://ci.xephi.fr/job/AuthMeReloaded/

[2017-11-13 08:14] #1399 closed

[2017-11-13 08:15] sgdc3 commented on #1394
@mattymatty97 still happening?

[2017-11-13 08:47] LinsaFTW opened #1411 "AuthMe Purge crashes server"
### What behaviour is observed:
AuthMe Purge crashes the server after some time and seems not to be deleting anything.

### What behaviour is expected:
I expected it to delete old user data but it just crashes.

### Steps/models to reproduce:
Doing /authme purge 90

### Environment description
BungeeCord Network - Paperspigot using MySQL

### AuthMe build number:
5.3.2

[2017-11-13 08:48] games647 commented on #1411
Please add the crash report

[2017-11-13 09:01] LinsaFTW commented on #1411
I cannot replicate the error because i had it 3 days ago and i resetted my sql today. I delete logs of the server daily so i dont have any crash reports or server logs.

[2017-11-13 10:03] Dimatert9 commented on #1407
Yes. I use bungeecord. Also i use auto redirect to other server after login/register.

[2017-11-13 12:27] sgdc3 commented on #1407
how many server with authme do you have?

[2017-11-13 12:29] sgdc3 commented on #1411
Please retry with latest builds (disable datasource.caching, it has some issues with bungee atm) and provide more infos.

[2017-11-13 12:29] #1411 closed

[2017-11-13 13:32] Dimatert9 commented on #1407
One.

[2017-11-13 14:05] sgdc3 commented on #1407
very very strange O_o do you use authmebridge or authmebungee?

[2017-11-13 14:27] Dimatert9 commented on #1407
No. I dont use authme-bridge/bungee

[2017-11-13 14:34] sgdc3 commented on #1407
Very strange, seems like async tasks breaks caching...

[2017-11-13 14:35] sgdc3 commented on #1407
@ljacqu any idea? :/

[2017-11-13 15:57] ljacqu commented on #1407
I'll have a look in a bit

[2017-11-13 16:09] DarkFort commented on #1407
I have AuthMe and AuthMeBridge on two servers. Messages are displayed several times.

[2017-11-13 16:51] ljacqu commented on #1407
On Spigot 1.11.2 I cannot reproduce the issue :/ Used the exact same config as posted in the bug report.

[2017-11-13 17:05] Dimatert9 commented on #1407
Hm.. I tried to reproduce this bug on my PC. And registration works good, but when  i put sqlite database from my servers, registration broken again.

[2017-11-13 17:10] Dimatert9 commented on #1407
Threre is video https://youtu.be/X4s7tB2XMWE

[2017-11-14 07:10] sgdc3 commented on #1394
Stop using essentials-spigot, use EssentialsX instead.

[2017-11-14 07:10] #1394 closed

[2017-11-14 07:11] sgdc3 commented on #1394
Essentials-Spigot is very outdated and glitched, EssentialsX is another fork, i'm surr it works just fine ;)

[2017-11-14 07:15] mattymatty97 commented on #1394
ok i'll try it and send a feedback

[2017-11-14 08:20] #1383 closed

[2017-11-15 15:39] Dimatert9 opened #1412 "BungeeCord sendTo is broken."
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/service/bungeecord/BungeeSender.java#L67
Maybe you want use Connect**Other**?

[2017-11-15 17:05] sgdc3 commented on #1412
Yes sorry xD

[2017-11-15 17:08] #1412 closed

[2017-11-15 17:20] sgdc3 commented on #1406
@KorkugunuB Bump

[2017-11-15 18:34] crypt1cgamer commented on #1408
Here is a copy of my config.yml

DataSource:
    # What type of database do you want to use?
    # Valid values: SQLITE, MYSQL
    backend: 'MYSQL'
    # Enable database caching, should improve database performance
    caching: false
    # Database host address
    mySQLHost: 'correcthostname'
    # Database port
    mySQLPort: '3306'
    # Connect to MySQL database over SSL
    mySQLUseSSL: true

[2017-11-15 19:55] ljacqu commented on #1408
Did you see your comment? This is not very useful. Could you extract it into http://hastebin.com please?

[2017-11-15 20:48] crypt1cgamer commented on #1408
my config file is here : https://hastebin.com/liyuguqibo.bash

[2017-11-16 22:18] DarkFort opened #1413 "Error when configured command is run after player unregisters"
1. When you log on to the server, you immediately output two messages with the keys: valid_session and login. This needs to be corrected.
2. After authorization on the server, the plugin teleports to the survival and writes that the session is saved. This message should not be displayed after authorization.
3. The /logout command must be teleported to the authorization server if AuthMeBridge is us

[2017-11-16 23:18] DarkFort commented on #1413
and error
[01:16:24] [Server thread/INFO]: DarkFort issued server command: /authme unregister DarkFort
[01:16:25] [Craft Scheduler Thread - 406/WARN]: [Craft Scheduler Thread - 406] INFO fr.xephi.authme.libs.zaxxer.hikari.HikariDataSource - AuthMeMYSQLPool - Starting...
[01:16:25] [Craft Scheduler Thread - 406/WARN]: [Craft Scheduler Thread - 406] INFO fr.xephi.authme.libs.zaxxer.hikari.HikariData

[2017-11-17 06:22] sgdc3 commented on #1413
Stop using AuthMeBridge, use AuthMeBungee instead, you can download it from http://ci.xephi.fr/job/AuthMeBungee/

[2017-11-17 06:43] sgdc3 commented on #1413
3) Please open a new issue for that, we never had such a feature,  you have to open a separate feature request

[2017-11-17 06:43] sgdc3 commented on #1413
Please use pastebin or hastebin to post your errors/stacktraces.

[2017-11-17 11:59] DarkFort commented on #1413
https://hastebin.com/lotizeselo.sql

[2017-11-17 12:00] DarkFort opened #1414 "/logout command"
The /logout command must be teleported to the authorization server if AuthMeBungee is used.

[2017-11-17 13:01] ljacqu commented on #1413
What's your commands.yml?

[2017-11-17 13:28] sgdc3 commented on #1414
Should be moved to the authmebridge issuetracker.

[2017-11-17 13:28] #1414 closed

[2017-11-17 13:51] DarkFort commented on #1413
https://hastebin.com/qedireriwe.bash

[2017-11-17 21:37] t0rched commented on #957
Testing. Once I find the new download. Ugh.

[2017-11-17 21:37] sgdc3 commented on #957
http://ci.xephi.fr/job/AuthMeReloaded/

[2017-11-17 21:38] t0rched commented on #957
Thank you. Testing with XenForo 1.5.x and http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.4-SNAPSHOT.jar

[2017-11-17 21:58] t0rched commented on #957
Server won't even start with 5.4 latest build. I thought I had to use an older build to achieve function on 1.7.10? Cause' this one certainly doesn't work.

[2017-11-17 22:23] t0rched commented on #957
I guess I am confused. Do I use the xf_user table at the top of the AuthMe config, or the xf_user_authenticate table? Either way, there are a whole lot of table options there for fields that don't exist. I don't mind the Minecraft server fields IE location, x,y,x etc.. But there is no "realName" field in either of the two main user tables of XF...

[2017-11-18 00:01] Roper89 commented on #1403
In my configuration (`config.yml`) file from the latest build.
Where can I get a working link?

If I want to use only a black list.
I must in "countries:" delete all the lines completely or change them to empty ones?

Screenshot — https://i.imgur.com/fVVnrxZ.png

[2017-11-18 00:33] Roper89 opened #1415 "Bug with "preventOtherCase: false""
Bug with
[code]
XEPHI/xephi/XePhI — **Different accounts are tied to one location.**
Players use this bug to find someone else's house.

Players specifically create the same account with a modified register to appear on a someone else's property and there to harm.

[2017-11-18 00:57] sgdc3 commented on #1403
2 should be fine

[2017-11-18 02:40] t0rched commented on #957
Verified working 100% both directions with Thermos-1614, AuthMe-5.4-SNAPSHOT (latest as of this post). This, CommunityBridge for Spigot, and XenForo appear to be my servers holy trinity for full account/sql player immersion with a community.

Thank you developers, contributors and all involved. Verified 100% working.

PM me for config help.

[2017-11-18 08:09] ljacqu commented on #1415
We should remove `preventOtherCase: false`. I'm surprised it still halfway works, and afaik there's no way to prevent bugs since other plugins don't take this possibility into account.

Do you need this setting for something?

[2017-11-18 08:10] ljacqu commented on #1403
I think it should be `countries: []`, FYI.

Btw, with `/authme debug cty` you can test the country restriction with your configuration.

[2017-11-18 08:13] ljacqu commented on #957
hi @t0rched , this is excellent (and surprising) news! Thanks for testing and for your feedback.

Do you think you could help us with having a section on Xenforo at https://github.com/AuthMe/AuthMeReloaded/wiki/Forum-integrations akin to the phpBB one?

[2017-11-18 12:06] sgdc3 commented on #1415
@ljacqu what do you mean? Always turn on the preventOtherCase feature?

[2017-11-18 18:30] t0rched commented on #957
Yes, I will have some time. I can package up my config and write some notes. Thank you for the wonderful piece of software :D

[2017-11-18 20:21] ljacqu commented on #957
@t0rched, excellent, thank you :)

[2017-11-19 05:59] t0rched commented on #957
Testing mostly complete. All things appear to be working 100%. Will test the additional features such as email resets and all that jazz, then post in completion the entirety of the setup. Cheers.

[2017-11-19 12:47] sgdc3 commented on #1415
@ljacqu ?

[2017-11-19 14:02] StrafeZ opened #1416 "Allowing AuthMe only for certain groups"
Allow Authme RL to only work for certain groups.

[2017-11-19 15:52] Roper89 commented on #1415
I use "`preventOtherCase: false`" because some players forget under what register they register and then can not get on the server.

[2017-11-19 16:50] Roper89 opened #1417 "Prevent chat for specific groups only"
I want to use the function "`allowChat: true`" to help players who can not register.
But players abuse this opportunity.
They come on behalf of the administrator and write an advertisement that the server has changed the address.

I want the function to work for everyone except OP.

[2017-11-19 19:27] Dimatert9 commented on #1407
Maybe i can give to you my database? Just give me link to you where i can post download links.

[2017-11-20 07:23] ljacqu commented on #1415
I have to admit I'm not sure what the setting exactly does—if `true` it only allows a player to join with the registered casing, OK. But when it's `false`, does it allow multiple accounts to be registered with different casings? Because IMHO we shouldn't allow that.

[2017-11-20 07:24] ljacqu commented on #1416
Hi @StrafeZ, I went ahead and removed the issue template since it only contained one sentence by you. Maybe could you expand on it a little so we know what you're really trying to have?

[2017-11-20 07:27] ljacqu commented on #629
Since others have just split this with more relevant titles I close this as a duplicate.

See #1416 "Allowing AuthMe only for certain groups" and #1417  "Prevent chat for specific groups only"

[2017-11-20 07:27] #629 closed

[2017-11-20 11:05] Dimatert9 opened #1418 "You logged in from another location"
After upgrading to latest AuthMe-dev players starts kicking with "You logged in from another location".
In BungeeCord log i have:
[code]
Search "§fYou logged in from another location" (1890 hits in 1 file)

In build 1865 i does not have this problem. Maybe authme sends multiple plugin messages with ConnectOther?

[2017-11-20 11:10] Dimatert9 commented on #1418
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/service/BukkitService.java#L368

[code]

[2017-11-20 12:06] sgdc3 commented on #1418
Wtf i was sure it worked the other way XD

[2017-11-20 12:10] #1418 closed

[2017-11-20 12:19] sgdc3 commented on #1415
@ljacqu No, if it is false we consider sgdc3 and SGdc3 as the same user, same password.

[2017-11-21 10:43] sgdc3 commented on #1407
@Dimatert9 does it happen with the latest build?

[2017-11-21 10:45] sgdc3 commented on #1415
@Roper89 In your opinion how should we handle that? What do you expect to happen?

[2017-11-21 10:46] #1406 closed

[2017-11-21 10:46] sgdc3 commented on #1408
@ljacqu Any news? ;)

[2017-11-21 10:47] sgdc3 commented on #1413
@ljacqu Any idea?

[2017-11-21 14:19] Roper89 commented on #1415
if you can not fix the connection of different players to one geolocation.
Make it impossible to register multiple accounts XEPHI/xephi/XePhI
But with the possibility of entering with the wrong register

_(Sorry, I'm using translate.google.com)_

[2017-11-21 16:12] StrafeZ commented on #1416
So for example, I have my donor ranks and my 4 Staff ranks.

I want to make it so that people who have Donor ranks do NOT get the /register and /login, however the Staff ranks do. You hould make it so that anyone who has a permission such as authme.register and authme.login are ONLY able to get it, anybody else bypasses, and doesnt even get the message.

Thanks. Sorry if it was too brief before :)

[2017-11-21 16:52] Dimatert9 commented on #1407
No. Now when i join and register i recieved 'registered' and 'unknown_user' messages and was teleported to other server. But when i try to rejoin session is not work and i need login. After login all good.

[2017-11-21 17:17] Dimatert9 commented on #1407
https://www.diffchecker.com/lM97d3SN
https://www.diffchecker.com/tCDf8K7h

if run asynchronousLogin.forceLogin(player) with small delay, registration will work correctly. But idk, can this be a good solution?https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/process/register/executors/AbstractPasswordRegisterExecutor.java#L92

[2017-11-21 22:02] ljacqu commented on #1407
Database delay. I'm assuming it takes longer to write into the database than we wait before we start the force login process, at which point the first thing we'll do is tell the database "hey give me that user"

[2017-11-21 22:02] sgdc3 commented on #1407
@ljacqu Damn, how should we handle that?

[2017-11-21 22:05] ljacqu commented on #1407
Maybe really go with the small delay that @Dimatert9 proposes? No other ideas ATM :/

[2017-11-21 22:20] ljacqu commented on #1413
The link says not to run commands in async. The stacktrace (`AsynchronousUnregister.performPostUnregisterActions`) shows that it's what we're doing ;)

I'll take care of this and verify that no other commands are being run from async.

[2017-11-21 22:21] ljacqu commented on #1408
Need to install Wordpress locally, which isn't a very... attractive thing to do atm :)

[2017-11-21 22:50] ljacqu commented on #1413
hi @DarkFort, the command error is fixed with build n. 1872 or above at http://ci.xephi.fr/job/AuthMeReloaded/
If you could kindly give us a quick feedback that it works on your side, that would be swell
As for the other stuff I invite you to create new issues (one item at a time so we can properly track them). Thanks

[2017-11-21 22:53] #973 closed

[2017-11-21 22:59] Dimatert9 commented on #1204
Maybe return a random ip if Player#getAddress is null? This will discard session and prevent throwing error to console

[2017-11-21 23:28] sgdc3 commented on #1204
Or just kick the player?

[2017-11-22 05:52] crypt1cgamer commented on #1408
If It will help I can allow you to use the current setup I have and you can see whats happening  because i am using it on a server that is hosted and we can do it over discord.

[2017-11-22 07:26] ljacqu commented on #1408
That's a kind offer but I'll get it set up on Thursday locally so I can mess around with the database and stuff :)

[2017-11-22 07:27] ljacqu commented on #1407
Based on our Discord chat, if this only happens because you have a SQLite database with 100k entries I would vote not to fix this

[2017-11-22 08:40] #1407 closed

[2017-11-22 08:42] #1379 closed

[2017-11-22 12:17] Dimatert9 commented on #1407
But if you support sqlite database i think you need fix it :)
Maybe add a delay only to sqlite and with config option?

[2017-11-22 14:56] ljacqu commented on #1407
To be fair you're ignoring an all caps warning because of your SQLite size ;) We do NOT support it to be used with more than 5k entries.

[2017-11-22 17:08] crypt1cgamer commented on #1408
Maybe this will help https://hastebin.com/liyuguqibo.bash  in line 20 it ask for the table of database name and you can only put  'users' instead of 'wp_users' so that what the file saves as " users " if you put ' wp_users'  the plugin gives an error of https://hastebin.com/ujalukaweb.sql. but when left as users the database only saves as users as can be seen here https://prntscr.com/hduqgz so it

[2017-11-22 17:19] ljacqu commented on #1408
Ok that's a new error at least. If you search for it in our issue tracker you'll find similar issues (on mobile, not at home)

[2017-11-22 17:45] ljacqu commented on #1144
Haven't heard back + no one else requested this -> closing

[2017-11-22 17:45] #1144 closed

[2017-11-22 17:48] ljacqu commented on #1134
Closing as a wontfix -> we already have a captcha feature and kick and tempban. No need to make things even more complicated (overwhelming the configuring user)

[2017-11-22 17:48] #1134 closed

[2017-11-22 17:52] ljacqu commented on #1033
Closing as the benefit is marginal. Should we ever (= never) change how permissions are evaluted this would even make things worse... ;)

[2017-11-22 17:52] #1033 closed

[2017-11-23 07:08] comonier opened #1422 "[EmailException]: Sending the email to the following server failed : smtp.gmail.com:465"
23.11 05:05:47 [Server] INFO comonier issued server command: /authme debug mail
23.11 05:05:48 [Server] INFO DEBUG: JavaMail version 1.5.6
23.11 05:05:48 [Server] INFO DEBUG: successfully loaded resource: /META-INF/javamail.default.providers
23.11 05:05:48 [Server] INFO DEBUG: Tables of loaded providers
23.11 05:05:48 [Server] INFO DEBUG: Providers Listed By Class Name: {com.sun.mail.smtp.SMTPSSLT

[2017-11-23 07:22] comonier commented on #1422
why its saying wrong user and password ?
on config.yml i have setupted the right informations
"23.11 05:05:48 [Server] INFO DEBUG SMTP: protocolConnect returning false, host=smtp.gmail.com, user=mc126, password="
that is not that i have put on config

[2017-11-23 07:24] comonier commented on #1422
it was working fine, but after i register some accounts with the same email it stop to works.

[2017-11-23 07:28] sgdc3 commented on #1422
@comonier have you enabled unsafe gmail app access?

[2017-11-23 07:30] ljacqu commented on #1422
@sgdc3 please stop mass-assigning people, then no one feels responsible for it

[2017-11-23 07:38] comonier commented on #1422
@comonier have you enabled unsafe gmail app access?
yes i did

[2017-11-23 07:40] comonier commented on #1422
https://hastebin.com/utitadizoc.vbs

[2017-11-23 07:40] sgdc3 commented on #1422
@ljacqu sorry, the thing is that idk if you or @HexelDev are available, that was just to notify you guys.

[2017-11-23 07:44] comonier commented on #1422
the most strange is, it was working, i received email on gmail, and yahoo, doing change password to receive code, etc... all was working fine, and just stop to works. after i do something or not.

[2017-11-23 07:46] comonier commented on #1422
look at that working on yahoo:
https://hastebin.com/fudipixafi.vbs

[2017-11-23 08:04] comonier commented on #1422
email config
https://hastebin.com/rafidopofe.bash

[2017-11-23 08:15] comonier commented on #1422
found a error on authme log:

https://hastebin.com/roteholaru.vbs

[2017-11-23 08:31] comonier commented on #1422
i think it stop to work after i edit
verification_code_email.html
there is some problem with that ?

[2017-11-23 08:43] sgdc3 commented on #1422
Could you please post your verification_code_email.html file? Try to regenerate the default file and check if it works.

[2017-11-23 10:06] comonier commented on #1422
same problem after restore:
original recovery_code_email.html file
original email.html file
original verification_code_email.html file

[2017-11-23 10:16] comonier commented on #1422
look the log

why he is trying to login using wrond datas ?
user=mc126, password=<null>

[2017-11-23 10:16] comonier commented on #1422
maybe that is the problem ?

[2017-11-23 10:17] comonier commented on #1422
23.11 05:05:48 [Server] INFO DEBUG SMTP: protocolConnect returning false, host=smtp.gmail.com, user=mc126, password=

[2017-11-23 10:36] comonier commented on #1422
after change port 465 to 25 received diferente error msg

https://hastebin.com/noxofikane.vbs

still not working

[2017-11-23 12:19] sgdc3 commented on #1422
Strange, i checked the code, we p4ovide

[2017-11-23 12:20] sgdc3 commented on #1422
Very strange, i'll check the code again

[2017-11-23 14:19] Pluginsel commented on #1361
@sgdc3 probabily 1.13 is will released on the next 2-3 weeks.
And after this, is will released for Spigot. :)

[2017-11-23 15:23] sgdc3 commented on #1361
@Pluginsel We don't know anything about 1.13 yet.

[2017-11-23 17:20] ljacqu commented on #691
With the recent bug #1400 the hash implementation and its documentation was updated, so there's nothing left to do here.

[2017-11-23 17:20] #691 closed

[2017-11-23 18:44] comonier commented on #1422
/authme debug mail
Test email sent to comonier@gmail.com with success

it back and work alone
probaly some host issue ?

[2017-11-23 20:26] #1422 closed

[2017-11-23 21:31] ljacqu commented on #1422
Hi @comonier, glad your problem could be resolved! Thanks for the update.

[2017-11-24 08:35] sgdc3 commented on #1413
@DarkFort any news? ;)

[2017-11-25 13:24] arturek1666 opened #1423 "CMI spawn integration"
There is plugin called CMI with is like essentials however the problem is that it doesn't use CMI spawn and firstspawn of CMI becouse spawnPriority: 'authme,default,essentials,multiverse', Can you add to it CMI

[2017-11-25 14:48] sgdc3 commented on #1423
CMI is closed source, can't you just invoke the cmi spawn command using the commands file?

[2017-11-26 03:16] lenis0012 commented on #1150
Intresting conversation.

I implemented Argon2 a while ago, but never documented it because I was unable to find enough evidence proving that the algorithm is "battle tested".

I also considered a custom hashing method where multiple algorithms could be combined. but for the same reasons decided not to implement it.

I am getting Déjà vu scrolling through this page.

On another note, nice work guy

[2017-11-26 10:31] sgdc3 commented on #1150
@lenis0012 Thank you man ;)

[2017-11-26 13:35] DarkFort opened #1424 "requires authorization on all servers"
In the Latest update requires authorization on all servers

[2017-11-26 18:03] sgdc3 commented on #1424
Please explain your issue.

[2017-11-26 18:05] DarkFort commented on #1424
There are two servers: Survival, Auth. authorizing on the server Auth, teleporting to Survival, requires entering a login. With this is AuthMeBungee

[2017-11-26 20:56] DarkFort commented on #1413
1. Not corrected
2. Not corrected
3. Not corrected

[2017-11-26 22:25] ljacqu commented on #1413
read above

[2017-11-26 22:25] #1413 closed

[2017-11-26 22:27] sgdc3 commented on #1424
@DarkFort I still can't understand your issue

[2017-11-26 22:31] Dimatert9 commented on #1424
I think he mean that he use authmebungee and two servers with authme. After login on first and connect to second, session will not apply and player need again use login command.

[2017-11-26 22:32] DarkFort commented on #1424
😌

[2017-11-27 06:43] sgdc3 commented on #1424
@DarkFort are you using authmebridge or authmebungee?

[2017-11-27 06:44] DarkFort commented on #1424
authmebungee

[2017-11-27 06:46] DarkFort opened #1425 "Output of two messages when entering the server"
When you log on to the server, you immediately output two messages with the keys: valid_session and login. This needs to be corrected.

[2017-11-27 06:50] DarkFort opened #1426 "Message saving session"
After authorization on the Auth server, I teleport to the Survival server and a message is displayed that the session has been saved. This message should not be displayed on the Survival server after Auth authentication

[2017-11-27 07:01] sgdc3 commented on #1424
Could you post your authme and authmebungee config files?

[2017-11-27 07:05] DarkFort commented on #1424
[AuthMeBungee](https://hastebin.com/epedelipuw.pas)
[AuthMeReload](https://hastebin.com/ufudaboniy.bash)

[2017-11-27 07:16] kacperduras commented on #1424
[code]

[2017-11-27 07:24] sgdc3 commented on #1424
You have to enable this.

[2017-11-27 07:29] sgdc3 commented on #1423
@Zrips Could you provide some sort of public api?

[2017-11-27 07:31] DarkFort commented on #1424
oh, yes, I have true, I accidentally threw off

[2017-11-27 11:43] Zrips commented on #1423
Working on this, will add source code to github and will post API plugin version in main page. As this is already been requested couple times. Check it in couple hours.
And to help out with code it self in finding out spawn and first spawn locations
`	CMI.getInstance().getConfigManager().getSpawnPoint();
	CMI.getInstance().getConfigManager().getFirstSpawnPoint();`

[2017-11-27 15:35] sgdc3 commented on #1408
@crypt1cgamer ?

[2017-11-27 15:37] crypt1cgamer commented on #1408
I am not working on it anymore  as i was removed from the server so no interest in the solution

[2017-11-27 16:42] Twonox commented on #1404
Just remove this feature haha
Seriously, I don't see any utility of this feature.

[2017-11-27 19:14] sgdc3 commented on #1408
that doesn't mean anything, we'll keep open this issue

[2017-11-27 19:16] sgdc3 commented on #1404
Lol, i know, but someone wants to use authme as a website interation instead of an authentication system

[2017-11-27 20:44] ljacqu commented on #1408
and do what with it? The posted error is one we've had in the past, and without someone interested in it there's no one to support

[2017-11-27 20:44] #1408 closed

[2017-11-28 20:14] ljacqu commented on #1416
Thanks for your comment.

I just realized that #1387 is essentially the same request as in this issue, so I'll close this in favor of the other issue (keeps our tracking a little clearer). Your feedback, however, is appreciated and noted.

[2017-11-28 20:14] #1416 closed

[2017-11-28 20:44] ljacqu commented on #879
Hi @Twonox @nathampa0909, is this still something you are experiencing? If so I could implement the workaround described in the above command soon.

[2017-11-28 21:23] Twonox commented on #879
Hi, I shall not answer because I no longer use Authme. My server is online mode since some months.

[2017-11-29 00:08] sgdc3 commented on #879
@ljacqu we recently changed how we handle the join, probably we fixed that.

[2017-11-29 05:47] ljacqu commented on #879
@sgdc3 That's a good point—would you agree to close this? The reason I asked if this was still relevant was that we'd hear it from others if they experienced this, too.

[2017-11-29 06:02] sgdc3 commented on #879
we'll see if anyone has issues with 5.4.0

[2017-11-29 06:03] #879 closed

[2017-12-01 17:43] StrafeZ commented on #1387
Any updates on this?

[2017-12-01 17:52] ljacqu commented on #1387
Although it has been requested by a few people, this is quite low in my personal priorities because it doesn't really offer much. If you want to force staff to register you can remove their /unregister permission.

[2017-12-01 18:14] ljacqu commented on #1046
hi @belfedia @SaitDev this is available on newer builds (n. 1880 and above) at http://ci.xephi.fr/job/AuthMeReloaded/
I would be thankful for some feedback - is something not how you expect it, or can we close this issue?

[2017-12-01 18:15] #1254 closed

[2017-12-01 19:08] S3nS3IW00 opened #1434 "Question, not issue!"
I only have question. Can I get password with method of specified player across API? I need this for players can't send their password to everyone. Thanks for the answer!

[2017-12-01 19:13] #1424 closed

[2017-12-01 19:14] SaitDev commented on #1046
its avaible on release 5.4 version too?

[2017-12-01 19:14] ljacqu commented on #1434
You can use the `checkPassword` method to check if a given password is correct for the player, or you can use `changePassword` to change a player's password. Reading a player's password is currently not supported. That would relate to #1373

[2017-12-01 19:23] S3nS3IW00 commented on #1434
When be supported? I can't solve this with checkPassword(String, String), because it is a boolean function, and contains() is String, the equals() is Object :/

[2017-12-01 19:23] ljacqu commented on #1046
It's not, it was added right after the 5.4 release

[2017-12-01 19:24] ljacqu commented on #1434
What exactly are you trying to do?

[2017-12-01 19:25] ljacqu commented on #1434
If my password is "potato1", and I write in chat "my pass is potato1" you want it to become "my pass is ***" or something?

[2017-12-01 19:30] S3nS3IW00 commented on #1434
I try to do to the players can't send their password to the public chat. If the player send "my password is asd" message the server is cancel it, and send an example message.

[2017-12-01 19:31] ljacqu commented on #1434
We store all passwords hashed, as is standard practice, so there's no chance to get the cleartext of a user's password.

[2017-12-01 19:35] S3nS3IW00 commented on #1434
This is the problem. In the next update please add this function in the plugin, because is a useable function.

[2017-12-01 19:36] ljacqu commented on #1434
No.

Once passwords are hashed, there's no way to get back what the text was. And we're certainly not removing the hashing.

[2017-12-01 19:36] #1434 closed

[2017-12-01 19:43] S3nS3IW00 commented on #1434
I can detect the password in hash?

[2017-12-01 19:52] ljacqu commented on #1434
see e.g. SHA-1 https://en.wikipedia.org/wiki/SHA-1

In a nutshell:

Password comes in -> "pass" -> hash algorithm is applied to it -> it becomes something like "9d4e1e23bd5b727046a9e3b4b7db57bd8d6ee684" with no function to compute the original text. This 9d4e1e23bd5b727046a9e3b4b7db57bd8d6ee684 text is then stored in the database.

This is enough for us because next time the user wants to log in,

[2017-12-01 20:03] S3nS3IW00 commented on #1434
Oh I understand. Thanks for explanation! Have a good develop :D

[2017-12-01 21:00] Pluginsel commented on #1364
Another message (of command: /authme)

This server is running AuthMeReloaded v5.4.0 b1877! <3
Use the command /authme help to view help.
Use the command /authme about to view about.

[2017-12-01 21:14] Pluginsel opened #1435 "lags for 2-3 seconds after using the /email recovery <mail> command"
If the player uses the /email recovery <email> command, the Server is will lag for 2-3 seconds.

[2017-12-01 21:20] Pluginsel opened #1436 "add visible MailName for E-mail recovery system."
If player send the e-mail recovery code, the mail name is mailaddress@gmail.com etc. Can you change this to official mail name ? Or add the e-mail name option to config.yml like a mailsubject option.

Example:
    # Mail Name
    mailName: 'Authme Reloaded'

[2017-12-01 21:21] ljacqu commented on #1436
Isn't that what this does?

[code]

[2017-12-01 21:24] Pluginsel commented on #1436
Oh... I did not see it, I tested it and it works.

[2017-12-01 21:24] #1436 closed

[2017-12-01 21:25] ljacqu commented on #1436
Thanks for the feedback :)

[2017-12-01 21:26] Pluginsel commented on #1364
@ljacqu or @sgdc3 this is confirmed for 5.5.0 update?

[2017-12-01 21:32] sgdc3 commented on #1364
we don't know yet

[2017-12-01 21:36] Pluginsel opened #1437 "New E-Mail option for the recovery sytem."
players send rescue requests when they reset the password, but because of the limit of entry, the player is thrown out after a few seconds of using this command. I think you need to add a setting for this, I'll leave you two options here, you can add whichever is convenient for you.

You can choose one of these two options:

Option one: if player use the /email recovery code and if send the recove

[2017-12-01 21:40] Pluginsel commented on #1364
Ma tu sei italiano? XD

[2017-12-01 21:40] Pluginsel commented on #1364
@sgdc3 Ma tu sei italiano? XD

[2017-12-01 21:44] sgdc3 commented on #1364
Si xD

[2017-12-01 21:45] Pluginsel commented on #1364
@sgdc3 Ah. Che fortuna, io abito a italia e il owner di AuthMe e italiano. Che bello!!!

[2017-12-01 21:46] sgdc3 commented on #1364
Non sono l'owner ma gestisco il progetto ;)

[2017-12-01 22:02] ljacqu commented on #1364
L'owner è francese :)

[2017-12-01 22:03] DutchUser commented on #1387
"If you want to force staff to register you can remove their /unregister permission."

I dont understand how this fixed the issue not having this option. Because now everyone is forced to create a password. Staff member or not.

That's why we requested that the plugin checks based on permission and not just on the UUID to check it have a password.

No offens though. Its a great plugin. Great for t

[2017-12-01 22:07] sgdc3 commented on #1364
@ljacqu Ecco il nostro linguista ;)

[2017-12-01 22:07] Xephi commented on #1364
Non capisco, ma ljacqu parla francese come me: ') (sorry, thx google translate)

[2017-12-01 22:08] sgdc3 commented on #1364
AuthMe: made in Europe with love

[2017-12-01 22:09] ljacqu commented on #1387
None taken! Opinions and requests are very welcome. I don't know how you use AuthMe or how you want to use it, so it's always helpful to get feedback. I really appreciate you taking the time to hash this out.

I'm under the impression that if registration is set to optional (`settings.registration.force: false`) and the permission to /unregister is taken away from staff, it should enable what you

[2017-12-01 22:16] sgdc3 commented on #1435
@ljacqu any idea? the command execution should already be async

[2017-12-02 00:07] DutchUser commented on #1387
How is this a bad choice in staff? I looked for this because i want to let the staff teams account be secured so that IF one get hacked or used by someone else that abuse the powers of the staff members.

And i can work with the "I'm under the impression that if registration is set to optional (settings.registration.force: false) and the permission to /unregister is taken away from staff, it shoul

[2017-12-02 00:46] HexelDev commented on #1364
Italia = Spam (Kappa)

[2017-12-02 01:04] sgdc3 commented on #1364
Ripperoni

[2017-12-02 07:13] belfedia commented on #1046
Thanks i try it :)

[2017-12-03 02:30] t0rched commented on #957
So, there are issues. It *mostly* works. It doesn't seem to assign the permission roles for the chosen user group after registering. I am debugging this now as before. Possible fix with triggers. Will advise.

[2017-12-03 02:52] t0rched commented on #957
This is the issue...

ALTER TABLE xf_user MODIFY COLUMN permission_combination_id INT(10) NOT NULL DEFAULT '2';

Was one of my above suggestions for a hack. This actually changes based on installation. Best to let the user set the default field value here, and all works as it should 100%... However authme appears to be setting this value... just remove it.

[2017-12-03 08:59] ljacqu commented on #1435
I'll have a look :) I've observed the same  thing when I have host or SSL issues in my email details—there's a noticeable lag.

[2017-12-03 11:26] mattymatty97 opened #1439 "mysql goes on comunication link failure with non localhost host"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
What happened?
when connecting to a mysql database the plugin stops saying "Communications link failure"

### What behaviour is expected:
What did you expect?
plugin correctly connect to mysql database as other plugins do

### Steps/models to re

[2017-12-03 16:20] sgdc3 commented on #1439
Is the mysql server on the same machine?

[2017-12-03 16:25] mattymatty97 commented on #1439
no its on a vps

[2017-12-03 16:27] mattymatty97 commented on #1439
other plugins like pex, worldguard and skin restorer
correctly conntects and from my laptop i can connect whit the authme credentials to authme datatabase

[2017-12-03 17:37] TheIntelloBox opened #1440 "Task Error on Spigot 1.12.2& and Java 8."
[18:35:33] [Server thread/WARN]: [AuthMe] Task #39743 for AuthMe v5.5.0-SNAPSHOT-b1884 generated an exception
java.lang.NullPointerException: null
	at java.util.Objects.requireNonNull(Objects.java:203) ~[?:1.8.0_72]
	at java.util.Arrays$ArrayList.<init>(Arrays.java:3813) ~[?:1.8.0_72]
	at java.util.Arrays.asList(Arrays.java:3800) ~[?:1.8.0_72]
	at fr.xephi.authme.permission.handlers.VaultHandler.g

[2017-12-03 18:14] sgdc3 commented on #1440
What's your permission plugin?

[2017-12-03 18:15] sgdc3 commented on #1439
MySql or MariaDB?

[2017-12-03 18:29] mattymatty97 commented on #1439
actually mysql

[2017-12-03 18:50] TheIntelloBox commented on #1440
Group Manager.

[2017-12-03 22:16] t0rched commented on #957
I have a forked version that is working temporarily for XF. I will try and build a patch and add the needed config line.

[2017-12-03 22:52] sgdc3 commented on #1439
Wtf? Set it back to 1800...

[2017-12-03 22:58] mattymatty97 commented on #1439
sorry it a bit old config i'v tried expanding timeout value but the error hannes also whit normal one

[2017-12-03 22:59] sgdc3 commented on #1439
try with 300

[2017-12-03 23:00] sgdc3 commented on #957
@t0rched That would be amazing, thank you :D

[2017-12-03 23:25] mattymatty97 commented on #1439
trying it now

[2017-12-03 23:28] mattymatty97 commented on #1439
nope same error

[2017-12-04 00:32] xCraftRayX opened #1441 "IPS Support"
Can you add support for IPS Forum?

[2017-12-04 20:20] DarkFort opened #1442 "Error while shutting down server"
https://hastebin.com/jojexodesa.css

[2017-12-04 23:15] sgdc3 commented on #1414
@DarkFort implemented in authmebungee

[2017-12-04 23:31] sgdc3 commented on #1442
@ljacqu What do you think? when onDisable is called the bungee channel is already closed :(

[2017-12-04 23:32] sgdc3 commented on #1439
Sounds very strange, set poolSize to 4

[2017-12-04 23:34] sgdc3 commented on #1441
IPB or IPS? :/

[2017-12-05 10:27] mattymatty97 commented on #1439
nope error repeats again

[2017-12-05 10:30] sgdc3 commented on #1439
uh, found it: disable mySQLUseSSL

[2017-12-05 10:30] sgdc3 commented on #1439
@mattymatty97

[2017-12-05 10:56] mattymatty97 commented on #1439
ssl is active on mysql and the connection is stable, one is on optic fibre and the other on a vps in germany.
one think is the verify-server-certificate that i've had to diable it for hide some warning in other plugins

[2017-12-05 10:57] mattymatty97 commented on #1439
ps: sorry for my wrong spellings😌

[2017-12-05 11:01] mattymatty97 commented on #1439
like this
uri: mysql://84.201.37.95/PermissionEx?verifyServerCertificate=false&useSSL=true

[2017-12-05 13:33] DutchUser opened #1443 "Unregistered players don't see their inventory"
#### Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
After i edited the config i got issue in the server. Players that not registered see multple times an empty inventory till they open an chest.

### What behaviour is expected:
Well... Not that they can not see there inventory.

### Steps/models

[2017-12-05 15:26] sgdc3 commented on #1443
Could you please explain your environment? (server version, plugin list, etc...)

[2017-12-05 15:43] DutchUser commented on #1443
As i said about the plugins, It does not matter what for plugins are on the server. With an Fresh config where **only** the force login is turned off it workes fine. But after i also change other things to false the plugin decide to be annoying.

Servert version: Spigot 1.12.2

But sure. If you still wnna know the plugin list: https://pastebin.com/imfpuY6r

[2017-12-05 15:56] DutchUser commented on #1443
I found a bit of an Fix for it. If the inventory protection is turned off. This will not happen. So is this maybe an "inventory protect" section bug?

[2017-12-05 15:59] DutchUser commented on #1443
You can maybe "reproduce" it by

- Turn off the force register.
- Turn on the inventory protection.
- Log in with an not registered account.

[2017-12-05 18:29] DarkFort commented on #1442
The error was gone, thank you!

[2017-12-06 18:24] Pluginsel opened #1444 "Question with bukkit coding."
this code isn't working with the AuthMe plugin before the login.
Do you have any idea what I need to do for this?

[2017-12-06 19:07] SlipGoda opened #1445 "AuthMe warn"
### What behaviour is observed:
Warn

### What behaviour is expected:
What did you expect?

### Steps/models to reproduce:
The actions that cause the issue

### Plugin list:
PermissionsEx, Vault, ProtocolSupport, ProtocolLib, NoCheatPlus, AuthMe, AuthServer

### Environment description
Bungeecord network,MySql

### AuthMe build number:
AuthMe-5.4.0

### Error Log:
https://hastebin.com/zagehiqeya.m

[2017-12-06 20:03] sgdc3 commented on #1445
This is just an info message, it is shown as WARN but it is normal.

[2017-12-06 20:03] sgdc3 commented on #1445
That looks strange, @ljacqu any idea? ;)

[2017-12-06 20:04] sgdc3 commented on #1444
Does it happen with only your code + authme installed?

[2017-12-06 20:13] Pluginsel commented on #1444
@sgdc3 What? AuthMe is installed yes.

[2017-12-06 20:29] sgdc3 commented on #1444
@Pluginsel No, i mean, could you try to test it on an environment with only authme and your plugin?

[2017-12-06 20:30] Pluginsel commented on #1444
@sgdc3 I already tested only with my plugin and AuthMe.

[2017-12-06 20:30] Pluginsel commented on #1444
@sgdc3 Spigot 1.12.2

[2017-12-06 20:35] Pluginsel commented on #1444
@sgdc3 I understand the error, because the arguments of commands such as login and register exist, and this error occurs because I can not add an argument to it. How can I add as an argument?

[2017-12-06 20:41] ljacqu commented on #1444
The switch is wrong. You want to check for `startsWith` but instead by using a check you perform an equality check

[2017-12-06 20:44] Pluginsel commented on #1444
exactly what do i have to do?

[2017-12-06 22:12] SlipGoda commented on #1445
https://hastebin.com/zagehiqeya.md

[2017-12-07 05:46] ljacqu commented on #1445
They're the same messages. They don't ring a bell for me :/ Can you continue to play or is the database closed, as the messages would suggest?

[2017-12-07 06:17] sgdc3 commented on #1444
switch(message.substring(1).split(" ")[0])

[2017-12-07 14:45] SlipGoda commented on #1445
Thanks for answering))

[2017-12-07 16:04] Pluginsel commented on #1444
@sgdc3 Is worked, thanks. :)

[2017-12-07 19:11] ljacqu commented on #1442
Sorry for the late reply @sgdc3 , looks good! I think this isn't the first time we need to check if the server has shut down, so next time we have such  a case we should check if we can somehow make it more generic. But for now this is OK IMHO.

OK to close this issue?

[2017-12-07 19:36] sgdc3 commented on #1442
Ehm atm it doesn't sync the player data when the server is stopped, so if the player connects to another server he will spawn at the old location (if caching is enabled).

[2017-12-07 19:36] sgdc3 commented on #1442
Is that fine?

[2017-12-07 20:39] ljacqu commented on #1445
Unfortunately all hastebin links don't work for me anymore. Again my question: does the plugin actually work after, or is the connection to the database closed after those messages?

[2017-12-08 15:33] Pluginsel commented on #1435
@ljacqu Any results? I waiting this for 5.5 version because is important.

[2017-12-08 18:44] sgdc3 commented on #1435
Could you send us a timing report?

[2017-12-08 18:48] Pluginsel commented on #1444
@sgdc3 @ljacqu I have another question with the bukkit coding:
https://hastebin.com/zukunedinu.swift
I want the players to automatically transfer to the other server after logging in, I did this with the code I threw and it succeeded. But with AuthMe I get an error, if the player is not logged in and only uses the / login command to execute the command, it still passes the main lobby. I want you t

[2017-12-08 20:19] SuperJogosDBZ opened #1448 "API: Authme email integration"
I want to put a plugin that forces the player to register his email on the server, however to do this I need to see and check registered email, can you tell me how can I do this?

[2017-12-08 23:09] Dimatert9 commented on #1444
AuthMe allready has function to teleport player to another server after login/register. See 'hooks' section in config.
 You can not check this in PlayerCmdPreproccesEvent.

[2017-12-09 08:59] #1444 closed

[2017-12-09 09:13] Pluginsel opened #1449 "Count-Down support for commands.yml file commands."
Can you add count-down support for commands.yml file commands?

[code]

[2017-12-09 09:36] ljacqu commented on #1449
The first point is available in commands.yml. I don't understand the second item. Maybe you could describe what you're trying to achieve.

[2017-12-09 11:06] Pluginsel commented on #1449
@ljacqu
2) For example, I added the /rules command to commands.yml, and is ok. After player login and register, add the cooldown (wait 3 seconds) and after this, player is will use the /rules command.
İf player login:
   wait 3 seconds
      execute player command: /rules

[2017-12-09 11:11] #1046 closed

[2017-12-09 11:12] ljacqu commented on #1449
Thanks for the explanation. Relates to #1092 (just linking the issues together)

[2017-12-09 11:14] ljacqu commented on #1115
Duplicate of #1042

[2017-12-09 11:14] #1115 closed

[2017-12-09 11:17] ljacqu commented on #1042
If we solve this by implementing an optional delay, we can close #1449 as well.

[2017-12-09 11:19] ljacqu commented on #1448
This is covered by our email registration case.

In your config.yml:
[code]

[2017-12-09 18:33] SuperJogosDBZ commented on #1448
This is not what I wanted, I would like those who are already registered to register the email and not those who will still register. So I need a method to check if the game has registered email.

[2017-12-10 18:04] Pluginsel commented on #1435
@sgdc3 https://timings.spigotmc.org/?url=govosiceve

[2017-12-10 21:31] sgdc3 commented on #1435
@ljacqu What do you think?

[2017-12-11 15:27] Wrohi opened #1450 "How can i disable accounts_owned_self: message on log in?"
How can i disable accounts_owned_self: message on log in ?

[2017-12-11 16:52] Pluginsel commented on #1450
I think is from the config.

[2017-12-11 17:18] Wrohi commented on #1450
Can't find, can you show me the line ?

[2017-12-11 17:23] Wrohi commented on #1450
[code]

this one mayne ?

[2017-12-11 22:32] comonier opened #1451 "restriction hide chat : true does not work"
Version: AuthMeReloaded v5.4-SNAPSHOT (build: 1873)
Spigot: 1.8.8

The function does not work has 1 player logging staff account to stay reading the private chat of the staffs until the authentication time expires