[2016-05-15 15:11] Xephi commented on #709
Hi guy, we are not intented to let these messages fully customizable, they're actually only exist in part of inform players about authme commands

[2016-05-15 15:11] #709 closed

[2016-05-15 15:24] TheIntelloBox commented on #709
Hi, why ?

[2016-05-15 15:54] Xephi commented on #419
Can you please make some try with the latest devbuild please ?

[2016-05-15 16:19] tuanjr commented on #711
OK. Thanks :D

[2016-05-15 16:45] #711 closed

[2016-05-15 16:46] Xephi commented on #709
They'll be leave in english and hard coded as part of some "Copyright" and information for non-current language users :)

[2016-05-15 17:35] TheIntelloBox commented on #709
Oh ok. :( And nothing for "Use the command /authme help to view help"... This isn't a copyright.

[2016-05-16 00:00] Augustin37 commented on #708
Same problem here, I'm using build #964 where the Noteleport option is working. Since then it's broken.

[2016-05-16 00:42] ActimelPL commented on #708
I can confirm that, using #964 helps.

[2016-05-16 02:12] Blackyvk commented on #708
I thought it was me... i'm trying this on #1008 build and it's bugged, tried every option possible and I always get tpd to the spawn.

[2016-05-16 08:10] sgdc3 commented on #708
@NinXia Where is your noTeleport setting located? It should be in settings.restrictions.noTeleport

[2016-05-16 09:16] NinXia commented on #708
DataSource:
    # What type of database do you want to use?
    # Valid values: sqlite, mysql
    backend: 'SQLITE'
    # Enable database caching, should improve database performance
    caching: true
    # Database host address
    mySQLHost: '127.0.0.1'
    # Database port
    mySQLPort: '3306'
    # Username about Database Connection Infos
    mySQLUsername: 'authme'
    # Password about Databa

[2016-05-16 09:47] sgdc3 commented on #708
ok, anyway it's false not False

[2016-05-16 10:44] Jeje2201 opened #712 "Mistake in French translation of the 'Messages_fr.yml' file"
There is 2 time the word "connection" in the file, but in French it's "connexion" :)

[2016-05-16 10:58] NinXia commented on #708
?? i dont understand? it is okay or not okay?

[2016-05-16 11:13] Jeje2201 commented on #708
Same problem for me, never happened before the 5.2 beta 2 update

[2016-05-16 11:31] Augustin37 commented on #708
[code]
I don't think that this is only a syntax error; with this syntax, it don't work

[2016-05-16 11:54] Xephi commented on #712
Mouais les deux sont valides :( :')

[2016-05-16 12:21] Jeje2201 commented on #712
C'est ce que je me disais aussi :p Pourtant selon le wiki :+1:
"Graphie fautive de connexion, influencée par le verbe connecter et l’anglais connection."

[2016-05-16 12:29] Xephi commented on #712
Okok, bah y a moyen de changer, c'est pas très important :p

[2016-05-16 12:38] Jeje2201 commented on #712
Oui, je l'ai fais, mais c'était au cas où pour qu'il soit changé de base quand pour les prochains administrateurs de serveur fr :p
( je suis le gars qui t'as envoyé un mail il y a peu pour te féliciter du plugin :p )

[2016-05-16 14:32] sgdc3 commented on #419
@SmeXhy

[2016-05-16 15:53] ljacqu commented on #712
@Jeje2201 @Xephi J'avais justement quelques changements pour les messages français, "connection" -> "connexion" étant parmi eux :) J'utilise donc l'opportunité pour télécharger mes changements et je serais content si vous pourriez y jeter un coup d'oeil ^^

[2016-05-16 17:04] TheIntelloBox commented on #692
On 10 minutes, I must login 6 times !!!

[2016-05-16 21:24] sgdc3 commented on #692
Should have been fixed in the latest build, you can download it from our buildserver

[2016-05-17 06:49] WindofFreedom commented on #701
I can confirm that. If player have the permission "authme.admin.seeotheraccounts", he sees other accounts but with own nick, not the player who joined.

[2016-05-17 07:14] games647 opened #713 "[Dev discussion] Save UUID for mixed or online mode servers"
Since 1.8 owners of paid minecraft accounts can change their name. In offline mode the uuid is based on the case sensitive username. So if the users change their username they will lose their inventory, permissions and their AuthMe account. This might be irrelevant for servers which run completely in offline mode.

But what about mixed online mode and complete online mode? With plugins like AutoIn

[2016-05-17 09:58] TheIntelloBox commented on #701
Yes, you've right.

[2016-05-17 10:11] sgdc3 commented on #713
-1 UUIDs are a mess, and useless in Offline mode servers.

[2016-05-17 10:16] sgdc3 commented on #713
It would complicate the project without any relevant advantage

[2016-05-17 10:32] TheIntelloBox opened #714 "Error on 1.8.9 Using Java 8 (MAYBE) !"
[12:29:39] [Head Conversion Thread - 0/WARN]: Couldn't look up profile properties for com.mojang.authlib.GameProfile@823a805[id=fc667a43-abb6-424f-90f6-8a1295bb473f,name=TheIntelloBox,properties={},legacy=false]
com.mojang.authlib.exceptions.AuthenticationException: The client has sent too many requests within a certain amount of time
	at com.mojang.authlib.yggdrasil.YggdrasilAuthenticationService

[2016-05-17 10:37] games647 commented on #714
https://github.com/PaperMC/Paper/issues/128

[2016-05-17 12:46] #714 closed

[2016-05-17 13:39] rErEaT commented on #664
so nothing happend with this?:S

[2016-05-17 13:56] rErEaT commented on #674
but If u can create it for usernames, that would be nice also:)

[2016-05-17 15:48] ljacqu commented on #513
@sgdc3 Where do we remain with this?

[2016-05-17 17:15] ljacqu commented on #702
I will do this tomorrow

[2016-05-17 17:40] ljacqu commented on #695
Blocked by #707

[2016-05-17 22:38] sgdc3 commented on #674
@ljacqu @games647 in order to accomplish this we need a way to check the permission of an offline player with a certain nickname. Should we add it to the perm manager?

[2016-05-17 22:40] sgdc3 commented on #513
idk xD probably the current solution is the best one.

[2016-05-17 23:08] ReaperAngels commented on #419
OK. Found out some info the hard way. java 1.8.0_77 has a mysql (amongst others) bug, where it drops the database connection. I've updated to 1.8.0_91. I'm now on bungee, with 3 servers running on spigot 1.9.2 latest builds. I have not had the logout problem again. Not using authmebridge, just authme on a shared database. The database problem is still there on the new java. Better, but still not 1

[2016-05-18 04:02] ljacqu commented on #674
One question I have for this is how many perm managers support this.
There's a refactoring story for the perm manager that would go lovely with this btw, but it's a big one

[2016-05-18 04:06] ljacqu commented on #513
Then I would suggest we remove the execution from the pom -> one less plugin / execution we depend on. Whoever notices that docs are getting old can run the updateDocs task; there's one that should run all of the tasks ^^ What do you think, @sgdc3?

[2016-05-18 05:44] sgdc3 commented on #513
Just keep the plugin but remove the task.

[2016-05-18 05:53] sgdc3 commented on #674
almost every perm manager has a deprecated pre uuid method

[2016-05-18 10:36] ljacqu commented on #674
In that case - sounds good! Can I have until the weekend to do some refactoring on the perms manager? It's one huge block of code that needs to be structured a little. Seems like I can't interest anyone into refactoring it :P

[2016-05-18 10:44] ljacqu commented on #513
Assuming that this can be closed after 7229a8b02b850e38a51dd2d8963938c994cc16bf

[2016-05-18 10:46] ljacqu commented on #513
I closed too hastily; one improvement I can still do is making sure it runs the correct list of tasks

[2016-05-18 13:38] Melowelei opened #715 "Error"
I have this error :
ERROR 	[15:35:51] [Server thread/ERROR]: Cannot load plugins/AuthMe/config.yml
Caused by 	Caused by: org.yaml.snakeyaml.parser.ParserException: while parsing a block mapping
ERROR 	[15:35:51] [Server thread/ERROR]: Error occurred while enabling AuthMe v3.4 (Is it up to date?)

I have AuthmeBridge AuthMeBridge for BungeeCord 1.5 and AuthMe v3.4

And in my BungeeCord i don't have

[2016-05-18 15:58] sgdc3 commented on #715
We are not supporting AuthMe 3.4 anymore, but the error seems to be caused by a malformed config file.

[2016-05-18 15:58] #715 closed

[2016-05-18 20:37] ljacqu commented on #713
We don't save much data with accounts (pretty much: password, email, last seen date/IP and last location). I'm not really sure how much someone will benefit from being able to keep their last location, considering that name changes ought not to happen too often. But maybe you had something in mind besides that?

[2016-05-19 07:04] games647 commented on #713
I thought that premium users should have the same account even after they changed their username.
->Same password (So they don't need to reregister every time on name change)
->Same forum account
->Same lastlogin location
->No duplicates

I agree with these arguments. They are the big cons of this change.

[2016-05-19 09:01] sgdc3 commented on #713
@Xephi has to decide

[2016-05-19 09:02] sgdc3 commented on #713
In my opinion we should release a stable uuid free version of the plugin and then start working on a 1.9 only version in order to clean the project from complex compatibility hooks

[2016-05-19 09:10] games647 commented on #713
We would lose a lot of users then.

[2016-05-19 12:25] sgdc3 commented on #713
No i mean we should keep 2 branches, one pre 1.9 with only bugfixes and another 1.9+ with new cool features

[2016-05-19 12:31] ljacqu commented on #713
If we refactor a little the "legacy" stuff won't be in the way too much

[2016-05-19 19:45] ljacqu commented on #702
Done, please see Sha256.php in samples/, especially the `hash($password)` function.

[2016-05-19 20:04] ljacqu commented on #701
@TheIntelloBox @WindofFreedom Should be fixed; sorry for the long wait. If one of you could kindly verify that the bug is positively fixed we can close this issue.

[2016-05-19 20:06] ljacqu commented on #700
I can confirm this bug, noticed it myself today while testing other things. Not using sessions.

[2016-05-19 20:28] WindofFreedom commented on #701
@ljacqu thank you, i'm verify, bug is fixed! Please fix a bug with spawn location after relogged...

[2016-05-19 20:52] sgdc3 commented on #700
Very strange, maybe we should delay the first message...

[2016-05-19 21:27] sgdc3 commented on #700
Does it work now? @TheIntelloBox @Xephi

[2016-05-19 22:23] #701 closed

[2016-05-20 10:51] ljacqu opened #717 "Style the php integration sample"
Provide a little css to the form.php page in the sample web integration. Nothing big, just something to make it look a little better

[2016-05-20 14:03] sgdc3 commented on #708
Partial fix, still need to fix the PlayerSpawnEvent listener for 1.9 @games647

[2016-05-20 15:16] #513 closed

[2016-05-20 15:18] ljacqu commented on #673
@FunnyCraft Any news about this from your side?

[2016-05-20 19:49] ljacqu opened #718 "Translation interface - use json_encode(str, bool) instead of array cast"
This concerns the translation interface.

In update.php and likely elsewhere `json_decode($data)` is used to get the data, which then gets cast to an array. However, an array can be immediately retrieved by using `json_decode($data, true)`
http://php.net/manual/en/function.json-decode.php

[2016-05-21 11:43] sgdc3 opened #719 "[CRITICAL] Datasource resource leak"
Critical issue, needs to be fixed before anything else.

Original comments (a bit rude):
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6639
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6642
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6643
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6651
http://dev.bukkit.org/bukkit-plugins/authme

[2016-05-21 11:43] sgdc3 commented on #719
@Xephi @ljacqu @games647 @DNx5 @timvisee

[2016-05-21 11:51] sgdc3 commented on #719
Possible causes (please add them here):
- Wrong HikariCP usage
- HikariCP shouldn't be used in AuthMe
- Complex SQL Queries
- Complex SQL schema
- Wrong usage of Asynch tasks
- Something synch that blocks the main thread

[2016-05-21 11:52] sgdc3 commented on #719
It seems that chat spam is causing tps drop on the main thread (probably the cache isn't working as it should)

[2016-05-21 12:03] ljacqu commented on #719
What exactly is the issue?, how does it manifest itself? I don't understand the comment thread.

[2016-05-21 12:11] games647 commented on #719
My first part where he shows authme is authme 3.X. There was blocking SQL on the main thread.

Because of the high CPU Usage at the end (5.X), my guess is that it's about thread-creation. The threads are waiting on the MySQL instance to response while others will be created using Bukkit's cached pooled executor and the old ones cannot be reused because they are still waiting.

In order to analyze

[2016-05-21 12:22] sgdc3 commented on #719
Could you check my commit? It should avoid crashw with spambot.

[2016-05-21 12:23] ljacqu commented on #719
@games647 One thing, not sure if it relates, but are we sure all of those DataSource methods need to be `synchronized`? I feel like this should be something that the database already handles, no?

http://stackoverflow.com/questions/1346174/do-i-need-to-synchronize-if-i-have-multiple-threads-that-will-insert-to-mysql
http://stackoverflow.com/questions/1531073/is-java-sql-connection-thread-safe
http

[2016-05-21 12:43] games647 commented on #719
Good point. No they shouldn't be synchronized databases can handle that really good.

But they should lock (synchronize) if java accesses critical parts. Like non-thread-safe collections or race conditions. For example in SQL:

Same player, java conditional queries - pseudo code

if (sql.blue)
    set red

separate thread

if (sql.blue)
    set yellow

Then the value could be yellow although the f

[2016-05-21 13:00] ljacqu commented on #719
@games647 What do you suggest? Should we try to remove `synchronized` on the data source methods and run a stress test?

[2016-05-21 13:00] sgdc3 commented on #719
done on the 719 bransh

[2016-05-21 13:02] games647 commented on #719
It would really great if we have data like Java Flight Recordings. We would have info about where are the hot methods, how many threads are waiting (and where), and ...

[2016-05-21 13:04] sgdc3 commented on #719
There was an issue with HikaryCP, the pool size was dinamic instead of static, that was causing issue with multiple access to the MySql DB.

[2016-05-21 13:06] ljacqu commented on #719
@sgdc3 Thanks!

Can't say I'm very happy about 4d06b63 though, looking at the diff doesn't help to understand the changes because existing code was just commented out and new, similar code added. So now one has to scroll up and down to see the changes. Nice touch on using `event.getRecipients()` though! Just a shame it took me five minutes to understand that change :)...

[2016-05-21 13:08] sgdc3 commented on #719
@ljacqu lol, you know, from mobile it's hard to edit massive amount of code xD

[2016-05-21 13:43] ljacqu commented on #682
Changes in above commit have been undone—2edcb703c11ecd5fd9a31aba15f507322d76a456

So this needs to be looked at again.

[2016-05-21 15:54] sgdc3 commented on #719
Update:
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6667
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6668
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6670

[2016-05-21 16:06] sgdc3 commented on #719
Poor console thread!
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6672

[2016-05-21 16:13] sgdc3 commented on #719
I think that `dataSource.isAuthAvailable` is the main cause.

[2016-05-21 16:17] sgdc3 commented on #719
I guess what happens with `DataSource.caching: false`

[2016-05-21 17:15] Sitmobedaf commented on #719
1034.
Server with AuthMe: http://pastebin.com/hfirBAPC
During the attack, there was a strong pressure on the hard drive.

Without AuthMe: https://timings.spigotmc.org/?url=16567682

[2016-05-21 17:18] TheIntelloBox commented on #700
No. I tested it and had 2 messages 3 hours after.

[2016-05-21 18:15] sgdc3 commented on #719
@Sitmobedaf Mysql or Sqlite?

[2016-05-21 18:16] sgdc3 commented on #719
What's the value of the
DataSource.caching
setting? @Sitmobedaf

[2016-05-21 18:39] Sitmobedaf commented on #719
sgdc3?, caching: true. SQLite
It does not matter, SQLite or MySQL, they work the same way, if everything is configured correctly and have enough resources.
I'm on a notebook do not want to install the MySQL-server. While I see no reason, the problem lies elsewhere.
I now check with caching: false
10-20 minutes...

[2016-05-21 18:47] Sitmobedaf commented on #719
catching:false - all the same.
Hard disk load is 100% server crash just as quickly.

[2016-05-21 19:18] ljacqu commented on #719
@Sitmobedaf This is without Antibot, right? While you've discovered an important issue regarding our performance, it's important not to forget that we offer an antibot feature.

[2016-05-21 21:06] sgdc3 commented on #719
@ljacqu Yeah, but if we could do something better without it we should enhance it. ;)

[2016-05-21 21:09] sgdc3 commented on #719
The main issue is our caching system, it was an issue in authme since 3.X, now we need to fix it

[2016-05-21 21:10] sgdc3 commented on #719
The antibot should be an additional security layer, but the server should work fine also without crashing.

[2016-05-21 21:11] sgdc3 commented on #719
@games647 did you understand something about LogIt and how it handles the database caching?

[2016-05-21 21:12] sgdc3 commented on #719
Somehow we do more queries during the login process, we need to know the reason.

[2016-05-21 21:23] sgdc3 commented on #719
@Sitmobedaf could you join our chatroom on gitter? ;) https://gitter.im/Xephi/AuthMeReloaded

[2016-05-21 21:24] Sitmobedaf commented on #719
I'm going to try now...

[2016-05-22 00:02] Mabus13 commented on #419
I just try that build #1​03​0 21.05.2016 11:55

Problem random logout exist. =(((((((( Need play few minutes not more half hout and my oped char logouted. Not need be afk you can do anything, but that logot end all your doing. =((((((((

Please guys fix it!!!

p.s. also when i logout not always saved coords where i exit. Like 70%

[2016-05-22 06:59] games647 commented on #719
Could you make a "Java-Flight-Recording"? If you don't know how here is a step by step guide.

1. Start the server with authme using MySQL (one test with caching enabled and one without it)
2. Start Java Mission Control. It's located in here: JAVA_INSTALL_DIR/bin/jmc.exe
3. Right click on the server java process and click start flight recording
4. Select 2 Minutes and profiling for event settings

[2016-05-22 08:34] tommyraudy commented on #702
thanks, your hash working perfectly

[2016-05-22 08:54] ljacqu commented on #702
@tommyraudy, thanks for the feedback! Good luck with your webpage.

[2016-05-22 08:54] #702 closed

[2016-05-22 08:57] ljacqu commented on #719
@sgdc3 I don't know if I tested wrong, but the "hide chat" function didn't work for me anymore

[2016-05-22 09:00] sgdc3 commented on #719
uh, really?

[2016-05-22 09:01] sgdc3 commented on #719
I'll check later

[2016-05-22 09:32] sgdc3 commented on #719
@ljacqu i'm an idiot! I used a if instead of a while xD Thanks for the tix!

[2016-05-22 09:40] sgdc3 commented on #719
Does it work with less players per second? @Sitmobedaf

[2016-05-22 09:47] ljacqu commented on #719
@sgdc3 np, but I still think it doesn't work. I tested after my commit.

[2016-05-22 17:15] HollishKid commented on #700
Hello,
I can confirm this bug.
Using sessions.
Moreover I get kicked sometimes, claiming my login delay has expired (whilst I session logged in).

It even sometimes asks me to relog, eventhough I have been playing for a while.

[2016-05-22 17:44] #713 closed

[2016-05-22 18:19] TheIntelloBox commented on #700
Yes Hollish, I have the same bug.

[2016-05-22 19:36] HollishKid commented on #700
Maybe for extra info:

[2016-05-22 19:54] ljacqu commented on #700
Dang, thanks for the timing. Looks like our ProcessSyncPlayerLogin task is incredibly slow... I'm at a total loss as to why, though (teleportation? emitting an event?)

[2016-05-22 20:11] games647 commented on #700
@ljacqu

Maybe the packets, the call player.saveData() or bungee message sending

[2016-05-23 13:30] HollishKid commented on #700
What does this mean, is there anything I can / should do to prevent this ProcessSyncPlayerLogin from lagging?
It does not imply any teleportations, but does launch one or two events from another plugin (BetonQuest) which seems to have no problem handling them though ...

An what about the double messages?

[2016-05-23 18:54] sgdc3 commented on #719
@Xephi Should we merge the 719 branch?

[2016-05-23 19:56] Augustin37 commented on #708
Seems to work great now :D Thank you!

[2016-05-23 19:59] #708 closed

[2016-05-23 19:59] sgdc3 commented on #708
Thanks ;)

[2016-05-23 22:00] rErEaT opened #720 "Updated hungarian lang"
Add denied chat message #719

@foxi69/rErEaT

[messages_hu.zip](https://github.com/Xephi/AuthMeReloaded/files/278352/messages_hu.zip)

[2016-05-24 03:09] Eisenbahn opened #721 "easy dupping.."

[2016-05-24 03:11] Eisenbahn commented on #721
Simple get a friend, join the same time. There, two inventories. Then just open a chest, put it all you can, then the timeout will kick you. Everything placed in a chest, will keep there...

[2016-05-24 03:14] Eisenbahn commented on #721
Using the legacy 970 build (something like that) - but happens since older versions. java 7

[2016-05-24 05:25] ljacqu commented on #708
@sgdc3 Out of curiosity, do you manually remove the "bug" label or is it still happening automatically?

[2016-05-24 05:53] sgdc3 commented on #708
Automatically ;)

[2016-05-24 05:57] Eisenbahn commented on #721
Been exploring more this bug. Player cant connect if Player is online. But if both login with Player nickname, and one login, both can do whatever they way.

[2016-05-24 06:18] Eisenbahn commented on #721
https://snag.gy/Nk6aHm.jpg

[2016-05-24 06:35] Eisenbahn commented on #721
But if both login with Player nickname AT THE SAME TIME*

[2016-05-24 07:09] Eisenbahn commented on #721
and cauldron

[2016-05-24 08:15] ljacqu commented on #708
That's odd, i thought this issue was fixed from waffle.io :( Is it some app doing that?

[2016-05-24 09:00] sgdc3 commented on #708
waffle i think

[2016-05-24 09:13] ljacqu commented on #708
Do you remember from where you closed this issue?

[2016-05-24 09:44] sgdc3 commented on #708
From github.com

[2016-05-24 10:14] ljacqu commented on #708
I'll look into this, thanks for the info @sgdc3

[2016-05-24 11:51] rErEaT opened #722 "Players can write to the chat, no need to login!"
https://p1.picsto.re/z4D7i.png

everyone can see it!

latest build 1045

[2016-05-24 13:52] sgdc3 commented on #722
@rErEaT Should have been fixed ;)

[2016-05-24 13:55] sgdc3 commented on #720
Done, thank you ;)

[2016-05-24 14:09] rErEaT commented on #720
Oh sorry I found a little error in the lang :D

its my personal lang file for my server.
add this file please :)
[messages_hu.zip](https://github.com/Xephi/AuthMeReloaded/files/279682/messages_hu.zip)

sorry for this mistake :(

[2016-05-24 14:10] rErEaT commented on #722
Okay I check it :D

[2016-05-24 14:18] rErEaT commented on #722
verified!

its fixed!
https://p1.picsto.re/px3iJ.pngq

[2016-05-24 14:18] #722 closed

[2016-05-24 14:51] sgdc3 commented on #720
@rErEaT Done ;)

[2016-05-24 14:57] rErEaT commented on #720
thanks :)

[2016-05-24 16:31] ljacqu opened #723 "[Dev] Create provider for TimeoutTask and MessageTask"
When we create objects of TimeoutTask and MessageTask, we need to pass all of their dependencies by the constructor. This is clumsy as the instantiating classes (async processes) sometimes have certain dependencies for the sole purpose of passing them to those constructors.

Create some sort of service or provider class where one can simply pass the variable parameters (like player) and it will re

[2016-05-24 17:12] ljacqu opened #724 "[Dev] Test that injection classes have package-private constructor"
It's a custom to have classes with `@Inject` constructor or fields to have a package-private constructor (no "regular" instantiation by accident outside of the package; still possible to test inside of the package).

Create a unit test that goes through the classes and checks if they have `@Inject` fields or a constructor with `@Inject`. If so, verify that the class has only one package-private co

[2016-05-24 17:15] ljacqu opened #725 "[Dev] Cache injection method for frequently instantiated classes"
Classes instantiated with AuthMeServiceInitializer#newInstance are expected to be instantiated multiple times (as in PasswordSecurity). To find out the dependencies of a class (and how they are declared) we need to use reflections -- this is slow and should not be repeated unnecessarily.

Save the `Injection` object of a class when the `newInstance()` method is invoked and re-use that injection ob

[2016-05-24 18:43] Eisenbahn commented on #721
It was 973. Sorry for constant messaging

[2016-05-24 18:44] Eisenbahn commented on #721
Using the Legacy jar

[2016-05-24 20:26] sgdc3 commented on #721
Could you record a video, please? Probably it's an issue related to cauldron :/

[2016-05-24 23:35] Eisenbahn commented on #721
Well, kind of hard do this since i was not the one doing.

But not hard:
Both connect to the same server at the same time with the same name. If one of them login sucessfully, both could walk freely. So they can share same items in inventory dupping them :(

Maybe a check after a login for few seconds that check for two players with the same name? I noticed the name above its head is like Player,

[2016-05-25 10:36] Jeje2201 commented on #712
Tes corrections sont impeccables ! Je crois que je ne peux pas modifier ton fichier de traductions alors j'ajoute les idées là mais généralement en France on met un espace entre le dernier mot d'une phrase et le '!' ou '?' pour par exemple 'connecté!' -> 'connecté !'. Un autre ajout mineur met qui donne un peu plus de cense : '&a' au lieu de '&c' pour des messages de réussite, généralement le vert

[2016-05-25 11:10] Jeje2201 opened #726 "Wrong name of Update"
Mistake in the name of the update "CHanges 5.3 BETA 2" -> "Changes 5.2 BETA 2"
Screenshot :
![erreur text](https://cloud.githubusercontent.com/assets/19387127/15538046/fe7e3682-2279-11e6-8660-e95238cde7ba.jpg)

[2016-05-25 12:48] sgdc3 commented on #726
Thank you ;)

[2016-05-25 12:48] #726 closed

[2016-05-25 15:38] ljacqu commented on #712
@Jeje2201 Génial, merci beaucoup. Comme ça on a toujours un espace avant les point d'exclamations :) Et super pour avoir fait ça par le site, avec ça j'ai juste dû entrer le lien, merci bien :)

[2016-05-25 15:38] #712 closed

[2016-05-25 16:14] #704 closed

[2016-05-25 16:14] ljacqu commented on #611
Closing: no answer, assuming it was completed.

[2016-05-25 16:14] #611 closed

[2016-05-25 16:15] #707 closed

[2016-05-25 16:16] ljacqu commented on #621
@sgdc3 boop :)

[2016-05-25 17:05] EvilOlaf commented on #611
Sorry, missed that totally. Did not test anything there yet, maybe somewhen in the future.

[2016-05-25 17:25] ljacqu commented on #611
@EvilOlaf No worries! If something comes up, please feel free to reopen this or create a new issue :)

[2016-05-25 17:52] sgdc3 commented on #621
Whoops, done ;)

[2016-05-25 17:52] #621 closed

[2016-05-25 18:01] EvilOlaf commented on #611
Probably creating a new one as I do not have permission to reopen this ;)

[2016-05-25 18:03] sgdc3 commented on #611
Just tag me if you want to reopen ;) @sgdc3

[2016-05-25 18:11] EvilOlaf commented on #611
Will do <3

[2016-05-25 19:24] Dibro89 commented on #419
#1056 still not fixed.
Here's a part of my authme.log:
[05-25 22:04:55]: Debug: ADDED PLAYER TO CACHE dibro
[05-25 22:07:16]: Debug: REMOVE PLAYER dibro
[05-25 22:07:19]: Dibro logged in!
[05-25 22:07:19]: Debug: ADDED PLAYER TO CACHE dibro
[05-25 22:07:19]: Debug: REFRESH dibro

[2016-05-25 19:40] sgdc3 commented on #419
@Xephi Any idea?

[2016-05-25 23:01] sgdc3 commented on #540
placePlaywrSafely needs to be recoded.

[2016-05-25 23:02] sgdc3 commented on #540
whoops

[2016-05-26 12:23] ljacqu opened #727 "[Dev] Remove service from ExecutableCommand interface"
Refactor ProcessService class to be passed as Inject field like other classes; remove ProcessService from the ExecutableCommand interface.

Only add it as @Inject field when the service is actually used (most commands, but not all). Adjust unit tests -> my expectation there is that the service param just needs to be removed from the command method call. No larger adjustments should be necessary th

[2016-05-26 17:40] rErEaT commented on #674
so what happend? :D

[2016-05-26 21:03] rautamiekka opened #728 "5.2-SNAPSHOT1057-spigot error"
Spigot 1.9.4.

[code]

[2016-05-27 12:11] tuanjr opened #729 ""Force Spawn Location On Join" won't work on new build!"
in the past, When i use build 1004:
with setting like this: spawnPriority: 'essentials,authme,multiverse,default'
player always spawn on "Essentials's spawn" when join

But now, on Build 1053, player always spawn on "quit location"

        ForceSingleSession: true
        ForceSpawnLocOnJoin:
            # If enabled, every player will be teleported to the world spawnpoint
            # after suc

[2016-05-27 13:59] Jeje2201 opened #730 "Error Message in Console when players log on"
I'm not sure it's because of your plugin because there is no 'authme' in the error, but there is no name of any plugin and your plugin trigger when players log on, so I share you the error ( the error happen randomly when players log on, not all time ) :
[code]

[2016-05-27 19:05] ljacqu commented on #728
Does this always happen, or did it happen once? I can't reproduce this and don't have an explanation why it would happen for the NewAPI class; it's quite far down the initialization process so it seems very odd to me that it would fail.

[2016-05-28 12:22] tuanjr opened #731 "Problems with sessions when use authme on multiple Lobbys (hubs)"
What steps will reproduce the problem?
1. Network has a lobby, with Authme installed, session enable: false. Everything work fine
2.  copy this lobby to new, so network has 2 lobby to get rondom player to lobbys
3. Now i enter network, bungeecord send me in to random lobby, i'm login /login, and enter server to player.
4. After play, i'm quit minecraft, go to bed
5. Some one enter network with my

[2016-05-28 13:46] rErEaT opened #732 "Server crash!"
I found authme in the crash report. I dont know what does it mean.
I just hope you can help me to resolve this error!

http://pastebin.com/GfKwA7nA

http://pastebin.com/svVREN9C

I dont know what caused this crash, someone said authme so I report it here.

Plugins list:
Plugins (44): WorldEdit, SimpleTrading, TitleMotd, PlaceholderAPI, AnimatedNames, ChatControl, ActionHealth, ProtocolLib, NoCheat

[2016-05-28 18:37] ljacqu commented on #730
Is there anything that suggest that this relates to AuthMe? As you say the stacktrace doesn't suggest that. Maybe you have more information about this now, or you've noticed a certain pattern when this occurs.

[2016-05-28 19:10] Jeje2201 commented on #730
Because it's when players logon, and your plugin is only for players who log on, but can be any other plugin yes. No I don't have more info about I waited your answer to know if you knew it was a bug of authme or no. I will try to move the plugin, log on many time with different account and check if it still happen without the plugin, I update this comment in 4h to answer

[2016-05-28 19:16] ljacqu commented on #730
Thanks @Jeje2201, this is the first report we're getting so not sure if AuthMe is causing it. The server itself (and indeed, the stacktrace has a lot of `net.minecraft.server` going on) has to deal with an incoming connection; I wonder if some server implementation has some bug causing this, rather than a plugin.
In any case, looking forward to your update

[2016-05-28 21:41] rautamiekka commented on #728
It's happened once, during bootup. Do you want a log ?

[2016-05-29 07:34] ljacqu commented on #728
So only one single time? Log is surely interesting. I really can't tell you why it happened, though. The error doesn't make sense to me

[2016-05-29 15:14] sgdc3 commented on #568
@ljacqu Could you give it a quick look?

[2016-05-29 15:26] ljacqu commented on #568
@sgdc3 Yep, this issue requires the following points to be done:

1. `Object obj = getShooter.invoke(null);` should be replaced with
`Object obj = getShooter.invoke(projectile);`
  * (but please do take a moment to check that it makes sense)

2. Replace the `catch (Exception e)` clause with something a little more specific
  * as elsewhere we have combined catches, e.g. `catch (IllegalInvocationEx

[2016-05-29 15:27] sgdc3 commented on #568
@ljacqu Thank you ;)

[2016-05-29 15:28] ljacqu commented on #568
@sgdc3 Thanks for taking this over :) We'll have one less debt in our code.

[2016-05-29 15:41] sgdc3 commented on #732
It seems to be caused by other plugins..

[2016-05-29 15:42] sgdc3 commented on #732
@ljacqu what do you think about this?

[2016-05-29 15:42] rErEaT commented on #732
do you know what is that plugin?

[2016-05-29 15:46] games647 commented on #732
It's a sqlite driver issue

# Java VM: OpenJDK 64-Bit Server VM (25.91-b14 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# C  [sqlite-3.7.2-libsqlitejdbc.so+0x38c29]  sqlite3_reset+0x13

[2016-05-29 15:47] sgdc3 commented on #732
Lol GG markdown!

[2016-05-29 15:48] rErEaT commented on #732
host error or server?

[2016-05-29 15:49] sgdc3 commented on #732
@rErEaT What's yout spigot version?

[2016-05-29 15:50] rErEaT commented on #732
29.05 17:50:24 [Server] INFO This server is running CraftBukkit version git-Spigot-e000104-4cb3258 (MC: 1.9.2) (Implementing API version 1.9.2-R0.1-SNAPSHOT)

[2016-05-29 15:56] sgdc3 commented on #732
@games647 Could it be caused by our "damn synchronous, go away!" commits? xD

[2016-05-29 16:01] sgdc3 commented on #731
Could you post your authme config + your spigot.yml + your bungeecord config(remove any ip, just keep the options section) please? ;)

[2016-05-29 16:01] games647 commented on #732
@sgdc3 SQLite claims a file lock. So SQLite should be thread-safe. I'd rather think that there is a bug in the driver.

[2016-05-29 16:01] sgdc3 commented on #731
P.S: what's your authme build/version?

[2016-05-29 16:07] sgdc3 commented on #732
@rErEaT Not our fault, sorry, try to update your server version.

[2016-05-29 16:07] #732 closed

[2016-05-29 16:18] rErEaT commented on #732
so the error is maybe in the spigot version?

[2016-05-29 16:32] sgdc3 commented on #732
Yeah

[2016-05-29 16:33] cyberpwnn commented on #732
# JRE version: **OpenJDK** Runtime Environment (8.0_91-b14) (build 1.8.0_91-b14)

[2016-05-29 16:42] DNx5 commented on #700
@HollishKid you take the timings sample too long. you could do 5-10 minutes timings for better result, as you could see another plugins you have seems "to weigh very heavily on server performances" like you said.

[2016-05-29 17:26] rautamiekka commented on #728
[code]

[2016-05-29 17:43] ljacqu commented on #728
if this only happened once, i don't know what happened. if this keeps happening, please upgrade to the latest build and let's hope it's gone
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-05-29 18:13] ljacqu commented on #728
Hi @rautamiekka, that's exactly the purpose of Jenkins—every time we push to master it builds the project anew. CI in ci.xephi.fr stands for "continuous integration" ;) Builds are not to be confused with releases.

[2016-05-29 18:14] rautamiekka commented on #728
Yes I knew that.

[2016-05-29 18:30] tuanjr commented on #731
This is bungeecord config: http://paste.ubuntu.com/16816331/
This is spigot.yml http://paste.ubuntu.com/16816384/
This ir Authme config:  http://paste.ubuntu.com/16816480/
Authme versions: same issues on "AuthMe-5.2-SNAPSHOT-legacy-build1004.jar" and "AuthMe-5.2-SNAPSHOT-legacy-1053.jar"

[2016-05-29 18:51] sgdc3 commented on #731
@tuanjr Everything seems ok, let me check the code again...

[2016-05-29 19:29] sgdc3 commented on #411
Concept:
[code]

[2016-05-29 20:13] tuanjr commented on #731
I'm just test again, so i will explain more:
example network
|
|- hub 1 (authme installed)
|-hub 2 (authme installed)
|-factions 1
|-factions 2

1. player join network, bungee send player to hub 1 (or hub 2), player /login
2. player quit network
3. player join again, if bungeecord send player to hub 1 (or hub 2), so player must /login again, but if bungeecord send player to hub 2 (or hub 1), /auth

[2016-05-30 00:55] Jeje2201 commented on #730
Hum... I really don't know, I changed many configs in authe / chat control / essentials / at the same time and look like the issue do not happen again, so I think you can change the labels of this issue as you want to, but the error is gone ( for now ) and if it's happen again, I don't think it will happen because of your plugin, Thanks ;)

[2016-05-30 05:51] #612 closed

[2016-05-30 06:01] ljacqu commented on #730
Thanks for the update, @Jeje2201; I suggest we close it for now and if there are suspicions again that AuthMe is the cause please let us know and we'll have a closer look :)

[2016-05-30 07:29] Jeje2201 commented on #730
Hi, suspiscions again.. hehe.. Nothing happened with my real account and a crack version, I tried to login more than 10 time with the 2 account in different way with your plugin enable, no error, this morning I checked the console, it happened with other players, [here](http://prntscr.com/ba2ypq)

[2016-05-30 08:36] ljacqu commented on #730
Interesting, thanks for the log. Not sure what we can do, but reopening for the moment.

[2016-05-30 09:18] rErEaT commented on #730
I think you are using the SkinsRestorer.

Thats the source of problem but ignore this error if its really happen only with skinsrestorer

[2016-05-30 09:19] rErEaT commented on #729
confirm ! its bad noew!

[2016-05-30 09:28] ljacqu commented on #730
@games647 Do you know of any issue like this?

[2016-05-30 10:32] games647 commented on #730
@ljacqu
It could be an async kick or teleport. I think it's an async teleport.

[2016-05-30 10:38] Jeje2201 commented on #730
Yes @rErEaT , I use SkinRestorer. It can be the cause of the problem right cause some players use skin and it show, for some other I set it, etc.. I can ask on the gituhb of skinrestorer if it because of his plugin.
@games647 I don't kick player to get this issue, only happen when they log in. How can I check if it's async ? Is this async teleport on your plugin too ? Or on other plugins ?

[2016-05-30 10:56] games647 commented on #730
@Jeje2201 Yes I think that's the cause. Try to remove that plugin and tell us if the problem still exists.

Dev explanation:
In Minecraft 1.9 teleport network packets contain a teleport id which the client can accept. This id has 0 as initial value and will increased on every teleport through the Bukkit API.

--> First teleport, 1 - Second teleport 2....

SkinRestorer sends raw teleport packets wi

[2016-05-30 11:58] timvisee commented on #411
Sounds like a cool feature. But what about a more object oriented notation. That eliminates the need of nodes such as `commandsAsConsole` which is quite long.

[code]

First, I've called the based node `commands`, this should be called something different. `actions` might be better, especially later on when more features are added.

So, to explain what I've done: I've branched out all events on th

[2016-05-30 13:48] sgdc3 commented on #411
@timvisee You're right, what do you think about the loop idea?

[2016-05-30 13:56] Jeje2201 commented on #730
You are all Gods ! :') Thanks @rErEaT for finding first the plugin who caused this error. Thanks @ljacq to bring here @games647 here and thanks @games647 for giving me an really extremly complait explenation ! You are all awesome, I will move this error to the other github of skinrestorer, thanks you all <3 I removed the plugin, no more error, with 20 different player with 20 different account, re

[2016-05-30 13:58] rErEaT commented on #730
wont fixed this error in skinsrestorer btw

https://github.com/Th3Tr0LLeR/SkinsRestorer---Maro/issues/24

[2016-05-30 14:08] Jeje2201 commented on #730
Wow, this is exactly what I was looking for, we can close this issue, I wil move on the new one you sent me, thanks @rErEaT, @ljacq  and @games647

[2016-05-30 14:24] Jeje2201 commented on #730
Issue here close. Thanks all.

[2016-05-30 14:24] #730 closed

[2016-05-30 14:26] sgdc3 commented on #730
Thank you ;)

[2016-05-30 14:35] ljacqu commented on #411
I like your version @timvisee in that each command is represented as its own sub-branch, which makes it easier to extend it later with more commands like `worlds` (as you've mentioned).

Each command having its own name might be initially confusing to the user (where do those names come from? what names can i use?) but I can't think of anything better. It also has the obvious advantages that it pr

[2016-05-30 14:42] timvisee commented on #411
@sgdc3 Oh yes, of course, forgot to mention that. I really like the idea, it allows administration to do so much more when needed.

About the implementation. Your example shows some custom for loops, in the same string. The problem with this is that you'd need to build your own interpreter, which executes for-loop-like-statements, and of course, the command itself. Like I've sorta mentioned in my

[2016-05-30 14:47] #568 closed

[2016-05-30 14:57] timvisee commented on #411
@ljacqu Good to hear!

First, about the on prefix: I was just giving a suggestion. And you're right that `on` implies that you're working with an event like system. I'm sure that the prefix is beneficial for administrators that don't often use features like this, so, yes: implement the prefix!

Indeed, the command name can be a little weird since it isn't really visible to the user, it's just ther

[2016-05-30 15:08] ljacqu opened #733 "Unlogged player can't throw snowballs but loses the item"
In the entity listener there is a method that is supposed to deny the throwing of snowballs (and similar). If a player who is not logged in tries to throw a snowball it will not be thrown, but the item will be taken from his inventory anyway.

This is a continuation of #568 (created a new issue because part of it was solved + there was a long comment thread)

[2016-05-30 15:18] ljacqu commented on #411
@timvisee I'm very much in favor of named commands—now even more so :smile: Just thinking aloud that it might be a little confusing for a user on first sight. Those object lists... *shudders* :stuck_out_tongue_closed_eyes:

[2016-05-30 16:10] sgdc3 commented on #411
At this point we can just add Skript support. :)

[2016-05-30 16:10] sgdc3 commented on #411
or JavaScript

[2016-05-30 16:41] timvisee commented on #411
@sgdc3 Skript however, is less commonly used, isn't it? Also, does it allow all the necessary features to support command-scripting?

I don't think JavaScript is too useful. It requires a runtime like V8 which is huge, bulky, and hard to implement, especially in Java (as far as I know).

[2016-05-30 16:59] sgdc3 commented on #411
@timvisee skript is used a lot but his development seems stopped.

[2016-05-30 17:01] sgdc3 commented on #411
Not official but still active: https://github.com/bensku/Skript

[2016-05-30 17:51] timvisee commented on #411
@sgdc3 Hmm. We shouldn't use libraries that aren't actively maintaned anymore. That will end up in us having to do much more work fixing all issues in the library.

If the fork you've linked is actively maintaned, and will be the upcoming year (or whatever), sure. That would be an option!

[2016-05-30 18:02] #602 closed

[2016-05-30 18:19] timvisee commented on #606
I've developed the command handling and permissions part.

General permissions (non-command permissions) should be checked through the permissions manager.

For commands, you could do the same. That would require you to write a lot of boilerplate code, the command manager integrates the permission check so you don't have to do it manually. The command manager also allows players to see whether the

[2016-05-30 18:23] ljacqu commented on #606
@Gnat008

In `CommandInitializer` we build `CommandDescription` objects. Those contain all the metadata of our commands (how can I access it? how many arguments can it have?) including what permission is necessary in order to execute the command — you'll find a permissions field.

This permissions field holds a `CommandPermissions` class. It's not much more than a container with a list of permissi

[2016-05-30 18:29] timvisee commented on #314
This sounds like a good idea.

Initially, the permissions manager was ment to be a single class/file that could be included. It has become quite bloated though.

Generalizing everything sounds good. An abstract adapter base class, with permissions-specific adapters extending the base would do the trick.

I do think however, that it would be good to leave all methods regarding permission checking,

[2016-05-30 18:45] timvisee commented on #606
@ljacqu Yes, I think it does.

To be honest, I don't know about the `CommandInitializer` and `PlayerPermission` classes. That has been done by someone else, after my work, haha.

Implementing the default permissions in the permission enum's themselve sound logical. Thus I would fully agree with that improvement.

About the last part. Do you mean that you'd like to replace the `CommandPermissions`

[2016-05-30 18:48] sgdc3 commented on #732
@rErEaT

[2016-05-30 18:57] rErEaT commented on #732
okay, I will ask my host.

@sgdc3 can we speak at skype? :D

[2016-05-30 18:57] ljacqu commented on #314
@timvisee The permission manager is tackling two problems:
- management of permissions systems (what permission system is active? did it disable?)
- speaking with the permissions system (using the API of whatever permission system we're hooked in)

These two things need some form of separation. I totally agree with you that from the outside, I need to be able to use one class and just be able to d

[2016-05-30 18:59] ljacqu commented on #606
@timvisee Thanks for the feedback!

To the points you mention – I created the `CommandInitializer` (it's a separation of the command handling class, again an issue of a class worrying about too many problems). It just builds all of the `CommandDescription` objects. I created a Wiki page about our [command handling](https://github.com/AuthMe-Team/AuthMeReloaded/wiki/Command-Handling), though the co

[2016-05-30 19:17] ljacqu commented on #314
NB: Following the comment thread, the PermissionsService interface needs to be deleted. It's not used anywhere yet and was added back in December half-heartedly.

[2016-05-30 20:24] ljacqu opened #734 "AsyncPreLoginEvent fired even for wrong credentials"
The AuthMeAsyncPreLoginEvent is fired even when a user does a `/login` with invalid password, but the Javadoc claims that we only emit the event when correct credentials have been supplied.

Either the event needs to be fixed that it is only emitted upon receiving correct credentials (better), or the Javadocs need to be adapted (less good).

[2016-05-31 01:53] Xogren17 opened #735 "Inventory loss"
Hello such,
I have a server and e tinido several faults with normal people plugin mind automatically deletes them plugin anyone knows how to find the fault? my sv is 1. 9 and have the plugin to the 1. 8 is not whether that influence it in something
In spanish:
Hola que tal,
tengo un servidor y e tinido varios fallos con el plugin normal mente a las personas les borra automáticamente el plugin algu

[2016-05-31 02:03] DNx5 commented on #735
what is your Authme version?

[2016-05-31 02:06] Xogren17 commented on #735
5.0-beta3

[2016-05-31 02:55] DNx5 commented on #735
update it,
http://ci.xephi.fr/job/AuthMeReloaded/1069/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar

[2016-05-31 03:14] Xogren17 commented on #735
Thank you and if you keep going the mistake you could do in that case?

[2016-05-31 03:22] DNx5 commented on #735
people should stop using 5.0
@sgdc3

[2016-05-31 07:24] #606 closed

[2016-05-31 07:56] sgdc3 commented on #732
I'm a little busy atm, i'll bee available this weekend ;) @rErEaT

[2016-05-31 08:03] rErEaT commented on #732
Okay thanks a lot, hope we can speak a bit there :D

[2016-05-31 08:09] rErEaT commented on #720
http://www119.zippyshare.com/v/qtjCW5Ll/file.html

I updated again the Hungarian lang file with the following strings: denied_command, same_ip_online :)

[2016-05-31 08:41] rErEaT commented on #720
well, thanks for update:)

[2016-05-31 09:06] sgdc3 commented on #720
done ;)

[2016-05-31 09:11] ljacqu opened #736 "[Dev] Remove service getters on AuthMe class"
Services shouldn't be retrieved from the `AuthMe` instance (and conversely, `AuthMe` shouldn't have to keep track of several services for the sake of implementing a getter).

The goal is to remove those getters (e.g. `getDataSource()`) from AuthMe. This requires two things:
- the `NewAPI(AuthMe)` constructor is probably good to keep like that -> need to find a way to pass the remaining services (g

[2016-05-31 12:47] #735 closed

[2016-05-31 12:53] #490 closed

[2016-05-31 13:22] sgdc3 commented on #735
@DNx5 They download it from the spigot page, only @Xephi owns it.

[2016-05-31 14:00] #718 closed

[2016-06-01 10:00] ljacqu opened #737 "Javadocs generation down"
http://ci.xephi.fr/job/AuthMeReloaded/javadoc/ doesn't seem to work. @sgdc3 Could I ask you to look into it? I haven't found any probable cause

[2016-06-01 11:23] SliderKP opened #738 "i'm getting this error"
[code]

[2016-06-01 12:10] ljacqu commented on #738
@SliderKP Thanks for the error report, this should be fixed from build nr. 1075 and upwards. http://ci.xephi.fr/job/AuthMeReloaded/ I look forward to your feedback.

@games647 Can I ask you to review the code change? I'm not entirely sure if this is OK with the bytecode, but I would assume so. Related to #568

[2016-06-01 12:51] SliderKP commented on #738
another problem? i using build 1075

`01.06 08:50:02 [Server] INFO [AuthMe] Database has been purged correctly
01.06 08:50:02 [Server] INFO [AuthMe] AutoPurge Finished!
01.06 08:50:02 [Server] WARN java.net.ConnectException: Connection refused
01.06 08:50:02 [Server] WARN at java.net.PlainSocketImpl.socketConnect(Native Method)
01.06 08:50:02 [Server] WARN at java.net.AbstractPlainSocketImpl.doCon

[2016-06-01 12:54] ljacqu commented on #738
Is this the full error? Did it happen once or does it keep happening? I think it's unrelated to this issue, and maybe even unrelated to AuthMe (hard to tell without a description)

[2016-06-01 12:58] ljacqu commented on #405
@GabrielTK If this is still relevant, I've actually created a small demo plugin that hooks into AuthMe. https://github.com/ljacqu/AuthMe_integration_demo

[2016-06-01 12:59] SliderKP commented on #738
when the server is opening maybe is not authme error, the old error is fixed, thanks

[2016-06-01 13:01] games647 commented on #738
It doesn't look like AuthMe:

[2016-06-01 14:19] ljacqu commented on #737
It's something with the main page; all the subpages it displays in frames are fine, e.g. http://ci.xephi.fr/job/AuthMeReloaded/javadoc/fr/xephi/authme/api/NewAPI.html

[2016-06-01 14:34] games647 commented on #419
Thank you for the log. @Dibro89

Looks like the player is explicitly removed from the local data set.

[2016-06-01 15:41] #738 closed

[2016-06-01 16:17] ljacqu commented on #738
@games647 So bytecode is fine?

[2016-06-01 16:46] games647 commented on #738
Yes

[2016-06-01 16:55] ljacqu commented on #738
Thanks

[2016-06-01 19:30] DNx5 commented on #737
looks like the frame is blocked by Chrome.

[2016-06-01 21:37] ljacqu opened #739 "PermissionsManager clean up (various collection)"
Some points of improvement in the PermissionsManager:

- `onPluginEnable(PluginEnableEvent event)` and `onPluginDisable(PluginDisableEvent event)` really only make use of the plugin name -> could be changed to receiving a `String pluginName` instead. (Clearer to the reader that this really only depends on the name.) We already extract the name in the listener anyway that invokes those commands

-

[2016-06-01 21:50] Gnat008 commented on #739
If you could write the unit tests, that would be awesome, since I don't know how to do them yet.

[2016-06-01 22:01] ljacqu commented on #739
I'm working on them, and you will have quite some work for the `hasPermission` point :) I had to `@Ignore` most of them

[2016-06-01 23:18] sgdc3 commented on #737
wtf? D:

[2016-06-02 00:51] Kixot14 opened #740 "What's the difference"
What's the difference in this 3 type of builds ??
http://image.prntscr.com/image/0f313b2f335c4e60b2df4894b5298d74.png

[2016-06-02 01:01] Kixot14 commented on #740
If i have spigot, i need spigot, yeah ?

[2016-06-02 01:17] Dooleylabs commented on #456
Any luck disabling all checks in the config? As of build 1082, I'm still added to the unLoggedIn group and denied access to commands. Maybe I'm doing something wrong?

[2016-06-02 01:35] Kixot14 commented on #740
What mean that WARN ?? http://pastebin.com/LBVVk0Dr
i had it, when try to stop the server

AuthMe: build 1082 (snapshot-Spigot)
Spigot: build 847

[2016-06-02 01:47] Kixot14 commented on #740
With **AuthMe 5.2-BETA2-b969** no that warning

[2016-06-02 04:01] DNx5 commented on #740
https://github.com/AuthMe-Team/AuthMeReloaded/wiki/AuthMe-Releases-(Jenkins)

[2016-06-02 04:09] DNx5 commented on #740
about that warn, latest build fixed that.

[2016-06-02 10:42] SuaWez opened #741 "Server freeze on stop"
Everytime I stop the server, it freezes and the only way to close it is by killing the process.

Thats what I get until it freezes:

`[12:38:16 INFO]: [AuthMe] Async task 42 times out after to many tries
[12:38:16 INFO]: [AuthMe] Progress: 1 / 1
[12:38:16 WARN]: [AuthMe-DataSource#close] INFO fr.xephi.authme.libs.hikari.pool
.HikariPool - AuthMeMYSQLPool - Close initiated...
[12:38:16 WARN]: [Auth

[2016-06-02 10:52] SuaWez commented on #741
Fixed

[2016-06-02 10:52] #741 closed

[2016-06-02 11:44] #740 closed

[2016-06-02 12:43] ljacqu opened #742 "[Dev] Test: CommandDescription objects and plugin.yml must correspond"
The labels in parent `CommandDescription` objects (e.g. for /authme or /register) must also be present in the project's plugin.yml or they won't be picked up by Bukkit. Create a unit test that verifies this.

plugin.yml can be loaded with Bukkit's `YamlConfiguration`. The first-level key under `commands` is the main label and the rest is under `aliases`; the labels of a CommandDescription should h

[2016-06-02 13:00] ljacqu commented on #742
Aye, I typed out a whole background to this before I realized that it requires mocking the injector. Never mind

[2016-06-02 13:53] ljacqu commented on #742
@sgdc3 Can I ask you to review my changes? I removed `/mail` as alias for `/email` because it's used by Essentials.

[2016-06-02 21:25] #739 closed

[2016-06-02 21:26] #314 closed

[2016-06-02 22:10] sgdc3 commented on #742
@ljacqu Good catch ;)

[2016-06-02 22:12] #742 closed

[2016-06-02 22:33] sgdc3 commented on #737
Just security policies https://wiki.jenkins-ci.org/display/JENKINS/Configuring+Content+Security+Policy

[2016-06-02 22:38] sgdc3 commented on #737
Ok, doing some jenkins maintenance ;)

[2016-06-02 22:46] sgdc3 commented on #737
Here we are: http://ci.xephi.fr/job/AuthMeReloaded/javadoc/

[2016-06-02 22:55] sgdc3 commented on #734
I think it should run before the auth check, this is the right purpose of the event and of it's canLogin attribute

[2016-06-02 22:55] sgdc3 commented on #734
@ljacqu

[2016-06-02 23:21] sgdc3 commented on #731
@tuanjr "should" have been fixed

[2016-06-02 23:22] sgdc3 commented on #731
@ljacqu we have too may login/logout paths (via session, via command, by quit event, etc....) we need to have a common join/login/logout/quit/session process

[2016-06-02 23:23] sgdc3 commented on #731
@DNx5 @games647 @gnat008 @timvisee @Xephi

[2016-06-03 01:26] Kixot14 opened #743 "Little issue with wrong message"
If you try to register, and wrote 2 same(matching) password with unsupported characters (Cyrillic, for example), it take the same messege as when passwords don't match. (From 'password_error' line)

But must be something like "password_character_unsupported: You try to use unsupported characters, please enter something another..." line.

AuthMe #1087

[2016-06-03 03:17] Kixot14 opened #744 "IP limit trouble"
Looks like **maxRegPerIp** (like a login limit) don't work on **AuthMe build #1087**. I set all this values to **1**, and easy registered and logged in 1-st, 2-nd, and 3-rd accounts (without OP and with only one **authme.player.*** permission).

_Spigot build #847_

[2016-06-03 03:31] Kixot14 commented on #744
**AuthMe 5.2-BETA2 [build #969]** contain the same trouble.

[2016-06-03 04:00] Kixot14 commented on #744
Lol, maybe it don't work, because i test this on local server ?? :/

[2016-06-03 06:24] timvisee commented on #731
Wow, the hacks should are falling quickly too!

@sgdc3 I might take a look into this, if someone hasn't before when I'm starting. I'm talking about the common authentication interface by the way.

[2016-06-03 08:52] sgdc3 commented on #731
Yeah that should allow us to fix tons of issues

[2016-06-03 09:11] sgdc3 commented on #744
Yeah localhost is the reason, it should work with normal IPs ;)

[2016-06-03 09:12] ljacqu commented on #734
The thing is it's a little odd if I can listen to the event and set  `canLogin(true)`  and then the user still cannot log in (because wrong password). But you're right, it's a `PreLoginEvent`, so for me this is fine. After all, t's been like this for ages and no one has brought it up.
Thanks for fixing the Javadoc!

[2016-06-03 09:12] #734 closed

[2016-06-03 09:13] ljacqu commented on #736
@sgdc3 ?

[2016-06-03 09:15] ljacqu commented on #737
problem remains, both on firefox and chrome

[2016-06-03 09:17] sgdc3 commented on #737
Just press ctrl + f5 xD

[2016-06-03 09:18] ljacqu commented on #737
Is it working on your end? It's really not working on mine.
Just tried on mobile, same. And I never opened the page there before.

[2016-06-03 10:08] sgdc3 commented on #737
yeah, someone restarted jenkins and the change was reverted

[2016-06-03 10:09] sgdc3 commented on #737
we need to add a parameter to jenkins's starting arguments

[2016-06-03 10:09] sgdc3 commented on #737
Just sent an email to @Xephi ;)

[2016-06-03 10:14] ljacqu commented on #737
Thanks @sgdc3! :smiley_cat:

[2016-06-03 10:54] ljacqu commented on #743
Ended up being a little more painful than anticipated :P But now done and available in build nr. 1091 and upwards :) http://ci.xephi.fr/job/AuthMeReloaded/

[2016-06-03 12:36] games647 commented on #419
Users who still have this issue, should try a build above # 1078 and activate debug logging in the spigot configuration. It would print a stacktrace of every cache modification, so it could be quite spamy.

[2016-06-03 15:45] tuanjr commented on #731
@sgdc3 i will try new build and report.

[2016-06-03 19:28] Kixot14 commented on #743
works fine in build 1093. Thank!

[2016-06-03 19:34] ljacqu commented on #743
Thanks for the feedback!

[2016-06-03 19:34] #743 closed

[2016-06-03 20:06] #737 closed

[2016-06-03 20:08] ljacqu commented on #744
To elaborate, when you run the server on localhost and join the server on the same computer the IP address will be 127.0.0.1. We specifically exclude checks like IP limit for IP address 127.0.0.1.

[2016-06-03 20:47] #601 closed

[2016-06-03 20:49] #744 closed

[2016-06-03 21:56] ljacqu commented on #727
Refactoring was trivial but now the plugin won't start up as there's a cyclic dependency (and the injector doesn't notice it)
Here is the dependency graph (where all our commands are summarized as ExecutableCommand)
![graph](https://cloud.githubusercontent.com/assets/8417009/15793702/0a3f1ea0-29e6-11e6-8260-2f47165c3bc7.png)

So from the graph you can see that the first thing we can initialize is

[2016-06-03 22:08] ljacqu commented on #727
I generally don't like the fact that CommandInitializer takes the injector and creates all of the ExecutableCommand objects. I'd much rather like a Class field on CommandDescription that just specifies which class implements the CommandDescription object.
But at the same time I really like that we can get a CommandDescription object in CommandHandler and then just `.getExecutableCommand()` on it a

[2016-06-03 23:38] Kixot14 opened #745 "login message when need solve captcha"
Can you remove spam from login msg at the time, when need enter the captcha ??

[2016-06-03 23:55] Kixot14 opened #746 "What mean that warn ??"
That happens, when authme kick players cause login time is expire

**[02:42:30 WARN]: handleDisconnection() called twice**

AuthMe build: #1093
Spigot build: #847

[2016-06-04 00:06] rErEaT commented on #720
[messages_hu.zip](https://github.com/Xephi/AuthMeReloaded/files/298573/messages_hu.zip)

Updated with "password_error_chars" string :)

[2016-06-04 00:16] Kixot14 opened #747 "Captcha bug return"
Looks like this don't fixed https://github.com/Xephi/AuthMeReloaded/issues/322

If **maxLoginTry = 5**, i can 5 times enter the wrong password, and then i have last 6-th try, after which AuthMe show me captcha. But this 6-th try will be always wrong for AuthMe, even if password correct!

AuthMe build: #1093
Spigot build: #847

[2016-06-04 02:25] sgdc3 commented on #747
@Xephi

[2016-06-04 02:27] sgdc3 commented on #746
It should be a spigot bug. Nothing serious.

[2016-06-04 08:21] ljacqu commented on #745
you mean the message "please /login" that is shown every x seconds? Unfortunately no

[2016-06-04 08:26] sgdc3 commented on #745
Yea we can ;)

[2016-06-04 08:27] sgdc3 commented on #745
We can add a method setMuted(boolean) in the task

[2016-06-04 08:31] ljacqu commented on #747
Hmm, I basically undid the solution "for" #322 (a212a0c0fd9aaeb078e492c3222e9e032cb61539) when I did #601. But I don't agree that this is a bug. For example:

[code]
"Max allowed tries *before* a captcha is required" -> You do not get a sixth try without captcha.

Ex:
[code]

What do you think, @Kixot14?

[2016-06-04 08:34] ljacqu commented on #745
Fine, but is it worth the trouble? It's kind of ugly to couple the captcha handling with the reminder task

[2016-06-04 08:37] sgdc3 commented on #747
@ljacqu in my opinion if the player use the right password the number of tries should be ignored (or at least we can print a warning to the console and the admins)

[2016-06-04 08:40] ljacqu commented on #747
@sgdc3, then the captcha is useless:

With maxLoginTry: 1
[code]

[2016-06-04 08:49] sgdc3 commented on #745
In my opinion we should

[2016-06-04 08:50] ljacqu commented on #745
I will see your commit... :)

[2016-06-04 09:05] sgdc3 commented on #747
you misunderstood what i meant

[2016-06-04 09:06] sgdc3 commented on #747
/login wrong
/login wrong
/login wrong
= require captcha

/login wrong
/login wrong
/login right
= logged in successful

[2016-06-04 09:07] ljacqu commented on #747
@sgdc3 That represents the current behavior with maxLoginTry = 3.

[2016-06-04 09:08] sgdc3 commented on #747
yeah

[2016-06-04 09:17] i998979 opened #748 "messages_zhhk.yml encoding error when startup"

[2016-06-04 09:23] i998979 opened #749 "messages_zhhk.yml encoding error when startup"
I am going to talk about messages_zhhk.yml's error
first of all, I run the server once and generate the config
I edited this line
messagesLanguage: zhhk
then i restart the server
after the player joined and login timeout, it shows a weird message

17:15:14 [資訊] [????????] disconnected with: [??蝟餌絞] ???暹???

but that is not the original one in the messages_zhhk.yml
it suppose to be ANSI
so, pl

[2016-06-04 09:52] ljacqu commented on #748
Closign for #749 :)

[2016-06-04 09:52] #748 closed

[2016-06-04 19:35] ljacqu commented on #727
For anyone following this thread, the solution is as follows:

CommandDescription only holds the class of the command implementation—it no longer goes ahead and _creates_ the *object* directly. This now happens in CommandHandler.

This is in a way pretty cool because CommandHandler is the only one that needs the command implementations, so this reduces the scope of these objects. What's less nice

[2016-06-04 19:43] ElitStrikerzHD opened #750 "extreme bug quitlocation!!!"
The savequitlocation doesnt work? i tried manny things but it doesnt work..
and i readed on forums that it bugged for others to?..
Here is my config...

DataSource:
    # What type of database do you want to use?
    # Valid values: sqlite, mysql
    backend: 'SQLITE'
    # Enable database caching, should improve database performance
    caching: true
    # Database host address
    mySQLHost: '12

[2016-06-04 19:58] #727 closed

[2016-06-04 21:31] SliderKP opened #751 "this its normal?"
Timings:
http://puu.sh/pgRuf/2a08e1145f.png

authme its possible causing lag... is not the lastest dev but near, Spigot: 1.8.8 authme (1083) but with all versions i get lag

[2016-06-04 22:47] sgdc3 commented on #751
0.14% of pct, your lag cause is not authme's fault

[2016-06-04 22:47] #751 closed

[2016-06-04 22:48] #565 closed

[2016-06-05 01:56] Kixot14 commented on #747
@ljacqu  "That represents the current behavior with maxLoginTry = 3."

BUT
IF

/login wrong
/login wrong
/login wrong
/login right (ignore, cause captcha)

Player think: "hmm, 4-th try of my login should be right, but it requires captcha... Wtf??"

I just wanna say, AuthMe must require captcha immediately after 3-d fail. Not w8 when player attempt one more login

[2016-06-05 01:58] Kixot14 commented on #747
in my opinion :]

[2016-06-05 06:09] SliderKP commented on #751
thanks for your reply!

[2016-06-05 07:52] ljacqu commented on #747
Now I understand @Kixot14, and you're right! That would be much more user-friendly

[2016-06-08 07:25] qubeee opened #752 "Console Error"
Hi, I got this error message in console. I tried to use different AuthMe versions but it didn't help.

[10:19:17] [Craft Scheduler Thread - 287/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.0-SNAPSHOT generated an exception while executing task 41
	at org.bukkit.craftbukkit.v1_9_R2.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
	at java.util.concurrent.ThreadPoolExecuto

[2016-06-08 10:49] qubeee commented on #752
And there is a bug or something. When players join the server, their "skin" remain to stand at spawn as an entity so it is almost impossible to move when you teleport to spawn. I don't really know if it is a AuthMe's problem

[2016-06-08 11:03] Platinteufel commented on #752
Do you use SkinsRestorer?

[2016-06-08 11:04] qubeee commented on #752
Yes I do. Is there any way to fix it?

[2016-06-08 11:07] Platinteufel commented on #752
For 1.9.4 there is no stable version of SkinsRestorer yet, it's quite buggy at the moment (ghost skins, skins don't show, ...)

[2016-06-08 11:10] Platinteufel commented on #752
But please update to the latest AuthMe beta build and look if this error is still in console.
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/files/78-auth-me-5-2-beta-2/

[2016-06-08 11:30] sgdc3 commented on #752
5.0 is incompatible with 1.9

[2016-06-08 11:30] #752 closed

[2016-06-09 10:07] SliderKP opened #753 "Banned users can join"
my banned users can change a letter to your name and enter again, I'm not sure it's a problem of Authme , but I found it more logical since they use the same password

for example
If the user is banned Carlos , if he join With the name "CarLOS" can login (with the password of the account "Carlos") and can play

please change the name of the publication I did not know what to put .

[2016-06-09 10:46] Platinteufel commented on #753
cofig -> preventOtherCase: true

[2016-06-09 11:24] #753 closed

[2016-06-09 11:25] sgdc3 commented on #753
@Platinteufel Thank you ;)

[2016-06-10 18:10] juanruiz85 opened #754 "Console error"
The console is showing this error sometimes

[16:12:43] [Craft Scheduler Thread - 3/WARN]: Exception in thread "Craft Scheduler Thread - 3"
[16:12:43] [Craft Scheduler Thread - 3/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.0-SNAPSHOT generated an exception while executing task 16
at org.bukkit.craftbukkit.v1_9_R1.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
at java.

[2016-06-10 18:29] rErEaT commented on #754
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-06-11 07:35] ljacqu commented on #423
@sgdc3 What is still open for this?

[2016-06-11 07:39] ljacqu commented on #540
I'm going to move this up to 5.3 since this is a tough one and there hasn't been any activity on it lately. Issues keep creeping into the 5.2 milestone, which we ought to finish soon.

[2016-06-11 07:41] ljacqu commented on #616
Related to #411

[2016-06-11 08:20] JHXSMatthew opened #755 "[Question,not bug not issue] xxxx has logged in"
Hi,

anyone know how to disable this notification ?
kind of spam

[16:20:41 INFO]: [AuthMe] Player 125304 has logged in from one of your server!
[16:20:41 INFO]: [AuthMe] Player wohka has logged in from one of your server!

Thanks.

[2016-06-11 08:53] #754 closed

[2016-06-11 12:01] sgdc3 commented on #423
@MithrandirCraft i don't remember what was missing :/

[2016-06-11 12:27] EendyGame opened #756 "Authme Error"
`[15:22:16 WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.0-SNAPSHOT generated an exception while executing task 314
at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
at java.l

[2016-06-11 12:29] ljacqu commented on #756
please upgrade
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-06-11 12:29] #756 closed

[2016-06-11 12:32] MithrandirCraft commented on #423
It basically just doesn't work.
Setting up the permission: authme.player.seeownaccounts
doesn't  show one's own accounts on entering the server.

Authme version:
![screenshot_2](https://cloud.githubusercontent.com/assets/6623704/15985050/41855a54-2fe1-11e6-950c-848752276005.png)

[2016-06-11 12:33] MithrandirCraft commented on #540
I'd call this one of the worst issues I've found together with this: https://github.com/Xephi/AuthMeReloaded/issues/592

[2016-06-11 12:47] tuanjr opened #757 "is possible to make password like this?: ******"
Is possible or any solution to make password when player input  show like this?: ******
because many players in my country player in Coffe internet!

[2016-06-11 16:11] sgdc3 commented on #755
Now it should use the removeSpam option

[2016-06-11 16:13] sgdc3 commented on #423
894 is old xD

[2016-06-11 16:17] EendyGame opened #758 "Wrong /login usage message"
How to disable /login message

http://s8.hostingkartinok.com/uploads/images/2016/06/f44f2926619c2447c69e92674f5dd1d1.png

[2016-06-11 16:19] sgdc3 commented on #540
We need to place the player safely before essentials :/

[2016-06-11 16:20] sgdc3 commented on #540
Part of the spawn code refactor

[2016-06-11 16:20] #755 closed

[2016-06-11 16:21] sgdc3 commented on #758
why?

[2016-06-11 16:22] sgdc3 commented on #757
Impossible, the only way is a client side mod!

[2016-06-11 16:23] EendyGame commented on #758
http://s8.hostingkartinok.com/uploads/images/2016/06/71c3cedac897af7ee8b2f6623b199ef9.png

custom message in message.yml :)

[2016-06-11 16:27] EendyGame commented on #758
help me?

[2016-06-11 16:29] sgdc3 commented on #758
So, you use /login YOURPASSWORD and it shows the message? It seems like a bug.

[2016-06-11 16:31] tuanjr commented on #757
Thank T_T

[2016-06-11 16:32] EendyGame commented on #758
no, i'am login and use cmd /login again
how to edit message: http://s8.hostingkartinok.com/uploads/images/2016/06/71c3cedac897af7ee8b2f6623b199ef9.png

[2016-06-11 16:32] sgdc3 commented on #757
wait, you mean  while typing or in the chat log?

[2016-06-11 16:34] sgdc3 commented on #758
ah ok, it should say : you're already logged in, thats strange

[2016-06-11 16:36] EendyGame commented on #758
please...

[2016-06-11 16:38] sgdc3 commented on #758
@EendyGame Please what? We need to find out why the message is shown.

[2016-06-11 16:39] tuanjr commented on #757
yes, when player type /login xxxxxx to login

[2016-06-11 16:44] sgdc3 commented on #757
but in the chat box (where you can type with the keyboard) or in the chat log (where the chat is shown)?

[2016-06-11 16:45] EendyGame commented on #758
i'am recording movies. wait...

[2016-06-11 16:45] sgdc3 commented on #758
Thanks ;)

[2016-06-11 16:51] tuanjr commented on #757
i mean chatbox!
when you said chat log, you mean chat log in console?

[2016-06-11 16:54] ljacqu commented on #540
I disagree @sdgc3, but ok

[2016-06-11 16:55] EendyGame commented on #758
https://yadi.sk/i/KsD9P8bpsRWVA

[2016-06-11 16:57] EendyGame commented on #758
https://yadi.sk/i/rLeg99Y0sRWXz

and bug. bungeecord how to fix?

[2016-06-11 17:20] sgdc3 commented on #758
@EendyGame bungee: ip_foward: true and bungeecord: true on spigot

[2016-06-11 17:20] sgdc3 commented on #758
The message: we need to add the help strings to the language files ;)

[2016-06-11 17:21] sgdc3 commented on #540
@ljacqu This is an exploit we need to fix this before a release.

[2016-06-11 17:22] sgdc3 commented on #757
no in the client

[2016-06-11 17:25] sgdc3 commented on #757
![cattura](https://cloud.githubusercontent.com/assets/8779252/15986537/43778368-300a-11e6-815d-9e3ac2d49057.PNG)

[2016-06-11 17:27] Gnat008 commented on #540
For what it's worth, i believe this is actually default Minecraft behaviour.

[2016-06-11 17:30] sgdc3 commented on #540
Yeah, but we need to prevent this xD This is a security plugin.

[2016-06-11 17:31] Gnat008 commented on #540
True, but that would probably make it a little less critical than some of the other issues pending.

[2016-06-11 17:33] sgdc3 commented on #540
Yeah, but we need to fix it before 5.2 anyway

[2016-06-11 17:47] tuanjr commented on #757
"or this?_"

[2016-06-11 18:30] sgdc3 commented on #757
I'm sorry but it's impossible :/

[2016-06-11 18:30] #757 closed

[2016-06-12 10:39] #650 closed

[2016-06-12 12:13] MithrandirCraft commented on #540
@Gnat008
This is NOT default Minecraft behaviour. It used to be before 1.8, But it got a patch in that same version. The behaviour at that point used to be: Players where capable of going through less than 10 layers of vertical blocks, by spamming enderpearls (Of course, this didn't include logging out.)

The issue present with Authme allows the player to go through any altitude of blocks, with ju

[2016-06-12 12:15] MithrandirCraft commented on #423
@sgdc3 This was implemented + suposedly fixed before 894. So If you didn't do any changes related to this issue since then, I'd say the issue will still persist.

+ Updating Authme to a new dev build is something risky and rerrifying xD

[2016-06-12 12:18] Platinteufel opened #759 "german messages for next release"
I've just updated the German messages for the next release.

[messages_de.zip](https://github.com/Xephi/AuthMeReloaded/files/310753/messages_de.zip)

Cheers

[2016-06-12 12:32] sgdc3 commented on #759
Done ;)

[2016-06-12 12:32] #759 closed

[2016-06-12 12:35] ljacqu commented on #729
@tuanjr @rErEaT May I ask you to verify with build n. 1110 or above? http://ci.xephi.fr/job/AuthMeReloaded/
I tested on Spigot 1.8.8 various priorities and the force spawn location feature and it seemed to work.

[2016-06-12 12:43] ljacqu commented on #694
@TheIntelloBox Still happening? If so, with which build? I can't reproduce this.

Anything you can tell us more about this is helpful for us

[2016-06-12 12:43] tuanjr commented on #729
Just install AuthMe-5.2-SNAPSHOT-legacy-1111.jar and tested, everythings fine, work. ( PaperSpigot 1.9.2)

[2016-06-12 12:46] ljacqu commented on #729
That's excellent news, @tuanjr. Thanks for the bug report and for the prompt answer!

I'm not closing this yet because I just noticed I need to fix the /logout behavior a little.

[2016-06-12 13:03] ljacqu commented on #666
What's happening with this?

[2016-06-12 13:51] MrFiliper opened #760 "Player already in game"
On server, i have player with name CrazyPlayer. If new player login to the server, with nick Player, Player was kicked, becouse is already in game.

Player = CrazyPlayer? Please, fix this bug. Thanks.

[2016-06-12 13:53] Platinteufel commented on #760
AuthMe & Spigot version? ^^

[2016-06-12 13:54] ljacqu opened #761 "Permissions - fix group handling"
I've moved the group setting method `setGroup` from `Utils` to `AuthGroupHandler`. There are some major issues with this feature:
- The enum has statuses `REGISTERED` and `NOT_LOGGED_IN`. Unclear what the difference is; remove one or clarify the difference.
- Move the group properties together. Some are currently in SecuritySettings and others are in HooksSettings.
- Properly handle if the group i

[2016-06-12 19:47] rErEaT commented on #720
[messages_hu.zip](https://github.com/Xephi/AuthMeReloaded/files/310947/messages_hu.zip)

updated with tempban_max_logins string :D

[2016-06-12 20:07] ljacqu commented on #720
@rErEaT You're fast :)

[2016-06-12 20:10] rErEaT commented on #720
thanks :D

[2016-06-12 20:11] ljacqu commented on #720
I copied over all of the changes, looks like you did some spelling fixes to older messages as well. Thanks :)

[2016-06-12 20:11] #720 closed

[2016-06-12 20:12] rErEaT commented on #720
yes I did :)

Thanks for update it :)

[2016-06-12 20:15] ljacqu commented on #723
improvement: just passing whether we need "register" or "login" message for the messagetask so the provider can decide which message key we need exactly (regular vs. email).

[2016-06-12 20:24] ljacqu commented on #728
Assuming this can be closed.

I don't know what could have cause this problem. Since we haven't heard of any other report, I'm assuming that something went wrong with the copy of the JAR / that specific build.

[2016-06-12 20:24] #728 closed

[2016-06-12 20:27] rErEaT commented on #729
[22:23:22] [User Authenticator #3/INFO]: UUID of player happyseed01 is ecfb0268-c5e2-3cb5-bf19-df49548bfc2e
[22:23:22] [Server thread/INFO]: [Essentials] Found new UUID for happyseed01. Replacing 19777db2-bc92-34a4-b4ee-d98dfb27df56 with ecfb0268-c5e2-3cb5-bf19-df49548bfc2e
[22:23:23] [Server thread/INFO]: happyseed01[/84.0.167.108:51797] logged in with entity id 9915 at ([world]1846.5, 140.0, -46

[2016-06-12 20:33] ljacqu commented on #729
@rErEaT Sorry about that, I will have to fix it tomorrow as it's getting quite late.

[2016-06-12 20:35] ljacqu opened #762 "Encapsulate sessions"
Public field in AuthMe needs to be changed to something more appropriate (separate class?).

[code]

See other "encapsulate" issues for longer description

[2016-06-12 22:58] sgdc3 commented on #666
Done ;)

[2016-06-12 22:58] #666 closed

[2016-06-12 22:59] sgdc3 commented on #760
Not enought infos, please provide the authme version number

[2016-06-12 22:59] sgdc3 commented on #760
@MrFiliper

[2016-06-12 23:03] rautamiekka commented on #728
1120 and no reoccurence so far.

[2016-06-12 23:05] sgdc3 commented on #728
@rautamiekka Fine ;)

[2016-06-13 05:28] ljacqu commented on #666
Thanks :smile:

[2016-06-13 06:37] rErEaT commented on #729
okay :)

[2016-06-13 14:12] sgdc3 commented on #423
It only shows the own accounts if you have more than 1 registered account per IP

[2016-06-13 15:21] Platinteufel opened #763 "Looks like you forgot something .."
.. in your last commit. ;-)

[messages_de.zip](https://github.com/Xephi/AuthMeReloaded/files/312127/messages_de.zip)

[2016-06-13 15:26] sgdc3 commented on #763
Thank you ;)

[2016-06-13 15:26] #763 closed

[2016-06-13 17:21] ljacqu commented on #729
Should be fixed now, @rErEaT. One last thing before closing this—looks like first spawn handling doesn't work as expected.

[2016-06-13 17:26] Gnat008 opened #764 "Implement resetting tempban count after a time"
Currently the tempban counter will only be reset on a successful login and (I presume) a server restart. This means that a user can attempt to log in to his own account and fail x times, and that count will never be reset. Worse, an attacker can log in incorrectly without hitting the tempban threshold, potentially allowing the account's legitimate owner to be tempbanned should he make a typo in hi

[2016-06-13 17:32] #729 closed

[2016-06-13 17:34] ljacqu opened #765 "Add proper teleportation handling for all happenings"
We often teleport a player to spawn with `Utils.teleportToSpawn()` but depending on various settings this might not actually be the proper behavior.

- Implement proper behavior (I expect this just needs calling the same two or three methods in TeleportationService in all cases)
- Remove `Utils.teleportToSpawn()` method

Continuation of #729

[2016-06-13 17:39] ljacqu commented on #747
Tested commit by Gnat008, behaves as I would expect. Please verify, @Kixot14

[2016-06-13 17:46] ljacqu commented on #750
Please test with build n. 1120 or above
http://ci.xephi.fr/job/AuthMeReloaded/

I tried both with true and false for the below setting
[code]
and the player is always teleported back to his last location. I also tested with the config you posted.

[2016-06-13 17:48] ljacqu commented on #657
@astr1al, may I ask you to check with build n. 1120 or above? Cannot (or maybe: can no longer) reproduce.
(cc #750)

[2016-06-13 17:51] ljacqu commented on #493
Closing because no activity for four months, no similar reports, and the topic veered off. If you still encounter a problem like this, please open a new issue.

[2016-06-13 17:51] #493 closed

[2016-06-13 18:30] ljacqu commented on #192
@Gnat008, a few things I noticed while testing:

- If the IP addr is banned, the player isn't kicked. This is troublesome because the player can still submit login requests as long as he doesn't quit the server (and might even have a successful login request in the meantime).

- The config property comments always speak of "users" (e.g. "How many times a user can attempt to login before being temp

[2016-06-13 18:35] Gnat008 commented on #192
1) I guess I assumed that Bukkit would be smart enough to kick the player at that point. Wrong again.

2) Good point. When I made them I had not thought of IP banning yet. haha

3) True, but then you can likely just restart your modem and get a new IP address. Thoughts?

[2016-06-13 18:48] ljacqu commented on #423
@MithrandirCraft Could we ask you to verify this again please? I've tested on 1.8.8 with PermissionsBukkit and it behaves as expected.
@sgdc3 The green names for online players is really nice... :)

[2016-06-13 18:53] ljacqu commented on #192
Regarding 3), I see your point and I think we should definitely look into this more detailed within the new story you've created, #764. I will post some thoughts on this in there. However, I really don't think counting login fails by name should be in the beta 3 release (which @sgdc3 wants to do soon).

[2016-06-13 18:57] Gnat008 commented on #192
1 and 2 should be taken care of in latest commit.

[2016-06-13 19:10] ljacqu commented on #764
You raise some excellent points.

We're trying to prevent two scenarios:
- Some IP address submitted several false login attempts -> IP address is up to no good, ban it.
- We're getting a lot of false logins for a certain username -> Username is being targeted and should be temporarily locked.

Both require different metrics to detect. We don't want an IP address trying 5 common passwords on 20 di

[2016-06-13 19:15] ljacqu commented on #577
Closing this—if there's a concrete issue, kindly open another issue.

[2016-06-13 19:15] #577 closed

[2016-06-13 19:18] #673 closed

[2016-06-13 19:22] Gnat008 commented on #764
I think the bigger task is figuring out your first section: preventing both scenarios. Any thoughts on how to do that?

[2016-06-13 19:30] ljacqu commented on #764
We have a mix of both right now. For the first scenario we would need to count fails by IP address (and then we react appropriately: ban the IP). The second scenario is how we count currently: failed logins for a given username. However, we can't react by banning the IP address to this one.

The proper reaction to the second one is locking the account for a given amount of time. I can think of two

[2016-06-13 19:33] Gnat008 commented on #764
I can do a little refactor to address the first scenario. I agree that the second one requires a bit more thought and input. Shall I go ahead with that?

[2016-06-13 19:39] ljacqu commented on #764
If you could, that would be lovely! Then we can set #192 as verifiable :smile:

[2016-06-13 19:42] ljacqu commented on #760
Reopening, as I can confirm. Join server with a name, open another client with same name and it will let you join and kick the first connection.

[2016-06-13 19:51] ljacqu opened #766 "Set @Gnat008 as collaborator"
Please and thank you :smile:

[2016-06-13 19:53] Platinteufel commented on #760
Confirmed too.
ForceSingleSession seems to be broken atm.

# When this setting is enabled, online players can't be kicked out
# due to "Logged in from another Location"
# This setting will prevent potential security exploits.
ForceSingleSession: true

[2016-06-13 20:10] Platinteufel commented on #760
@ljacqu Here's the build that causes the issue: http://ci.xephi.fr/job/AuthMeReloaded/1068/

[2016-06-13 21:08] MrFiliper commented on #760
Sorry for late response.

AuthMeReloaded v5.1-SNAPSHOT!
Spigot 1.8.8 Build 201511280430, development

[2016-06-13 23:10] sgdc3 commented on #760
@ljacqu you can't check the single session in the login event! You need to check it in the prelogin event!

[2016-06-14 05:34] ljacqu commented on #760
I only partly agree—doing the check in the PlayerLoginEvent should work, too. onPreLogin isn't fired on CraftBukkit.
I'll step through the code and test with Spigot and CraftBukkit this evening.

[2016-06-14 09:54] sgdc3 commented on #760
@ljacqu It's strange, the PreLoginEvent exist in craftbukkit.

[2016-06-14 19:13] ljacqu commented on #760
@MrFiliper @Platinteufel—please verify with build n. 1129 or upwards, http://ci.xephi.fr/job/AuthMeReloaded/1129/. Thanks to @MrFiliper for the initial report, and to @Platinteufel and @sgdc3 for the analysis.

Background:
Before a player joins a server, two events are fired which can be caught and modified to disallow the player from joining. Unfortunately, CraftBukkit does not fire one of those

[2016-06-14 19:40] Platinteufel commented on #760
Fix verified, thanks @ljacqu

[2016-06-14 20:26] sgdc3 commented on #760
@ljacqu Not true as the singlesession feature exists since before the first spigot release.

[2016-06-14 20:30] sgdc3 commented on #760
Ok, that's because before 4.0 authme was using only the PlayerLoginEvent ;)
https://github.com/AuthMe-Team/AuthMeReloaded/blob/3.4/src/main/java/fr/xephi/authme/listener/AuthMePlayerListener.java#L380

[2016-06-14 20:30] #760 closed

[2016-06-14 20:32] ljacqu commented on #760
@sgdc3 there was a change around 1.8, https://hub.spigotmc.org/jira/browse/SPIGOT-968

[2016-06-15 01:03] #750 closed

[2016-06-15 01:04] sgdc3 commented on #750
Verified by @Platinteufel

[2016-06-15 01:04] #746 closed

[2016-06-15 01:06] sgdc3 commented on #700
Seems fixed, i'll reopen if you are having still issues.

[2016-06-15 01:06] #700 closed

[2016-06-15 01:07] #690 closed

[2016-06-15 01:08] #520 closed

[2016-06-15 01:10] sgdc3 commented on #192
Continued on #764

[2016-06-15 01:10] #192 closed

[2016-06-15 01:11] #423 closed

[2016-06-15 01:12] sgdc3 commented on #423
Works as intended

[2016-06-15 01:12] sgdc3 commented on #423
@MithrandirCraft

[2016-06-15 01:15] sgdc3 commented on #721
Fixed in latest build

[2016-06-15 01:15] sgdc3 commented on #721
@Eisenbahn

[2016-06-15 01:15] Eisenbahn commented on #721
Ok, will test it soon. []'s

[2016-06-15 01:16] Eisenbahn commented on #721
1130?

[2016-06-15 01:17] sgdc3 commented on #721
yeah ;)

[2016-06-15 01:23] Platinteufel commented on #733
Can't confirm at all. Seems like you're loosing them if you interact with a block, but you will get them back after login or throwing in the air.
Proof: https://youtu.be/wA6iEW4Rec4

[2016-06-15 03:18] ljacqu commented on #690
@ZeTioZ This should be fixed with recent development builds. :)

[2016-06-15 03:40] Gnat008 commented on #674
@ljacqu, I started work on this tonight, but I feel that it would be better to refactor the purge task into a whole process, since this touches the databases as well. @sgdc3 and I would like your input on that. I started permissions work on a new branch that has this issue number in it.

[2016-06-15 04:28] ljacqu commented on #674
Lovely, @Gnat008! From a quick glance, it seems you probably need an additional service class (as you mention) but probably the PurgeTask class needs to stay. It schedules itself with the BukkitScheduler, and we don't want a service class itself to start scheduling itself.

Are you familiar with how the PurgeTask works? The trick behind it is it handles a certain portion of players in an interval,

[2016-06-15 07:09] xion87 opened #767 "Remove PLAINTEXT encryption"
I see many founder of server that stole easy passworld of other players by using PLAINTEXT, please remove it, many use the same pass on all server and it only favourite griefers/thief.

[2016-06-15 07:13] games647 commented on #767
:+1:

[2016-06-15 08:42] ZeTioZ commented on #690
Yeah it's fixed thanks a lot ! :D

[2016-06-15 09:17] ljacqu commented on #690
Thanks for the feedback!

[2016-06-15 09:27] ljacqu commented on #767
Excellent point. We've removed support for plaintext "hash" 6 months ago (within AuthMe 5.2). 0688a86
Plaintext hashes wilö be automatically converted to our SHA256 hash.

[2016-06-15 09:48] xion87 commented on #767
oh i see, i didn't checked the beta version and was removed, nice :)

[2016-06-15 10:33] ljacqu commented on #767
There for labeling as "question" and closing :) Thanks all the same

[2016-06-15 10:33] #767 closed

[2016-06-15 15:02] MithrandirCraft commented on #423
I'm on it.

[2016-06-15 16:03] MithrandirCraft commented on #423
Fixed. Just one thing, where can I change the "You own X accounts" message?

It hasn't shown up yet on the locale. Can I add it myself? If so, how would the format be?

[2016-06-15 16:18] sgdc3 commented on #423
just look at the English locale, it should include the key

[2016-06-15 16:19] sgdc3 commented on #423
@ljacqu  we need to run the tools again

[2016-06-15 16:40] ljacqu commented on #423
@sgdc3 You know how, right? :) Good practice. We need someone else who knows the tools

[2016-06-15 16:42] Gnat008 commented on #674
Yeah, I noticed that. Pretty nice, really.

[2016-06-15 17:06] ljacqu opened #768 "Create a command for updating the messages file"
As we add more messages to the yml file it becomes difficult for server owners to update their YML files without losing their custom messages. Create a child command of /authme that gets new messages from the JAR's messages and adds it to the user's file.

- should we do a backup before changing it?
- if we have a file of the same language (e.g. messages_**de**.yml), copy missing messages from the

[2016-06-15 17:08] ljacqu opened #769 "[Dev] Test that services can be instantiated"
I want to write a test that covers the portion of AuthMe's onEnable() that uses the injector to instantiate classes. This is a reminder for me so I don't forget.

[2016-06-15 18:38] #723 closed

[2016-06-15 19:01] andris155 opened #770 "AuthMe v5.2-BETA2-b969 error"
[20:59:03] [Craft Scheduler Thread - 1504/WARN]: Exception in thread "Craft Scheduler Thread - 1504"
[20:59:03] [Craft Scheduler Thread - 1504/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.2-BETA2-b969 generated an exception while executing task 24795
	at org.bukkit.craftbukkit.v1_10_R1.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:57)
	at com.destroystokyo.paper.ServerSch

[2016-06-15 19:23] games647 commented on #770
Already fixed since ee08087. Just update your build

[2016-06-15 19:30] #405 closed

[2016-06-15 19:39] ljacqu commented on #637
@DardBrinza Is there any news on this?, did a more recent build perhaps solve the issue?

[2016-06-15 19:47] MithrandirCraft commented on #423
I really can't find the You own X accounts message anywhere. Can you give me the line?

[2016-06-15 19:47] ljacqu commented on #685
**Would anyone use this?** Please comment here if you are interested in this hash algorithm.

Otherwise we should just delete it instead of fixing an unused feature.

[2016-06-15 19:47] MithrandirCraft commented on #423
Maybe the server needs another restart.

[2016-06-15 20:18] ljacqu commented on #423
@MithrandirCraft At the bottom of https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/resources/messages/messages_en.yml

Opened #768 for creating a command that will automatically "pull" new messages into a user's messages file.

[2016-06-15 20:20] ljacqu commented on #768
Another idea is to do such a check on startup and adding new messages that are missing, but I'm not sure if it's a good idea to do it without a user's "consent".

[2016-06-15 20:34] ljacqu opened #771 "Test AuthMe in Minecraft with command blocks"
Background: if we test the plugin regularly we still cannot test many commands without it taking a considerable amount of time. For example, #667 was caused by a change in the AuthMe startup process and caused a bug in AntiBot, which wasn't tested because it seemed unrelated.

Task: Create a new world and add command blocks that execute AuthMe commands ([command list](https://github.com/AuthMe-Tea

[2016-06-15 22:26] #770 closed

[2016-06-15 22:29] sgdc3 commented on #685
We should disable this until 5.3

[2016-06-16 02:16] #696 closed

[2016-06-16 04:56] ljacqu commented on #423
@sgdc3 Can you run the task for the messages please?

[2016-06-16 06:35] Dibro89 commented on #419
I didn't have this issue for a while but some of my players do. You should not close it atm

[2016-06-16 07:39] sgdc3 commented on #423
Yeah, just give me 2 hours, i'm not at pc now.

[2016-06-16 07:39] sgdc3 commented on #423
I'll also replace the release jar

[2016-06-16 07:52] sgdc3 commented on #419
It have been closed by github itself, sorry

[2016-06-16 08:41] games647 commented on #419
@Dibro89 Then could you please upgrade your build give us the debug data we need.

[2016-06-16 10:30] Dibro89 commented on #419
@games647 Sure.

[2016-06-16 15:18] MithrandirCraft commented on #256
@lijacqu @sgdc3

This issue is solved. A config entry was missing from my config.yml

        ForceSpawnLocOnJoin:
            # If enabled, every player will be teleported to the world spawnpoint
            # after successful authentication.
            # The quit location of the player will be overwritten.
            # This is different from "teleportUnAuthedToSpawn" that teleport player

[2016-06-16 15:18] #256 closed

[2016-06-16 16:26] ljacqu commented on #423
@sgdc3 Thanks! The reason I ask you to do it is to make sure you know how, and that it works on your end ;)

[2016-06-16 17:33] sgdc3 commented on #256
@MithrandirCraft That setting exist only since Beta3 ;)

[2016-06-16 17:34] sgdc3 commented on #423
@ljacqu yeah it works but how to add the missing messages to the language files? xD

[2016-06-16 17:39] ljacqu commented on #423
Run `verifyMessages` and pay attention to the options (I think it doesn't write the missing ones by default, need to enter `y`)

[2016-06-16 19:19] ljacqu commented on #674
Great work @Gnat008, we're one feature richer and you even rid us of some technical debt in the process :) :+1: I'm especially impressed that you took the time to implement the offline permission lookup for each handler!

A few q's about the permissions:
- Could we rename `PermissionsManager#hasPermission(String, PermissionNode)` to reflect that it's for offline players? It shares the same name wi

[2016-06-16 19:23] ljacqu commented on #674
Oh, one last thing—call me pedantic, but you created `PermissionsManager#getHandler` to get the permission system type. Would it be possible to remove this and to have a `getPermissionSystem()` method on PermissionsManager itself? This way we don't expose the entire permissions outside of PermissionsManager.

It will return `null` when there is no handler, so in AuthMe:
`permsMan.getHandler().getP

[2016-06-16 19:25] Gnat008 commented on #674
With the permissions, absolutely agreed on both. I just wasn't sure what to name the method otherwise (naming.. heh). Also checking the default permission is a good thing and I probably should have done that.

I'm also unhappy with the duplicate logic for the same reason. If that could be made better, it should.

I implemented the FlatFile thing as well since it implements the interface, and I gue

[2016-06-16 20:07] ljacqu commented on #656
Done by @Gnat008 within #674. Thank you!

[2016-06-16 20:07] #656 closed

[2016-06-16 23:30] rErEaT commented on #411
would be nice really :D

[2016-06-17 05:54] ljacqu opened #772 "Update todo comments in messages file"
- run verify messages tool task
- commit result

-> If unclear how, I need to create a Wiki page

[2016-06-17 13:55] rErEaT opened #773 "[Suggestion] ForceTeleportToServerSpawn"
I wanna teleport my players always to the server spawn when they join.
Would it be possible?

[2016-06-17 14:09] sgdc3 commented on #772
just remember me the task name xD

[2016-06-17 14:09] sgdc3 commented on #773
Sure! savequitlocation: false spawnLocOnJoin: true

[2016-06-17 14:10] #773 closed

[2016-06-17 14:23] sgdc3 opened #774 "forceLogin via api seems broken"
AuthMeBridge's autoLogin feature isn't working, it relies on the forceLogin method.

[2016-06-17 15:00] rErEaT commented on #773
but that works only the listed worlds right?

[2016-06-17 16:07] ljacqu commented on #773
Not spawnLocOnJoin :) that's a global setting :)

[2016-06-17 17:14] rErEaT commented on #773
ForceSpawnLocOnJoin:
            # If enabled, every player will be teleported to the world spawnpoint
            # after successful authentication.
            # The quit location of the player will be overwritten.
            # This is different from "teleportUnAuthedToSpawn" that teleport player
            # back to his quit location after the authentication.
            enabled: true

[2016-06-17 18:07] Twonox opened #775 "Message after /register (HideTabList 1.7.10 bug)"
After registering, the success register message is not sent to the chat.

[2016-06-17 18:09] sgdc3 commented on #775
Sounds strange :/

[2016-06-17 18:14] sgdc3 commented on #773
Yeah

[2016-06-17 18:15] rErEaT commented on #773
thanks :)

[2016-06-17 18:17] sgdc3 commented on #773
saveQuitLocation: save the player location into the database
teleportUnloggedToSpawn: when a player is unlogged it is teleported to the spawn, when he gets logged he is teleported to the location saved in the database, if the location is not set the player remains in the spawn.
spawnLocOnJoin: teleport the players at the spawn when he joins, the location in the database is ignored.

[2016-06-17 18:42] rErEaT commented on #773
thanks a lot I hope I configured correctly :D

will investigate this :D

[2016-06-17 20:47] Platinteufel commented on #775
Invalid. Tested with Beta 3 and it works without any problems. Update AuthMe.

[2016-06-18 00:28] sgdc3 commented on #766
@ljacqu @Xephi @Gnat008 ;)

[2016-06-18 00:28] #766 closed

[2016-06-18 09:11] ljacqu commented on #766
Hooray! :tada:

[2016-06-18 12:32] SuaWez opened #777 "Slow OnJoin handler"
Hi!
I have a problem with the latest version of AuthMe (5.2-BETA3), when a player log in, authme takes at least 3-5 seconds to teleport them on the defined spawn location, make them blind, and after comes up the login message.
I also have this problem on a new server, which there is just AuthMe in the plugins folder, so I don't think that it is a problem caused by other plugins.. any fix?

[2016-06-18 12:46] sgdc3 commented on #777
@ljacqu :/

[2016-06-18 12:47] sgdc3 commented on #777
Probably we are using the scheduler too much xD

[2016-06-18 13:46] ljacqu opened #778 "[Dev] DelayedInjectionRunner improvements"
- We inject the plugin folder with `@DataFolder`. The MockitoJUnitRunner doesn't recognize this for `@InjectMocks` and our DelayedInjectionRunner doesn't, either. Add logic allowing to define dependencies by annotation so that they can be injected organically via `@InjectDelayed`. This will simplify SpawnLoaderTest and CrazyLoginConverterTest.
- The Mockito runner validates that a field doesn't ha

[2016-06-18 16:37] SuaWez commented on #777
No, I really don't know.
No, its an in-development server network, with BungeeCord.

And no, the server doesn't freeze or something like that when I join. Everything goes fine, BossBar, Scoreboard and so on works. When I login, I spawn on the location where I left, and after 3-5 seconds, authme starts is work, blind mode and login message.
BUT When I log in, I'm freezed and can't do commands.

Thi

[2016-06-18 16:41] SuaWez commented on #777
This is my config:
http://pastebin.com/35pedmAr

[2016-06-18 17:03] Alibabaand40voleur opened #779 "Database"
Hi,

I setup an BDD for my BungeeServer, because he only need register.

But i have no table in my BDD, nothing created by Authme.*
Why ?

[2016-06-18 18:11] Twonox commented on #775
Oh, I resolved the problem xD
I was supposed to set HideTablistBeforeLogin to false to debug the message. (because I use spigot 1.7.10)
You should indicate this by comment (the required version to use HideTablistBeforeLogin)

[2016-06-18 19:01] sgdc3 commented on #775
It should be automatically disabled in 1.7.10 :/

[2016-06-18 19:01] sgdc3 commented on #775
@games647

[2016-06-18 19:47] games647 commented on #775
@sgdc3 You don't need to send a extra message. You also receive a notification email once a member is assigned.

[2016-06-18 21:16] sgdc3 commented on #775
@games647 It depends by your notification settings i think, sorry anyway, i don't want to spam your inbox ;)

[2016-06-19 07:13] games647 commented on #775
@sgdc3 There is no need to say sorry.

[2016-06-19 07:52] sgdc3 commented on #777
@SuaWez Ah, sei Italiano? ;)

[2016-06-19 08:47] sgdc3 commented on #777
WIP Experiment

[2016-06-19 08:48] sgdc3 commented on #777
@ljacqu The async join process is useless until line 117 (which is probably the cause of the delay)

[2016-06-19 08:49] sgdc3 commented on #777
we should move anything that is not database related outside of the async process

[2016-06-19 08:53] vanthoi opened #780 "Please fix allowedNicknameCharacters: '[a-z0-9_]*' not worked for dev 18/6"
Please fix allowedNicknameCharacters: '[a-z0-9_]*' not worked for dev 18/6

I user config: only allow names without uppercase characters

I have use hello go to login ok!
But use hellOShe go to login still accept!

[2016-06-19 09:04] games647 commented on #775
The hidetablist feature is automatically disabled for me. I tested it using Cauldron:

[11:02:02 INFO]: [AuthMe] It requires 1.8+. Disabling the hideTablist feature...

[2016-06-19 09:10] sgdc3 commented on #780
Fixed, but not still applied to latest build due to some other fixes that needs testing ;)

[2016-06-19 09:21] vanthoi commented on #780
i runing Spigot 1.10 build 1h30m 19/6!
Thanks. I will update latest build !

[2016-06-19 09:22] sgdc3 commented on #780
@vanthoi Read, please, this isn't applied to latest builds! xD

[2016-06-19 10:08] Twonox commented on #775
The problem is HideTabList feature... with FR messages, not with EN messages.
It's disabled but .... (http://hastebin.com/eputinikib.css)

When I register:
http://hastebin.com/sowoferaxu.avrasm
And I don't receive the registered message.

When I login:
http://hastebin.com/utojosasix.avrasm

[2016-06-19 10:37] games647 commented on #775
Okay source found.

[2016-06-19 11:23] Alibabaand40voleur commented on #779
Hi,

Database in english

Cordialy

[2016-06-19 11:51] Twonox commented on #775
It's ok !
I receive the success message after registering and there is no error log :)

[2016-06-19 12:38] Twonox opened #781 "Messages translated to FR"
I've translated the remaining messages to French.

max_reg: '&cVous ne pouvez pas enregistrer plus de %max_acc compte(s). &o(Compte(s): %reg_names)'
tempban_max_logins: '&cVous êtes temporairement banni suite à plusieurs échecs de connexions !'
accounts_owned_self: '&fVous avez %count comptes:'
accounts_owned_other: '&fLe joueur %name a %count comptes:'

[2016-06-19 12:41] #775 closed

[2016-06-19 12:42] sgdc3 commented on #779
Could you post your authme config please? ;)

[2016-06-19 12:43] sgdc3 commented on #781
@Xephi could you check this? Thanks ;)

[2016-06-19 12:51] sgdc3 opened #782 "LimboCache issue on logout"
https://www.spigotmc.org/threads/authme-reloaded.62079/page-21#post-1667939

[2016-06-19 13:03] Twonox opened #783 "RemoveSpeed feature issue"
This feature remove completly the speed of players when is set true. To can walk, it's necessary to do /speed 1 (with essentials) while RemoveSpeed is true.

[2016-06-19 13:06] Platinteufel commented on #783
Weird. Are you running Beta 3? I'm able to walk again as soon as I'm logged in.

[2016-06-19 13:08] Platinteufel commented on #783
#645

[2016-06-19 13:17] Alibabaand40voleur commented on #779
Hi,

How can i send it in PM ?

Cordialy

[2016-06-19 13:30] ljacqu commented on #780
FYI you're missing a "not" @sgdc3

[2016-06-19 13:36] ljacqu commented on #782
@sgdc3 Can you please paste the actual comment when you do this? For example now it leads me to the bottom of the page so no idea which comment is meant

[2016-06-19 14:04] ljacqu commented on #780
@vanthoi The fix by sgdc3 is now present in build n. 1143 or above http://ci.xephi.fr/job/AuthMeReloaded/1143/

[2016-06-19 14:11] vanthoi commented on #780
@ljacqu OK Good. It is fixed!
Thanks!

[2016-06-19 14:11] #780 closed

[2016-06-19 14:14] #783 closed

[2016-06-19 14:18] sgdc3 commented on #783
Fixed?

[2016-06-19 14:18] sgdc3 commented on #783
@Twonox

[2016-06-19 14:19] sgdc3 commented on #782
Sorry, yeah, that's it! ;)

[2016-06-19 14:20] sgdc3 commented on #779
Just remove the passwords and the ips

[2016-06-19 14:21] Alibabaand40voleur commented on #779
ips ?

[2016-06-19 14:30] sgdc3 commented on #779
IP addresses

[2016-06-19 14:33] Alibabaand40voleur commented on #779
DataSource:
  mySQLColumnName: username
  mySQLTablename: authme
  mySQLUsername: 32***60*10***1334
  backend: file
  mySQLColumnLastLogin: lastlogin
  mySQLDatabase: a3*****6031*00**4102****33**
  mySQLPort: 3306
  mySQLColumnIp: ip
  mySQLHost: ************
  mySQLColumnPassword: password
  mySQLPassword: **********
  caching: true
  mySQLlastlocX: x
  mySQLlastlocY: y
  mySQLlastlocZ: z
  mySQL

[2016-06-19 14:42] sgdc3 commented on #779
backend: MYSQL
You are using an old unsupported version of the plugin, please consider to update.

[2016-06-19 14:42] #779 closed

[2016-06-19 14:44] Alibabaand40voleur commented on #779
I updated for the last, but when i log in my server, i can't move can't use command, i can jump for moov.. soo, Why ?

[2016-06-19 14:45] sgdc3 commented on #782
Was caused by the remove speed issue.

[2016-06-19 14:45] #782 closed

[2016-06-19 14:47] sgdc3 commented on #779
http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar Try this

[2016-06-19 14:52] Alibabaand40voleur commented on #779
Is an 1.8.8 ?

[2016-06-19 14:55] sgdc3 commented on #779
It's the plugin for spigot 1.8+

[2016-06-19 14:59] Twonox commented on #783
Yes, it's ok ! :)

[2016-06-19 15:00] Alibabaand40voleur commented on #779
It work

[2016-06-19 15:07] sgdc3 commented on #779
Fine ;)

[2016-06-19 15:12] ljacqu commented on #780
Thanks for the feedback, @vanthoi :)

[2016-06-19 15:18] ljacqu opened #784 "Purge: Look up OfflinePlayer permission with correct casing"
We get all names in lowercase from the database and map OfflinePlayer objects to them, which I expect would contain the names with the proper casing. However, we always use the lowercase name to check if the player has the BYPASS_PURGE permission, which I expect will not work with all permission handlers.
-> Change permission lookup to use proper username case

In the DefaultPermission#OP_ONLY fal

[2016-06-19 15:49] tuanjr opened #785 "forceRegisterCommands won't work?"
So i want, after player /register, they run command /server. I'm config like this:

it won't work

still won't work

won't work

what is correct way to make player  run command after /register

[2016-06-19 16:00] ljacqu commented on #785
[code]
Works fine for me. What's your /authme version?

[2016-06-19 16:01] tuanjr commented on #785
AuthMe-5.2-SNAPSHOT-legacy-1130.jar
But i mean, i want force player run command, not system (console)

[2016-06-19 16:03] ljacqu commented on #785
The above example does that :) You get the message twice because you're messaging yourself. I see how it's misleading.

[2016-06-19 16:05] ljacqu commented on #772
Oh sorry, sure thing, it's `verifyMessages`. When you start the tools all tasks are listed

[2016-06-19 16:07] tuanjr commented on #785
Sorry, my fault, i'm fixed.
it can run direct command from chest command, not short alias. so instead of

now it work with:

[2016-06-19 16:08] ljacqu commented on #785
Thanks for the feedback, that's interesting. Is it an alias you set yourself in commands.yml?

[2016-06-19 16:10] tuanjr commented on #785
yes, it is alias in command.yml

[2016-06-19 16:11] ljacqu commented on #785
Thanks! Good for us to know it doesn't work.

[2016-06-19 16:11] #785 closed

[2016-06-19 16:45] ljacqu commented on #674
@Gnat008 I tested the changes and pushed them to master. If you think this issue can be marked as "please verify," please do so. If you no longer need the 674 branch it can be removed. Thanks!

[2016-06-19 18:04] Gnat008 commented on #674
@rErEaT :)

[2016-06-19 18:13] rErEaT commented on #674
@Gnat008 what is the permission to bypass from purge? :)

[2016-06-19 18:17] Gnat008 commented on #674
@rErEaT authme.bypasspurge

[2016-06-19 18:19] rErEaT commented on #674
thanks, I am checking it :)

[2016-06-19 19:20] #769 closed

[2016-06-19 19:35] rErEaT commented on #664
@sgdc3 :D

[2016-06-19 19:37] SuaWez commented on #777
Sì sono Italiano.

[2016-06-19 20:30] Twonox commented on #781
Then?

[2016-06-19 20:55] #778 closed

[2016-06-19 21:20] sgdc3 commented on #674
@rErEaT so? ;)

[2016-06-19 21:22] sgdc3 commented on #664
blocked by the new forced commands features

[2016-06-19 21:26] sgdc3 commented on #781
@Twonox Doing it right now

[2016-06-19 21:27] sgdc3 commented on #781
# TODO denied_command: '&cIn order to use this command you must be authenticated!' is still missing

[2016-06-19 21:50] rErEaT commented on #674
its just purge the authme database right?
I have 5k essentials userfiles and max 100-200 in use :/

[2016-06-19 22:11] sgdc3 commented on #674
let's give it a try ;)

[2016-06-20 08:27] Twonox commented on #781
denied_command: '&cVous devez être connecté pour pouvoir utiliser cette commande.'

[2016-06-20 20:23] ljacqu commented on #725
Migrated injector to its own repository -> wontfix here

[2016-06-20 20:23] #725 closed

[2016-06-21 16:54] DNx5 commented on #777
this is client-side problem, your minecraft client need to load the world before teleporting player.
could be related to #682

[2016-06-21 16:55] Eisenbahn commented on #721
Ello. Sorry for the delayed feedback.
Users claim that still possible to dupe using the method i said, two players in the same accounts, etc.

Using 1130
=/

[2016-06-21 17:43] sgdc3 commented on #721
Any ideas @ljacqu @Gnat008 @DNx5 @games647

[2016-06-21 17:47] sgdc3 commented on #777
Are you sure? It should teleport you in a void chunk until the chunks are loaded

[2016-06-21 17:49] sgdc3 commented on #694
Thank you, could be related to #774

[2016-06-21 20:19] games647 commented on #721
Do you have hideInventory enabled?

[2016-06-21 23:24] Eisenbahn commented on #721
I do have hideInventory enabled.

I got a custom plugins that checks for usernames. And its kind of working for me like that..

Im not sure if i have the source code, but im up to share this plugin jar with you guys.

[]'s

[2016-06-22 14:17] SuaWez commented on #777
Its not just about the teleport, as you can read, every action that AuthMe has to do is delayed

[2016-06-22 14:19] SuaWez commented on #777
I don't think that the Login message appear after an user is teleported.
I remember that the older versions of AuthMe performd everything instantly

[2016-06-22 17:50] sgdc3 commented on #777
Yeah, I know ;)

[2016-06-22 20:31] #781 closed

[2016-06-22 20:36] ljacqu commented on #781
Thank you for submitting these translations, @Twonox  :)

[2016-06-22 20:44] baaconmunncher opened #786 "Internal error on login"
When i write any AuthMe command i get "An internal error occurred while attempting to perform this command"

[LOG FROM CONSOLE]
http://pastebin.com/XHd6kESB

[2016-06-22 21:11] ljacqu commented on #786
What permission system do you use? (If any at all)

[2016-06-22 21:15] Twonox commented on #786
Do you have edited plugins.yml ?

[2016-06-23 10:04] BOT-Neil opened #787 "Users invisible after login"
Afterlogging in some users are invisible. But if you go out of their range and back in then they are visible again.

I already have "HideTablistBeforeLogin: false"

I'm using AuthMe V5.2-beta3 b1134, paper https://ci.destroystokyo.com/job/PaperSpigot/443, protocollib http://ci.dmulloy2.net/job/ProtocolLib/224/

If you would like my servers ip to test just ask

[2016-06-23 10:53] Twonox commented on #787
Do you have reseted your config files to see if the problem persists ?
Could you test the latest dev build, with reseted files?

[2016-06-23 10:59] BOT-Neil commented on #787
I have tested with the latested, however I haven't reset my config as the server is in production right now, so resetting the config would require some downtime

[2016-06-23 11:09] sgdc3 commented on #786
caused by commands sent by fake players

[2016-06-23 11:27] Twonox commented on #787
You don't have a little (free) server to make test?

[2016-06-23 11:49] Twonox opened #788 "Duplicated max_reg message"
max_reg: '&fLimite d''enregistrement atteinte pour ce compte' (OLD; line 15)
max_reg: '&cVous ne pouvez pas enregistrer plus de %max_acc compte(s). &o(Compte(s): %reg_names)' (NEW; line 68)

[2016-06-23 14:05] BOT-Neil commented on #787
I will report back after I've reset the config.

[2016-06-23 14:53] BOT-Neil commented on #787
Apart from MYSQL settings here is my config http://pastebin.com/geJsGKUQ I don't seen any reason to reset it. If I rollback to an older build(969) of authme the problem goes away.

[2016-06-23 15:06] Twonox commented on #788
It's FR messages

[2016-06-23 15:15] Twonox commented on #787
The configurations can be the source of the problems.
Why you think that problem comes from Authme ?

[2016-06-24 06:38] mat41997 opened #789 "AutoIn not work"

[2016-06-24 09:32] BOT-Neil commented on #787
"If I rollback to an older build(969) of authme the problem goes away."

[2016-06-24 09:36] SuaWez commented on #777
@sgdc3 Quindi c'è qualche buona notizia?

[2016-06-24 11:30] Twonox commented on #787
@sgdc3

[2016-06-24 15:57] Oruss7 opened #790 "How to set essentials join message"
Hello amazing developers,
I want to set essentials join message but if `delayJoinMessage` options is actived, **default** message is display.

That's my essentials config:
[code]

Cheers,
Oruss7

[2016-06-24 16:59] #772 closed

[2016-06-24 16:59] ljacqu commented on #788
Thanks for the hint! @Twonox

[2016-06-24 16:59] #788 closed

[2016-06-24 17:02] Gnat008 commented on #790
Hello,

To be clear, if the configuration option `delayJoinMessage` is set to `true`, the server's default join message is displayed anyway?

[2016-06-24 17:17] Oruss7 commented on #790
yes default message in english but not my custom essentials

[2016-06-24 17:19] Gnat008 commented on #790
Is the correct join message sent later when it is supposed to?

Also, what is the delayed join message option in the Essentials config set to?

[2016-06-24 17:50] Oruss7 commented on #790
Essentials have a delayed message option ? I just set config posted on the first post for essentials.

[2016-06-24 19:14] vanthoi opened #791 "Please fix conflicts with Citizen 2 ver 2.0.19"
Hello. After I update to ver dev build 1150. Then all my NPC it does not show!
Go back to the old version, it is still working normally.
Thanks!

[2016-06-24 19:46] Twonox opened #792 "Store registration IP and date"
improve:   _/authme getip <pseudo>_  -  Display the first IP of the player (when registered) and old IPs.
add:  _/authme check <pseudo>_  -  Show the date of registering and show if player is registered.
add:  _AntiVPN_  -  The contry blacklisting isn't 100% efficiency, also why not add an AntiVPN like https://www.spigotmc.org/resources/protect-your-server-with-the-new-anti-vpn-plugin-1-7-and-1-8.

[2016-06-24 20:26] sgdc3 commented on #789
Invalid report, please provide more informations like your server verion, authme buildnumber (/authme version), autoin version, your configuration (posted on services like pastebin) and any error you get in console.

[2016-06-24 20:27] sgdc3 commented on #777
@SuaWez Ci stiamo lavorando, è più complesso di quanto sembra in quando per procedere dobbiamo prima risolvere altri problemi ;)

[2016-06-24 20:29] sgdc3 commented on #787
@games647 is the author of the tablist hider feature, do you have any ideas?

[2016-06-24 20:30] games647 commented on #787
@sgdc3 I don't think so:

[2016-06-24 20:31] sgdc3 commented on #772
Sorry, forgot about this :(

[2016-06-24 20:34] sgdc3 commented on #787
@games647 He posted his config file xD

[2016-06-24 20:36] games647 commented on #787
@sgdc3 Same there line 140

@BOT-Neil Could you try to reproduce it without ProtocolLib

[2016-06-24 20:42] sgdc3 commented on #790
Essentials handles the join message in a strange way, you need to change the join message with another plugin.

[2016-06-24 20:42] #790 closed

[2016-06-24 20:43] sgdc3 commented on #791
@games647

[2016-06-24 20:46] games647 commented on #791
Could you try it again with disabling hideTablist

[2016-06-24 20:49] sgdc3 commented on #792
Maybe on future:
1) we only store the last ip in our database
2) we don't store the registration date
WontFix:
3) we are not an antibot plugin xD

[2016-06-24 22:15] ljacqu opened #793 "Create Wiki page about dev setup"
For people who want to fork the project or join the team, would be nice to have a Wiki page set up about certain IDE configurations etc.

In particular:
- how to not show `@Inject` fields as unused
- how to make issue references clickable
- if I remember how, how to be able to run the plugin in debug inside of intelliJ
- how to properly maintain a fork (keep master synced, add custom changes to ot

[2016-06-24 23:15] ljacqu commented on #492
wontfix -> removed the todo comment in code as it's been in there for _months_ now. if something is wrong with the chunk of code we would have noticed by now.

[2016-06-24 23:15] #492 closed

[2016-06-25 00:25] Done84 opened #794 "tempban using external ban management plugins"
Hi. This is an enhancement suggestion.
It would be nice if the temp ban feature for when users try a password too many times and its wrong to use external ban management plugins.
Maybe a custom command with a %player placeholder.

Something like this:
    tempban:
        enableTempban: true
        maxLoginTries: 5
        command: 'bmtempban %player 30min Login tries limit reached bra bla bla'

[2016-06-25 00:29] Done84 opened #795 ""Activated" chat spam + random logouts."
Hello. In one of my servers the chat is spammed with "ACTIVATED" every time a player logs in. Also players randomly have to /login again after they already did it for no reason.

Im using the latest build 1153
mc 1.8.9

also get this console error:
[code]

[2016-06-25 03:39] mat41997 commented on #789
timings
https://timings.aikar.co/v2/?id=d5a131f5daeb4dbb81e8b853c69c1f81&section=plugins#AuthMe

[2016-06-25 06:38] TheDarkSkill opened #796 "registration"
[code]

[2016-06-25 06:51] ljacqu commented on #796
CC: @games647
To confirm, this is on Spigot 1.10? And you have inventory protecting enabled, looks like?

[2016-06-25 06:56] TheDarkSkill commented on #796
Yes 1.10, inventory protecting enabled

[2016-06-25 07:01] TheDarkSkill commented on #796
After turning off the equipment to protect, was to write [15:59:04] [Server thread/WARN]: [AuthMe] Task #105 for AuthMe v5.2-SNAPSHOT-b1153 generated an exception
java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.rangeCheck(Unknown Source) ~[?:1.8.0_66]
	at java.util.ArrayList.get(Unknown Source) ~[?:1.8.0_66]
	at com.comphenix.protocol.wrappers.EnumWrappers.getEnum(En

[2016-06-25 07:06] ljacqu commented on #793
https://github.com/AuthMe-Team/AuthMeReloaded/wiki/Development-Setup

@Gnat008 Could I ask you to review the page? Maybe there is more I could add, or something you disagree with.

[2016-06-25 07:14] ljacqu commented on #758
What needs to be done for this issue? I've identified two things:
- Translatable help strings: will be handled with #293, which is also planned for 5.3 Beta
- Implied suggestion that /login help should be different after player is logged in? Something I don't agree with.

If only the first, I would kindly ask @EendyGame to subscribe to #293 and to close this issue as a duplicate.

[2016-06-25 07:40] ljacqu commented on #293
A few thoughts on this. I don't think it's a good idea to introduce new `MessageKey` entries for each and every help section as this will be huge. I'd much rather see this use some sort of dynamic keys.

Right now when `/help` is fired we map the labels to a `CommandDescription` and read the description, permission, etc. from there. If we look at two command descriptions as an example:

[code]

We

[2016-06-25 07:54] ljacqu commented on #657
Closing as #750 was tested & verified.

[2016-06-25 07:54] #657 closed

[2016-06-25 07:58] ljacqu commented on #786
@baaconmunncher Can you confirm @sgdc3's suspicion? Commands sent by fake players?

[2016-06-25 08:17] sgdc3 commented on #789
me.incomprehendable.dev.pwp -> you are using perworldplugins
could you paste it's config?

[2016-06-25 08:23] sgdc3 commented on #786
no if you look at the stacktrace you see that every command is handled by pwp (PerWorldPlugins). Could you paste your pwp config? @baaconmunncher

[2016-06-25 08:49] SuaWez commented on #777
Va bene, buon lavoro!

[2016-06-25 09:37] Twonox commented on #792
1) You can't store it?
2) You can't store it?
3) LOL, then what is that? xD
[code]

[2016-06-25 09:43] ljacqu commented on #792
@Twonox for 1 and 2: we could store it, of course. But this complicates the application by having two more fields. It's not just two more columns in the database, but it's two additional properties to make them configurable, additional error handling to make sure the columns are there and to create them if not, additional logic to retrieve these column values from our various data sources.
And tha

[2016-06-25 09:45] ljacqu commented on #792
Granted, if someone else would want to contribute to AuthMe, 1 and 2 would make for a great introductory story to get to know the project.

[2016-06-25 10:23] sgdc3 commented on #792
Yeah, you're right ;)

[2016-06-25 11:19] mat41997 commented on #789
i don't have a plugin on name "perworldplugins"

this is
https://timings.aikar.co/v2/?id=5bb32d780b1f4690af56488a50489ee6&section=plugins#AuthMe
all my plugins list

[2016-06-25 12:04] baaconmunncher commented on #786
I found solution for this. In groupmanager group for vanilla world  I make a silly mistake. I didn't set default group soo everything mess up. Anyway thanks !

[2016-06-25 12:04] #786 closed

[2016-06-25 15:11] sgdc3 commented on #789
Whoops wrong issue xD

[2016-06-25 15:13] sgdc3 commented on #789
@mat41997 slimefun is killing your cpu and the server is unable to start in time

[2016-06-25 15:21] mat41997 commented on #789
ok. a moment

[2016-06-25 15:21] games647 commented on #796
Try to update your ProtocolLib version

[2016-06-25 15:27] sgdc3 commented on #796
@games647 maybe we should add a protocollib version check

[2016-06-25 15:36] mat41997 commented on #789
new timings
https://timings.aikar.co/v2/?id=5990b6402c324132babff1e4bc1161bb

[2016-06-25 15:41] mat41997 commented on #789
my test pack
[server.zip](https://github.com/Xephi/AuthMeReloaded/files/333132/server.zip)

and
https://ci.destroystokyo.com/job/PaperSpigot/798/

[2016-06-25 15:52] Twonox commented on #794
It's very good idea !

[2016-06-25 16:04] Twonox commented on #758
Wait... You don't have understand xD
There is `usage_log: '&cUsage: /login <password>'` in messageEN.yml, aslo when we do `/login` or `/l` without password the message usage_log: `'&cUsage: /login <password>'` must be display on chat.
But this message isn't displayed.
The message displayed is:

It's wrong message.

[2016-06-25 16:19] Twonox opened #797 "Kick message after registering by an admin"
Could you make this message translatable please?

[2016-06-25 19:25] sgdc3 commented on #789
It seems like an AutoIn side issue, we are not the AutoIn developers, please contact @GotoFinal

[2016-06-25 19:25] #789 closed

[2016-06-25 19:26] sgdc3 commented on #758
Sorry xD

[2016-06-25 20:07] mat41997 commented on #789
i contact to @GotoFinal

and
"Zjebali api"

[2016-06-25 20:22] ljacqu commented on #789
I don't know to whom this is directed to, but sgdc3 contacted GotoFinal multiple times in case he wanted help or to coordinate with our API.

https://github.com/GotoFinal/AutoIn/issues/56
https://github.com/GotoFinal/AutoIn/issues/45

Next time you or @GotoFinal have something to say, you can say it in a constructive way and in a language we understand. Thanks.

[2016-06-25 20:41] mat41997 commented on #789
and
@GotoFinal: "ich oficjalne dajen i zabiera losowo opy i gamemody."

[2016-06-25 20:44] sgdc3 commented on #789
The API is well structured, if you are having issues please open an issue @GotoFinal

[2016-06-25 20:45] mat41997 commented on #789
i don;t know : P
thx for the all support

Regards

[2016-06-25 20:52] sgdc3 commented on #789
If you are having issues with autoin maybe you should switch to FastLogin ;)

[2016-06-25 20:53] sgdc3 commented on #789
@mat41997

[2016-06-25 20:59] mat41997 commented on #789
XD

FastLogin not work on my serwer, i create the isuses on github, and author (FastLogin) not want to help my problem.

anyway, thanks for the all help to me

[2016-06-25 21:14] sgdc3 commented on #789
@mat41997 FastLogin is our official addon, i contacted @games647 and he will help you. ;)

[2016-06-25 22:12] GotoFinal commented on #789
@mat41997 first of all, don't paste private messages on public.
@ljacqu @sgdc3
 "you can say it in a constructive way" that was from private message, it should never be posted here ;)

About this bug, I wrote to him that this bug isn't caused by authme, the other one is...
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/tickets/1005-problems-with-auto-in-last-player-location-problem/#c10
Auto

[2016-06-25 22:17] sgdc3 commented on #789
Yeah the forceLogin is broken

[2016-06-25 22:18] sgdc3 commented on #789
#774

[2016-06-25 22:19] sgdc3 commented on #774
AutoIn is broken too, now we are sure this is our fault.

[2016-06-25 22:19] ljacqu commented on #789
@GotoFinal you can create an issue about this or supply more information to the one sgdc3 linked if you want to act like an adult. Right now it's just complaining and doing nothing, so let's put an end to that fast.

[2016-06-25 22:24] GotoFinal commented on #774
@ljacqu I provided more information on that dev thread and in PM to @sgdc3 on bukkit too, I wanted to help, but I was ignored after all, I provided everything that I found, and was waiting for any question but got only information that "tomorrow we'll investigate", so I'm waiting...
So please, don't lie ;)

http://dev.bukkit.org/bukkit-plugins/authme-reloaded/tickets/1005-problems-with-auto-in-las

[2016-06-25 22:26] sgdc3 commented on #774
@GotoFinal Sorry, we dropped the support on the bukkit issuetracker months ago

[2016-06-25 22:27] sgdc3 commented on #774
Maybe some bump? :/

[2016-06-26 08:20] sgdc3 commented on #758
Ok this is blocked by the other issue

[2016-06-26 08:23] sgdc3 commented on #731
Probably this doesn't fix the issue

[2016-06-26 08:31] sgdc3 commented on #648
done

[2016-06-26 08:31] #648 closed

[2016-06-26 08:36] sgdc3 commented on #795
Activated spam: debug code of @games647 , blocked until the random logout issue isn't fixed

[2016-06-26 08:41] ljacqu commented on #662
Sorry for letting this idle. @astr1al Since you experienced the crash, has it ever happened again? Otherwise voting to close & to open a new issue should this happens again in the future.

[2016-06-26 09:26] games647 commented on #796
@sgdc3 I don't think it's necessary. Updates should be always applied. ProtocolLib already has an auto updater. Moreover I think this can be very complicated based on the experience I made with ScoreboardStats. We would have to check if it works manually and if a user doesn't has the most recent authme version, the user won't see our new "please update to X"-message too.

[2016-06-26 09:26] games647 commented on #796
@TheDarkSkill Do you fixed it?

[2016-06-26 09:28] TheDarkSkill commented on #796
@games647 Yes

[2016-06-26 09:29] games647 commented on #796
@TheDarkSkill Thanks. Then I'm closing this.

[2016-06-26 09:29] #796 closed

[2016-06-26 09:31] games647 commented on #795
See ticket #419

@sgdc3 What about the error?

It's seems the BungeeCord channel isn't registered by AuthMe

[2016-06-26 10:11] sgdc3 commented on #795
Maybe not a spigot server?

[2016-06-26 10:14] games647 commented on #795
@sgdc3 It seems to be one

[2016-06-26 13:25] sgdc3 commented on #645
Closed as it should have been fixed, please reopen this issue if the problem persist @RAZERMC

[2016-06-26 13:25] #645 closed

[2016-06-26 14:53] sgdc3 commented on #795
Maybe he activated bungeecord in the config after a reload.

[2016-06-26 15:42] RAZERMC commented on #645
ok downloading the latest dev testing it thanks

[2016-06-26 20:38] Done84 commented on #795
Im not sure if its related or not but my guess is that it is, and its  major security issue.

 One of my players was able to lag himself really hard and spam commands until a "you are not activated" message shows without /Login, i don't have many details as hackers like to keep this stuff a secret but i do know it requires bungee...

[2016-06-26 22:07] sgdc3 commented on #795
every command is processed by authme, it's impossible to bypass the xmd protection

[2016-06-26 22:44] MithrandirCraft commented on #592
Why not swap the player coordinates to Authme's spawn on logout, and save the logout coordinates.
Then send the player to the logout coordinates on login?

Possibly a rudimentary solution by someone who doesn't understand your code. I imagine quite a few changes would have to be made in order for this to work.

[2016-06-27 01:56] dasilvaj4 opened #798 "Auto DEOP"
Every time when i join in my server i lost my OP

[2016-06-27 10:31] games647 opened #799 "[Dev-API] LoadCompleteEvent and PreLoadEvent"
Some plugins want to make interactions with AuthMe player after login. The problem is that AuthMe is handling a lot of stuff async in the background in the meanwhile. This could be the cause for flying, inventory issues as in #789 described.

I'm thinking of a event to notify other plugins when we finished initializing the player. (i.e. inventory protection, location protecting, saving online stat

[2016-06-27 11:23] sgdc3 commented on #798
Please provide more informations

[2016-06-27 11:23] #798 closed

[2016-06-27 13:24] sgdc3 opened #800 "Merge JSONCache and LimboCache, switch to an in-memory cache"
ERROR 404: DESCRIPTION NOT AVAILABLE :P

[2016-06-27 14:05] DNx5 commented on #800
the title should be, Fix JSON Cache. because we need it.

[2016-06-27 14:15] sgdc3 commented on #800
Why? We don't need to store inventories anymore.

[2016-06-27 14:15] sgdc3 commented on #800
An in memory cache is fine

[2016-06-27 14:16] games647 commented on #800
What actually do we need to save in-memory?

[2016-06-27 14:17] sgdc3 commented on #800
The same of limbocache xD

[2016-06-27 14:17] sgdc3 commented on #800
so i think we should merge them

[2016-06-27 14:18] games647 commented on #800
Isn't a normal concurrenthashmap enough?

[2016-06-27 14:19] sgdc3 commented on #800
yeah, we don't need to store tons of data

[2016-06-27 17:04] ljacqu commented on #800
but please keep LimboCache and just change it to your needs. Then you can simply call it and LimboCache will worry about the specifics.

[2016-06-27 17:50] molor commented on #419
okay, Here are m logs from authme.log file:

[06-27 20:04:33]: Debug: AuthMe-CacheLoader:REFRESH /me/
[06-27 20:04:33]: /me/ logged in!
[06-27 20:04:33]: Debug: Craft Scheduler Thread - 176:ADDED PLAYER TO CACHE /me/
[06-27 20:35:43]: Debug: Craft Scheduler Thread - 192:REMOVE PLAYER /me/
// After this point I have to enter /login again to continue playing.
// All the time starting 20:04:33 I was

[2016-06-27 18:00] GotoFinal commented on #799
It's good idea, but much simpler (seems to be simpler) may be change authme code to delay forceLogin method, and invoke it after async task.
And move login message if needed, so it will be executed after join event, and after async tasks, and message will be not displayed if player is already logged in.

Or add both ;)

[2016-06-27 18:04] Gnat008 commented on #799
Given I also write the PerWorldInventory plugin, and have had people come to me with inventory weirdness on logging in, I wonder if doing this would allow the two plugins to integrate better together.

[2016-06-27 19:04] ljacqu commented on #419
Would you mind sharing a few lines above and below this? Essentially the question is what is triggering this. You don't have any stacktraces in the logs, do you?

[2016-06-28 05:31] fullwall commented on #791
Hello, as this is a common problem with Citizens is there any chance that https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/listener/AuthMeTablistPacketAdapter.java could be changed to work with NPCs?

[2016-06-28 06:36] molor commented on #419
This is part of this log without any deletions:
[code]

No..

[2016-06-28 09:13] games647 commented on #419
@molor Could you enable debug logging in your debug configuration and then give us the server log (not authme log) when it happens again.

[2016-06-28 09:13] games647 commented on #791
@fullwall Please see my previous comment. It would help me a lot to find the source.

[2016-06-28 09:19] molor commented on #419
@games647, ok, waiting..

[2016-06-28 09:54] games647 commented on #799
@GotoFinal

It might be really be easier. Just locking and queue all player operations until the initialization is finished. And this wouldn't force plugin developers to use the new API. So it's backwards compatible.

I think kind of waiting for the end of the queue, isn't it?

@Gnat008

Shouldn't it work better with the packet inventory hider?

[2016-06-28 10:08] mcmonkey4eva commented on #791
@games647 a random IRC user in the Citizens channel said that works.

[2016-06-28 10:09] games647 commented on #791
@mcmonkey4eva You mean when hideTablist is disabled?

[2016-06-28 10:15] DNx5 commented on #800
limbocache only save in memory, so it could lost on server restart.
that's why we need json cache.
we need to store player status (fly, op, gamemode), but currently we are not save it to disk.

[2016-06-28 10:17] mcmonkey4eva commented on #791
Yup.
They said it all works reasonably after that setting is changed.

[2016-06-28 10:26] games647 commented on #791
Thanks. It should be fixed now.

[2016-06-28 11:50] sgdc3 commented on #791
@vanthoi

[2016-06-28 11:51] sgdc3 commented on #800
We don't need to store player status

[2016-06-28 12:08] DNx5 commented on #800
@sgdc3 not all players have default speed to 0.2, fly mode disabled, default group, not op, etc. we need to store the value that we change before player login to something persistent on server restart.

[2016-06-28 12:14] molor commented on #419
[code]

[2016-06-28 12:16] games647 commented on #419
@molor Exactly. Could you point out there the random logout happened.

[2016-06-28 12:18] molor commented on #419
@games647, see edited comment.

[2016-06-28 12:25] games647 commented on #419
@AuthMe-Team/authme-developers Do you have any clues about this?`

    ```at fr.xephi.authme.process.quit.AsynchronousQuit$1.run(AsynchronousQuit.java:92)```
This task is called although the player doesn't quiet the server.

[2016-06-28 12:26] sgdc3 commented on #419
Let's find out

[2016-06-28 12:39] sgdc3 commented on #419
The perform quit is called only by the kick and quit event, the only cause can be another plugin...

[2016-06-28 12:40] sgdc3 commented on #419
@molor could you post your plugin list?

[2016-06-28 12:47] molor commented on #419
AuthMe, AutoSaveWorld, PermissionsEx, ProtocolLib, SkinsRestorer, WorldEdit, WorldGuard.

[2016-06-28 12:50] sgdc3 commented on #419
WTF IS THAT
[code]

[2016-06-28 12:51] sgdc3 commented on #419
runTaskLaterAsynchronously Settings.getSessionTimeout * TICKS_PER_MINUTE

[2016-06-28 12:51] sgdc3 commented on #419
....

[2016-06-28 12:52] sgdc3 commented on #419
@games647 @DNx5 @ljacqu @Gnat008 @Xephi

[2016-06-28 12:56] molor commented on #419
Really?!

[2016-06-28 12:58] sgdc3 commented on #419
Now i want to know who did this xD

[2016-06-28 13:00] Dibro89 commented on #419
But why is it random?

[2016-06-28 13:01] sgdc3 commented on #419
wait, no this is an issue tih latest build (@Gnat008 's fault :P)

[2016-06-28 13:11] sgdc3 commented on #419
TEMP FIX: disable sessions

[2016-06-28 13:12] sgdc3 commented on #419
@SmeXhy @molor @Dibro89

[2016-06-28 13:34] molor commented on #419
I have to turn off sessions and see if it can happen again without them?
If I understand correctly, wait..

[2016-06-28 13:35] sgdc3 commented on #419
Correction: this issue happens when sesion IS NOT enabled

[2016-06-28 13:36] sgdc3 commented on #419
can you confirm this @molor ?

[2016-06-28 13:38] molor commented on #419
No, my config is:
[code]

[2016-06-28 14:32] games647 opened #801 "Issue templates"
It might be a lot easier to find the source of issues when we have every necessary information.

https://github.com/blog/2111-issue-and-pull-request-templates

Example from ProtocolLib : https://github.com/dmulloy2/ProtocolLib/blob/master/.github/ISSUE_TEMPLATE.md

[2016-06-28 14:48] #801 closed

[2016-06-28 15:12] DNx5 opened #802 "Store player's Location on single column"
I don't know what's the point to have separated column for player's location. Also, it doesn't save player's yaw & pitch.
Would be better if we could save it in single column, like:
`world,x,y,z,yaw,pitch`
and then we could add new column for server name to be used on Bungeecord auto join feature.

[2016-06-28 15:16] sgdc3 commented on #802
+1

[2016-06-28 15:27] games647 commented on #802
-1

https://en.wikipedia.org/wiki/First_normal_form
It doesn't match the first NF. It would be no longer atomic.

[2016-06-28 15:41] DNx5 commented on #802
should we stick with current format and add 2 more colums, or move it to a new table?

[2016-06-28 15:51] games647 commented on #802
As it's a **1-to-1** relationship, it could be stored in a single table with the two additional column, but maybe we should separate it in order to have a **better overview** or to keep it **empty if it's disabled** ([dev bukkit comment](http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6722)).

[2016-06-28 16:23] ljacqu commented on #802
+1 for one field. We are never interested in a single field only so it would make sense to just store it as a serialized string. I don't see the benefit of an additional table.

[2016-06-28 19:00] vanthoi commented on #791
Ok Thank! disabling hideTablist it is worked :)

[2016-06-28 19:50] sgdc3 commented on #791
@vanthoi ehm no, it should work also with the hideTablist feature enabled.

[2016-06-28 23:54] vanthoi commented on #791
Ok Good . Thank :)

[2016-06-29 01:44] DNx5 commented on #592
We can't do that easily, because we can't teleport player on quit.
the only way to do that is by editing player.dat or using PlayerSpawnLocation event from Spigot.
but that would break compatibility with another server version.

[2016-06-29 07:29] Eisenbahn commented on #721
Any news? Any way i could help?

[2016-06-29 09:12] sgdc3 commented on #721
@games647 any idea?

[2016-06-29 09:14] sgdc3 commented on #592
We can just teleport the player immediately and if required teleport the player back thanks to serialisation.

[2016-06-29 09:14] sgdc3 commented on #592
@DNx5

[2016-06-29 09:16] sgdc3 commented on #791
@vanthoi Does it work with latest version and hideTablist: true?

[2016-06-29 09:19] vanthoi commented on #791
Yes. I Download at 02h14m in 29/06

[2016-06-29 09:20] rveiss opened #804 "Protect inventory"
Hello,

please fix bug ProtectInventoryBeforeLogIn. When i change to true, it's automatically change to false.

[2016-06-29 09:22] games647 commented on #721
@Eisenbahn Could you try to disable hideInventory?

I don't think this is the cause, because first I already tested it against dupping and second the server should prevent that. Otherwise the client could always fake a inventory.

I think it's more a different inventory manipulation plugin or the server software itself.

[2016-06-29 09:42] DNx5 commented on #804
@rveiss
do you have ProtocolLib installed?
What's your AuthMe version?

[2016-06-29 09:44] DNx5 commented on #592
@sgdc3 what do you mean? when the player join to server?

[2016-06-29 09:53] sgdc3 commented on #592
yeah

[2016-06-29 09:55] sgdc3 commented on #592
as first sync action of the listener

[2016-06-29 09:57] sgdc3 commented on #804
Read the server log before opening issues. ProtocolLib is required simce authme 5.0

[2016-06-29 09:57] #804 closed

[2016-06-29 09:58] ljacqu opened #805 "Create introduction to @Inject"
Team needs to know what it does, how it works and how to use it

[2016-06-29 10:02] ljacqu commented on #592
Xephi once commited a 1.9 specific listener. It did exactly that and was removed again because it always did it.
I'd suggest to retrieve that (I can provide the commit hash later) and to add a config check. Then it should solve this problem but it could still be turned off when undesired. Might not even need a new setting, actually

[2016-06-29 11:10] sgdc3 commented on #592
Nope we need to keep 1.7 1.8 compatibility

[2016-06-29 11:11] sgdc3 commented on #592
Authme 3.4 was fine, the player was teleported immediately

[2016-06-29 13:10] ljacqu commented on #592
it would not be incompatible, it checked first if >= 1.9

[2016-06-29 13:13] sgdc3 commented on #592
Yeah but we need to fix this issue for every version!

[2016-06-29 13:39] DNx5 commented on #592
It's fixed now. :wink:

[2016-06-29 13:49] ljacqu opened #806 "Discussion: global task(s)"
I'm on mobile so bear with me ;)
For the session timeout we schedule a task for each entry to make sure it expires after the configured time. I think it would be much easier to just store the timestamp when it will expire (like in the tempBanManager).

One problem is we'll keep all old entries, maybe we could schedule ONE global task that cleans up entries every x minutes. This prevents us from ha

[2016-06-29 14:19] DNx5 commented on #806
+1  to use timestamp for session, currently the sessions is lost on server restart.

[2016-06-29 14:21] sgdc3 commented on #806
how to handle sessions with multiple instance under one or multiple bungee proxy?

[2016-06-29 14:24] sgdc3 commented on #592
@DNx5 How?

[2016-06-29 14:39] DNx5 commented on #806
@sgdc3 save the timestamp inside database

[2016-06-29 14:40] DNx5 commented on #592
@sgdc3 teleport the player on login event.
but now, we have other problem, player always teleported to spawn.

[2016-06-29 14:46] ljacqu commented on #592
we can refine it to be aware of the settings. It won't be perfect but would allow us from teleporting twicei n many cases

[2016-06-29 14:47] vanthoi commented on #791
oh no no. bug login session bungee cord !
If the player has previously logged on to the server.
Then join the server again, no need to log in again
Whether I authme bridge configuration: auto login false
I had to go back to ver 1143 dev :(

[2016-06-29 14:50] #604 closed

[2016-06-29 15:03] DNx5 commented on #592
I have found the problem, and it's fixed now. It caused by `hasPlayedBefore()` always return false when called in PlayerLoginEvent

[2016-06-29 15:21] ljacqu commented on #592
Thanks. Great find, and odd behavior from Bukkit :/

[2016-06-29 16:26] Eisenbahn commented on #721
I've tried to disabled it, but still happens. That's why i enabled it. Trying to make it harder for duppers. =/

[2016-06-29 16:36] sgdc3 commented on #806
@DNx5 we already do this, right? ;)

[2016-06-29 16:37] sgdc3 commented on #791
@games647 :/

@vanthoi how many servers with authme do you have?

[2016-06-29 16:38] sgdc3 commented on #791
whops let's create another issue

[2016-06-29 16:38] #791 closed

[2016-06-29 16:39] sgdc3 opened #807 "Exploit in latest builds"
https://github.com/Xephi/AuthMeReloaded/issues/791

[2016-06-29 16:40] sgdc3 commented on #807
Seems like an issue with bungeecord messaging @games647 @vanthoi

[2016-06-29 16:40] sgdc3 commented on #807
Could you describe your network setup? @vanthoi

[2016-06-29 16:43] vanthoi commented on #807
I have 6 server installation vs authme authme bridge. I move between servers are required to log in again. But this update it did not work. Though I have updated both bridge and bungee cord authme

[2016-06-29 16:44] sgdc3 commented on #807
Every server has authme?

[2016-06-29 16:44] sgdc3 commented on #807
Or just lobbies/lobby?

[2016-06-29 16:45] vanthoi commented on #807
yes all server instaled authme add authme bridge!
yes I move between servers /lobby

[2016-06-29 16:46] vanthoi commented on #807
I use MC Server1.10.2 build 02h:30m 29/06

[2016-06-29 16:46] sgdc3 commented on #807
Ok, this is an issue with sessions + bungeecord hook
disable the bungeecord hook on every server and it should work fine.

[2016-06-29 16:47] sgdc3 commented on #807
@games647 we need to fix this damn bungee messaging listener xD

[2016-06-29 16:47] vanthoi commented on #807
no i disabled but not worlked!

[2016-06-29 16:49] vanthoi commented on #807
Authme Bridge bungee Cord!
Config:

serverSwitchRequiresAuth: true
# Enable session resume between servers (eg. autologin if you change server)
autoLogin: false

Authme all server config:

Hooks:
    # Do we need to hook with multiverse for spawn checking?
    multiverse: true
    # Do we need to hook with BungeeCord?
    bungeecord: false
    # Send player to this BungeeCord server after register

[2016-06-29 16:49] games647 commented on #721
Do you have any inventory plugins installed?

[2016-06-29 16:50] sgdc3 commented on #807
Do you have IP_foward and bungeecord enabled in bungee and spigot configs?

[2016-06-29 16:52] vanthoi commented on #807
yes

[2016-06-29 17:44] Eisenbahn commented on #721
That does anything significatly, not that i can record.

Plugins (49): TuxTwoLib, WorldBorder, GroupManager, FrameProtect, RewardVoting, VoxelSniper, NoJoinMessage, SkinsRestorer, Sculptor, Quests, BossShop, RandomCommand, Vault, WardrobeGUI, CraftBay, ChestCommands, ProtocolLib, Votifier, OfflineMode, PwnFilter, WorldEdit, PokeMarket, VirtualPack, SpamStopper, WorldGuard, ItemSlotMachine, GlobalM

[2016-06-29 17:46] games647 commented on #721
Then I guess it's a server software bug.

[2016-06-29 17:48] Eisenbahn commented on #721
Like cauldrons bug?
Any workaround? I got it 'safe' after i got this custom plugin..

[2016-06-29 17:48] games647 commented on #721
No sorry. I'm out of ideas. Maybe the other could help.

[2016-06-29 17:55] MithrandirCraft commented on #592
Problem with my suggested course of action is that now Authme may be breaking PvP manager's anti pvp logging system.

I'll test this asap.

[2016-06-29 18:11] RAZERMC opened #808 "EMAIL RECOVERY ERROR"
I set up the email details account and password but when i try to recover my password via

/email recovery <password>

console says

mail api is not set

[2016-06-29 18:38] sgdc3 commented on #592
@DNx5 Is the json fix patch stable enought?

[2016-06-29 18:39] sgdc3 commented on #808
Please provide more informations like the plugin version, config, etc...

[2016-06-29 18:39] sgdc3 commented on #721
@Eisenbahn Can you try with only a clean cauldron installation and authme? (no mods, only authme as plugin)

[2016-06-29 20:24] DardBrinza commented on #793
Thanks, add new config :dash:

[2016-06-29 20:54] DardBrinza opened #809 "sessionExpireOnIpChange bug"
Apparently it does not check the whole IP, and only part of it. If I have the IP 192.168.1.1 and the other person will go to the IP 192.168.2.2 his miss with a successful session.

Latest build authme.

[2016-06-29 21:10] Gnat008 commented on #793
Oh, I never got a notification for that mention. Woo! Sorry about that.

[2016-06-29 21:30] Gnat008 commented on #793
Looks good to me!

[2016-06-30 01:37] #793 closed

[2016-06-30 08:27] DardBrinza opened #810 "Latest build authme added more lag with SkinUpdateTracker in citizens2"
I setup latest version and my citizens2 to got crazy.

http://dl2.joxi.net/drive/2016/06/30/0002/2579/178707/07/3c72e7f1e2.png

Latest spigot 1.8.8, latest bungeecord 1.8-1.10, latest ViaVersion, no authme bungee.

[code]

[2016-06-30 08:38] games647 commented on #810
Could you try it with disabled hideTablist?

[2016-06-30 09:18] DardBrinza commented on #810
Result will say tomorrow, I can't restart the server with 400 online.

[2016-07-01 04:42] RAZERMC commented on #808
reload command did not work i restarted the server and it worked thanks again

[2016-07-01 05:02] ljacqu commented on #808
What was the setting you changed? Enabled email registration? :)

[2016-07-01 08:21] aloata commented on #787
having the same issues here
player becomes invisible and don't appear on tablist,only players who logged in after will visible to that player
example: user A logged in,then user B logged in, user B cannot see A in game and in tablist,but user A can see user B in tablist and in game

i have the same config with posted above,only difference is max username length,mine is 15

rolled back to last vers

[2016-07-01 08:57] Twonox commented on #787
@aloata You use Spigot 1.7.10 ? There are invisible players just in tablist, not  them skin and nametag ?

[2016-07-01 10:43] DardBrinza commented on #810
Fixed, set hideTablist: false and all works fine.

[2016-07-01 11:21] games647 commented on #810
@sgdc3 What about disabling hideTablist if Citizens was found?

[2016-07-01 11:21] tuanjr opened #811 "When require captcha, please dont send login message, it's make player confuse"
as title said, can you make?
When require player type captcha (after 5 fail login), stop send both login message + captcha message, just send only captcha message, send both messages make player confuse and make chat ugly.
if player type captcha successful, continous send login message.

[2016-07-01 11:30] tuanjr opened #812 "Suggest new feature: /authme lock/unlock ip"
/authme lock/unlock ip
example:
-  /authme lock 1.2.3.4 won't allowed this ip register new accounts
- /authme unlock 1.2.3.4 unlock locked ip

[2016-07-01 14:42] ljacqu commented on #811
#745 :)

[2016-07-01 16:25] ljacqu commented on #764
Periodically cleaning up entries with old timestamps could be done with #806

[2016-07-01 16:28] Gnat008 commented on #764
Good idea.

[2016-07-01 16:49] DardBrinza commented on #810
No

[2016-07-01 17:00] MithrandirCraft commented on #592
Confirming this is fixed.

[2016-07-01 17:26] sgdc3 commented on #540
@Gnat008 @ljacqu @DNx5 @games647

[2016-07-01 17:31] sgdc3 commented on #810
@ljacqu in my opinion the hideTablist feature is useless xD It causes many problems.

[2016-07-01 17:34] #811 closed

[2016-07-01 17:37] sgdc3 commented on #812
I'm not sure that it would be an useful feature :/

[2016-07-01 17:38] sgdc3 commented on #808
@RAZERMC

[2016-07-01 18:12] Twonox commented on #812
And the /banip ? x)
But if we can set an interval of IP, why not, it can be useful to block dynamic IP.

[2016-07-01 20:25] aloata commented on #787
I use spigot 1.8.8

Invisible in all,just like /vanish command

And i use plugin fast login and changeskin too if that might help

[2016-07-01 21:10] DardBrinza commented on #810
@games647 Agree, do not fully understand why this function is needed :D Plugin left quite a bit to the ideal, to do more optimizations and best auth plugin.

[2016-07-02 03:49] coolty commented on #679
I am also experiencing this bug. Is there any update on this? This issue is causing great pains. I cannot use MyISAM engine.  I have tried  setting the innodb_large_prefix options but to no avail.

[2016-07-02 04:51] ljacqu commented on #679
Thank you for bumping this. I will integrate rautamiekka's fix within the next 10 hours

[2016-07-02 04:52] coolty commented on #679
Thanks! I look forward to it

[2016-07-02 05:32] ljacqu opened #813 "[Dev] Minor: organize test resources according to package"
The resources folder for testing is becoming larger, and so it makes sense to have a 1:1 folder structure with the test sources

[2016-07-02 06:25] ljacqu opened #814 "[Dev] Review datasource column defaults"
- Does it really make sense to have x, y, z last positions default to 0? If no data is available player should probably not be teleported at all in a lastposition context. Same for last world.
- realname in SQLite defaults to Player but not in MySQL...? But in MySQL it is still defined `NOT NULL`
- email defaults to `your@email.com` - now we essentially check against this value instead of an intui

[2016-07-02 06:37] ljacqu commented on #685
Just realized this is the standard PBKDF2 algorithm (the naming "CryptPBKDF2" threw me off).
This needs to be fixed—not removed.

[2016-07-02 08:29] ljacqu commented on #679
@coolty It should be fixed from build nr. 1170 or above
http://ci.xephi.fr/job/AuthMeReloaded/

Unfortunately, I don't have those database engines locally or on my webserver, so I could not test this with full certainty. I would be thankful for your feedback.

[2016-07-02 08:52] coolty commented on #679
This works, thank you very much.

[2016-07-02 08:55] ljacqu commented on #679
Thank for your reply—glad this is fixed :)

[2016-07-02 08:55] #679 closed

[2016-07-02 08:57] #813 closed

[2016-07-02 10:34] games647 commented on #787
Could be fixed with the latest build where the hideTablist feature is removed.

[2016-07-02 12:12] Twonox commented on #797
Could you add quickly this message ?

[2016-07-02 16:50] Twonox opened #815 "Spawn Direction"
We are always spawning South direction. We can keep the looking direction before logouting ?

[2016-07-02 16:56] ljacqu commented on #815
There's an issue for this, but I cannot find it. Also relates to #802

[2016-07-02 16:58] ljacqu commented on #576
@games647 Following #810, is this issue now obsolete?

[2016-07-02 17:13] games647 commented on #576
Yes

[2016-07-02 17:13] #576 closed

[2016-07-02 17:15] Twonox commented on #815
When `teleportUnAuthedToSpawn: true` the direction is not saved.

[2016-07-02 17:21] ljacqu commented on #674
@rErEaT Could you run it successfully?

[2016-07-02 17:22] ljacqu commented on #747
No answer, assuming it's OK

[2016-07-02 17:22] #747 closed

[2016-07-02 17:24] Twonox opened #816 "/logout should invalidate a player's session"
When we do /logout during the session, the session don't expire. We can do /logout, disconnect then connect to the server without entering our pass.

[2016-07-02 17:33] Twonox opened #817 "Session"
`timeout: 0` disable session feature even if `enabled: true`

[2016-07-02 17:37] Twonox commented on #815
@DNx5  @sgdc3  @games647

[2016-07-02 17:39] ljacqu commented on #817
Nice catch. Solved by removing that line from the config.

[2016-07-02 17:39] #817 closed

[2016-07-02 17:40] ljacqu commented on #815
We all get notified of new issues, no need to mention people specifically. As I said, someone already opened an issue for this.

[2016-07-02 17:42] NewBestX opened #818 "Hidden inventory"
Hi!
I have a server selector plugin, that gives everyone a compass every time they go to the Hub world (I am not using bungee, I have multiple worlds and all the selector does is teleport the players to a specific world). I have noticed that if I have `ProtectInventoryBeforeLogIn: true` when the player registers he will have the compass, but will remain hidden until he clicks with his first invent

[2016-07-02 17:50] ljacqu commented on #815
Finally found it, #463
It mentions two issues, so let's keep this one open to handle the position storing, and we'll use #463 just for the primary issue it mentions.

[2016-07-02 17:58] ljacqu commented on #797
Also in RecoverEmailCommand, a meaningful error should be shown if the mail API is not available. Currently defaults to the general error.

[code]

[2016-07-02 18:06] Twonox commented on #797
I don't understand xD

[2016-07-02 18:08] ljacqu commented on #797
I noticed my above comment while doing something else, so I also "added" it to this issue so I don't forget about it... ;) I'll probably do this in a few hours.

[2016-07-02 18:15] sgdc3 commented on #812
This would be a nice feature for an addon but not in authme.

[2016-07-02 18:15] #812 closed

[2016-07-02 18:16] sgdc3 commented on #810
Renoved_

[2016-07-02 18:16] #810 closed

[2016-07-02 18:18] sgdc3 commented on #814
also the 127.0 0.1 default ip xd

[2016-07-02 18:18] rErEaT commented on #674
Does not delete the default world's player data :/

[2016-07-02 18:25] ljacqu commented on #674
Could I ask you to open a new issue for this, please? Then we can keep this issue title/number for "implement bypass permission" and we'll have a new issue for "purge does not delete player data." I'm assuming you mean the .dat files of a player are not being deleted?

[2016-07-02 18:25] sgdc3 commented on #787
@aloata

[2016-07-02 18:29] sgdc3 commented on #816
@ljacqu This is related to the Bungeecord messaging refactor (we need to create an iasue for it) and the session refactor

[2016-07-02 18:32] sgdc3 commented on #818
@NewBestX Could you try latest dev build? It should have been fixed a week ago ;)

[2016-07-02 18:37] #674 closed

[2016-07-02 18:38] sgdc3 commented on #674
Open a new issue, please ;)

[2016-07-02 18:58] #655 closed

[2016-07-02 19:26] DardBrinza opened #819 "Broken Email in the latest versions."
Auto-remove message in config, not generated password, not displayed nickname.

Screenshot messages that came in the mail:
http://dl2.joxi.net/drive/2016/07/02/0002/2579/178707/07/b56edc8ed7.png

[code]

[2016-07-02 19:38] ljacqu commented on #819
Here's a template https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/resources/email.html

We've been using `<template />` style tags since last December.

[2016-07-02 19:53] ljacqu commented on #797
@Twonox please verify

[2016-07-02 20:06] ljacqu commented on #700
Just to note, if an unregistered player is OP, after registration he loses OP status.
For me this is almost more a feature than a bug. I don't care enough about it to create an issue—if someone else does, however, then please feel free.

[2016-07-02 20:12] ljacqu commented on #733
I can reproduce this on Spigot 1.8.8. Snowballs disappear. Logging in, restarting the server, etc. does not restore the missing snowballs. They are gone.

Reopening and assigning to me to check if it can be reproduced on a more recent version, too.

[2016-07-02 20:14] DardBrinza commented on #819
Oh, lol, thanks. Add this link in config in email category.

[2016-07-02 20:16] ljacqu commented on #819
Thanks for the note & sorry for the trouble!

@sgdc3, this is in your hands now :) http://dev.bukkit.org/bukkit-plugins/authme-reloaded/pages/how-to-configure-email-recovery-system/

[2016-07-02 20:17] NewBestX commented on #818
The bug is still here.
`ProtectInventoryBeforeLogIn: true` still won't show the items I had before /register.
After some more research, it looks like if I set the command that gives me an item, I will get it first time I register, but if I do an /unregister, disconnect, than /register again, the problem is back. The command is still executed, but the item remains hidden.
If I register, unregister,

[2016-07-02 20:17] DardBrinza commented on #819
But why %playername% and %generatepass% don't work? They have remained %playername% and %generatepass%

[2016-07-02 20:17] TerZer opened #820 "More customization"
Can you add configuration to disabled help menu, or make it changeable if messages folder.

[2016-07-02 20:18] ljacqu commented on #819
@DardBrinza I was wrong, it only migrated another format of tags. I will fix this, thanks again.

[2016-07-02 20:19] DardBrinza commented on #819
Can I just replace these tags to work in email.html?

[2016-07-02 20:20] ljacqu commented on #819
Yes, absolutely! Even if I fix the migration now, you won't be affected by it since the migration already happened. But other people will be able to profit thanks to your report.

[2016-07-02 20:24] ljacqu commented on #820
Yes, may I refer you to #293 and close this issue?

[2016-07-02 20:26] NewBestX opened #821 "Unregister from other worlds bug"
Hi!
If I do /unregister from any world but the one that contains the authme spawnpoint (/autme setspawn) I get this error:

[code]

If I do /authme setspawn in another world, I will be able to do /unregister from there without any problems, but the problem will appear on the previous world.
After this happens, the account is removed, but the player remains in-game, gets no message and is not affec

[2016-07-02 20:27] TerZer commented on #820
Okey, but can you import it now, because my server in need of this. I'm using 5.0 snapshot version that deletes player inventories, so can you implement it faster? Thank you very much :+1:

[2016-07-02 20:28] #820 closed

[2016-07-02 20:29] DardBrinza commented on #819
What are tags working at the moment? %playername% and %generatepass% do not work, as I understand it, or do I need to wait for an update tags?

[2016-07-02 20:30] TerZer commented on #293
Then this will be added?

[2016-07-02 20:31] ljacqu commented on #819
The following tags are supported:
- `<playername />`
- `<servername />`
- `<generatedpass />`
- `<image />`

You can just replace your current tags in email.html with those and they will work. No need to wait for anything.

[2016-07-02 20:31] DardBrinza commented on #819
Thanks :)

[2016-07-02 20:33] ljacqu commented on #293
scheduled for 5.3

[2016-07-02 20:36] TerZer commented on #293
When it will come?

[2016-07-02 21:00] ljacqu commented on #293
We don't have a date set for 5.3 yet, but since this is an often requested feature I'll see to it that we start on it sooner rather than later ;) You can turn on notifications for this thread on the right-hand side of the page so you'll be kept up-to-date as stuff happens.

[2016-07-02 22:45] Twonox commented on #797
It works, thanks.

FR translation:

[2016-07-02 23:05] Twonox opened #822 "Purging essentials files wrong description"
The correct location is Essentials/userdata/player.yml; I don't know if it's just wrong description or if it's really wrong location. (I didn't test)

[2016-07-02 23:32] TerZer commented on #293
Ok, but do it quick, because I very in need of this, pls :)

[2016-07-03 00:41] Dooleylabs commented on #456
Maybe something like this to allow all commands:

        # Commands allowed when a player is not authenticated
        allowCommands:
        - '*'

And I've set the `unLoggedinGroup` to inherit the perms of the default group, so I'm thinking there's not much else I can do before this feature is added. How's progress on the `Disable All Checks` feature coming? I'd like to be able to disable the u

[2016-07-03 06:54] ljacqu commented on #822
It works, I tested it once. In fact it's .../userdata/uuid.dat now

But if @sgdc3 can test again that's always good :smile:

[2016-07-03 07:50] ljacqu commented on #797
Thanks!

[2016-07-03 07:50] #797 closed

[2016-07-03 09:20] ljacqu commented on #802
A few more thoughts:
- I think conceptually one field with serialized data would not be so bad since we only want to deal with the location in its entirety outside of PlayerAuth. In regards to 1NF we could argue that this represents _one_ item. (This is wrong, I know :wink:)

- I feel that AuthMe requiring only one table to store all its data is a big plus that speaks for us; I'd be sad to lose th

[2016-07-03 09:30] Dimatert9 commented on #810
@sgdc3 How about add this again and move this feature to Hooks.bungeecord and if enabled sendto, hide all players. And rename to Hide-all-players: true/false.

[2016-07-03 09:31] Dimatert9 commented on #810
Its good for Auth-Servers

[2016-07-03 09:45] DNx5 commented on #815
I believe it fixed in `jsoncache-fix` branch

[2016-07-03 10:03] sgdc3 commented on #822
We firstly try to remove non uuid file (playername) and later the file with the player uuid, in order to keep conpatibility with old versions

[2016-07-03 10:06] DNx5 commented on #700
@ljacqu It's a feature, just to avoid security problem.

[2016-07-03 10:08] sgdc3 commented on #815
@Twonox

[2016-07-03 10:51] games647 commented on #810
@sgdc3 Another idea related to this. We could also make use of Bukkit's player.hide and player.show methods instead of packet manipulation. It might be less error-prone.

But this still questions if we really need this feature

[2016-07-03 10:56] sgdc3 commented on #810
@games647  yeah idk it has benefits :/

[2016-07-03 10:57] DNx5 commented on #815
@sgdc3 we still not merge it

[2016-07-03 11:06] games647 commented on #818
So the bug only occurred on authme reload **not on restart**?

[2016-07-03 11:18] ljacqu commented on #815
@DNx5 You're referring to the change to JsonCache in 145747505f82d004f8f04347575f7774248876a3, right? But what about the PlayerAuth?

I checked out jsoncache-fix branch and right now I'm never teleported to my last position anymore. I'm investigating...

[2016-07-03 11:23] games647 commented on #802
I agree as it would reduce the load of columns, but I don't like the idea of having serialized data in one column. So I'd rather would extract it in an extra table. See below.

If we don't make an extra table, I could completely understand this decision.

I think an extra table wouldn't be so bad, because the user can just use a join and then sees all columns within a single request. Moreover loca

[2016-07-03 11:45] DNx5 commented on #802
that would require us to use NMS code. and we still need the servername to tp player to his last joined server.

[2016-07-03 11:45] games647 commented on #802
BungeeCord does that.

[2016-07-03 11:51] ljacqu commented on #815
@DNx5 AsynchronousQuit:
[code]

I found out that `player.isDead()` always returns `true` here (because player is already gone from the server?), so last location used is always spawn.

I said I tested some features on the branch successfully; unfortunately I found out that my launch configuration was flawed and I was testing a week old version... :cat2:

[2016-07-03 11:59] ljacqu commented on #802
Thanks for the reply @games647; you raise some good points. I could live with a second table or just keeping the single columns. For the record, if you disable `SaveQuitLocation` in the config it will still teleport to the last location (from LimboPlayer). It works quite well.

[2016-07-03 12:00] DNx5 commented on #815
@ljacqu should add `player.isOnline()` in that line.

[2016-07-03 12:07] DNx5 commented on #802
@games647 yes, that what i mean.

@ljacqu should we rename the jsoncache thing into userdata or something like that? because it doesn't looks like cache. just to avoid confusion.

[2016-07-03 12:18] ljacqu commented on #802
@DNx5 That would be great! So will you do that and I'll do what you wrote in https://github.com/Xephi/AuthMeReloaded/issues/815#issuecomment-230149888 ? Division of work :smile:

[2016-07-03 14:42] NewBestX commented on #818
Yes, if ProtectInventoryBeforeLogIn was set to true, changed in config.yml to false then executed the command /authme reload , it would bug, hiding the entire inventory before as well as after login.
If the server is restarted, things seem to be working fine.

[2016-07-03 19:13] Twonox opened #823 "Minimum allowed nick length"
In config file, the default value `minNicknameLength` is `4` but for Mjang the minimum allowed is 3.
You should set `minNicknameLength` default value to `3`.

[2016-07-03 19:17] games647 commented on #823
Isn't it two?

[2016-07-03 19:19] Twonox commented on #823
It's 3, I'm sure because I've tested xD

[2016-07-03 19:20] games647 commented on #823
I'm wondering, because the username 'bb' exists and is a migrated account:

https://api.mojang.com/users/profiles/minecraft/bb

[2016-07-03 19:22] games647 commented on #823
or 'ab'

http://mcuuid.net/?q=ab

How do you tested it?

[2016-07-03 19:24] Twonox commented on #823
https://account.mojang.com/me/renameProfile

[2016-07-03 19:29] Twonox commented on #823
The nicknames with two characters may be old

[2016-07-03 19:31] games647 commented on #823
It's a migrated account.

Nevertheless If I would be a server owner I won't let people in that have less than 4 characters in their username.

[2016-07-03 19:37] Twonox commented on #823
Another thing:
There is 39 lines between `maxNicknameLength` and `minNicknameLength`
You should put `minNicknameLength` side of `maxNicknameLength`

It's your opinion but if the minimum length is 3, it can have premium which can't connect to the server.

[2016-07-03 19:41] Twonox commented on #823
You set 3 to default value and if there is Admin with your same opinion, they set it to 4.

[2016-07-03 20:20] Pijanista opened #824 "Logging in without passsword"
There is some big problem, players are logging in without password with this catch:

Real player left the server
Fake player comes on  server
Fake player get kick for login timeout or wrong password
Fake player get KICKED on HUB
Fake player is logged in on HUB and can freely do whatever he wants...

How it looks like in log:

He's trying on server when real player left

[19:10:52] [Server thread/I

[2016-07-03 22:42] Platinteufel commented on #824
AuthMe version?
#807

[2016-07-03 22:51] sgdc3 commented on #818
@NewBestX

[2016-07-03 23:17] Pijanista commented on #824
Same problem.

[2016-07-03 23:59] sgdc3 commented on #824
@CryLegend

[2016-07-04 02:23] tommyraudy opened #825 "bungee mode player cant move"
when the player teleport to other server, it do resume the session correctly without having to re-enter password (since im using mysql) but the player cant move, they need to /logout then /login again to move...is the plugin bug or i do mistake in config?

[code]

[2016-07-04 07:10] Pijanista commented on #825
Put removeSpeed on False.

[2016-07-04 07:33] tommyraudy commented on #825
still same...btw im using the latest authme (5.2-BETA3)

[2016-07-04 07:36] tommyraudy commented on #825
wait...its working...the server that i did the teleport are the buggy server...the other server working fine...sorry...thanks for your help

[2016-07-04 11:49] sgdc3 commented on #825
This is a  known issue, the bungee hopck needs to be fixed

[2016-07-04 13:09] Twonox opened #826 "AntiBot: Add configurable interval for the time"
Could you add a configurable interval for the time ? (`5 secs`)

[2016-07-04 15:55] Gnat008 commented on #799
@games647

That was the theory, but I'm not sure how well that worked. In any case, events + API would likely be a cleaner way to handle it regardless.

[2016-07-04 15:55] ghost opened #827 "When a OP join server..."
A OP join to server, after a few seconds, he will lose his OP (the reason is unknown, but I only install the AuthMe plugin, console log looks also all normal). Then he would not be able to walk, only to jump...
I tried all the methods can not be resolved, may I ask how this should be done?
For the average player, I haven't been tested yet.

And this is my config file, please take a look and tell m

[2016-07-04 16:34] ljacqu commented on #827
What's your `/authme version`? We're going to pull in a lot of changes in the handling of OP / speed in a few hours, so I will test especially in regards to these issues you have, too, and we'll ask you to update your version :+1:
I will write again within 24 hours.

[2016-07-04 16:34] Platinteufel commented on #827
#694 #798

[2016-07-04 17:29] ljacqu opened #828 "Add blindness effect synchronously"
AsynchronousUnregister is trying to add blindness effect in a non-synchronous thread

[code]

[2016-07-04 17:53] DNx5 commented on #827
uh, that account name. :laughing:

[2016-07-04 18:00] LapizSeller opened #829 "what variable as player name? (in language file)"
as title said, what variable as player name in language file? i try %p, %player, %name, %username, all won't work.

[2016-07-04 18:12] ljacqu commented on #762
Todo:
- sessions should be stored with expiry timestamp
- when reload disables session, they need to be cleared

[2016-07-04 18:18] ljacqu opened #830 "[Dev] (A)sync processes should be initiatied with more specific methods"
The management class should offer a "force register" method for registering a player instead of only one method with some "magic booleans" or other arguments that are empty in some use cases. This not only applies to registration process.

RegisterAdminCommand duplicates a lot of logic, which is bad. It should get an entry point into the Register async task like the other paths. Otherwise this kee

[2016-07-04 19:05] ljacqu opened #831 "Single session does not work"
If you join with a name that is already online, the online player will be kicked in favor of the new player.
This happens on current master as well, so before merging jsoncache-fix branch into master.

[code]

[2016-07-04 19:41] ljacqu opened #832 "Optional registration - check unregister process"
Specifically `/authme unregister` seems to block the player again even when registration is set to optional. If registration is optional, the player must be able to move freely and to execute commands even after being unregistered.

[2016-07-04 19:45] sgdc3 commented on #831
@ljacqu Wasn't it fixed with the event handler priority change? O_o

[2016-07-04 19:47] ljacqu commented on #831
It was, I remember testing it. But I just tested master & jsoncache-fix and both have this issue.

[2016-07-04 19:48] sgdc3 commented on #829
Atm this works only with some messages, with 5.3 we are going to provide 100% customizable messages ;)

[2016-07-04 19:48] sgdc3 commented on #831
Very strange, are we sure the change is still present? (maybe reverted during a branch merge)

[2016-07-04 19:56] sgdc3 commented on #827
@AuthMe Could you change your username please? xD We would like to use it for the org name.

[2016-07-04 19:57] sgdc3 commented on #826
Why? @DNx5 @ljacqu @Gnat008 it seems useless to me

[2016-07-04 20:11] ljacqu commented on #826
@Twonox what is your intention with this?

[2016-07-05 00:56] AuthMe commented on #827
@ljacqu OK, I will upload my version.
@sgdc3 OK, I will delete my account, but you should register now, to prevent being registered by others.

[2016-07-05 00:57] sgdc3 commented on #827
@AuthMe Just rename

[2016-07-05 00:57] sgdc3 commented on #827
@AuthMe it's better if you rename instead of deleting ;)

[2016-07-05 00:57] sgdc3 commented on #827
too late XD

[2016-07-05 01:00] sourcepowered commented on #827
@sgdc3 I'm AuthMe ... And http://ci.xephi.fr/job/AuthMeReloaded/ Still be 2016.07.03 Build History, not today ...

[2016-07-05 01:01] sgdc3 commented on #827
Thank you ;)

[2016-07-05 01:02] sourcepowered commented on #827
You are welcome.

[2016-07-05 01:16] sgdc3 commented on #827
http://ci.xephi.fr/job/AuthMeReloaded-Experimental/ ;)

[2016-07-05 04:26] RAZERMC commented on #808
no i changed only the smtp account information so players can register with password and add email then recover their account via email

[2016-07-05 06:04] #808 closed

[2016-07-05 06:04] ljacqu commented on #808
Thanks for the feedback

[2016-07-05 09:16] Twonox commented on #826
The players can join my server one per one every 3 seconds (it's normal), then authme antibot can't work properly. If I can change this interval, I would like set 10 seconds, and sensibility 3.

[2016-07-05 23:55] NewBestX commented on #818
Sorry for the late reply.
I see that you tried to fix the /authme reload command when changing `ProtectInventoryBeforeLogIn` from true to false in build #1181. Unfortunately it doesn't work. Perhaps I should recap the steps to reproduce the problem: I started the server with `ProtectInventoryBeforeLogIn: true` in authme config. I join the server and login. I open the config and change the setting

[2016-07-06 00:07] NewBestX opened #833 "Leave message"
Hi!
If you set `delayJoinMessage: true` in the config, when a player joins the server you won't get the join message until he logs in. However, if he doesn't log in and disconnects, you will still get the leave message.
Can't believe nobody reported this yet :))

Tested with AuthMe Build #1181 and 5.2 BETA 3.

[2016-07-06 01:01] rErEaT commented on #833
https://github.com/Xephi/AuthMeReloaded/issues/583

[2016-07-06 12:33] sgdc3 commented on #818
@NewBestX Could you try with latest build again? ;)

[2016-07-06 14:50] RikoDEV opened #834 "Poland TO-DO messages translated :)"
HI, In free time I translated the **messages_pl**, I'm from Poland so there should be no errors.
[code]

[2016-07-06 15:09] ljacqu commented on #834
Very cool! Thank you very much :)

[2016-07-06 19:08] ljacqu opened #835 "Integrate injector as external dependency"
It is now available as external dependency:

[code]

- Use injector from external dependency
- Delete injector classes from AuthMe codebase

[2016-07-06 19:42] ljacqu commented on #834
Thanks again! They're now integrated into the plugin :)

[2016-07-06 19:42] #834 closed

[2016-07-06 19:43] ljacqu commented on #827
@sourcepowered I haven't replied within the promised 24 hours but now the latest build would be interesting to test :) Tons of new changes into it. Number 1183 or above http://ci.xephi.fr/job/AuthMeReloaded/

[2016-07-06 22:59] Eufranio commented on #536
Not fixed here. Using thermos build 57;

[2016-07-06 23:52] Eufranio commented on #536
Here, players can login only in the first minutes of server. After, they still getting timed out.

[2016-07-07 00:04] rErEaT opened #836 "Hungarian TODO messages translated"

[2016-07-07 01:47] sgdc3 commented on #536
@Eufranio Ould you post your plugin list and your config please?

[2016-07-07 01:57] sgdc3 commented on #799
@games647 your event would be only a workaround, in my opinion we should try to reduce the ammount of async stuff first.

[2016-07-07 05:55] sourcepowered opened #837 "AuthMe can not support Sponge?"
As the title said, we can not support Sponge?...

[2016-07-07 06:18] sgdc3 commented on #837
@Gnat008 could you explain why we don't want to spend time working on a sponge version? xD

[2016-07-07 17:16] Eufranio commented on #536
@sgdc3 i'm using AuthMe-5.2-SNAPSHOT-legacy (Thermos is a Cauldron fork) and AutoIn latest.
AuthMe config: http://hastebin.com/irucevobeq.sm
AutoIN config: http://hastebin.com/yiliwizihe.vhdl

[2016-07-07 17:21] games647 commented on #536
@Eufranio Could you try it once without autoin?

AutoIn is modifying much native minecraft code.

[2016-07-07 17:29] Eufranio commented on #536
But i need AutoIn to allow cracked accounts join and premium accounts don't lose their items :/
And yes @games647 , i can join.

[2016-07-07 18:03] games647 commented on #536
If it's just about the inventory, you could switch your server to offline mode and then go to your world folder and convert the files from a premium uuid to a offline uuid.

[2016-07-07 18:11] Eufranio commented on #536
ALL files? Is there something like a auto-converter?

[2016-07-07 18:58] games647 commented on #536
Then all files are have this offline uuid.

[2016-07-07 19:03] Eufranio commented on #536
(with autoIn, without it all files are... simple files)

[2016-07-08 06:32] Mormaii opened #838 "ForceSpawnLocOnJoin not working"
Using latest dev build from Jenkins

[code]

Doing /logout and /login doesn't teleport me to the spawn. Also disconnecting and reconnecting it won't teleport me to the spawn either, even after a server restart it just keep the last logout location. I'm using multiverse.

[code]

[2016-07-08 12:18] ljacqu commented on #838
What's your spawn priority? (It won't cause the issue - but good to know)

[2016-07-08 12:40] Mormaii commented on #838
spawnPriority: multiverse,authme,default

Tried with authme first and I still get the same error. Something I forgot to add on the original post is that this issue didn't happen before and it started just now.

[2016-07-08 13:04] Mormaii commented on #838
Just confirmed that by setting the spawnPriority to authme first it will still save the quit location and use it even when disabled. This also applies after a server restart too.

[2016-07-08 15:25] FabioZumbi12 opened #839 "Allow only one registered nick by IP"
I see the config "AllowedRestrictedUser"
If i mean, this will kick if the player join with this nickname using other ip right?

But to allow the player to join only if the ip and nick matches.

Example: On my server i allow only one nick per IP registration.
But i have one player is using lan house or vpn to register other Nicks but only one nick is valid.
I want to allow only that valid nick to j

[2016-07-08 19:04] ljacqu commented on #516
wontfix -> https://github.com/AuthMe/ConfigMe/issues/6

[2016-07-08 19:04] #516 closed

[2016-07-08 22:40] vanthoi opened #840 "please fix bug for 1.10.2 dev 1188"
Please fix bug dev 1188. If player kicked server! Then login ok but not command add chat!
Console error: http://pastebin.com/GtH6bCFh

[2016-07-09 13:33] sgdc3 commented on #840
@DNx5 any idea about this? it seems related to your LimboCache update.

[2016-07-09 17:24] ben1122a commented on #731
Can you please fix this? My server has been rampaged because your plugin is not working correctly. We have had hackers shut down 3 of our servers and have had to spend many hours fixing all the damage while your plugin still has NOT fixed this issue in the latest build.....

[2016-07-09 19:45] Eufranio opened #841 "Console error"
http://prntscr.com/bqv8p9
Is it normal? It appears every time that someone log in.

[2016-07-09 19:48] sgdc3 commented on #841
@Eufranio What's your permission management plugin?

[2016-07-09 19:51] Eufranio commented on #841
PermissionsEX

[2016-07-09 21:53] rErEaT commented on #838
sure I can confirm it, its broken in the latest

[2016-07-09 22:25] ljacqu commented on #838
First thing I will take a look at tomorrow :)

[2016-07-09 22:33] #841 closed

[2016-07-09 22:35] sgdc3 commented on #841
@Eufranio Latest build remove the message ;)

[2016-07-09 22:45] Eufranio commented on #841
=D

[2016-07-09 22:59] sgdc3 commented on #837
We dislike the Sponge API and we think that the Sponge project will not replace Bukkit/Spigot

[2016-07-09 22:59] #837 closed

[2016-07-09 23:03] sgdc3 commented on #836
Thank you ;)

[2016-07-09 23:33] rErEaT commented on #836
:)

[2016-07-10 00:36] sgdc3 opened #842 "Server ping issue"
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6729
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/listener/AuthMeServerListener.java#L42

[2016-07-10 09:04] ljacqu commented on #842
@atesin Is it better if you disable the protection setting?

Probably caused by AuthMeServerListener:
[code]

[2016-07-10 11:17] ljacqu commented on #838
Thanks for the detailed bug report :)
We still have room for improvement on how we handle teleportation, but I believe that the bug is fixed now. Could I kindly ask you to verify with build nr. 1194 or above? http://ci.xephi.fr/job/AuthMeReloaded/

[2016-07-10 11:23] ljacqu commented on #819
@sgdc3 Please link to https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/resources/email.html from the email section in Bukkit page http://dev.bukkit.org/bukkit-plugins/authme-reloaded/pages/how-to-configure-email-recovery-system/

[2016-07-10 12:41] ljacqu commented on #828
Thanks @games647, only noticed your commit now. I checked it just now, so closing.

[2016-07-10 12:41] #828 closed

[2016-07-10 15:01] rErEaT commented on #838
yes its working now I can confirm it!

[2016-07-10 15:04] rErEaT commented on #664
So its unable to make?

[2016-07-10 15:15] ljacqu commented on #838
Thank you!

[2016-07-10 15:15] #838 closed

[2016-07-10 15:41] atesin commented on #842
do you know how can i compile a single class file (for later replace (compress) into jar (zip) file) to debug what are you saying?

[2016-07-10 15:50] sgdc3 commented on #819
Done! :)

[2016-07-10 15:50] #819 closed

[2016-07-10 15:52] sgdc3 commented on #842
Probably validationService.isCountryAdmitted(playerIp) is too slow... @ljacqu

[2016-07-10 15:52] sgdc3 commented on #664
@rErEaT We'll add this in the future ;)

[2016-07-10 15:53] atesin commented on #842
even when i had disabled?

[2016-07-10 15:55] sgdc3 commented on #842
I asked to the reporter to disable the protection setting, no answer atm.

[2016-07-10 15:56] sgdc3 commented on #842
Oh wait, it's you xD

[2016-07-10 15:56] sgdc3 commented on #842
Ok, really strange.

[2016-07-10 15:57] atesin commented on #842
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/?comment=6735

-    with no authme = server always appears in list instantly
-    with authme 5.2-SNAPSHOT-b870 = 20-30 refreshes until server appear in list
-    with authme 5.2 beta3 = "can't connect to server" more than 30 times and i got tired.. i decided to downgrade

spec: centos 6.7 final x64, java 7.0_101, xeon 12 cores, 12gb ram ... nev

[2016-07-10 16:01] atesin commented on #842
i wish help you with debugging, though i am not so experienced in java .. but i can use eclipse basic

[2016-07-10 16:15] atesin commented on #842
i discovered ... it seems this issue occurs when i am connected in my home .. i am away now and it seems to refresh and server shows fine ... strange because i revceive complaints about this from some players before   ... my subnet is 192.168.218.0/24 ...

my server is at minecraft.netgamer.cl .. i disabled registration because i implemented (log time ago) an invitation based system

[2016-07-10 16:19] atesin commented on #842
strange anyway because my server is behind a firewall (a tp-link router with openwrt) ... so the server still should believe outcoming connections are comming from my network

[2016-07-10 19:48] Dimatert9 opened #843 "error on register"
lastest authme dev build
http://pastebin.com/VfyUabWr

[2016-07-10 21:25] ljacqu commented on #843
Thanks for the report—this is an easy fix I will do tomorrow.
Does this only happen for some players? Did you recently delete a world?

[2016-07-10 22:28] sgdc3 commented on #842
so strange, with the protection disabled authme does nothing related to the server list ping :(

[2016-07-11 01:05] rErEaT opened #844 "AutoPurge bug"
AutoPurge doesn't remove any player data in default world!

AutoPurging the Database: 3 accounts removed!
AutoPurge: Removed 3 EssentialsFiles
AutoPurge: Removed 0 .dat Files

My world/playerdata mappa is contains 5,5k items :O

Or should I remove everything from that? what happen after that?

[2016-07-11 03:36] atesin commented on #842
well ...  at least i conform my players outside appear to see the server ok ... maybe is an issue with the network configuration of my house .. if i discover something i will tell you ... thanks for your time and sorry for make you lose it

i still believe AuthMe is the ultimate and most essential plugin

i had a little worry about how this case affects my related and new plugin EnderMail (take a

[2016-07-11 05:02] Pijanista commented on #824
Well they have ruined my server...

Fix - turn off Bungeecord hooking in authme config...

Even though there is NO session or whatever, sometimes it happens that authme says message he has logged in from another server and he can do whatever he wants on server.

[2016-07-11 05:18] Mormaii commented on #838
Works well now although it kinda takes a sec or two to move you to spawn after you've joined. I'm running a test server with 8GB ram and me as the only player and it takes a bit of time, any way to fix this on my end or yours?

[2016-07-11 06:24] AuthGood commented on #837
@sgdc3 Yes, I think so. And I think Cauldron 1.7.10 and any fork of it will kill 1.8+ mod server any time. Sponge is Sponge, you know what I mean. ;)

[2016-07-11 06:56] ljacqu commented on #839
@sgdc3 Thoughts on this?

[2016-07-11 08:23] sgdc3 commented on #837
@AuthGood yeah sure xD

[2016-07-11 08:24] sgdc3 commented on #844
@ljacqu

[2016-07-11 08:24] sgdc3 commented on #844
duplicate, right?

[2016-07-11 08:25] sgdc3 commented on #839
@ljacqu idk really

[2016-07-11 08:26] sgdc3 commented on #838
@ljacqu @DNx5 the late teleport bug return

[2016-07-11 08:27] sgdc3 commented on #824
@ljacqu @games647 @DNx5 we need to fix the sync between instances via the bungeecord messaging channel,

[2016-07-11 08:58] ljacqu commented on #844
Can you link the other issue?

[2016-07-11 10:11] rErEaT commented on #844
https://github.com/Xephi/AuthMeReloaded/issues/627

[2016-07-11 10:30] NewBestX commented on #843
Having the same issue, no worlds deleted, happens every time on /register with build #1196

[2016-07-11 10:31] NewBestX commented on #818
Sorry for the late reply.

Updated to ProtocolLib 4.0.2 and using AuthMe Build #1196

The bug when `ProtectInventoryBeforeLogIn` is set to true is still there. You /register and the items you had in your inventory before remain hidden. This does not happen with /login, perhaps you could check the differences between the way /login handles the restoring inventory part and how /register does...

The

[2016-07-11 10:51] sgdc3 commented on #818
@NewBestX What's your plugin list?

[2016-07-11 12:38] NewBestX commented on #818
I had essentialsx, multiverse, worldedit, worldguard, vault and some other small plugins that I made myself (I used that local server to test these plugins). However, I removed everything but AuthMe and ProtocolLib, and still can reproduce the bug.

[2016-07-11 17:03] ljacqu opened #845 "Player data not updated if player data has been persisted"
In LimboCache, updatePlayerData() is defined as follows:

[code]

The only issue is that addPlayerData() checks if there is a file for the player on the disk, and then just reads from the disk. In other words, once data has been persisted to the disk, the data will never be updated anymore.

Also, data is being taken from the user even if it will then be read from the disk.

[code]

It should be p

[2016-07-11 17:42] ljacqu commented on #843
The cause of this bug is not what I thought it was, and it's a lot worse...

[2016-07-11 18:13] ljacqu commented on #787
@BOT-Neil @aloata Please verify if this still happens

[2016-07-11 18:16] ljacqu commented on #503
Removing "in progress," because, you know... ;)

[2016-07-11 18:44] ljacqu commented on #843
@Dimatert9 @NewBestX May I ask you to verify? Build n. 1198 or above, http://ci.xephi.fr/job/AuthMeReloaded/

[2016-07-11 18:46] ljacqu commented on #843
Side note, this is something we might be able to find in the future, after #771 ;)

[2016-07-11 19:31] #765 closed

[2016-07-11 19:45] Gnat008 commented on #824
I have a theory on this. It could be because the session thinks the fake player is the real player, as Bungee is essentially just a proxy. Therefore, Bungee might be replacing the player's IP with its own, so when the session is checked during join, it sees the IP is the same, and BLAMO, logged in.

[2016-07-11 19:47] Gnat008 commented on #807
I suspect this is related to #582.

[2016-07-11 19:48] Gnat008 commented on #816
Id say this is the same issue as #824, and thus related to #582 =.

[2016-07-11 19:56] Gnat008 commented on #824
@Pijanista In your BungeeCord config, is `ip_forward` set to `true`? And in your spigot.yml on your servers, is `bungeecord` set to `true`?

[2016-07-11 19:58] Dimatert9 commented on #843
No error in latest build

[2016-07-11 19:59] #843 closed

[2016-07-11 19:59] sgdc3 commented on #843
@Dimatert9 Thank you ;)

[2016-07-11 20:29] sgdc3 commented on #821
@NewBestX please try again with latest build, a commit from @ljacqu may have fix this.

[2016-07-11 20:30] sgdc3 commented on #831
@ljacqu could you test again :P

[2016-07-11 20:31] ljacqu commented on #831
Force single session is not IP-based. I will test anyway.

[2016-07-11 20:33] ljacqu commented on #831
@sgdc3 "You logged in from another location"
Sorry :cat: The issue is still present.

[2016-07-11 20:43] sgdc3 commented on #831
Try with latest commit

[2016-07-11 20:43] sgdc3 commented on #831
@ljacqu

[2016-07-11 20:49] ljacqu commented on #831
still broken

[2016-07-11 20:49] sgdc3 commented on #831
wtf

[2016-07-11 20:49] sgdc3 commented on #831
impossible

[2016-07-11 20:50] sgdc3 commented on #831
are you in online or offline mode?

[2016-07-11 20:52] ljacqu commented on #831
Offline, Spigot 1.8.8. server.properties -> http://hastebin.com/axobodayir.hs
Might be good if you checked as well, not that this is just on my end. But I doubt it.

[2016-07-11 21:10] sgdc3 commented on #831
are you sure you tested the latest build? maybe the compilation was still in progress

[2016-07-11 21:10] sgdc3 commented on #831
? @ljacqu

[2016-07-11 23:30] Eufranio opened #846 "Wrong login coordinates"
When a player leave the server (going to the nether, by example, and gets timed out), when he joins again the server, he's in the overworld, something like a rollback happens.

[2016-07-12 00:38] MichelDeStar commented on #824
This problem still occurs in build 1205, disabled the Bungeecord hook and removed the sessions. Not really user friendly.

With only the bungeecord hook or the sessions disabled the problem still occurs...

[2016-07-12 05:38] aloata commented on #787
i don't know if this still happens or not as for now i'm using old version of authme (5.0-beta3)

but i suppose this bug will happen again if i install latest authme since there's no change in the system/plugins

[2016-07-12 05:51] ljacqu commented on #831
Yes, but please test it yourself, too

[2016-07-12 05:53] ljacqu commented on #846
So you have `saveQuitLocation` (or similar, on mobile atm) set to `true`?

[2016-07-12 06:30] sgdc3 commented on #846
@Eufranio

[2016-07-12 06:31] sgdc3 commented on #787
@aloata ... we changedblot of stuff in latest dev build (not on dev.bukkit)

[2016-07-12 06:33] sgdc3 commented on #824
Ok, @Gnat008 not an issue with session, the problem is the sync messages between instances.

[2016-07-12 07:33] Pijanista opened #847 "Country whitelist and bungee"
While this thing works great on single server without bungee, but with bungee there is like 20-30% of bots that are not on whitelist will pass on the server.

[2016-07-12 09:54] sgdc3 commented on #847
@Gnat008 maybe related to the bypass bug?

[2016-07-12 14:32] Eufranio commented on #846
@ljacqu i have it set to false.

[2016-07-12 15:22] Twonox commented on #816
I don't use bungeecord

[2016-07-12 19:38] sgdc3 commented on #846
@Eufranio Could you post your config?

[2016-07-12 19:40] ljacqu commented on #846
I can't reproduce it. I also set `saveQuitLocation: false`, teleported to the nether, logged out (even force-closed the client instead of quitting properly) and next time after logging in successfully I am back where I left. I can join, not log in, and next time I join and log in I will be back in the nether. Same for being kicked... I just can't reproduce this with my setup on Spigot 1.8.8.

[2016-07-12 19:49] ljacqu commented on #844
@rErEaT Does `Purge.defaultWorld` match your default world?

[2016-07-12 20:12] sgdc3 commented on #816
@Twonox Done ;)

[2016-07-12 20:12] sgdc3 commented on #816
Whoops found that we already do this

[2016-07-12 20:24] ljacqu commented on #816
Reverted -> code was uglier (let SessionManager worry about session settings, why check if player is authenticated inside the logout process?) and did not fix the issue. You didn't test this.

[2016-07-12 20:25] sgdc3 commented on #816
:( you're evil

[2016-07-12 20:26] sgdc3 commented on #816
// Session logic
            if (service.getProperty(PluginSettings.SESSIONS_ENABLED) && (sessionManager.hasSession(name) || database.isLogged(name))) {
                sessionManager.cancelSession(name);

                PlayerAuth auth = database.getAuth(name);
                database.setUnlogged(name);
                playerCache.removePlayer(name);
                if (auth != null && auth.get

[2016-07-12 20:26] sgdc3 commented on #816
L 137 AsyncJoin

[2016-07-12 20:42] ljacqu commented on #816
Ooh bad, good catch on that, and sorry. I expected more logic to be inside SessionManager; I guess the encapsulation story is still open.
Abd next time I implement some feature I will ask you to verify @sgdc3 so you can exercise revenge ;) :smile:

[2016-07-12 20:47] sgdc3 commented on #816
:smiling_imp:

[2016-07-12 20:59] rErEaT commented on #844
yepp, it says "world"

[2016-07-13 02:38] bob7l opened #848 "[IllegalArgumentException]: Invalid salt version"
**Errors:**
Bcrypt checkpw() returned [IllegalArgumentException]: Invalid salt version
XfBCrypt checkpw() returned [IllegalArgumentException]: Invalid salt version

**Tested Versions:**
AuthMe 5.2 BETA 3, Build #1214

**Logs:**
http://pastebin.com/Uby0YFBq

**How to Reproduce:**
Login to the server and use /login <password>. It appears if the password is incorrect, the exception is thrown.

**Envi

[2016-07-13 02:48] bob7l opened #849 "[IllegalArgumentException]: com.google.common.io.BaseEncoding$DecodingException:"
**Errors:**
java.lang.IllegalArgumentException: com.google.common.io.BaseEncoding$DecodingException: Unrecognized character: 0

**Tested Versions:**
AuthMe 5.2 BETA 3, Build #1214

**Logs:**
http://pastebin.com/pXntP0Cw

**How to Reproduce:**
Login to the server and use /login <numeral password>. Authme will throw an exception and the login will fail if the password is incorrect.

**Enviroment Inf

[2016-07-13 02:54] Eufranio commented on #846
Here's my config: http://pastebin.com/hS8hBt0M
Also, i'm running it on 1.7.10, with Thermos (kCauldron fork).

[2016-07-13 05:21] ljacqu commented on #844
We'll find out why ;) When AuthMe was added to your server shouldn't influence the purge process. I wonder, have you ever switched from online mode to offline, or vice versa?
It might be that some old files are lying around with the other uuid type.