[2014-06-16 01:50] zPorto opened #1 "Error"
Hi, so when i open my server after all plugins are loaded, 2 or more players make login and authme gives me an error that crashes the server. ( http://pastebin.com/kmXjZuzd ) Please Help!

[2014-07-27 10:57] #1 closed, assigned to nobody

[2014-08-08 20:48] rautamiekka opened #3 "§File.separator§ not used everywhere in the code"
Running Windows GREP on the code, I found that many places in the code still use §/§ instead of §File.separator§ where applicable.

[2014-08-24 20:45] coegho opened #5 "Unlogged OPs can change text from Command Blocks"
If there is a command block in sight of a OP, he can change its text even if he is not logged.
Sorry for my english, it's not my first language.

[2014-08-25 01:13] #3 closed, assigned to nobody

[2014-08-25 14:35] #5 closed, assigned to nobody

[2014-08-28 01:24] ActimelPL opened #6 "Cache issue"
Hello, I was testing new AuthMe build from Jenkins, #188. I am using Debian 7.0 with Spigot server, and there seems to be an issue with file system. When a player logs in:

[03:19:25 WARN]: java.io.IOException: No such file or directory
[03:19:25 WARN]:        at java.io.UnixFileSystem.createFileExclusively(Native Method)
[03:19:25 WARN]:        at java.io.File.createNewFile(File.java:1006)
[03:19

[2014-09-03 11:44] #6 closed, assigned to nobody

[2014-10-30 13:43] to175 opened #12 "[Server thread/ERROR] : PlayerLoginEvent - v4.0-SNAPSHOT"
Hello,
plugin was installed normaly and I think it works but I have :
 [Server thread/ERROR] : Could not pass event PlayerLoginEvent to AuthMe v4.0-SNAPSHOT
each time there is a newbie !

[2014-11-27 17:11] orkun1675 opened #13 "Database Caching?"
If the authme database is updated (password changed) the changes don't take effect in the server until a restart, or a few hours. I think this is because caching or storing local data that has been read from the database. How can I disable this?

[2015-01-07 20:25] Cysioland opened #14 "When something is wrong with MySQL, Spigot crashes"
Hi,
I posted crash log to Spigot, they told me that it's MySQL. After further snooping inside log file, I found your plugin. Please take a look at this.
Crash log: https://gist.github.com/Cysioland/6c7afc0b215ab9b43c7c

[2015-01-08 18:29] Xephi commented on #14
Huuum, really strange here :o , i will investigate, is the player already exist in database?

[2015-01-09 05:52] Cysioland commented on #14
I don't know, what player are you talking about

[2015-01-12 20:25] Ownercz opened #15 "Login session with BungeeCord"
Version: 3.5-Snapshot

Problem: After the player gets logged in at lobby server and moves to another server within BungeeCord network (like survival etc.) he has to login again.
Those servers have the same AuthMe plugin and configuration as well, but session login is not working on any of them.

Config: http://pastebin.com/FMrLXc3H

[2015-01-14 15:37] jqzua opened #16 "Items not stacking"
Hello,
I'm using version: 3.5-Snapshot
Sometimes, items don't stack correctly and you have to use more than one slot in the inventory.
When you try to group them, you can't.
They are more users with the same problem here:
http://www.spigotmc.org/threads/authme-reloaded-item-stacking-bug.39696/
http://www.spigotmc.org/threads/items-sometimes-dont-stack.29701/

Thank you

[2015-01-16 01:38] k3ldon commented on #16
me too!!

[2015-01-25 19:36] anson338 opened #17 "Xenforo database crashed after alter table"
After Altered table either Authme & Xenforo forum cannot insert any data
Xenforo Ver : 1.4.2
Authme Ver  3.5

[2015-01-28 22:36] gamecraft45 opened #19 "Fake Player"
Hi, I have problems with OpenComputers Fake Player and Authme. No error but if Authme loaded, Robot can't breake and place blocks.
  unrestrictions:
    UnrestrictedName:
    - '[OpenComputers]'

[2015-01-29 17:05] Cronosus opened #20 "mobs interaction/pickuping"
Hello
i found problem on authme.. deny inventory interaction inside mobs (companion) and mobs cannot pickup items

1.zombie/skeletons dond pickup items
2.i use mod Littlemaidmob, maids dont pickup items and i cant interact inside his inventory

AuthMe:3.4 - 3.5
No error log.
authme config: http://pastebin.com/6C3YzPLa
moded server: cauldron-1.7.10-1.1236.05.212
problem in mod littlemaid, but i tes

[2015-01-29 20:18] patrikmen opened #21 "problem with mysql when restart minecraft server"
hi, i have big problem when restart minecraft server.

i configure config.yml to work with mysql and i develop a module for drupal where the user register his account and set minecraft password. https://github.com/patrikmen/minelogin

work all perfectly, but if i restart my minecraft server table drop user data... not all... but only player don't have register a password.

it's a big problem. i do

[2015-02-02 17:29] orkun1675 opened #22 "Dev Build Bug"
When a player is killed by CombatTag before logging in, AuthMe throws errors: http://pastebin.com/ia5M7hbz

First error is shown on join (player was killed when logging out, escaping from PvP)
The second error is shown after hitting re-spawn and typing /login

[2015-02-04 20:40] hawkfalcon opened #23 "Maven repo is down"
http://repository-authme.forge.cloudbees.com/snapshot/

[2015-02-05 21:49] orkun1675 commented on #22
While fixing the NPE's we should also note that if the player died when logging out, AuthMe should not bring him back to the death location, but leave him at spawn. This actually works as intended right now (if we don't count the errors in console).

[2015-02-08 23:37] divination opened #24 "Joomla integration is not working"
Joomla has changed its password hashing algorithms from 2.5.18 for 2.x releases and from at least 3.2 for 3.x releases. So the JOOMLA.java implementation of md5 hashing is no longer applicable.
The way the current password creation works is that they check if the hashed password string starts with $P$ . If yes, they use new algorithms, if not, they use md5 for validation and then re-hash using the

[2015-02-14 21:20] Cronosus commented on #20
i set this in authme config, but still not working:
  unrestrictions:
    UnrestrictedName:
    - '[FakePlayer]'
    - '[Minecraft]'
    - '[[Minecraft]]'
    - '[EioKillera]'

[2015-02-15 20:25] Cronosus opened #25 "warn on join player"
[21:22:42] [Server thread/WARN] [/]: java.lang.IllegalStateException: Unable to find method getTypeId ([]).
[21:22:42] [Server thread/WARN] [/]: 	at com.comphenix.attribute.NbtFactory.getMethod(NbtFactory.java:817)
[21:22:42] [Server thread/WARN] [/]: 	at com.comphenix.attribute.NbtFactory.getMethod(NbtFactory.java:816)
[21:22:42] [Server thread/WARN] [/]: 	at com.comphenix.attribute.NbtFactory.<i

[2015-03-02 12:27] FirKys commented on #17
+1

[2015-03-03 13:15] IfarPL opened #26 "Make datasource operations run asynchronously."
All current database/file operations are run in main server thread. On big servers authme make a lot of lags. Solution of this problem might be to run the datasource operation in another thread.

[2015-03-03 21:37] Xephi commented on #26
Can you give me some examples in code ?

[2015-03-04 06:52] SimSonic commented on #23
@Xephi ?

[2015-03-04 20:15] IfarPL commented on #26
1. You should use AsyncPlayerPreLoginEvent instead PlayerLoginEvent
2. I think the best option is: load data to cache in PlayerJoinEvent and save to datasource in PlayerQuitEvent. All operations between these events are run on cache. Unfortunately this requires many changes in code.
Code example: http://pastebin.com/Y1yF7afG

[2015-03-04 20:45] Xephi commented on #26
AsyncPlayerPreLoginEvent isn't called in an offline server and DataSource operations are already in an another thread :O

[2015-03-04 20:58] IfarPL commented on #26
http://www.spigotmc.org/threads/call-asyncplayerpreloginevent-when-online-mode-false.2690/

I add a debug: System.out.println(Thread.currentThread().getName()); in MySQLThread.getAuth() method and output is: "Server thread", that mean is run in main server thread

[2015-03-04 21:13] Xephi commented on #26
Code was based on CraftBukkit not Spigot

And i will check that, it's anormal :')

[2015-03-05 03:08] robrobk opened #27 "question about protect inventory"
hi
which class does the plugin clear the players inventory?
i am trying to give the user blocks with names and lores that tell them important info
@Xephi

[2015-03-14 15:28] JunkyBulgaria opened #28 "Tick lag at Spigot 1.8"
http://i.imgur.com/Y9U3qRR.png here's the timings.
http://i.imgur.com/WTbY8f7.png

CPU increases at ~300% (CentOS) [which means all 8cores set are used at 100%]
Probably #26 is releated. (Using MySQL connections instead of SQLite)

PC Specs:
Intel Xeon E7-8820 (8cores for the server, rest are free)
128gb DDR3-ECC 1600MHz ram (32 allocated to the server)
SSD space.

[2015-03-22 12:55] orkun1675 commented on #28
I also have this lag problem with 3.5, but not with 3.4.

[2015-04-02 19:01] JunkyBulgaria commented on #28
@Xephi any ideas?

[2015-04-07 12:59] atomic7777 commented on #25
I have the same issue, but I also have it in my own plugin when I use comphenix NbtFactory.
I suppose it's not related to Authme, but it's comphenix.attribute.NbtFactory not working properly with Cauldron.
It's a big issu for me, because Cauldron 1.7.10 is still alive, still "maintained" by someone, and we don't have an alternative right now

[2015-04-18 14:01] JunkyBulgaria commented on #28
http://i.imgur.com/d29VtSA.png

Seems to be getting out of control at ~200online players with MySQL and 15k+ registered players.

[2015-04-20 21:44] Xephi commented on #28
I'm checking what's the problem, AuthMe 3.4 seems to be more stable at the moment :/

[2015-04-21 14:37] Xephi commented on #28
Have you enable cache in your config.yml ?

[2015-04-24 07:22] animexxx commented on #16
me too

[2015-04-24 23:08] JunkyBulgaria commented on #28
Yeah, it is.

[2015-04-25 20:33] Dimatert9 opened #30 "Could not pass event PlayerJoinEvent to AuthMe v5.0-SNAPSHOT"
[16:23:57 WARN]: [AuthMe] ERROR: Error on creating an inventory cache for leymooo_, maybe inventory wipe in preparation...
[16:22:01 ERROR]: Could not pass event PlayerJoinEvent to AuthMe v5.0-SNAPSHOT
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:305) ~[Spigot.jar:git-Spigot-2ec6f06-7722428]
        at org.bukkit.plugin.Register

[2015-04-27 17:25] MrWakeCZ commented on #14
I have same problem Spigot 1649 (1.7.10). http://pastebin.com/cScbPEcD
I think that this problem is in register command because if new player join and write command "/register password password" it crash it.

[18:50:54] [pool-5-thread-1/INFO]: Creating empty config: /hlserver/27053/plugins/Essentials/userdata/ab700d47-d6a7-3063-b0bb-821d9625d137.yml
[18:51:30] [pool-11-thread-1/INFO]: [CR] Server

[2015-04-27 18:10] Obsttube opened #31 "org.bukkit.event.EventException [spigot-1.8.jar:git-Spigot-c3c767f-33d5de3] caused by null pointer [?:1.7.0_75]"
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:305) ~[spigot-1.8.jar:git-Spigot-c3c767f-33d5de3]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigot-1.8.jar:git-Spigot-c3c767f-33d5de3]
        at org.bukkit.plugin.SimplePluginManager.fireEvent(SimplePluginManager.java:502) [spigot-1.8.jar

[2015-04-28 10:56] mmance commented on #25
I am also having this issue on 1.7.10 for Cauldron.  Other then the warning, the plugin seems to be working as expected.

[2015-05-01 23:58] Trojaner25 opened #34 "MySQLThread (any maybe other storage Threads) are not always synchronized with settings"
When starting a server with the latest AuthMe Dev Build, sometimes the MySQLThread (and maybe other Threads too?) are started even before the settings were fully read, so it can't get the correct database connection info and causes at https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/datasource/MySQL.java#L106 an NumberFormatException since port equals null. This ex

[2015-05-02 00:03] Trojaner25 commented on #31
Fixed in #33

[2015-05-02 00:04] Trojaner25 commented on #30
Fixed in #33

[2015-05-02 16:02] k3ldon opened #35 "cannot compile"
with maven i get alot errors

http://paste.ubuntu.com/10971114/

[2015-05-03 15:01] Kongolan commented on #16
Same here and needs urgent fix!

[2015-05-03 15:03] Kongolan opened #36 "Unregistered Players with forceRegistration on false can't hit mobs"
There is a problem in AuthMeEntityListener.java

The 	public void onDmg(EntityDamageByEntityEvent event) method needs

if (!data.isAuthAvailable(name)) {
            if (!Settings.isForcedRegistrationEnabled) {
                return;
            }
}

be added as well at line 119!

[2015-05-03 15:07] Kongolan opened #37 "Unregistered Players always spawn on Spawn when forceRegistration = false"
There is an error on the onJoin method on AuthMePlayerListener line 695

   if (!Settings.isForcedRegistrationEnabled) {
                return;
   }

needs to be before

if (!Settings.noTeleport) ...

So switch the order on it to solve this.

[2015-05-04 14:00] Xephi commented on #36
Fixed

[2015-05-04 14:00] #36 closed

[2015-05-04 14:01] Xephi commented on #37
Thanks ! Fixed

[2015-05-04 14:01] #37 closed

[2015-05-04 14:02] Xephi commented on #35
It seems you try to compile to source 1.3, AuthMe compile from 1.5 to 1.8 source (java)

Xephi

[2015-05-04 14:02] #35 closed

[2015-05-04 14:15] #31 closed

[2015-05-04 14:15] #30 closed

[2015-05-04 14:16] Xephi commented on #27
You can listen to AuthMe Events : https://github.com/Xephi/AuthMeReloaded/tree/master/src/main/java/fr/xephi/authme/events

[2015-05-04 14:37] Xephi commented on #23
Need to buy a little server to put a maven + jenkins :')

[2015-05-04 14:37] #23 closed

[2015-05-04 14:42] #22 closed

[2015-05-04 14:42] Xephi commented on #22
Fixed

[2015-05-04 14:43] Xephi commented on #21
Reload seems to be really bugger :/

[2015-05-04 14:43] #21 closed

[2015-05-04 14:49] patrikmen commented on #21
Yep really bugged
Il 04/mag/2015 16:43 "Alexandre Vanhecke" <notifications@github.com> ha
scritto:

[2015-05-04 15:00] k3ldon opened #38 "Performance with mysql"
this config is not working if you use mysql by default, after reboot

Performances:
    useMultiThreading: true

after reboot:
Performances: {}

[2015-05-04 15:32] Xephi commented on #38
huuum cause i've removed it :p it's enabled by default :')

[2015-05-04 15:32] #38 closed

[2015-05-04 16:25] k3ldon commented on #38
ok ty

[2015-05-07 11:33] Kongolan opened #39 "Latest Github compilation is totally broken"
I just compiled your new code and finally everyone can login without being asked for any password! The plugin loads without any errors or such, but it seems like the storage backend is fully broken. Also /register has an internal problem for what ever reason.

I really need a quick fix for this, people are taking over Staff accounts already....

[2015-05-07 15:50] Trojaner25 commented on #39
You should try to downgrade, also posting the error logs would be helpful...

[2015-05-07 20:12] Kongolan commented on #39
There are no error logs at all... Which is the interesting part about it. Seems like the flat file just isn't read or loaded.

The latest dev build doesn't have the attribute fix in it and either has my 2 suggest fixes which are essential for forceRegister = false. So i actually run my patched version for over 2 years now, but i just updated my full ressource, when those fixes were made.

[2015-05-07 20:51] Qballl opened #40 "Passwords lost on restart"
Ok I dont have a console log as there appears to be no errors. The problem I have is everytime I restart my server it seems the passwords are lost with the newest snapshot 5.0 whatever. Can you help?

[2015-05-08 18:42] k3ldon opened #41 "AuthMe v5 allow use commands"
the latest authme allow any commands before /register or /login

=/

[2015-05-10 17:54] Trojaner25 commented on #41
Can't confirm this on the latest dev build...

[2015-05-10 19:01] Xephi commented on #41
Have tested and i can't :o

[2015-05-10 19:05] k3ldon commented on #41
mmm maybe is only with bungeecord...
i can use /server skyblock without login

[2015-05-11 13:53] Trojaner25 opened #42 "Random NPE when starting server"
http://hastebin.com/anequwelow.avrasm

Everyone was able to do anything without logging in (logins failed completly)
There should maybe a try catch when loading the config, which will shutdown the server if loading the config fails.

However, after restarting the server everything was fine

[2015-05-11 15:36] Trojaner25 opened #43 "Players are not recognized correctly"
When a player who is registered joins, the plugin still sends the "register using /register password password" message. The player won't be able to log in (-> nickname not registered or something).

When the player relogs, he will be able to login normally until the next server restart.

[2015-05-11 18:07] Trojaner25 commented on #39
Maybe its related to #34

[2015-05-13 13:44] Dimatert9 opened #44 "authme 3.5 sql crash"
http://hastebin.com/cewavunevi.avrasm
how fix it? it is not the first time

[2015-05-16 22:38] evernife opened #45 "MOD"
Aren't there a way to convert this plugin in a Forge MOd? It is too difficult ?

[2015-05-16 23:26] Trojaner25 commented on #45
Why?

[2015-05-16 23:30] evernife commented on #45
Because there isn't exits an effective mod that do this....
For exemple, we have the FE module, but, that module can easy dupe itens...

[2015-05-18 04:54] nhanb commented on #16
I've got this bug too. According to [this comment](http://dev.bukkit.org/bukkit-plugins/authme-reloaded/tickets/922-item-stacking-bug/?comment=2), it's because AuthMe added some `tag` field to the item. What's the priority for a fix for this? I'm more than willing to help out if someone could tell me what that `tag` is used for and where the relevant code is.

[2015-05-18 15:30] Kongolan commented on #16
@nhanb The code is at com.comphenix.attribute. The attribute system is called by the item storage, when someone logout (i assume this). I can't find any fix for it myself, i tried already.

[2015-05-19 11:22] nhanb commented on #16
Hmm no luck from my side either. @Kongolan: I'm sorry if this is off-topic but do you happen to know an alternative to AuthMe that works for 1.8?

[2015-05-19 11:40] k3ldon commented on #16
try with that...
https://drive.google.com/file/d/0ByxJmcDQPwmLaDFrYlNsbW5ldUE/view?usp=sharing

[2015-05-20 10:22] Trojaner25 commented on #16
@k3ldon I decompiled it, you are using a very dirty solution. I will break all plugins which use NBT Tags...

[2015-05-20 11:33] k3ldon commented on #16
well only if you use nbt tags... if you find a better solution post it :D

[2015-05-23 15:32] Dimatert9 commented on #44
again

[2015-05-23 15:51] Dimatert9 commented on #44
and again. But new error.
[11:44:23] [Spigot Watchdog Thread/ERROR]: Current Thread: Server thread
[11:44:23] [Spigot Watchdog Thread/ERROR]: 	PID: 18 | Suspended: false | Native: false | State: RUNNABLE
[11:44:23] [Spigot Watchdog Thread/ERROR]: 	Stack:
[11:44:23] [Spigot Watchdog Thread/ERROR]: 		fr.xephi.authme.cache.backup.FileCache.createCache(FileCache.java:110)
[11:44:23] [Spigot Watchdog T

[2015-05-24 01:43] Kongolan commented on #16
@nhanb No need for another plugin, i just wait for the update of it. Hope it's soon. It doesn't even influences gameplay this much.

[2015-05-26 10:53] Xephi commented on #42
Done

[2015-05-26 10:53] #42 closed

[2015-05-26 10:54] Xephi commented on #41
Cause Bungeecord command don't depand of bukkit api , it seems to be catch before the call of the event

Xephi

[2015-05-26 10:54] #41 closed

[2015-05-26 11:12] Xephi commented on #16
Fixed : https://github.com/Xephi/AuthMeReloaded/commit/514d5bfe6e7f5e7f0f2ca01b1923ec9bcfe1c0dd

[2015-05-26 11:12] #16 closed

[2015-05-26 11:14] Xephi commented on #43
Huuum maybe some corruption in database during transition, checking it!

[2015-05-26 19:46] Trojaner25 commented on #40
Does a reconnect of the player fix that problem?

[2015-05-26 19:46] Trojaner25 commented on #43
This is maybe a duplicate of #40
But there were not enough details provided on that issuse

[2015-05-26 20:17] evernife opened #46 "Error 1.7.10"
Get this errors when a player join.
http://pastebin.com/JXzWrYve

[2015-05-26 23:41] Qballl commented on #40
yes

On Tue, May 26, 2015 at 2:46 PM, Trojaner <notifications@github.com> wrote:

--
Qvanbooven513

[2015-05-27 00:35] iBars commented on #40
The same! Anyone has 3.5 sources?

[2015-05-28 00:51] Qballl commented on #40
Update Im using it still and it is now working fine but it may be just like the #43 but Ive not tested it yet

[2015-05-28 17:02] Asmprog opened #47 "caching nickname case error."
It seems to me that there is an error:
https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/datasource/CacheDataSource.java#L27

put in cache not lowercase, but cache.containsKey lowercase.

https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/datasource/CacheDataSource.java#L37
https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/j

[2015-05-28 18:20] Worldbeater commented on #47
+1

[2015-05-28 19:40] Trojaner25 commented on #47
+1

[2015-05-28 20:30] Xephi commented on #47
Fixed https://github.com/Xephi/AuthMeReloaded/commit/b75adf6a981e68d350ee6d5d6056f023f217c290
Sorry u.U

[2015-05-28 20:30] #47 closed

[2015-05-28 23:24] Xephi commented on #46
Fixed : https://github.com/Xephi/AuthMeReloaded/commit/514d5bfe6e7f5e7f0f2ca01b1923ec9bcfe1c0dd

[2015-05-28 23:24] #46 closed

[2015-05-28 23:26] Xephi commented on #44
Already Fixed

[2015-05-28 23:26] #44 closed

[2015-05-28 23:27] Xephi commented on #43
Fixed

[2015-05-28 23:27] #43 closed

[2015-05-28 23:28] Xephi commented on #40
Seems to be fixed : https://github.com/Xephi/AuthMeReloaded/commit/b75adf6a981e68d350ee6d5d6056f023f217c290
If you can test :)

[2015-05-28 23:30] Xephi commented on #28
Ok i think it's fixed for now, can you test?

[2015-05-28 23:30] #27 closed

[2015-05-28 23:30] Xephi commented on #25
Fixed https://github.com/Xephi/AuthMeReloaded/commit/514d5bfe6e7f5e7f0f2ca01b1923ec9bcfe1c0dd

[2015-05-28 23:30] #25 closed

[2015-05-28 23:32] #13 closed

[2015-05-28 23:32] #12 closed

[2015-05-28 23:35] Xephi commented on #15
i think datas are not update in time, looking in

[2015-05-30 17:25] Kedarin opened #48 "Bug reg_only"
When players are trying to connect message is displayed them I do not understand:
Registered players only! Please visit http://example.com to register

[2015-05-30 17:44] Xephi commented on #48
kickUnregistered on true

Or :

registration->enabled on false

Xephi

[2015-05-30 18:37] Kedarin commented on #48
kickUnregistered on true ---> don't have

registration->enabled on false ---> After her: Registration is disabled

[2015-05-31 19:01] i-rme opened #49 "Suggestion: Kick user if is using the same name but with other case"
In the current version, a user called Notch can login with the username "NotCH", use the same password (/login) to login and he can play.

The problem is that some plugins expect that Notch is a different user than NotCH causing some issues (Users can dupe /money if they do certain trick with different name cases).

Some months ago a plugin kicked the user if he logged in with different case that

[2015-06-01 08:06] Kedarin commented on #48
i Think it's ok

[2015-06-03 13:39] Nyqi opened #50 "Lowercase"
Do you think you can add option to disable lowercasing for player names in database? Thanks :)

[2015-06-03 16:42] Maxetto opened #51 "Password security issues"
So, I've setup some unsafe passwords and, besides that it's telling "The passwords doesn't match" while it could be telling some specific messages like "This password is not safe, choose another", there's an high security issue with /changepassword.

In fact, while it's blocking unsafe passwords and too short passwords during register, with /changepassword neither of these 2 are checked. Results i

[2015-06-04 14:47] Kedarin commented on #48
Still the same problem, I put MaxRegIp = 0 suddenly they can have infinite account ..

[2015-06-04 15:00] Xephi commented on #48
Expected ^^"

2015-06-04 16:47 GMT+02:00 Kedarin <notifications@github.com>:

[2015-06-05 14:00] Kedarin commented on #48
So how fixed? ^^

[2015-06-05 14:46] Kongolan opened #52 "PlayerMovementEvent Problem with forceRegistration = false"
Line 356 needs to check for

  if (!data.isAuthAvailable(name)) {
            if (!Settings.isForcedRegistrationEnabled) {
                return;
            }
 }

[2015-06-05 15:28] Dimatert9 opened #53 "NickName issue."
allowedNicknameCharacters: '[a-zA-Z0-9_]*'
but see picture.    http://i.gyazo.com/ca068023103fd02b1b3b060b07711798.png
there is russian symbols

[2015-06-06 00:15] Kongolan opened #54 "Some Error with TaskID canceling"
http://www.spigotmc.org/threads/auto-in.19040/page-51#post-775310

Self explaining :)

[2015-06-06 00:26] Xephi commented on #54
Looking in..

[2015-06-06 03:45] prozhong opened #55 "Lowercase user name related"
hi~ I use the 3/6/2015 snapshot build from CI server
And I met this:

Let's say my username is 'user' and I have an alt named 'User',
when my alt first join , it doesn't let me register,I can use the password set by 'user';
I see account 'user' and 'User' share the same password.

Its that intended?

Here is another problem but caused by essentials: 'user' and 'User' share the balance number and t

[2015-06-06 13:07] Kongolan commented on #54
AuthmePlayerListener line 834:
 limbo.getTimeoutTaskId().cancel();

Seems like the Task isn't properly set sometimes for my players. It is normally set in line 738

The numbers can differ for like 2-3 lines, because i added the PlayerMovementFix already, which i reported below.

[2015-06-06 14:32] Dimatert9 commented on #53
http://i.gyazo.com/b031dc473c51c0d9afb447c1eb108e91.png

[2015-06-06 14:40] Dimatert9 commented on #53
please
fix it. i dont can ban his player. /gamemode 1. in his nickname he has space.
FIX IT

[2015-06-06 17:46] Kongolan commented on #54
So far i can see is that most of the problem happen, when using /ai iamnowpremium with Auto-In. Because it does access the API and bypass the normal PlayerLoginEvent, which does fill the Limbo.setTimeoutTask

[2015-06-06 20:48] ArcasCZ commented on #25
Where i can download this new version?

[2015-06-06 21:32] Xephi commented on #25
http://ci.xephi.fr
 Le 6 juin 2015 22:48, "ArcasCZ" <notifications@github.com> a écrit :

[2015-06-06 21:47] sgdc3 commented on #25
Here in Italy your ci appears offline!

[2015-06-06 21:48] sgdc3 opened #56 "Drop Spout, Notifications and old xAuth support"

[2015-06-07 00:31] Kongolan commented on #54
Last edit, did put a try / catch around the 3 cancel() NPE and seems to work so far.

[2015-06-07 11:14] sgdc3 opened #57 "Fix build server uptime"
ci.xephi.fr

[2015-06-07 14:06] Xephi commented on #25
Host down u.U ticket open on hoster service, sorry x)

[2015-06-08 01:41] prozhong commented on #57
sometimes offline

its normal

[2015-06-08 08:50] Xephi commented on #57
Re-up, i hope :'(

[2015-06-08 12:27] sgdc3 commented on #57
It works! ;)

[2015-06-08 13:56] anchoretics opened #58 "Cannot invoke size() on the array type Player[]"
hi~

when i use git clone the master,build in my eclipse,
there are some errors "Cannot invoke size() on the array type Player[]" in AuthMe.java,etc...
then i review the code, found that in brunch 4.0,the code in AuthMe.java and line 450 is:
      Bukkit.getOnlinePlayers().length != 0
but in the master's AuthMe.java line 456 is:
      Bukkit.getOnlinePlayers().size() != 0
i know that Bukkit.getOnl

[2015-06-08 14:15] anchoretics commented on #58
I think it's my faults, the master brunch is 5.0 version , and my bukkit server is 1.7.9, and in
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/files/  there is version 3.5 for server 1.7.9,
so where is the souce code for v3.5 ? is brunch 4.0 can be used in 1.7.9?

[2015-06-09 01:48] prozhong commented on #53
I met a player named 'xiao xing'....As you can see...one space in his name....weird and I can't add permission to him

[2015-06-10 06:45] Dimatert9 commented on #53
@Xephi Fix it please. ASAP

[2015-06-10 21:30] #53 closed

[2015-06-10 21:30] Xephi commented on #53
Fixed

[2015-06-10 22:04] Xephi commented on #58
branch 4.0 is not safe for use and will be removed

[2015-06-10 22:50] Xephi commented on #56
Why?

[2015-06-10 22:59] Xephi commented on #54
Fixed ? https://github.com/Xephi/AuthMeReloaded/commit/a1c09aecfcb384387010812c0a6848f1739fe3d9

[2015-06-10 23:06] Xephi commented on #52
Thanks ! Fixed : https://github.com/Xephi/AuthMeReloaded/commit/aa957cc7c983a4b48cc4dbb07b9971a53dace27b

[2015-06-10 23:06] #52 closed

[2015-06-10 23:10] Kongolan commented on #54
It also fires on PlayerQuitEvent and somewhere else in PlayerListener, what i forgot.

[2015-06-10 23:14] Xephi commented on #51
Added here : https://github.com/Xephi/AuthMeReloaded/commit/de2961b75418634c08ccb9f8749e4f31498a8c2c
You can find builds here : http://ci.xephi.fr

[2015-06-10 23:14] #51 closed

[2015-06-10 23:18] Xephi commented on #54
Added

[2015-06-10 23:20] Xephi commented on #48
All of your player can't join cause they're not registered ? , what's your authme version please?

[2015-06-10 23:21] Xephi commented on #45
if someone want to do it, i have no free time to do something like that :/ sorry, but , for real, if someone want to code it, just send me a mail :)

Sorry :/

Xephi

[2015-06-10 23:21] #45 closed

[2015-06-10 23:22] Xephi commented on #39
Fixed? :/

[2015-06-10 23:38] Kongolan commented on #39
Yes already on last commits.

[2015-06-10 23:42] #39 closed

[2015-06-10 23:51] #54 closed

[2015-06-11 08:20] sgdc3 commented on #56
Because they are outdated, if you remove them you can semplify the code and you can use true maven dependencies (no more libs directory). Nobody uses Spout or the old xAuth by CypherX anymore.

[2015-06-12 11:31] Trojaner25 commented on #58
This is caused by an outdated craftbukkit build. This commit: https://github.com/Bukkit/Bukkit/commit/0d9771acf6e59ca77fea3f55a33508661bcf7a5d on newer builds changed the behaviour of getOnlinePlayers(). It doesn't return a Player[] array anymore, instead a Collection<? extends Player> is returned. This version of AuthMe seems to call getOnlinePlayers() and excepts the new Collection instead of an

[2015-06-12 20:47] wendaf opened #59 "The Plugins don't start"
I have put the plugin in my folder plugins but the plugins dont load
why?
help me please.

[2015-06-13 12:21] sgdc3 commented on #59
Can you post your console log please?

[2015-06-13 13:27] wendaf commented on #59
I have change the plugin : http://dev.bukkit.org/bukkit-plugins/authme-reloaded/
it work
this plugin : http://www.spigotmc.org/resources/authme-reloaded.6269/
don't work

[2015-06-13 18:52] sgdc3 commented on #59
Are you using latest spigot version? (1.8.7)

[2015-06-15 12:09] Maxetto commented on #51
Reopening that, missing the lenght and unsafe password checks.
(From the registration class:)
        if (password.length() < Settings.getPasswordMinLen || password.length() > Settings.passwordMaxLength) {
            m.send(player, "pass_len");
            return;
        }
        if (!Settings.unsafePasswords.isEmpty()) {
            if (Settings.unsafePasswords.contains(password.toLowerCase())

[2015-06-15 12:47] sgdc3 commented on #56
Bump

[2015-06-15 13:19] sgdc3 commented on #57
Still OFFLINE.....

[2015-06-15 18:38] Trojaner25 commented on #57
It's offline for me too

[2015-06-16 11:33] Xephi commented on #57
Online for now ... Hosting service is pretty useless, i think i will change for an another one T.T

[2015-06-16 13:31] sgdc3 commented on #57
Renamed issue

[2015-06-17 20:03] sgdc3 opened #62 "Enhance SpigotMC resource page!"

[2015-06-17 21:18] sgdc3 opened #64 "A gitter chat room"
http://gitter.im

[2015-06-18 14:07] #64 closed

[2015-06-18 14:08] sgdc3 opened #68 "An official bungeecord module."

[2015-06-19 12:42] Maxetto opened #69 "Password security issues (continued)"
Reopening #51 , missing the lenght and unsafe password checks.

(From the registration class:)
if (password.length() < Settings.getPasswordMinLen || password.length() > Settings.passwordMaxLength) {
m.send(player, "pass_len");
return;
}
if (!Settings.unsafePasswords.isEmpty()) {
if (Settings.unsafePasswords.contains(password.toLowerCase())) {
m.send(player, "password_error");
return;
}
}

Plus, I

[2015-06-21 10:47] Zeluboba opened #70 "Strange architecture"
Hello, I'm a new user of authme (used it like 3 years ago last time), was looking source code for modifying my forum table to use it with authme and I wonder about few things, maybe you'll explain me why are they made this way:

[url=https://github.com/Xephi/AuthMeReloaded/blob/e8f342010ca02fb31c995c9b0eb9731ee6f724d9/src/main/java/fr/xephi/authme/datasource/MySQLThread.java#L121] MySQLThread.java

[2015-06-21 10:54] Xephi commented on #70
lastlogin is set to a default value, it's due to some problem with Session, but it do not interfers with any forum cause lastlogin use a timestamp in milliseconds, world can be null cause main world isn't called world as default

[2015-06-21 10:56] Zeluboba commented on #70
Okay, thank you for explanation.
Can I use forum user id column or should I create separate one for authme?

[2015-06-21 10:57] Xephi commented on #70
nop you can use forum id column, as it's an auto incremantation field

[2015-06-21 11:07] Zeluboba commented on #70
Ok, thought so, but maybe you do some weird stuff with auto increment fields :) thank you for your answers!

[2015-06-21 11:10] Xephi commented on #70
You're welcome ;)

[2015-06-21 11:10] #70 closed

[2015-06-21 11:13] Xephi opened #71 "Speed Up Compilation"
Idk why, but with that new pom, compilation took so much time to re-download each metadata from all repo \*_\*

[2015-06-21 14:56] madtomic opened #72 "AuthMe 5.0 for 1.7.10"
Hi,

Will there be a 1.7.10 release for the v5.0 build?

madtomic

[2015-06-21 17:29] sgdc3 commented on #72
It should also work on 1.7.10 servers. (SHOULD) ;)

[2015-06-21 17:30] sgdc3 commented on #71
Travis or Jenkins compilation?

[2015-06-21 17:55] sgdc3 commented on #71
It freezes at: Downloading: http://dev.escapecraft.com/maven/org/bukkit/bukkit/1.8-R0.1-SNAPSHOT/maven-metadata.xml

[2015-06-21 17:57] sgdc3 commented on #71
It tries to find bukkit on every repository.

[2015-06-21 18:00] sgdc3 commented on #71
Ok I find the problem, I will create a pull request soon.

[2015-06-21 19:38] Xephi commented on #71
thanks for the pr ^^

[2015-06-21 22:41] sgdc3 commented on #71
Fixed? ;)

[2015-06-21 22:52] sgdc3 commented on #71
Still 6 minutes on travis. The problem is Travis doesn't have a storage as cache for maven files. I think the only way to speed up the compilation is to remove useless maven downloads from all the repositories.

[2015-06-21 23:16] sgdc3 commented on #71
In my latest pr I enabled travis cache ;)

[2015-06-21 23:18] sgdc3 commented on #59
I think this issue should be closed.

[2015-06-22 23:07] Xephi commented on #58
Fixed also https://github.com/Xephi/AuthMeReloaded/commit/4e75fb76d0cc8b971922c3ce206469df7a7d2567

[2015-06-22 23:07] #58 closed

[2015-06-22 23:08] Xephi commented on #72
Fixed just now to support old version of bukkit

[2015-06-22 23:08] Xephi commented on #72
https://github.com/Xephi/AuthMeReloaded/commit/4e75fb76d0cc8b971922c3ce206469df7a7d2567

[2015-06-22 23:08] #72 closed

[2015-06-23 05:23] anchoretics commented on #58
ok，i will use the master branch.
so i modified the code, and rebuild it for my Bukkit version 1.7.9-R0.2, it works!

[2015-06-23 12:12] sgdc3 commented on #71
Check PR n° #75

[2015-06-24 11:45] i-rme opened #76 "Important issue, user can login without password (AuthMe - 5.0-Dev)"
I am using this version in a test server: http://dev.bukkit.org/bukkit-plugins/authme-reloaded/files/72-auth-me-5-0-dev/

The bug:
-Setup a offline-mode server with AuthMe - 5.0-Dev
-Log in with the player Test11 register the account with a password.
-While logged in with Test11 try to login with the name TEST11.
-The account TEST11 can sucesfull login without any password.

Test11 and TEST11 acco

[2015-06-24 19:03] sgdc3 commented on #76
are you using mysql or sqlite?

[2015-06-24 19:04] i-rme commented on #76
Sqlite

I just test it with a clean install.

Spigot on Windows

2015-06-24 21:03 GMT+02:00 Gabriele C. <notifications@github.com>:

[2015-06-24 19:07] sgdc3 commented on #76
We should try to build the project excluding latest commit...

[2015-06-24 19:09] sgdc3 commented on #76
Wait, where did you download the dev build? have you compiled it yourself?

[2015-06-24 19:38] i-rme commented on #76
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/files/72-auth-me-5-0-dev/

Can you replicate the issue?

2015-06-24 21:09 GMT+02:00 Gabriele C. <notifications@github.com>:

[2015-06-25 00:46] authme opened #77 "I am using "KCauldron" Server, but the plugin does not support."
Although the server can be loaded normally, but all commands are unusable.

KCauldron is an updated version of Cauldron server, corresponding to the client version 1.7.10.

KCauldron's Web Site: https://gitlab.prok.pw/Prototik/KCauldron

The KCauldron supports only 3.5 version of the plugin, but it's 5.0 now...

The plugin can consider supporting it?

Thank you very much!

[2015-06-25 12:29] Trojaner25 commented on #77
Its a KCauldron issue, not an Authme issue.

[2015-06-25 16:04] sgdc3 commented on #77
@Trojaner25 How do you know that? AuthMe should be compatible with all 1.7.10 servers, also KCauldron. If there are compatibility issues with non craftbukkit/spigot implementations this is a problem!

[2015-06-26 03:42] Dimatert9 commented on #76
And what? Thay cant hack your server. Because player test11 and TEST11 have different UUID.

[2015-06-26 07:18] i-rme commented on #76
Yes, they can, some plugins asume that Notch and NoTCH are the same user.

2015-06-26 5:42 GMT+02:00 Dimatert9 <notifications@github.com>:

[2015-06-26 10:55] authme commented on #77
Trojaner25, "Its a KCauldron issue, not an Authme issue.", your mean's the Server supported Plugin but Plugin not to supported the Server? What...Are you kindding me?...

[2015-06-26 11:19] Trojaner25 commented on #77
@authme No, the plugin supports the server but not the server the plugin.

@sgdc3 Authme supports the latest vanilla craftbukkit 1.7.10 servers, even if not, this commit: https://github.com/Xephi/AuthMeReloaded/commit/4e75fb76d0cc8b971922c3ce206469df7a7d2567 should have fixed it.

[2015-06-26 11:21] authme commented on #77
Thanks, I try again, I think I should be overlooked something.

[2015-06-26 11:22] Trojaner25 commented on #77
However, do you have any exceptions or something? Any "Warnings" or "Severe" errors in console?

[2015-06-26 11:23] authme commented on #77
...No, I can't find any Warnings Or ERROR, but Is not worked.

[2015-06-26 11:26] Xephi commented on #77
Can I have your starting logs? (paste them on pastebin/whatever else)

[2015-06-26 11:35] authme commented on #77
Please wait, I find the log.

[2015-06-26 11:36] authme commented on #77
[19:35:19] [Server thread/WARN]: =============================================================
[19:35:19] [Server thread/INFO]: [AuthMe] Loading AuthMe v${version}
[19:35:19] [Server thread/INFO]: KCauldron: Patching org.bukkit.craftbukkit.v1_7_R4.CraftWorld for compatibility with Mystcraft
[19:35:20] [Server thread/INFO]: KCauldron: Patching ms for compatibility with Mystcraft
[19:35:20] [Server

[2015-06-26 11:37] authme commented on #77
And you can see, I can't register the player (Client registration is not work too), and change passworld, and do any thing...

[2015-06-26 11:58] Trojaner25 commented on #77
Error occurred while enabling AuthMe v${version} (Is it up to date?)
java.lang.NoClassDefFoundError: net/milkbowl/vault/permission/Permission

You are missing vault

[2015-06-26 12:59] authme commented on #77
But, I compiled by latest source code...

[2015-06-26 14:09] sgdc3 commented on #77
Try to download latest Vault version here: http://dev.bukkit.org/bukkit-plugins/vault/

[2015-06-26 14:10] sgdc3 commented on #76
Try this version (latest dev build): http://xephi.fr:8080/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.0-SNAPSHOT.jar

[2015-06-26 14:38] i-rme commented on #76
I tried that version and it still happens.

Can you reproduce the bug?

Its simple, start a spigot server (1.8.7, latest builds) on windows (offline mode, without any other plugin), login with Sgdc3 username for example, /register password password and then login with SGDC3 to the server.

The SGDC3 user can enter the server and chat without password,

[2015-06-26 14:49] authme commented on #77
YES, the problem is missing Vault Plugin, but latest version is not supported 1.7.10, only supported 1.8+...

[2015-06-26 15:23] Xephi opened #78 "Make Threads works correctly"
I need to rework custom Thread, it appears they actually stop and all request are executed in Main Thread, but overload the CPU is a pretty bad idea è_é

[2015-06-26 18:35] Trojaner25 commented on #77
Since this isn't really a bug or something:

#close request

[2015-06-26 19:53] sgdc3 commented on #77
Latest 1.7.10 Vault version: http://dev.bukkit.org/bukkit-plugins/vault/files/47-vault-1-4-1/

[2015-06-26 19:57] sgdc3 commented on #76
@Xephi

[2015-06-26 20:03] Xephi commented on #76
Due to change from PlayerLoginEvent to AsyncPlayerPreLoginEvent, will check it

[2015-06-27 01:17] Xephi commented on #76
i have re-change it to PlayerLoginEvent for temporary time, while i'm checking why
http://ci.xephi.fr

[2015-06-27 01:49] authme commented on #77
YES, the problem only is lost Vault Plugin. To download it!

[2015-06-27 01:49] #77 closed

[2015-06-27 02:21] Xephi commented on #78
I hope ! https://github.com/Xephi/AuthMeReloaded/commit/030e9b599e86b38073a2cdf73f58507df876ed7b

[2015-06-27 02:27] #71 closed

[2015-06-27 02:27] Xephi commented on #28
http://ci.xephi.fr

[2015-06-27 02:52] #59 closed

[2015-06-27 10:08] JunkyBulgaria commented on #28
Yes, it is.

[2015-06-27 10:08] #28 closed

[2015-06-27 10:43] orkun1675 commented on #76
Please keep using the AsyncPlayerPreLoginEvent, as the PlayerLoginEvent causes lag and freezes up the server during bot attacks.

To fix this player name case issue i am using this custom plugin that removes dublicat DAT files and forces a single case for usernames: https://github.com/Shevchik/DatDuplicateRemover
AuthMe can include the exact same code from this plugin to prevent case issues, the o

[2015-06-27 10:45] orkun1675 commented on #55
Please merge this with #76

[2015-06-27 10:45] orkun1675 commented on #50
Look at #76 for work-around

[2015-06-27 10:46] orkun1675 commented on #49
Merge with #76

[2015-06-27 10:49] orkun1675 opened #79 "/changepassword should check if Alpha-Numeric"
I have been long waiting for this feature so if you could add it real quick it would be nice.

Player are typing /changepassword myOldPassword newPasswordWithWierdCharsöç
and because AuthMe doesnt check if the new password is alpha numeric (a-z, A-Z, 0-9, _?.*); they cant log back in to the game. MySQL doesn't support such wierd chars and so shouldn't authme.

[2015-06-27 11:10] Trojaner25 commented on #34
Push

[2015-06-27 11:13] Trojaner25 commented on #78
Related to #34 ?

[2015-06-27 11:25] Xephi commented on #78
Yes but not only :) I will make some other changes

[2015-06-27 12:52] sgdc3 commented on #57
Ovh is a really good hosting service, probably there is an incorrect/incomplete configuration.

[2015-06-27 13:06] sgdc3 commented on #14
Still an issue or it's fixed? @Xephi

[2015-06-27 13:06] sgdc3 commented on #14
Still an issue or it's fixed? @Xephi

[2015-06-27 14:17] Trojaner25 commented on #14
I can confirm this on 3.5, will test it on the latest 5 Dev

[2015-06-27 16:47] sgdc3 commented on #14
@Trojaner25 Thank you ;)

[2015-06-27 18:24] Trojaner25 commented on #14
This may take some time, since it only happens 1x a week or something

[2015-06-27 23:51] Xephi commented on #79
https://github.ciom/Xephi/AuthMeReloaded/commit/2aab1d67bb93c72005d6fbba8418271653d28367

I'm really sorry for that delay ...  i was really busy, but it seems ok now :$

[2015-06-27 23:51] #79 closed

[2015-06-28 00:03] Xephi commented on #79
Added in /register too

[2015-06-28 00:07] Xephi commented on #69
Ficed

[2015-06-28 00:07] #69 closed

[2015-06-28 00:08] Xephi commented on #79
Ok, was already ok >.< but i've the specific rules : password must be different from username

[2015-06-28 00:17] Xephi commented on #76
Idk why, but when i set Result Event to KICK_OTHER on AsyncPlayerPreLoginEvent, the player login anyway

[2015-06-28 03:17] Maxetto commented on #69
Very much thanks. This is a great security improvement for both users and server admins! :D

However, I think it still missing the lenght check. I will check tomorrow.

[2015-06-28 08:16] prozhong commented on #76
maybe look at this https://github.com/Shevchik/DatDuplicateRemover

[2015-06-28 19:16] i-rme commented on #76
Thanks, with **DatDuplicateRemover** this issue gets fixed and also the user is only allowed to login with one username case.

This sould be merged into AuthMe because it should be in every single offline-mode server.
This also helps the banning system, users used to change username case to evade the ban system based on uuid.

Thanks, :thumbsup::thumbsup::thumbsup::thumbsup:

[2015-06-29 02:42] prozhong opened #80 "Regex Syntax allowedNicknameCharacters: '[a-zA-Z0-9_]*'"
How does '[a-zA-Z0-9_]*' work when check player's name?
Seems one can register a username with space , like 'a name'?

This may cause huge amount issues...like I cant ban a player named 'a name'

[2015-06-30 14:10] Dimatert9 commented on #80
Its was fixed. Try update your authme.

[2015-06-30 17:42] sgdc3 opened #81 "Why not VaultApi?"
Why not VaultApi instead of Vault as dependency?

[2015-06-30 21:23] Xephi commented on #57
Build server is temporary offline ...

[2015-07-01 13:52] Xephi commented on #81
Fixed

[2015-07-01 13:52] #81 closed

[2015-07-01 13:54] sgdc3 commented on #81
Thanks ;)

[2015-07-01 14:14] Xephi commented on #80
Fixed :O

[2015-07-01 14:14] #80 closed

[2015-07-01 14:16] Xephi commented on #76
Iterate all .dat file at each login of players ... \#DecreasePerformancePlease

[2015-07-01 14:43] sgdc3 commented on #14
@Trojaner25 @Xephi Fixed?

[2015-07-01 15:04] prozhong commented on #76
didn't it create a cache ? I thought it only lag when loading that plugin

anyway its a solution?

[2015-07-01 16:29] Xephi commented on #68
In developpement :)
https://github.com/Xephi/AuthMeBridge

[2015-07-01 16:32] sgdc3 commented on #68
@Xephi Read my issue in the new project

[2015-07-01 18:08] orkun1675 commented on #76
yeah it caches it, no performance decrease

[2015-07-01 18:12] Trojaner25 commented on #14
Seems like no crashes happened

[2015-07-02 23:43] iaxedu commented on #76
Authme really needs something that blocks any other case in a name after the first join yes. I'm using 6 lobby's and have to create a custom plugin unless Authme adds somethings. So the question is are you planning on adding something to fix this issue?

[2015-07-03 01:21] Xephi commented on #76
sure, i will ^^

[2015-07-03 10:40] WaterXCubic opened #83 "Language change is not working in DEV versions"
I am using the last Authme Reloaded versions and that is the forth in jenkins

I changed the language setting in the config file and i reloaded the server and used the command
/authme reload

After i reloaded,it says it changed to that language,and after i joined the game,its still showing english.
I manually dragged the language file from the jar file to the folder of authme.

It just delete ever

[2015-07-04 12:01] WaterXCubic opened #85 "Direct showing users password??"
So i am requesting this feature cuz admins can easily check players record without the help of the owner

I really wanted it and maybe it can be done by like executing a command /authme getpw <username>
like that

It would be nice if u can add it to Authme ! Ty

[2015-07-04 12:42] sgdc3 commented on #85
-1! The plugin MUST provide to all the users the ability to have a private password due to privacy. I think it's more ethical to provide an administrator command to bypass the login of a specified player, like /authmebypass playername administratorpassword

[2015-07-04 12:44] sgdc3 commented on #85
@Xephi What do you think about this request?

[2015-07-04 12:57] Xephi commented on #85
Password is hashed and cannot be revert, the password comparaison work like that : On /login, we get the password entered, hash it, and compare with the stored one

Xephi

[2015-07-04 13:01] sgdc3 commented on #85
@Xephi Yes i know, but a bypass command sometimes is required to allow an adequate moderation.
Also, please force the option removePassword to true if the password are set to be encrypted!

[2015-07-04 14:07] WaterXCubic commented on #85
Yea i agree with the bypass command,its not needed for direct password maybe,its more better for using the bypass command

[2015-07-04 14:08] WaterXCubic commented on #85
Also Xephi can u watch my another issue,its about the language bugg

[2015-07-04 14:26] sgdc3 commented on #85
@WaterXCubic This is still an in-development version of the plugin, languages support will be fixed when authme will be stable ;)

[2015-07-04 20:45] Maxetto commented on #85
I want to remind everyone that AuthMe has a passpartu function, where you can get a passpartu token (valid for 60 seconds) from the console and login to someone account with /passpartu "token"

Also, make someone's password clear, above all the good uses, makes everyone password unsafe. This means, if I search your account on a forum, steam, or even Minecraft (if you're premium), i could use your

[2015-07-04 23:43] Maxetto opened #87 "[Feature Request] Two-Factor Authentication"
As it's stated in the title, some kind of Two-Factor Authentication to let, people who activated it, to use "/login Token" to login into their account instead of using their password (password needs to be completely blocked if TFA is activated).
It needs to be compatible with common Authentication apps (Google Authenticator, Microsoft Authenticator, etc) and it could be forced after register/login

[2015-07-05 00:38] sgdc3 commented on #85
I know passpartu feature had security problems in the past, I didn't check if now it's fixed.

[2015-07-05 00:39] Xephi commented on #85
Before adding new enhancement, i need to fix existing ones :)

[2015-07-05 00:40] WaterXCubic commented on #85
@sgdc3 Thx for telling me that the language bug :D

[2015-07-05 00:42] WaterXCubic commented on #87
I agree with that,but Xephi said that he/she will need to fix those problems before adding new enhancements ;D

[2015-07-05 00:44] Xephi commented on #87
@WaterXCubic  "He" :)

And yep, i will fix actual problems before adding new features :)

[2015-07-05 00:56] Maxetto commented on #87
I have no hurry. Keep that as a reminder for something useful in the future ;)

[2015-07-05 01:00] Maxetto commented on #85
I know that passpartu had a bug, but i think i remember it got fixed a couple of releases later...

In any case, I think passpartu is a feature to activate only when you have to check someone's account and keep it deactivated for everything else

[2015-07-05 01:13] Xephi commented on #85
rework passpartu + add /authme forcelogin : done

Xephi

[2015-07-05 01:14] Xephi commented on #83
For what language did you change ?

[2015-07-05 01:15] Xephi commented on #83
AuthMe set English to default if , and only if, the defined language file cannot be loaded, it's maybe due to some accents, etc... converted in incorrectly format : ANSI for Windows and UTF-8 for Linux

Xephi

[2015-07-05 01:25] Maxetto commented on #85
Any form of protection? Like, if i hack into someone's account who is OP and i want to forcelogin my friend with the founder's name.
Maybe a permission to be excluded by forcelogin command (default to OPs)

[2015-07-05 01:25] sgdc3 commented on #85
@Xephi What about the RemovePassword option I mentioned above?

[2015-07-05 01:26] sgdc3 commented on #85
@Maxetto we can avoid this allowing this command only from console by default.

[2015-07-05 01:30] Xephi commented on #85
Changed from op to console only :)
And i will force the removePassword, but i need to change something in the actual PlainText format

[2015-07-05 01:33] sgdc3 commented on #85
@Xephi Thank you ;)

[2015-07-05 01:34] Maxetto opened #88 "ClassNotFound"
Testing out latest build with a fresh Spigot 1.8.7 server and AuthMe only, i got this error on Login and Register commands:

[03:12:51] [Server thread/WARN]: [AuthMe] Task #16 for AuthMe v5.0-SNAPSHOT generated an exception
java.lang.NoClassDefFoundError: com/maxmind/geoip/LookupService
	at fr.xephi.authme.AuthMe.getCountryName(AuthMe.java:709) ~[?:?]
	at fr.xephi.authme.AuthMe.replaceAllInfos(Aut

[2015-07-05 01:37] Xephi commented on #88
Did you compile it yourself ?

[2015-07-05 01:37] Maxetto commented on #88
Jenkins build

[2015-07-05 01:38] sgdc3 commented on #88
@Xephi launch a new build manually

[2015-07-05 01:40] Xephi commented on #88
Done, idk why API's are not shaded :')

[2015-07-05 01:43] sgdc3 commented on #88
let me see if there are problems with pom file

[2015-07-05 01:48] sgdc3 commented on #88
Wait, yesterday I made an huge change in the pom file: changed group id from fr.xephi.authme.AuthMe to fr.xephi.authme

[2015-07-05 01:50] sgdc3 commented on #88
But I don't think this is the cause of the problem now...

[2015-07-05 01:51] Xephi commented on #88
didn't affect it :/ just tested it now

[2015-07-05 01:54] sgdc3 commented on #88
:/ try to reset jenkins working directory and purge his m2 local repo

[2015-07-05 01:59] sgdc3 commented on #88
Xephi, there are too much old issues without response from the author, we should close them for the moment ...

[2015-07-05 02:04] sgdc3 commented on #88
@Maxetto Ho visto che hai lavorato su un antibot, se ne hai voglia potresti cercare di migliorare quello nativo di authme? ;)

[2015-07-05 02:04] #14 closed

[2015-07-05 02:05] #15 closed

[2015-07-05 02:05] #17 closed

[2015-07-05 02:05] #19 closed

[2015-07-05 02:05] #20 closed

[2015-07-05 02:05] #24 closed

[2015-07-05 02:06] #26 closed

[2015-07-05 02:06] #40 closed

[2015-07-05 02:07] #48 closed

[2015-07-05 02:07] #49 closed

[2015-07-05 02:07] #50 closed

[2015-07-05 02:07] #55 closed

[2015-07-05 02:07] #56 closed

[2015-07-05 02:08] sgdc3 commented on #88
Thanks @Xephi ;)

[2015-07-05 02:12] sgdc3 opened #90 "Rework configuration (too much options not properly organized)"

[2015-07-05 02:14] Maxetto commented on #88
Eh, è dura migliorare quello nativo di AuthMe, per svariati motivi. Si potrebbero unire i progetti, però c'è gente che magari vuole usare xAuth o nessun tipo di plugin di login (Online mode) e comunque avere protezione dai Bot proxati.

[2015-07-05 02:15] Xephi commented on #88
I've reset .m2 and remove workspace, still the problem, i think i need to add some shade things like that :

[code]

[2015-07-05 02:16] sgdc3 commented on #88
yeah, but why there are only now the problems?

[2015-07-05 02:19] Xephi commented on #88
I don't know, it appears since i change the distribution on vps :')

[2015-07-05 02:20] sgdc3 commented on #88
have you updated maven on the machine?

[2015-07-05 02:22] sgdc3 commented on #88
Probably it's because of a different maven executable...

[2015-07-05 02:23] sgdc3 commented on #88
Just add the shade plugin ;)

[2015-07-05 02:24] Xephi commented on #88
i think i use maven 3.3.3 :')

[2015-07-05 02:32] Xephi commented on #88
Fixed !

[2015-07-05 02:32] #88 closed

[2015-07-05 05:17] WaterXCubic commented on #83
I set it to Zhhk and its not working,i am trying to convert to ANSI now

[2015-07-05 05:20] WaterXCubic commented on #83
For some reason,i converted it to ANSI,its still not working,its says this in the console,
13:19:28 [INFO] [AuthMe] Set Language: zhhk
13:19:28 [SEVERE] messages_zhhk.yml is no valid configuration file
13:19:28 org.bukkit.configuration.InvalidConfigurationException: unacceptable character '?' (0xD84F) special characters are not allowed
13:19:28 in "'string'", position 301
13:19:28 Caused by: org.y

[2015-07-05 05:22] WaterXCubic commented on #83
I have tried to convert the zhhk lang file in the jar file to ANSI,i set to ZHHK and i reloaded it automatically drag it to authme file,and theres nothing in the file.

I have also manually drag it to the authme file,it also delete everything in it even they are converted to ANSI

[2015-07-05 05:25] WaterXCubic commented on #85
OMFG Xephi u did 11 updates in just a few hours . . . its amazing

[2015-07-05 05:28] WaterXCubic commented on #85
Also TY for force login command,thats amazing :DDDDDDDDDDDDDDDDDDDDDDDDDDDD

[2015-07-05 06:01] WaterXCubic commented on #85
Also maybe u can make a option in the config file to make owners select that they can deny ops to use the forcelogin cmd,it would be great :D

P.S. suggested option: deny_op_force:true/false :P

[2015-07-05 08:56] sgdc3 commented on #85
@Maxetto I agree with you, Xephi is awesome! :D

[2015-07-05 09:27] sgdc3 commented on #83
It's probably a syntax problem.

[2015-07-05 09:28] Maxetto commented on #85
@WaterXCubic There's no need for that, we have 2 permissions, one for allowing the commando and one for deny some people to be force logged in

[2015-07-05 09:48] sgdc3 commented on #85
@Xephi I think it's also importat to provide an option which disables OP permission for AuthMe like WorldGuard and WorldEdit (OpPermission: true/false)

[2015-07-05 10:05] WaterXCubic commented on #83
XEPHI!!!!!!!!!!!!!!!IT WORKED!!!!!!!!!!!!TYYYYYYYYYYYYY IT WORKED I SUCESSFULLY CHANGED IT TO ZHHK YAAAAYYYYYYYYYYYYYYYYYYYYYYYAAAAAAAAAYY

TY

[2015-07-05 10:06] #83 closed

[2015-07-05 10:06] Xephi commented on #83
If you know how to pull request,  you can paste your translation for all of peoples :)
I hope it will let you use AuthMe normally :)
If you experience some other bugs, please report them :)

Xephi

[2015-07-05 10:07] WaterXCubic commented on #83
:D

[2015-07-05 10:18] WaterXCubic commented on #87
Guys i wanna ask that is there a way to set never time out a player??IDK how do i set it ;o

[2015-07-05 10:27] Maxetto commented on #87
I think putting timout to 0 or -1

[2015-07-05 10:35] Xephi commented on #87
Yep, set timeout to 0 ^^

[2015-07-05 10:35] WaterXCubic commented on #87
:D ty

[2015-07-05 10:37] sgdc3 opened #92 "Enhance the AntiBot service"
@Maxetto Se vuoi potresti migliorarlo te, ho visto che hai esperienza a riguardo xD

[2015-07-05 10:40] Xephi commented on #92
But idk what can I add or change :')

[2015-07-05 10:40] sgdc3 opened #93 "Drop flatfile database support."
I think we should use SQLite as default.

[2015-07-05 10:41] WaterXCubic opened #94 "/REG and /ChangePassword bug??"
I am using the lastest dev version and thats #17,i am just using a testing server,when the plugin tolds me to register,i used /reg WaterXCubic WaterXCubic and thats my username,i used tab to get it,it says they are not the same,i manully type it myself,and it also said that

However,i used /reg 123456 123456 and it worked fine

[2015-07-05 10:41] WaterXCubic commented on #94
#17 is not the issue #17,its only dev number #17

[2015-07-05 10:43] Xephi commented on #94
Haven't understand the problem x) what's your username, what password do you try and what the result of it?

[2015-07-05 10:43] sgdc3 commented on #94
It's because it's your name, we haven't a language string for this situation.

[2015-07-05 10:45] WaterXCubic commented on #94
My username is WaterXCubic,and i am using WaterXCubic for the password and it says those password and repeat password are not same when i am registering

[2015-07-05 10:45] WaterXCubic commented on #94
@sgdc3 It worked fine for previous stable version like 3.4 i think

[2015-07-05 10:45] sgdc3 commented on #94
I think the problem is: When I use my nickname as password it prints the "not the same" message

[2015-07-05 10:46] WaterXCubic commented on #94
Yep

[2015-07-05 10:46] sgdc3 commented on #94
It should print: "You can't use your nickname as password!

[2015-07-05 10:46] WaterXCubic commented on #94
I am using ZHHK idk does it matter :P

[2015-07-05 10:46] sgdc3 commented on #94
@Xephi Right?

[2015-07-05 10:47] sgdc3 commented on #94
Also english and italian translation haven't an adequate string, but I remember this function was implemented, right?

[2015-07-05 10:48] Xephi commented on #93
Need to convert all flat file to sqlite :/ But I agree, flat file is really buggy and performance drop with it :/

[2015-07-05 10:49] sgdc3 commented on #93
atm we can partially avoid the problem setting the beckend option to sqllite as default, right?

[2015-07-05 10:54] sgdc3 commented on #94
:package:
'''
        else if ((lowpass.equalsIgnoreCase(player.getName()) || lowpass.contains("delete") || lowpass.contains("where") || lowpass.contains("insert") || lowpass.contains("modify") || lowpass.contains("from") || lowpass.contains("select") || lowpass.contains(";") || lowpass.contains("null")) || !lowpass.matches(Settings.getPassRegex)) {
            m.send(player, "password_error");

[2015-07-05 10:56] WaterXCubic commented on #94
idk how to script,but actually,i can observer that is telling me that if the password contains player's name,it will not allow register

[2015-07-05 10:58] sgdc3 commented on #94
IF PASSWORD lowpass.equalsIgnoreCase(player.getName()) SEND MESSAGE password_error

We should create a new message named password_error_nick

[2015-07-05 10:58] sgdc3 commented on #94
@Xephi

[2015-07-05 11:00] sgdc3 commented on #94
It also appends with unsafepasswords:

[code]

[2015-07-05 11:01] sgdc3 commented on #94
Also in ChangePasswordCommand.java

[2015-07-05 11:04] sgdc3 commented on #62
@Xephi Please, you have only to copy and paste the bukkit page into spigotmc xD

[2015-07-05 11:07] sgdc3 opened #95 "I think we should create a gitter chat room for everyone who want to contribute. ;)"
It's crazy to talk only in the issue tracker xD
https://gitter.im/

[2015-07-05 11:17] Xephi commented on #93
Yep! Nice idea

[2015-07-05 11:19] Xephi commented on #62
Oh, on my way >< haven't seen what I did on Spigot x)

[2015-07-05 11:21] Xephi commented on #95
https://gitter.im/Xephi/AuthMeReloaded

[2015-07-05 11:41] WaterXCubic opened #97 "Email recovery system"
The email recovery system is dangerous,i dont know if its only my setting,when i just complete the setting of the system in the config system,i tried to use /email recovery xxx in game and the server just stop and crashed

[2015-07-05 11:43] sgdc3 commented on #97
Can you post the server log?

[2015-07-05 11:45] WaterXCubic commented on #97
How do i get it??:[

[2015-07-05 11:46] WaterXCubic commented on #97
Do u mean the error logs?

[2015-07-05 11:48] WaterXCubic commented on #97
I am using the bukkit gui 1.8.0.541

[2015-07-05 11:58] sgdc3 commented on #97
1) start the server
2) execute email command
3) *crash*
4) copy the content of /logs/latest.log
5) paste the content on pastebin
6) copy the link from pastebin and paste it on the issue

[2015-07-05 12:05] WaterXCubic commented on #97
http://pastebin.com/vk9n1P2S

[2015-07-05 12:14] #95 closed

[2015-07-05 13:18] sgdc3 commented on #94
Fixed in my PR

[2015-07-05 13:24] Trojaner25 commented on #97
Mails should be send Async... Never do networking on main thread...

[2015-07-05 15:49] Xephi commented on #97
Can you please test with latest dev build ?

[2015-07-05 18:38] Maxetto commented on #94
I asked for this feature (too many people is using unsafe password/their username). However, I told Xephi that we need a proper message for this error.

[2015-07-05 18:47] Maxetto commented on #92
@sgdc3 I told you, it's almost impossible. AntiJoinBot and AuthMe use 2 completely different ways to block Bots (1st with Proxy API Check, 2nd with Whitelist).
The only thing I can (try to) do is an API.
Right now, if they're using both plugins, it's fine, as Proxied Bots will be blocked by AJB and not counted to the AntiBot of AuthMe and Unproxied Bots will be counted and blocked by Authme's Anti

[2015-07-05 18:53] sgdc3 commented on #94
it also needs an enable/disable option in the configuration

[2015-07-05 18:57] Maxetto commented on #94
Meh... For safety, I would let this always active. Disabling that means almost halving the protection (I know it's like impossible, but so many people use their Username as Password. Mostly in Minecraft!)

[2015-07-05 19:16] sgdc3 commented on #94
@Maxetto Yes, you're right ;)

[2015-07-06 00:44] #93 closed

[2015-07-06 01:15] sgdc3 opened #100 "Readd metrics"

[2015-07-06 01:17] sgdc3 commented on #97
Atm this link works! http://xephi.fr:8080

[2015-07-06 03:28] prozhong opened #101 "Can't reconnect to Mysql"
Its so weird....
(I promise..) There is no error in config.yml with the  database host/port/password etc.(Using Remote Mysql)
1st
AND everytime after I restart the remote mysql server, I can start my server smoothly without any error and Authme hooked to remote mysql successfully.Players could login in and all is okay.

HOWEVER after I stop MC server and start it again...
Error shows like
"ERROR N

[2015-07-06 07:08] WaterXCubic commented on #94
But for my convinient i would just use my name lol,so the option is still needed ;D

[2015-07-06 10:41] sgdc3 commented on #94
@WaterXCubic This is also true ;) @Xephi

[2015-07-06 12:06] sgdc3 commented on #101
@prozhong I think caching is safe, it should update very quickly the cache...

[2015-07-06 12:07] sgdc3 commented on #101
@prozhong To find out what's the problem I have to study how authme reload command works ;)

[2015-07-06 13:07] bykidi opened #102 "Plugin broken with latest spigot build"
So i just redownload buildtools, recompile latest spigot 1.8.7, started latest plugin and its crash

[code]

[2015-07-06 13:11] sgdc3 commented on #102
You must compile it with jdk 7!

[2015-07-06 13:11] sgdc3 commented on #102
If you compile with jdk 8 you must execute the jar file under java 8 too!

[2015-07-06 13:12] sgdc3 commented on #102
If you compile it with jdk 7 it will also work on java 8 ;)

[2015-07-06 13:13] sgdc3 commented on #101
@Xephi is going to check this ;)

[2015-07-06 13:19] bykidi commented on #102
I don't compile AuthMe its self :)
I compile only buildtools (with latest windows java8 update 45) and download authme directly from spigot download page

[16:02:54] [Server thread/INFO]: This server is running CraftBukkit version git-Spigot-f928e7a-e91aed8 (MC: 1.8.7) (Implementing API version 1.8.7-R0.1-SNAPSHOT)

[2015-07-06 13:21] sgdc3 commented on #102
Sorry, i misread the issue xD
It's a java version issue anyway...

[2015-07-06 13:22] sgdc3 commented on #102
If you know how to compile a maven project try to build AuthMe with the same jdk version of BuildTools

[2015-07-06 13:55] bykidi commented on #102
I just asked my hoster provider to update server version of Java (was 1.7.0_75, now 1.8.0_45) and problem fixed now!
Thank you!

[16:51:45] [Server thread/INFO]: [AuthMe] Loading AuthMe v5.0-SNAPSHOT
[16:51:50] [Server thread/INFO]: [AuthMe] Enabling AuthMe v5.0-SNAPSHOT
[16:51:50] [Server thread/INFO]: [AuthMe] Loading Configuration File...
[16:51:50] [Server thread/INFO]: [AuthMe] Set Language:

[2015-07-06 13:56] sgdc3 commented on #102
You're welcome! ;)

[2015-07-06 13:56] sgdc3 commented on #102
Close the issue please

[2015-07-06 14:08] #102 closed

[2015-07-06 19:18] sgdc3 commented on #101
Should have been fixed by @Xephi! Try latest dev build! (when jenkins will be online xD)

[2015-07-06 22:10] Xephi commented on #101
Jenkins is online

[2015-07-06 23:45] sgdc3 commented on #101
@prozhong Try latest dev build at ci.xephi.fr ;)

[2015-07-06 23:47] sgdc3 commented on #100
done!

[2015-07-06 23:47] #100 closed

[2015-07-06 23:49] sgdc3 commented on #97
@WaterXCubic now jenkins is online! Pick up latest build at ci.xephi.fr

[2015-07-06 23:50] sgdc3 commented on #57
done!

[2015-07-06 23:50] #57 closed

[2015-07-07 02:03] prozhong commented on #101
Thanks for your quick debug work :+1:
However my server is running with "useReloadCommandSupport: false" and I may maintain it next weekend..So is there any thing bad when "useReloadCommandSupport: false" and "caching:false"?

[2015-07-07 02:29] sgdc3 commented on #101
All the issue should have been fixed but we need your help to test them ;)

[2015-07-07 04:39] prozhong commented on #101
I checked again on my local test server , your fix works !
No error on 2nd restart :+1:

[2015-07-07 08:40] #101 closed

[2015-07-07 16:29] Trojaner25 commented on #101
Just for reference: may be related to #34

[2015-07-08 23:03] Xephi commented on #97
Fixed

[2015-07-08 23:03] #97 closed

[2015-07-09 00:13] Xephi commented on #78
Fixed also

[2015-07-09 00:13] #78 closed

[2015-07-09 00:22] Xephi commented on #34
Is it fixed ?

[2015-07-09 13:22] Trojaner25 commented on #34
Should be fixed

[2015-07-09 14:50] Dimatert9 opened #106 "ChatGuard error."
http://pastebin.com/mv8DXxJK

[2015-07-09 15:07] Maxetto commented on #106
I think this is caused because we changed the API method and ChatGuard uses the old one.

Waiting for confirmation from @Xephi

[2015-07-09 23:23] sgdc3 commented on #34
@Xephi, I think we can close this issue now ;)

[2015-07-09 23:45] #34 closed

[2015-07-09 23:46] Xephi commented on #106
Erf, yep :/ You need to contact ChatGuard author :/

[2015-07-09 23:50] Xephi commented on #106
Can't find any source :/ i'll ask him to released them , or do the change

Xephi

[2015-07-10 08:35] Xephi opened #108 "PlayerLogs is obsolete"
Need to change how PlayerLogs works, will use PlayerCache instead I think

[2015-07-10 08:38] Xephi opened #109 "Inventory Bug"
Idk why but sometimes Inventories wipe, I need to reproduce it before know how to fix it, if you got some information, please reply to this ticket

[2015-07-10 08:39] Xephi commented on #92
I will check to add something like other AntiBot does to detect and attack

[2015-07-10 08:45] Xephi opened #110 "Implement Redis Database"

[2015-07-10 12:41] Xephi commented on #108
Fixed

[2015-07-10 12:41] #108 closed

[2015-07-13 04:15] Xephi commented on #106
Fixed in our side, we'll provide our old API and our new API at the same time :/

[2015-07-13 04:15] #106 closed

[2015-07-13 08:57] MikroAcse opened #115 "Name's cases bug (toLowCase())"
Hello!
Developer, please, make an option to disable toLowCase(), when saving player's info into the database.
It's an issue, because users can register nicknames with different cases (for example: abc, aBc, abC) and create NEW configs for the same person.
If you make an option to disable toLowCase(), person can login ONLY with the name, which he registered first time.
For instance: he registered n

[2015-07-13 11:59] Trojaner25 commented on #115
This was already reported...

[2015-07-13 12:00] sgdc3 commented on #115
yes, we are working on it, stay tuned ;)

[2015-07-13 12:09] MikroAcse commented on #115
Thank you!
Sorry, if it was already reported..

I have no time to review all issues

[2015-07-13 14:58] sgdc3 commented on #109
Fixed!

[2015-07-13 15:06] Xephi commented on #115
I've try, if I register with Xephi,  and want to join the game with XEPHI, it will ask me to login :O

[2015-07-13 15:21] MikroAcse commented on #115
Xephi, no, it's not the problem. The problem is that other plugins create new configs for every person with the same nickname, but different case.
So, may you make an option to disable joining with the same nickname and different case? Just kick that person with the message, which can be configured in en.yml

[2015-07-13 15:49] Xephi commented on #115
Oh , ok, have't understand it like that ... Working on quickly, sorry for delay

[2015-07-13 20:42] MikroAcse commented on #115
Thank you for understanding!

[2015-07-14 01:15] sgdc3 opened #118 "Add premium user bypass function"

[2015-07-14 02:08] Xephi commented on #118
What is that ?

[2015-07-14 02:09] #109 closed

[2015-07-14 03:07] WaterXCubic commented on #118
It means,premium players/maybe players in a list can bypass the login and those is not premium must have to register and login

[2015-07-14 03:33] prozhong opened #119 "Timings lag caused by Authme Dev-5.0"
http://timings.aikar.co/?url=11875678

Here is my timings and I know Authme is only a small problem... in this situation

My question is : is that Authme's Performance okay? Or I set any settings wrong?

[2015-07-14 03:34] Xephi commented on #119
Which build do you use ?

[2015-07-14 03:38] Xephi commented on #118
Maybe you check something like that : https://www.spigotmc.org/resources/auto-in.578/ ?

[2015-07-14 03:39] prozhong commented on #119
one pretty old  dev version
i thought its from the old CI server, downloaded on June/3/2015

[2015-07-14 03:40] Xephi commented on #119
oh, ok, try latest one : http://ci.xephi.fr, there are so much performance improvement

Xephi

[2015-07-14 03:41] prozhong commented on #119
okay I will give feedback in this week..

[2015-07-14 03:43] prozhong commented on #119
may I ask which version should I download?

	AuthMe-5.0-beta1.jar
	AuthMe-5.0-beta2.jar
	AuthMe-5.0-beta3.jar
	AuthMe-5.0-SNAPSHOT.jar

[2015-07-14 03:44] WaterXCubic commented on #118
Yea if it is in authme it would be great

[2015-07-14 03:44] Xephi commented on #119
beta3 or SNAPSHOT if you want the latest one

[2015-07-14 03:45] Xephi commented on #118
It's not scheduled and not really important at this moment, cause Auto-In actually do the trick :/ It will only grow up latency and number of bugs by adding this into AuthMe while we haven't rewrite AuthMe completly :/

[2015-07-14 06:51] sgdc3 commented on #118
AutoIn does a lot of things, we need only the premium session check.

[2015-07-14 07:01] sgdc3 opened #120 "Poor Authme logo on bukkit.org :("
He was so young, and he died. #SaveTheAuthMeBukkitLogo

[2015-07-14 07:01] sgdc3 commented on #120
Error 404 xD

[2015-07-14 07:39] sgdc3 opened #121 "Add database backend as custom graph on mcstats.org"
https://github.com/Hidendra/Plugin-Metrics/wiki/Custom-Graphs

[2015-07-14 07:48] sgdc3 commented on #121
And also change version from R7 to R8-SNAPSHOT

[2015-07-14 08:12] sgdc3 commented on #118
https://github.com/kolorafa/xAuthPremiumAutoLogin <<< Simple example of code

[2015-07-14 08:20] sgdc3 commented on #118
[code]

[2015-07-14 14:42] sgdc3 commented on #118
Impossible ATM due to Mojang API limitations. (Max requests per day)

[2015-07-14 14:42] #118 closed

[2015-07-15 11:37] prozhong commented on #119
I installed the #_54 snapshot version on CI server
I will do timings later this week,when player numbers meet max level...

By the way what's the new config merged?

[2015-07-15 12:17] sgdc3 commented on #119
@prozhong
Do you mean the message in the console when server starts?

[2015-07-15 13:19] prozhong commented on #119
@sgdc3 yep,seems no need to change that after auto-merged?

Another thing is  I found the 'SaveQuitLocation: true' does nothing in the new #_54 snapshot version

My players found them teleported to the same location everytime after login

And In my mysql table,the "x,y,z" stay the same...seems wont be changed after one player login

[2015-07-15 13:56] prozhong commented on #119
http://timings.aikar.co/?url=11882699

new timings.....seems worse..

[2015-07-15 14:43] sgdc3 commented on #119
@prozhong We found the problem, we will fix it very soon ;)

[2015-07-15 14:48] prozhong commented on #119
Okay...May you keep an eye the new timings if possible

And one player lost connection after new version authme installed
"worker lost connection: Internal Exception: java.io.IOException:"
Then he logged in found his inventory empty,all his items and equip gone

Is there anything related?

[2015-07-15 14:53] sgdc3 commented on #119
@prozhong Can you open a new issue for every problems? It's hard to keep track of them if they are into one single issue report. ;)

[2015-07-15 14:57] prozhong commented on #119
fine

[2015-07-15 14:58] prozhong opened #123 "Exception in thread "Craft Scheduler Thread - 38""
[20:10:21] [Craft Scheduler Thread - 38/WARN]: Exception in thread "Craft Scheduler Thread - 38"
[20:10:21] [Craft Scheduler Thread - 38/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.0-SNAPSHOT generated an exception while executing task 121477
	at org.bukkit.craftbukkit.v1_8_R2.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
	at java.util.concurrent.ThreadPoolExecutor.r

[2015-07-15 15:07] prozhong opened #124 "Player's item lost - Just happened once"
I don't know whether its due to Authme...............

After new version authme(#_54 DEV) installed
One player ( named 'worker' ) lost connection with " worker lost connection: Internal Exception: java.io.IOException:"  (This must not Authme's fault)
Then he logged in found his inventory empty,all his items and equip gone.
(Its confirmed cuz I used " /invsee")
But when I checked his player.dat usi

[2015-07-15 15:09] sgdc3 commented on #119
@prozhong Thanks ;)

[2015-07-15 15:11] sgdc3 commented on #124
I think this may be related to our protectInventory feature :/ I think we should add some check in it.

[2015-07-15 16:04] Xephi commented on #124
Is he logged before get an internal exception ?

[2015-07-15 16:26] sgdc3 commented on #124
Fixed!

[2015-07-15 16:26] sgdc3 commented on #119
FIXED! :D Thanks to @Xephi

[2015-07-15 19:32] sgdc3 commented on #119
@prozhong Try this version ;) https://circle-artifacts.com/gh/Xephi/AuthMeReloaded/29/artifacts/0/home/ubuntu/AuthMeReloaded/target/AuthMe-5.0-SNAPSHOT.jar

[2015-07-15 19:33] sgdc3 commented on #119
it's an alternative link to latest dev build since our jenkins is offline ;)

[2015-07-16 01:53] sgdc3 opened #126 "Add the language setting as mcstats.org graph"

[2015-07-16 01:54] sgdc3 commented on #126
like #121

[2015-07-16 02:07] prozhong commented on #124
@Xephi yep , he logged in and played for a while until getting an internal exception

Its hard to track and give feedback on this issue...So you may close this if you think it fixed

:+1:

[2015-07-16 02:13] #124 closed

[2015-07-16 02:14] Xephi commented on #121
I need to wait the access to the account x)

[2015-07-16 06:49] sgdc3 commented on #121
I know :)

[2015-07-17 17:54] ReFruity commented on #123
[code]
I got the similar issue. In my case that was when testing players that use one IP. Player `sas` connected while `player2` with the same IP was already logged in.

[2015-07-17 18:16] Xephi commented on #123
Ok I've already find the problem, I'll fix it shortly

[2015-07-17 18:35] #123 closed

[2015-07-17 20:55] Xephi opened #130 "Split AuthMe into so much cool modules"
Idea : Split the plugin into modules :

- Core (with SQlite)
- Email
- MySQL
- Inventory Protection
- Hooks (Essentials, BungeeCord, etc...)
- Converter
- Any other ideas

[2015-07-17 21:06] #119 closed

[2015-07-17 21:11] sgdc3 commented on #130
Too many modules

[2015-07-17 21:12] sgdc3 commented on #130
I think we should split it in:
Core (Sqlite and Mysql)
Email
Conveters

[2015-07-17 22:55] sgdc3 opened #131 "We need more awesome people in our team!"
We need:
- Experienced Developers (1 or 2)
- Web Developers (for the new Web Interface) (1 or 2)
- Basic Developers (2 or 3)
- Documenters (2 or 3)
- Ticket Managers (3)
- Translators

If you want to partecipate actively to the project, please, write below some informations about you, like:
- Name
- Languages
- Old Experiences and current Projects
- What do you think you could do to enhance the pr

[2015-07-18 09:36] Trojaner25 commented on #131
I'd like to be a ticket manager, since I'm an experienced java developer and already had my own modified fork of AuthMe (which allowed logins via the Woltlab Burning Board software). My current projects are all plugins at https://github.com/Static-Interface and some C# projects.

I'm able to speak German, Turkish and ofc English

[2015-07-18 10:57] sgdc3 commented on #131
@Trojaner25 So, would you like to be a developer or a ticket manager? :)

[2015-07-18 12:04] Trojaner25 commented on #131
Ticket Manager, since I don't have enough time to be a developer

[2015-07-18 12:14] sgdc3 commented on #131
Ok, feel free also to help us with new features and bugfixes :) Atm, can you check if our German and Turkish translations are OK? Thanks :)

[2015-07-18 13:48] Trojaner25 commented on #131
Ok

For some reason the Turkish one does not have special characters. Does the config support UTF-8?

[2015-07-18 14:03] sgdc3 commented on #131
We only support UTF-8 xD (Without BOM)

[2015-07-18 14:04] sgdc3 commented on #131
Don't send PR here, senf them at the AuthMe-Team fork

[2015-07-19 13:15] WaterXCubic commented on #131
I might be able to be the zhhk translator

你好 xD

[2015-07-19 14:32] sgdc3 commented on #131
@WaterXCubic it's fine :)

[2015-07-19 22:22] sgdc3 opened #134 "PermissionsEx purge doesn't work"
reported on bukkit page

[2015-07-19 22:23] sgdc3 opened #135 "Problem with purge"
Reported on the bukkit page: "Do not run purge Essentials and PlayerData. The remaining elements of the purge did not check, but they are not likely to work. P.S. PermissionsEx v1.20.4 (no UUID). Essentials v2.14.98 (UUID)."

[2015-07-20 00:45] Xephi commented on #134
I use VaultAPI to do this :/

[2015-07-20 07:34] sgdc3 commented on #134
probably is a UUID issue :/

[2015-07-20 07:34] sgdc3 commented on #134
We are using Vault with player names

[2015-07-20 07:34] sgdc3 commented on #134
but probably with latest versions Pex uses UUID

[2015-07-20 07:34] sgdc3 commented on #134
@Xephi

[2015-07-20 16:58] Bodyash commented on #131
Bohdan Shkliarenko 21y old.
English, Russian, Ukrainian
Low Java knowledge (want to learn it), have a small server (30-70 daily online)
I can help with translation and i think it`s a good Exp in Java learning. Ty

[2015-07-20 18:46] sgdc3 commented on #131
Ok ;)

[2015-07-20 18:48] sgdc3 commented on #131
@Bodyash Ok, :) can you check our current russian translation?

[2015-07-20 18:48] sgdc3 commented on #131
look at our english new translations

[2015-07-20 18:48] sgdc3 commented on #131
we changed colors and style

[2015-07-20 18:52] sgdc3 commented on #131
also @irobin591 and @WaterXCubic can you check our current translations and adapt them to the English translation file style? Thx :)

[2015-07-20 18:53] sgdc3 commented on #131
also @Maxetto puoi adattare la versione italiana? :) Basta cambiare lo stile

[2015-07-20 18:53] sgdc3 commented on #131
REMEMBER: DON'T CHANGE THE "<theCaptcha>" STRING!

[2015-07-20 21:52] Dimatert9 commented on #130
How about add fuction for wipe user from Default pex group?
Save only donators users password.

[2015-07-20 22:14] sgdc3 commented on #130
@Dimatert9 We will remove all the group change system with a more powerful feature ;)

[2015-07-21 01:19] WaterXCubic commented on #131
K i gonna check it

[2015-07-21 06:49] Slaand opened #137 "Xenforo support in Authme 5.0 ?"
I remember, what older authme versions having xfsha256 encryption, but xenforo have separate tables: user table and password table
Is it real to return back xenforo support? Its would be nice
p.s. sorry for my english

[2015-07-21 07:12] sgdc3 commented on #137
The problem with xenforo is that it isn't open source, so we have difficulties to study his database structure.

[2015-07-21 07:39] Slaand commented on #137
I can give clean xenforo forum with db

[2015-07-21 11:21] Bodyash commented on #131
@sgdc3 i will look into it

[2015-07-22 01:19] authme opened #138 "5.0 can not support 1.7.10?"
I can't use it for Cauldron, get some errors.

[2015-07-22 02:52] WaterXCubic commented on #138
It does not suppot 1.7.10 because its dev version,it only supports 1.8

[2015-07-22 05:30] authme commented on #138
Where can I found the 3.5 Version or 3.4 Version's Code? I need it...

[2015-07-22 07:55] sgdc3 commented on #138
It should work with 1.7.10

[2015-07-22 07:56] sgdc3 commented on #138
@authme And why you pick the name "authme" ? :/

[2015-07-22 09:03] authme commented on #138
@sgdc3 Because I only look for AuthMe on Github. But, it does not work...

[2015-07-22 09:30] sgdc3 commented on #138
I think the problem is cauldron, the plugin should work on a normal spigot 1.7.10 installation...

[2015-07-22 09:30] sgdc3 commented on #138
I will investigate..

[2015-07-22 09:32] sgdc3 commented on #138
@authme About the name, can you change it? It's very confusing xD

[2015-07-22 10:02] Trojaner25 commented on #138
@authme https://github.com/Xephi/AuthMeReloaded/tree/faabe0e31565f14ed11a7932e0e9d13d46b11c05 Here you go

[2015-07-22 10:38] sgdc3 commented on #138
3.5 is unstable

[2015-07-22 18:53] Trojaner25 commented on #138
Still stabler in some cases than 5.0

[2015-07-22 19:53] sgdc3 commented on #138
latest 5.0 build is stable, lag issue fixed, email system fixed, we have only the lowercase thing (it is also in 3.5)

[2015-07-23 00:41] NickFirenzo opened #139 "Join with big/small characters, please FIX"
Please fix this problem, this is very big problem. Players can join with small/big characters. Please fix
Spigot TOPIC: https://www.spigotmc.org/threads/help-me-fast-please-small-and-large-characters-the-name-when-do-join.79653/
Essentials topic: https://www.spigotmc.org/threads/essentials-problem-about-big-small-characters.80081/

[2015-07-23 07:32] sgdc3 commented on #139
We are working on it :) Stay tuned!

[2015-07-23 09:03] Trojaner25 commented on #139
duplicate

[2015-07-23 10:39] sgdc3 commented on #139
@Trojaner25 It's fine. The other issue is not very clear and suggest a wrong way to fix the problem.

[2015-07-23 10:56] NickFirenzo commented on #139
Sorry for spam, but please hurry up.
Thanks a lot for answer :)

[2015-07-23 14:27] Xephi commented on #115
Fixed https://github.com/Xephi/AuthMeReloaded/commit/4c2fad3643803fe2cdc74c9101f7e4644a5d686b

[2015-07-23 14:27] #115 closed

[2015-07-23 14:27] Xephi commented on #139
Fixed https://github.com/Xephi/AuthMeReloaded/commit/4c2fad3643803fe2cdc74c9101f7e4644a5d686b

[2015-07-23 14:27] #139 closed

[2015-07-23 14:27] Xephi commented on #76
Fixed https://github.com/Xephi/AuthMeReloaded/commit/4c2fad3643803fe2cdc74c9101f7e4644a5d686b

[2015-07-23 14:27] #76 closed

[2015-07-23 15:12] NickFirenzo opened #141 "Need help, about AuthMeBridge please help me."
I need help. I do not know how to connect with AuthMeBridge with proxy servers and bukkit. I try to connect, everything is fine. But I have an unclear. How to make do with the same account as the HUB can play without having to log on again minigames / roleplay and so on, or to other servers?

When I let the other servers AuthMe AuthMeBridge and then generate new folder AuthMe accounts, how to fix

[2015-07-23 15:14] sgdc3 commented on #141
AuthMeBridge is an unofficial project, but I can help you with the configuration :)
On which server do you have authme installed?

[2015-07-23 15:18] NickFirenzo commented on #141
On HUB, and on hub I have all registered accounts

[2015-07-23 15:19] NickFirenzo commented on #141
And now, how can I install authme on other servers with folder of HUB?

[2015-07-23 15:25] sgdc3 commented on #141
All the servers are in the same machine?

[2015-07-23 15:40] NickFirenzo commented on #141
You will tell me how or not?

[2015-07-23 15:42] sgdc3 commented on #141
yes :) but I need to understand how your network is structured

[2015-07-23 15:43] NickFirenzo commented on #141
On one machine and?...

[2015-07-23 15:47] NickFirenzo commented on #141
Is not on one machine, why?

[2015-07-23 16:52] sgdc3 commented on #141
AuthMeBridge works only on this way: Only the lobby server have authme, the other server can't be access from the internet, only by the bungeecord

[2015-07-23 19:17] sgdc3 commented on #131
@irobin591 are you there? We need you to continue the DE translation. :)

[2015-07-23 19:18] sgdc3 commented on #131
@Bodyash How is going with the russian translation?

[2015-07-23 20:23] sgdc3 commented on #131
@irobin591 Thank you! Your translation will be merged into the xephi fork when the other translations will be finished :)

[2015-07-24 02:40] Bodyash commented on #131
@sgdc3 merged

[2015-07-24 03:09] Bodyash opened #146 "Authme Cant save QuitLocation"
Video: https://youtu.be/-qQ8B7iEbgk
I'm Logging in.
Then i go to the groud from the roof.
Logout (disconnect, sessions disabled)
connecting again (i'm at the ground)
/l password
Teleporting back to my previous location o_O
I think new QuitLocation doesn`t saving to my MYSQL

http://pastebin.com/dg7RyScw (my config file)

[2015-07-24 07:10] sgdc3 commented on #131
@Bodyash Thank you :)

[2015-07-24 07:11] sgdc3 commented on #146
Are you using latest dev version?

[2015-07-24 08:25] sgdc3 opened #148 "Not compatible with PerWorldInventory"
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/tickets/970-inventory-messup/

[2015-07-24 09:58] Bodyash commented on #146
yeap, latest.

[2015-07-24 12:45] sgdc3 commented on #146
does it happen with sqlite?

[2015-07-24 12:55] Bodyash commented on #146
doent tested. Can`t move my mySQL to SQLLite

[2015-07-24 15:42] sgdc3 commented on #146
Try with this:
[code]

[2015-07-24 15:43] sgdc3 commented on #146
You have to set the mysql password :)

[2015-07-24 15:52] Bodyash commented on #146
nope, i hide it C: Don`t wanna to show my password. It`s not a problem

[2015-07-24 16:03] sgdc3 commented on #146
I know, i'm not stupid... I mean you have to set it before use this configuration, don't forget it.

[2015-07-24 16:03] sgdc3 commented on #146
Does it work now?

[2015-07-24 16:32] #120 closed

[2015-07-24 16:33] irobin591 commented on #120
R.I.P. :(

[2015-07-24 16:35] sgdc3 commented on #120
Now it's fixed :)

[2015-07-24 16:36] sgdc3 commented on #120
AuthMe Logo 2: Reborn

[2015-07-24 22:37] Bodyash commented on #146
Nope, doesnt. Nothing changed o_O

[2015-07-24 22:41] Bodyash commented on #146
It looks like coords doesnt saving to mySQL when player disconecting. I`m migrated from 3.5 to 5.0dev

3.5 - ok. 5.0 - have this bug. And mySQL remember coords that saved with 3.5 and teleporting player when he is logged in at v. 5.0

Oh fuuu.. sorry for my bad English.

[2015-07-25 19:53] DanielRamosAcosta opened #150 "phpBB 3.1.5 and PHPBB encryption isn't the same"
I've created a phpBB forum and created some additional columns to have separated data for Authme. I also did it for the password and they're not the same... here is a screenshot of the mysql table:

http://i.imgur.com/JKlj4df.jpg

As you can see, the "user_password" and the "athme_password" columns don't match. In the following link is my config.yml:
http://pastebin.com/9njenuG8

Thanks a lot.

[2015-07-25 20:00] Xephi commented on #150
it looks they had changed the current encryption T.T looking in

[2015-07-25 20:02] DanielRamosAcosta commented on #150
Thanks! <33

[2015-07-27 00:13] sgdc3 opened #151 "Add login/register exception permission"
like unrestrictedusers

[2015-07-29 04:14] WaterXCubic commented on #151
Great

[2015-07-29 09:02] sgdc3 opened #153 "Remove passepartout feature"
We have forcelogin now :)

[2015-07-29 09:03] sgdc3 opened #154 "Merge api with new api"

[2015-07-29 09:07] sgdc3 opened #155 "Remove modules feature from the main branch"

[2015-07-29 09:54] sgdc3 commented on #150
The phpbb new hash method is vwry complex

[2015-07-29 13:03] sgdc3 commented on #138
CAN'T REPRODUCE! It works perfectly on both spigot 1.7.10 and kcauldron!

[2015-07-29 13:03] sgdc3 commented on #138
@Xephi Can't reproduce, you can close this

[2015-07-29 13:30] sgdc3 opened #156 "Lowecase Fix doesn't work with Spigot 1.8.7+"

[2015-07-29 20:45] sgdc3 commented on #150
@DanielRamosAcosta Can you register a test user with a defined password like 12345 and tell me the 2 hash codes?

[2015-07-30 00:14] #154 closed

[2015-07-30 00:50] #153 closed

[2015-07-30 00:51] sgdc3 commented on #135
Fixed

[2015-07-30 00:51] #135 closed

[2015-07-30 00:51] #85 closed

[2015-07-30 00:51] #94 closed

[2015-07-30 00:51] #155 closed

[2015-07-30 00:52] #141 closed

[2015-07-30 09:54] Bodyash commented on #146
Doesnt fixed Yet.

And latest dev. build from jenkins containts only META-INF

[2015-07-30 13:49] DanielRamosAcosta commented on #150
Here are some:
| 123456   | $2y$10$DGtaykQaysA6Rhg5b0ZwZ.f5yOmhMIsVSPBap5qYitUlhvTUUWlve |
|----------|--------------------------------------------------------------|
| diamond  | $2y$10$n5v80zhvgzCNpUmhc/5qCeuUCAjc4Urt4A2tWV42eP1uW5tEFD2ZG |
| ruby123  | $2y$10$DXrX7T.VWSSbeDPZyKm3o.JjV3Qm9EfnCx0uD4A8dkb5HIUOs/AD. |
| sapphire | $2y$10$pcu1Wo0xx.F0.3Bvl2qf0OCfx9X3akYzwYa/pyGNRVTiJcIgGRYLK |

[2015-07-30 16:03] sgdc3 commented on #146
@Bodyash I know, it was a vps problem, fixed :)

[2015-07-30 21:53] Xephi commented on #156
Whut ? what's the problem ?

[2015-07-30 21:54] Xephi commented on #150
where is the salt stored ?

[2015-07-30 21:56] DanielRamosAcosta commented on #150
In the "user_form_salt" column, under the "phpbb_users" table.

[2015-07-30 22:32] Xephi commented on #150
Thanks !

[2015-07-30 23:13] Xephi commented on #150
Added ! Can you please try latest devbuild : http://ci.xephi.fr/job/AuthMeReloaded/ and set passwordHash to BCRYPT2Y in your authme config ?

[2015-07-30 23:58] #62 closed

[2015-07-31 00:01] sgdc3 commented on #156
Fixed

[2015-07-31 00:01] #156 closed

[2015-07-31 02:03] DanielRamosAcosta commented on #150
Thanks! But I get some exceptions:
[code]

Here is the new config I'm using: https://gist.github.com/dd52e51e037dedf5598a
I changed the password manually in the database and I can't login either.

Thanks!

[2015-07-31 07:49] sgdc3 commented on #150
Incompatible salt type :/ @Xephi now the salt column contains both MD5 and Bycrypt mixed salt. You need to split them first.

[2015-07-31 12:58] Xephi commented on #146
Fixed https://github.com/Xephi/AuthMeReloaded/commit/5ed134b172701fa1da748e1dddb55066e34c0436

[2015-07-31 12:58] #146 closed

[2015-07-31 12:59] #138 closed

[2015-07-31 13:00] Xephi commented on #151
Whut ?

[2015-07-31 13:37] sgdc3 commented on #151
@Xephi add a permission that allow the player to join without login (like unrestricted users)

[2015-08-01 00:42] Xephi commented on #151
Huum, why ? x) Permission depend on player name/ UUID :O Unrestricted users depend on IP , it will be not safe at all to do that :O

[2015-08-01 01:04] Xephi commented on #150
Can you try with latest build plz ?

[2015-08-01 01:47] sgdc3 commented on #151
Yeah, it's true, this would work only with auto-in

[2015-08-01 01:47] #151 closed

[2015-08-01 01:51] sgdc3 commented on #148
Fixed, but we should use another way to fix it!

[2015-08-01 01:54] sgdc3 opened #161 "vip permission doesn't work"

[2015-08-01 03:40] JunkyBulgaria opened #162 "BungeeAuthMeBridge broke with latest updates."
That's the error log, using latest AuthMe and AuthMeBridge v1.4.1
``
[05:36:21 WARN]: [AuthMeBridge] Task #283 for AuthMeBridge v1.4.1 generated an exception
java.lang.IncompatibleClassChangeError: Expected static method fr.xephi.authme.api.API.isAuthenticated(Lorg/bukkit/entity/Player;)Z
        at com.crylegend.authmebridge.AuthMeBridgeListener$1.run(AuthMeBridgeListener.java:47) ~[?:?]

[2015-08-01 04:04] JunkyBulgaria commented on #162
nevermind, seems to be a different author, sorry

[2015-08-01 04:04] #162 closed

[2015-08-01 07:40] sgdc3 commented on #162
@JunkyBulgaria I can help you anyway, which version of AuthMe are you using?

[2015-08-01 08:01] sgdc3 opened #163 "Broken old api!"
Look at #162

[2015-08-01 08:11] JunkyBulgaria commented on #162
latest

[2015-08-01 20:18] sgdc3 opened #164 "Can't restore OP on connection loss"

[2015-08-01 20:20] sgdc3 opened #165 "Lowercase Bug"
From an user report:

"My real name is qaz852, if someone try to enters as QAZ852 he is kicked
but qaz852 will be unable to move or use commands!!!"

Probably we forgot a toLowerCase()

[2015-08-01 21:30] Xephi commented on #165
qaz852 will be unable to move or use commands!!! after logged in ? >.>

[2015-08-01 21:34] sgdc3 commented on #165
no, when the server kicks the wrong username the real name will be set in limbo state

[2015-08-01 21:34] sgdc3 commented on #165
@Xephi

[2015-08-01 22:28] Dimatert9 opened #166 "You are not the Owner of this account, please try another name!"
WTF. How disable this?
[01:26:57 INFO]: PoolPY lost connection: You are not the Owner of this account, please try another name!

[2015-08-01 22:46] Dimatert9 commented on #166
@Xephi
Help pls.

[2015-08-01 22:48] Xephi commented on #166
Try latest build plz : http://ci.xephi.fr

[2015-08-01 22:52] Dimatert9 commented on #166
[01:51:34 INFO]: UUID of player Leymooooooooooo is 7c84f6fa-3a45-307d-86ac-8b5a223d14ae
[01:51:34 INFO]: Leymooooooooooo[/93.185.253.69:43335] logged in with entity id 0 at ([world]10.934893612201414, 21.0, 0.55739455309105)
[01:51:34 INFO]: Leymooooooooooo lost connection: You are not the Owner of this account, please try another name!
[01:51:34 WARN]: handleDisconnection() called twice

This don

[2015-08-01 22:52] Xephi commented on #166
Is the syntax of the player name correct? what do you have in database for this player please?

[2015-08-01 22:54] Dimatert9 commented on #166
Yes. Correct. This is for 90% users. Idk. He is start converting from flatfile to sql

[2015-08-01 22:57] Xephi commented on #166
Oh, you use flatfile at this moment? :/ that's why also :') it's fixed, sorry for the problem , you can wait for the build on jenkins ^^

[2015-08-01 22:59] Dimatert9 commented on #166
Thanks!

[2015-08-01 23:00] #166 closed

[2015-08-01 23:01] Dimatert9 commented on #166
@Xephi
This is dont work
  forceCommandsAsConsole:
  - sync console bungee send %p Hub
  forceRegisterCommands: []
  forceRegisterCommandsAsConsole:
  - sync console bungee send %p Hub

[2015-08-01 23:02] Dimatert9 commented on #166
Ups. Sorry my bad.

[2015-08-01 23:03] Xephi commented on #166
?

[2015-08-01 23:05] Xephi commented on #164
how to reproduce?

[2015-08-01 23:06] Dimatert9 commented on #166
All is good. This is my error.

[2015-08-01 23:06] Xephi commented on #166
Okok :)

[2015-08-01 23:31] sgdc3 commented on #164
I think when connection time out it doesn't save the Op status.... I have too few informations about it...

[2015-08-02 13:54] Dimatert9 commented on #166
@Xephi
WTF. This is again!
You are not the Owner of this account, please try another name!

[2015-08-02 14:09] Dimatert9 commented on #166
After converting i cant join to server.

[2015-08-02 14:43] Dimatert9 opened #168 "You are not the Owner of this account, please try another name!"
This is again! Its full convert to sqlite and i cant connect. Pls fix it! Nick is 100% correct!
In old DB all nicknames save with lowercase. Player name is F_I_N but in file his name kept as a  f_i_n.
And after converting his name in sqlite is f_i_n and he is can login how f_i_n. But dont can how F_I_N
Fix it. 90% of users have big letter in their names but in DB theirs nick have all lowercase let

[2015-08-02 15:17] Dimatert9 opened #169 "AuthMe create ALLOT OF THREADS!!!"
http://i.gyazo.com/28bfd22964827c868ecba2496011ead5.png
http://i.gyazo.com/7e5bbf29f893f07ab635fdbe3d188f4a.png

[2015-08-03 11:06] DanielRamosAcosta commented on #150
Sorry for the delay, but for these days I wasn't at home...
I still don't get the same password hash

| Password | phpBB | Authme Hash (BCRYPT2Y) |
|----------|------------------------------------------------------------------|------------------------------------------------------------------|
| 123456 | ``$2y$10$XLe9mqO5vBdNyl/0taQgdeUnXNxxluVDPT0NsO5rnX2s/8R757Geu`` | ``$2y$10$b15cb6473c088f9533

[2015-08-03 11:35] Dimatert9 commented on #169
![](http://i.gyazo.com/2e01cb69c759d213568cd45f3e3c49a7.png)

[2015-08-03 11:35] Dimatert9 commented on #169
This need fix!

[2015-08-03 13:58] Trojaner25 commented on #169
Whats the problem?
CPU load and ram usage aren't that high..

[2015-08-03 14:17] sgdc3 commented on #169
The problem is we have too many threads running.

[2015-08-03 15:30] iedeso commented on #168
I have the same problem, any help?

[2015-08-03 15:53] sgdc3 commented on #168
We are working on a fix ;)

[2015-08-03 16:30] sgdc3 commented on #168
@iedeso @Dimatert9 Fixed! You have to set the backend to file, start the server, wait for database conversion and then restart. ;)

[2015-08-03 16:42] Xephi commented on #168
Fixed in build 123 , please remove authme.db (always keep your auths.db and set backend in config.yml to file)

[2015-08-03 16:45] sgdc3 commented on #168
@iedeso @Dimatert9 read @Xephi 's instructions ;)

[2015-08-03 17:09] Dimatert9 commented on #168
Yes! It works!
Need fix #169

[2015-08-03 17:11] Xephi commented on #169
Does it cause any performance issues?

[2015-08-03 17:13] #168 closed

[2015-08-03 17:15] sgdc3 commented on #169
@Dimatert9 how many users are playing at the same time?

[2015-08-03 17:30] Dimatert9 commented on #169
This is login server. But other servers is verry lagging. I had 5 servers where there was AuthMe. And in one server AuthMe create  1 400 000 thread in 90 min, My english is bad. But this drop performance in others servers.

[2015-08-03 17:34] sgdc3 commented on #169
@Dimatert9 Yes but how many players you have on your network?

[2015-08-03 17:36] Dimatert9 commented on #169
Not much. 75

[2015-08-03 17:37] sgdc3 commented on #169
ok, it's a problem XD

[2015-08-03 17:38] sgdc3 commented on #169
@Xephi need to fix this, very quickly

[2015-08-04 11:09] Dimatert9 commented on #169
AuthMe:
http://i.gyazo.com/859485413888786e0c4a019c5151333d.png
[14:07:57 INFO]: Plugins (6): PermissionsEx, AuthMe, CommandSync, HideStream, ProtocolLib, NoCheatPlus
Hub:
http://i.gyazo.com/0845a9cb563b7e995fcaea620f5bcdb6.png
[14:09:26 INFO]: Plugins (26): WorldEdit, JoinCommands, Essentials, SimpleBungeePortals, VoidWorld, AutoMessage, ProtocolLib, WorldGuard, NoCheatPlus, AutoSaveWorld, SuperT

[2015-08-04 11:13] Dimatert9 commented on #169
http://pastebin.com/sxkP3F3x

[2015-08-04 11:25] Trojaner25 commented on #169
The last thing you posted happend outside the java VM. So its an issue with an external library which an authme library depends on (in this case: libsqlitejdbc.so).

[2015-08-04 13:14] sgdc3 commented on #169
Ok now i'm sure the problem is how we manage the connections to the database.

[2015-08-04 14:25] Dimatert9 commented on #169
I got this error when I turn off the server

[2015-08-06 18:03] VladStarr opened #170 "Authme does not check for allowedNicknameCharacters"
Hi.

I'm using the latest build of plugin from Jenkins. And AuthMe is ignoring the option allowedNicknameCharacters. Users with disallowed characters in their nicknames can join.

Please, fix this issue.

Regards, Vlad.

[2015-08-06 18:16] #170 closed

[2015-08-07 16:58] DanielRamosAcosta commented on #150
Any news?

[2015-08-07 17:19] sgdc3 commented on #150
@DanielRamosAcosta The news is that @Xephi isn't avariable these days xD

[2015-08-07 23:48] DanielRamosAcosta commented on #150
Ohhh ok xD

[2015-08-08 11:58] Trojaner25 opened #172 "Support for 3rd party logins (allow custom logins via API)"
Hey,
It would be nice if there would be an API allowing other plugins to define custom login types.

For example, a player would be able to login with his forum credentials, or other plugins may add 2 factor authentifications like those from google, etc...

A simple implementation would be an event which is fired upon handling of login. It could check it with functions like event.isSuccess() and e

[2015-08-08 16:10] iedeso opened #173 "Inventory lost"
[Craft Scheduler Thread - 650/WARN]: [AuthMe] ERROR: Error while reading file for offgm, some wipe inventory incoming...
[17:43:27] [Craft Scheduler Thread - 650/WARN]: [AuthMe] ERROR: Error while reading file for offgm, some wipe inventory incoming...
[17:43:27] [Craft Scheduler Thread - 650/WARN]: [AuthMe] ERROR: Error while reading file for offgm, some wipe inventory incoming...
[17:43:27] [Cra

[2015-08-09 14:58] ljacqu opened #174 "Username with different capitalization can join without login when the "genuine" is online"
**Description**
When a user is online, it is possible for someone else to join with the same name using different capitalization. The user will immediately join as a logged in user and be able to do whatever a logged in user can do.

**Version**
AuthMe Version: 5.0-SNAPSHOT, running on Spigot-d97e08b-5e85956 (MC: 1.8.8) (implementing API version 1.8.8-R0.1-SNAPSHOT)

**Steps to reproduce**
1. Join

[2015-08-10 10:25] Dimatert9 opened #175 "bad timings"
http://timings.aikar.co/?url=12047102

[2015-08-10 10:28] Dimatert9 commented on #175
ups, sorry. caching: true help me.

[2015-08-10 10:28] #175 closed

[2015-08-10 20:58] Xephi commented on #174
Fixed : https://github.com/Xephi/AuthMeReloaded/commit/11db85ac2692d07b8fde51e649aefda41d20d699

Build : http://ci.xephi.fr/job/AuthMeReloaded/127/

Xephi

[2015-08-10 20:58] #174 closed

[2015-08-10 21:04] Xephi commented on #165
Fixed i hope

[2015-08-11 21:26] ljacqu commented on #174
I can confirm the fix – thank you.

[2015-08-12 16:36] VladStarr opened #176 "Latest build doesn't check for restricted symbols"
Hi.

I'm using the latest build of your plugin.
I've noticed that players with restricted symbols in their name can join the server.
AuthMe does not check for regex in config.

Here's the log

[19:25:46] [User Authenticator #23/INFO]: UUID of player максим is 1fe40771-057c-35c1-b780-045b07c98ec1
[19:25:46] [Server thread/ERROR]: Could not pass event PlayerLoginEvent to AuthMe v5.0-SNAPSHOT
org.buk

[2015-08-12 16:37] sgdc3 opened #177 "Can't send email via gmail with the new google account security system!"
https://www.spigotmc.org/threads/authme-reloaded.62079/page-8#post-934521

[2015-08-12 16:39] sgdc3 commented on #176
Can you try it without protocol support?

[2015-08-12 16:40] sgdc3 commented on #173
try latest build now :)

[2015-08-12 16:45] VladStarr commented on #176
Okay, i'll try.

[2015-08-12 17:09] sgdc3 opened #178 "Nullcheck problem at player listener, line 471"

[2015-08-12 18:15] VladStarr commented on #176
The issue is still actual.
I've deleted ProtocolSupport and now i'm having this error

[21:14:12] [Server thread/ERROR]: Could not pass event PlayerLoginEvent to AuthMe v5.0-SNAPSHOT
org.bukkit.event.EventException
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:310) ~[java8.jar:git-PaperSpigot-6d0a86a-53fac9f]
	at org.bukkit.plugin.RegisteredListener.callEvent(Register

[2015-08-12 19:06] Xephi commented on #178
Fixed

[2015-08-12 19:06] #178 closed

[2015-08-12 22:52] sgdc3 commented on #164
Op state is lost after server restart!

[2015-08-12 22:52] sgdc3 commented on #164
@Xephi

[2015-08-12 22:53] sgdc3 commented on #163
@Xephi

[2015-08-13 10:58] iedeso commented on #173
ok working thanks for your work!

[2015-08-13 17:26] sgdc3 commented on #176
@VladStarr try now :)

[2015-08-13 19:16] sgdc3 commented on #164
Nope, this was related to the AutoIn compatibility issue!

[2015-08-13 19:16] #164 closed

[2015-08-13 19:36] sgdc3 commented on #177
How to use gmail and AuthMe: https://support.mailpoet.com/knowledgebase/sending-with-gmail-doesnt-work/

[2015-08-13 19:36] #177 closed

[2015-08-14 06:34] VladStarr commented on #176
@sgdc3 works fine, thanks!

[2015-08-14 06:34] #176 closed

[2015-08-14 14:47] andris155 opened #180 "Authme error, and lagg."
http://pastebin.com/pTCZ0EtW

[2015-08-14 15:31] andris155 opened #181 "Authme java crash stop server."
http://pastebin.com/2aSYJ7ez
http://pastebin.com/BAVj13UF

[2015-08-14 17:17] sgdc3 commented on #181
@andris155 Are you maybe using AutoIn? AutoIn is incompatible with latest version of AuthMe.

[2015-08-14 17:18] andris155 commented on #181
Not used AutoIn

[2015-08-14 17:18] andris155 commented on #181
14.08 19:21:43 [Server] INFO Plugins (51): PlugMan, ConsoleScheduler, AntiBotUltra, ChatColor, CoreProtect, AsyncWorldEditInjector, WorldEdit, FrameProtect, ClearLag, ChatControl, Chairs, ProtocolLib, NoCheatPlus, LibsDisguises, NoNBT, RedstoneClockDetector, BlocksHub, PermissionsEx, Vault, ProtocolSupport, FamoustLottery, WorldGuard, SkinsRestorer, BlocksHub-WorldGuard, monkeysLockette, RandomTel

[2015-08-14 17:18] sgdc3 commented on #180
Fixed in latest dev build, you can get it at: http://ci.xephi.fr/job/AuthMeReloaded/

[2015-08-14 17:19] andris155 commented on #180
Thanks

[2015-08-15 10:49] andris155 opened #182 "Authme bug."
https://www.youtube.com/watch?v=d-vdZpNJYJk&feature=youtu.be
Latest dev. version.

[2015-08-15 17:57] sgdc3 commented on #182
@andris155  Thanks :) Can you try this version? http://ci.xephi.fr/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.0-SNAPSHOT.jar

[2015-08-15 17:58] sgdc3 commented on #180
Is it fixed? :) @andris155

[2015-08-15 18:43] andris155 commented on #180
Yes

[2015-08-15 18:51] andris155 commented on #182
Bug fixed.
New bug Console error player join: http://pastebin.com/4qNdLbEL

[2015-08-15 19:07] sgdc3 commented on #180
@andris155 Can you close this issue? :)

[2015-08-15 19:08] #180 closed

[2015-08-15 19:11] sgdc3 commented on #182
@andris155 Ok, fixed, redownload the jar from the same link :)

[2015-08-15 19:16] andris155 commented on #182
Thanks. :+1:

[2015-08-16 10:28] DNx5 opened #184 "Inventory wipe"
sometimes I get this message in console.
"Error on creating an inventory cache for DNx, maybe inventory wipe in preparation..."
and my inventory wiped out :unamused:
I hope it will be fixed

[2015-08-16 20:37] Trsak opened #185 "How to create password with hash SHA256 in php"
Hi there,
how can i create password with this hash?
I use this:
$salt = $this->generateRandomString(); //generates 16-characters long string
$pass = '$SHA$'.$salt.'$'.hash('sha256', hash('sha256', $values["password"]).$salt);

Hash it generates from "text":
	$SHA$eb7475b7162066ce$eebd78342c9130e21d80a58966b1120d4f0eed5898e431750c62e7acd22b36e4

But when i try login on server with /login text, it s

[2015-08-17 08:40] sgdc3 commented on #185
This isn't an AuthMe issue, just use google -_-
http://lmgtfy.com/?q=sha256+with+php

[2015-08-17 22:33] #182 closed

[2015-08-17 22:51] Xephi commented on #185
Nah, AuthMe SHA 256 is different from a simple SHA 256 :)

http://dev.bukkit.org/bukkit-plugins/authme-reloaded/pages/web-site-integration/

[2015-08-18 11:26] andris155 opened #186 "Authme login time out error."
http://pastebin.com/rNvK4RWH

[2015-08-18 11:51] sgdc3 commented on #185
@Xephi Ah sorry :)

[2015-08-19 06:56] Xephi commented on #184
Can you test with latest build please? Thx

[2015-08-19 07:00] Xephi commented on #181
Ok, I see, it appears AuthMe trying to disabled at the same time to register a player quit, did you experience this when turning off server or it could appear whenever?

[2015-08-19 07:16] Xephi commented on #185
Pure PHP or do you use any framework?

[2015-08-19 09:43] andris155 commented on #181
stop server + online players = crashed java.
stop server + no online players = no crashed java.

[2015-08-19 10:21] Xephi commented on #181
What's your version of Craftbukkit/Spigot ?
Also the crash doesn't appear if you kick all players before the stop ?

[2015-08-19 14:21] DNx5 commented on #184
I will test it, since it's not happening too often. I think it's caused by database connection error

[2015-08-20 17:39] Trojaner25 commented on #172
push?

[2015-08-20 18:40] sgdc3 commented on #172
ATM we have too many bugs to add new features xD Just be patient! ;)

[2015-08-20 18:51] Trojaner25 commented on #172
ok :D

[2015-08-20 20:24] Xephi commented on #172
is it a pre /login or a post  /login ?

[2015-08-20 20:31] Xephi commented on #150
Salt is stored in database, but it's the same salt for each user? :O

[2015-08-20 20:40] Trojaner25 commented on #172
pre /login i think

[2015-08-20 21:29] Xephi commented on #172
Is that one ok ? :
https://github.com/Xephi/AuthMeReloaded/commit/e1eb22239ac934fa024770c175b39c0698a1d22d

[2015-08-20 21:37] andris155 commented on #181
This server is running CraftBukkit version git-Spigot-fdc1440-53fac9f (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
online players + kickall, and stop server = no crashed java.

[2015-08-20 21:44] andris155 opened #187 "Authme error randomly players join."
http://pastebin.com/CiH5Z2kc
version: Authme 5.0 DEV.

[2015-08-20 22:05] Xephi commented on #181
oh ok, also you prefere use CraftBukkit instead of Spigot ? Can you test with Spigot and tell me if you got the same problem ?

[2015-08-20 22:06] Xephi commented on #187
With the latest dev build ?

[2015-08-20 22:07] andris155 commented on #181
"git-Spigot-fdc1440-53fac9f" = uses spigot 1.8.8

[2015-08-20 22:10] andris155 commented on #187
Yes, I use latest build.

[2015-08-21 07:42] Xephi commented on #181
oh sorry T.T ok i'll investigate a bit more, stay tuned

Xephi

[2015-08-21 07:42] Xephi commented on #187
What kind of database do u use ?

[2015-08-21 14:59] Trojaner25 commented on #172
hmm.. i will maybe commit a PR in a few days

[2015-08-21 21:23] andris155 commented on #187
Use default database settings. (authme.db)

[2015-08-21 21:24] sgdc3 commented on #187
sqlite?

[2015-08-21 21:26] andris155 commented on #187
Yes, I use sqlite database.

[2015-08-21 21:37] sgdc3 commented on #187
Ok, try this version: http://ci.xephi.fr/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.0-SNAPSHOT.jar
It should be more "verbose" and should print in the console more informations about the issue :)

[2015-08-21 21:37] sgdc3 commented on #187
It will print a java stack trace of the error :)

[2015-08-22 13:10] #173 closed

[2015-08-22 13:10] Xephi commented on #172
?

[2015-08-22 13:39] Trojaner25 commented on #172
I meant more somthing like an event which is fired before login, with functions like getPlayer() and getPassword() (or getArgs()?), so plugins could use AuthMe's infrastructure to allow other login implementations

-> Login Command -> Call event with args -> Check if event was successfull (if another plugin handles the login) -> if yes, login the player directly -> if no, do an default authme logi

[2015-08-22 14:38] sgdc3 commented on #187
@andris155 can you test this version please? :)

[2015-08-23 00:55] andris155 commented on #187
Waiting for test. My server registered over 45 000 players. Players don't like restart, and the bugs.

[2015-08-23 00:58] andris155 commented on #187
The linked plugin installed another server, and testing. Waiting for reproduce bug.

[2015-08-23 08:48] sgdc3 commented on #187
@andris155 if you have a bungeecord network you can hot swap the plugin, right? :)

[2015-08-23 22:12] andris155 commented on #187
My servers not use bungecoord.

[2015-08-23 22:13] andris155 commented on #187
The linked plugin error: http://pastebin.com/DFzeQfk0

[2015-08-24 00:21] sgdc3 commented on #187
@Xephi wrong enchantment cache reader ;)

[2015-08-24 00:22] sgdc3 commented on #187
@Xephi should be easy to fix

[2015-08-24 00:23] sgdc3 commented on #187
@Xephi but if it works with version 1.8.3 it means that something changed with the enchantment system

[2015-08-25 13:18] VladStarr opened #188 "Converter FlatToSQLite Error"
Hi.

When i'm trying to convert from flat-file to sqlite, plugin throws errors.

`[16:04:41 WARN]: [AuthMe] ERROR: [SQLITE_ERROR] SQL error or missing database (table authme_accounts has 12 columns but 10 values were supplied)`

I'm using sqlite database, i had converted it to mysql, using this commands:
[code]
This works.

If I want to convert from mysql to sqlite, i'm using:
[code]
As a result -

[2015-08-25 13:28] VladStarr commented on #188
I've found a solution.
On the next server startup it converts from flat to sqlite.
But it's very slow... :(
I'll be glad to see working flattosqlite conversion in next update :)

[2015-08-25 13:32] VladStarr commented on #188
I've found a solution.
On the next server startup it converts from flat to sqlite without errors.
But it's very slow...
I'll be glad to see working flattosqlite conversion in next update :)

[2015-08-26 18:50] Trsak commented on #185
I'm using Nette framework. Really wierd, can't find what's bad

[2015-08-26 20:56] DanielRamosAcosta commented on #150
Nope is not the same! http://i.imgur.com/3MqnhcG.png

[2015-08-27 16:57] Xephi commented on #150
okok, i'll push a fix sooly

[2015-08-27 23:40] Dimatert9 opened #189 "AuthMe accounts purge."
Hi. I have 47000+ accounts. How i can remove all users grom default group and save account not from default group(vip,fly,vip+,...).

[2015-08-29 09:35] Trojaner25 commented on #189
I dont think that this is possible with using advanced sql queries or writing a special plugin for it

[2015-08-31 13:01] VladStarr opened #190 "Changepassword error"
Hi. I'm using the latest build of plugin. (#144)
When i try to use /changepassword, plugin throws an error.

[code]

[2015-09-01 16:14] andris155 opened #191 "AuthMe 5.0 DEV + CreativeControl 1.1-FIX-3 inventory bug."
https://www.youtube.com/watch?v=l8qTAT5caZw&feature=youtu.be

[2015-09-02 15:28] Trojaner25 opened #192 "Max-Login-Tries"
I'd like to request a feature: how often an IP can try to login in a given amount of time.
Because today someone tried to brute-force a staff-account on my server, resulting in a huge chat spam. This was not the first time this happened.

Maybe there should be an option like "auto-ban an IP for X minutes after Y fails of logins"?
(And also please send a notification to the admins online so they ca

[2015-09-02 18:38] vanjavk opened #193 "Inventory wiping after MC crash / internet DC"
I'm using spigot 1.8.3 and AUTHME RELOADED latest build 144
Almost always when players lose their connection or their minecraft crashes and it forcefully closed they lose their inventory. Player who lost his inventory is DaneMaster and here is log:

[18:26:22] [Async Chat Thread - #42/INFO]: [FactionChat] TRUCE|TheEnderGhost_: jahahah sjebao sam nesto xD
[18:26:26] [Thread-694/INFO]: UUID of playe

[2015-09-03 11:46] vanjavk opened #194 "People disconnected after everyone is already kicked?"
So all people left and I also kicked everyone until server was at 0/50. However authme is still "disconnecting" people after that. Why is that happening? Using build #144 and spigot 1.8.3 Here's server log:

03.09 13:40:18 [Disconnect] User [09:47:32 INFO]: jdubick has disconnected, reason: Server shutting down
03.09 13:40:18 [Disconnect] User [19:48:24 INFO]: Domica has disconnected, reason: Serv

[2015-09-03 14:01] Xephi commented on #193
Can you tell me if there is the same problem if you turn off the ProtectInventory in AuthMe config ?

[2015-09-03 14:05] vanjavk commented on #193
Ok I'll change it in config and I'll tell you if it happens again

[2015-09-03 14:07] vanjavk commented on #193
Oh also
SQLProblem:
    stopServer: true

While server was up, no one was able to login to mysql server (plugins too) however server didn't stop. (Players were unable to connect to the server though.)

[2015-09-03 19:10] DmitryRendov opened #196 "Cannot build due missing dependencies"
Hi guys,

trying to build the application (Java 1.8, Debian) and got this error:
http://pastebin.com/0Jh4F06a

Could you please advise on it?
Many thanks for your help in advance.

[2015-09-04 08:47] Xephi commented on #196
If you want a latest compiled version :
http://ci.xephi.fr/

If you do some change and want to compile by yourself :
Try to remove the .m2 folder or force a maven update dependency
I don't have any problem, nor jenkins, to compile actually ^^"

[2015-09-04 08:49] Xephi commented on #193
Huum, yeah it a problem with our new Pool Connector, we are aware of this bug and working on fixing it quickly

Xephi

[2015-09-04 08:51] Xephi commented on #184
Huum, Yep , i need to make a workaround to prevent that kind of lost data

Xephi

[2015-09-04 09:01] Xephi commented on #192
Yeah, why not, actually you can add a ban on bad ip if auth fail and ip isn't the same register in database :') (but really strict and not recommanded for dynamic ip users :'))

[2015-09-04 09:11] DmitryRendov commented on #196
Thanks for your quick response. I'm trying to integrate your plugin and Django - your application generates a pbkdf2 hash different from Django 1.7+

It seems this issue is close connected with certs (http://stackoverflow.com/questions/15691985/maven-release-peer-not-authenticated). Deleting .m2 hasn't helped. After adding -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true I

[2015-09-04 21:28] vanjavk commented on #193
After turning of inventory protection it didn't happen anymore but then again, it doesn't happen very often :) anyways nice that you now confirmed it as bug :)

[2015-09-06 00:04] sgdc3 commented on #196
It's the same error, I think that you are having problems with your maven installation, does it work with other projects?

[2015-09-06 00:06] sgdc3 commented on #131
BUMP

[2015-09-06 00:14] sgdc3 opened #197 "[Important] We need urgently another active developer!"
Don't be shy! If you are using our plugin and you're a developer, please consider to help us! We need you NOW! Thanks ;)

[2015-09-06 06:25] DNx5 commented on #131
maybe I can help. But, I never work with public project before (Still learning git). :smile:
My main language is Indonesia.

[2015-09-06 10:00] sgdc3 commented on #131
@DNx5 Git is very simple, if you want I can help you :) We need someone expert with database connection pools but we need also someone to help the main developer to fix the bugs.

[2015-09-06 11:05] sgdc3 commented on #194
Can you try without multicraft? maybe on your computer localhost? :)

[2015-09-06 11:23] DNx5 commented on #131
@sgdc3 Okay, thank you :D
I will help for fixing the bugs. I thought the database connection pools already better with HikariCP.
just the Inventory cache problem.

[2015-09-06 11:36] sgdc3 commented on #131
@DNx5 Ok, can you join the development chatroom? :) https://gitter.im/Xephi/AuthMeReloaded

[2015-09-06 14:26] DmitryRendov commented on #196
You're right. It was maven 3.0.4 SSLv3 issue "peer not authenticated" -- solved by updating to 3.3.3.
It can be closed.

Thanks guys for your help.

[2015-09-06 14:26] #196 closed

[2015-09-07 13:05] xjboss opened #199 "E-Mail Recovery System is not safe"
Lots of Chinese player use QQ Email so many player know other player's email.
malicious recovery password.
And some thieves hacking other player's account,they can easy to change the email,than account's old owner can't recovery his account.
Best to change send new password the way,send to player a temp captcha,player can use temp captcha to change his password,then malicious recovery become Inval

[2015-09-07 13:37] sgdc3 commented on #199
I don't understand the problem, can you explain it more clearly?

[2015-09-07 14:28] DNx5 commented on #199
I think we need to send verification code when player changed the email. i dont know.

[2015-09-07 14:30] sgdc3 commented on #199
Yeah but atm we already do this...

[2015-09-07 15:52] vanjavk opened #200 "URGENT build #144 unregister doesn't work also /changepassword doesn't work!!!"
I think it's not fixed in #149 because I dn't see anything in changes that would say so, but I need this done fast by tonight, (5 hours) please.  1 guy got his account hacked and now he can't change password. I CANNOT CHANGEPASSWORD OR UNREGISTER THEM :(

07.09 17:51:38 [Server] INFO ... 15 more
07.09 17:51:38 [Server] INFO at org.bukkit.command.PluginCommand.execute(PluginCommand.java:44) ~[spigo

[2015-09-07 15:52] vanjavk commented on #200
i will update to latest build at my regular restart tonight.

[2015-09-07 16:16] sgdc3 commented on #200
@DNx5 can you check this? Thanks

[2015-09-07 16:21] DNx5 commented on #200
okay

[2015-09-07 16:21] vanjavk commented on #194
I tried without with same plugins but only 1 people online and it worked normally, I don't have time to test with  multiple atm, but it might be multicraft's problem

[2015-09-07 16:24] sgdc3 commented on #194
Yeah I think the cause is multicraft

[2015-09-07 16:31] vanjavk commented on #200
Thanks for fast response guys and happy fixing <3

[2015-09-07 16:34] sgdc3 commented on #200
FIXED! Thanks @DNx5 ;)
Link to latest dev build: http://ci.xephi.fr/job/DEVBUILD-ONLY/
WARNING (this build contains also new untested features, if you can't use it we'll create a build with only this fix)

[2015-09-07 16:34] sgdc3 commented on #200
@vanjavk

[2015-09-07 16:34] vanjavk commented on #200
well If I don't use new features I should be fine ?

[2015-09-07 16:35] sgdc3 commented on #200
as new features i mean performace enhancements

[2015-09-07 16:36] sgdc3 commented on #200
if you use sqlite there are no problems
we only modified how mysql connector works

[2015-09-07 16:36] vanjavk commented on #200
Oh, well let's just hope everything goes well :) Lemme test this :D

[2015-09-07 16:36] vanjavk commented on #200
Hmm I use MYSQL

[2015-09-07 16:36] vanjavk commented on #200
is that different?

[2015-09-07 16:39] vanjavk commented on #200
I see that it is by googling, not understanding whole concept of SQLs :/  anyways my server host supplies me only with MYSQL, so I'll have to stick with that, but for future, do you recommend SQlite, is it faster than Mysql?

[2015-09-07 17:02] sgdc3 commented on #200
mysql requires a mysql server to work, it should be faster (it depends by your hosting performance), sqlite a simple version of sql, it doesn't require a server.

[2015-09-07 17:03] sgdc3 commented on #200
If your mysql hosting is slow you should use SQLite, but if you have lots of registered users you must use mysql!

[2015-09-07 19:20] vanjavk commented on #200
Ok big proglem, info coming

[2015-09-07 19:21] vanjavk commented on #200
[19:19:20] [Server thread/WARN]: [Server thread] INFO com.zaxxer.hikari.HikariDataSource - AuthMeMYSQLPool - is starting.
[19:19:20] [Server thread/WARN]: [Server thread] INFO com.zaxxer.hikari.pool.HikariPool - AuthMeMYSQLPool - is closing down.
[19:19:20] [Server thread/WARN]: [AuthMe] ERROR: Exception during pool initialization: Communications link failure

The last packet sent successfully to

[2015-09-07 19:21] vanjavk commented on #200
Other plugins are connecting to mysql just fine

[2015-09-07 19:23] vanjavk commented on #200
If anyone's here " if you can't use it we'll create a build with only this fix" this would help me right now

[2015-09-07 19:24] sgdc3 commented on #200
First try the development build, if you find some issues report them and we'll create a personal build for you

[2015-09-07 19:25] vanjavk commented on #200
Uhm, not sure if comments didn't load for you but check above, I tried but it doesn't even want to connect to database

[2015-09-07 19:26] sgdc3 commented on #200
no this is a wrong mysql configuration issue

[2015-09-07 19:27] sgdc3 commented on #200
are you sure they are ok?

[2015-09-07 19:29] vanjavk commented on #200
It seems to be problem only with latest dev build and not build before that

[2015-09-07 19:30] sgdc3 commented on #200
ok building it right now

[2015-09-07 19:30] vanjavk commented on #200
they're 100% ok sec lemme test again with build #155 then #154

[2015-09-07 19:37] sgdc3 commented on #200
https://mega.nz/#!2A90VaDZ!aU2Lck_yLh8dPG2gZZ7B41oTkz2AflBpoAU4XYAAflQ build without unstable stuff

[2015-09-07 19:38] vanjavk commented on #200
none doesn't seem to work for either 155 or 154, however if i load old .jar with bugged changepassword it connects succesfuly so it's not problem in database configuration

[2015-09-07 19:39] vanjavk commented on #200
thanks I'll try that now

[2015-09-07 19:39] vanjavk commented on #200
Anyways this was my configuration:
  mySQLColumnName: username
  mySQLTablename: authme
  mySQLUsername: MCSQL_2714
  backend: mysql
  mySQLColumnLastLogin: lastlogin
  mySQLDatabase: MCSQL_2714
  mySQLPort: 3306
  mySQLColumnIp: ip
  mySQLHost: mysql.netherbyte.com
  mySQLColumnPassword: password
  mySQLPassword: HIDDEN
  caching: true
  mySQLlastlocX: x
  mySQLlastlocY: y
  mySQLlastlocZ: z
  my

[2015-09-07 19:43] vanjavk commented on #200
Hey this latest one you gave me seems to be working fine :D

[2015-09-07 19:50] vanjavk commented on #193
I just wanted to say that after turning off inventory protection I haven't had single report of inventory loss, so thanks for this workaround fix :D

[2015-09-07 20:00] vanjavk commented on #200
07.09 21:58:12 [Multicraft] Lettawi ran command Message of the Day
07.09 21:58:12 [Server] WARN ERROR: Error while reading file for Lettawi, some wipe inventory incoming...
07.09 21:58:12 [Server] WARN ERROR: Error while reading file for Lettawi, some wipe inventory incoming...
07.09 21:58:12 [Server] WARN ERROR: Error while reading file for Lettawi, some wipe inventory incoming...
07.09 21:58:12

[2015-09-07 21:23] sgdc3 commented on #200
Yeah if the option was true it will have wiped everything xD

[2015-09-07 21:24] sgdc3 commented on #200
Now with the new developers we can work on these bugs more quickly ;)

[2015-09-07 21:24] sgdc3 commented on #200
Expect a stable version soon

[2015-09-08 04:37] vanjavk commented on #200
Awesome :)

[2015-09-08 09:44] Xephi commented on #200
Fixed

Xephi

[2015-09-08 16:15] #184 closed

[2015-09-08 22:25] vanjavk opened #202 "Suggestion: Admins register more alt accounts"
Add permission node or something for when admins want to create new account but it blocks them due to too many accounts from same IP.

So for example I am logged in as vanjavk. I exit minecraft and I start new minecraft with different name. I log into server and type /register, plugin would now:
Check if I can make account:
If not:
  Iterate over all players that logged with my IP
  Check each for

[2015-09-08 22:26] #200 closed

[2015-09-08 22:27] #194 closed

[2015-09-08 22:56] sgdc3 commented on #202
:/ this isn't very secure. atm you can already forcelogin someone!

[2015-09-09 07:19] xjboss commented on #199
Yeah change email and recovery password use verification code.

[2015-09-09 10:09] vanjavk commented on #202
Okey np :)

[2015-09-09 10:09] #202 closed

[2015-09-11 17:13] JunkyBulgaria commented on #190
confirm, same here. using MySQL as db source.
[code]

[2015-09-11 17:44] sgdc3 commented on #190
can you check this version? http://ci.xephi.fr/job/DEVBUILD-ONLY/

[2015-09-11 22:28] VladStarr commented on #190
Can't check, latest build tries to connect to the localhost, but I have my db on other server. Seems that plugin ignores config value.

[2015-09-11 23:03] sgdc3 commented on #190
Ok, thanks, I will fix it ;)

[2015-09-12 15:53] Xofter opened #203 "Inventory bug"
Inventory wipe after MC crash or internet DC. Protect inventory config fixes this however it can let you eat other food/op apples and other small bugs. Please fix this as soon as possible (because people are eating other peoples food n so on)

[2015-09-12 22:48] sgdc3 commented on #203
protect inventory is the feature that blocks inventory abused, the only bug is the protect inventory malfunction!

[2015-09-12 23:37] Xofter commented on #203
yes i know this, thats why i would like the inventory wipe bug to be fixed ;>

[2015-09-13 00:05] sgdc3 commented on #203
Lol. Tomorrow I will look into the issue ;)

[2015-09-13 00:44] sgdc3 opened #204 "Per server last location"

[2015-09-13 00:45] sgdc3 commented on #68
Bump

[2015-09-13 00:46] sgdc3 commented on #110
Bump

[2015-09-13 05:07] InstanceOfDev commented on #197
Add me on Skype: instanceofdev and we can talk about it :)

[2015-09-13 06:30] BeastPsycho opened #205 "MaxAccounts Registering per IP setting not working!"
Users are registering accounts, up to 25 in my network!
What happended with the authmereloaded developer?
This version 5 has a lot a bugs....

[2015-09-13 08:28] ljacqu commented on #197
I have a lot on my plate but I feel like I could help out in this project, too. My skype and email is my Github username at hotmail dot com if you are interested.

[2015-09-13 09:31] sgdc3 commented on #197
Well, @InstanceOfDev  @ljacqu start looking into the issue tracker and try to fix some of the issues, if you succeed to do this we can start talking about the recruiment, ok? :)

[2015-09-13 09:33] sgdc3 commented on #205
Simply @Xephi is too busy atm, we are looking for more developers... Anyway, do you use bungeecord?

[2015-09-13 11:00] MiLk opened #206 "Issue with special characters"
I have installed AuthMeReloaded on my Spigot server, but I have an issue with the french translation.

When the server start, it replaces the content of the `plugins/AuthMe/messages_fr.yml` file and replace all the special characters by hexadecimal code.

Instead of https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/resources/messages_fr.yml, I get the following:
[code]

What do I do wro

[2015-09-13 13:22] sgdc3 commented on #206
are you saving the file with UTF8 non-BOM encoding?

[2015-09-13 13:23] sgdc3 commented on #203
@Xofter Should have been fixed! Check this version: http://ci.xephi.fr/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.0-SNAPSHOT.jar

[2015-09-13 16:12] MiLk commented on #206
Yes. Even downloaded directly from github with `wget` doesn't change anything.
I can correctly display the file with `vim`, `cat` or `less` before starting the server.

[2015-09-13 20:34] Xofter commented on #203
You did not fix anything, just made a lot of new errors and unsuccesfulbuild [23:33:49] [Craft Scheduler Thread - 12/WARN]: [AuthMe] Error with the login translation, verify in your ./plugins/AuthMe/messages/messages_en.yml !
[23:33:49] [Craft Scheduler Thread - 12/INFO]: [AuthMe] sapokelis logged in!
[23:33:49] [Craft Scheduler Thread - 17/WARN]: [AuthMe] Error with the login translation, verify

[2015-09-13 20:53] sgdc3 commented on #203
try new version: http://ci.xephi.fr/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.0-SNAPSHOT.jar

[2015-09-13 20:54] sgdc3 commented on #203
sorry but it's hard to work with only 1 developer

[2015-09-13 21:08] Xofter commented on #203
dude you could try it on your own computer, i own a big network i cant restart the server every hour or so

[2015-09-13 21:38] sgdc3 commented on #203
I cant test it with a single player -_-

[2015-09-13 21:53] vanjavk commented on #205
I'm not able to reproduce the bug, please give us more data.

[2015-09-14 05:42] Xofter commented on #203
Still getting errors, and errors with traslation/message or something

[2015-09-14 16:13] FoxColdMetal commented on #206
I found this problem in the early ```v3.5-SNAPSHOT```. To prevent Authme to rewrite the messages file on every start, you can set the read-only flag on your ```messages_fr.yml``` file, at filesystem level.

This is not a final solution, but does the trick to preserve your custom changes on the file while the issue is being solved. Note that if the yaml file contains syntax errors, Authme won't be

[2015-09-14 17:22] DNx5 commented on #206
@sgdc3 can you build that ^

[2015-09-14 17:30] vanjavk commented on #204
+1

[2015-09-14 17:55] sgdc3 commented on #206
build is automated
http://ci.xephi.fr/job/DEVBUILD-ONLY/

[2015-09-14 20:47] JunkyBulgaria commented on #190
not fixed, error does not appear but password does not update.

[2015-09-14 21:13] FoxColdMetal commented on #206
The language file is not rewritten anymore. It is solved.

[2015-09-14 21:24] sgdc3 commented on #206
Is the issue fixed? :)

[2015-09-14 22:05] sgdc3 opened #207 "New api method to set a player as npc"
like the citizens hook

[2015-09-15 00:57] FoxColdMetal commented on #206
I have tested the new plugin snapshot with the same configuration as @MiLk used:
* Server version ```1.8.8-R0.1-SNAPSHOT``` with parameter ```-DFiles.encoding=UTF8```.
* Authme configured to use french language and the referenced ```messages_fr.yml``` language file (https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/resources/messages_fr.yml).

As result, the language file is no longer r

[2015-09-15 01:25] MiLk commented on #206
Thanks for your help.
The file is no longer rewritten, but I still have an issue.
![2015-09-15-102442_420x42_scrot](https://cloud.githubusercontent.com/assets/29782/9865644/20d8c2a4-5b94-11e5-9766-b23d097bcd00.png)

[2015-09-15 06:47] DNx5 commented on #206
is minecraft support displaying special characters?

[2015-09-15 13:10] MiLk commented on #206
It works with Essentials.

[2015-09-15 16:39] DNx5 commented on #207
Why?

[2015-09-15 16:59] sgdc3 commented on #207
nope, it was a first idea to fix npc plugin compatibility issue

[2015-09-15 16:59] #207 closed

[2015-09-15 20:13] andris155 commented on #181
New pastebin link: http://pastebin.com/kW6u8uwh

[2015-09-15 20:23] sgdc3 commented on #181
Which version of authme are you using?

[2015-09-15 20:39] andris155 commented on #181
Latest 5.0 Dev.

[2015-09-15 21:13] sgdc3 commented on #181
try 5.1

[2015-09-15 21:14] sgdc3 commented on #181
http://ci.xephi.fr/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.1-SNAPSHOT.jar

[2015-09-15 21:58] FoxColdMetal commented on #206
Minecraft client supports UTF8 encoding long time ago, by default. So these special characters must be supported.

I have been doing some testing. Running the server on a Linux host (tested in ubuntu 14.04) and encoding the file with UTF8 without BOM, the special characters are shown properly on the client. Running the server on a Windows host and encoding the file with ANSI (CP-1252), the special

[2015-09-16 16:04] FoxColdMetal commented on #206
Nope :)

Although I already had a working fix by modifying some code of the Yaml engine derived classes (overloading some methods in ```fr.xephi.authme.settings.CustomConfiguration``` class), this was unnecessary.

@MiLk try changing the JVM parameter ```-DFiles.encoding=UTF8``` by this one ```-Dfile.encoding=UTF-8```.

[2015-09-16 18:26] sgdc3 opened #208 "handleDisconnection() called twice on registration/login timeout"

[2015-09-18 13:15] andris155 commented on #181
Thanks

[2015-09-18 15:05] Dimatert9 opened #209 "error in AuthMe-team version"
http://pastebin.com/h4hbpJXf

[2015-09-18 17:34] VladStarr commented on #209
Have the same issue.
Some players lose their inventory after login.

[2015-09-18 17:46] sgdc3 commented on #209
Working on a fix

[2015-09-18 17:48] andris155 opened #210 "AuthMe Dev. 5.1 player join error and other error."
http://pastebin.com/7CK6PmML
http://pastebin.com/57hBAmh2

[2015-09-19 08:59] VladStarr opened #211 "AsyncronousJoin error"
Hi. Build #214.

[code]

[2015-09-19 11:35] Dimatert9 commented on #211
+

[14:35:55 WARN]:        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
[14:35:55 WARN]:        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
[14:35:55 WARN]:        at java.lang.Thread.run(Thread.java:745)
[14:35:56 INFO]: UUID of player TripleRhu is 37f7a281-13c7-3f60-9d99-3131e61a4b24
[14:35:56 INFO]: TripleRhu[/178.167.

[2015-09-19 23:36] andris155 opened #212 "Latest Authme 5.1 DEV."
Latest Authme 5.1 DEV. after login set fly speed 2-3.

[2015-09-19 23:40] sgdc3 commented on #212
You mean it gived fly to everyone or only to already flying players?

[2015-09-19 23:43] andris155 commented on #212
Fly speed changed already flying players.

[2015-09-19 23:45] sgdc3 commented on #212
It should reset the speef to the default value, is it too fast or slow?

[2015-09-19 23:46] sgdc3 commented on #212
speed sorry

[2015-09-19 23:54] andris155 commented on #212
Default fly speed = 1. AuthMe latest 5.1 DEV. = After /logging already flying players the flying speed change to 2-3 (essentials speed command logic)

[2015-09-19 23:56] sgdc3 commented on #212
ok i used a wrong default value (2) I will fix it now ;)

[2015-09-19 23:58] andris155 commented on #212
Thanks. :+1:

[2015-09-20 00:13] sgdc3 commented on #212
Keep this open please, i will fix the issue tomorrow because git on my mobile isn't working

[2015-09-20 09:42] VladStarr commented on #212
@sgdc3, also I`ve noticed that some of players had fly mode after login, but they did not have permission.
It had been already fixed or not yet?

[2015-09-20 10:01] sgdc3 commented on #212
Probably this isn't an authme issue, nobody else reported this issue... @VladStarr
I will look on it anyway ;)

[2015-09-20 11:42] sgdc3 commented on #212
fixed!

[2015-09-20 11:42] sgdc3 commented on #212
@andris155 Can you close the issue please? :)

[2015-09-20 11:48] #212 closed

[2015-09-20 23:14] #206 closed

[2015-09-21 12:30] MiLk commented on #206
Works! Thank you for your help.

[2015-09-21 12:46] Xephi commented on #206
@MiLk  un petit soucis avec la langue Française? :') N'hésite pas à convertir le fichier messages_fr.yml en UTF-8 pour ne pas avoir de soucis, mais cela dépend de l'os qui fait tourner le serveur, si tu es sous Linux, UTF-8 semble une bonne idée, par contre si tu es sous Windows, n'hésite pas à le convertir en ANSI (CP-1252 si je ne m'abuse)

Xephi

[2015-09-22 02:22] BeastPsycho commented on #205
@vanjavk Yes I know it, but i cant downdrade to v4 of AuthmeReloaded, i use a MYSQL databse.
But, the version 5, added UUID support, now:

If you register with, a new username in my network:
mc.risingbattles.com
Do you can register 2 or more accounts with your same IP address, i get notified in server lobby (OP permissions) in chat about some players have up to 25 accounts, do you can fix it?
I ha

[2015-09-22 05:33] sgdc3 commented on #205
you need to set maxregperip!

[2015-09-22 05:35] sgdc3 commented on #205
maxlogin and maxjoin are an old feature, probably glitched. Today I will look into it.

[2015-09-22 15:21] Xofter opened #213 "Error"
[18:19:56] [Server thread/INFO]: JamCraft[/78.62.229.170:59601] logged in with entity id 4646600 at ([world]-453.5, 1.0, -267.5)
[18:19:56] [Craft Scheduler Thread - 2245/WARN]: Exception in thread "Craft Scheduler Thread - 2245"
[18:19:56] [Craft Scheduler Thread - 2245/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.0-SNAPSHOT generated an exception while executing task 45594

[2015-09-22 15:51] sgdc3 commented on #213
Plugin version?

[2015-09-22 16:27] Xofter commented on #213
#1​50

[2015-09-22 16:33] sgdc3 commented on #213
can you test 151?

[2015-09-22 16:33] sgdc3 commented on #213
Do a backup before

[2015-09-23 03:24] BeastPsycho commented on #205
@sgdc3 Yes in my config its so:

    maxRegPerIp: 1

This is a bug.

[2015-09-23 15:54] andris155 opened #214 "Chatcontrol pro latest + Authme 5.1 Snapshot error"
http://pastebin.com/hfw4K1Qs

[2015-09-23 16:10] andris155 opened #215 "Authme 5.1 Snapshot server start + join players error"
http://pastebin.com/8rByRdyR

[2015-09-23 16:11] andris155 opened #216 "Authme 5.1 Snapshot server stop error"
http://pastebin.com/C3nGN5gB

[2015-09-23 16:12] andris155 commented on #210
Thanks.

[2015-09-23 16:12] #210 closed

[2015-09-23 17:24] DNx5 commented on #214
@sgdc3 are i am doing wrong by moving that method? because that was not the part of API.

[2015-09-23 17:43] sgdc3 commented on #214
idk why chat control uses this method -_- we need to contact the plugin's author

[2015-09-23 17:50] andris155 commented on #214
Plugin link: https://www.spigotmc.org/resources/chatcontrol-pro.10258/

[2015-09-23 17:52] andris155 commented on #214
Plugin author comment
![kepkivagas](https://cloud.githubusercontent.com/assets/8324198/10053476/88176b84-622c-11e5-8686-c0c7eb84c5d2.PNG)

[2015-09-23 18:35] DNx5 commented on #214
http://ci.xephi.fr/view/All/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.1-SNAPSHOT.jar

[2015-09-23 19:04] andris155 commented on #214
Thanks!

[2015-09-23 19:54] andris155 commented on #214
Not work!
23.09 21:53:17 [Multicraft] Server shut down (running)
23.09 21:53:17 [Multicraft] Restarting crashed server in 10 seconds

[2015-09-23 19:56] andris155 commented on #214
[21:51:08] [Server thread/WARN]: [AuthMe] [AuthMe] Can't load the configuration file... Something went wrong, to avoid security issues the server will shutdown! why?

[2015-09-23 22:03] sgdc3 commented on #214
Try latest dev build ;)

[2015-09-23 22:03] Xofter opened #218 "Changepassword"
Authme 5.1 (newest) when you changepassword shows that the password was changed, HOWEVER it doesnt change the password.

[2015-09-23 22:26] sgdc3 commented on #218
Thanks for the report :)
I think @Xephi is going to improve the performance and fix some of the most critical issues this night, more infos tomorrow! :)

[2015-09-24 01:06] evernife opened #219 "FakePlayers"
I cannot allow fake players to join the server. (Using kcauldron)

My config:
![image](https://cloud.githubusercontent.com/assets/11357801/10063020/60a036e0-623f-11e5-84e6-ebb7b66d8354.png)

[2015-09-24 12:14] DNx5 commented on #218
@Xofter can you try the latest dev build :smile: do a backup before.
http://ci.xephi.fr/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.1-SNAPSHOT.jar

[2015-09-24 13:36] sgdc3 commented on #214
@andris155 Fixed!

[2015-09-24 17:18] NIK220V opened #220 "Email recovery doesn't work"
[20:15:29] [Craft Scheduler Thread - 5/WARN]: Exception in thread "Craft Scheduler Thread - 5"
[20:15:29] [Craft Scheduler Thread - 5/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.0-SNAPSHOT generated an exception while executing task 56
	at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
	at java.util.concurrent.ThreadPoolExecutor.runWorke

[2015-09-24 17:38] NIK220V opened #221 "Server crash on starting"
Starting from #231 dev build (#230 and prev works fine)
[09-24 20:32:35] java.lang.NullPointerException
	at fr.xephi.authme.settings.Settings.<init>(Settings.java:99)
	at fr.xephi.authme.AuthMe.onEnable(AuthMe.java:120)
	at org.bukkit.plugin.java.JavaPlugin.setEnabled(JavaPlugin.java:321)
	at org.bukkit.plugin.java.JavaPluginLoader.enablePlugin(JavaPluginLoader.java:340)
	at org.bukkit.plugin.Simp

[2015-09-24 18:03] DNx5 commented on #220
what is your Java version?

[2015-09-24 18:06] NIK220V commented on #220
Java 8.
This error is on 5.0 beta 3.
I updated to #230
and now with config like this:
Email:
    # Email SMTP server host
    mailSMTP: smtp-pulse.com
    # Email SMTP server port
    mailPort: 465
    # Email account that send the mail
    mailAccount: 'myaccount@gmail.com'
    # Email account password
    mailPassword: 'xxxxxxxxx'
    # Custom SenderName, that replace the mailAccount name in the

[2015-09-24 18:10] DNx5 commented on #221
fixed, try build 232

[2015-09-24 18:16] sgdc3 commented on #220
Ok now it loads the java library correctly but the send method doesn't work.

[2015-09-24 18:17] NIK220V commented on #220
So,  error is in my config or in the plugin?

[2015-09-24 18:20] sgdc3 commented on #220
idk, we need to add more error messages to know where's the problem

[2015-09-24 19:04] NIK220V commented on #220
Can i help with something or should i just wait next build?

[2015-09-24 19:30] sgdc3 commented on #220
If you know java you can help us :)

[2015-09-25 16:09] NIK220V commented on #220
I think i found one more bug.
OP permission still work even if not logged in.
e.g. plugin which requires OP to give you cobblestone in inventory will give cobblestone into the inventory of even not logged in person.

[2015-09-26 00:12] sgdc3 commented on #220
Can you open a new issue about?

[2015-09-28 16:17] JunkyBulgaria opened #223 "Registration exploit"
Whenever MySQL(phpBB or anything else probably) is used as user storage, they can re-register instead of logging in.

Example: I have already registered, when i type "/register 123456789" it will say that i've successfully registered and can play.

[2015-09-28 17:53] games647 commented on #223
reproducible for flat file storage

[2015-09-28 18:01] sgdc3 commented on #223
damn, we are going to fix this asap! D:

[2015-09-28 18:03] games647 commented on #223
I guess I found it

[2015-09-28 18:31] sgdc3 commented on #223
Fixed version here: http://ci.xephi.fr/job/DEVBUILD-ONLY/lastSuccessfulBuild/artifact/target/AuthMe-5.1-SNAPSHOT.jar @JunkyBulgaria

[2015-09-29 10:28] JunkyBulgaria commented on #223
yep, works fine

[2015-09-29 12:18] sgdc3 commented on #223
Can you close the issue?

[2015-09-29 13:49] #223 closed

[2015-10-03 00:09] ChezRD commented on #219
Similar issues here were closed without any response. wtf?

[2015-10-03 04:26] FoxColdMetal commented on #185
In order to be compatible with the custom SHA256 hash generation algorithm used by Authme, you should know in advance the same salt used by Authme and use it to generate your hash, even for the same plain password. To generate a standard SHA256 hash you need only the input password, but for an Authme hash you need two input values: the input password and a salt. This seems to be the only way to ge

[2015-10-03 05:41] DNx5 commented on #219
@evernife try to enable this
```AllowRestrictedUser: true```

[2015-10-03 08:54] #148 closed

[2015-10-03 15:25] evernife commented on #219
Worked!

[2015-10-03 15:25] #219 closed

[2015-10-03 16:12] emre24807 opened #226 "Table Upload"
(Sorry for my bad english)
I am using website registration system. When my members registered at website, their datas are entered the authme table. But plugin don't update table. So my members can't login server until server is restarted.

[2015-10-03 21:05] sgdc3 commented on #226
@DNx5 @games647 What do you think about this?

[2015-10-03 21:53] #197 closed

[2015-10-03 21:54] sgdc3 commented on #92
Useless

[2015-10-03 21:54] #92 closed

[2015-10-03 21:55] #131 closed

[2015-10-03 21:55] sgdc3 commented on #134
Old issue, no more informations about the issues

[2015-10-03 21:55] #134 closed

[2015-10-03 21:57] sgdc3 commented on #161
no more informations

[2015-10-03 21:57] #161 closed

[2015-10-03 21:57] #163 closed

[2015-10-03 21:57] sgdc3 commented on #165
Fixed

[2015-10-03 21:57] #165 closed

[2015-10-03 21:58] sgdc3 commented on #172
@Trojaner25 Any news about your idea? :)

[2015-10-03 21:58] sgdc3 commented on #181
@andris155 Can you close this issue? :)

[2015-10-03 21:59] sgdc3 commented on #185
@Trsak Any news about your issue?

[2015-10-03 22:00] sgdc3 commented on #186
@andris155 Can you close this?

[2015-10-03 22:00] sgdc3 commented on #187
@andris155 Any news?

[2015-10-03 22:01] sgdc3 commented on #187
@andris155 It's fixed now, can you close this issue?

[2015-10-03 22:01] sgdc3 commented on #188
@VladStarr Does it work now?

[2015-10-03 22:02] sgdc3 commented on #190
@VladStarr Fixed, can you test and close the issue?

[2015-10-03 22:03] sgdc3 commented on #191
@andris155 Should have been fixed, can you close this?

[2015-10-03 22:04] sgdc3 commented on #193
Fixed, @vanjavk can you close this?

[2015-10-03 22:05] sgdc3 commented on #203
@Xofter Fixed! Can you try latest dev build and close the issue? :)

[2015-10-03 22:06] #208 closed

[2015-10-03 22:06] sgdc3 commented on #209
@Dimatert9 Fixed, can you close this?

[2015-10-03 22:07] sgdc3 commented on #211
@VladStarr Fixed! Can you close this issue?

[2015-10-03 22:07] sgdc3 commented on #213
@Xofter Fixed, can you test latest dev build?

[2015-10-03 22:07] sgdc3 commented on #213
http://ci.xephi.fr/job/DEVBUILD-ONLY/

[2015-10-03 22:09] sgdc3 commented on #214
@andris155 Can you close this if it's fixed?

[2015-10-03 22:09] sgdc3 commented on #215
@andris155 Fixed! try latest dev build here: http://ci.xephi.fr/job/DEVBUILD-ONLY/

[2015-10-03 22:10] sgdc3 commented on #216
@andris155 Can you try with latest dev build? http://ci.xephi.fr/job/DEVBUILD-ONLY/

[2015-10-03 22:11] sgdc3 commented on #218
@Xofter Can you test latest build and close the issue? :) Thanks

[2015-10-03 22:11] sgdc3 commented on #220
@NIK220V

[2015-10-03 22:11] sgdc3 commented on #221
@NIK220V Can you try latest dev build at http://ci.xephi.fr/job/DEVBUILD-ONLY/ ? Thanks

[2015-10-03 22:14] NIK220V commented on #221
@sgdc3 What should i check? Email recovery system?

[2015-10-03 22:15] sgdc3 commented on #221
@NIK220V No the error on start you reported here :)

[2015-10-03 22:17] NIK220V commented on #221
@sgdc3 Okay, one second, i'll update. Can you say when you'll be able to add more messages fro email system? Because i still don't know did i something wrong or this is a plugin error.

[2015-10-03 22:22] NIK220V commented on #221
@sgdc3 Oh. Wow. It doesn't even run. Like there is no plugin in /pl such as 'AuthMe'. I think you broke something :D

[2015-10-03 22:28] NIK220V commented on #221
@sgdc3 Here it is.
[01:22:09] [Server thread/ERROR]: Could not load 'plugins/AuthMe-5.1-SNAPSHOT (1).jar' in folder 'plugins'
org.bukkit.plugin.InvalidPluginException: java.lang.NoClassDefFoundError: com/comphenix/protocol/events/PacketListener
	at org.bukkit.plugin.java.JavaPluginLoader.loadPlugin(JavaPluginLoader.java:135) ~[spigot187.jar:git-Spigot-f928e7a-f27339c]
	at org.bukkit.plugin.SimpleP

[2015-10-03 22:55] sgdc3 commented on #221
protocollib is a necessary dependency atm, we'll add it as softdepend very soon

[2015-10-03 22:56] sgdc3 commented on #221
so try to put protocollib in you plugin folder

[2015-10-03 22:59] NIK220V commented on #221
Yeah. Works fine with ProtocolLib.

[2015-10-03 23:23] andris155 commented on #215
Thanks!

[2015-10-03 23:23] #215 closed

[2015-10-03 23:23] andris155 commented on #214
Thanks!

[2015-10-03 23:23] #214 closed

[2015-10-03 23:23] #181 closed

[2015-10-03 23:24] andris155 commented on #191
Thanks!

[2015-10-03 23:25] #191 closed

[2015-10-03 23:25] andris155 commented on #187
Yes

[2015-10-03 23:25] #187 closed

[2015-10-03 23:25] #186 closed

[2015-10-03 23:28] andris155 commented on #216
Thanks!

[2015-10-03 23:29] #216 closed

[2015-10-03 23:40] sgdc3 commented on #221
Ok can you close the issue? ;)

[2015-10-03 23:41] #221 closed

[2015-10-04 03:13] DNx5 commented on #226
What type of database and website?

[2015-10-04 10:35] #209 closed

[2015-10-05 13:04] #193 closed

[2015-10-05 13:04] #203 closed

[2015-10-06 17:33] #169 closed

[2015-10-06 17:34] Dimatert9 opened #228 "[BungeeCord] Teleport player to other server after login/register."
Can you add this feature?

[2015-10-06 17:35] games647 commented on #169
So is it fixed now?

[2015-10-06 18:59] Xofter opened #229 "Accounts"
Sometimes people cant log in to their accounts. It says that player is already playing (even tho they dont)

[2015-10-06 19:00] games647 commented on #229
Can they log into server?

[2015-10-06 21:46] Xofter commented on #229
Like i said no, they cannot log in with their other accounts. However with their main account (or some other) they can. It only happens with a couple of guys,as i can tell.

[2015-10-06 23:50] ticklemynausea opened #230 "[Feature Request] disabling accounts"
Hi. I'm moving my server from xAuth to AuthMe. After using xAuth for about 4 years I am forced to move out because very sadly it lacks support for java 1.8 and newer versions of Spigot/Bukkit. One of the features we grew really accustomed to was being able to disable accounts without deleting them (xAuth's db schema has an 'active' column in the accounts table).

I'm probably going to be able to p

[2015-10-07 05:42] sgdc3 commented on #230
What's the difference from the ban?

[2015-10-07 11:29] DNx5 commented on #230
ban should works too. set the reason message to something about disabled account.

[2015-10-07 16:42] ticklemynausea commented on #230
It has little difference from the point of view of a banned or disabled player. But from our managerial point of view though, the 'active' database column is, as I said, something we require. Several parts of our server, including player accounts, are managed through a custom web interface which integrates with the server plugins at the database layer. Disabling accounts through this interface is

[2015-10-07 17:14] sgdc3 commented on #230
It's only a complication :/

[2015-10-07 17:18] ticklemynausea commented on #230
I understand that this is not something everyone requires.

Thanks

[2015-10-07 17:18] #230 closed

[2015-10-07 17:26] sgdc3 commented on #230
You can do it in other ways :)

[2015-10-07 17:27] sgdc3 commented on #230
Without modifying your web interface I mean

[2015-10-09 15:08] Xofter commented on #229
Seems the problem is with similiar names, for example user Xofter cannot log in if Xofter2003 is logged in or Xofter2003The

[2015-10-09 15:09] Xofter commented on #229
Gonna try the newest build see if its fixes it

[2015-10-09 17:51] Xofter commented on #229
found out the bug, its with /authme register when u register someone,it shows as logged in. It works fine if someone register it himself ;>

[2015-10-09 20:18] #211 closed

[2015-10-09 22:41] #121 closed

[2015-10-09 22:43] #126 closed

[2015-10-09 22:44] sgdc3 opened #231 "Set custom stats as visible! (mcstats.org)"
We are unable to display custom graphs on mcstats.org because we don't own the ownership of the page.

[2015-10-09 22:45] sgdc3 commented on #172
Bump

[2015-10-10 01:24] Xofter opened #232 "shutting down server error [Mysql]"

[2015-10-10 01:24] Xofter commented on #232
[04:23:16] [pool-38-thread-225/WARN]: AuthMeMYSQLPool - Connection null, created Oct 10, 04:21:00.181, last release 136579ms ago, REMOVED marked as broken because of SQLSTATE(08S01), ErrorCode(0)
com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure

The last packet successfully received from the server was 6 milliseconds ago.  The last packet sent successfully to th

[2015-10-10 08:31] sgdc3 commented on #232
can you provide your configuration?

[2015-10-10 10:15] Trojaner25 commented on #172
Since I'm very busy with my own Plugins (Sink-Plugins & ReallifePlugin @ Static-Interface), I currenlty don't have enough time to do this...

[2015-10-10 15:11] Xofter commented on #232
The mysql works perfectly fine, everyone (90 players) seems to log in just fine, i only get that error when shutting down the server.
DataSource:
  mySQLColumnName: username
  mySQLTablename: authme
  mySQLUsername: root
  backend: mysql
  mySQLColumnLastLogin: lastlogin
  mySQLDatabase: authme
  mySQLPort: '3306'
  mySQLColumnIp: ip
  mySQLHost: 127.0.0.1
  mySQLColumnPassword: password
  mySQLPa

[2015-10-11 09:02] Trojaner25 commented on #232
Is your MySQL server running? Does something interupt the connection (a firewall?)?

[2015-10-11 15:11] Ac3W0lfJ3rk opened #233 "Help ASAP"
My staff and my players on my servers are getting kicked from the server "Your logged in from another location" and 1 member got his house griefed! PLEASE HELP ME (server with offline mode and spigot 1.8.8 authme for 1.8.8)

[2015-10-11 15:54] sgdc3 commented on #233
try latest dev build here: ci.xephi.fr
and update bungeecord if you use it.

[2015-10-11 15:57] sgdc3 commented on #229
Are all the users able to login after a restart?

[2015-10-11 16:15] sgdc3 commented on #232
it happens only on server shutdown he said

[2015-10-11 16:48] sgdc3 commented on #232
@Trojaner25

[2015-10-11 17:50] Ac3W0lfJ3rk commented on #233
i dont have bungeecord

[2015-10-11 17:51] sgdc3 commented on #233
ok, just update your authme version

[2015-10-11 17:52] Ac3W0lfJ3rk commented on #233
ok, i updated, now i restarted the server see if fies the problem

[2015-10-11 17:55] Ac3W0lfJ3rk commented on #233
STILL HAPPENS

[2015-10-11 17:55] Ac3W0lfJ3rk commented on #233
please help

[2015-10-11 17:56] Ac3W0lfJ3rk commented on #233
WARN]: handleDisconnection() called twice

[2015-10-11 18:50] sgdc3 commented on #233
@DNx5 @games647 @Xephi

[2015-10-12 11:52] Xephi commented on #233
@Ac3W0lfJ3rk Also when people try to connecting to the server, if people is already connected, authme disconnect the player and allow the bad one to connect ?

[2015-10-12 12:36] Xephi commented on #232
Do you got the same problem if you kick your players before shutting down the server ?

[2015-10-12 13:02] Xephi commented on #232
Huum, i think i've found a way to fix this, can you please check in latest build ?

[2015-10-12 13:12] Xephi commented on #229
Add a way to force them to re-login after an admin registration
https://github.com/Xephi/AuthMeReloaded/commit/8e90a5f9a82aba9622bf81420394b8fbc767a976

[2015-10-12 13:12] #229 closed

[2015-10-12 13:13] Xephi commented on #228
Can you open this ticket into https://github.com/Xephi/AuthMeBungeeBridge ?

[2015-10-12 13:13] #228 closed

[2015-10-12 13:14] Xephi commented on #226
I think it's due to MySQL cache system :/

[2015-10-12 13:50] Xephi commented on #226
@emre24807 can you please try with latest build ?

[2015-10-12 13:51] Xephi commented on #218
Any new ?

[2015-10-12 13:51] #218 closed

[2015-10-12 13:52] Xephi commented on #204
Per server last location in MySQL db? :')

[2015-10-12 15:26] sgdc3 commented on #204
Lol i never thought about it xD Great @Xephi !

[2015-10-14 19:42] NickFirenzo opened #234 "Help me, how to configure to teleport on QUIT location when logged in, NOT on SPAWN"
Hi,
I need help with authme. How can I configure in config.yml, when play go offlilne and join/rejoin on server, type his password and teleport on place when he logged out, not on SPAWN. When join on server, type PW and teleport on place when person go logged out.
Camera/screen will be on SPAWN, but when logged in teleport on quit LOC.
THANKS!
Config yml[PASTEBIN]
http://pastebin.com/UnTxRdDC

[2015-10-14 20:06] sgdc3 commented on #234
Try this:

ForceSpawnLocOnJoinEnabled: false
SaveQuitLocation: true
teleportUnAuthedToSpawn: true
noTeleport: false

[2015-10-14 21:19] sgdc3 commented on #234
@NickFirenzo

[2015-10-14 21:40] NickFirenzo commented on #234
@sgdc3 THANKS A LOT, but I have one question..
ForceSingleSession: true/false
What IF true, what if false? Thanks.

[2015-10-14 21:55] sgdc3 commented on #234
If disabled if a player tries to login with the username of an online player the online player will be kicked. Keep it ENABLED. ;)

[2015-10-14 21:56] sgdc3 commented on #234
@NickFirenzo can you close the issue?

[2015-10-15 10:21] NickFirenzo commented on #234
Yes, thanks

[2015-10-15 10:21] #234 closed

[2015-10-15 10:37] NickFirenzo opened #235 "Help me, how to disable BLACK screen when player on login"
Hi,
I need help.
How to disable black screen when player is on login
Picture: http://prntscr.com/8riycm
THANKS!

[2015-10-15 13:02] sgdc3 commented on #235
Just set to false the applyBlindness setting ;)

[2015-10-15 15:07] NickFirenzo commented on #235
Thanks, close :D

[2015-10-15 15:07] #235 closed

[2015-10-15 16:56] NIK220V commented on #220
So, what's actually with adding more messages?
I really want email recovery to work.

[2015-10-15 22:55] sgdc3 commented on #220
what do you mean?

[2015-10-15 22:56] sgdc3 commented on #220
ah ok, you mean error messages ;)

[2015-10-16 08:17] #204 closed

[2015-10-16 18:45] NickFirenzo opened #236 "Another person LOGIN in on account, get kicked"
Hi,
I want to report bug with authme, when person is on server, if someone type your nick and join you will be kicked. Please fix this. Thanks
http://prntscr.com/8s1ltw
Owner of his acoount play normal, but another player make join and owner get kickced.

[2015-10-16 19:19] Bodyash commented on #236
Same

[2015-10-16 23:30] sgdc3 commented on #236
Is forceSingleSession ensbled?

[2015-10-17 22:50] sgdc3 commented on #236
@NickFirenzo

[2015-10-18 12:01] NickFirenzo commented on #236
ForceSingleSession: false
No, why?

[2015-10-18 12:03] NickFirenzo opened #237 "Authme BUG big/small characters. Fix fast, help fast.. Thanks."
Hi,
I need help please help me
How to prevent join with big/small characters?
TOPIC: https://www.spigotmc.org/threads/help-me-fast-please-small-and-large-characters-the-name-when-do-join.79653/

[2015-10-18 12:08] NickFirenzo commented on #237
I used the latest version Authme 5.0, updated few days ago

[2015-10-18 12:45] samvv opened #238 "Add pepper support"
If I'm correct, it currently isn't possible to log in with Joomla because AuthMe does not support salted passwords. This is a shame, because it would be a very nice feature.

Maybe add an entry to `config.yml` like this?

[code]

For example, Joomla's salt is stored in `configuration.php` at `$secrect = 'YOUR_SALT_SECRET';`. Adding it to `security.salt` in `config.yml` would make it possible for A

[2015-10-18 16:58] sgdc3 commented on #236
IT MUST BE ENABLED! XD

[2015-10-18 16:59] sgdc3 commented on #236
Try to set it to true and close the issue ;) @NickFirenzo

[2015-10-18 16:59] sgdc3 commented on #237
Try this: http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-10-18 17:01] sgdc3 commented on #238
usually salt is mixed with the password in a single string

[2015-10-18 17:05] NickFirenzo commented on #237
Thanks.
I fixed with this https://github.com/Shevchik/DatDuplicateRemover (Works with spigot 1.8.8)

[2015-10-18 17:05] #237 closed

[2015-10-18 17:05] NickFirenzo commented on #236
Fixed, thanks CLOSE ticket

[2015-10-18 17:05] #236 closed

[2015-10-18 17:33] sgdc3 commented on #237
@NickFirenzo can you try without it? It should have been fixed

[2015-10-18 22:38] mariolars opened #239 "Gson error"
http://pastebin.com/MM4jvj4E

[2015-10-18 23:02] sgdc3 commented on #239
Server type(craftbukkit, spigot, paperspigot l, etc...)? version(1.8.8, etc..)?

[2015-10-18 23:02] mariolars commented on #239
PaperSpigot 1.7.10

[2015-10-18 23:30] sgdc3 commented on #239
can you try with ps 1.8?

[2015-10-18 23:34] mariolars commented on #239
No error

[2015-10-18 23:53] sgdc3 commented on #239
ok, one last test: normal spigot 1.7?

[2015-10-18 23:55] mariolars commented on #239
Same error like on Paper

[2015-10-19 05:41] sgdc3 commented on #239
Ok thanks today i will fix it asap ;)

[2015-10-19 13:18] samvv commented on #238
Could you then explain how Joomla authentication works? Because it is not working for me. Maybe I was wrong to assume it is because of salted passwords.

[2015-10-19 15:32] sgdc3 commented on #238
@Xephi should know it :)

[2015-10-19 15:36] Xephi commented on #238
AuthMe support salt through MySQL, by the way, just create an SQL column with salt by default , and set in your authme config.yml
    # MySQL column for the salt , needed for some forum/cms support
    mySQLColumnSalt: ''

[2015-10-19 18:20] samvv commented on #238
Oh OK tot it; thanks.

Alexandre Vanhecke <notifications@github.com>schreef:

[2015-10-19 20:18] NickFirenzo opened #240 "Authme BUG, player is not on server, say: SAME player is playing on the server with this nickname"
I want to report authme bug. I want to connect on my server, when click on connect get kicked
SAME PLAYER IS PLAYING WITH NICKNAME, it's wrong. The player is not on the server.
SS: I'm offline since 20 minutes http://prntscr.com/8t3dou
Get kicked: http://prntscr.com/8t3eyx ( Translate on english: The player with this NICKNAME is on server)

[2015-10-19 20:22] NickFirenzo commented on #205
At me work fine maxRegPerIp: 3, and 3 accounds are availible for register per ip.
Use 0 for unlimited
maxregperip work fine.

[2015-10-19 21:38] Xephi commented on #240
Can you please test with latest devbuild please? Thanks :
http://ci.xephi.fr/job/AuthMeReloaded/

[2015-10-19 21:44] #213 closed

[2015-10-19 21:45] Xephi commented on #205
I can't reproduce the bug :/ Can you please provide more informations ?

[2015-10-19 21:46] #190 closed

[2015-10-19 21:46] #189 closed

[2015-10-19 21:46] #188 closed

[2015-10-19 21:47] #185 closed

[2015-10-19 21:57] sgdc3 commented on #238
Woops i forgot about it xD

[2015-10-20 12:05] NickFirenzo commented on #240
I'will try, thanks :)

[2015-10-20 12:15] Xephi commented on #240
Also you closed it cause it's fixed ?

[2015-10-20 16:14] Xofter commented on #232
Seems fixed thanks

[2015-10-20 16:16] Xofter opened #241 "already in game bug"
i already posted one of these, but it still seems to happen. It only happens in for example Xofter_scrub is online, and you can not log in into Xofter account, you get an error "Xofter is already ingame" or something like that, it doesnt seem to happen when its Xofter340 or so. I am using latest build.

[2015-10-20 19:37] sgdc3 commented on #232
@Xofer can you close the issue ;)

[2015-10-20 19:37] sgdc3 commented on #232
?

[2015-10-20 19:40] sgdc3 commented on #241
@Xofer can you try latest build?

[2015-10-20 19:40] sgdc3 commented on #241
@Xofter

[2015-10-20 21:21] xofer commented on #232
@sgdc3 you mean @Xofter :)

[2015-10-21 07:49] #232 closed

[2015-10-21 15:18] sgdc3 commented on #241
@Xofter ? :)

[2015-10-21 17:41] cPathz opened #243 "Suggestion [Confirmation system]"
We use Authme Reload together with a database PHPBB-3.6. Our users must register in our forum to gain acces to our server.

The forum uses the following system which confirms your account via e-mail and to do this it uses the column "user_inactive_reason". This column uses only 0 and 1 values to know if the account is active or not
Do you think it's possible to add a column to authme so that it id

[2015-10-21 19:31] samvv commented on #238
Maybe make it a feature to store the salt in `config.yml`? Sorry to say, but it's kind of ugly to create a SQL column holding the value :p no offence, though.

[2015-10-21 20:16] sgdc3 commented on #238
Salt isn't the same for every password, you need a column.

[2015-10-21 20:20] samvv commented on #238
Ooh ok then I’m mixing up two different things here!

[2015-10-21 20:55] Xephi commented on #238
@sgdc3  it depends on CMS

@samvv it was an old feature in AuthMe that i've removed since nobody used it, i'll re-implement it soonly >.<

[2015-10-21 20:58] Xephi commented on #243
0 and 1 are for  (Inactive/Active or Active/Inactive) ?

[2015-10-21 21:52] sgdc3 commented on #243
@Xephi we should add 3 options: isActiveColumn isActiveValue and isInactiveValue

[2015-10-21 21:53] sgdc3 commented on #239
@mariolars Can you try latest dev build? :)

[2015-10-21 21:56] cPathz commented on #243
My mistake> "user_inactive_reason" is incorrect.
-   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -
PHPBB3.1.6 Column = user_type -  -  0 = Active ~ 1 = Inactive

[2015-10-22 05:41] sgdc3 commented on #233
@Ac3W0lfJ3rk try latest build

[2015-10-22 13:08] mariolars commented on #239
same error

[2015-10-22 13:14] games647 commented on #239
Could you send us a list of your plugins? I guess one plugin includes a different gson version.

[2015-10-22 13:15] mariolars commented on #239
http://scr.hu/0rj/mzh44

[2015-10-22 15:38] Xofter commented on #241
Fixed, please lock

[2015-10-22 15:41] #241 closed

[2015-10-22 20:45] sgdc3 commented on #239
@mariolars Fixed in latest dev build

[2015-10-22 21:33] mariolars commented on #239
Yep, plugin is now loading properly. Thank you.

[2015-10-22 21:33] #239 closed

[2015-10-24 23:59] BeastPsycho commented on #205
@Xephi This was already fixed with last builds

[2015-10-25 10:43] sgdc3 commented on #205
@BeastPsycho Ok, thanks :) Can you close the issue?

[2015-10-25 10:44] sgdc3 commented on #233
@Ac3W0lfJ3rk

[2015-10-26 15:20] andris155 opened #245 "PlayerQuit error"
[16:13:12] [Server thread/INFO]: [-] Wolfimolfi12
[16:13:12] [Craft Scheduler Thread - 1820/WARN]: Exception in thread "Craft Scheduler Thread - 1820"
[16:13:12] [Craft Scheduler Thread - 1820/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.1-SNAPSHOT generated an exception while executing task 3921010
	at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTa

[2015-10-26 19:27] sgdc3 commented on #245
Are you using latest build? @andris155

[2015-10-26 21:29] andris155 commented on #245
Use: AuthMe 5.1 Snapshot #163

[2015-10-29 16:32] NickFirenzo commented on #240
Again this problem, not fixed :(

[2015-10-29 16:33] NickFirenzo commented on #240
It's not fixed :(
Please fix it, thanks

[2015-10-30 13:54] andris155 opened #246 "AuthMe 5.1 Snapshot inventory bug."
Server: Spigot 1.8.8 latest
Authme version: http://ci.xephi.fr/job/AuthMeReloaded/167/
Video: https://www.youtube.com/watch?v=qNpYGp-Kslo&feature=youtu.be

[2015-10-31 15:38] CooCoo3 opened #247 "Error message on start server"
[16:31:54] [Craft Scheduler Thread - 15/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.1-SNAPSHOT generated an exception while executing task 113
	at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1145)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Thread

[2015-10-31 19:34] Xephi commented on #247
Can you copy/paste the full starting server log (paste on pastebin/zerobin/etc...)

[2015-10-31 20:52] CooCoo3 commented on #247
http://pastebin.com/z1pjLwar

[2015-10-31 20:57] sgdc3 commented on #247
@Xephi

[2015-10-31 21:45] NickFirenzo commented on #240
Refresh, please fix it

[2015-10-31 21:46] NickFirenzo commented on #240
@Xephi

[2015-10-31 21:51] sgdc3 commented on #240
Try latest build.

[2015-10-31 21:57] #205 closed

[2015-10-31 22:14] kingpyro opened #248 "AuthMe Login Message"
So on a vanilla server when someone logs in the server say "so and so has logged in.". Before on the old version (3.2), authme wouldn't let that message go through until after someone /login 's. Is it possible to re-implement this feature? Just because it gets misleading on a cracked server if someone logs in as someone else and it says so and so logs in. But they never pass the authentication scr

[2015-10-31 22:36] sgdc3 commented on #233
@Ac3W0lfJ3rk BUMP, we'll close the issue if you don't answer

[2015-10-31 22:53] kingpyro opened #249 "Caching issue"
I run a few servers all sharing the same AuthMe table. Currently running http://ci.xephi.fr/job/AuthMeReloaded/170/ on all servers. All same Spigot version as well. Caching enabled on all. If a Player registers on ServerA then changes to ServerB he is prompted to reregister. Upon typing /register an error message appears in console. Duplicate key ect ect. Which is what would happen since he alread

[2015-10-31 23:50] Platinteufel commented on #246
http://dev.bukkit.org/bukkit-plugins/authme-reloaded/tickets/987-force-survival-inventory-wipes/

I'm waiting for a fix too ^^

[2015-11-01 00:17] sgdc3 commented on #246
Which multiinv plugin are you using?

[2015-11-01 00:20] andris155 commented on #246
I don't using multiinv plugin.

[2015-11-01 00:24] Platinteufel commented on #246
But you're running a plugin to handle inventories? Sth. like Multiverse-Inventories or Per-World-Inventories?

[2015-11-01 00:25] Platinteufel commented on #246
But I've tested it with several Inventory-Plugins. It's definitely an authme issue @sgdc3

[2015-11-01 00:27] andris155 commented on #246
Used inv edit plugin: https://onedrive.live.com/redir?resid=3860F4BFDA7C3FED%2115381

[2015-11-01 11:09] NickFirenzo commented on #240
Is it the latest version?
http://ci.xephi.fr/job/AuthMeReloaded/

[2015-11-01 11:10] sgdc3 commented on #240
jeah :)

2015-11-01 12:09 GMT+01:00 NickFirenzo <notifications@github.com>:

[2015-11-01 11:19] NickFirenzo commented on #240
Latest build is 900KB, build witch is on my server is 1.5MB size....

[2015-11-01 12:24] sgdc3 commented on #240
This means that you need to update xD

[2015-11-01 12:34] Xephi commented on #247
Fixed https://github.com/Xephi/AuthMeReloaded/commit/7824131cec0ae59b8f661f2f3a7a0cb5bae83134

[2015-11-01 12:34] #247 closed

[2015-11-01 12:47] sgdc3 commented on #248
Done :) try latest -Dev build!

[2015-11-01 15:38] kingpyro commented on #248
Still same thing.
![still persists](https://cloud.githubusercontent.com/assets/1954074/10869690/aa2db004-8084-11e5-9b3a-fe4886d4ee8f.PNG)

[2015-11-01 16:12] sgdc3 commented on #248
you need to enable an option: delayjoinleavemessages

[2015-11-01 17:05] sgdc3 commented on #248
@kingpyro

[2015-11-02 17:39] kingpyro commented on #248
delayJoinLeaveMessages: true

Default set to true.

[2015-11-02 17:45] Xephi commented on #248
Nop, we can't set it at default, cause it change the default rendering of informations, and we don't want it to become a "Magic"  cause of some reports :)

[2015-11-02 17:48] kingpyro commented on #248
I didn't mean to set it as default true. It came into my config like that already.

[2015-11-02 17:50] Xephi commented on #248
Oh ok, I will take a look at your problem :')

[2015-11-02 18:29] kingpyro commented on #248
Thanks @Xephi

[2015-11-02 19:40] andris155 opened #250 "AuthMe 5.1 Snapshot unregister error"
http://pastebin.com/vbQCKsM8

[2015-11-03 01:49] sgdc3 commented on #249
Ok found the cause: we need to disable hikari caching

[2015-11-03 03:34] DNx5 commented on #249
not hikari, but AuthMe itself.
we need to find a better implementation of cached database.

[2015-11-04 11:23] NickFirenzo commented on #240
Fixed

[2015-11-04 11:23] #240 closed

[2015-11-04 11:24] NickFirenzo opened #252 "How to cofigure to recovery password?"
How to configure the Authme for recovering passwords via email?
I know how in config.yml, but how players can recovery?

[2015-11-04 13:56] DNx5 commented on #252
i think
``` /email recovery <email> ```

[2015-11-04 17:51] andris155 opened #253 "handleDisconnection() called twice"
http://pastebin.com/ERDcstrE
Why is it?

[2015-11-04 17:58] games647 commented on #253
This is a server software issue.

[2015-11-04 18:52] andris155 commented on #253
Server: PaperSpigot latest
(use-native-transport=false)

[2015-11-04 19:31] Platinteufel commented on #246
I've reported it three month ago on BukkitDev and there's still no fix or at least a statement about this bug. That's a bit disappointing. :(

[2015-11-04 23:33] sgdc3 commented on #253
Are you sure this is caused by authme?

[2015-11-04 23:34] sgdc3 commented on #252
@NickFirenzo can you close the issue? ;)

[2015-11-04 23:42] andris155 commented on #253
I'm not.

[2015-11-04 23:53] sgdc3 commented on #253
Lol can you try on a local server? :)

[2015-11-05 11:14] andris155 commented on #253
[12:11:49] [Server thread/INFO]: andris155[/192.168.X.XXX:XXXXX] logged in with entity id 344 at ([world]-180.45008080923856, 4.0, 285.0911035022133)
[12:12:19] [Server thread/WARN]: handleDisconnection() called twice <-- Timed out kick

[2015-11-05 16:29] Xephi commented on #253
http://www.spigotmc.org/threads/handledisconnect-called-twice.74171/

[2015-11-05 19:05] Kritex opened #254 "Kit duplication bug - Name issue"
"Jack" can login with "jack" with latest authme build. However there is one single consistent build which is #151 (Sep 21, 2015). Above this build, essentials kits can be used when you changed your name (Jack to jack). To sum up, any vip can duplicate his kits amount of he wants. This is a critical bug.

[2015-11-05 20:15] #252 closed

[2015-11-05 21:30] VladStarr opened #255 "Login command issue"
Latest dev build. Spigot 1.8.8

When trying to login with /l password, plugin tells
[code]
But with /login password everything's good.

Please fix :)

[2015-11-06 07:50] xknat commented on #254
its common cuz offline server's dont use UUID and other plugins do use UUID. i got this problem on my server as well, its hard to prevent stealing and stuff. also when players join your account with a capital. they get creative as well...

[2015-11-06 17:22] MithrandirCraft opened #256 ""ForceSpawnOnTheseWorlds" feature Broken"
I am unable to set a specific world where players should get teleported to Authme's spawn after relogging.

Relevant config details:

ForceSpawnLocOnJoinEnabled: true    #This configuration seems to be necesarily set to true for "ForceSpawnOnTheseWorlds" function to work, right?

"ForceSpawnOnTheseWorlds" configuration:
http://hastebin.com/tuficiqunu.md

spawnPriority: authme,essentials,multiverse

[2015-11-06 17:34] MithrandirCraft opened #257 ""ProtectInventoryBeforeLogIn" feature Broken"
I disabled the "ProtectInventoryBeforeLogIn" by setting it to false some time ago, in order to avoid an issue which wiped inventories (I was told this issue was fixed, so I set it back to true to give it a chance again.)

But somehow, when I re-activated "ProtectInventoryBeforeLogIn: true", the protective inventory did not not re-appear, instead you can see my inventory normally while loged out, a

[2015-11-06 17:39] MithrandirCraft opened #258 "Per World Inventory plugin compatibility (Inventories get messed up with Authme + PWI)"
Here's a detailed recording explaining some inventory issues which are being caused due to Authme + PerWorldInventory plugins compatibility:

http://youtu.be/U9N3rRsMy38 (On my server, example.)

Issue conditions (For reproducing):
- Having Authme + PWI on a blank Spigot server
- Authme config: "teleportUnAuthedToSpawn: true"
- Set up two worlds with separate PWI Inventory groups. (In order to sep

[2015-11-06 18:05] MithrandirCraft opened #259 "Moderator chat spying (Compatibility issue with FactionChat plugin)"
Steps for reproducing this problem:

1.Install a blank Spigot server
2.Install Authme's latest version, Factions, FactionChat & Mcore plugins.
3.Give faction chat permissions to two player names for moderator chat usage: "factionChat.modChat"
4.Log in with one of those names, and constantly spam the moderator chat.
5.Enter the server with the other name, without logging in.

Issue:

The second pla

[2015-11-06 18:07] MithrandirCraft opened #260 "Broken Email Recovery"
This system is more than often broken. Still broken on Authme 5.1 SNAPSHOT (One of the latest dev builds)

Configuration details:
http://hastebin.com/iyucuzebij.xml

In Authme 3.5. The email registration commands would always give an internal error (This was fixed in 5.0). In authme 5.0 & 5.1, the password is changed, but the e-mail is never recieved for some reason. (I've tried this my self witho

[2015-11-06 22:17] sgdc3 commented on #253
Not an authme issue, @andris155 can you close the issue? :)

[2015-11-06 22:17] sgdc3 commented on #226
Should have been fixed @emre24807

[2015-11-06 22:17] andris155 commented on #253
yes

[2015-11-06 22:17] #253 closed

[2015-11-06 22:18] sgdc3 commented on #253
Thanks

[2015-11-06 22:19] sgdc3 commented on #259
We need just to recompile FactionsChat

[2015-11-06 22:21] sgdc3 commented on #257
You need protocollib to enable the new safe inventory protection ^_^
Check your server log, you will notice a warning when authme is loaded.

[2015-11-06 22:27] MithrandirCraft commented on #257
@sgdc3 I'm already using ProtocolLib v3.6.4

[2015-11-07 00:16] sgdc3 commented on #257
Very strange...

[2015-11-07 06:49] kxjhwbb commented on #260
I use authme 3.5, send email success.
but use AuthMe-5.0-beta3.jar，seems lost something..
com/sun/mail/util/MailLogger，I can see this in 3.5 and 5.0-beta2，5.0-beta3 delete at all...
and only can send email in 3.5，  can't send in 5.0 beta2， show error in beta3！

[2015-11-07 07:07] kxjhwbb opened #261 "lost com.sun.mail.util.MailLogger when sending a recovery email.."
Thank you ~   sure my email setting is ok (it works in authme 3.5)

Caused by: java.lang.ClassNotFoundException: com.sun.mail.util.MailLogger
        at java.net.URLClassLoader.findClass(Unknown Source)
        at org.bukkit.plugin.java.PluginClassLoader.findClass(PluginClassLoader.java:101)
        at org.bukkit.plugin.java.PluginClassLoader.findClass(PluginClassLoader.java:86)
        at java.la

[2015-11-07 14:04] ludgart opened #262 "Session expire always after restart"
Hey,

I tested the new version of Authme and i have A problem with the session save.
My settings are: expire: 9999 (work in the old version < 5.0)
On every restart all players need to login again, i tryed the unlimted session setting, but i dont work.
Is this a bug or my fault?

[2015-11-07 15:21] Platinteufel commented on #258
Could you give yourself the permission authme.bypassforcesurvival and test it again? I've also noticed an inventory issue that doesn't happen with this permission.

[2015-11-08 00:23] sgdc3 commented on #261
Can you try latest build at http://ci.xephi.fr/job/AuthMeReloaded-Dev/ ? Thanks :)

[2015-11-08 00:24] sgdc3 commented on #262
Are you using mysql or sqlite?

[2015-11-08 00:24] sgdc3 commented on #260
Try latest dev build: http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-11-08 00:25] sgdc3 commented on #260
@MithrandirCraft @kxjhwbb

[2015-11-08 01:46] ludgart commented on #262
I use MySQL.

[2015-11-08 12:32] Ac3W0lfJ3rk commented on #233
fixed, used a plugin that a friend of mine did. AntiUserSteal

[2015-11-08 13:19] Xephi commented on #233
Fixed !

[2015-11-08 13:19] #233 closed

[2015-11-08 13:35] MithrandirCraft commented on #258
@Platinteufel I honestly mean no disrespect, but this sounds like a wacky solution...

Are you sure you had the same issue as me? What does this permission do exactly?

[2015-11-08 13:42] Xephi commented on #262
Do you use Cache ?

[2015-11-08 13:51] Xephi commented on #255
Fixed :)

[2015-11-08 13:51] #255 closed

[2015-11-08 16:17] MrFiliper opened #265 "Authme > chests"
I have i problem. If player join to server, authme display this error http://pastebin.com/SZbAhGgb and all chests in cca radius 32 now empty. Please help. Full log is here: http://pastebin.com/VXpSF1Rx

[2015-11-08 17:23] sgdc3 commented on #259
FactionsChat's developer is inactive, we can't do nothing to fix this.

[2015-11-08 18:29] MithrandirCraft commented on #259
His last connection was 19 hours ago

http://dev.bukkit.org/bukkit-plugins/factionchat/

His project isn't abandoned.

How about just blocking chat reading untill the user logs in? That would solve any issues with Faction Chat, and any other private chat system (To which I could switch if FactionChat dies).

Would that be possible?

[2015-11-08 19:14] ludgart commented on #262
No i disabled the mysq cache system.

[2015-11-10 01:07] DNx5 commented on #265
@MrFiliper try with current version.
http://ci.xephi.fr/job/AuthMeReloaded/

[2015-11-10 17:53] sgdc3 commented on #265
I'm sure this was fixed by @Xephi some time ago

[2015-11-10 17:53] sgdc3 commented on #261
@kxjhwbb ? :)

[2015-11-11 00:58] Xephi commented on #260
Hi ! You can use latest build with new email system

By the way, google use a restriction to application that can access to your account
To allow external application to work, we need to set config like that into your gmail account settings:

<img width="1212" alt="screen-shot-2015-05-28-at-21 59 16" src="https://cloud.githubusercontent.com/assets/2137621/11080783/a2eefd58-8817-11e5-8433-bfe75175c

[2015-11-11 15:22] Xephi commented on #260
i will add a way to connect via oauth2 also

[2015-11-11 15:49] mariolars opened #267 "Huge Lags"
http://aikar.co/timings.php?url=13228044

[2015-11-11 15:52] mariolars commented on #267
i can't use any never build since you implemented hikari. I use java8 with PaparSpigot 1.7.10.

[2015-11-11 18:16] sgdc3 commented on #267
TODO: fix the onPlayerMove event lag issue

[2015-11-13 13:00] mariolars commented on #267
i managed to fix moveevent by myself but onJoinEvent server is lagging as well : http://timings.aikar.co/?url=13247204

[2015-11-14 11:47] Cazmon commented on #267
http://timings.aikar.co/?url=13258010

[2015-11-14 11:48] mariolars commented on #267
@Cazmon you are using old version

[2015-11-14 15:33] mariolars commented on #267
PlayerJoinEvent lags only when there is disabled "caching". When i enable server works perfectly fine but authme doesnt send message to player to log in.

[2015-11-14 20:00] andris155 opened #268 "Timed out random error"
Authme: 5.1 dev build180

[10:01:07] [Server thread/INFO]: bala lost connection: Timed out
[10:01:07] [Server thread/INFO]: [-] bala
[10:01:07] [Craft Scheduler Thread - 817/WARN]: Exception in thread "Craft Scheduler Thread - 817"
[10:01:07] [Craft Scheduler Thread - 817/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.1-SNAPSHOT generated an exception while executing task 8239

[2015-11-15 00:20] sgdc3 commented on #267
So when cache is disabled the notification sistem is broken, right?

[2015-11-15 10:48] mariolars commented on #267
Yep

[2015-11-15 13:03] MithrandirCraft commented on #257
It seems like this issue may only be affecting certain player names, for example, my own.

It still affects my playername even if I'm not OP, so there may be other affected names.

[2015-11-15 13:05] MithrandirCraft commented on #258
Tried the "authme.bypassforcesurvival" permission. It seems like it decreased the odds of this issue happening, but I still got two reports in the last three days indicating the exact same symptoms I describe on this ticket (Players got their Survival inventories overwritten to my Factions world.)

I am unable to reproduce the issue with a normal account, but other players seem to be having these

[2015-11-15 13:07] MithrandirCraft commented on #260
I'm currently recieving a generic missing permission message every time I try to use /email recover

The message still shows up even if I give myself the permission (which shouldn't be necesary, if I'm already OP.)

Therefore, I cannot test email recovery due to this impediment.

[2015-11-15 14:15] games647 commented on #257
Do you tried to log out by command?

[2015-11-15 20:45] MithrandirCraft commented on #257
Yes. Result with my main account is the same, my inventory is always visible.

[2015-11-15 21:01] games647 commented on #257
Could you try to rejoin?

[2015-11-15 21:04] MithrandirCraft commented on #257
Yeah, the result is the same. (I'm assuming you mean leaving the server & or closing the client. Result is always the same.)

[2015-11-15 21:23] kxjhwbb commented on #260
@sgdc3 HI, sorry i'm late,  I have test it, no error but show dont have Permission , I have gave all permission to the test player :)

[2015-11-16 07:57] timvisee commented on #255
Good it has been fixed!

@Xephi Can you link me the commit that fixed this issue. So I can check whether my command system has a problem in it or not ^^.

Tim Visée

[2015-11-16 08:50] smartmadio opened #269 "Email Recovery's content can't display Chinese charactors"
Hello,I enabled email recovery and wrote 'mailText' in Chinese Today.When I tested it ,I found all Chinese charactors in the the password recovery mail content displayed as ??? but the mail title can display Chinese charactors correctly.

(I've tried to transform coding format of config.yml into UTF-8 or GBK but it still don't work.)

Current Minecraft-Spigot version: 1.8.8
Current authme version:

[2015-11-16 17:50] Xephi commented on #269
Can you please try to add '-Dfile.encoding=UTF-8' into server line command starting and tell me if that work ?

[2015-11-16 17:56] Xephi commented on #268
Can you maybe test latest AuthMeDev build ?

[2015-11-16 17:59] #265 closed

[2015-11-16 17:59] Xephi commented on #265
Already Fixed

[2015-11-16 18:01] ljacqu commented on #254
I'll check this out within the next two weeks

[2015-11-16 18:04] Xephi commented on #262
Oh , didn't understood, our code do it like that :
If server is reloading (not restarting, catch if player are always logged in when plugin is re-enabled), method setUnlogged are not called, but if you stop your server (players are all kicked and plugin start before player are online), we set all logged players to unlogged, it's a security check if database is not reachable too quickly before play

[2015-11-16 18:22] Xephi commented on #267
TODO: Fix notification for cache enable

[2015-11-16 18:23] Xephi commented on #261
Fixed

[2015-11-16 18:23] #261 closed

[2015-11-16 18:25] Xephi commented on #260
have you try to use authme.email.recover permission ?

[2015-11-16 18:27] Xephi commented on #259
FactionChat use some permission to allow moderator chat reading, isn't it ? Also remove it to unlogged players :O

[2015-11-16 19:57] ludgart commented on #262
It would be helpful if you can add a secruity configuration option, because the old system work fine.
I hate it to login every day.. And im not alone...

Thanks!

[2015-11-16 22:00] xknat commented on #267
yea that would help, thanks @Xephi

[2015-11-16 22:53] LudnicaKiller opened #270 "Username case sensitive"
Hi,
I have a big problem, so on my Hub server if someone register with username etc. Jason and gets banned, he can just get back on the server with username jason and he can login with old password and have old ranks on every server on my network.
I'm using:
authme: AuthMe - 5.0-beta3
spigot: http://prntscr.com/93ku6l
config.yml: http://pastebin.com/UcNY7nqf

Thanks in advance.. :)

[2015-11-17 06:47] sgdc3 commented on #270
Try our latest dev build avariable at ci.xephi.fr ;)

[2015-11-17 06:53] sgdc3 commented on #254
We fixed this on sspigot 1.8.5 and lower
Due to some strange reasons it doesn't work since 1.8.7

[2015-11-17 07:52] smartmadio commented on #269
@Xephi I've added '-Dfile.encoding=UTF-8'  into server line command starting,but it didn't work too.

[2015-11-17 11:53] LudnicaKiller commented on #270
http://prntscr.com/93qb60 this one?

[2015-11-17 12:08] LudnicaKiller commented on #270
I have downloaded it but now my,
TPS: http://prntscr.com/93qf5m
Timings: http://timings.aikar.co/?url=13312050
And I have turned caching to false but it still creates files and folders in cache
config.yml: http://pastebin.com/mver0kg5

[2015-11-17 12:19] LudnicaKiller commented on #270
You're versions of AuthMe: "AuthMe - 5.0-beta3" and "AuthMeReloaded-Dev #342" are lagging so much. On 5.0-beta3 when you set caching to false it still creates folders of players. Dev #342 is not creating folders into cache folder when you set false in config but still tps goes below 8.
Now I have returned to my old AuthMe 3.4 and I have 20TPS and no lagg. Please fix all that things..

[2015-11-17 13:24] kxjhwbb commented on #260
no.. I just add *.* and set the player op last time..
I test authme.email.recover tonight , still can't work , nothing show in console but can see "an unexcepted error occurrrd" in client, something wrong been catch but not show ?
by the way , when I was testing, a maxinum number of reg print, so I change the  config "maxRegPerEmail" + "maxRegPerIp" and type /authme reload, but it does't work unti

[2015-11-17 15:01] andris155 commented on #268
Yes I started testing.

[2015-11-17 17:54] MithrandirCraft commented on #259
Authme config:
----------------------------------------
unLoggedinGroup: prelogin

PEX permissions:
---------------------------------------
groups:
  prelogin:
    permissions:
    - -factionChat.*

It's no use, does this feature work properly? Am I doing something wrong?

[2015-11-17 23:23] sgdc3 commented on #259
Pex + negative permission nodes = Nope :P
Pex neg nodes are broken in latest versions.

[2015-11-18 08:55] NickFirenzo opened #271 "[AuthMe] YOU'RE USING THE SQLITE DATABASE WITH 5079+ ....... How to fix?"
In console when start server, when load all plugins say
[AuthMe] YOU'RE USING THE SQLITE DATABASE WITH 5079+ ACCOUNTS, FOR BETTER PERFORMANCES, PLEASE UPGRADE TO MYSQL!!

How to fix it? And I want to ask. I must change to MySQL?

[2015-11-18 09:16] Xephi commented on #271
You can just ignore it if you don't get any performance issue, sqlite database is better on SSD disk than HDD one, cause it's just a file that is getting accessed, but mySQL allow a multiple connection read/write at the same time, neither sqlite :/

[2015-11-18 09:48] NickFirenzo commented on #271
Ok thanks :)

[2015-11-18 09:48] #271 closed

[2015-11-18 10:35] andris155 commented on #268
8.11 11:14:38 [Server] INFO [AuthMe] CrafterStudio10 used the wrong password
18.11 11:14:38 [Disconnect] User CrafterStudio10 has disconnected, reason: Wrong password
18.11 11:14:38 [Server] INFO CrafterStudio10
18.11 11:14:38 [Server] WARN Exception in thread "Craft Scheduler Thread - 457"
18.11 11:14:38 [Server] WARN handleDisconnection() called twice
18.11 11:14:38 [Server] WARN org.apache.comm

[2015-11-18 14:39] MithrandirCraft commented on #260
@Xephi I already tried that permission. Result is the same.

[2015-11-18 17:42] MithrandirCraft commented on #259
What? I always thought they worked, but other negative perms seem to be working :S, I was actually taught this function by a PEX dev.

In any case, if I can't negate a permission, what can I do?

I will try:

    permissions: []

Assuming faction chat permissions are off by default.

[2015-11-19 13:48] kingpyro commented on #248
@Xephi any update on this? We had someone constantly joining and leaving and it was spamming the chat with login messages. Even on build 181, the delayJoinLeaveMessages still doesn't work.

[2015-11-20 21:34] NickFirenzo commented on #246
This is not authme bug. Wich plugin for creative use? LimitedCreative/Creative Control?

[2015-11-20 21:36] NickFirenzo commented on #246
This is not authme bug. Wich plugin for creative you are using? LimitedCreative/CreativeControl?

[2015-11-20 21:43] NickFirenzo commented on #246
Aham, I saw post below. Yes, Limited Creative is problem and I have this problem 3-4 months ago, but I fixed it. You need other plugin wich save inventory on players in BASE, not limited creative.
You can use MultiInv
http://dev.bukkit.org/bukkit-plugins/multiinv/
http://dev.bukkit.org/bukkit-plugins/tuxtwolib/
MultiInv + TuxTwoLib must put in your plugins folder to work.

1. When you put 2 plugin

[2015-11-21 08:58] DNx5 commented on #270
@LudnicaKiller
cache in config.yml is for database things, and the files in the cache folder is used to store player's data and will removed when players logged in.
are you still getting lag with cache set to true?

[2015-11-21 14:41] Platinteufel commented on #246
There are inventory wipes if you logout in another gamemode than it's defined by Multiverse (e.g. logout with Survival in a Creative-world). It doesn't matter which inventory-plugin you're using.

[2015-11-21 17:35] NickFirenzo opened #272 "Help Fast, Can't use /login password, when type...."
Hi,
I need help fast. when start the server, when joining and type /login password, effect will remain the same picture can not log in, what is the problem? And other servers, or those who use this plugin have the same problem, can not log on a server /login dialog and exits when type password like nothing you wrote.

FIX IT!!!!!!

[2015-11-21 17:37] NickFirenzo commented on #272
When type /login say
Unknown Command, omg
http://prntscr.com/95bdq8

[2015-11-21 23:15] MithrandirCraft commented on #260
Hi. I tried the latest version which should fix the permission issues.

I finally managed to send a recovery email, but I never recieve it. Did anyone else try?

[2015-11-22 00:33] MithrandirCraft opened #273 "Verygames IPCheck breaks the config"
There's something going on with the "VeryGames: enableIpCheck: true" feature.
Every time I set it to true, it makes the plugin go mad, login stops working and weird things happen.
This started happening this afternoon after the 6PM restart, I had no idea what was causing it untill I started reconfiuring and restarting the server one feature at a time.
I think this may have something to do with my

[2015-11-22 00:36] MithrandirCraft opened #274 ""allowMovement: false" teleports players to Authme Spawn when not configured to do so"
With the following config:
    allowMovement: false

When Players are in login mode, if they move the camera or try to move, they get teleported to the authme spawn (which I use as a login area), allthough this shouldn't be happening, because "teleportUnAuthedToSpawn: false"
Some players even reported being randomly teleported to the authme spawn (Unused due to inventory bugs when "true") and also

[2015-11-22 00:37] MithrandirCraft opened #275 "Remove Speed feature broken"
The following config doesn't work:

    removeSpeed: true

Players are still capable of moving, at least if the allowMovement feature is set to true (My case), but I didn't try setting that to false. I guess the issue would still persist.

------------------------
Current authme version: 5.1 - SNAPSHOT (One of the latest devs)
Current Minecraft-Spigot version: 1.8.8