[2016-07-13 05:24] ljacqu commented on #848
Thanks for the report. This is nothing critical but I guess should be handled more appropriately. You have the `supportOldPasswords` setting enabled, which means AuthMe will try all available hash methods.
The hashes in your database don't match the format of Bcrypt & friends and so they output an exception. Nothing is affected by this negatively, except for the pesky log message.

[2016-07-13 05:27] ljacqu commented on #849
See #848 for explanation of cause.
This is an error that we do not handle, though = bug that must be fixed within 5.2. This will be fixed within the next five days and this issue will be updated.
Thanks for reporting

[2016-07-13 05:43] bob7l commented on #848
ljacqu, couldn't you guys simply add "supportedHashes: XAUTH, IPB3, ECT" below supportoldPasswordHash? It seems a little silly to iterate over 20 or so hash generators to find whether any are compatible with the inputted hash.

[2016-07-13 05:55] sgdc3 commented on #848
@bob7l great idea

[2016-07-13 06:52] ljacqu commented on #848
Agree 100%

[2016-07-13 06:55] ljacqu opened #850 "Allow to specify support for multiple hashes"
As described in #848, it would make sense to set an option to allow to check against multiple password hashes (to still support one, two old ones)

--> I would suggest to keep the hash property as it is and to drop "supportOldHashes" setting in favor of a new list property where old hashes can be defined.
This keeps it clear to the user which hash is used for new passwords and allows us to migrate

[2016-07-13 07:07] sgdc3 commented on #850
+1

[2016-07-13 10:09] rErEaT commented on #844
no I didnt.

[2016-07-13 13:17] jomjonejame opened #851 "found problem in AuthMe 5.2 BETA 3"
Help me please !!

First time joined to server. npc has missing [ NPC of citizen ]

<a href='https://postimg.org/image/r1agqazlz/' target='_blank'><img src='https://s31.postimg.org/5rmufgjbf/2559_07_13_20_06_59.png' border='0' alt='2559-07-13_20.06.59'/><br /><a target='_blank' href='https://postimage.org/'></a>

But when teleport to player and return to same. NPC back to the same

<a href='https:

[2016-07-13 13:46] Dimatert9 opened #852 "Deop on join?"
Why when i join to server authme deop me, and after login authme op me again?
When i can disable this?

[2016-07-13 16:52] sgdc3 commented on #851
fixed in latest dev build, you can fix it without updating by disabling the hiteTablistBeforeLogin setting

[2016-07-13 16:53] sgdc3 commented on #852
@Dimatert9 What's your plugin version atm?

[2016-07-13 17:13] Dimatert9 commented on #852
latest build

[2016-07-13 19:10] ljacqu commented on #852
That's the expected behavior, though—before logging in, you are not op. This prevents imposters and unauthorized access.

[2016-07-13 20:10] DardBrinza commented on #844
I have " infinite" remove accounts when a lot of them ( in my DB 160K+ accounts)

[2016-07-13 20:23] chief-j opened #853 "Open GUI on Join"
I was made a plugin which open some GUI after join to the server but AuthMe cancels my plugin action
How can I make the GUI opened in not entering players?

I'm not English and do not know English well. Sorry, please

[2016-07-13 21:56] chief-j commented on #853
Ops

[2016-07-13 21:56] #853 closed

[2016-07-13 21:58] Mormaii commented on #838
Any updates on this? Should I create a new issue ?

[2016-07-14 03:09] jomjonejame commented on #851
hiteTablistBeforeLogin

it's not work. npc recovered intact

[2016-07-14 04:06] tuanjr opened #854 "ask: What different between "legacy" and "noshade" and "spigot" version?"
may i ask stupid question, but what What different between "legacy" and "noshade" and "spigot" version?
and what is better (stable) for use?

[2016-07-14 05:21] ljacqu commented on #838
New issue please :) Helps us keep track of things better

[2016-07-14 05:22] ljacqu commented on #851
What's your /authme version? Did you try the latest dev build?

[2016-07-14 05:23] ljacqu commented on #854
We have a small Wiki page about this at https://github.com/AuthMe/AuthMeReloaded/wiki/AuthMe-Releases-(Jenkins)

Essentially it depends on your server. Legacy for older versions, otherwise spigot.

[2016-07-14 06:13] #854 closed

[2016-07-14 06:17] sgdc3 commented on #852
lol misread the message

[2016-07-14 06:17] Mormaii opened #855 "Late teleport"
When using the latest dev build and using

`ForceSpawnLocOnJoin: true`

There's a late teleport bug in which it takes 1-2 secs to teleport you after joining the server.

[2016-07-14 06:17] #852 closed

[2016-07-14 10:48] molor opened #856 "Exception."
I think that i found a bug.

[code]

[2016-07-14 12:52] chief-j opened #857 "[API] Missing wrong authentication event"
Can I somehow check if a player has entered an incorrect password at login?

[2016-07-14 12:56] jomjonejame commented on #851
AuthMe 5.2 BETA 3 ( build: 1134 )

[2016-07-14 12:58] sgdc3 commented on #851
http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-spigot.jar try this version

[2016-07-14 13:54] jomjonejame commented on #851
Thank you for link.

[2016-07-14 21:54] sgdc3 commented on #851
@jomjonejame Does it work?

[2016-07-15 01:36] jomjonejame commented on #851
@sgdc3  It's work, Thank you vary much. to tell if has problem

[2016-07-15 02:08] jomjonejame commented on #851
@sgdc3  I'm found problem in AuthMe-5.2-SNAPSHOT-spigot for you.

1.System login has problem : same times joined to server But can't login
   1.1 When comes to servers, it can't walk and can not use /login or /l.

But NPC its work for first joined

Sorry for my english is not good

[2016-07-15 07:24] sgdc3 commented on #851
@ljacqu do we have breaking issues open like these? O_o

[2016-07-15 07:25] sgdc3 commented on #851
Anyway the reported issue is fixed, please open another report for the other ones ;)

[2016-07-15 07:25] #851 closed

[2016-07-15 07:41] ljacqu commented on #851
@sgdc3 What do you mean with breaking issue?

[2016-07-15 07:41] sgdc3 commented on #851
1.1 When comes to servers, it can't walk and can not use /login or /l.

[2016-07-15 08:09] ljacqu commented on #851
We don't have anything open like this. I don't understand item 1 but it's likely we have 1.1 currently with certain conditions

[2016-07-15 09:11] vanthoi opened #858 "How to translate tempban IP login fail!"
I enabled tempban. But not translate message!
You have been temporarily banned for failing to log in too many times.

[2016-07-15 09:38] Twonox commented on #858
You must use the latest dev build, if it's already the latest add this to your messages.yml:
`tempban_max_logins: ''`
Or reset your message.yml to get the news messages.

[2016-07-15 10:06] vanthoi commented on #858
Thank!
I still test! :)

[2016-07-15 11:15] MithrandirCraft commented on #592
Re-experienced this issue just now with b1169 I'm guessing changes where never applied to that build, I will re-test this when updating to 1.10.2

[2016-07-15 11:27] #858 closed

[2016-07-15 15:51] ljacqu commented on #856
@molor Could you share your config.yml please? Is there anything special about this player?

[2016-07-15 16:05] molor commented on #856
@ljacqu, about player - nothing, just a builder on server..
config.yml: http://pastebin.com/KVHz0yES

[2016-07-15 16:25] ljacqu commented on #849
@bob7l Build n. 1217 and above now properly catch this exception and log a message. Please verify that the bug is fixed to your satisfaction, or feel free to just close this, since it's a minor change.

[2016-07-15 16:51] ljacqu commented on #856
@molor Thanks for the config file. I think the issue when we persist some player data to a file, we might be missing some location info. Did you perhaps rename or delete a world recently?

You should no longer experience this bug with build nr. 1218 or above. http://ci.xephi.fr/job/AuthMeReloaded/

[2016-07-15 17:07] molor commented on #856
no. Thanks for fix!

[2016-07-15 17:23] ljacqu commented on #856
No problem, thanks for reporting it. Do you have a world whose name has something other than [a-z] lowercase characters?

[2016-07-15 17:37] ljacqu commented on #816
Thank you for reporting this @Twonox. Please verify with build nr. 1219 or above. http://ci.xephi.fr/job/AuthMeReloaded/1219/

[2016-07-15 17:43] molor commented on #856
Server contains only these three worlds: level_name, level_name_nether & level_name_the_end.

[2016-07-15 17:48] ljacqu commented on #762
@Gnat008 you created the SessionManager, can I ask you to take a quick look at my commits?

[2016-07-15 17:49] ljacqu commented on #856
OK, thank you for all of the information :smile:

[2016-07-15 21:54] bob7l commented on #849
Fixed

[2016-07-15 21:54] #849 closed

[2016-07-16 03:30] Gnat008 commented on #762
All looks good so far. Has any of this been tested in-game yet?

[2016-07-16 07:01] ljacqu commented on #762
Yes, in particular I tested the session timeout and that /logout invalidates the session. That's about all there is to it, so if you don't have any remarks about the code it's fine to close :)

[2016-07-16 10:17] sgdc3 commented on #856
@ljacqu Can we close that? :)

[2016-07-16 10:30] ljacqu commented on #856
Yes, we can

[2016-07-16 10:30] #856 closed

[2016-07-16 10:41] Pijanista opened #859 "Kick if not registered - Cracked"
Hello,

Is there possibilty to add support for like semi-cracked server. So for example if user has premium and has joined server he can freely register, but if cracked user joined and he's not registered he's kicked from the server. After mod/admin register him with command cracked user can join freely.

[2016-07-16 12:47] #762 closed

[2016-07-16 12:55] QIIxGriimZzQ opened #860 "Country Protection"
Today, a new player came on the server with IP anonymous and the US, but I got these country on blacklist. I tried add to the blacklist my country (CZ), but I still could join.
And can I prevent duplicate player names? (IIxGriimZz, iiXgRiimZZ)

I tried last version: 5.2
And devbuild: 1220
Spigot 1.8.7

[2016-07-16 13:40] sgdc3 commented on #860
About the duplicate names: preventOtherCase: true

[2016-07-16 13:40] sgdc3 commented on #860
@DNx5 Any idea about the geoip issue?

[2016-07-16 13:42] sgdc3 commented on #859
Sure, you need to use FastLogin, our official addon made by @games647 ;) https://github.com/games647/FastLogin

[2016-07-16 13:42] #859 closed

[2016-07-16 13:44] sgdc3 commented on #860
@QIIxGriimZzQ Could you post your config?

[2016-07-16 13:45] sgdc3 commented on #846
@Eufranio still happening?

[2016-07-16 14:24] Twonox commented on #816
That works thanks :)

[2016-07-16 14:25] #816 closed

[2016-07-16 14:31] Twonox commented on #758
There is no fix ??

[2016-07-16 14:37] ljacqu commented on #816
Thanks for testing!

[2016-07-16 14:56] ljacqu commented on #758
Will be done in 5.3 Beta

[2016-07-16 15:31] QIIxGriimZzQ commented on #860
My config now: http://pastebin.com/FBYdkWpQ
I tried again add to the blacklist my country, in Minecraft menu, where you see all servers i saw message like "Your country is banned...", but I still could join...

[2016-07-16 16:14] sgdc3 commented on #860
This means that you are not using latest build. The modified message in server list have been removed.

[2016-07-16 17:16] QIIxGriimZzQ commented on #860
Sorry for the confusion. I have AuthMe 5.2 BETA3 version (with message) on my first server.
And now i have build 1220 on my second server. There was not a message, but i still could join.

[2016-07-16 17:51] SuaWez commented on #777
@sgdc3 Ciao, credo di aver fixato.
Ho cambiato OS da Windows Server 2008 R2 a CentOS 6.8, non per Authme ma per altri problemi!
Comunque, effettuando questo cambio di OS il problema che avevo del rallentamento è scomparso, tutto il sistema di Authme è decisamente più fluido e reattivo.
Ora non so se è un problema legato a qualche incompatibilità con Windows Server 2008 R2 oppure altro, ma sono riu

[2016-07-16 17:53] sgdc3 commented on #777
@SuaWez Grazie per avercelo fatto sapere ;)

[2016-07-16 17:53] #777 closed

[2016-07-16 18:56] Pijanista commented on #859
Yeah that's it but not all. I need that premium player will be registered(if he's not) and cracked player kicked until they're manual registered.

So alittle bit integration of authme "kickNonRegistered" and fastlogin for auto register and login of premium.

FastLogin just gives me option to auto register/login premium player.

[2016-07-16 19:13] sgdc3 commented on #860
@QIIxGriimZzQ There is a new option now: enableProtectionRegistered
You need to keep it enabled. ;)

[2016-07-16 19:15] sgdc3 commented on #859
That's something FastLogin should do, not authme. @games647

[2016-07-16 21:41] QIIxGriimZzQ commented on #860
I looked at this:
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/resources/config.yml
As you write, there is a new option. But in config no. I deleted the old config but in new config is just (build 1220):
[code]

I tried to rewrite config on this (but I still could join):
[code]

[2016-07-16 21:55] Eufranio commented on #846
Yes, still happening,

[2016-07-17 13:33] sgdc3 commented on #860
you need to use build 1221

[2016-07-17 13:33] sgdc3 commented on #860
@QIIxGriimZzQ

[2016-07-17 17:20] QIIxGriimZzQ commented on #860
Nice, thanks for fix. :)

[2016-07-17 17:21] #860 closed

[2016-07-17 17:21] sgdc3 commented on #860
@QIIxGriimZzQ Thank you ;)

[2016-07-17 21:09] Mormaii commented on #855
Could you guys check this out please? :)

[2016-07-17 22:27] sgdc3 commented on #855
@ljacqu any idea? @DNx5 managed to fix this once, right?

[2016-07-18 15:52] jomjonejame opened #861 "invisible npc. when joined first times"
AuthMe 5.2 BETA 3
MC 1.8

when players joined first time to server. They are invisible npc

<img src="https://camo.githubusercontent.com/9eb6a17f7428e7e1af5f47351bdabe7b288804d3/68747470733a2f2f7333312e706f7374696d672e6f72672f35726d7566676a62662f323535395f30375f31335f32305f30365f35392e706e67" border="0" alt="2559-07-13_20.06.59" data-canonical-src="https://s31.postimg.org/5rmufgjbf/2559_07_13_20_0

[2016-07-18 16:16] sgdc3 commented on #861
??? this is a duplicated issue

[2016-07-18 16:18] sgdc3 commented on #861
we aready fixed this

[2016-07-18 16:47] Twonox commented on #861
Use the latest Dev Build

[2016-07-18 17:10] #861 closed

[2016-07-18 18:06] Sitmobedaf opened #862 "Error on /login"
Periodically on players join http://pastebin.com/ymg42JQy

[2016-07-18 18:06] Sitmobedaf commented on #862
Spigot 1.10.2

[2016-07-18 19:56] chief-j commented on #857
so, it is possible to do? How can I get the correct or not correct input password?

[2016-07-18 20:04] sgdc3 commented on #857
We need to add this feature to out api ;)

[2016-07-18 23:59] jomjonejame opened #863 "latest Dev Build is not work for login"
Sometimes can not login.

I'm found problem in latest Dev Build for you.

1.System login has problem : same times joined to server But can't login. When comes to servers, it can't walk and can not use /login or /l.

Sorry for my english is not good

[2016-07-19 06:02] ljacqu commented on #863
Can't login -> what happens? Error in log? Error message to user?
Which /authme version?

[2016-07-19 06:51] sgdc3 commented on #863
@ljacqu latest builds

[2016-07-19 07:38] jomjonejame commented on #863
@ljacqu Yes lastest builds

and not have error in log and error message

[2016-07-19 09:07] ljacqu commented on #863
So just nothing happens?

[2016-07-19 09:18] Twonox commented on #863
What message you receive when Authme load ?

[2016-07-19 14:59] jomjonejame commented on #863
I found error in console
URL : http://pastebin.com/QEFeeL3e

[2016-07-19 15:31] Twonox commented on #863
#862 Same error

[2016-07-19 17:18] chief-j commented on #857
isAuthenticated not worked with Session Reconnection

[2016-07-19 18:05] #835 closed

[2016-07-19 18:07] ljacqu commented on #863
Thank you for the analysis, @Twonox. Thanks for reporting it, @jomjonejame. Since we already have an issue for it, closing this one. Please subscribe to #862 to stay notified about this bug.

[2016-07-19 18:07] #863 closed

[2016-07-19 20:36] ljacqu commented on #862
I will fix this tomorrow, sorry for taking so much time on such a blocking bug. I want to properly analyze _why_ this is happening

[2016-07-19 23:10] sgdc3 commented on #857
@chief-j could you open another issue for that ;)

[2016-07-20 08:00] Sitmobedaf opened #864 "E-Mail Recovery"
Ceased E-Mail recovery system. All parameters configured correctly. I constantly update AuthMe, and problem beginning recently.

And fix double message: add_email: '&3Please add your email to your account with the command "/email add <yourEmail> <confirmEmail>"'

[2016-07-20 08:04] Sitmobedaf commented on #864
*Double message on registration.

[2016-07-20 08:53] ljacqu commented on #864
Please specify:
- When does it happen? (What command? Which event?)
- What happens? (Exception in log? Error message to user?)

[2016-07-20 10:26] Sitmobedaf commented on #864
http://pastebin.com/dpjuAMte

Admin issued server command: /email recovery MyEMail@mail.ru

[2016-07-20 14:39] You0Hun opened #865 "Hi!I have a better suggest for AuthMe plugin."
I have a better suggest  for AuthMe plugin.
Please tell me your mail.
So that I can send you pictures.
The picture is about the plugin.
My mail: you0hun@gmail.com

[2016-07-20 14:47] Twonox opened #866 "Latest build don't work"
When server starts console receive this:
http://hastebin.com/viwulolejo.profile

When I use Authme commands:
http://hastebin.com/juketewayo.vbs

[2016-07-20 15:05] ljacqu commented on #865
Hi, you can upload the picture e.g. on http://postimage.org

[2016-07-20 15:06] ljacqu commented on #866
What server (incl. version) do you use? Which authme JAR?

[2016-07-20 15:15] ljacqu commented on #866
@sgdc3 Isn't there some story with older Spigot(?) versions not having Gson or something? I remember something with Guava, but maybe also something changed with Gson?

[2016-07-20 15:19] Gnat008 commented on #866
That would be my guess. GSON wasn't bundled with Bukkit until sometime in early 1.8.x I think.

[2016-07-20 15:24] ljacqu commented on #866
My guess, @Twonox is running 1.7 or older and used the shaded.jar and mistakenly used the regular jar this time. Is this possible, @Twonox? ;)

[2016-07-20 15:40] Twonox commented on #866
I use Authme-spigot.jar and my server is PaperSpigot 1.7.10

[2016-07-20 15:56] ljacqu commented on #866
Please use the legacy JAR. A description of our JAR's is available at https://github.com/AuthMe/AuthMeReloaded/wiki/AuthMe-Releases-(Jenkins)

[2016-07-20 16:00] ljacqu commented on #864
This is some issue with your email configuration, the server you're sending from or to is not accepting it. I'm fairly sure that this is a configuration problem and not some bug that snuck in with a recent build.

[2016-07-20 16:19] Twonox commented on #866
Thank, it works ;)
I have alwas used spigot.jar and it was works fine wtf xD

[2016-07-20 16:22] ljacqu commented on #866
I think @sgdc3 added the Gson exclusion one week ago (3616c3187ebcdeb212c8b19833c7d1e5941e0f67), but still weird that no errors related to Guava showed up. Thanks for the feedback anyway, glad this could be solved :)

[2016-07-20 16:22] #866 closed

[2016-07-20 16:25] Twonox commented on #866
I use the spigot.jar in my principal server, if I use legacy.jar the database stil works ?

[2016-07-20 16:27] Sitmobedaf commented on #864
With GMail same:
[18:26:57] [Craft Scheduler Thread - 1146/WARN]: [AuthMe] Failed to send a mail to [Sitmobedaf@mail.ru]: [EmailException]: Sending the email to the following server failed : smtp.gmail.com:465

[2016-07-20 16:28] ljacqu commented on #866
Yes, absolutely!
We use some libraries that Spigot also uses. To make the JAR size smaller we don't include those libraries. But older Spigot versions and Cauldron don't have the same libraries, so we include them into the JAR. It's all the same apart from that, so database stays the same, etc. :)

[2016-07-20 17:08] ljacqu opened #867 "Investigate LimboPlayer being null"
Followup for #862. When a player joins, we construct the player's LimboPlayer and it should be available to us until he logs in or quits. However, for some reason LimboPlayer is null sometimes. We need to find out if this follows some pattern and _why_ this is happening.

Labeling as bug because LimboPlayer should never be null!

[2016-07-20 17:11] ljacqu commented on #862
@Sitmobedaf , @jomjonejame Please verify with build n. 1227 or above. http://ci.xephi.fr/job/AuthMeReloaded/
This is kind of a dirty fix; we need to find the _cause_ of this. Do you notice this happening only with certain players? Is there anything special you think might cause this?

[2016-07-20 17:29] Sitmobedaf commented on #862
Here is now Google notify me for IP block (37.187.168.181), my DS have IP: 87.98.181.80

Google security: "Someone recently tried to log into your account with this device. You indicated that this attempt and changed the password."

But before everything worked! Why do these connections become blocked?

http://img10.lostpic.net/2016/07/20/5a86452c60c096608edd68f83439cc1b.jpg

[2016-07-20 17:44] ljacqu commented on #862
Wrong issue.

[2016-07-20 19:27] ljacqu commented on #500
Current setup seems good; passing settings to one method for configurations, and two methods for passing the logger and the log file. Closing.

[2016-07-20 19:27] #500 closed

[2016-07-20 19:35] #784 closed

[2016-07-20 19:36] ljacqu commented on #844
@rErEaT @DardBrinza Purging should be fixed with build nr. 1229 or above. http://ci.xephi.fr/job/AuthMeReloaded/
The issue was that the task was only run for the first round, meaning that 5 accounts were being handled and then the task stopped.

[2016-07-20 22:59] sgdc3 commented on #865
@You0Hun

[2016-07-20 23:01] sgdc3 commented on #864
With gmail you need to enable the Allow Unsafe Clients feature (google side)

[2016-07-20 23:36] xknat opened #868 "locale for authmeadministrative commands"
things like /authme accounts and /authme lastlogin are not in the messagesLanguage. could we please make them also custom with prefix? :+1:
- kevin

[2016-07-21 00:14] Sitmobedaf commented on #864
I allow untrusted connections. The problem is relevant. I will continue tomorrow. Please, add MySQL to SQLite converter.

[2016-07-21 01:53] jomjonejame commented on #862
@ljacqu the issue has been resolved. But probably not all in lasted build

**sometimes is problem in login**
if has message "Unable to locate sign at x,x,x" in game. i can't use command login

<a href='https://postimg.org/image/vgdejob35/' target='_blank'><img src='https://s32.postimg.org/kgs782ko5/2559_07_21_08_08_49.png' border='0' alt='2559-07-21_08.08.49'/></a>

<a href='https://postimg.org/im

[2016-07-21 04:54] coolty opened #869 "Feature suggestion!"
Hello! This is not an issue, I have a feature suggestion!

I think it would be really awesome if we could use this SignGUI interface with Authme!

https://www.spigotmc.org/resources/signgui.17781/

It would open the signGUI upon login asking for password!

Let me know what you think.

[2016-07-21 06:20] sgdc3 commented on #869
a sign has a limited text length, i think tthat the char is still the better way to handle the registration

[2016-07-21 06:21] sgdc3 commented on #869
chat*

[2016-07-21 06:22] coolty commented on #869
A character limit is not a bad thing. The characters that can fit on a sign would be more than enough for password security.

It would be really cool if this was added, even as an option to enable if the admin wanted to!

[2016-07-21 06:24] sgdc3 commented on #864
It already exist if i remember well :/

[2016-07-21 06:26] sgdc3 commented on #864
Yrah it's missing :/ we'll add it asap

[2016-07-21 09:13] ljacqu commented on #864
@Sitmobedaf is right, I just downloaded 5.2-BETA3-b1134 and email works fine. Switching to latest dev build brings an issue with the certificate:
http://hastebin.com/esogexomup.avrasm
(Replaced my mail host with "xxxxx")

[2016-07-21 12:05] rErEaT commented on #844
I dont know how to test it :D

because I think my authme database is up to date but the essentials userfiles and the playerdata is not.
So I think the authme is look into the database and if that player expire, remove from everything.

[2016-07-21 12:33] lapin-b opened #870 "Critical security issue"
Hello,
Since this is a critical security issue, I won't describe it (how to reproduce, how it affect the accounts and what you can do with) here.
Instead, you can email me via my public email address or on Twitter @l4p1n (PM).

Best regards,
lapin-b
(PS: If you wanted me to email you directly, I didn't know who to contact...)
**Edit**: After serveral testing, the issue is more critical than I firs

[2016-07-21 12:44] You0Hun commented on #865
https://s31.postimg.org/uut4cl4qj/W04_45_P_2_1_W3_FBS_Q8.png

[2016-07-21 12:48] You0Hun commented on #865
This picture is my preliminary design！Hope AuthMe can have this function！[url=https://postimg.org/image/z3xuer7zr/][img]https://s31.postimg.org/z3xuer7zr/W04_45_P_2_1_W3_FBS_Q8.png[/img][/url]
https://s31.postimg.org/uut4cl4qj/W04_45_P_2_1_W3_FBS_Q8.png
https://postimg.org/image/z3xuer7zr/

[2016-07-21 12:52] You0Hun commented on #865
Can you see the picture?

[2016-07-21 12:56] You0Hun commented on #865
If you can't add this feature！So please tell me how to call the AuthMe inside the login！I will thank you very much！

[2016-07-21 12:58] You0Hun commented on #865
By the way,I come from China.English is not very good.Cannot read please forgive me.

[2016-07-21 13:34] You0Hun commented on #865
https://s26.postimg.org/cmnwhb9qx/W04_45_P_2_1_W3_FBS_Q8.png

[2016-07-21 15:25] Twonox opened #871 "SocialSpy"
This feature disable socialspy completly. Could you set this only before /login ?
=> If I have socialspy enabled, and if I disconnect then connect, while I'm not loged in I don't have socialspy and after /login I have again socialspy.

[2016-07-21 16:36] Twonox commented on #870
With the latest dev build ?

[2016-07-21 18:30] Sitmobedaf commented on #864
I not found 5.2-BETA3-b1134 in http://ci.xephi.fr/job/AuthMeReloaded/

[2016-07-22 05:55] ljacqu commented on #870
Email sent to your public email just now from an email address that somewhat resembles my Github name (ends in "lk"). Thanks

[2016-07-22 05:58] ljacqu commented on #844
You're right—the database was cleared properly but data files (Essentials, player .dat) were only cleared for the first five.

[2016-07-22 07:58] sgdc3 commented on #870
@lapin-b

[2016-07-22 08:00] sgdc3 commented on #864
http://ci.xephi.fr/job/AuthMeReloaded/1134/

[2016-07-22 08:01] sgdc3 commented on #864
It's the beta3 jar available also from spigot and bukkit

[2016-07-22 08:03] sgdc3 commented on #871
To archive that we would need to store the socialspy status, it doesn't worth the effort.

[2016-07-22 08:05] sgdc3 commented on #865
Hello, probably we should provide a "login strategy" api @ljacqu

[2016-07-22 10:06] You0Hun commented on #865
"login strategy" ??

[2016-07-22 10:08] Sitmobedaf commented on #864
With 1134 recovery post successfully send.

[2016-07-22 12:02] ljacqu commented on #864
I just checked a few build numbers and could never get this error anymore. Now even the latest few builds work fine for me and I can send an email. I'm really confused... @Sitmobedaf Can you download the latest build number and check again please? I don't know what to say.

[2016-07-22 12:39] ljacqu commented on #864
Hello @Sitmobedaf, after investigating further I do not think there is an issue with our email system. I cannot send emails when I run a Minecraft server in IntelliJ itself (used for debugging). If I run a server from command line, sending emails is fine. The build number is not relevant. I get the same issue with BETA3, and I can send emails just fine with the latest builds.
Is it possible that y

[2016-07-22 15:45] Sitmobedaf commented on #864
Yes, with 1230 problem not found. Issue is solved.

[2016-07-22 15:50] #605 closed

[2016-07-22 15:50] ljacqu commented on #864
Thanks for the feedback.

[2016-07-22 15:50] #864 closed

[2016-07-22 19:11] sgdc3 commented on #605
@ljacqu 100% done?

[2016-07-22 19:12] sgdc3 commented on #865
like:

player join -> authme handle join -> [Custom login strategy] -> authme handle login

[2016-07-22 19:32] ljacqu commented on #865
@sgdc3 I just skimmed through this, but wouldn't some plugin on top of AuthMe already be able to do this? By setting the login message to empty AuthMe won't output any "Please /login" message and the plugin on top can then fire "/login pass" based on the user's input, or use the API

[2016-07-22 19:34] ljacqu commented on #605
2nd point isn't done (formatted string with separately passed arguments), for reasons discussed in https://github.com/AuthMe/AuthMeReloaded/pull/148
If you think something else is missing, please let me know

[2016-07-22 22:31] Sitmobedaf opened #872 "plugin.yml default permissions are ignored"
authme.player.login:
        description: Command permission to login.
        default: true
    authme.player.logout:
        description: Command permission to logout.
        default: true
    authme.player.register:
        description: Command permission to register.
        default: true

Is not working. Players can't register login, etc. commands.

[2016-07-22 22:56] sgdc3 commented on #872
You mean the default value?

[2016-07-22 22:58] sgdc3 commented on #865
@ljacqu yeah, but it's not the first time someone want to modify the login procedure

[2016-07-22 22:59] sgdc3 commented on #865
Someone for example asked to use a holo interface

[2016-07-22 22:59] sgdc3 commented on #865
or a virtual sign as input field

[2016-07-22 23:08] Sitmobedaf commented on #872
Yes, above players have this permissions. AuthMe must listen "default: true". It was not until version 3.5, maybe later.

[2016-07-22 23:53] Sitmobedaf opened #873 "NewAPI can no longer be retrieved"
http://pastebin.com/kAdBjpfY

[2016-07-23 00:40] sgdc3 commented on #873
Not our fault :/ Can't see any reference to authme in the stacktrace

[2016-07-23 00:42] sgdc3 commented on #873
Ah found it, ChatGuard developer needs to recompile the projevt with latest version of our api.

[2016-07-23 01:32] You0Hun commented on #865
..

[2016-07-23 06:38] Mormaii commented on #855
If you could please check this out guys I'd really appreciate it since It's bugging my players :/

[2016-07-23 08:28] ljacqu commented on #873
We had two constructors for NewAPI, one removed in https://github.com/AuthMe/AuthMeReloaded/commit/b671c94e0b0ce902cb823c37d64fd332ae123bc2 because we always call the other one on initialization. Turns out the one I left doesn't register the instance... :pensive: (ouch)

Thank you for reporting this issue—fixed with build nr. 1235 & above. http://ci.xephi.fr/job/AuthMeReloaded/.

[2016-07-23 08:31] ljacqu commented on #862
Thanks for the answer @jomjonejame , the rest of your post seems like an unrelated issue. Not sure if it's still open; if it is, please create another issue for it so we can easily keep track of issues.

[2016-07-23 08:31] #862 closed

[2016-07-23 08:39] Sitmobedaf commented on #873
Fixed, thanks.

[2016-07-23 08:39] #873 closed

[2016-07-23 08:49] Sitmobedaf opened #874 "Authme is unable to disable player collisions"
https://youtu.be/DhJtMJRX1Qg

[2016-07-23 09:30] #672 closed

[2016-07-23 11:47] ZeTioZ opened #875 "Speed 0 on login"
Hello, I have updated Authme at the version 1229 and there is the bug with the speed on login (you know there was already a time) so can you fix it a second time :) ?

[2016-07-23 13:51] #449 closed

[2016-07-23 15:12] sgdc3 commented on #875
@ZeTioZ What's the buildnumber of the previous version you used?

[2016-07-23 15:12] sgdc3 commented on #855
@ljacqu @DNx5  Could you take a look at this?

[2016-07-23 15:14] sgdc3 commented on #874
@Sitmobedaf There is an option to disable collisions on login ;)

[2016-07-23 15:26] sgdc3 commented on #874
Set if this entity will be subject to collisions other entities.
Note that collisions are bidirectional, so this method would need to be set to false on both the collidee and the collidant to ensure no collisions take place.

[2016-07-23 15:26] sgdc3 commented on #874
*Note that collisions are bidirectional, so this method would need to be set to false on both the collidee and the collidant to ensure no collisions take place.*

[2016-07-23 15:27] sgdc3 commented on #874
@ljacqu Could this be the problem?

[2016-07-23 15:53] ljacqu commented on #874
Aha yes, presumably if this is the server's spawn other, logged in players might idle in it, too. Would be interesting to know if @Sitmobedaf has "keep collision disabled" setting turned on, and if not, if enabling it solves the issue.

[2016-07-23 16:09] Sitmobedaf commented on #874
Toggle "keepCollisionsDisabled: false/true" does not give results. Maybe "org.bukkit.entity.LivingEntity.setCollidable" ignore players. Maybe collision work on client level?! I see one variant - vanished all players for unlogged player.

[2016-07-23 20:48] Twonox opened #876 "Login fail tempban issue"
Failure count for /login is not reseted after right login. Then if a player fail 9 logins, successful tenth login and fail 1 login another time, he is tempbaned... (if limit is 10 logins)
There is false bans for my players :/

[2016-07-23 23:18] sgdc3 commented on #876
@ljacqu @sgdc3 Is there a reason that the tempban count is no longer reset when the player logs in? I'm pretty sure it used to

ljacqu @ljacqu lug 23 23:40
Yes, you removed it in AuthMe/AuthMeReloaded@367f785 after our discussion. We're keeping track of failure by IP, if it logs into an account successfully it shouldn't reset the temp count automatically. Maybe we could also keep track of the acco

[2016-07-24 00:55] Gnat008 commented on #876
Should this be relabled as Enhancement? I'm really not sure what to do about this. lol

[2016-07-24 03:22] ZeTioZ commented on #875
I used the build 964 when I think it worked as well.

[2016-07-24 08:16] sgdc3 commented on #875
@ZeTioZ could you post your config?

[2016-07-24 08:38] Mormaii commented on #875
I've had this problem as well. Sometimes if using removespeed: true when you log in you have 0 speed and there's no way to fix it but to log out, edit the player data files and change the speed manually.

[2016-07-24 08:51] Twonox commented on #876
Reset logins failures after right login ?
Or add a configuration to reset it if we would or no.
ResetAfterRightLogin: true

[2016-07-24 08:53] ljacqu commented on #875
I've experienced this sporadically when testing AuthMe locally, but never noticed a pattern and wasn't sure if it was because I was playing around with the plugin a lot. Is there anything common to the players that are affected or when this happens?

[2016-07-24 09:16] ZeTioZ commented on #875
Most of the time it's when the player connect for the first time, other times it's because the player has connected after a long time, I've posted the config juste under the post look at it maybe it can help you.

`

DataSource:
    # What type of database do you want to use?
    # Valid values: sqlite, mysql
    backend: 'MYSQL'
    # Enable database caching, should improve database performance

[2016-07-24 10:15] ljacqu commented on #719
We've done some optimizations within this story -> now closing for inactivity. If something is still missing please open a followup issue with a concise goal / problem description.

[2016-07-24 10:15] #719 closed

[2016-07-24 10:16] ljacqu commented on #787
Hi @BOT-Neil, is this issue fixed for you?

[2016-07-24 10:18] ljacqu commented on #827
No answer, no similar issues reported—assuming fixed.

[2016-07-24 10:18] #827 closed

[2016-07-24 10:34] ljacqu commented on #876
Related to #764, this essentially boils down to the fact that the requirements for a successful ban manager are easy to express, but difficult to describe formally...

This bug is caused by two things that are missing:
- Invalid login counts are never cleared
- If a player struggles to log in _x_ times into his own account and then succeeds, those failed attempts should arguably be cleared

Or, ap

[2016-07-24 11:03] Twonox commented on #876
Or the player can change his IP...
Finaly it's not a efficient system x)
I think, the better solution is `kickOnWrongPassword: true`

[2016-07-24 11:05] Twonox commented on #876
If we can set a wrong login count before kicking, it can be better, can't it ?

[2016-07-24 11:28] Twonox commented on #875
@ZeTioZ Met `removeSpeed: false` et dis nous si ça règle ton problème ou pas.

[2016-07-24 12:40] BOT-Neil commented on #787
@ljacqu It's still not working correctly in the latest dev build

[2016-07-24 15:16] ljacqu commented on #787
@BOT-Neil So players still being invisible on login that then become visible later on?

[2016-07-24 19:09] Memermint commented on #831
I have the same problem, pleas can you fix it?

[2016-07-25 09:32] ljacqu commented on #876
That's actually a great idea to make the number of failed attempts configurable before kicking (because immediate kick is a little extreme...).
Then we'd have three things in our defense:
- captcha
- kicking
- tempban

[2016-07-25 09:43] Twonox commented on #876
You can remove `kickOnWrongPassword` and apply #794
If we can set the command to apply `/kick player` it can replace `kickOnWrongPassword` (with a reset after right login in choice)

[2016-07-25 10:38] sgdc3 commented on #876
Right ;)

[2016-07-25 16:12] Twonox opened #877 "PvP before /login"
PvP is enabled when we are not loged

[2016-07-25 16:19] ljacqu commented on #877
Any pvp plugin in particular, or literally just inflicibtg damage to a player on "vanilla?"

[2016-07-25 16:31] Twonox commented on #877
On vanilla

[2016-07-25 17:11] molor opened #878 "/l not work."
In latest dev build №1239, /l command doesn't working before player logged in.
It always says "In order to use this command you must be authenticated!". Working only /login command.

Spigot 1.9.4, Config: http://pastebin.com/KVHz0yES

[2016-07-25 17:32] Twonox opened #879 "False "Already playing""
Sometimes when we join the serveur we receive this:
http://image.noelshack.com/fichiers/2016/30/1469467734-2016-07-25-19-11-05.png

Build 1238

[2016-07-25 18:09] Twonox opened #880 "Add option to disable PlayerCache"
What is the utility of playerdata storage ?

[2016-07-25 18:42] Twonox opened #881 "GroupManager issue"
I have a serveur with rankup system and some one of my new players have problem to rankup the first times before a reboot of my server.

I use dev `Build 1238` on my server and when I remove it, there is no this problem.

[2016-07-25 19:24] tuanjr commented on #878
i Use build 1238 on 1.9.2, /l work fine :)

[2016-07-26 03:30] DNx5 commented on #878
looks like another plugin overriding /l command

[2016-07-26 08:06] sgdc3 commented on #879
Probably you crashed and the servwr is waiting the connection timeout to kick your profile

[2016-07-26 08:10] sgdc3 commented on #877
O_o @ljacqu we use the listeners to cancel pvp and pve events, it can't be a conflict!

[2016-07-26 08:35] molor commented on #419
Since this bug I no longer met, we can assume that it is fixed.

[2016-07-26 08:45] molor commented on #878
hmm. My plugins: AutoSaveWorld, dynmap, PermissionsEx, goBrush, ProtocolLib, SkinsRestorer, SkinsRestorer, WorldBorder, WorldEdit, WorldGuard. And this problem appeared suddenly, by itself..

But I get an error message from AuthMe, not from any other plugin.
And, as I already wrote, after login with command /login, /l works fine.

[2016-07-26 08:49] ljacqu commented on #877
That's why I asked, I could have imagined that some plugin would interfere. Strange that this occurs on "vanilla"

[2016-07-26 08:49] ljacqu commented on #419
Thank you!

[2016-07-26 08:49] #419 closed

[2016-07-26 08:52] ljacqu commented on #831
@sgdc3 did you try it out?

[2016-07-26 09:28] Twonox commented on #879
No no no, I have tested in my principal server and in my test server with same authme and I have this problem in both server. When I remove authme there is no this problem.

[2016-07-26 09:31] Twonox commented on #877
I forgot a detail sorry.
A loged in player can't kill the player who does not loged in but he can got kill by this not loged in player.

[2016-07-26 10:03] ljacqu commented on #877
Aha, nice catch :)

[2016-07-26 13:55] molor commented on #878
I understand the reason. Yes, it was indeed another plugin. Blame the plugin WorldEdit.

If in its configuration file change the "no-double-slash" to "false", /l command stops working. This is strange..

[2016-07-26 16:56] Eisenbahn opened #882 "Task 75 Loop"
http://pastebin.com/7TVj18ZF

Log files has 200Mb
It just loops this #75

Cauldron
Java7

[2016-07-26 16:58] Eisenbahn commented on #882
Using the Last Build 1239

[2016-07-26 17:03] nathampa0909 commented on #879
What plugins you use on your server? Can you list it?

[2016-07-26 19:24] Twonox commented on #879
I wouldn't give list of my plugins but you can ask me if I have a specific plugin.
@sgdc3 If I use build 1228 there is no this problem. The problem comes from build after this one.

[2016-07-26 19:26] Twonox commented on #881
It's very strange...
If I use old builds of Authme the problem isn't fixes but if I remove it completly... there is no this problem. Wtf ?

[2016-07-26 23:18] sgdc3 commented on #831
@ljacqu Can't do it atm

[2016-07-27 01:08] sgdc3 commented on #877
@Twonox Should have been fixed ;)

[2016-07-27 01:16] nathampa0909 commented on #879
@Twonow Do you use ProtocolSupport?

[2016-07-27 01:30] sgdc3 commented on #878
Idk if this is caused by our command handler or by the we one :/ This needs omvestigation....

[2016-07-27 01:34] sgdc3 commented on #879
@Twonox SO this is the first build that doesn't work, right? http://ci.xephi.fr/job/AuthMeReloaded/1229/

[2016-07-27 01:34] sgdc3 commented on #882
Are you using the legacy jar?

[2016-07-27 01:36] sgdc3 commented on #881
What do you mean?

[2016-07-27 02:25] DNx5 commented on #880
It used to save player's state (like OP, group, flying, speed, etc) so, we can restore it later when player get authenticated.

[2016-07-27 03:47] Eisenbahn commented on #882
Yesh, i am. Should i use another? Im using cauldron (1.7.10)

[2016-07-27 06:04] ljacqu commented on #831
You can test later

[2016-07-27 07:34] sgdc3 commented on #831
@ljacqu as @Memermint said, this isn't fixed yet

[2016-07-27 07:51] sgdc3 commented on #882
@Eisenbahn Should have been fixed ;)

[2016-07-27 09:50] ljacqu commented on #831
Sorry, I blame tunnel vision

[2016-07-27 11:30] sgdc3 commented on #831
?

[2016-07-27 11:42] Twonox commented on #880
But without playerdata storage, there is no problems. When I reset it I'm in my last location, I'm Op, I fly etc

[2016-07-27 16:39] Eisenbahn commented on #882
1240+ ?

[2016-07-27 16:48] Twonox commented on #879
@nathampa0909  I don't use it.
@sgdc3 I don't know, I have choose randomly the build 1228 and this build don't have this problem.

[2016-07-27 17:04] Twonox commented on #877
Fixed, thank :)

[2016-07-27 17:30] Twonox commented on #878
We can use /l through command.yml to bypass WE command handling.

If we put:

But /authme: commands don't works.

[2016-07-27 17:37] Twonox commented on #881
You don't have understand what I said ?

[2016-07-27 19:28] Pijanista commented on #881
Best thing is move to PEX, group manager is not supported anymore... I had some similar problems with newer version of authme and groupmanager. Changing to PEX fixed it ;)

[2016-07-27 19:32] sgdc3 commented on #882
1242 ;)

[2016-07-27 19:32] sgdc3 commented on #879
i need to find the commit that caused the issue

[2016-07-27 19:33] sgdc3 commented on #881
I still don't understand the issue, could you post your config and describe your rankup system please? :)

[2016-07-27 19:34] #877 closed

[2016-07-27 19:34] ljacqu commented on #878
Just using `login` should work; unless there's a conflict with that command too of course, but unlikely to happen

[2016-07-27 19:37] Eisenbahn commented on #882
Ye, been using for few min and seems alright :)

[2016-07-27 19:38] sgdc3 commented on #882
Fine ;) Thank you for the report!

[2016-07-27 19:38] #882 closed

[2016-07-28 15:04] Twonox commented on #879
Now I don't have this problem, I don't know why. (With latest and old build of authme).
Before, I had 50% probability to receive this message with Authme in my two servers. It's strange.
If it starts again, I will do more test.

[2016-07-28 15:13] nathampa0909 commented on #879
@sdgc3 I have this problem too, my build is a old build (build 186). Do not happen always but when happen the player logout from the server but the account continue online a time.

[2016-07-28 16:07] Twonox commented on #881
My config:
http://hastebin.com/epifelekam.vhdl

Rankup system:
Default rank (first): Aventurier
Second rank: Guerrier
Third rank: Noble
(there is other ranks but without problem)

I will still do some test.

[2016-07-28 16:42] vertamin commented on #831
This is happening to me too on 1.10.2

[2016-07-29 15:48] Xephi commented on #733
Idk why, but the InteractEvent should be thrown before the ProjectileLaunchEvent, by the way, if we cancel the InteractEvent just before, this event hasn't to be fired, something is wrong in the event handling also ? :O

[2016-07-30 19:51] Memermint commented on #831
Is it gonna be solved?

[2016-08-01 06:25] jomjonejame opened #883 "You logged in from another location ??"
# Help me please !!

MC 1.8 ( spigot )
Authme last version

### Some players can't joined in server.

<a href='https://postimg.org/image/s9js908cn/' target='_blank'><img src='https://s31.postimg.org/ddl91ewy3/aaa.jpg' border='0' alt='aaa'/></a>

### When a player is trying to game

<a href='https://postimg.org/image/qwhez0wwn/' target='_blank'><img src='https://s31.postimg.org/cq1o3sm1n/Untitled_1

[2016-08-01 10:37] molor commented on #883
Can confirm on my 1.8.8 spigot server.

[2016-08-01 12:10] SlimaKCoder commented on #837
Wow, so I'm not only one who really don't like "super new engine" called Sponge ;)

[2016-08-02 10:13] vertamin commented on #831
Any news?

[2016-08-02 11:59] sgdc3 commented on #831
I'll try to find the cause... Sorry for the delay but we are humans and we have holidays xD

[2016-08-02 13:58] Twonox commented on #881
@DNx5 Your group storage causes a problem with groupmanager.
When I rankup to Guerrier, for groupmanager I'm Guerrier but for Authme I'm Aventurier and this is the cause of rankup problem. When groupmanager is reloaded (with /manload or with a reboot of my server), Authme's group storage is updated and groups/rankup works properlly.
If I remove Authme, there is no this problem.
Could you do someth

[2016-08-02 14:53] sgdc3 commented on #881
@DNx5 Is the cache updated when the player logout?

[2016-08-02 14:54] sgdc3 commented on #831
@vertamin @Memermint could you try this build http://ci.xephi.fr/job/AuthMeReloaded/1245/ ?

[2016-08-02 15:15] vertamin commented on #831
Nope, still not working. Thanks for the hard work.
![image](https://cloud.githubusercontent.com/assets/20707722/17333928/a271195e-58d4-11e6-93f9-d209fb61743d.png)

[2016-08-02 16:04] Twonox commented on #831
I don't have this problem with latest build. Because I'm in 1.7 or this is fixed ?

[2016-08-02 16:46] Twonox commented on #831
As I understand it, `forceSingleSession: true` don't works ?

[2016-08-02 16:57] vertamin commented on #831
Exactly.
![image](https://cloud.githubusercontent.com/assets/20707722/17337442/ec248faa-58e2-11e6-9224-9a498c4bbb63.png)

[2016-08-02 17:09] sgdc3 commented on #831
Try latest build: i added a debug message, it should show a warning when someone tries to login but another user with the same name is online.

[2016-08-02 17:22] Twonox commented on #831
For me there is no problem, singlesession works properly. With latest build and old builds.

[2016-08-02 17:25] sgdc3 commented on #831
@vertamin could you try latest version and check if a debug message is shown in console?

[2016-08-02 18:34] vertamin commented on #831
I dont get any debug message in the #1246 version, maybe im doing something wrong?
![image](https://cloud.githubusercontent.com/assets/20707722/17340449/76a405d6-58f0-11e6-8584-53f1bafd3e1d.png)

[2016-08-02 19:00] ljacqu commented on #831
Just to pitch in—using Spigot 1.8, single session doesn't work and no debug message,  just like @vertamin says

[2016-08-02 19:08] sgdc3 commented on #831
The event isn't fired O_O

[2016-08-02 19:29] ljacqu commented on #831
The event is fired but the handler is too late. The online player is already kicked by then. Deug message is inside the catch()

[2016-08-02 19:55] ljacqu commented on #831
Checked build nr. 1066 (f94f4643cf3cd2e27189e985660798fbe40d3d75) and there it works. But there we use the AsyncPrePlayerLoginEvent (no CraftBukkit support).
Then you (@sgdc3) changed it in 12533a90f67fb8891eb802b76943e512ce8c617a and I commented that it works. Time to hunt down the build nr... build nr. 1143. Let's test:
It doesn't work. :disappointed:

Crap, I must have tested wrong. I think tha

[2016-08-02 19:56] vertamin commented on #831
Well, I didnt understand that, but thanks for trying to fix it!

[2016-08-02 19:57] ljacqu commented on #831
#760 was the same issue as this and I fixed it by using the AsyncPlayerPreLoginEvent. 3411450ff1a6b4c051aa344842c310166363b360 The issue contains some background regarding the compatibility. The tl;dr is that CraftBukkit doesn't throw that async event when it's in offline mode. But on Spigot it works like a charm.

[2016-08-02 19:58] ljacqu commented on #831
@vertamin This is mostly just hunting down the cause :) We'll get it working for Spigot at least. Looks like single session & CraftBukkit is not possible from what I can tell.

[2016-08-02 19:59] vertamin commented on #831
Ok, thank you. Just in case, im using Spigot on offline mode.

[2016-08-02 22:11] sgdc3 commented on #831
@ljacqu We should take a look at CB's code

[2016-08-02 22:14] sgdc3 commented on #831
@ljacqu There is still something that don't make sense:

    @EventHandler(priority = EventPriority.LOWEST)
    public void onLoginSingleSession(PlayerLoginEvent event) {
        if(event.getResult() != PlayerLoginEvent.Result.ALLOWED) {
            return;
        }

        final Player player = event.getPlayer();
        final String name = player.getName();

        try {
            onJoinVer

[2016-08-02 22:15] sgdc3 commented on #831
The debug message should be printed also if the handler is too late

[2016-08-02 22:15] sgdc3 commented on #831
It seems like the event isn't fired at all

[2016-08-02 23:03] sgdc3 commented on #831
@ljacqu Take a look at my commit ;)

[2016-08-03 05:24] ljacqu commented on #831
Sgdc3, the debug wasn't printed because the player is kicked beforehand. Therefore, we won't find a user with that name because that player is no longer online. The event is fired.
I had a quick look at the commit and I'll do some cleanup this evening.

[2016-08-03 13:36] Memermint commented on #831
Same issue still... nothing changed

[2016-08-03 14:50] sgdc3 commented on #831
@Memermint build number?

[2016-08-03 16:19] Memermint commented on #831
@sgdc3 do you mean version? that one that you post there http://ci.xephi.fr/job/AuthMeReloaded/1245/

[2016-08-03 17:18] ljacqu commented on #831
1249 would be interesting, http://ci.xephi.fr/job/AuthMeReloaded/1249/ as it has more changes. I'm currently testing with Spigot + CraftBukkit so if you want to wait ~2 hours it might save you some switching.

[2016-08-03 17:23] sgdc3 commented on #831
:) What about CB?

[2016-08-03 17:40] ljacqu commented on #831
Sorry, it isn't :( I'm currently merging the listeners (neither AsyncPreLoginEvent nor the sync version) are fired on CraftBukkit. I'll do another round of testing and then I'll ask you to review my changes @sgdc3

[2016-08-03 17:49] sgdc3 commented on #831
What do you mean?

[2016-08-03 18:00] ljacqu commented on #831
CraftBukkit in offline mode doesn't fire the AsyncPrePlayerLoginEvent but also not its sync counterpart -> therefore put the handler for the async method in the main PlayerListener class and deleted the Sync one. In offline CraftBukkit that event handler method just will never be used; that's fine.

Tested with commit above and can confirm single session works on Spigot, and can confirm on CraftBu

[2016-08-03 18:03] sgdc3 commented on #831
We should compile AuthMe 3.4 with bukkit 1,10

[2016-08-03 18:04] sgdc3 commented on #831
and check if it works

[2016-08-03 18:05] sgdc3 commented on #831
https://github.com/AuthMe/AuthMeReloaded/blob/2638007adae2138ec37fad53919af17675c7fb62/src/main/java/fr/xephi/authme/listener/AuthMePlayerListener.java#L380

[2016-08-03 18:08] vertamin commented on #831
Thank you guys, now its working.
![image](https://cloud.githubusercontent.com/assets/20707722/17376458/ecfe5a68-59b5-11e6-83d7-56d5ca372f91.png)
![image](https://cloud.githubusercontent.com/assets/20707722/17376471/f90a5e1a-59b5-11e6-9263-d4c133a5718b.png)

[2016-08-03 18:23] ljacqu commented on #870
The bug affects AuthMe 5.0 and relates to usernames with different casing (think `lapin` vs. `Lapin`). Upgrading to 5.2 fixes it so this can be closed.

[2016-08-03 18:23] #870 closed

[2016-08-03 18:25] ljacqu commented on #883
So this is when a player is online, and then someone else joins with the same name? Or does "you logged in from another location" happen at the beginning when someone wants to join?

[2016-08-03 18:28] ljacqu commented on #880
Relates to #845. @DNx5 What's the strategy for updating player data?

I'm guessing we have two "incompatible" issues:
- If the server crashes and someone is unregistered, the server will remember the player with all of the restrictions that AuthMe applied to him (walking speed = 0, etc.)
- If someone is is opped / fly speed changed etc. sometime later, this will no longer be reflected in the Playe

[2016-08-03 18:51] sgdc3 commented on #831
@vertamin Yeah, it works but only with spigot

[2016-08-03 19:01] ljacqu commented on #844
Verified by @FabioZumbi12
Thank you! :stars:

[2016-08-03 19:01] #844 closed

[2016-08-03 19:13] ljacqu commented on #831
I think the magic in CraftBukkit is this
https://github.com/AuthMe/AuthMeReloaded/blob/2638007adae2138ec37fad53919af17675c7fb62/src/main/java/fr/xephi/authme/listener/AuthMePlayerListener.java#L812

Testing...

[2016-08-03 19:15] ljacqu commented on #831
Yup, that's it. Holy crap... Consider me amazed.

[2016-08-03 19:19] sgdc3 commented on #831
@ljacqu could you check latest commit? I think bukkit has some issues with LOW priorities...

[2016-08-03 19:32] ljacqu commented on #831
@sgdc3, It didn't work, commit referenced above works with Spigot and CraftBukkit, though. Nice catch checking with 3.4!

[2016-08-03 19:34] sgdc3 commented on #831
Lol this makes more sense :D

[2016-08-03 19:35] ljacqu commented on #831
What a ride this has been :P I'll write some unit tests now so it will be harder to break without anyone noticing :laughing:

[2016-08-03 20:00] Sitmobedaf commented on #874
Maybe best variant use spectator mode? In this mode, the players do not pushed.
And where MySQL to SQLite converter?
Fix duplicate email message on registration.

[2016-08-03 20:13] ljacqu commented on #874
One item per issue, if you want a converter create another issue.

[2016-08-04 00:31] rErEaT commented on #831
Well I wanted to report this issue, but already fixed :D :D

[2016-08-04 05:24] ljacqu opened #884 "Add a pom profile to compile against Bukkit"
We currently have Spigot as server dependency and I'd like to add a profile in the pom to use CraftBukkit instead.
This allows us to run unit tests against CraftBukkit e.g. before a release and to make sure we didn't unknowingly use a Spigot-only type.

[2016-08-04 05:27] ljacqu commented on #771
I did this because I really wanted it. It's an unmaintainable mess that is hard to evaluate. At best one could detect if an Exception is thrown but we wouldn't notice wrong behavior.
Therefore—reluctantly—closing as wontfix.

[2016-08-04 05:27] #771 closed

[2016-08-04 07:12] Memermint commented on #831
![screenshot_20160804091210](https://cloud.githubusercontent.com/assets/20481791/17393374/93113dcc-5a23-11e6-9e5c-69deee5ca6ab.png)
Thank you so much! Spigot 1.10. and WORKS !

[2016-08-04 07:51] Mormaii commented on #855
This is still a bug

[2016-08-04 08:00] molor commented on #883
Yes.

[2016-08-04 08:03] ljacqu commented on #883
Then this has been fixed with build 1250 or above (see #851). We'd be interested in hearing back if it's been fixed for you :)

[2016-08-04 08:12] sgdc3 commented on #883
@molor @jomjonejame

[2016-08-04 08:27] sgdc3 commented on #884
Ok ;)

[2016-08-04 09:31] hsombini opened #885 "Legacy build 1254 no messages on login/no move after login on MC 1.7.2"
Hello,

Legay build 1254 should be compatible with 1.7.2?

I had some issues trying to run it!

1. On server join, no message is sent to the player, asking to /register or /login, but the player can perform the command /register or /login normaly, the welcome message is displayed after the player perform /login

2. When a player login, he can't move, I've tryed to relog several times.

Error on co

[2016-08-04 10:02] sgdc3 commented on #885
@hsombini Fixed, wait 2 minutes and download latest build from jenkins ;)

[2016-08-04 11:01] #884 closed

[2016-08-04 11:02] sgdc3 commented on #883
Closing as this is the same issue

[2016-08-04 11:02] #883 closed

[2016-08-04 11:04] #878 closed

[2016-08-04 11:06] sgdc3 commented on #875
@ZeTioZ Does it work now with latest builds?

[2016-08-04 11:08] sgdc3 commented on #874
@ljacqu It's the same issue ;)

[2016-08-04 11:09] sgdc3 commented on #874
This is caused by a minecraft bug, since 1.9 the server is unable to handle player collisions, they are only client side.

[2016-08-04 11:10] sgdc3 commented on #874
We need to use gamemode 3 to bypass this issue.

[2016-08-04 11:11] sgdc3 commented on #874
The only issue is that players with gamemode 3 are invisible

[2016-08-04 11:12] sgdc3 commented on #874
@games647 I need your help for some protocol level stuff ;)

[2016-08-04 11:14] sgdc3 commented on #872
@timvisee Can you help us with this?

[2016-08-04 11:16] sgdc3 commented on #110
Closing, no demand for this featue

[2016-08-04 11:19] sgdc3 commented on #231
@Hidendra could you give us access to the page?

[2016-08-04 11:21] sgdc3 commented on #503
Wontfix, you need to use other plugins to change the messages...

[2016-08-04 11:21] #503 closed

[2016-08-04 11:27] sgdc3 commented on #337
Should check also #872

[2016-08-04 12:04] ljacqu commented on #337
@sgdc3 Can you explain what the defaults should be? If DefaultPermission is ALLOWED is it true in the yml file?

[2016-08-04 12:07] ljacqu commented on #883
Since this is quite a big one, would be nice to give the reporters the opportunity to give feedback. But ok.

[2016-08-04 12:08] sgdc3 commented on #337
Yeah

[2016-08-04 12:08] sgdc3 commented on #883
@ljacqu reporter should also check if there is already a report for the issue before posting xD

[2016-08-04 15:16] ljacqu opened #886 "Purge: handle entries with lastlogin = 0"
We might have entries in the DB where the lastlogin timestampis set to 0. This is an issue with purging as 0 essentially means we don't have any lastlogin info.

I could imagine the following solution:
- When a user does /authme purge, ask for confirmation whether entries with 0 as lastlogin should be included (should we query the DB whether there are such entries?)
- Automatic purge simply ignore

[2016-08-04 15:16] ljacqu commented on #886
Brought to our attention by @FabioZumbi12

[2016-08-04 15:18] ljacqu opened #887 "Migrate lastlogin column from int32 to bigint"
As mentioned by @FabioZumbi12 we switched to milliseconds timestamp from seconds timestamp at some point.

- Implement a migration of the datasource when necessary
- Check when we changed to millis
- Verify that we now really use milliseconds everywhere

[2016-08-04 16:26] ljacqu commented on #884
Excellent, thank you very much! This is a great addition.

[2016-08-04 16:47] games647 commented on #874
@sgdc3 Isn't that scoreboard team related? Paper automatically adds a new team in the newer versions.

[2016-08-04 17:10] ZeTioZ commented on #875
I will try it, if not I will notice to you

[2016-08-04 17:12] ljacqu commented on #677
Verified that this is fixed, so closing.

[2016-08-04 17:12] #677 closed

[2016-08-04 17:15] ljacqu commented on #855
@Mormaii Could you try with the latest build please? @sgdc3 Changed the priority of some event listeners. I'm testing on localhost so obviously I don't experience any lag like "in the wild" but the bug doesn't seem to happen at all.

[2016-08-04 18:41] sgdc3 commented on #874
@games647 I know, but we also support bukkit and spigot :/

[2016-08-04 18:42] sgdc3 commented on #874
@games647 and the scoreboard commit seems to break many plugins, look at latest issues in paper's tracker

[2016-08-04 19:39] games647 commented on #874
I just think that we would have to the same thing as paper.

[2016-08-04 20:11] ljacqu commented on #872
If someone could kindly review the changes to plugin.yml, that would be swell. I'm not sure what I'm doing :P
@sgdc3 @Sitmobedaf

[2016-08-04 20:52] #637 closed

[2016-08-04 20:53] ljacqu commented on #821
Since there's no reply by @NewBestX , assigning to me to test if i can reproduce this tomorrow

[2016-08-04 20:55] ljacqu commented on #536
@Eufranio, sorry for letting this issue die. Is there any update to this?

[2016-08-04 22:22] Sitmobedaf commented on #872
Checked with b-1263, problem si not solved :(

[2016-08-04 23:34] sgdc3 commented on #872
@ljacqu It seems that the default: value is ignored

[2016-08-05 06:33] ljacqu commented on #795
What needs to be done for this issue?

[2016-08-05 06:35] Mormaii commented on #855
Which one? All of the latest ones are giving errors on jenkins

[2016-08-05 06:45] ljacqu commented on #855
Build n. 1263 is fine to use :) It's yellow because one test failed, and it only failed because the build was slower than usual. It doesn't affect the plugin code itself

[2016-08-05 07:16] Mormaii commented on #855
It works now! It doesn't fully load and it teleports to the spawn correctly and in a fast way.

[2016-08-05 09:37] ljacqu commented on #872
@Sitmobedaf So you're not using any permission manager?

[2016-08-05 10:02] Sitmobedaf commented on #872
It does not matter. Plugin must listen permissions data in plugin.yml. So it must be, as well, you know what I mean? Why a whole team of developers can not produce a plugin order for the week? Maybe you already will take up the matter? I'm tired of the same batter.

[2016-08-05 10:41] ljacqu commented on #872
You know what, since you're always so unpleasant, from now on you can send pull requests to fix issues. Don't bother creating issues without a PR. It's unfortunate that you've learned _nothing_ from being banned from Gitter.

[2016-08-05 12:10] sgdc3 commented on #855
;)

[2016-08-05 12:10] #855 closed

[2016-08-05 12:56] sgdc3 commented on #855
@ljacqu We need a new tag policy xD

[2016-08-05 16:10] ljacqu commented on #800
@DNx5, this can be closed in my opinion; we have some open points about PlayerData as other issues (bugs). Please re-open if I'm mistaken.

[2016-08-05 16:10] #800 closed

[2016-08-05 16:17] ljacqu commented on #842
Thanks for the kind words, @atesin; if this should occur again please leave a comment & reopen, or create a new issue. :) :tangerine:

[2016-08-05 16:17] #842 closed

[2016-08-05 16:21] ljacqu commented on #682
Hi @CrazyPHP, we got a similar report at #855, which has been verified successfully by the reporter. Could we ask you to check as well? http://ci.xephi.fr/job/AuthMeReloaded/ Build nr. 1263 or above. Thanks

[2016-08-05 16:30] ljacqu commented on #675
`OnJoinVerifier.checkPlayerCountry` checks for the "enable protection" setting -> this can be closed, all open ends are finished.

[2016-08-05 16:30] #675 closed

[2016-08-05 16:33] ljacqu commented on #610
@sgdc3 @Gnat008 I think this is finished, right? Or are we still missing some logic from https://github.com/AuthMe/AuthMeBungee-Deprecated?

[2016-08-05 17:40] ljacqu commented on #805
@DNx5 @sgdc3 @games647

I tried to make a simple, top-level description of the injector at https://github.com/AuthMe/AuthMeReloaded/wiki/Dependency-Injection
If you have any question at all, please comment/reopen. It's important to understand at least how `@Injection` can be used and how it will behave.

[2016-08-05 17:40] #805 closed

[2016-08-05 17:50] sgdc3 commented on #610
Nope, we need to re-create the entire bungee communication system.

[2016-08-05 19:28] #337 closed

[2016-08-05 21:05] ljacqu commented on #887
This took longer than expected because I struggled with H2. Looks like an integration test for the migrations isn't going to happen... :cactus:
I had a quick look at the codebase and didn't see int used for lastlogin throughout the history. This is still critical enough that it warrants a migration to be implemented.
I'll take a second look tomorrow before closing this issue.

[2016-08-06 11:32] ljacqu commented on #887
Closing without adding migration for SQLite; seems like there it's always been a bigint. Please open a new issue if someone does have a lastlogin column in SQLite that needs migrating.

[2016-08-06 11:32] #887 closed

[2016-08-06 18:52] Eufranio commented on #536
I fixed switching to FastLogin, sorry :smile:

[2016-08-06 20:26] ljacqu commented on #536
Thanks for the answer, then I suggest to close this because no one else has reported such a thing or commented here recently. Further up in this thread someone suggests that this has been fixed. If someone still has this with the latest dev build, please comment here or open a new issue :violin:

[2016-08-06 20:26] #536 closed

[2016-08-07 00:46] sgdc3 commented on #885
@hsombini does it work?

[2016-08-07 00:50] ReaperAngels opened #888 "unlogged user using commands"
As per chat. Guy came on, said we have a security hole. Then proceeded to come online as my alt (OP) and wandering through the servers as he pleases. Even going as far as using /msg, /server, and /g (global.
all the info is in the pastebin
http://pastebin.com/RKijyS34

This scared me ever so slightly. He should not be able to do all that. At all. As per Gabriele's instructions, I will use the late

[2016-08-07 07:39] ljacqu opened #889 "Hooking into bungeecord on /authme reload fails"
If your config.yml has `bungeecord: false` and you change it to `true` before doing an `/authme reload`, the plugin will start generating exceptions:

[code]

This is nothing major as it only happens on in-game reload.

[2016-08-07 07:41] ljacqu commented on #888
Does this still happen with the latest dev build? I tested with your config file and didn't have the described issue (but my local test setup has way less plugins, of course...).

One thing about the allowCommands option, I'm pretty sure it needs to have a starting */* for each command:
[code]
I mean if it works on your side that's fine. I had to adjust it to be able to register/login.

[2016-08-07 10:08] sgdc3 commented on #833
[code]

[2016-08-07 10:09] sgdc3 commented on #583
See #833

[2016-08-07 10:09] #583 closed

[2016-08-07 10:09] sgdc3 commented on #833
@NewBestX @rErEaT

[2016-08-07 10:34] sgdc3 commented on #889
@ljacqu We should merge the listener with the service maybe, @ljacqu

[2016-08-07 10:35] sgdc3 commented on #889
We can't reload the bungee hook because the channel registration is done in the onEnable method...

[2016-08-07 11:59] Pijanista commented on #888
What was his IP?
127.0.0.1?

Make sure you have "IPwhitelist" plugin and put in config only bungee IP so they can join from bungee IP.

[2016-08-07 12:47] ReaperAngels commented on #888
Thank you for all the comments. I'm curious. I really hope you trying to take the piss out of me, I really do. Because if you are not, then there is not much hope. Bungee is the only server open to the internet. The servers run on localhost. So there is no possible way that anybody can not join through bungee. The config. Generated by your plugin, edited by me. If it doesn't have a "/" infront, I

[2016-08-07 13:08] ljacqu commented on #888
Please tell us how we insulted you.

[2016-08-07 13:20] ReaperAngels commented on #888
Pijanista commented an hour ago
What was his IP?
127.0.0.1?

Make sure you have "IPwhitelist" plugin and put in config only bungee IP so they can join from bungee IP.
Implying that this is all my fault. And you. basically saying that it's the plugins.

And it starts. Again.

[2016-08-07 13:42] ljacqu commented on #888
But... I literally couldn't reproduce it. I didn't say it's your fault. It's interesting for me to post my finding because it means that this is a bug that either happens in conjunction with other plugins, or it's a version-sensitive occurrence.

That's the first step in bug fixing: determining _why_ this is happening so we know _where_ we can fix it. Sometimes it's not obvious, not even for us. I

[2016-08-07 14:03] ReaperAngels commented on #888
I could say something to that.... I formally invite you to join my server. mc.tiganetworks.co.za Let the debug start.

[2016-08-07 14:15] ljacqu commented on #888
I joined as sflotzdru

[2016-08-07 14:53] ljacqu commented on #888
@ReaperAngels kindly showed me around and we had a look at the issue. Nothing in the permissions config allows `/msg` for non-logged in players. This basically narrows it down only to Bungeecord, which I can't do... (hi @sgdc3 and @Gnat008 :wink:)
Maybe also to specify (this was unclear to me before going on the server), unregistered users can't chat or perform commands but once you're registered

[2016-08-07 14:56] ReaperAngels commented on #888
Bungee config as requested
[bungee.txt](https://github.com/Xephi/AuthMeReloaded/files/405552/bungee.txt)

[2016-08-07 14:58] ljacqu commented on #889
So basically the following code needs moving
[code]

from the AuthMe class into `BungeeService` or `BungeeCordMessage` and `Reloadable` has to be implemented.

[2016-08-07 15:44] sgdc3 commented on #889
What about `injector.getSingleton(BungeeCordMessage.class` can i move it to the service?

[2016-08-07 15:51] sgdc3 commented on #888
Ok, the issue is really simple. AuthMe can't block bungee commands and can't remove bungee permissions

[2016-08-07 15:52] sgdc3 commented on #888
@ljacqu

[2016-08-07 17:15] ljacqu commented on #889
I would suggest to replace it as an `@Inject` field instead:
[code]
That makes it just a normal dependency of the service class.

[2016-08-07 18:14] Twonox commented on #885
I have the same problem but only after /reload.
When I relog I can move (but with a speed effect), and after 3 seconds I can't move again. I must do /speed 1 to can walk again.
I don't receive error message and I use the latest build with `removeSpeed: true`

[2016-08-07 18:16] Twonox commented on #881
@DNx5 ?

[2016-08-07 19:47] sgdc3 commented on #889
Where should i register the bungeeCordMessage class?

[2016-08-07 20:40] ljacqu commented on #889
Probably inside the reload command with a boolean field that keeps track whether the channel has been already registered, i.e. something like:

[code]

[2016-08-07 21:38] sgdc3 commented on #874
@Sitmobedaf ???

[2016-08-07 21:39] sgdc3 commented on #889
Look at my commit, i'm sure i'm missing the Injector initialization

[2016-08-08 03:38] jomjonejame opened #890 "[TEMP-FIXED] Some players are unable to walk after login"
Players can't moving in Authhme DevBuild #1271
Sample on video : https://www.youtube.com/watch?v=h1qH-hZM_-Y

But version "AuthMe 5.2 BETA 3" can it
Sample on video : https://www.youtube.com/watch?v=x24jj5fVVgg

and last version #1272 found error in console
logs file : http://pastebin.com/Ya52F8jp

[2016-08-08 10:07] Sitmobedaf opened #891 "ChestShop error spam"
http://pastebin.com/f90F1ddg

[2016-08-08 10:15] callthenerdy opened #892 "Auth Me Cracker"
Hi, I've recently started having problems with hackers. They use a hack which cracks the Auth Me passwords and gives them access to the admin accounts. This is the client they use to do it: https://www.wurst-client.tk/wiki/Mods/Force_OP_(AuthMeCracker)/

I hope you work out something and give us a release that can block this client. Thank you.

[2016-08-08 12:34] Twonox commented on #891
Where did you get this version ?

[2016-08-08 12:35] Twonox commented on #890
Your video are private.

[2016-08-08 12:36] Twonox commented on #892
The hackers hacked you ?
It works ?

[2016-08-08 12:39] sgdc3 commented on #892
@callthenerdy Please enable the captcha and kickOnWrongPassword features and use stronger passwords...

[2016-08-08 12:39] #892 closed

[2016-08-08 12:40] sgdc3 commented on #890
@jomjonejame Could you post your config?

[2016-08-08 12:44] sgdc3 commented on #891
@Sitmobedaf ChestShop is no longer maintained, check some forks that uses latest version of our API

[2016-08-08 12:44] #891 closed

[2016-08-08 13:25] jomjonejame commented on #890
@Twonox  Sorry ... i'm enabled to public. plz try agin

[2016-08-08 13:26] jomjonejame commented on #890
@sgdc3  Config file : http://pastebin.com/mWfsc3Re

[2016-08-08 13:49] sgdc3 commented on #890
@jomjonejame I removed the file as is contains your password, please remove it and post it again

[2016-08-08 13:57] jomjonejame commented on #890
@sgdc3  Thank you
http://pastebin.com/JbxhpqKQ

[2016-08-08 14:14] Donitovan opened #893 "AUTHME cauldron version could not load"
Hello, authme worked perfectly but at present impossible to load him! Here are logs: http://pastebin.com/hcRk45iQ

List of plugins : http://pastebin.com/wDREDcBd

[2016-08-08 14:41] sgdc3 commented on #893
@Donitovan This is an issue of latest build, use the previous build.

[2016-08-08 14:41] #893 closed

[2016-08-08 17:37] ljacqu commented on #892
See also #401 :)

[2016-08-08 17:48] Twonox commented on #881
@ljacqu Hey, it's not possible for you to fix that ? I wouldn't wait 1 month (lol) ... please :(

[2016-08-08 17:55] Twonox commented on #890
You can set `removeSpeed: false` to fix 'no walk' problem.
@sgdc3 You can't fix that ? If we would use removeSpeed...

[2016-08-08 17:56] Twonox commented on #868
It's not very usefull :/
But why not ;)

[2016-08-08 18:06] Twonox opened #894 "delayJoinMessage"
`delayJoinMessage: true` doesn't work
But `removeUnloggedLeaveMessage: true` works

[2016-08-08 18:33] sgdc3 commented on #894
Please explain the issue :/

[2016-08-08 19:15] sgdc3 commented on #890
Please change the name to something more related to the issue

[2016-08-08 19:37] tuanjr commented on #890
i'm confirm this issues, but with my server, not all player can't move, only some player can't move after login.
My authme version: build 1271
server: 1.9.2

[2016-08-08 19:51] Twonox commented on #894
When a player join the server there is directly join message and no after /login, but `delayJoinMessage` is set `true`

[2016-08-08 19:57] ljacqu commented on #840
Hi @vanthoi, the log is no longer available on pastebin and the title doesn't give us any details into the issue. Could you please help us?

[2016-08-08 20:00] #831 closed

[2016-08-08 20:00] Twonox commented on #712
WTF @ljacqu & @Xephi sont français ?!

[2016-08-08 20:02] ljacqu commented on #385
Before releasing the final version:
- check single session
- check that email sending works

[2016-08-08 20:15] sgdc3 commented on #712
@ljacqu only speaks french, @Xephi is french ;)

[2016-08-08 20:22] Twonox commented on #712
Wow I didn't expect that xD
So, can I do my reports in french to better explain the problems ?

[2016-08-08 20:26] Twonox commented on #890
#783 Hmm ? What had you do to break it? xD

[2016-08-08 20:28] sgdc3 commented on #712
@Twonox no pls xD Only if really needed

[2016-08-08 20:28] Twonox commented on #712
x) okay okay, np

[2016-08-08 20:29] Twonox commented on #712
But it's not very easy to write in english for me :/ x)

[2016-08-08 20:29] sgdc3 commented on #890
@Twonox idk

[2016-08-08 20:30] sgdc3 commented on #712
same for me :)

[2016-08-08 20:30] Twonox commented on #890
I will search the build that cause this problem :)

[2016-08-08 20:32] Twonox commented on #712
Hmm not more that me, I think :p
What is your Country ?

[2016-08-08 20:32] sgdc3 commented on #712
Italy ;)

[2016-08-08 20:32] sgdc3 commented on #890
@Twonox Thank you :D

[2016-08-08 20:35] ljacqu commented on #712
@Twonox I'm Swiss btw ;)

[2016-08-08 20:38] Twonox commented on #712
Mais donc tu sais assez bien écrire/comprendre le français ?

[2016-08-08 20:39] sgdc3 commented on #894
@Twonox Could you post your Essentials config please?

[2016-08-08 20:39] ljacqu commented on #806
Now a task is run every 5 minutes and calls `performCleanup()` on all implementors of `HasCleanup`. If the interval should be longer please adjust it.
If persistent sessions are still desired, please create another issue.

[2016-08-08 20:39] #806 closed

[2016-08-08 20:42] ljacqu commented on #712
Oui, j'ai grandi et j'habite en Suisse alémanique mais ma famille vient de la partie francophone ;)

[2016-08-08 20:48] ljacqu commented on #889
verified in joint session with @sgdc3

[2016-08-08 20:48] #889 closed

[2016-08-08 20:50] Twonox commented on #712
Bon, comme ça au moins je saurais faire un rapport en français si jamais ça devient trop compliqué de le faire en anglais xD

[2016-08-08 20:55] Twonox commented on #890
Finded, Build 1183: http://ci.xephi.fr/job/AuthMeReloaded/1183

[2016-08-08 20:56] Twonox commented on #894
`allow-silent-join-quit: true`
It's the config that interest you ?

[2016-08-08 20:56] sgdc3 commented on #894
nope join and leave messages

[2016-08-08 20:57] Twonox commented on #894
`custom-join-message: "&7[&a+&7] &2{USERNAME}"`

`custom-quit-message: "&7[&c-&7] &4{USERNAME}"`

[2016-08-08 20:59] Twonox commented on #890
Build 1181 doesn't have this problem.

[2016-08-08 21:01] sgdc3 commented on #890
1182?

[2016-08-08 21:02] Twonox commented on #890
There is no change in this build

[2016-08-08 21:03] sgdc3 commented on #890
right, thank you

[2016-08-08 21:04] Twonox commented on #890
#592

[2016-08-08 21:05] sgdc3 commented on #894
That's the issue, essentials is bossy and don't allow us to remove the join message, you need to use another plugin to change the join and leave messages. Now put "none" to both messages

[2016-08-08 21:05] #894 closed

[2016-08-08 21:05] Twonox commented on #894
;(

[2016-08-08 22:42] Jeje2201 commented on #712
Je pense que vous pouvez aller débatre en privé, ca spam mes mails votre tchat x)

English translation : I think you 2 can speak in private chat, it spam my mail x)

[2016-08-09 00:02] Twonox commented on #712
Désolé ^^' mais on en a fini donc tkt pas xD

[2016-08-09 00:22] xknat commented on #868
thanks!

[2016-08-09 00:38] sgdc3 commented on #868
5.3 will be the translation update xD

[2016-08-09 00:55] jomjonejame commented on #890
@tuanjr Yes correct

[2016-08-09 00:57] jomjonejame commented on #890
@sgdc3 , @Twonox This problem has been fixed yet?

[2016-08-09 01:13] sgdc3 commented on #890
Not yet but it's our priority

[2016-08-09 04:25] vanthoi commented on #840
Ok it fixed after update new version.  Thank.

[2016-08-09 05:46] tuanjr commented on #890
i have more information about this issues:
i have 2 lobby, with some player, they can't walk in both 2 lobby, but some player, they only can't walk in 1 lobby, not all.

[2016-08-09 07:57] Twonox commented on #890
@sgdc3 You can't remove Dnx's change ? His "fix" for fly speed break your right fix.

[2016-08-09 09:43] sintaxcz commented on #890
Hello i have same problem on my server (Thermos 1.7.10-b57) premium players dont have problem but 90% of cracked players have this issue

[2016-08-09 11:27] orkun1675 opened #895 "Kick player if cannot connect to bungee server"
There is an option to send a player to a bungee server after login in the config. It would be nice if we could kick the player with a message if this server is offline. Not a priority but would be a nice enhancement.

New Config Options
`Hooks.kickIfCannotSend = true`
New Messages YML
`cannot_connect_to_server: 'The main server is currently down right now. Try again later.'`

The server could be p

[2016-08-09 11:40] Twonox commented on #839
@sgdc3 @ljacqu
You can add this sytem to `maxLoginPerIp` but it's necessary to store the first loged nick with the IP.

[2016-08-09 11:43] Twonox commented on #895
Mhmm, it seems be good idea.

[2016-08-09 12:59] sgdc3 commented on #895
Too complex, if you want, you can write your own plugin that move the player after the authentication using our API.

[2016-08-09 13:00] #895 closed

[2016-08-09 13:02] sgdc3 commented on #890
@Twonox DNx5's commit fixed other huge issues, we need to find out the cause. Atm you should turn off the removeSpeed feature.

[2016-08-09 13:02] #840 closed

[2016-08-09 13:40] Twonox commented on #890
@sgdc3, @ljacqu had removed your code.

[2016-08-09 14:03] Twonox commented on #890
@jomjonejame

( you can remove `HideTablistBeforeLogin` from your config (if you use latest build) because it's removed from Authme, or set `false` to have no issue with it (is you use beta 3))

Could you test Build 1183 and 1181 please ? (With `removeSpeed: true`)
http://ci.xephi.fr/job/AuthMeReloaded/1183/
http://ci.xephi.fr/job/AuthMeReloaded/1181/

[2016-08-09 14:15] sintaxcz commented on #890
turn off remove speed do nothing on builds 1183+ with Thermos 1.7.10 b57 tested with 3 cracked players

[2016-08-09 14:34] sgdc3 commented on #890
@Twonox He moved the code, it's still there. The issue is about the cache

[2016-08-09 16:05] sgdc3 commented on #890
Should have been temp-fixed. The issue is that if the player moves while he is joining the server our listener set his speed to 0, before our cache saves the speed.

[2016-08-09 16:06] sgdc3 commented on #890
@Twonox Does it work now?

[2016-08-09 16:20] rErEaT commented on #664
okay, thanks :D

[2016-08-09 16:42] Twonox commented on #890
Yes but `removeSpeed: false` doesn't work

[2016-08-09 16:50] sgdc3 commented on #890
@Twonox That because the players have speed 0 in the world save, keep it enabled and everyone will get the speed back on login

[2016-08-09 17:00] Twonox commented on #890
@jomjonejame @sintaxcz @tuanjr
Could you also test latest build ?

[2016-08-09 17:26] rErEaT commented on #890
what happens if I write this?

    # Force these commands after /login, without any '/', use %p to replace with player name
    forceCommands: []
    # Force these commands after /login as service console, without any '/'. Use %p to replace with player name
    forceCommandsAsConsole: speed walk 1 %p, speed fly 1 %p
    # Force these commands after /register, without any '/', use %p to replace wit

[2016-08-09 17:30] sgdc3 commented on #890
1 isn't the default speed if i remember well

[2016-08-09 17:33] rErEaT commented on #890
but @sgdc3 it should work?
so is it good? "forceRegisterCommandsAsConsole: speed walk 1 %p, speed fly 1 %p"
hope will run these commands

[2016-08-09 17:42] sgdc3 commented on #890
yeah it works

[2016-08-09 17:42] sgdc3 commented on #890
but the easiest fix is to keep removeSpeed to true

[2016-08-09 17:43] sgdc3 commented on #890
with latest build

[2016-08-09 17:43] rErEaT commented on #890
oh okay, but the jenkins says its unstable :S

[2016-08-09 17:43] sgdc3 commented on #890
wait, i'm pushing a stable build ;)

[2016-08-09 17:46] rErEaT commented on #890
by the way I think the default speed is 1 :)

[2016-08-09 17:48] sgdc3 commented on #890
for essentials, at code level the default speed is 2 :)

[2016-08-09 17:49] rErEaT commented on #890
oh! :D

[2016-08-09 18:31] sgdc3 commented on #540
It seems fixed!

[2016-08-09 18:51] tuanjr commented on #890
I'm just try latest build 1282, issues still not fixed!

[2016-08-09 19:15] Twonox commented on #890
Could you test Build 1183 and 1181 please ? (With removeSpeed: true)
http://ci.xephi.fr/job/AuthMeReloaded/1183/
http://ci.xephi.fr/job/AuthMeReloaded/1181/

[2016-08-09 19:20] tuanjr commented on #890
@Twonox
Just test:
1181 work fine, player can walk
1183 player CAN'T walk

[2016-08-09 19:22] sgdc3 commented on #890
@tuanjr You must use 1282 with removeSpeed: true

[2016-08-09 19:24] tuanjr commented on #890
it is default, i never change it.

[2016-08-10 15:55] Twonox opened #896 "AntiBot configuration cannot be changed with /authme reload"
When we change value of `enableAntiBot` then reload authme, the value isn't applied. We must reboot the server (or reload?).

`antiBotSensibility` does not work, we can't change sensibility.

[2016-08-11 12:49] friishon commented on #890
the solution is write /logout and then login
i have the same problem, i use mysql and use bungee cord
i have this problem when i change the server

[2016-08-11 14:08] Twonox commented on #890
With latest build ?

[2016-08-11 15:05] friishon commented on #890
that version
http://ci.xephi.fr/job/AuthMeReloaded/1282/

[2016-08-11 16:03] Twonox commented on #890
If you use this build http://ci.xephi.fr/job/AuthMeReloaded/1280/ with `removeSpeed: false` what happens ?

[2016-08-11 16:04] Twonox commented on #890
De you have `removeSpeed: true` with build 1282 ?

[2016-08-11 16:17] friishon commented on #890
yes i have removeSpeed: true
i haven't use de build 1280 yet
i use authme bridge and to solve the problem i put  allowMovement: true and i can move
i only put this opcion on the server survival, skywars and minigames
on lobby have this  allowMovement: false and i can move
sorry about my english, i'm from spain

[2016-08-11 16:48] jomjonejame commented on #890
#1282 Has not been resolved.
now some players has new registered. can't move

[2016-08-11 17:21] hsombini commented on #885
@Twonox do not /reload your production server, just don't

@sgdc3 it's working now, i'll close this issue

[2016-08-11 17:21] #885 closed

[2016-08-11 17:45] tuanjr opened #898 "format code: &n won't work in message_en.yml"
when use &n code in message_en.yml, it make message to new line and reset message color and format to default. But §n work fine.

[2016-08-11 19:12] ljacqu commented on #898
That's correct, we replace `&n` in the code to a new line. We should remove it.

[2016-08-11 19:25] Twonox commented on #890
If you use Build 1280 with `removeSpeed: false` there is less problem or no ?

[2016-08-11 19:26] Twonox commented on #898
Change it to \n

[2016-08-11 20:25] sgdc3 commented on #898
The actual Message class doesn't make sense! We have many methods doing the same thing in different ways

[2016-08-11 20:53] sgdc3 commented on #898
Ok we need to use something like %nl%

[2016-08-12 16:24] friishon commented on #890
i have the same problem using Build 1280 and removeSpeed: false
the problem are in sqlite and mysql

[2016-08-12 17:59] SirFaizdat commented on #837
https://forums.spongepowered.org/t/authme-reloaded-official-thread/1825

[2016-08-12 18:43] ljacqu commented on #837
For anyone: if you want to make Sponge happen, what we need is development capacity. If someone is willing to _lead_ the implementation of Sponge support for AuthMe, join our Gitter and we'll get the ball rolling... :)

[2016-08-13 00:30] hsombini opened #899 "Email confirmation or release accounts registered by mail and have not logged in"
Hello guys, have you ever considered a register system that player must confirm his account by doing something or the account would be deleted so other player can register it?

Maybe just send the password through mail like the plugin already do, but if the player doesn't login in X amount of hours, the account will be deleted.

I feel that registering by email, many accounts would be will be regi

[2016-08-13 09:38] eero619 opened #900 "sweden banned config doesnt show it as banned"
http://hastebin.com/nokuwiporu.vhdl

there is the config and it does not say any countries banned but sweden is banned.

[2016-08-13 09:41] ljacqu commented on #900
Let's make sure AuthMe is causing this first.
- What's the message a user gets?
- Does this problem go away when AuthMe is disabled?

[2016-08-13 09:54] DNx5 commented on #881
try to disable group switch feature for temporary fix.

[2016-08-13 11:11] TigerHix opened #901 "(Seemingly) deadlock with AuthMe 5.2-BETA3-b1134"
Log: http://pastebin.com/QF4rgtDr

Quite lot of players (not spambots, 2-3 players/second) joined the server before the server crashed.

[2016-08-13 11:24] rErEaT commented on #890
If you are using Essentials, I will sure solve the problem.

[2016-08-13 12:15] Twonox commented on #881
You mean /rankup ? I can't... my server is based to rankup. But I have added a delay between rankup, if a player rankup to the next rank he must wait the daily reboot to still rankup.

[2016-08-13 12:25] sgdc3 commented on #901
@TigerHix Beta3 is outdated, please update to latest dev build and tell us if it happens again.

[2016-08-13 12:25] #901 closed

[2016-08-13 13:16] ljacqu commented on #901
You can find the latest dev builds at http://ci.xephi.fr/job/AuthMeReloaded/

[2016-08-13 13:17] ljacqu commented on #899
Let's try not to shove everything in 5.2 please

[2016-08-13 13:30] Twonox commented on #900
I have tested and I have the same problem (but I don't know if sweden is banned or no).
We must put anything in countries list to it works:
[code]

If we put `[]` it doesn't work.

[2016-08-13 13:34] Twonox commented on #898
%nl% and &n works ty

[2016-08-13 13:46] #898 closed

[2016-08-13 13:47] sgdc3 commented on #900
@ljacqu very strange O_o

[2016-08-13 13:54] Twonox commented on #846
If saveQuiteLocation is set false it's not normal if the spawn location is not saved ?
I have also tested with saveQuitLocation true and false but nothing change, it's not normal, is it ?

[2016-08-13 14:25] Twonox commented on #846
If you remove Authme there is same problem ?

[2016-08-13 14:38] ljacqu commented on #900
Weird, just tried with config posted by OP and can't reproduce. @eero619 What do you get when you do `/authme version`?
@Twonox are you sure you didn't mean `countriesBlacklist`? If `countries` has some "impossible" value I'd expect no one be able to join anymore (confirmed behavior locally).

[2016-08-13 15:01] Twonox commented on #900
I mean `countries`, I'm sure.
If `enableProtection: true` with `countries: []`, no banned countries.

[2016-08-13 15:06] tuanjr opened #902 "what is this: "LimboPlayer is null for...""
some player show this message:
[code]
what is this? is this error?

[2016-08-13 15:08] ljacqu commented on #900
Oh, I understood you the wrong way around. It makes sense like this.

[2016-08-13 15:14] Twonox commented on #900
But I don't know why Sweden is banned.

[2016-08-13 15:17] ljacqu commented on #902
#867 is the background to this (which references yet another issue). Is there anything you can tell us about this hunghan player? Is it normal the he logged in twice?
Does this player come from Bungeecord? Was it a new player?

[2016-08-13 15:19] ljacqu commented on #875
Closing in favor of #890. The other issue is newer but let's mark this one as duplicate because #890 has commits referencing it :pear:

[2016-08-13 15:19] #875 closed

[2016-08-13 15:22] tuanjr commented on #902
1. Come from bungeecord? yes, but in config, i'm set hook to bungeecord: false
2. new player? you mean this is first join? no
another player:
[code]
and
[code]
and
[code]
and
[code]
etc.

[2016-08-13 15:34] ljacqu commented on #902
OK, then it's definitely a bungeecord issue. Thanks a lot for the info; I'll remove the debug statement so you won't be spammed all the time... :wink: sorry about that!

[2016-08-13 15:34] #902 closed

[2016-08-13 16:52] friishon commented on #890
using that
forceCommandsAsConsole:
- 'speed walk 1 %p'
- 'speed fly 1 %p'
forceRegisterCommandsAsConsole:
- 'speed walk 1 %p'
- 'speed fly 1 %p'
i can't move

[2016-08-13 16:52] eero619 commented on #900
authme version: authmereloaded v5.2-BETA3 build 1134
Friend sent me a picture in the server list it says your country is banned and kicks with same message.
now it cant be the antiproxyplugin bc when i try with proxy it says restart your router with kick.
plugins:
http://prntscr.com/c5a0zk
and it can only be caused by authme bc otherwise why would something look like this:
http://prntscr.com/c5a27

[2016-08-13 16:55] eero619 commented on #900
just making sure evrybody understands i want antibot system to work and i want 0 banned countries i also went into the java file and edited the config to be exactly the same as it is here what i posted so please help me, both configs inside the plugin and also in the folder of the plugin are the same no worries.

[2016-08-13 16:57] eero619 commented on #900
also i did ask my hoster and they said we have 0 banned countries it has to be something with your plugins.

[2016-08-13 17:04] ljacqu commented on #900
Could you update to a newer build? That would be fantastic. We had some issues with countries a while ago, and b1134 is quite a ways back :)
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-08-13 17:06] eero619 commented on #900
ok i will i update when i can

[2016-08-13 17:11] eero619 commented on #900
wich one do i take spigot if i have spigot or what

[2016-08-13 17:15] ljacqu commented on #900
legacy for Minecraft 1.7.10 and Cauldron, otherwise spigot

[2016-08-13 17:54] eero619 commented on #900
il let you ppl know if the build fixed as soon as somebody can tell me that sweden i banned or fine

[2016-08-13 18:24] sgdc3 commented on #902
@ljacqu We need to remove the entire bungeecord integration, it's the main cause of many many bugs

[2016-08-13 18:26] ljacqu commented on #900
Looking forward to hearing back from you, @eero619

[2016-08-13 19:12] Twonox commented on #900
@eero619  If you want only Swedish in your server you must put SE.
[code]

[2016-08-13 19:49] eero619 commented on #900
sorry new issue not sure yet about sweden tough people after logging in sometimes not always cant move at all even deisntalling authme after this occurs doesnt remove the effect pls help !!!!

[2016-08-13 20:22] ljacqu commented on #900
Please use a site like http://hastebin.com to paste configs, the scrolling has become unreal in this thread :P The speed thing is being discussed in #890, see also the comment from rErEaT there to restore speed for now (we're working on a permanent solution).

[2016-08-13 20:39] eero619 commented on #900
ok next time i will, just i fixed it for temporary but i have no clue how to unfreeze people pls tell me that bc they can only move while jumping. pls tell me. and i do have a new config :D here it is:
http://hastebin.com/mexoxajoto.vhdl
i changed alot of things but still cant get ppl to move when they have the freeze or whatever.

[2016-08-13 20:42] ljacqu commented on #900
https://github.com/Xephi/AuthMeReloaded/issues/890#issuecomment-239596517

Any news about Sweden?

[2016-08-13 21:22] eero619 commented on #900
sorry he hasnt been on we will get news soon someday idk i update when its fixed with current config then or otherwise not fixed and config :+1:

[2016-08-13 21:41] ljacqu commented on #900
Thanks; if the issue is still there please reopen this issue, or drop a comment (not sure when Github allows someone to reopen an issue).

[2016-08-13 21:48] sgdc3 commented on #890
@rErEaT @jomjonejame @Twonox Does it work if you set the bungeecord hook setting to false?

[2016-08-13 21:50] rErEaT commented on #890
no.

Sometimes still bug :/

[2016-08-13 22:12] MarkusCZ opened #903 "Permissions problem?"
Okay so i'm a admin on a server... default rank for players that join is 'Starter' but when i de-op and change my pex to starter i cannot do /register,/login, anything... it gives me You dont have permissions for this!. but when i look to my PeX file in permissions.ylm i have authme.player.register in it idk why it doesnt work

[2016-08-14 00:14] Twonox commented on #890
I don't use Bungeecord and I don't have this problem. For me it's fixed with your Temp-Fix.

[2016-08-14 00:40] rErEaT opened #904 "Antibot message"
Can you add a permission to view the antibot's messages?
I dont want to show it for everyone

[2016-08-14 00:50] rErEaT commented on #890
hmm then authme should check the speed, if it 0, authme will restore

[2016-08-14 01:53] sgdc3 commented on #890
it's exactly what i did xD

[2016-08-14 01:54] sgdc3 commented on #890
the only reason the speed is not reatored can be that the limbo cache is null, this is an issue that happens only with the bungeecord hook

[2016-08-14 01:55] rErEaT commented on #890
oh, btw i think u dont check the fly speed, because my moderator reported this :D

[2016-08-14 01:58] sgdc3 commented on #890
i do

[2016-08-14 01:59] sgdc3 commented on #890
look: https://github.com/AuthMe/AuthMeReloaded/commit/efe62beccdaa7ca27ec77314862744d146f9c9ef

[2016-08-14 02:52] Eufranio commented on #846
If i remove AuthMe it works.

[2016-08-14 04:43] DNx5 commented on #890
in the first video, its looks like not speed problem, more like the player is not logged in. the player movement got cancelled.

[2016-08-14 09:19] tuanjr commented on #898
@sgdc3 current, i use \n to enter new line in messages_en.yml, but if you use \n, you must use "", not ''
example:   "this is line 1 \n this is line 2"

[2016-08-14 09:56] Twonox commented on #846
Do you have tested latest dev build ?

[2016-08-14 10:37] tuanjr opened #905 "Authme message print in to console not colored"
As title said, message print in to console not colored,
if in messages_en.yml, message like this: &eLogin > &cWrong password
so, in console, it show like this: §eLogin > §cWrong password

[2016-08-14 11:09] sgdc3 commented on #898
\n is not the right way, please use %nl%

[2016-08-14 11:11] sgdc3 commented on #846
This is the latest build, the 1.7.10 version:
http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-legacy.jar

[2016-08-14 11:13] sgdc3 commented on #905
A translatecolorcode method is missing somewhere...

[2016-08-14 11:23] rErEaT commented on #890
oh then sorry @sgdc3 !

[2016-08-14 11:26] sgdc3 commented on #890
could you record a video with the latest version?

[2016-08-14 12:20] Twonox commented on #903
What is your Authme version ?

[2016-08-14 12:21] Twonox commented on #904
All players can see ?? :O

[2016-08-14 12:22] rErEaT commented on #904
yes

[2016-08-14 12:23] Twonox commented on #904
So it's good idea

[2016-08-14 12:35] rErEaT commented on #904
And btw the other accounts should be messaged only to the staff i think :) or a command to see the players' other accounts

[2016-08-14 14:10] DNx5 commented on #881
@Twonox
set it to true
[code]

[2016-08-14 15:00] MarkusCZ commented on #903
5.2-BETA3-b1134

[2016-08-14 15:32] DNx5 commented on #881
I dont think that would work :laughing:

[2016-08-14 15:54] Twonox commented on #903
Could you test latest build please? Normally it's fixed.
http://ci.xephi.fr/job/AuthMeReloaded/

If you have 1.7 server use AuthMe-5.2-SNAPSHOT-legacy.jar, otherwise AuthMe-5.2-SNAPSHOT-spigot.jar

If you have problem to walk, please see #890 https://github.com/Xephi/AuthMeReloaded/issues/890#issuecomment-239596517

[2016-08-14 16:04] Twonox commented on #881
Doesn't fixed

[2016-08-14 16:14] MarkusCZ commented on #903
Yea but i dont have a problem with a version i have a problem with permission as a admin i can /register login.... but as a starting player i cannot do /register it gives me You dont have permission for that.... even when the authme.* permission is in my PEX file

[2016-08-14 16:35] Twonox commented on #903
Permissions problem is fixed in latest dev build. If you use it your problem will be fixed.

[2016-08-14 17:07] MarkusCZ commented on #903
Okay i donwloaded the latest build switched to starter (/pex user MarkusCZLP group set Starter) and i tried to register what i get is You dont have permission for that!... again.. (authme.register is in PEX folder)

[2016-08-14 17:08] sgdc3 commented on #903
whoops

[2016-08-14 17:41] Twonox commented on #807
You can close this issue, it's fixed now :p

[2016-08-14 17:50] Twonox commented on #903
#872

[2016-08-14 17:59] #807 closed

[2016-08-14 18:00] sgdc3 commented on #903
@MarkusCZ this is #872

[2016-08-14 18:00] sgdc3 commented on #872
Still an issue

[2016-08-14 18:01] sgdc3 commented on #872
#903

[2016-08-14 18:16] Twonox commented on #818
I've tested. After /register I've again my items.

[2016-08-14 18:27] #818 closed

[2016-08-14 18:30] MarkusCZ commented on #903
Where do i find plugin.yml :o

[2016-08-14 18:38] molor commented on #905
Why need color in the console? Why not display it in plain text?

[2016-08-14 18:41] Twonox commented on #807
Same thing for #824

[2016-08-14 18:44] Twonox commented on #833
`removeUnloggedLeaveMessage: true` works

[2016-08-14 18:47] Twonox commented on #825
You can close this issue. There is #890

[2016-08-14 18:48] games647 commented on #905
@molor It makes the console a lot more readable.

[2016-08-14 18:56] Twonox commented on #821
I receive any errors when I do /unregister (in all worlds). I think that's fixed.

[2016-08-14 18:58] #824 closed

[2016-08-14 18:59] #731 closed

[2016-08-14 18:59] sgdc3 commented on #807
@ljacqu don't remove closed issues from milestones please

[2016-08-14 19:00] sgdc3 commented on #821
@Twonox could you post the error?

[2016-08-14 19:02] sgdc3 commented on #905
Can't find the missing method, does anyone else have this issue?

[2016-08-14 19:03] #833 closed

[2016-08-14 19:04] #825 closed

[2016-08-14 19:07] Twonox commented on #787
@BOT-Neil Could you test latest build please?
`HideTablist` feature has been removed because this is the cause of your problem. Normally there is no this problem in latest build.

[2016-08-14 19:09] Twonox commented on #821
I don't receive error messages

[2016-08-14 19:13] Twonox commented on #745
Good idea

[2016-08-14 19:15] sgdc3 commented on #787
I'm almost sure this is fixed

[2016-08-14 19:16] sgdc3 commented on #821
Ah i don't receive any errors ;)

[2016-08-14 19:17] #821 closed

[2016-08-14 19:17] Twonox commented on #821
sorry x)

[2016-08-14 19:17] sgdc3 commented on #745
lol fogot about this

[2016-08-14 19:25] Twonox commented on #733
I don't have this problem in my 1.7.10 server.
So, if `protectInventoryBeforeLogin` is set to `true`, no need to worry about this :p

[2016-08-14 19:31] Twonox commented on #563
One time I could /reload without /login right after. But with latest build I can't.

[2016-08-14 19:35] #733 closed

[2016-08-14 19:37] Twonox commented on #903
There is no problem with GroupManager.

[2016-08-14 20:20] ljacqu commented on #807
@sgdc3 No work was done for this issue, so it goes off the milestone as not to pollute the "changelog"

[2016-08-14 21:02] rErEaT commented on #833
oh sorry :D forget to check it

[2016-08-14 21:17] BOT-Neil commented on #787
@sgdc3 Its not fixed

[2016-08-14 21:18] sgdc3 commented on #787
very strange

[2016-08-14 21:19] aloata commented on #787
I use Version: AuthMeReloaded v5.2-SNAPSHOT (build: 1287) and i think its fixed
Tested it with 4 players and it runs smoothly,no invisible player bug
:D

[2016-08-14 22:58] rErEaT commented on #874
Sure this issue is appear to me also

[2016-08-15 19:11] Eufranio commented on #846
Fixed using the legacy.

[2016-08-15 19:11] #846 closed

[2016-08-16 03:31] friishon commented on #890
i can't move with this build http://ci.xephi.fr/job/AuthMeReloaded/1287/
and the fix now block me, and i have to write /logout and then /login again

[2016-08-16 08:16] sgdc3 commented on #890
does it happen only if you connect via bungee or also on firectly connected servers?

[2016-08-16 11:53] friishon commented on #890
via bungee, but i think the problem is the authme bridge

[2016-08-16 12:37] sgdc3 commented on #890
could you try without it?

[2016-08-16 16:03] eero619 commented on #900
Still sweden is banned config
hastebin link:
http://hastebin.com/qekucavoni.vhdl

[2016-08-16 17:52] Twonox commented on #900
Replace `contries: []` by
    countries:
    - 'SE'

[2016-08-16 18:31] friishon commented on #890
i try and i can't move
the problem i have, is when i change the server
the server said that i already in the server but i haven't iventory and i have to write /logout and then /login password to move

[2016-08-16 18:40] ljacqu commented on #900
@eero619 Please download the JAR (legacy or spigot) from https://github.com/AuthMe/AuthMeReloaded/tree/900-country-protection-debug/samples, and in your config:
[code]
and keep `logConsole: true` as you have it now.

Please don't do what @Twonox suggests—that would _only_ allow Sweden from joining.

[2016-08-16 19:18] SliderKP opened #906 "Account stealing..."
a user of Russian origin, is constantly entering my server , accessing my account and destroying my servers , I did not find errors and as it does, but it makes sense to be using the Authme and entering with my own ...

need an urgent solution ...

versions:
Spigot : 1.8.8
Authme : 5.2 build 1287
AuthmeBungee : 1.6.2

[2016-08-16 19:24] ljacqu commented on #906
And how is he getting into your account? Do you have a log you could share? Is he guessing your password...?

[2016-08-16 19:30] SliderKP commented on #906
that its impossible i'm from argentina, and the stupid user It is possibly a Russian, i change my password and continues joining in, i add a plugin to prevent op users, and he join to my account to destroy my servers,

How is this possible?

my logs are really very large , if you want I can give you anything but is a needle in a haystack

[2016-08-16 19:31] SliderKP commented on #906
also as it is a 5 servers connected by bungee , nose if maybe some bug AuthmeBungee advantage that autologin on a server and change the password to my account and then you can navigate freely.

[2016-08-16 19:36] SliderKP commented on #906
first the " hacker" needs to be a op has to steal it , but can not do anything , one of the servers that before he was destroying , remove all op , and could not destroy it.

[2016-08-16 19:42] ljacqu commented on #906
OK well the more information you can provide to us the better we can analyze what you've experienced. Surely it would possible to find log excerpts where that Russian joins in your name. What's also unclear to me is if this only happened on one of those connected servers.

[2016-08-16 20:10] Twonox commented on #900
@eero619 You have `enableProtection: true` If you won't banned contries, just set it to `false`. If you would antibot, you can use authme's AntiBot or keep `enableProtection: true` but with a whitelist in `countries: []`.

[2016-08-16 20:12] Twonox commented on #900
@ljacqu eero619 want AntiBot but he don't know how `enableProtection` works.

[2016-08-16 20:22] Twonox commented on #906
@SliderKP Do you have Autme in all servers ? If he have the IP of one of your server without authme he can join with your account without /login.

[2016-08-16 20:56] SliderKP commented on #906
yes i use authme with authmebungee in all my servers, and yes i use CoreProtect in one server.

[2016-08-16 21:27] Twonox commented on #906
It's possible to see password trough CoreProtect.
You can disable this in config.yml. I wouldn't say how see exactly here. I can give my skype for more info.

[2016-08-16 21:34] SliderKP commented on #906
ok u can add me to skype?  >>    OverSliderKP

[2016-08-17 01:25] friishon commented on #890
the frist capture is the server: lobby, i haven' problem in this server
![recorte1](https://cloud.githubusercontent.com/assets/19889173/17721318/9e78fa32-6429-11e6-8a83-fc1a17d775e4.PNG)
the second capture is my survival server, but i can't move, and i haven't got the inventory, i have to write /logout
![recorte2](https://cloud.githubusercontent.com/assets/19889173/17721320/9e858c20-6429-11e6-96cd

[2016-08-17 09:42] eero619 commented on #900
hastebin link:
http://hastebin.com/foxaboxoqi.coffee
so umm idk what this is about but i downloaded the spigot one @ljacqu and idk if it checked anything.
Can it be this plugin what causes the banned country: AntiJoinBot - https://dev.bukkit.org/bukkit-plugins/easy-anti-join-bot-proxie/ mabe but im not sure.

and that got me thinking if i disableprotection does antibot authmes one still work ? and

[2016-08-17 11:16] Twonox commented on #900
The cause of your problem is probably Authme, not AntiJoinBot (but, as I remember, anitjoinbut isn't a good protection).
Authme's AntiBot and Authme's ContriesProtection are two different and separate protection against bots.
`enableAntiBot: true` blocks new players to join if there is a lot of new players in 5sec.
`enableProtection: true` ban contries, but you can add whitelisted countries code l

[2016-08-18 12:46] Twonox commented on #881
@DNx5 No news ?

[2016-08-18 15:38] ljacqu opened #907 "Handle permission systems without group support from Vault"
Via #900, SuperPerms (with Vault as intermediary interface) doesn't support groups and issues exceptions. This needs to be handled appropriately.

[code]

[2016-08-18 15:39] ljacqu commented on #787
Thanks for the feedback!

[2016-08-18 15:39] #787 closed

[2016-08-18 15:41] ljacqu commented on #903
@MarkusCZ, `authme.register` is an old permission node, it has been moved to `authme.player.register`. You can find an up-to-date list of permissions at https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/permission_nodes.md

[2016-08-18 17:23] MarkusCZ commented on #903
I  think i gonna make a short video showing my problem :)

[2016-08-18 17:32] MarkusCZ commented on #903
@ljacq  Hello, Thank you so much i found out that my permissions was only authme.(permission)... i fixed it now i gonna try it :)

[2016-08-18 17:44] eero619 commented on #900
sweden is still banned new config:
http://hastebin.com/guxahetudi.vhdl

[2016-08-18 18:11] ljacqu commented on #900
did you really restart with the new config? it's kind of weird that you wouldn't be able to at least disable the country protection... You're using an old build so maybe the best course of action at this point is for us to fix the issue linked above so you can upgrade to a newer build.

[2016-08-18 18:12] ljacqu commented on #903
Excellent, thanks for the update, @MarkusCZ! Please let us know if this issue can be closed.

[2016-08-18 18:20] eero619 commented on #900
Give me the newest build for spigot 1.10
current authme version:
authmereloaded v5.2 snapshot build 1287
help me :D

[2016-08-18 18:33] Twonox commented on #900
AuthMe-5.2-SNAPSHOT-spigot.jar

[2016-08-18 18:57] MarkusCZ commented on #903
FIXED! Thank you guys soo much... you can now close this issue i hope it will help somebody else. :)

[2016-08-18 18:58] eero619 commented on #900
legacy or this https://dev.bukkit.org/bukkit-plugins/authme-reloaded/files/79-auth-me-5-2-beta-3/

[2016-08-18 19:11] ljacqu commented on #900
Please use latest build from http://ci.xephi.fr/job/AuthMeReloaded/, as Twonox posted

[2016-08-18 19:12] ljacqu commented on #903
Thanks for the feedback :) Glad it could be solved like this.

[2016-08-18 19:12] #903 closed

[2016-08-18 23:55] Eufranio opened #908 "[Grave] Fake players not working with AuthMe"
My Server fake players stop working since i added AuthMe. Everything works fine, except the fake players. I run a modded server, fake players are a essential part of mods, we can't run without them. Could you take a look in what is happening?
I'm running a Thermos server, with forge 1614 and that AuthMe Reloaded: https://www.spigotmc.org/resources/authme-reloaded.6269/update?update=98336

[2016-08-19 00:10] sgdc3 commented on #908
do you know the name of the fake players?

[2016-08-19 00:24] Eufranio commented on #908
I saw this: https://github.com/Xephi/AuthMeReloaded/issues/219 and fixed.
But would be cool a option to debug the server fake players

[2016-08-19 00:24] #908 closed

[2016-08-19 05:59] aloata commented on #787
well, i think @BOT-Neil  still having this issue? (based on his last comment)

[2016-08-19 11:50] DNx5 commented on #749
I think the console doesn't support UTF-8

[2016-08-19 11:55] i998979 commented on #749
It should work at least on client side.

[2016-08-19 16:31] #907 closed

[2016-08-19 17:06] ljacqu commented on #832
I do a quick check tomorrow and then it can be closed

[2016-08-20 18:47] ljacqu commented on #900
@eero619 , the issue you experienced with the new version (#907) has been fixed by @DNx5,
if I could ask you again to download the appropriate JAR from https://github.com/AuthMe/AuthMeReloaded/tree/900-country-protection-debug/samples we will see debug output relating to country protection, which would be helpful. Thanks

[2016-08-20 18:50] #832 closed

[2016-08-20 20:09] #736 closed

[2016-08-20 21:41] Eufranio opened #909 "Can't convert from SQLite to MySQL"
I've configured the MySQL in the config, and when i type `/authme convert sqlitetosql` i get that message:
[code]
I really don't know what do, i've already configured MySQL...

[2016-08-20 21:57] sgdc3 commented on #909
You need to change the backend to MYSQL

[2016-08-20 22:10] Eufranio commented on #909
I changed!
`    backend: 'mysql'`

[2016-08-20 22:25] CandyManN commented on #137
Any news so far? I'm really waiting for the Xenforo Integration ^^

[2016-08-20 22:41] sgdc3 commented on #137
@ljacqu could you give this a try? It's a very requested feature

[2016-08-21 03:48] friishon commented on #890
http://ci.xephi.fr/job/AuthMeReloaded/1290/
this version, has the same problem, but now i can´t move in every server
even put
forceCommandsAsConsole:
- 'speed walk 1 %p'
- 'speed fly 1 %p'
forceRegisterCommandsAsConsole:
- 'speed walk 1 %p'
- 'speed fly 1 %p'

the problem is: i have to relogin for walk and have inventory

[2016-08-21 07:24] ljacqu commented on #909
Did you restart after changing the config? `/authme reload` doesn't work to change the database type.

[2016-08-21 07:56] ljacqu commented on #137
I think this is almost done, what still doesn't work is that a user cannot log into the website when he registers via AuthMe [[x](https://github.com/Xephi/AuthMeReloaded/issues/137#issuecomment-170170073)].

If everything else works, we need to know what needs to be written into the database additionally. Unfortunately, as long as no one can tell us what it is and we don't have access to the Xenfo

[2016-08-21 08:38] CandyManN commented on #137
@ljacqu I may help you to access a copy of the Xenforo source, but can we talk privately?

Thank you ^^

[2016-08-21 11:52] Eufranio commented on #909
Yeah, restarted and is working now, thank you! :smile:

[2016-08-21 11:52] #909 closed

[2016-08-21 15:35] eero619 commented on #900
well this sucks the guy blocked me who i was contacted with from sweden anyways i installed the last plugin what you guys told me so i hope its fixed but we will not have a clue until somebody from sweden contacts me. anyways you can close this thread i hope its fixed.

[2016-08-21 22:15] sgdc3 commented on #900
Thank you, if it happens again just poke us ;)

[2016-08-21 22:15] #900 closed

[2016-08-22 23:11] hraphael opened #910 "No TLS email support"
Can you implement for the email recover option a option to enable TLS support? Or how do I configure it?

[2016-08-23 01:45] Sitmobedaf commented on #874
Look this - https://www.spigotmc.org/resources/no-collision.26347/

[2016-08-23 12:02] sgdc3 commented on #874
The issue is that many plugin tries to disable collisions, atm you should use an external plugin as we don't want to create conflicts with plugins that uses scoreboards

[2016-08-23 12:03] sgdc3 commented on #874
This is a Minecraft issue, and it can be fixed only with hacky protocol level stuff that may mass up other plugin features

[2016-08-23 12:03] sgdc3 commented on #874
I hope mojang will fix that in 1.11

[2016-08-23 12:04] sgdc3 commented on #910
It should be enabled by default

[2016-08-23 12:06] rErEaT commented on #874
me too :D

[2016-08-23 12:56] hraphael commented on #910
Because I get a this message in my mail.info
`Aug 23 00:30:08 server02 postfix/smtpd[15727]: connect from unknown[XXX.XXX.XXX.XXX]`

`Aug 23 00:30:08 server02 postfix/smtpd[15727]: SSL_accept error from unknown[XXX.XXX.XXX.XXX]: 0`

`Aug 23 00:30:08 server02 postfix/smtpd[15727]: warning: TLS library problem: error:14094416:SSL routines:SSL3_READ_BYTES:sslv3 alert certificate unknown:s3_pkt.c:1300

[2016-08-24 00:08] Eufranio opened #911 "Web Integration"
Just a quick asking, is there a web system/integration ready for use? Like plug-and-play? I am thinking in switch authentication for web, but i dont have any knowledge.

[2016-08-24 13:24] eero619 commented on #900
i think its fixed.
https://github.com/AuthMe/AuthMeReloaded/tree/900-country-protection-debug/samples
fixed it for me :+1:

proof:
http://prntscr.com/c9t7jv

[2016-08-24 18:23] sgdc3 commented on #900
Ok, now you can use latest build again to remove the debug messages ;)

[2016-08-25 00:19] Kixot14 commented on #745
Little offtop:
Guys, tell me please, why you work on this (AuthMe) project? and did you have any other projects, that you develope ?
You get paid for this ??

[2016-08-25 01:23] sgdc3 commented on #745
No we do this for free in our free time. ;)

[2016-08-25 10:20] Kixot14 opened #912 "AuthMe purge system"
I very need normal purging system on my server. Did someone testing the purge from AuthMe in latestest builds? It works correctly ??
Particular for **PermissionsEx** (_plugins/PermissionsEx/permissions.yml_)
and for new **EssentialsX** (_plugins/Essentials/userdata/UUID.yml_)
And for _world/playerdata/UUID.dat_ ??

And tell me please, this **daysBeforeRemovePlayer** timer counted by date ?
Date, w

[2016-08-25 11:49] sgdc3 commented on #912
if a player is inactive for more than X days the playerdata is removed

[2016-08-25 11:51] sgdc3 commented on #912
If you don't use latest 1.10.2 paper build the purge will fail due to a bug that exist since spigot 1.7.5.

[2016-08-25 12:52] MrFiliper opened #913 "AniBotMod broadcast"
On AniBotMod go on, display broadcast message to chat for all players. Can you change it only for OP or extra permission?

[2016-08-25 13:17] Twonox commented on #913
#904

[2016-08-25 16:06] #913 closed

[2016-08-25 20:24] Kixot14 commented on #912
All purge will fail? Even that purge which responsible for AuthMe accounts ??

[2016-08-26 00:50] sgdc3 commented on #912
every uuid related purge, so pex and ess would fail

[2016-08-26 00:51] sgdc3 commented on #912
Authme is using names so it would purge the internal database correctly

[2016-08-26 01:14] Kixot14 commented on #912
Are you going to fix it ??

[2016-08-26 05:55] Kixot14 commented on #744
Confirm. In AuthMe build 1093 all ok with Max reg/login per IP.

Only one little little inconvenience: placeholder **%reg_names** in message **max_reg** show player nicknames without Caps Lock.

[2016-08-26 11:14] sgdc3 commented on #744
That because authme is case insensitive, we can try to gwt the realname from the database, but i think this is enough.

[2016-08-26 11:15] sgdc3 commented on #912
It's a spigot bug, but i can use a workaround.

[2016-08-26 11:16] sgdc3 commented on #912
Uh i forgot a thing: the bug occurs only if you have bungeecord enabled in the spigot config.

[2016-08-26 11:16] sgdc3 commented on #912
so let me open anotger issue

[2016-08-26 11:17] #912 closed

[2016-08-26 11:22] sgdc3 opened #914 "OfflineMode UUID with Bungee workaround"
I recently found a spigot bug that existed since 1.7.5 that makes the server impossible to calculate offfline uuids when a player is not in game and the bungeecord option is enabled in the spigot configuration. That makes us unable to purge data from other plugins like pex and ess. I sent a PR (already merged) to the papermc project to fix this issue by adding a config option, but every spigot ser

[2016-08-26 11:25] sgdc3 commented on #914
One issue: the uuid calculation is case sensitive, so we need to use the RealName,  not the lowercase one

[2016-08-26 20:09] ljacqu commented on #911
Do you mean like a web interface to talk with the AuthMe database? We don't have an out of the box product but https://github.com/AuthMe/AuthMeReloaded/tree/master/samples/website_integration might offer a basic foundation to go about it :wink:

[2016-08-26 20:15] ljacqu commented on #912
other issue being #914,
don't mind me, just writing a comment to link the issues

[2016-08-26 20:23] Eufranio commented on #911
I mean a ready website for login/registeration, download and install, but thank you by the help xD

[2016-08-26 20:23] #911 closed

[2016-08-27 00:34] sgdc3 commented on #914
this is difficult as we use offlineplayers instead of uuids

[2016-08-27 00:35] sgdc3 commented on #914
We need to drop the usage of offlineplayer

[2016-08-27 02:12] Kixot14 opened #915 "keepCollisionsDisabled feature"
This **keepCollisionsDisabled** feature prevent player from pushing another player when he logged and unlogged ??
Maybe you can extend this feature to prevent players from collision with boat entity for fix this bug with elytra launcher ??  https://www.youtube.com/watch?v=o56VCNISYI8

[2016-08-27 02:15] sgdc3 commented on #915
We can't disable collisions server side due to a Minecraft bug, the only solution is to use plugins like noCollisions and set an allowMovement radius on authme

[2016-08-27 02:17] #915 closed

[2016-08-27 02:18] sgdc3 commented on #915
(NoCheatPlus should block elytra launchers)

[2016-08-27 02:52] Kixot14 commented on #915
In NCP build 985 not! Players be possible to use this bug and fly sometime, and then NPC kick players and it was impossible to relog due to have huge speed.

[2016-08-27 08:16] Kixot14 commented on #914
"We need to drop the usage of offlineplayer"

what do you mean? U wanna implement UUID feature to AuthMe ??

[2016-08-27 09:01] Kixot14 opened #916 "Update `authme.vip` permission description"
**authme.vip** _– Permission node to identify VIP users._

For what need to identify the VIP users ??

[2016-08-27 09:20] sgdc3 commented on #916
If the server is full if someone with this pernission join a random player without this permission is kicked to allow the user

[2016-08-27 09:22] sgdc3 commented on #916
I should adjust the deacription

[2016-08-27 09:26] sgdc3 commented on #915
Always use latest build for 1.10: http://ci.md-5.net/job/NoCheatPlus/

[2016-08-27 09:28] sgdc3 commented on #914
We already use uuids for example with the purge process

[2016-08-27 10:15] ljacqu commented on #910
Could it be that you configured the wrong port? (Via [Server Fault](http://serverfault.com/questions/644085/ssl-accept-error-when-mail-client-connect-to-postfix))

Failing that, what would be interesting is if you used the same parameters in another mail client and saw if it works then. Because to me this looks like a configuration/server issue and not one on AuthMe side, but I'm happy to be prove

[2016-08-27 10:49] Kixot14 opened #917 "AuthMe permission check"
For what need '**permission: EnablePermissionCheck**' ?? Even if this set to false, AuthMe still check for permission. (With Vault, or without Vault... Anyway)

P.S: Message '&4**You don't have permission to use this command!**' is missed in local file

[2016-08-27 11:07] ljacqu commented on #917
In theory AuthMe allows associating a permission group with a player based on his status (unregistered, not logged in, logged in); this is the setting that enables this feature. Only this is a feature that has multiple issues; it's applied inconsistently and the group names aren't configurable. #761 is the task that addresses these issues.

[2016-08-27 11:46] Kixot14 commented on #747
Verified with build 1292! It's ok.

But messages about "U must type /login <pass>", when need to solve captcha, still showing.

[2016-08-27 12:27] Kixot14 opened #918 "enchantment to 'Captcha' and 'Tempban' feature"
Can you reset the **Captcha** and **Tempban** counter after successful login ?

Because now if for example **tempban: maxLoginTries: 5**,
when player 4 times use wrong pwd, and then 1 success, after logout, if playe use wrong pwd one more time, he go to ban (same with captcha...).

[2016-08-27 12:30] Kixot14 commented on #918
And i had this error every time (but only once) after try to join when AuthMe tempban is expire http://pastebin.com/vwHV4U9Q

[2016-08-27 12:55] Bass-Buster opened #919 "AuthMe Plugin issue (Not having the permission to perform commands)"
### What behaviour is observed:
Regular players, the ones that have no OP or the ones taht don't have the "*" permission cannot use authme commands due to "You don't have permission to use this command!". Therefore no possibility to register or login.

### What behaviour is expected:
I expected the plugin to work normally as it usually did.

### Steps/models to reproduce:
All AuthMe commands.

###

[2016-08-27 13:33] ljacqu commented on #919
Hello, if you've updated from an older AuthMe version it's possible that you need to adjust your permission nodes. We used to have things like `authme.login` and now they're along the format of `authme.player.login`. An up-to-date list of permission nodes can be found at https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/permission_nodes.md

[2016-08-27 14:01] Bass-Buster commented on #919
I had the same version of AuthMe installed on the same server with the same plugins and it worked fine. And then it suddenly didn't work. I tried making the group in permissions file - no succes, I tried reinstalling the whole plugin (although it's the same latest version) - no success.
No plugins were installed, deleted or updated between the two periods of "AuthMe works fine" and "AuthMe tells p

[2016-08-27 16:15] Twonox commented on #918
#876

[2016-08-27 16:35] ljacqu commented on #918
For the pastebin error, is this something that can easily be reproduced? If so, could I ask you to open another issue for it describing how to reproduce?

[2016-08-28 04:36] Bass-Buster commented on #919
Fixed. Please someone close the issue.

[2016-08-28 06:23] Kixot14 opened #920 "Remove help message"
Can you add option to config, or permissions (like **- -AuthMe.player.action.help**) for be possible to remove this messages http://prnt.sc/cb9kyl

p.s. this msgs, for **/email**, **/login**, **/changepassword**, **/unregister** and **/captcha** syntax is missed in messages.yml,
but not for **/register** and **/unregister**.  They are related with **usage_reg** and **usage_unreg** msg.

[2016-08-28 06:52] #919 closed

[2016-08-28 07:28] Kixot14 opened #921 "Email recovery system"
I dont know what i do wrong, but i can't set up the email recovery system. I set data of my actual email, and  jonin the server from another minecraft account, then add another actual mail and try to recover pass, but after 5 sec had this error:
_[10:17:16 WARN]: [AuthMe] Failed to send a mail to [qwerty@gmail.com]: [Email Exception]: Sending the email to the following server failed : smtp.gmail.c

[2016-08-28 10:01] ljacqu opened #922 "Add command for player to see his email"
Via @Kixot14 in #921:

[2016-08-28 10:02] ljacqu commented on #921
Did you allow "access for less secure apps" in Gmail? http://stackoverflow.com/a/27815241

[2016-08-28 10:06] ljacqu commented on #920
PS part is #293, as for the permissions, what are you trying to achieve? Hide certain help sections from _certain_ players, or hide some help sections from everyone?

[2016-08-28 10:19] ljacqu commented on #876
Hi @Twonox and @Kixot14, build nr. 1296 or above at http://ci.xephi.fr/job/AuthMeReloaded/ contains two changes for the temporary bans.

#### Group by IP and username
Failed login attempts are kept by IP address and now also grouped by username. This means if I fail to login as "admin" three times and as "ljacqu" four times, but then I can login as "ljacqu", the count for "ljacqu" is reset and so

[2016-08-28 13:50] sgdc3 commented on #921
@Kixot14

[2016-08-28 14:11] Kixot14 commented on #921
w8 a bit

[2016-08-28 14:18] Kixot14 commented on #921
Looks like disable due to i have two-steps verification =)

Now switch off and try again...

[2016-08-28 15:17] Kixot14 commented on #921
Yes, all works fine!
That is cool feature, thank! =)

[2016-08-28 16:28] ljacqu commented on #921
Glad it could be sorted! Thanks for the feedback

[2016-08-28 18:50] ljacqu commented on #906
@SliderKP @Twonox, has this been solved or is there something open on our side that we can do?

[2016-08-28 19:39] Twonox commented on #906
I've tried to help him but he have closed his server :/

[2016-08-28 19:43] Twonox commented on #881
@DNx5 Please help

[2016-08-28 23:26] sgdc3 commented on #881
@Twonox Still happening with latest build?

[2016-08-28 23:26] #906 closed

[2016-08-28 23:27] sgdc3 commented on #918
Closing as duplicate of #876

[2016-08-28 23:27] #918 closed

[2016-08-29 05:50] SliderKP commented on #906
Sorry for the delay , I closed my server temporarily , I found the problem , it was not authme or bungee authme , I prefer not to share the bug anyway , greetings and thanks for your attention !

[2016-08-29 05:50] ljacqu commented on #918
What about timeout for captchas?

[2016-08-29 08:04] Kixot14 opened #923 "Use data purger when issue unregister cmd."
In my server allowed only 1 account per player. I banned players, if they try to walk around this limit and register another account for claim new region or dupe something...

Authme have limit registration per IP feature, and it's cool because not all players know how to use proxy for registration twinks. But if i want to add /unregister command for players, this IP limit becomes not actual becau

[2016-08-29 08:42] Twonox commented on #881
Yes :/

[2016-08-29 09:35] Kixot14 commented on #293
customization maniacs...

I also have this disorder :(

[2016-08-29 09:38] Kixot14 commented on #920
I just try to hide help messages from everyone, but looks like now it's impossible
(sheduled in 5.3?  © #293)

[2016-08-29 09:46] Kixot14 commented on #918
"What about timeout for captchas?"

- Same as tempban:
If **captchaTries**: 3

1.1. /login (wrong)
1.2. /login (wrong)
1.3. /login (success)
... /logout.

2.1. /login (wrong)
= captcha

Counter shuld be reset after success login.

[2016-08-29 10:04] DNx5 commented on #921
wait, the password has changed without confirmation?

[2016-08-29 12:54] Kixot14 opened #924 "Cmd for players be able to link their IP with nickname"
I know, AuthMe have this feature in config, but maybe better will be if players can do this for himself? ...By using toggle command /linkIP [-r] on|off  -- this command linked _current_ IP of player to his nickname. With -r -- linked IP of registration.

But first:
Player must add his E-mail, and...

With linkIP feature **necessarily** need add reverse command:
**/email recoveryIP** -- this sent l

[2016-08-29 12:59] Kixot14 commented on #921
"_wait, the password has changed without confirmation?_"

Yes, i type /email recovery <e-mail>,
then after 5-10 sec get this WARN, about failed to send e-mail.
But my old pwd becomes unactual after this.

[2016-08-29 13:55] sgdc3 commented on #906
@SliderKP Thank you ;)

[2016-08-29 13:56] sgdc3 commented on #921
@DNx5 damn :/

[2016-08-29 13:57] sgdc3 commented on #921
Reopening this until we decide if we should open another issue

[2016-08-29 14:04] Kixot14 opened #925 "UA msg.yml"
Hi! I translated all messages for AuthMe into Ukrainian.
It would be great, if you add this file to your messages collection =))
http://pastebin.com/HVf8Y8xZ

It is 99% correct,
i checked him many times!

[2016-08-29 14:11] Kixot14 commented on #925
Lol. U have labels for everything ?)

[2016-08-29 14:16] sgdc3 commented on #925
@Kixot14 Yep xD

[2016-08-29 14:27] #920 closed

[2016-08-29 14:28] sgdc3 commented on #924
@ljacqu Am i wrong or you already opened an issue for that in the past? :/

[2016-08-29 15:38] ljacqu commented on #925
Reopened: Ukrainian already exists as messages_uk.yml. That is the correct abbreviation for the language so I'd suggest to rename the _ua.yml to _uk.yml.

[2016-08-29 15:38] sgdc3 commented on #925
Whoops xD

[2016-08-29 15:41] ljacqu commented on #924
@sgdc3 Good call—this is #659 :)

[2016-08-29 15:41] #924 closed

[2016-08-29 15:41] #925 closed

[2016-08-29 15:42] ljacqu commented on #921
I think this is OK to close as we have #472, which will tackle this problem. What do you think, @sgdc3?

[2016-08-29 15:43] ljacqu commented on #925
Cheers :)

[2016-08-29 15:47] ljacqu commented on #921
Oh, I misread, I see, email can't be sent but password is still changed of course. I still think it will be solved with #472.

[2016-08-29 16:00] ljacqu commented on #920
Indeed, @Kixot14, this is currently not possible.

[2016-08-29 17:41] hraphael commented on #910
I've tried various ports that were configured but no one worked.

[2016-08-30 03:18] Eufranio opened #926 "[Question] What exactly BungeeCord hook does?"

[2016-08-30 04:52] Kixot14 commented on #925
No, you are not right. Ukrainian country code is UA, not UK!
proof http://prnt.sc/cby5h1
UK is just a abbreviation of United Kingdom.

It's first. And 2-nd, my translation slightly fresher and more correct. But it's up to you =)

[2016-08-30 05:02] Kixot14 commented on #925
Another proof from EN Wiki http://prnt.sc/cbyab8

[2016-08-30 06:02] ljacqu commented on #925
We took your translation, thank you for that.

Since the file is about the Ukrainian language, we take the abbreviation of the language, which is in fact `uk` – https://en.wikipedia.org/wiki/ISO_639-1

[2016-08-30 08:40] ljacqu commented on #87
Open points (via https://github.com/AuthMe/AuthMeReloaded/commit/6a75184ad993de2e87e95523d77d69f072e6ee47)
- what happens when an admin does /authme changepassword with 2FA?
- can a user get the barcode again later, or regenerate it? (Say, he switches cellphones)
- should 2FA be optional (i.e. default is password, but can optionally choose to use 2FA)

[2016-08-30 08:47] ljacqu commented on #404
@luksdlt92 Hi, I haven't seen any activity lately. Would it help if we merged our current master into the nodebb branch? Your branch is 6 months behind so I'd expect a lot of conflicts.

[2016-08-30 08:51] ljacqu commented on #463
@Kixot14, is the main question here solved? I think the wisest way to solve this is to use only Essentials spawn or AuthMe's spawn. The difference between Essentials' newbie spawn and AuthMe's firstspawn is that a player will go to AuthMe's firstspawn for as long as he isn't registered.

[2016-08-30 08:55] #682 closed

[2016-08-30 08:56] games647 commented on #87
I think about setting a new master key, but it would be much better to send an email with a random one.

No the master key should be backed up.

I guess so, because that's what the ticket says.

Yes I agree with you.

[2016-08-30 09:01] ljacqu commented on #795
No answer

[2016-08-30 09:01] #795 closed

[2016-08-30 09:09] ljacqu commented on #848
This has been fixed for a while in the dev builds; should there be an issue please feel free to comment/open again.

[2016-08-30 09:09] #848 closed

[2016-08-30 09:18] ljacqu commented on #910
Hmm, I've checked our code and we really have TLS support. All I can offer with this amount of information is to try with my own webhost to confirm that it works.
It would be interesting to see if send emails works with the same parameters with another program. If it does, issue on our side, otherwise server issue. Do you have a server host you could contact?

[2016-08-30 09:19] #917 closed

[2016-08-30 09:19] #921 closed

[2016-08-30 13:27] ljacqu opened #927 "Integrate ConfigMe into AuthMe"
Replace settings handling with [ConfigMe](https://github.com/AuthMe/ConfigMe)

[2016-08-30 13:53] Kixot14 commented on #925
false

[2016-08-30 13:58] Kixot14 commented on #925
ISO 639-1:**2002**

This codes not up to date.

[2016-08-30 14:18] ljacqu commented on #925
We use language codes. You keep on talking about _country_ codes but we're dealing with languages here. Similar to your "[proof from the EN Wiki](https://github.com/Xephi/AuthMeReloaded/issues/925#issuecomment-243333759)," why don't you go visit the page for the Ukrainian language and see what code is listed there?
https://en.wikipedia.org/wiki/Ukrainian_language

[2016-08-30 14:22] ljacqu commented on #925
While visiting the Ukrainian Wiki page about the Ukrainian language to see if it lists `uk` as abbreviation (it does), I noticed the URL:  [https://**uk**.wikipedia.org/wiki/Українська_мова](https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0_%D0%BC%D0%BE%D0%B2%D0%B0) :wink: Are we done now?

[2016-08-30 14:49] sgdc3 commented on #926
It should sync all the authme instances and reduce the amount of queries to the db, atm it causaes some issues so i'll suggest you to keep it disabled

[2016-08-30 15:36] Eufranio commented on #926
Hmmm, okay. These issues happens with AuthMeBridge too? If not i'll use it

[2016-08-30 15:44] luksdlt92 commented on #404
@ljacq I don't have free time and i'm not interesting right now (also, i don't need it anymore). Sorry :(

[2016-08-30 16:04] sgdc3 commented on #926
This AuthMeBridge version should work fine: http://ci.xephi.fr/job/AuthMeBridge/

[2016-08-30 18:41] Eufranio commented on #926
Thank you! :smile:

[2016-08-30 18:41] #926 closed

[2016-08-30 19:25] Twonox commented on #881
No :/

[2016-08-30 21:10] Kixot14 commented on #925
Perhaps... Perhaps.

But if someone man from Ukraine download AuthMe and will choose ukrainian language, i think he can't find it, if it will be called as _uk_ . Because _ua_ is more familiar.

[2016-08-31 00:03] Sitmobedaf opened #928 "Synchronous Database Approach"
Tired?! Bothered?! How much time you need to understand that you are moving in the wrong direction? You do not get to do it right - so you do not want to continue to do so. Known bugs and their more than 50. You are updating languages as if everything is already working fine. I do not want to troll, and it is not necessary to change the ban, and the truth hurt. My advice, throw this plugin, grasp

[2016-08-31 01:42] sgdc3 commented on #928
@ljacqu xD lol
@Sitmobedaf We'll provide you a sync version of authme, so we'll see who s right. ;)

[2016-08-31 01:47] sgdc3 commented on #928
Anyway, i've unbanned you from gitter, but please keep calm and don't start insulting xD

[2016-08-31 01:49] sgdc3 commented on #928
The main issue with sync approach is the connection management, but as we use hikaricp, connections are ready to use without delays

[2016-08-31 01:50] sgdc3 commented on #928
So I really don't know if async has advantages in our case.

[2016-08-31 01:52] sgdc3 commented on #928
The issue with sync is that we can use only 1 core of the cpu and if the mysql response time is too high it would cause tps drops

[2016-08-31 01:53] sgdc3 commented on #928
I think our issue with async is that we use bukkit's scheduler instead of a custom thread pool

[2016-08-31 01:53] Platinteufel commented on #664
I've never used it, but isn't that possible with the unLoggedinGroup?

[2016-08-31 01:54] sgdc3 commented on #928
A thread pool would allow us to use more  cpu cores and avoid tps drops

[2016-08-31 01:55] sgdc3 commented on #928
What donyou think @ljacqu ?

[2016-08-31 02:02] sgdc3 commented on #928
We need also to keep in mind that hilaricp is already a sortnof thread pool.

[2016-08-31 05:22] ljacqu commented on #928
I'm done dealing with Sitmobedaf. Didn't read.

[2016-08-31 05:25] ljacqu commented on #928
I'd suggest to close this, and when a decent human being wants something like this we could visit the idea.

[2016-08-31 06:14] Sitmobedaf commented on #928
I tried many plugins connecting to MySQL (PermissionsEx, ShoppingCartReloaded, CraftConomy, AdvancedBan, IslandWorld, BedWarsReloaded, SkyWarsReloaded, LogIt, etc...). Now work server with this plugins - mc.sparkgames.ru, delays due to the connection to the MySQL never had. Server with OS Windows Server 2012, MySQL Server - MariaDB on localhost. In asynchronous mode of plug connects to a delay in

[2016-08-31 08:14] ljacqu commented on #928
When does authme teleport players seceral times? I know one corcumstance when it does twice, but that's it

[2016-08-31 08:31] Sitmobedaf commented on #928
If sessions: true (automatic authorization) - player teleport first to spawn, then to last quit location, and do it incorrect. AuthMe does not remember yaw and pitch, player after authorization have y+p=0+0
And I have a few lobby server. AuthMe requires authorization, although session: true (MySQL). In AuthMe 3.1.1 it work fine.

[2016-08-31 14:47] ljacqu commented on #928
That describes the player being teleported twice?

http://www.dictionary.com/browse/several

[2016-08-31 18:51] ljacqu opened #929 "Allow email commands by default only when email recovery is enabled"
From @Platinteufel

 I don't know if it's possible that the players will only have the permission if the recovery system is configured.
Or maybe they'll get a message like "This server is currently not using the email recovery system" when they try to add an email.

My thoughts: I don't particularly like default permissions being dynamic (as this is unexpected behavior) but I very much like the id

[2016-08-31 19:16] ljacqu commented on #872
As tested by @Platinteufel this issue is solved when `Player#hasPermission` is used instead of the `PermissionHandler#hasPermission`. I'm not sure if this is true for each permission plugin, though I would assume this is how Bukkit intended things to work.

[2016-08-31 19:23] sgdc3 commented on #872
@ljacqu Yeah, i can confirm this

[2016-08-31 19:26] ljacqu commented on #872
Thanks, @sgdc3 , I'll submit a PR for review & discussion.

[2016-08-31 20:41] sgdc3 commented on #872
Merged

[2016-08-31 20:41] #872 closed

[2016-09-01 03:17] bob7l commented on #928
@sgdc3 Bukkit's Async Scheduler already uses a thread pool, and HikariCP is simply a utility for keeping a group of connections open and allows for thread-safe access to said connections. So it's perfectly fine to use Bukkit's Async tasks rather then your own thread pool.

Another thing I've noticed is your MySQL table is very bad. No indexes/keys aside from the id. This is based off my current ta

[2016-09-01 04:08] DNx5 commented on #845
Its not get updated to make last location work, because bukkit doesn't allow us to teleport player to the last location on player quit event (pre 1.10.2). The data will removed when player logs in. the problem is if another plugin change the player's state that has been stored into the file while player is not authenticated, it will still same on player next login.
for example, if console OP me wh

[2016-09-01 06:26] ljacqu commented on #928
@bob7l Thanks for the feedback. I'm not sure I understand your first point – we don't want to use one long lived connection (hence the connection pool) and we want to talk to the database asynchronously as much as possible as not to block the main thread, right? Would you have another setup recommendation?

Regarding your second database, could we create another issue with some of your recommendat

[2016-09-01 06:32] ljacqu commented on #845
I need to look at this into more detail to fully analyze – what I could imagine is that we have two or three strategies for dealing with these things and could let the user decide what he wants, assuming we have a data synchronization issue (player object vs. stored PlayerData) we can solve in different equally correct ways.

[2016-09-01 07:00] bob7l commented on #928
Uhh i believe we're mis-understanding eachother. @sgdc3 was talking about using a thread-tool instead of the bukkit-scheduler, so i simply pointed out that the bukkit-scheduler also uses a thread pool for task execution. He also claimed "hilaricp is already a sortnof thread pool." which isn't exactly valid if he means usable execution threads.

And the problem with showing my recommendations is..

[2016-09-01 10:18] sgdc3 commented on #928
The issue with the async scheduler is that we can't control the ammount of running threads. This means that if we get 100 auth requests more than 100 threads are created

[2016-09-01 10:18] sgdc3 commented on #928
@bob7l do you understand me now? :)

[2016-09-01 10:19] sgdc3 commented on #928
basically authme is able to kill the cpu by creating tons of small threads

[2016-09-01 10:31] sgdc3 commented on #928
@bob7l we agree 100% with your ideas about the db, but atm we want to allow users to downgrade if they have issies with latest version

[2016-09-01 10:32] sgdc3 commented on #928
aftwr the 5.2 release we'll drop the old schema probably

[2016-09-01 11:16] Sitmobedaf commented on #928
No need to connect to MuSQL server with every request to the database. Keep in memory database, save it every 3-5 seconds asynchronously.

[2016-09-01 12:18] Azfaloth commented on #799
any progress on this?

[2016-09-01 16:49] DNx5 commented on #928
@Sitmobedaf that's what db connections pool does (HikariCP), it will keep the pool into the configured amount. except for SQLite, we only use single connection. If you have better codes, just send PR to https://github.com/AuthMe/AuthMeReloaded

[2016-09-01 17:03] DNx5 commented on #928
@bob7l we dont want to bring back the Timestamp issue (#542) and huge amount of threads bugs.

[2016-09-01 17:05] DNx5 commented on #905
need to send the message to ConsoleSender, currently we are using Logger for it.

[2016-09-01 18:01] bob7l commented on #928
@sgdc3, i haven't read AuthMe's code yet, but how exactly are you using soo much CPU for basic MySQL transactions? My HawkEye plugin inserts around 200,000 records at a 3 second interval and it hardly bogs down a thread. Maybe link me to the code?

And the amount of threads shouldn't be an issue. I've seen pools with over 1,000 threads in web applications yet they use minimal resources. The thing

[2016-09-02 01:51] Typhome opened #930 "Add captcha to register? Solution for spambot"
We're having problem with spambots that can register and then full spam server chat.
I thought that register with captcha would help to prevent this... IP ban is not helpful here, because it uses proxy IPs (+ dynamic IPs etc).

Picture of spambot doing task: https://i.gyazo.com/ab3a705b350db0144bba369351e03d68.png

[2016-09-02 09:28] sgdc3 commented on #930
Noncheatplus? xD

[2016-09-02 09:30] sgdc3 commented on #930
Captcha on register would annoy players, we can add it but i don't thibk it would be good dor your server.

[2016-09-02 10:42] ljacqu commented on #930
Agree, but on the other hand registering will only be done once per player :)

[2016-09-02 16:16] hraphael commented on #910
It is my own VPS and yes it schould work. Btw I am using port 587 with STARTTLS for auth

[2016-09-02 20:07] ljacqu opened #931 "Document database and check loggedIn column"
Input by @bob7l via #928

--> Create a Wiki page about the database strategy of AuthMe (how we handle missing columns/creation of the table, its limitations (username isn't re-created and find issue with someone using another database engine that had issues with some indices)

Check details - is it available on most standard setups that we can add this parameter when we create the table?

As menti

[2016-09-02 20:08] ljacqu commented on #928
Thank you @bob7l, I created another issue for your previous feedback - #931. As for the synchronous approach, as DNx5 says Sitmobedaf can submit a pull request for his improvements. If someone else cares about this let's create another issue and have a conversation about it

[2016-09-02 20:08] #928 closed

[2016-09-03 11:50] ljacqu opened #932 "[Dev] Extract logic for loading classes of a directory"
I believe we have a handful of tests and tool tasks that scan a directory for its files and then load the classes based on the .java files. It's an inefficient approach – but the point is we have the same logic in a few places, which would be nice to unify as a utility class instead.

[2016-09-03 13:43] Sitmobedaf opened #933 "MySQL to SQLite converter"
Add MySQL to SQLite convert, please.

[2016-09-03 13:49] sgdc3 commented on #933
Atm you can usa external tools ;) We'll add this anyway if requested..

[2016-09-03 20:10] molor opened #935 "Don't send login message instantly."
Hello.

Can you add the option to the config file that sends messages "login_msg" and "reg_msg" to player after the number of seconds specified in the "settings.registration.messageInterval", but not immediately after he join the server?

[2016-09-04 11:24] ljacqu opened #937 "Allow AuthMe to run in sync or async (configurable)"
Via Gitter with @sgdc3—
Add a configuration that will make AuthMe run synchronously instead of asynchronously.

- See changes in the sync branch for what is affected
- Async scheduling usually runs through the BukkitService -> I would expect we only need a few modifications in there (checking an additional setting)
- Note that _some_ things will still have to be in async (e.g. converters), so we n

[2016-09-04 11:27] ljacqu opened #938 "AntiBot: find better implementation for users in time span"
The AntiBot class checks that in the last 5 seconds not more than x players have joined. This is being solved with threads, so a task with a wait time is scheduled to decrease the counter again. Find a better way of doing this without scheduling threads.

[2016-09-04 12:52] ljacqu commented on #933
Available in build nr. 1322 and above, <http://ci.xephi.fr/job/AuthMeReloaded/>, as `/authme convert mysqlToSqlite`. Please close if it's OK, otherwise let us know what is open.

[2016-09-04 14:11] ljacqu commented on #927
Hi @sgdc3, the commits are merged into master. I didn't do anything regarding the relocation of the library in the shaded JAR; could I ask you to take a look?

[2016-09-04 14:33] ljacqu commented on #927
Cheers!

[2016-09-04 14:33] #927 closed

[2016-09-04 15:28] #933 closed

[2016-09-04 15:42] sgdc3 opened #939 "Fix versioneye badge"

[2016-09-04 16:58] #939 closed

[2016-09-05 08:11] Slaand commented on #137
Hello, how it's going?

[2016-09-05 19:14] ljacqu commented on #137
Waiting for feedback from @gabriel3l :)

[2016-09-05 20:15] gabriel3l commented on #137
Sorry, I went on vacation and I'll be back tomorrow.
As soon as I get my hands back on my computer I'll recheck the code ^^

[2016-09-06 06:58] SliderKP opened #941 "Some users can't move Authme+Bungee"
some users can't move in my server "lobby", only can jump, with AuthMe build #1287, Spigot 1.8.8, authmebridge-bungeecord-1.6.2 without errors.

[2016-09-07 07:47] smiggle0404 commented on #941
I have the exact same issue, not sure what to do :(

[2016-09-07 11:39] sgdc3 commented on #941
@SliderKP Try this setup:

AuthMe: https://circleci-tkn.rhcloud.com/api/v1/project/AuthMe/AuthMeReloaded/tree/master/latest/artifacts/AuthMe.jar

AuthMeBridge: http://ci.xephi.fr/job/AuthMeBridge/lastSuccessfulBuild/artifact/authmebridge-authme/target/AuthMeBridge-1.6.2-SNAPSHOT.jar

BungeAuthMeBridge: http://ci.xephi.fr/job/AuthMeBridge/lastSuccessfulBuild/artifact/authmebridge-bungee/target/Bung

[2016-09-07 11:40] sgdc3 commented on #941
enable the authmebridge autologin feature

[2016-09-07 14:36] Platinteufel commented on #938
With the current implementation AntiBot can also enable after a server restart, when all players try to rejoin again. Maybe there should be an option that AntiBot only triggers on unregistered players? I think you don't have to check regular players.
If I get a botattack the probabilty that it's not a unknown player is very low.

[2016-09-07 14:45] ljacqu commented on #938
@Platinteufel this is the intended behavior of AntiBot (only fire if X *unregistered* players are observed). Please open another issue if this is not the case

[2016-09-07 20:52] #932 closed

[2016-09-09 23:32] MithrandirCraft commented on #540
I'm sorry, I can still reproduce this issue on my main server q_q I will do more testing. But I was quite sure this was fixed.

[2016-09-10 00:20] sgdc3 commented on #540
Could you do the test i told you some months ago on gitter?

[2016-09-10 10:09] Platinteufel commented on #540
I'm pretty sure I've tested it two month ago with noTeleport:true and it didn't work for me.

[2016-09-10 13:27] #876 closed

[2016-09-10 14:37] MithrandirCraft commented on #540
@sgdc3 What would that be?
@Platinteufel Authme might stop sending players to Authme's login spawn if I disable teleportation.

[2016-09-10 15:33] sgdc3 commented on #540
@DNx5 note the quit location, look in the nbt save the quit location and finally look at the authme saved quit location.

[2016-09-10 15:52] Platinteufel commented on #540
Well I think AuthMe tries to spawn the player at a safe location on join.

[2016-09-10 16:29] MithrandirCraft commented on #540
This problem may be related to "multiworld", as the issue only occurs when multiworld is disabled.

[2016-09-11 13:11] Dimatert9 opened #942 "Need help with API."
Hello! How i can get ALL registered users?

[2016-09-11 18:45] sgdc3 commented on #942
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/datasource/MySQL.java#L769

[2016-09-11 18:46] sgdc3 commented on #942
Auths:
https://github.com/AuthMe/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/datasource/MySQL.java#L799

[2016-09-11 20:00] Dimatert9 commented on #942
And how i can get "getAllAuths()" from api?
This method is not static, and i cant find this metod in NewApi or in API

[2016-09-11 20:56] sgdc3 commented on #942
@ljacqu Now with dependency injection is impossible to access non-api methods, this is an issue :/

[2016-09-12 00:49] SliderKP commented on #941
autologin are disabled, now is enabled and tomorrow i will try these versions,

[2016-09-12 02:26] Eufranio commented on #137
By now, is there a way to login in minecraft with the password from Xenforo? And, is there a way to block registering in-game, to players register only in the forum?
Also, would be cool a (WIP) wiki of that interaction, I'm very interested in the feature xD

[2016-09-12 02:32] DNx5 commented on #137
@Eufranio the current problem is, you can't login to forum when users registered in game. so, in your case it should works fine.

[2016-09-12 02:47] Eufranio commented on #137
And where is the tutorial/wiki/how-to?

[2016-09-12 05:51] ljacqu commented on #942
True, but at the same time it's the API's job to offer the necessary functions to interact with AuthMe. We don't want to expose the other classes to the outside.

In other words, @Dimatert9, we'll add it to the API class. :)

[2016-09-12 07:46] Slaand commented on #137
I still can help with fresh copy of xenforo with db access + multicraft panel with authme plugin to test out all of this. If needed, write me pm maybe :D

[2016-09-12 09:28] sgdc3 commented on #942
Yeah but 99% of the stuff was done using non api methods xD

[2016-09-12 09:30] sgdc3 opened #943 "Add stuff to the public API"
Since we use injection developers are unable to hook into out code except the API, we need to provide some new methods like getRegisteredPlayers()

[2016-09-12 11:01] ljacqu commented on #942
Correct, but I would like it to be easily recognizable what is part of the API and what not. And most services shouldn't be part of that so we can move and modify them as AuthMe evolves.
The API on the other hand is a _contract_ with the outside world we need to keep. So I'd suggest to add to the API as requests come in. We just need to add stuff to the API carefully.

If we want to pass some serv

[2016-09-12 11:05] ljacqu commented on #942
Essentials has a nice way – they have interfaces in an api package and their regular classes implement those. If a plugin developer only programs against the interface his plugin remains stable even if we shove things around internally.

[2016-09-12 11:35] sgdc3 commented on #942
@ljacqu The issue is that authme was built without an api xD

[2016-09-12 15:39] Eufranio opened #944 "AuthMe purged active playerdata"
After enable the AuthMe purge feature, it started deleting files from active users when the server starts.
Maybe related to Bungee, i'm using a bungee network and the server is a Forced Host, with IP Forwarding enabled.

[2016-09-12 16:09] ljacqu commented on #944
Maybe related to #886? Do you have a db backup? If so, any entries with lastLogin = 0 in there for (somewhat) regular players?

[2016-09-12 16:13] Eufranio commented on #944
I don't have a database backup, also i'm using MySQL :/

[2016-09-12 16:28] ljacqu commented on #944
All I can offer is to check the code to make sure we're running the purge process correctly – having had a quick look at the code on mobile, I don't think we have something wrong there.
BUT what could be an option is that we store 0 as lastlogin somewhere for some reason. This might be worth checking quickly.
You say you use bungeecord; maybe @sgdc3 or @Gnat008 could think of another cause?

[2016-09-12 16:29] ljacqu commented on #944
Finally, please make sure your purge settings have sensible values and that we're not talking about a player that was on a long vacation or something :P

[2016-09-12 16:33] ljacqu commented on #886
@sgdc3 You know, if we ever decide to extract the command handling stuff, what would be really cool here is some sort of state so when someone does /purge 15, they get asked "include entries with 0?" and they just do like /purge yes or /purge no. Overkill for this one here, but in the big picture maybe worth the additional dev time

[2016-09-12 16:47] Eufranio commented on #944
In my config, i have `daysBeforeRemovePlayer: 30` . The players had their items, and then the server restarted (auto restart), and when i saw the console was logging the data purge of the players.

[2016-09-12 17:32] sgdc3 commented on #944
In my opinion it can't be an issue with bungee, the most probable cause is that for some reason the last login timestamp of the player was wrong.

[2016-09-12 17:32] sgdc3 commented on #944
Maybe 0? @ljacqu

[2016-09-12 17:33] sgdc3 commented on #886
How to handle autopurge then?

[2016-09-12 18:38] ljacqu commented on #886
I'd suggest to make auto purge ignore entries with 0. As we know, there should actually never be any entries with lastlogin = 0, so if someone has some (because of our previous bugs) and wants to get rid of them, he would need to run purge manually once and it should remove all entries with lastlogin = 0.

[2016-09-14 00:33] Maxetto commented on #87
I think this should be useful when switching phone. Like changing password, but actually changing the phone.

I stated to be optional because I don't see it being smart and efficient to force it on every user (let's say someone don't have a phone or don't want to install an Authenticator).

[2016-09-14 09:26] G-monitor opened #945 "Difference about "Realname" and "Username""
What's difference of realname and username? (in mysql column)
Is username = lower case of username? (and username = the original case of player name?)
I want register from a custom website (made by my self).

[2016-09-14 10:12] ljacqu commented on #945
You're right, username is all lowercase and realname is the name in proper casing. We could specify this a bit better in the config comments.

[2016-09-14 23:41] Eisenbahn opened #946 "[Suggestion]"
Keep Java 7 :D

Some users can't update to 8 due to (Specially) certain Mods or plugins!

[]'s !

[2016-09-15 00:23] SliderKP opened #947 "Prevent unregister"
i want to disable the comand unregister for users, but the permission 	authme.unregister not run correctly, please add some option in console or some similar, thanks!

[2016-09-15 04:29] ljacqu commented on #947
authme.player.unregister is the permission node you want ;) You can find all current nodes at https://github.com/AuthMe/AuthMeReloaded/blob/master/docs/permission_nodes.md

[2016-09-15 04:29] #947 closed

[2016-09-15 09:39] smartmadio commented on #544
Seems this problem still not solved yet.

[2016-09-15 12:57] sgdc3 commented on #544
@smartmadio Using latest build?

[2016-09-15 12:58] smartmadio commented on #544
Last version on bukkitdev

[2016-09-15 12:59] sgdc3 commented on #544
Could you try latest build from jenkins?

[2016-09-15 12:59] smartmadio commented on #544
I'll have a try immediately.

[2016-09-15 13:00] sgdc3 commented on #946
Impoesible, Java 8 support any Java 7 plugin or mod

[2016-09-15 13:01] smartmadio commented on #544
Problem solved:)
Works fine with version #1366.

[2016-09-15 13:03] smartmadio commented on #544
Solved.

[2016-09-15 13:03] #544 closed

[2016-09-15 13:49] ljacqu commented on #544
Thanks for the feedback!

[2016-09-15 14:50] Eisenbahn commented on #946
This is weird. I had issues with some plugins/mods earliear. But ok, ill try it anyway.

[]'s

[2016-09-15 14:53] ljacqu commented on #946
I'd guess a plugin compiled in Java 8 won't work on a Java 7 server, same goes for plugin developers. Part of why we upgraded was because two of our dependencies kicked Java 7 out of their picture.

[2016-09-15 16:04] G-monitor commented on #945
Ok,thanks!

[2016-09-15 16:04] #945 closed

[2016-09-15 20:35] SliderKP commented on #941
with the new updates, users need to relogin when they move from server to server

[2016-09-15 20:50] sgdc3 commented on #941
yeah, you need to use authmebridge with autologin feature enabled atm

[2016-09-15 20:52] sgdc3 commented on #941
Official autologin support will return soon ;)

[2016-09-16 14:02] Shorman258 opened #948 "sadasd"
####Before reporting an issue make sure you are running the latest build of the plugin and checked for duplicate issues!

### What behaviour is observed:
What happened?

### What behaviour is expected:
What did you expect?

### Steps/models to reproduce:
The actions that cause the issue

### Plugin list:
This can be found by running `/pl`

### Environment description
Standalone server/Bungeecord n

[2016-09-16 15:41] #948 closed

[2016-09-16 16:56] #946 closed

[2016-09-16 18:14] sgdc3 commented on #943
Still needs unit test, working on it

[2016-09-16 18:16] sgdc3 commented on #943
@ljacqu This still need unit test, could you take a quick look when you're back? :)

[2016-09-16 18:17] sgdc3 commented on #942
@Dimatert9 now the api has 2 new methods ;)

[2016-09-16 18:17] #942 closed

[2016-09-16 18:18] sgdc3 commented on #941
@SliderKP

[2016-09-16 20:35] SliderKP commented on #941
sorry for slow to respond , okey currently my server every time they change server some users have to re-enter your account , some not, and as for users who could not move, the problem continues , i will wait updates,

[2016-09-16 21:22] sgdc3 commented on #941
:/ Could you post your config and describe your network setup?

[2016-09-16 21:28] ljacqu commented on #943
@sgdc3 Done—thanks for the hint :wink:

[2016-09-16 21:55] ljacqu commented on #472
Hello @sgdc3 @RoinujNosde @Platinteufel and @Twonox, allow me to @-mention you since the original poster of this issue is now a ghost ;)

I've implemented a confirmation code for password recovery by email. Now the user first gets a code by mail that he needs to enter, and _then_ his password is changed an another mail is sent. Can be turned off by setting the code length setting to 0.
This took l

[2016-09-16 21:58] ljacqu opened #949 "Implement expiration for captcha and unite expiration handling"
The counter in the captcha should have a timer as well, this was requested in #918 but got lost in the thread.

With the captcha manager this makes three places where some sort of timed entries are used (captcha manager, tempban manager, recover code manager). Check if there's a way to unite/abstract the common features.

[2016-09-17 00:20] Platinteufel commented on #472
Sounds good, I will test it tomorrow. :)

[2016-09-17 09:36] Dimatert9 commented on #942
Thanks.
Can you add method "unregister(String name)"?

[2016-09-17 09:57] sgdc3 commented on #942
@Dimatert9 Could you open a new ticket please? :)

[2016-09-17 10:06] Dimatert9 opened #950 "Add new method to api"
unregister(String name(any case));

[2016-09-18 12:46] ljacqu commented on #950
@Dimatert9 Done—please verify.

First I thought that you could just do:
[code]

but then I realized we might have some players in the DB that have never been on the server. So it makes sense to have `NewAPI#forceUnregister(String)` :)

[2016-09-18 12:52] sgdc3 commented on #950
@ljacqu I think he needs a way to unregister someone not ingame.

[2016-09-18 12:55] ljacqu commented on #950
@sgdc3 That's what the method does.

[2016-09-18 13:00] Dimatert9 commented on #950
```NewAPI#forceUnregister(String)```
This will work if player is offline?

I want to make plugin that remove all users, who dont have donate.
What i want:
1) Get all users from authme.
[code]
2)
Get all users from PEX:
[code]
3) Unregister all players in "list"

[2016-09-18 13:03] ljacqu commented on #950
@Dimatert9 Yes, that would work. You don't have to lowercase `pl` btw because `getRegisteredNames` will return everything lowercase, as opposed to `getRegisteredRealNames` :)

After that you just need to call NewAPI's `forceUnregister(name)` for each `name` you want.

[2016-09-18 13:08] Dimatert9 commented on #950
thanks. it work.

[2016-09-18 13:08] #950 closed

[2016-09-18 13:29] ljacqu commented on #886
@sgdc3 @games647 How do we best ask the player if lastlogin=0 entries should be included or not? I can think of two ways:

*Additional param*: Player can do `/authme purge 40` or, I don't know, some kind of second argument, like `/authme purge 40 all` to include 0 entries? (I don't know)

*Subsequent question*: Player does `/authme purge 40` and is then asked whether such entries should be include

[2016-09-18 13:29] ljacqu commented on #950
Thanks for the feedback

[2016-09-18 14:15] games647 commented on #886
I'm a friend of additional parm option. It's easier to implement and can be used directly.

[2016-09-18 14:51] ljacqu commented on #886
Thanks @games647, I did it with an additional param. Either `/authme purge 40` or `/authme purge 40 all`. If player does anything else like `/authme purge 40 test` the command returns an error and stops.
If you or @FabioZumbi12 have any suggestions or remarks, please let me know.

[2016-09-18 15:11] ljacqu commented on #923
Naïve implementation would be to add an option that runs the purge process on /unregister. Might make sense to issue a warning before the player really unregisters (because, like, what if someone just quickly wants to change password via unregister? It's a bad way to change one's password, but I remember doing it too when I wasn't familiar with AuthMe's commands).

I think a better solution might

[2016-09-18 17:17] afronights opened #951 "Firstspawn issue"
I'm running AuthMeReloaded v5.2-BETA3 (build: 1134) and the **setfirstspawn** command doesn't work for me.

When I log for the first time authme don't teleport the player to the authme firstspawn
My configuration is http://pastebin.com/Q1GQpuCB

I tried several configuration like:
ForceSpawnLocOnJoin true
teleportUnAuthedToSpawn: false
and
ForceSpawnLocOnJoin false
teleportUnAuthedToSpawn: true
or

[2016-09-18 17:27] ljacqu commented on #951
[code]

Please change that to `false` and let us know if it solves your issue.

[2016-09-18 17:32] #463 closed

[2016-09-18 17:56] afronights commented on #951
Thank you ljacqu, now work !!!!!!

[2016-09-18 18:09] #951 closed

[2016-09-18 18:09] sgdc3 commented on #951
@afronights Thank you for the feedback ;)

[2016-09-18 21:05] ljacqu commented on #935
@molor Out of curiosity, why do you want this?

Whoever implements this - it's important to keep in mind that we re-schedule the message task when someone unregistered runs the /login command. In such a case I'm sure we wouldn't want that delay to take effect.

But what is open is if this delay should also take effect when someone does /unregister? For consistency reasons I would assume so.

Refac

[2016-09-19 06:24] molor commented on #935
@ljacqu, why do I need it: when joining the server, player is received a few messages that should be read one after the other (motd). But there are times when message from AuthMe sent at the same time as these few messages. It turns out something like this:

Please, login with the command "/login <password>"

But it would be better if message from AuthMe was sent after [new line].

[2016-09-19 07:00] ljacqu commented on #935
Thanks for the explanation @molor! In that case you only want the delay on join, but not on logout/unregister

[2016-09-19 12:33] molor commented on #935
@ljacqu, yes, that's what.

[2016-09-19 13:56] games647 opened #952 "ConfigMe failed to initialize based on a fresh installation"
Build v1382

![configme](https://cloud.githubusercontent.com/assets/1957196/18634508/726afc02-7e81-11e6-9ed9-edf3a71492ed.png)

[2016-09-19 16:05] ljacqu commented on #937
@Sitmobedaf, one open question about this, did you expect code to run in another _sync thread_ or just run the code immediately? Right now we do the latter and it's unclear to me what is better.

[2016-09-19 16:12] Sitmobedaf commented on #937
I use 3.1.1 with fixed getOnlinePlayers and single session. I do not care what you do now, sorry.

[2016-09-19 16:13] #937 closed

[2016-09-19 19:36] sgdc3 commented on #937
@Sitmobedaf Fine, bye.

[2016-09-19 20:03] Sitmobedaf commented on #937
Yes, it works synchronously and the load on the server attacks is almost there, it loads the server is less than SkinsRestorer, PermissionsEx, he BukkitServer. Authorization plugin does not have to be a monster - this is the direction in which you move, and you piatetes subdue him (asynchronous mode). In addition, you can not operate some of the functions of such a purge. But maybe I will come bac

[2016-09-19 20:10] afronights opened #953 "Spawn unlogged location and spawn logged location"
I'm running AuthMeReloaded v5.2-BETA3 (build: 1134) and i would like to have a little room for receive unlogged player for logging/registering operation and teleports automatically it to another world (in a another spawn location).

I could not do it.
I do it partially only with ForceSpawnLocOnJoin: false and teleportUnAuthedToSpawn: true but after the teleport the position is always the last disc

[2016-09-19 22:54] sgdc3 commented on #953
Please undate to latest dev build and try again.

[2016-09-20 10:57] afronights commented on #953
Sorry my build was 1378 and no 1134.

Now with the 1384 i have the same behaviour.

[2016-09-20 17:22] afronights commented on #953
what the different from AuthSetSpawn and AuthFirstSpawn ?

[2016-09-20 17:56] afronights commented on #953
Ok problem solved ! Now the teleport works correctly.

Thank you for the support !!!!

[2016-09-20 23:05] sgdc3 commented on #953
Ok, fine, sorry if i haven't answer you but i've been very busy. Thank you ;)

[2016-09-20 23:05] #953 closed

[2016-09-21 17:08] MithrandirCraft opened #954 "Managing multiacconts (Any advice? Or possible enhancement?)"
A true dilema for Factions servers:

Users register more than one account in order to get more faction power.

The administrators notice this and try to solve the issue by blocking more than one IP from logging in.
This "kinda stops" multiaccounts.

However, now player groups cannot play on the server if they are using the same internet connection.

So IP restrictions are not the perfect solution.

[2016-09-21 17:13] Eufranio commented on #954
The best would be a ready web register application, like Prism does, and limit 2 register per IP/use cookies to prevent 2 registers in the same machine.

[2016-09-21 17:15] MithrandirCraft commented on #954
@Eufranio Thanks for the suggestion, I will consider this 👍

[2016-09-21 17:45] Twonox commented on #954
Or allow 1 account per MAC address, but idk if it's possible

[2016-09-21 17:46] Eufranio commented on #954
Not via web/minecraft, only using a program :/

[2016-09-21 18:09] sgdc3 commented on #954
Your MAC is not exposed to external networks like internet

[2016-09-21 18:10] sgdc3 commented on #954
@MithrandirCraft It's impossible to archieve that, even with web registration i can use multiple browser or reset the cookies

[2016-09-21 18:13] Eufranio commented on #954
But it's more secure. A normal banned player world search for "how to join a server being banned" and the majority or all tutorials would be use a VPN/restart the router. Using cookies and IP registration would add one more security layer.

[2016-09-22 08:19] DNx5 commented on #954
set your server to online mode.

[2016-09-22 13:41] MithrandirCraft commented on #954
@DNx5 We all know players don't want to spend money on more than one account, but even that isn't safe :P

[2016-09-22 15:32] sgdc3 commented on #954
I'm sorry but we can't do anything about that :(

[2016-09-22 15:32] #954 closed

[2016-09-22 21:03] MithrandirCraft commented on #954
Understandable.

[2016-09-23 11:01] TheIntelloBox opened #955 "Request : Messages"
Hello,

I have a little suggestion.
Could you add an option to disable the messages on the console ?
I speak about these messages :
http://zupimages.net/up/16/38/a7et.jpg

Thanks ! :D
TheIntelloBox.

[2016-09-23 11:11] rErEaT commented on #955
turn off the mysql

[2016-09-23 11:19] sgdc3 commented on #955
We can't control such messages, i'm sorry.

[2016-09-23 16:34] Twonox commented on #904
@sgdc3 When can you do this please ?

[2016-09-26 19:24] BOT-Neil commented on #880
Why is is all the playerdata stored forever? I'm not sure when it was implemented but its now 60k unique files and its like 400mb? For a lobby/hub server this is not needed at all.

[2016-09-27 20:45] jeremy100 opened #956 "Error on Email recovery password"
Hi, while trying to retrieve the password the server gives an error and does not send it. But by creating a new user if the Email sent successfully.

I enabled access GMAIL unsafe applications and does not work as shown in this guide:
http://stackoverflow.com/questions/26393906/error-sending-email-with-gmail/27815241#27815241
**Build #1385**
Error on Authme.log:
`[09-27 22:39:08]: [WARN] Failed to

[2016-09-29 18:21] #955 closed

[2016-09-29 18:34] vanthoi opened #957 "Xenforo support issues"
How to configure the supported databases from xenforo.
I have a forum. There are many active members in the forum. Is there any way I can use the user account directly from the databases of xenforo. I have read through a lot of Authme information. But I have yet to find a way for me to manually configure it.  You can are taking time to guide me a few basic steps are not?

Thank you!

[2016-09-29 18:43] Cri16228 opened #958 "Server stop with authme 5.2-DEV-September"
What happened?
When I start my local server (for setting plugin only)  it crashes
Only this no plugins, no log. Default config.yml
After installing authme 5.2-DEV-September and starting server it stop automatically
If you want a log file http://hastebin.com/lagivimere.md

[2016-09-29 18:54] ljacqu commented on #958
Please share your authme.log output - it should contain more detailed information about the error

[2016-09-29 18:56] Cri16228 commented on #958
Solved with [this](https://dev.bukkit.org/bukkit-plugins/authme-reloaded/files/79-auth-me-5-2-beta-3/)
[AuthMe.log](http://hastebin.com/ziticihori.pas)

[2016-09-29 19:13] ljacqu commented on #958
[code]
I think you downloaded the wrong JAR for your server version; it looks like you need the legacy one. https://github.com/AuthMe/AuthMeReloaded/wiki/AuthMe-Releases-(Jenkins)
Should this not solve the problem, please reopen / add a comment.

[2016-09-29 19:13] #958 closed

[2016-09-29 19:45] ljacqu commented on #956
Thanks for the report. This should be fixed with build n. 1386 or above, please let us know if this can be closed. http://ci.xephi.fr/job/AuthMeReloaded/

[2016-09-29 19:51] ljacqu commented on #910
I can send emails fine but my host has SSL/TLS authentication. One thing about this, though, when I launch the MC server inside of my IDE (to easily run AuthMe during development) I cannot send emails and I get the same error as you. If I run the server from command line, everything works as intended. So it looks like you might be experiencing some sort of certificate issue.

The question whether

[2016-09-29 19:53] ljacqu commented on #472
Thanks, if anything needs adjusting please post a comment.

[2016-09-29 19:53] #472 closed

[2016-09-29 19:53] #886 closed

[2016-09-29 20:28] jeremy100 commented on #956
Works fine! thanks :) @ljacq

[2016-09-29 20:29] ljacqu commented on #956
Thanks!

[2016-09-29 20:29] #956 closed

[2016-09-29 21:42] sgdc3 commented on #957
Atm out xenforo integration has some issues, we'll try to solve them ASAP.

[2016-09-30 04:49] vanthoi commented on #957
You are facing the problems of xenforo. I can help with your this source code on xenforo!

[2016-09-30 07:33] ljacqu opened #960 "Handle email sending failure better"
When a user requests a password reset we always send a success message even if the email has failed to send. This should be handled better so that users don't have to search for an email in vain.

[2016-09-30 11:09] jugtej opened #961 "Authme doesnt let people login"
I am using authme and sometimes when people put in the login command the server doesnt register it and it also sometimes happens to everyone on the server. this is what happens

09:36:30 <>                       Player KeraYamato disconnected (§4Login timeout exceeded, you have been kicked from the server, please try again!)
09:36:00 <>                       Player KeraYamato connected
09:35:22 <>

[2016-09-30 11:11] jeremy100 commented on #961
Please review your message and write it well because it is hard to understand

[2016-09-30 11:12] jugtej commented on #961
sorry jeremy100 kinda new to using github so i had messed up

[2016-09-30 11:15] jeremy100 commented on #961
Okay, go into the folder and copy the latest AuthMe that generated the "Authme.log" file please. But at first glance I think it can be for lack of permits. You use a plugin permission?

[2016-09-30 11:28] jugtej commented on #961
http://pastebin.com/6cjR0LPD
i am using a permission plugins but even op players have this issue.

[2016-09-30 11:30] jeremy100 commented on #961
Unfortunately I can not find the problem. I hope that project managers can help you better than me. sorry

[2016-09-30 11:31] sgdc3 commented on #961
Please post your config and your plugin list?

[2016-09-30 11:32] sgdc3 commented on #957
That would be very useful ;)

[2016-09-30 11:57] jugtej commented on #961
the config is http://pastebin.com/wRmZYjQH   and the plugins are below
![image](https://cloud.githubusercontent.com/assets/22541099/18990924/f62ecc80-8732-11e6-8829-648c6dbf501d.png)
![image](https://cloud.githubusercontent.com/assets/22541099/18990938/18104360-8733-11e6-8c54-fa2ef22d2f05.png)

[2016-09-30 13:14] ljacqu commented on #961
Could you try to update to a newer version please?
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-09-30 13:17] ljacqu commented on #957
That would really be cool :) The state right now, taken from https://github.com/Xephi/AuthMeReloaded/issues/137#issuecomment-241244136:

So two things are not yet answered:
- Does everything besides in-game registration work?
- What do we need to write additionally in the database to make players able to log into Xenforo when they register in Minecraft?

[2016-09-30 13:31] jugtej commented on #961
i have tried it on the latest version which is 5.2 september build and i still have the issue so i am now using 5.2 beta 3 which is working smoother but im still having the issue

[2016-09-30 14:52] vanthoi commented on #957
I have code from file register of xenforo:

`
	/**
	 * Registers a new user.
	 *
	 * @return XenForo_ControllerResponse_Abstract
	 */
	public function actionRegister()
	{
		$this->_assertPostOnly();
		$this->_assertRegistrationActive();

		$inputData = $this->_getRegistrationInputData();
		$data = $inputData['data'];
		$passwords = $inputData['passwords'];
		$customFields = $inputData['customField

[2016-09-30 16:30] sgdc3 commented on #957
@ljacqu

[2016-09-30 20:08] ljacqu commented on #957
Thanks for the code. Let's start with the first question—how far is the Xenforo integration already?

1. If a user registers via website, can he then join the Minecraft server and use `/login` successfully?
  a. Can this user change his password on the website and still use `/login` successfully?
  b. Can this user change his password in Minecraft (`/changepassword`) and still log onto the website

[2016-09-30 20:24] ljacqu commented on #961
OK, let's take a step back:

-> What does "doesn't register" mean? Does the server send back a "permission denied" message or does the server literally NOT respond to the command?

What happens with other commands (another AuthMe command, e.g. `/register`, vs. a command not from AuthMe, e.g. `/spawn` or `/hub`).

[2016-10-01 07:29] jugtej commented on #961
ok so ill explain it.  i join the server and then i see the /login <password > command  it like spams twice before i actually enter my password it and after i put the login command in. nothing happens. the login messages keeps on spamming and i  dont get logged in. at first i thought it was lag. i remove out things to reduce lag too but i still have the issue and not only me but other people also

[2016-10-01 07:43] ljacqu commented on #961
What happens with other commands (another AuthMe command, e.g. /register, vs. a command not from AuthMe, e.g. /spawn or /hub).

[2016-10-01 07:46] jugtej commented on #961
ok so no message comes up and then i get kicked although if i try to normal chat i get a message which says in order to chat you must be authenticated

[2016-10-01 07:50] ljacqu commented on #961
So both another AuthMe command as well as some other command just gets ignored?
If the chat block works as you said, I wonder if there's a conflict with another plugin that handled all commands too aggressively. Is there any suspect that comes to your mind?

[2016-10-01 07:52] jugtej commented on #961
at the very first when i had added authme. it has aggravated no cheat plus's captcha

[2016-10-01 07:57] jugtej commented on #961
i have opened up the authme.log and near the top i saw this
[09-30 02:30:50]: SQLite driver loaded
[09-30 02:30:50]: SQLite Setup finished
[09-30 02:30:50]: Unhooked from Permissions!
[09-30 02:30:50]: Hooked into Vault!
[09-30 02:30:50]: Hooked successfully into Essentials
[09-30 02:30:50]: Hooked successfully into Multiverse-Core

now im not a programmer or anything but i dont think that permiss

[2016-10-01 08:25] ljacqu commented on #961
The unhooked message is a bad debug message that has been fixed in newer builds :) It means nothing, we're "unhooking from nothing" at the start. But good catch.

I added some debug messages to a version of AuthMe whose JAR you can download here: https://github.com/ljacqu/AuthMeReloaded/tree/961-command-event-debug/samples (legacy or spigot depending on the one you need)
In the config of newer ver

[2016-10-01 09:03] jugtej commented on #961
thank you. ill be running the file and testing for the file for a while

[2016-10-01 09:12] ljacqu commented on #961
Excellent, thank you; I look forward to your results. Should you not find any debug messages<sup>1</sup> I would suggest to remove some "suspect" plugins—if no command event is coming to AuthMe we need to find which plugin is interfering, and then we can see how to best handle it (whether it's a problem on the other plugin's side, or on ours).

--

<sup>1</sup> I probably should have included anot

[2016-10-01 12:39] Twonox commented on #881
There is no longer this problem. Why? idk... xD

[2016-10-01 12:39] #881 closed

[2016-10-01 12:40] Twonox commented on #880
Yes, it's necessary to can disable playerdata.

[2016-10-01 12:40] #822 closed

[2016-10-01 13:21] Twonox commented on #890
I'm now using Bungee & Authme, and I don't have speed problem.

[2016-10-01 15:38] GDXX opened #962 "I can not move after login AuthMe"
Hey,
I am unable to move after login  I use
cauldron-1.7.10-2.1403.1.54

AuthMe-5.2-SNAPSHOT-legacy

[2016-10-01 15:42] ljacqu commented on #962
Please upgrade to a more recent version http://ci.xephi.fr/job/AuthMeReloaded/
Assuming you're using anything below 5.2-b1300 (`/authme version`)

[2016-10-01 16:09] TheIntelloBox commented on #904
Please ?

[2016-10-01 17:32] GDXX commented on #962
I tested with build in 1391 I still have the bug after login I can not move

[2016-10-01 17:36] ljacqu commented on #962
Does the workaround in https://github.com/Xephi/AuthMeReloaded/issues/890#issuecomment-239596517 work for you? Otherwise please post your config file to [hastebin.com](http://hastebin.com), removing any sensitive data.

[2016-10-01 19:55] jugtej commented on #961
well i havent been able to test it much but i did ask a few players about it and according to them authme was working flawless so i would like to say thank you cause this issue was really bugging me

[2016-10-01 20:00] ljacqu commented on #961
Thanks for the update. Weird, maybe we have something weird going on in that older version you're using that has been fixed more recently. If it occurs again you know where we'll continue :wink: Is this OK to close for the time being?

[2016-10-01 20:01] jugtej commented on #961
sure

[2016-10-01 20:01] ljacqu commented on #879
@Twonox still occurring or would this be OK to close?

[2016-10-01 20:02] ljacqu commented on #961
If it happens again please drop a comment or reopen if you can and we'll just continue where we left off, lol

[2016-10-01 20:04] nathampa0909 commented on #879
@ljacqu In my server still occurring. I asked my players and they say that the bug is occurring yet.

[2016-10-01 20:10] ljacqu commented on #879
@nathampa0909 Good to know, thanks

[2016-10-01 20:17] Twonox commented on #879
There is no longer this problem in my server.

[2016-10-01 22:06] GDXX commented on #962
I use the default config

[2016-10-01 22:15] #904 closed

[2016-10-01 22:28] ljacqu opened #963 "Create tool task to generate plugin.yml"
When we add new permissions we need to keep the plugin.yml file in sync - create a tool task that will update the permissions data in there.

[2016-10-01 22:39] ljacqu commented on #130
Comment by @sgdc3: especially the email dependency takes a lot of space; it might be interesting to split this into a separate module or to NOT shade the email dependency into the JAR

[2016-10-01 22:54] ljacqu commented on #409
Closed during common session with @sgdc3

[2016-10-01 22:54] #409 closed

[2016-10-01 23:05] ljacqu commented on #448
Current state: we did some cleanup inside of config but some similar settings are scattered around, e.g. for registration some stuff is under "registration" and some stuff under "security." Also database stuff vs. hooks stuff, and probably many more things. :)

[2016-10-01 23:19] ljacqu commented on #499
Bungeecord has been removed from AuthMe at the moment, so closing

[2016-10-01 23:19] #499 closed

[2016-10-01 23:22] ljacqu opened #964 "Allow users to define custom registration process"
From @sgdc3, we could allow users to define their own registration process (with custom fields / tables etc. for other integrations) by exposing sufficient information outside of AuthMe.

[2016-10-01 23:23] ljacqu commented on #563
From @sgdc3: Xephi did this in 3.4 but it was broken. Code is still around but implementation was broken/messy, but could serve as a template to implement this again.

[2016-10-01 23:25] ljacqu commented on #582
It should already be the real IP, could you check with a more recent dev build maybe? http://ci.xephi.fr/job/AuthMeReloaded/

[2016-10-01 23:26] #582 closed

[2016-10-01 23:30] sgdc3 commented on #625
People can already do that by looking at the authme kick message bungee-side.

[2016-10-01 23:30] #625 closed

[2016-10-02 10:19] jugtej commented on #961
the issue came this
this is the console when people cant login http://pastebin.com/sx1t10vy i couldnt find any other plugin that wouldnt allow users to login as i dont have any spam plugin or any chat plugin other than essentials chat and simple prefix

[2016-10-02 10:25] jugtej opened #965 "cant login"
well ijacqu the login issue is back. I cant post in the old post so i had to make a new one
this is my console http://pastebin.com/sx1t10vy
i have not been able to find anything that would not let me login. the only chat plugins i have is essnetials chat and simple prefix

[2016-10-02 10:31] sgdc3 commented on #965
You are using many old plugins, you should remove EssentialsXampp and switch to EssentialsX

[2016-10-02 10:32] sgdc3 commented on #965
Install that plugins:
https://ci.drtshock.net/job/essentialsx/lastSuccessfulBuild/artifact/Essentials/target/EssentialsX-2.0.1.jar
https://ci.drtshock.net/job/essentialsx/lastSuccessfulBuild/artifact/EssentialsChat/target/EssentialsXChat-2.0.1.jar
https://dev.bukkit.org/bukkit-plugins/simple-prefix/
http://ci.xephi.fr/job/AuthMeReloaded/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT-spigo

[2016-10-02 10:36] sgdc3 commented on #961
Duplicated

[2016-10-02 10:37] sgdc3 commented on #961
You are using many old plugins, you should remove EssentialsXampp and switch to EssentialsX

Install that plugins:
https://ci.drtshock.net/job/essentialsx/lastSuccessfulBuild/artifact/Essentials/target/EssentialsX-2.0.1.jar
https://ci.drtshock.net/job/essentialsx/lastSuccessfulBuild/artifact/EssentialsChat/target/EssentialsXChat-2.0.1.jar
https://dev.bukkit.org/bukkit-plugins/simple-prefix/
http:/

[2016-10-02 10:37] #965 closed

[2016-10-02 10:39] ljacqu commented on #965
Duplicate of #961 (don't mind this comment, just linking the issues)

[2016-10-02 18:20] jugtej commented on #961
i removed out all essentials and added essentials x i still have the issue im also on the latest build of simple prefix as well. is it possible to have it so authme has the highest priority so if there happens to be another plugin not allowing authme to run. it will stop?

[2016-10-02 20:01] sgdc3 commented on #961
Commands doesn't have priorities in the bukkit api

[2016-10-02 20:02] sgdc3 commented on #961
could you please post the output of the /version command and the content of your commands.yml file?

[2016-10-02 23:13] Kixot14 opened #966 "WARN"
Why this WARN happen ??

_[00:49:15 WARN]: [Server thread] INFO fr.xephi.authme.libs.zaxxer.hikari.HikariDataSource - AuthMeMYSQLPool - Started._

It's happen, when server started and when server closed.

**AuthMe build 1292
Spigot build 965**

[2016-10-02 23:28] Kixot14 commented on #966
Looks like it's just notify about AuthMe MySQL connection. But why WARN ???

[2016-10-03 12:08] sgdc3 commented on #966
Caused by our connection pool, we can't change that.

[2016-10-03 12:08] #966 closed

[2016-10-03 20:02] ljacqu commented on #896
@Twonox implemented by sgdc3 in 88ce493438247b9aaa68673c1fffc8d021f63bf1, please verify

[2016-10-03 22:30] Eufranio opened #967 "Too many channels registered"
When a player disconnects, the console spams a error :

[code]

Using BungeeCord with MySQL

[2016-10-03 22:33] sgdc3 commented on #967
Are you sure the cause is authme?

[2016-10-03 22:34] sgdc3 commented on #967
It is a generic exception, have you tested without authme?

[2016-10-03 22:37] Eufranio commented on #967
Yes, happened after update Authme, and I have only Authme and FastLogin on that server (I reported first here, but I can report to FastLogin if you prefer)

[2016-10-03 22:39] sgdc3 commented on #967
@games647

[2016-10-04 09:37] games647 commented on #967
@Eufranio Do you reloaded the server?

The error is about plugins channels. You reached the maximum amount of 128 channels. Channels are used for server-player communication or in the case of BungeeCord spigot-bungee communication.

Example channels:
FastLogin - one channel -> with the plugin name
BungeeCord
Minecraft
Forge - FML channel

AuthMe communicates just over BungeeCord one and doesn't ne

[2016-10-04 18:26] Twonox commented on #896
It's hard to explain in English, I will explain it in French, sorry Sgdc.

J'ai effectué des test et ça ne fonctionne pas très bien. J'ai rencontré plusieurs bug, et je ne peux pas tous les citer un-par-un. Tout ce que je peux te dire, c'est qu'au début de mes test ça avait l'air de fonctionner sauf pour `antiBotSensibility` qui déconnait lorsque je changeais sa valeur, et à l'instant où j'écris c

[2016-10-04 20:08] sgdc3 commented on #961
@jugtej

[2016-10-04 20:11] sgdc3 commented on #896
@Twonox Could you try again?

[2016-10-05 17:29] MithrandirCraft commented on #540
Hmh yes, it's definetly the fact that the player is teleported to authme's spawn on login which causes this, hence the fact that it cannot be reproduced when disabling teleportations.

I'll try to do what sgdc3 suggested to me like half a year ago xD but it's a hard process.

[2016-10-05 18:43] MCG-server opened #969 "stesso problema sgdc3 o maxetto aiuto !!"
perche lo stesso problema perchè l email recovery non mi ricordo piu come si faceva (non basta mettere l email e la password dell accaunt ma mi riocrdo che bisognava smanettare anche sul account della email ) quest ultima parte non mi ricordo più @Maxetto  @sgdc3
versione di spigot : 1.8.4
versione plugin authme: ultima versione (last version)           ma va bene l ultima versione di authme con 1

[2016-10-05 19:16] ljacqu commented on #896
Quick translation of @Twonox's message is that Antibot doesn't seem to work well upon reloading.

It's important to know that Antibot takes 90 seconds before it actually starts; you can check this with `/authme antibot` (it shows DISABLED first and after that LISTENING). This should probably be configurable.

@sgdc3 fixed another bug with the commit just above, so if we could ask you to verify aga

[2016-10-05 19:18] ljacqu opened #970 "Make startup time of Antibot configurable"
Antibot waits 90 seconds before actually going into LISTENING mode upon start / reload of the plugin; this should probably be configurable. Also has the advantage that the user knows about this behavior when he sees the configurable value in the config.

(via #896)

[2016-10-05 19:47] sgdc3 commented on #969
Se usi gmail devi consentire le app non sicure: https://support.google.com/accounts/answer/6010255?hl=it

[2016-10-05 19:47] #969 closed

[2016-10-05 20:06] MCG-server opened #971 "ho un paio di domande poi basta (almeno che non trovo qualche bug)"
@sgdc3   se uso yahoo cosa devo fare ??
poi qualche host (che non sia turbosmpt ) per queste cose di smpt (possibilmente gratuito)
quante email giornaliere posso inviare con gmail , e con yahoo?

a proposito di bug è vero quella cosa che ti mette su 0 la velocità di movi mento e di fly (credo che succede solo per il primo che si logga o solo ai founder )

[2016-10-05 20:14] sgdc3 commented on #971
Ok

Sinceramente non lo so perché non uso yahoo, non potresti creare un account gmail apposito per il server?

quante email giornaliere posso inviare con gmail , e con yahoo?

Mi spiace ma non conosco servizi simili

Se hai ulteriori domande ti prego di scrivere sempre in questa segnalazione, anche se chiusa.

[2016-10-05 20:14] #971 closed

[2016-10-05 20:46] ljacqu commented on #970
@sgdc3 Sorry it took so long to fix the tests; I had trouble to make the new one pass.

If there's nothing open on your side this is fine too close; I tested this extensively in-game.

[2016-10-05 21:06] MCG-server commented on #971
quante email (smpt ) posso inviare con gmail?? (al giorno)

[2016-10-05 21:16] Twonox commented on #896
Okay I will do some test tomorrow.
The enabling delay is probably the cause of the negatives result, know I understand why the antibot doesn't work always.

[2016-10-05 21:22] MCG-server commented on #971
quante e-mail posso inviare al giorno con questo smpt ??

e poi la cosa piu importante come creo un server mysql sul mio computer ?? @sgdc3

[2016-10-05 21:55] sgdc3 commented on #971
500

[2016-10-05 21:55] sgdc3 commented on #971
Esiste google :P

[2016-10-05 21:56] MCG-server commented on #971
ok apro un altro post perche ho trovato un errore

[2016-10-05 21:56] MCG-server commented on #971
si lo so che esiste google ma i tutorial sono tutti vecchi

[2016-10-05 21:57] MCG-server commented on #971
credi che non ho cercato
?? ho visto dei video ma certi sono vecchi e certi non spiegano bene ....uno che magari hai visto te ??

[2016-10-05 21:58] MCG-server opened #972 "Failed to send email (Gmail SMTP Connection)"
error:  http://hastebin.com/getafacabo.sql
spigot version : 1.8.4
authme version: latest

[2016-10-05 22:22] sgdc3 commented on #971
@MCG-server Non siamo un servizio assistenza....

[2016-10-05 22:25] sgdc3 commented on #972
@ljacqu any idea? The connection parameters looks correct.

[2016-10-06 05:59] ljacqu commented on #972
This is the typical error I get when I try to run from inside IntelliJ. If someone else can successfully send emails from Gmail we're sure it's a problem on the machine.
@Mcg-server is this error locally or on some server?

[2016-10-06 06:54] Dimatert9 opened #973 "Allow password changes without login (easier Bungeecord handling)"
Hello. When active bungee-mode and set sendTo players can't change password, because after login they will send to other server. How about make /login yourpassword newPw repeatNewPw
Or /changepassword yourPassword newPw repeatNewPw when you aren't login.

[2016-10-06 10:40] MCG-server commented on #972
@ljacqu locally

[2016-10-06 12:54] Twonox commented on #973
[code]

[2016-10-06 13:08] Twonox commented on #896
It works perfectly, thanks ! :)

[2016-10-06 13:11] #896 closed

[2016-10-06 14:49] MCG-server commented on #972
@ljacqu you are getting the error?

[2016-10-06 16:04] jugtej commented on #961
sorry. my laptop had gone for repair.  when i do /version it says "  This server is running CraftBukkit version (git-PaperSpigot-"4c7641d") (MC:1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)"

[2016-10-06 16:10] jugtej commented on #961
# This is the commands configuration file for Bukkit.
# For documentation on how to make use of this file, check out the Bukkit Wiki at
# http://wiki.bukkit.org/Commands.yml
#
# If you need help on this file, feel free to join us on irc or leave a message
# on the forums asking for advice.
#
# IRC: #spigot @ irc.spi.gt
#    (If this means nothing to you, just go to http://www.spigotmc.org/pages/ir

[2016-10-06 16:46] sgdc3 commented on #973
Whoops misread this issue, you can change your password before /login

[2016-10-06 16:46] sgdc3 commented on #973
allowCommands:
  - /changepassword

Useless, authme alredy allows user to use such commands.

[2016-10-06 16:47] sgdc3 commented on #973
@Dimatert9 if you have issue with /changepassword before login please comment there. :)

[2016-10-06 16:48] sgdc3 commented on #970
Fine, thank you ;)

[2016-10-06 16:48] #970 closed

[2016-10-06 17:20] ljacqu commented on #973
Just one thing, `/changepassword` isn't allowed to be used by unlogged players by default, Dimatert9's config cleverly fixes that. It's important to note that /changepassword isn't secured against any bruteforce attacks.

[2016-10-06 17:54] sgdc3 commented on #973
@ljacqu Really? We should apply the kick on wrong password also to the changepassword command i think.

[2016-10-06 18:29] joestrusz commented on #957
Status?

[2016-10-06 18:40] ljacqu commented on #973
I checked, and the change password command checks if player is logged in or not. So even with the config it will just send a "you are not logged in" error message.

Currently, it probably makes sense to use some form of threshold for failed password changed attempts. Probably it's OK to combine with our current solution (TempbanManager).

Allowing unlogged users to change their password seems a li