[2015-11-22 01:04] sgdc3 commented on #275
i know why, i will fix this tomorrow

[2015-11-22 09:14] #272 closed

[2015-11-22 09:17] NickFirenzo commented on #273
Yes, all people who have authme and EnableIpCheck: true, all having a problem.
"VeryGames" maybe is under mainstance.. Just set to false and problem will be solved.

[2015-11-22 12:37] MithrandirCraft commented on #273
I will comunicate this to VeryGames... every time something happens on their side authme will start doing irregularities :S

[2015-11-22 13:21] MithrandirCraft commented on #275
Great, considering I've had to configure some very special login conditions (In order to avoid some other issues), this will help a lot in avoiding players from walking around freely before login :S

[2015-11-22 14:33] MithrandirCraft opened #276 ""noTeleport" feature broken"
Refering to following config:
    noTeleport: true

Is it posible that this feature is broken? According to the (first config load) description, setting this to true should stop any authme teleportation events (All teleportations related to Authme I asume?).

The fact is, that turning this feature "true" has no effect in allowing players to move freely when unlogged. So unless the unlogged telepor

[2015-11-22 21:56] MithrandirCraft opened #277 "PvPManager (Premium Spigot Resource) NPC's compatibility"
Basically compatibility with any PvP logger plugin which spawns NPC's

PvPManager can spawn NPC's when people run away from battle, if the NPC's are killed they drop all the stuff from the coward player.

But Authme is blocking these NPC's from being killed.

----------------------------
Current authme version: 5.1 - SNAPSHOT (One of the latest devs)
Current Minecraft-Spigot version: 1.8.8

[2015-11-22 23:07] LudnicaKiller commented on #270
I'm getting lag with cache set to true and set to false..

[2015-11-23 08:30] games647 commented on #277
Does this plugin add any metadata to the player in order to detect the NPC?

[2015-11-23 19:59] sgdc3 commented on #276
Done

[2015-11-23 23:58] sgdc3 commented on #277
Apparently not @games647 :/
We probably should contact the author...

[2015-11-24 13:06] games647 commented on #277
@MithrandirCraft are the NPCs generated by Citizens or a similar plugin?

[2015-11-24 15:31] sgdc3 commented on #259
Should have been fixed, can you check latest dev build?

[2015-11-24 19:46] MithrandirCraft commented on #277
No, directly generated by PVPManager

[2015-11-25 18:17] MithrandirCraft commented on #275
Still not fixed on dev #419

[2015-11-25 19:32] MithrandirCraft commented on #259
Still not fixed.
![screenshot_1](https://cloud.githubusercontent.com/assets/6623704/11407508/9778a436-93b3-11e5-8f13-e6b780e5053f.png)

[2015-11-25 20:15] sgdc3 commented on #277
Fixed :)

[2015-11-25 20:31] sgdc3 commented on #275
You misunderstood how remove speed works :) If allowMovements is set to true the removeSpeed option will be ignored.

[2015-11-25 20:33] sgdc3 commented on #274
Fixed

[2015-11-25 21:08] MithrandirCraft commented on #275
Oh yeah, sorry, I didn't pay attention xD that was stupid :)

[2015-11-25 21:08] #275 closed

[2015-11-25 23:31] DNx5 commented on #257
it should be fixed now, using /logout command will hide the inventory.

[2015-11-25 23:52] sgdc3 commented on #270
Can you post your configuration and try latest authmereloaded-dev build

[2015-11-25 23:53] sgdc3 commented on #270
? thanks ;)

[2015-11-25 23:54] sgdc3 commented on #268
Can you try latest -dev build?

[2015-11-25 23:55] sgdc3 commented on #267
Can you try with cache enabled and using latest -dev build?

[2015-11-25 23:58] sgdc3 commented on #260
Retry now ;)

[2015-11-25 23:59] mariolars commented on #267
No problem. But about any effects i will be able to post smth' around 05.00 PM GMT+1.

[2015-11-26 00:00] sgdc3 commented on #249
can you try latest -dev build? ;)

[2015-11-26 11:27] sgdc3 commented on #257
@MithrandirCraft

[2015-11-26 16:34] MithrandirCraft commented on #257
Confirmed, this is fixed.

[2015-11-26 16:34] #257 closed

[2015-11-26 16:52] #274 closed

[2015-11-26 16:52] #276 closed

[2015-11-26 16:56] Xephi commented on #273
This options is needed only if you use VeryGames IPclean system

[2015-11-26 17:54] MithrandirCraft commented on #260
Still not fixed.

[2015-11-26 17:56] MithrandirCraft commented on #277
Confirmed.

[2015-11-26 17:56] #277 closed

[2015-11-26 22:02] ljacqu opened #280 "[Dev] Messages: Reload upon language check doesn't take effect"
@DNx5 With the change in commit [d7ae2a9](https://github.com/AuthMe-Team/AuthMeReloaded/commit/d7ae2a9) the method `reloadMessages()` creates a new instance it adds to `singleton` but this variable is no longer referenced inside the method `retrieve`.

Probably reloading upon language change is smart in case someone changes the config and reloads AuthMe, or do we lose reference to any Message inst

[2015-11-26 22:31] ljacqu opened #281 "Bukkit Plugins page: wrong link to plugin.yml"
@Xephi The link to plugins.yml on http://dev.bukkit.org/bukkit-plugins/authme-reloaded/pages/permissions/ leads to a broken link. You probably want either

https://raw.githubusercontent.com/Xephi/AuthMeReloaded/master/src/main/resources/plugin.yml
or https://raw.githubusercontent.com/AuthMe-Team/AuthMeReloaded/master/src/main/resources/plugin.yml

[2015-11-26 22:58] DNx5 commented on #280
should it be singleton or POJO ?
i'm trying to change it, that's why I set all classes to use ``` getMessages() ``` method in plugin instance.

[2015-11-27 00:25] DNx5 commented on #269
we should move it into a file.

[2015-11-27 06:16] ljacqu commented on #280
Personally I think singleton:
- No use case of having two separate Messages instances
- Allows the reloading behavior upon language change

If tests are failing after changes I can help with that ;)

[2015-11-27 09:15] Xephi commented on #281
Thanks

[2015-11-27 09:15] #281 closed

[2015-11-27 16:38] NickFirenzo opened #282 "[AuthMe] How to configure first letter of the password to be with CAPS for secure"
How do I set up so that the first letter of your password when you sign up to be with CAPS or a greater protection?

MUST USE FIRST LETTER WITH CAPS to register

[2015-11-27 17:13] Toshka17 opened #283 "Bug with block clickable command"
I wanted to use authme 5.1-snapshot from your site jenkins. But I found it a bug, if a player is not authorized, it can use the commands through the sign. For example through the ins and telepostsigns serversigns. Please fix it. In version AuthMe - 5.0-beta3 everything works well.

[2015-11-27 18:40] JHXSMatthew opened #284 "Timing with authme using MYSQL and no caching"
http://timings.aikar.co/?url=13525384

[2015-11-27 19:30] sgdc3 commented on #284
Can you try with caching? @JHXSMatthew

[2015-11-27 21:04] games647 commented on #87
I know this kind of late, but do you want this feature as an alternative to the current password method or really as "Two-Factor" (an additional security check besides the current ones)-Authentication.

Furthermore how should the barcode be scanned, with a browser link or a map?
An example:
![Minecraft qr map](http://i.imgur.com/9YuekuK.png)
![Google Authenticator APP](http://i.imgur.com/HWNR8SK.p

[2015-11-27 21:32] DNx5 commented on #280
Singleton should be final and the instance shouldn't be changed.
Also, we have getter and setter for messages field in AuthMe class.
then we can reload the languange change by using ``` plugin.setMessages(messagesObject); ```

[2015-11-27 21:52] DNx5 commented on #282
why?

[2015-11-27 22:56] ljacqu commented on #280
Note: for testability `final` fields are counter-productive – they cannot be mocked. Ideally use the `Wrapper` class to retrieve the Messages instance. I'll create a general Wiki page about testing over the weekend

[2015-11-27 23:21] sgdc3 commented on #283
Try now @Toshka17 ;)

[2015-11-27 23:22] sgdc3 commented on #269
What do you mean @DNx5 ?

[2015-11-28 00:16] sgdc3 commented on #268
@andris155

[2015-11-28 00:16] Toshka17 commented on #283
Thanks! All works fine ;)

[2015-11-28 00:18] sgdc3 commented on #262
It's useless with dynamic ips...

[2015-11-28 00:19] sgdc3 commented on #283
can you close the issue? ;) @Toshka17

[2015-11-28 00:25] Toshka17 commented on #283
hmhm .. now I have a new problem. when I try to log in, for me wrote that lacks permissions

[2015-11-28 00:34] #283 closed

[2015-11-28 00:36] sgdc3 commented on #283
:/ i'll fix that
In the meantime you can add permission to your default  group.

[2015-11-28 00:38] sgdc3 commented on #283
Can you create a new issje abou it? @Toshska17

[2015-11-28 00:44] Toshka17 opened #285 "Stops working permit authme.player.*"

[2015-11-28 00:52] timvisee commented on #285
The latest AuthMe reloaded build don't offer the `authme.player.*` permission anymore. Every command has it's own permission node, except for the `...help` and `...version` command.

For example, the login command for players has the permission `authme.login`.

It's easy to find out what permission is required for a specific command. This can be done using the help command. For example, for the `/

[2015-11-28 02:45] DNx5 commented on #269
mailText value

[2015-11-28 04:07] Toshka17 opened #286 "Email recovery system not worked"
http://pastebin.com/ShXsLTr2

[2015-11-28 10:46] games647 commented on #282
Isn't it better to require a mixed case password rather than just the first letter have to uppercase?

[2015-11-28 14:19] sgdc3 commented on #282
Yes I agree with games.

[2015-11-28 14:22] Xephi commented on #282
Use a regexp anyway...

[2015-11-28 14:26] Xephi commented on #282
e.g. : ^[A-Z][a-zA-Z0-9]+$

Xephi will match
xephi will not
Xephi+ will match
Xephi@ will not

[2015-11-28 15:16] sgdc3 commented on #286
Plugin's version and build number?

[2015-11-28 15:17] sgdc3 commented on #285
@timvisee we should add super nodes support anyway...

[2015-11-28 15:26] Toshka17 commented on #286
AuthMeReloaded-Dev #443

[2015-11-28 16:15] ljacqu commented on #280
I will do this today and will ask DNx5 to verify my changes

[2015-11-29 00:31] sgdc3 commented on #259
Custom fchat build: http://ci.xephi.fr/job/FactionsChat-AuthMeFix/

[2015-11-29 00:31] sgdc3 commented on #259
@MithrandirCraft

[2015-11-29 00:39] ljacqu opened #287 "[Dev] Create Wiki page about unit testing"
@ljacqu Creating an issue and "assigning" it to me so I don't forget to do it

Edit: Done – https://github.com/AuthMe-Team/AuthMeReloaded/wiki/Unit-Testing

[2015-11-29 08:36] #287 closed

[2015-11-30 15:14] #273 closed

[2015-11-30 17:26] MithrandirCraft commented on #259
Did you actually modify the Faction Chat plugin?

Just tried it, commands don't work.

[2015-11-30 20:02] #282 closed

[2015-11-30 20:03] Xephi commented on #284
If we need to call database each player move / connect / disconnect, sure it will lag :D

[2015-11-30 20:04] #268 closed

[2015-11-30 20:06] Xephi commented on #262
Nah sorry mate, it will open a large backdoor :O Session is a strange stuff and we can't enable such a feature without checking veracity of a player :/

[2015-11-30 20:06] #262 closed

[2015-11-30 23:47] sgdc3 commented on #259
Any error?
Is the plugin correctly loaded?

[2015-11-30 23:55] sgdc3 commented on #285
@timvisee

[2015-11-30 23:56] sgdc3 commented on #226
@Xephi we can close this

[2015-11-30 23:59] sgdc3 commented on #267
@mariolars Any update? ;)

[2015-12-01 00:13] mariolars commented on #267
oh.. sorry. The first thing is that during logging mysql function "isLogged" lags so badly i edited a little bit code pasting there only return false so players could at least join to server . You shoudl really check it. Second i noticed that with cache enabled makes new  registered players are not added to database. I think it is because of not properly closed server but i can't really close it c

[2015-12-01 00:17] mariolars commented on #267
I think also that u should stop using " * " when you are selecting things in mysql and "ask" only for specific column that you are intrested but it's only my opinion and maybe i'm wrong.

[2015-12-01 02:48] DNx5 commented on #267
I'm start working on it :D performance improvement.
can you try latest dev build? don't forget to backup.

[2015-12-01 03:12] DNx5 commented on #226
Xephi only disabled the MySQL internal cache, but the authme itself doesn't update the registered users list if cache is enabled in config. So, I think it's not fixed.

[2015-12-01 06:05] ludgart commented on #262
Why are u added this feature in the old version?
The new version of authme is complete Bugy for big server, he can't handle many connections.

[2015-12-01 06:49] sgdc3 commented on #262
You should check latest dev version from our buildserver ci.xephi.fr

[2015-12-01 06:53] sgdc3 opened #290 "more translate messages"
https://www.spigotmc.org/threads/authme-reloaded.62079/page-12#post-1146293

[2015-12-01 06:56] sgdc3 opened #291 "broken delayJoinMessage feature"
join message is shown both before and after the login

[2015-12-01 15:43] #290 closed

[2015-12-01 20:17] MithrandirCraft commented on #259
@sgdc3 The plugin shows up as green "loaded" on /plugins list.

However, there are some errors which I think have to do with this issue:

http://hastebin.com/cibusewafa.avrasm
http://hastebin.com/imoxiwajem.avrasm

[2015-12-01 20:58] ljacqu commented on #280
Changed Messages to be able to reload upon language setting change – the only problem is that the language setting doesn't seem to change even after `/authme reload`. Not related to this story, though, so closing.

[2015-12-01 20:58] #280 closed

[2015-12-01 21:53] sgdc3 opened #292 "Norway country code support"
Norway's country code is "NO" so the yaml parser convert it to false

[2015-12-01 23:09] xyblues opened #293 "Translate help strings"
I want to change all AUTHMERELOADED help.
Because I come from China...
I can help you translate.
thank
Like this.
/authme help [query] : View help
/authme help [查询] : 查看帮助
/authme register <player> <password> : Register a player
/authme register <玩家> <密码> : 注册一个玩家
/authme unregister <player> : Unregister a player
/authme unregister <玩家> : 反注册一个玩家

[2015-12-01 23:11] sgdc3 commented on #293
Ah! Sorry I misunderstood your request ;)

[2015-12-01 23:23] xyblues commented on #293
It's nothing.But i not need it immediately.This can come slowly

[2015-12-02 13:05] Toshka17 commented on #286
Bump?

[2015-12-02 13:24] sgdc3 commented on #286
Yeah we had to fix some other bugs first ;) Now we can look at this.

[2015-12-02 15:25] Xephi commented on #292
use simple/double quotes to force parsing

[2015-12-02 15:26] Xephi commented on #292
countries:
    - 'US'
    - 'NO'

[2015-12-02 15:26] sgdc3 commented on #292
yeah, i already told him but no answer atm

[2015-12-02 15:26] sgdc3 commented on #292
i'll add quotes by default

[2015-12-02 15:28] Xephi commented on #292
http://yaml-online-parser.appspot.com/?yaml=++++countriesBlacklist%3A%0A++++-+US%0A++++-+NO%0A%0A++++countries%3A%0A++++-+US%0A++++-+%27NO%27&type=json

[2015-12-02 15:28] #292 closed

[2015-12-02 15:29] Xephi commented on #293
It will be added into translation message in the future, it's a new feature imported from an another project that doesn't support translation :p stay tuned :)

[2015-12-02 15:36] Xephi commented on #286
Is it for all email or just your smtp server didn't respond once ?

[2015-12-02 15:39] #270 closed

[2015-12-02 15:41] Xephi commented on #254
Is it fixed ?

[2015-12-02 15:42] sgdc3 commented on #254
@Xephi Me and @DNx5 are unable to find the realname check. Where is it?

[2015-12-02 16:09] Toshka17 commented on #286
I tried to use different mailboxes (mail, yandex), the result is always the same.

Also, I tried to send the password for different mail (yandex, mail), but still the result is the same.

[2015-12-02 16:58] andris155 opened #295 "AuthMe 5.1 SNAPSHOT #182 + Chatcontrol Pro latest error"
http://pastebin.com/ExyDDzCi

[2015-12-02 17:16] DNx5 commented on #295
not chat control again :smile:

[2015-12-02 17:29] sgdc3 commented on #295
HE CAN'T USE OUR METHODS -_-

[2015-12-02 17:31] sgdc3 commented on #295
@DNx5 We should add a way to get it from our new API

[2015-12-02 17:33] DNx5 commented on #295
but our API class shouldn't named NewAPI

[2015-12-02 17:33] Xephi commented on #295
Ahah I said to do not remove these methods :P

[2015-12-02 17:36] DNx5 commented on #295
@Xephi it's still there, in AuthMe class

[2015-12-02 18:09] sgdc3 commented on #295
@Xephi Which methods? :?

[2015-12-02 18:59] ljacqu commented on #293
What would be nice if a lot is translatable is that it defaults to English if the message isn't present. Currently an error message appears, which isn't very useful for the typical user.

[2015-12-02 19:01] ljacqu opened #296 "Reloading doesn't change the language"
Seems like reloading the settings doesn't change the language (and possibly all other settings) so I'm currently checking it out. This is a follow-up of #280

[2015-12-02 20:43] #296 closed

[2015-12-03 08:12] Xephi commented on #256
What if you surround your world name with single quotes?

[2015-12-03 12:58] Kritex commented on #254
I have tried, it wasn't fixed yet

[2015-12-03 20:18] Done84 opened #297 "Session login between servers is broken. #182"
Session login between servers is broken. It works in single server but when switching servers using the same database it doesent resume session.

[2015-12-03 20:20] Done84 opened #298 "/Authme ChangePassword is bugged."
Authme Change password is bugged. When trying to change a users password i get this error:
http://i.imgur.com/eEd6SJE.png

[2015-12-03 20:32] ljacqu commented on #298
The password is positively not your username? I can't seem to reproduce this

[2015-12-03 20:54] Done84 commented on #298
Nop. Its not, even in the console this happens. With any password.

[2015-12-03 20:55] MithrandirCraft commented on #256
ForceSpawnOnTheseWorlds:
    - 'PVP-EVENT'

This has never worked either. But I am now trying this with a very recent dev build. (I doubt there will be any diference)

[2015-12-03 20:56] ljacqu commented on #298
In your configuration, under `Restriction` there is a setting `allowedPasswordCharacters`. Would you mind sharing its value? Most likely it's set to something that is too restrictive.

By default it's `allowedPasswordCharacters: '[\x21-\x7E]*'`

[2015-12-03 21:02] d1One commented on #298
allowedPasswordCharacters: '[a-zA-Z0-9_?!@+&-]*'

Strange, i never changed that, im terrible with regex

[2015-12-03 21:05] ljacqu commented on #298
Thanks for the response. `?` is a special character in regex that should probably be escaped; I wonder if it shouldn't be `\\?` or `\?`. Easiest is probably to revert to the default I posted unless you're bound to this pattern; it will allow all printable ASCII characters besides the space " " (for obvious reasons).

[2015-12-03 21:09] d1One commented on #298
Yeah usually i think its \?. Anyway i used your settings and its working now. I have no idea where that regex came from, maybe something happen during the update from the v5 to this new build and put that there.

The error message should be "ilegal characters" instead of the name thing, that might confuse new players trying to register. Thanks for your help!

[2015-12-03 21:14] ljacqu commented on #298
I'm glad that could resolve your issue – sorry for the trouble. Possibly this is the setting that was used in prior versions of AuthMe.

The code changes I referenced to this issue update the error message to something more meaningful. That was definitely a misleading error message and so it's great that you've reported it!

My guess is `\\?` because it first goes through the YAML parser that migh

[2015-12-03 22:04] DNx5 commented on #297
is bungeecord hook enabled?
[code]

[2015-12-04 09:22] Xephi commented on #297
Can you please send us your config.yml ? (remove all password (db, email))

[2015-12-04 11:44] JHXSMatthew commented on #284
@sgdc3
Cache crashes servers (I tried and it is still lag + crashes).
I got more than 2000 players per hours login/logout.
And I got 12 auth servers.
My SQL servers are not dead, I set slow query log to 1 seconds . yeah, no query costs more than 1 seconds.
Do authme scan whole tables every time players login ?
If so , how could I disable this.
If not, I would like to help to figure out this issue.

[2015-12-04 11:45] JHXSMatthew commented on #284
This should not be closed anyway.
I do think this performance issue is quit annoying.
@Xephi
I am willing to help you guys to fix this issue.

[2015-12-04 11:52] JHXSMatthew opened #299 "AsynchronousJoin null pointer exception"
That happens from time to time when more than 20 players join at the same time.

[19:49:27 WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.1-SNAPSHOT-b182 generated an exception while executing task 379
        at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.ja

[2015-12-04 11:59] JHXSMatthew commented on #284
Also, by using caching.
If player A is register on server auth1
It would need to register again on auth2
etc....

[2015-12-04 12:26] sgdc3 commented on #284
We are working on a fix

[2015-12-04 12:27] sgdc3 opened #300 "Broken database cache"
#297

[2015-12-04 13:57] Kixot14 opened #301 "wrong messages"
AuthMe version: Last build (#182)

When some player try to register, and password does not match, that show wrong message from [password_error_nick].

And missing local messages for "AuthMe help"

[2015-12-04 15:25] JHXSMatthew commented on #284
Oh! That's 100% nice.
Thanks a lot !!!!!

[2015-12-04 16:18] Xephi commented on #299
https://github.com/AuthMe-Team/AuthMeReloaded/commit/0d1cf8c7e234a5235d599792c6e072dde8f1afc1

[2015-12-04 16:18] #299 closed

[2015-12-04 16:26] Xephi commented on #301
Fixed , thanks
https://github.com/Xephi/AuthMeReloaded/commit/8336dc848eea8e19c64331100587b2d7110cc205

[2015-12-04 16:26] #301 closed

[2015-12-04 16:28] Xephi commented on #298
Sorry for that problem and i hope it's fixed now :) , i change the error message from password error nickname to password not match, thanks for report anyway

[2015-12-04 16:28] #298 closed

[2015-12-04 16:30] Xephi commented on #291
On all spigot versions ?

[2015-12-04 16:37] sgdc3 commented on #291
@KingPyro is the author of the report
![265f768afc185bf8fa5e68a318a2be27bc2db45e](https://cloud.githubusercontent.com/assets/8779252/11595024/a30bbad0-9aad-11e5-9094-45b7b889cdee.png)

[2015-12-04 16:38] Xephi commented on #291
was delayJoinLeaveMessages set as true ?

[2015-12-04 16:41] sgdc3 commented on #291
if it was false the message would not have appeared after the login.

[2015-12-04 16:41] sgdc3 commented on #291
The issue is how we remove the original message.

[2015-12-04 16:57] Xephi commented on #269
Can you please try latest dev build and tell me if the email.html works ?

Xephi

[2015-12-04 20:56] DNx5 commented on #284
@JHXSMatthew are you still using the "7 days ago" version of AuthMe?
latest dev build contains MySQL improvement. You should test it.

[2015-12-04 21:19] Done84 commented on #297
Yep.   bungeecord: true

Pastebin config:
http://pastebin.com/dLHmCNgY

[2015-12-04 22:53] Platinteufel opened #302 "Session Steal?"
Hey,
a random player joined my server today and wanted some of my players to join his server (IP was sth. like e.grappl.io:...). My players told me that this IP directs to my server, just the same as you would join by my server-IP. But if they do this, the "man in the middle" will get their account-control. I'm not sure if he catches the password (it's usually encrypted?) or if he just steals the

[2015-12-04 23:27] ljacqu opened #304 "[Dev] Future - command with unlimited arguments"
There was code dangling around to prepare to allow for commands with unlimited arguments which has been removed (it wasn't much – just a field and an `if` statement here and there that was never used). This issue is simply being created to record such an idea instead of having a TODO comment in the code that will live on for eternity. :P

Right now we have more important things to take care of in

[2015-12-04 23:38] ljacqu opened #305 "[Dev] Command refactorings - separate data from logic, avoid duplicate command names"
This is being done by me, @ljacqu, on a separate branch but I'd like to create an issue for reference (and to add to commit messages).

Currently refactoring the command area in multiple phases. This one has the following goals:

1) Separate data classes from logic classes. e.g. `CommandArgumentDescription` is a pure data class now: it's clear to see that it's just a class holding some data and re

[2015-12-04 23:45] ljacqu opened #306 "[Dev] Command refactorings - revise ExecutableCommand implementations"
This is being done by me, @ljacqu, along with #305 on a separate branch as part of a refactoring of the commands handling in AuthMe. This issue serves as a reference for the changes that will take place, and allows me to add an issue number to the commit messages that will result.

This story comprises three main goals:
1) a. Rename any executable command class names that exist twice. This is very

[2015-12-04 23:47] ljacqu opened #307 "[Dev] Minor - change CommandInitializer to only use the builder"
In `CommandInitializer`, replace all initializations of `CommandDescription` to use the builder and remove the deprecated public constructor.

[2015-12-04 23:56] ljacqu opened #308 "[Dev] SQL - Security: use prepared statements and validate SQL settings"
Maybe a story for @DNx5?

1) Ensure that we only use prepared statements for all SQL statements we run with parameters.

<del>2) Validate the settings for the column and table names (e.g. `mySQLColumnId`) to be also sure that they won't break the SQL statements (probably a regexp such as `[a-zA-Z0-9_-]+` or similar)</del> Skipped for this issue

3) Once this is done, we can remove the checks for S

[2015-12-05 00:02] ljacqu opened #309 "[Dev] SQL - Restructuring"
Maybe a story for @DNx5?

The MySQL.java class is too big. Too much is being done and it has too many responsibilities. I could imagine a solution as follows:

a. Provide some sort of generic way to wrap exception handling and statement calling if it makes sense (I can help to provide an analysis there if need be) so we don't have all of those `try`-`catch`es everywhere.

b. Create subclasses for

[2015-12-05 00:08] ljacqu opened #310 "[Dev] Define how to document breaking changes"
We recently changed the names to all permission nodes and also saw a setting be moved from the config file to a new file (for the email message). These are breaking changes I would want to see documented somewhere as a plugin user.

Provide a process to allow developers to document breaking changes so plugin users can access a list of things they have to do to upgrade (and provide an example so a

[2015-12-05 00:14] ljacqu opened #311 "[Dev] Minor - Clean prose in config.yml"
Blocked by #347

With time, config.yml accumulated a lot of awkward uppercase/lowercase combinations and typos. Clean up the config file a little so "sintax" will be "syntax" and maybe the "AllowedRestrctedUser field" will finally receive that `i` it misses so dearly :)

[2015-12-05 00:18] ljacqu opened #312 "[Dev] Settings - refactor to using enums"
Similar to the changes introduced with the permission nodes and message keys, I could imagine there being one or more enums to refer to settings, rather than accessing the instance fields directly.

I believe this could be done rather generically, defining an enum for the setting type (is it a string, an int?) and then iterating over some SettingKey enum we could choose the right way to load it. A

[2015-12-05 00:23] ljacqu opened #313 "[Dev] Look into having a util folder"
Maybe @sgdc3 can advise here.

As a developer I would like to create various helper scripts (e.g. to update the messages files with newly added keys automatically) and I'd like to share these in the AuthMeReloaded repository, **but** I don't want them to be included in the build. If we created a src/util folder, would it be possible for the files to be excluded from the build entirely? Or would th

[2015-12-05 00:30] ljacqu opened #314 "[Dev] Permissions - refactor to encapsulate more"
The `PermissionsManager` does too much.

- [x] Detecting when (and which) permissions plugin is enabled should be done in a separate class, not together with all the permission handling logic.

- [x] Each hook for a permissions plugin should be in its own class, just as we handle only one data source per class (we have a MySql class, a SQLite class, etc.). So this would also need a common interfac

[2015-12-05 00:37] ljacqu opened #315 "[Dev] Help provider and printer - misuse of string builder, too many options"
1) `HelpPrinter#printArguments()` uses a lot of String concatenation which beats the purpose of having a StringBuilder. Remove `@SuppressWarnings("StringConcatenationInsideStringBufferAppend")` and fix the issues. (`HelpSyntaxHelper` for example doesn't have this issue anymore.)

2) The method `HelpProvider#showHelp` has many options and calling it with a `showHelp(..., true, true, true, false, fa

[2015-12-05 01:10] sgdc3 commented on #313
src/tools would be less confusing

[2015-12-05 01:13] sgdc3 commented on #311
We need to break old configuration support.

[2015-12-05 01:14] sgdc3 commented on #311
We should rework the entire configuration management and structure

[2015-12-05 01:16] sgdc3 commented on #308
:+1:

[2015-12-05 02:28] smartmadio commented on #269
Testing on it :-)

[2015-12-05 05:29] smartmadio commented on #269
[Craft Scheduler Thread - 3/WARN]: org.apache.commons.mail.EmailException: Invalid message supplied
	at org.apache.commons.mail.HtmlEmail.setHtmlMsg(HtmlEmail.java:151)
	at fr.xephi.authme.SendMailSSL$1.run(SendMailSSL.java:84)
	at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftTask.run(CraftTask.java:71)
	at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:53)
	at ja

[2015-12-05 05:51] JHXSMatthew commented on #284
@DNx5
What's latest version ?
I am using #182 on JenKins.
Cache still crash server :(
I crashed about 100 times today xD .

A sample report would be :

http://paste.ubuntu.com/13694034/

[2015-12-05 06:16] DNx5 commented on #308
I'm only use preparedStatement if the input type is String.
we can remove that sql keywords check for mysql, but idk for other datasources. I will do it if I have time.

[2015-12-05 06:27] DNx5 commented on #284
@JHXSMatthew
how much users you have? because we load all the player's data at startup if cache enabled.
this is latest dev build. Don't forget to backup.
http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-05 06:56] DNx5 commented on #311
We already break servers with our laggy buggy plugin. so its okay to break much more :smile_cat:

[2015-12-05 07:06] JHXSMatthew commented on #284
Over 10000

[2015-12-05 07:31] JHXSMatthew commented on #284
@DNx5  Latest version is super  .
No crashes for now.
:)

[2015-12-05 07:56] ljacqu commented on #313
I love src/tools! If we add this folder without referencing it in the pom will it be ignored by the build? (i.e. not compiled and not included in the jar)

[2015-12-05 08:25] Toshka17 opened #316 "Ordinary players can use the command / authme unregister player"
Ordinary players can use the command / authme unregister player

My permissions:
http://pastebin.com/bDpM5sGx

Use version authme reloaded # 182 (30.11)

[2015-12-05 09:09] games647 commented on #302
Does the fake server kicks the player or can they play normal as they are on your server?

If the players types there password on the fake server, the password will be visible to the fake instance. The minecraft chat isn't encrypted.

[2015-12-05 09:27] ljacqu commented on #316
Hello,
Thanks for the report and sorry for the troubles. I remember fixing this just a few days ago but it looks like my changes got lost again. I'll report back when this is fixed.

[2015-12-05 09:53] ljacqu commented on #316
Thanks for the report. This issue is fixed starting from build 473 on the dev Jenkins:
http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-05 10:05] Toshka17 commented on #316
Thanks

[2015-12-05 10:05] #316 closed

[2015-12-05 10:11] DNx5 commented on #284
that was huge.
We need to implement a better method for caching player's data.
You can create a new issue if there was another problem using dev build.
Thanks.

[2015-12-05 11:42] sgdc3 commented on #313
Exactly, if you want we can build the classes but exclude them from the final jar.
PS: We can also create a separate jar ;)

[2015-12-05 12:42] Platinteufel commented on #302
It doesn't kick the player. You can play on my server as same as if you joined by my server-IP. I'm not sure how to prevent this.

[2015-12-05 12:43] games647 commented on #302
Maybe check the source ip.

[2015-12-05 12:48] Kixot14 opened #317 "preventOtherCase explanation"
How can i do nickname registration with case sensetive??

I mean, if player join and register with nickname [player], he shuld not be able to relog with another case [plaYEr, PLAYER, PLayEr, etc...].
And if letters [player] is registered, all another case string of this name shuld be disabled to register.
Did that real? Can you help me with that ??

[2015-12-05 13:09] Platinteufel commented on #302
It's from grappl.io - "Grappl is a tool that lets you host virtually any type of server anywhere, with no port forwarding."
But the players have a different IP if they join by fakeserver.

[2015-12-05 13:19] sgdc3 commented on #302
Players from the fake server have the same ip, right?

[2015-12-05 14:25] YouShallNevaKnow opened #318 "Strange errors on login/loguts"
05.12 09:21:23 [Server] INFO ... 3 more
05.12 09:21:23 [Server] INFO at org.bukkit.craftbukkit.v1_7_R4.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:53)
05.12 09:21:23 [Server] INFO at org.bukkit.craftbukkit.v1_7_R4.scheduler.CraftTask.run(CraftTask.java:71)
05.12 09:21:23 [Server] INFO at fr.xephi.authme.process.Management$3.run(Management.java:60)
05.12 09:21:23 [Server] INFO at fr.xephi.auth

[2015-12-05 15:12] games647 commented on #318
It happens, because you have an old version of PermissionsEx.

[2015-12-05 15:49] Toshka17 opened #319 "Permissions login not worked"
With this permissions http://pastebin.com/XHEXEwsL

Players get the message that they have no permission to use the command /login

Use latest AuthMeReloaded-Dev # 476

[2015-12-05 16:18] Platinteufel commented on #302
I think all players from the fake server have the same IP, but I'm not sure about that.
They don't have their own IP because they will be redirected to my server.

[2015-12-05 16:36] ljacqu commented on #319
Related: #285
Currently there is no support for the `.*` permissions. I will start working on this today since it's actually an important thing to enable again.

[2015-12-05 16:39] Toshka17 commented on #319
But in this file has authme.login too

[2015-12-05 17:33] Xephi commented on #312
don't do it before we split the config file ;)

[2015-12-05 17:35] Xephi commented on #317
"And if letters [player] is registered, all another case string of this name shuld be disabled to register." it's already the case :O

"I mean, if player join and register with nickname [player], he shuld not be able to relog with another case [plaYEr, PLAYER, PLayEr, etc...]. ", they'll be called to login , also it's not really a problem , isn't it?

[2015-12-05 17:40] Platinteufel commented on #302
Looked again in my server-log. All players that join by the fake-IP have the same IP:
The IP of the person that is running the fakeserver which redirects to my server.

[2015-12-05 17:40] Xephi commented on #302
He can maybe listen packet send from Minecraft client before they're send to server, by the way, the only one way to handle that is to prevent people for join the game with an another server ip than you give them,
You're server ip is still unique, and maybe you have a domain name associated to it, by the way, just tell people to do not join your server with an another ip,

Best of luck for you, bu

[2015-12-05 17:40] #302 closed

[2015-12-05 17:42] Xephi commented on #297
Can you please try with mysqlwebsite set to true ? it will force database to flush all queries

And come back to tell if it worked ;)

[2015-12-05 17:44] Platinteufel commented on #302
Okay, thank you tho, I'll try to find a solution. :)

[2015-12-05 17:45] Xephi commented on #295
I've send a message to ChatControl author, he will do the change quickly

Thanks for report anyway

[2015-12-05 17:45] #295 closed

[2015-12-05 17:48] Xephi commented on #291
https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/listener/AuthMePlayerListener.java#L179

[2015-12-05 18:07] Kixot14 commented on #317
Yeah, i understand all of that... But problem not in it! I just want to if a player registered with one CapsLock, he not be able relog with another... For what? For many reasons! As a example: Permissions is case sensitive, many ban-system is case sensitive...
So please, add option to enable that feature!

[2015-12-05 18:38] MithrandirCraft commented on #256
Yeah, it's just reseting that config to PVP-EVENT (quoteless). So it doesn't work.

[2015-12-05 19:00] MithrandirCraft opened #320 "Players can Fly (PvPManager + Authme issue)"
Steps for reproducing this problem:

1. Blank Spigot server: Install AuthmeReloaded + PvPManager (Premium maybe?)
2. Start a pvp with another player, both players will enter pvp mode, in which, if they log out, they will
be punished with an npc spawing on it's place.
3. One of the two pvp-tagged players logs out, and logs back in.
4. That player isn't asked to log in, and can fly. (wtf)

I still h

[2015-12-05 19:52] DNx5 commented on #317
so, two players with different name case can play together in the same server?

[2015-12-05 19:57] Kixot14 commented on #317
No, but if one player join with different case, he will have other perms and punishment. And not only...

[2015-12-05 20:22] ljacqu commented on #313
@sgdc3 Can you verify if I added the _tools_ folder correctly? (In case I didn't use the right structure or if it's being included by the build). If not then we can close this; thanks for all the advice!

[2015-12-05 20:26] ljacqu commented on #319
I'm sorry – I was too quick with my diagnosis of the problem. My point still stands: `*` permissions aren't currently supported (should be in the next 24 hours!) and otherwise, the permission for login is `authme.player.login`. We currently have an up-to-date permissions page at https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md but its location is subject

[2015-12-05 20:39] ljacqu opened #321 "[Dev] Create a tool to update/verify messages file"
Now that we have a `MessageKey` enum, we can easily find out which keys exist (and don't). Create a tool in the `src/tools` folder to verify that all of the different languages we offer include all keys. If not, the tool should add the key to the file with the message in English (fail if it doesn't exist in English – in that case someone did a terrible job adding a new key ;))

[2015-12-05 21:19] #318 closed

[2015-12-05 21:27] Xephi commented on #317
Can you please try with latest dev build , and turn in
settings > preventOtherCase option ?

[2015-12-05 21:28] Xephi commented on #307
Done

[2015-12-05 21:28] #307 closed

[2015-12-05 23:04] ljacqu commented on #285
Implemented support for `authme.player.*` and `authme.admin.*`; it should be available in the next dev builds.

You can find the most recent list of permission nodes at https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md (URL subject to change)

You can find our dev builds at http://ci.xephi.fr/job/AuthMeReloaded-Dev/ **though I would recommend waiting unti

[2015-12-05 23:04] ljacqu commented on #319
Implemented support for `authme.player.*` and `authme.admin.*`; it should be available in the next dev builds.

You can find the most recent list of permission nodes at https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md (URL subject to change)

You can find our dev builds at http://ci.xephi.fr/job/AuthMeReloaded-Dev/ **though I would recommend waiting unti

[2015-12-05 23:45] DNx5 commented on #291
I've set the event priority to Lowest.
I will see the result.

[2015-12-06 01:00] Kixot14 commented on #317
Of course, but at this moment latest build is build #182, right?? In this build no option PreventOtherCase

[2015-12-06 01:07] Kixot14 opened #322 "Captcha BUG"
Last login try activate captcha even if you wrote correct your password

[2015-12-06 02:16] Platinteufel commented on #246
Just tested it with the latest dev-build (487).
- No special AuthMe-Permissions (just defaults like login, register, changepassword, .. )
- default config, clean install (I've changed nothing)
- Survival-World
- Latest Multiinv, also happens with other plugins like Multiverse-Inventories or PerWorldInventory
- Doesn't happen without AuthMe installed.

https://youtu.be/MHF6BxvNlAw

-  No inventory

[2015-12-06 04:31] Xephi commented on #317
Sorry, latest build is ok now, some problem during compilation (a)

[2015-12-06 07:34] DNx5 commented on #246
it fixed? @Platinteufel

[2015-12-06 07:45] JHXSMatthew commented on #284
This issue can be close.
No problem now using Dev latest version.
Love you guys.

[2015-12-06 10:08] Xephi commented on #322
Fixed, thanks for reported

[2015-12-06 10:08] #322 closed

[2015-12-06 10:11] #284 closed

[2015-12-06 11:38] Platinteufel commented on #246
Nope, it's still not fixed in build 487.

[2015-12-06 12:38] JHXSMatthew opened #323 "kick for vip ?"
kick_forvip

I did not have permission plugin for vip in auth servers.
But when server is full, players join , then some player would be kicked and sending message "kick_forvip" in message file.

I cannot find relevant config to disable this.

[2015-12-06 13:28] ljacqu opened #324 "[Dev] Write test to ensure command description labels are lowercase"
An implicit assumption in `CommandDescription` is that all labels are lower-case. In `CommandInitializerTest`, it would be nice to have a test that checks all command labels to detect if any non-lowercase labels are added in the future.

[2015-12-06 14:08] ljacqu commented on #307
Hello @Xephi, unfortunately this cannot be closed yet. As mentioned on Gitter, part of this issue is to remove the deprecated constructor after, and it's also mentioned in the description of the issue. However, it's still in the code.

[2015-12-06 15:24] Kixot14 commented on #317
Why you not update AuthMe version on curse.com ??

[2015-12-06 18:27] sgdc3 commented on #317
We should release beta4

[2015-12-07 02:53] Kixot14 opened #325 "UnsafeUsername option"
Hi! Can you add something like refferal system?? Maybe it's can be a code, which players must enter with special register command...
Example: I used command /AuthRefCode, and after that AuthMe generated for me my referal code. Than i give that code to my friend, and invite him to server.
And after he registered with /refRegister [code] [pass] [confirmPass], i get +1 point to my refferal score. Aft

[2015-12-07 02:59] Kixot14 commented on #325
And it would be good if you've can add feature to slash messages on the below line.

Example: Text text text |n Text text

What we receive:
Text text text
Text text

[2015-12-07 09:35] DNx5 commented on #325
use ``` &n ``` to add newline

[2015-12-07 11:55] DNx5 commented on #323
are you using ``` authme.player.* ``` permission for players?

[2015-12-07 12:36] JHXSMatthew commented on #323
I do not have permission plugin installed on auth servers.
@DNx5

[2015-12-07 13:01] DNx5 commented on #323
http://ci.xephi.fr/job/AuthMeReloaded-Dev/492/

[2015-12-07 13:35] YouShallNevaKnow commented on #318
07.12 08:29:45 [Server] INFO ... 3 more
07.12 08:29:45 [Server] INFO at org.bukkit.craftbukkit.v1_7_R4.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:53)
07.12 08:29:45 [Server] INFO at org.bukkit.craftbukkit.v1_7_R4.scheduler.CraftTask.run(CraftTask.java:71)
07.12 08:29:45 [Server] INFO at fr.xephi.authme.process.Management$5.run(Management.java:81)
07.12 08:29:45 [Server] INFO at fr.xephi.auth

[2015-12-07 14:50] games647 commented on #318
It's a different error one.  It looks like you have also an old Vault version installed.

[2015-12-07 18:26] Xephi commented on #325
Maybe as a separated plugin :/

[2015-12-07 22:04] Kixot14 commented on #325
looks like restricted name for registration dont work

[2015-12-07 22:15] Kixot14 commented on #325
Can you add option to restricted for registration some players nickname??
As a option "UnsafePassword", but for nicknames. "UnsafeNicknames".

[2015-12-08 01:25] sgdc3 commented on #325
you can add them as unrestricted users with an impossible ip like google dns's one (8.8.8.8)

[2015-12-08 02:01] sgdc3 opened #326 "Projectile cast issue"
Console spam: http://pastebin.com/daHLNUn2

[2015-12-08 09:44] Xephi commented on #326
I thnik it's already fixed, i cannot find the method at line 130 :') need to update :p

[2015-12-08 09:44] #326 closed

[2015-12-08 15:19] MithrandirCraft commented on #320
Video showcasing this issue: https://youtu.be/sE7k2ypOqMI

[2015-12-08 15:24] ZeTioZ opened #327 "Essentials commands"
With the dev build 182;183;184 when we write a command of essentials in the console there is an issues in them

Here is the issues :

http://pastebin.com/41jeGsi9

[2015-12-08 17:52] zhgt opened #328 "Email recovery system version?"

[2015-12-08 17:55] zhgt opened #329 "Email recovery system error."
Hello. Notice That I use bad Inglés. My problem is I use AuthMe That Reloaded and when i try to recover my password by email (/ email recovery) presented me wrong console.

[13:18:36] [Craft Thread Scheduler - 3 / WARN]: Exception in thread "Thread Scheduler Craft - 3"
[13:18:36] [Craft Thread Scheduler - 3 / WARN]: org.apache.commons.lang.UnhandledException: AuthMe Plugin v5.0-SNAPSHOT generated

[2015-12-08 18:01] #328 closed

[2015-12-08 19:00] sgdc3 commented on #320
Ok, as PvPManager adds the "NPC" metadata to both the player and npc, if a "combat-logged" player tries to logout, he will be considered by the authme as an NPC and will skip the entire logout process... :/

[2015-12-08 19:14] #329 closed

[2015-12-08 19:19] sgdc3 commented on #329
You need to update your authme version ;)

[2015-12-08 19:32] zhgt opened #330 "Email recovery system error."
Hi. I use the latest version of Authme (492). At the time of use / recovery email me this error on the console.

[16:24:29] [Thread-10 / INFO]: UUID of player DALELAQUETEA is 1f892cc5-4003-3b79-9496-ecdfe4488560
[16:24:30] [Server thread / INFO]: DALELAQUETEA [/181.166.209.88:58248] entity id logged in with 0 at ([Lobby] 988.9795603993313, 4.0, 42.83137513566168)
[16:24:31] [Server thread / INFO]:

[2015-12-08 19:36] zhgt commented on #329
https://github.com/Xephi/AuthMeReloaded/issues/330

Thanks you !

[2015-12-08 19:53] sgdc3 commented on #320
(""""" fixed.... """"") I hope xD

[2015-12-08 19:57] sgdc3 commented on #327
@ZeTioZ Please, update to latest dev version ;) http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-08 20:34] #327 closed

[2015-12-08 20:39] ZeTioZ opened #331 "No permissions Authme-5.2-B496"
Hello, you have tell me to put the new build dev but when the player want to login in they can't because he is telling him they don't have permissions but I've give him permissions and it don't work still

How can I fix it ?

[2015-12-08 21:00] zhgt commented on #330
He added. Every time I try to change the "mailtext" in config.cfg back as it was.

[2015-12-08 21:18] MithrandirCraft commented on #320
Ok, I think this is fixed. Allthough any player can still sort of levitate before loging in (Could it be that they can only levitate, and not fly, because I have the movement radius on login set to 1?) Is this even normal?

Log in to my server and see how wacky the movement block is xD Just jump around and you will see that you can hop around inside a 1x1 block. Maybe you should consider denying p

[2015-12-09 06:56] DNx5 commented on #331
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md

[2015-12-09 09:30] #323 closed

[2015-12-09 09:34] Xephi commented on #330
Can you please try to update to latest dev build and test with the email.html file under AuthMe plugin folder ?

[2015-12-09 09:43] Xephi commented on #324
Isn't this ? : https://github.com/Xephi/AuthMeReloaded/blob/master/src/test/java/fr/xephi/authme/command/CommandInitializerTest.java#L95

[2015-12-09 10:18] #313 closed

[2015-12-09 10:44] JHXSMatthew opened #333 "Multiple Auth server sync problem."
I have 12 auth servers.
I am using latest dev build.
And I am using MySQL && Caching.

Here is the issue:
When a player join server and register successfully.
Then he quits.
Join again and send to ANOTHER register server,
He needs to register again.

In MySQL entry is not duplicate.
It may relate to cache system.

Any solution ?

Cheers

[2015-12-09 10:45] Xephi commented on #321
Just sorted messages file to help us integrate a tool like that:
https://github.com/AuthMe-Team/AuthMeReloaded/commit/c3d724ebce1e8f9187abfb74fa9677d6bf56aafe

To sort files shell script:

ls | grep -v .sort | while read file; do sort "$file" > "$file".sort; done
for file in *.sort; do mv "$file" "${file%%.sort}"; done

[2015-12-09 11:46] Xephi commented on #333
Can you send me the config.yml file for the 'FROM' server and the 'TO' server ?

[2015-12-09 13:27] DNx5 commented on #333
the server need to be restarted to update "player is registered" info in cache.

[2015-12-09 13:53] JHXSMatthew commented on #333
Sure, just a second.
They share similar config
http://paste.ubuntu.com/13858746/

[2015-12-09 13:54] JHXSMatthew commented on #333
@DNx5 Is there anyway to add cache stuff between them?
like use Plugin message via Bungee .

[2015-12-09 14:03] ElitStrikerzHD opened #334 "Authme bug cracked accounts"
i have a few bugs
with a cracked server
1. if a player players with the name: promeiner and he earns MCMMO stats they have them ok but if a other plays joins with the name ProMeiNeR in caps. then the no caps promeiner will lose all his MCMMO stats
2.You can play on cracked names. so its possible to have jordy,Jordy,JORDY,JoRdY ...etc.
3.if a player joins on my account: ElitStrikerzHD and they join

[2015-12-09 14:11] DNx5 commented on #333
you can try disabling cache for temp fix.
can't provide quick patch for this bug.

[2015-12-09 14:38] ljacqu commented on #324
You're right—thank you

[2015-12-09 14:38] #324 closed

[2015-12-09 14:40] ljacqu commented on #321
Wow, very nice! Could you add that script to the tools folder?

[2015-12-09 15:10] games647 commented on #334
I guess this is related to #317

[2015-12-09 15:40] JHXSMatthew commented on #333
@DNx5
I cannot disable cache.
Disable cache = lag
I got 100000 users remember ?

That's a contradiction .
Hope to somehow fix this in future.
Thanks anyway.

[2015-12-09 15:44] Xephi commented on #321
Done :p

[2015-12-09 20:28] ZeTioZ commented on #331
thx :)

[2015-12-09 20:28] #331 closed

[2015-12-09 22:59] zhgt commented on #330
Thank you. Now I send an email from gmail using not one but himself with another domain but then revised it.

The problem now is that I receive mail but the information (name, password, etc.)

In email.html copy as it is in mailtext No data appear me.
Dear <playername> <br /> <br /> This is your new password for AuthMe
     the server <br /> <br /> <servername>: <br /> <br /> <generatedpass> <br /

[2015-12-10 01:11] DNx5 commented on #333
have you try it with latest build?
what build number you have now?

[2015-12-10 05:28] Done84 commented on #297
Sorry for the late response. It didnt make any diference, i also updated to the latest dev version and it also doesent work. Do i need to install the AuthMeBungeeBridge for it to work?

[2015-12-10 06:05] Kixot14 opened #335 "ERROR, when use command /AuthMe register"
error log: http://pastebin.com/gaps5eDx

i use CraftBukkit version git-Spigot-2f787bd-ea28011 (MC: 1.8.3) (Implementing API version 1.8.3-R0.1-SNAPSHOT

P.S. authMe data placed on MySQL

[2015-12-10 06:21] DNx5 commented on #335
update
http://ci.xephi.fr/job/AuthMeReloaded/

[2015-12-10 06:30] ljacqu commented on #321
Thanks!

I'm almost done with an implementation of the messages checker

[2015-12-10 14:08] ElitStrikerzHD commented on #334
thnx man will take a look!

[2015-12-10 14:11] ElitStrikerzHD commented on #317
So how to fix it? players can join with the same name at my server ppl even lose their MCMMO AND inventory stuff.............
fix this!!

[2015-12-10 14:14] ElitStrikerzHD commented on #334
Didnt find any help there lol

[2015-12-10 14:32] sgdc3 commented on #333
@JHXSMatthew

[2015-12-10 14:33] sgdc3 commented on #334
Yes but we don't want to have duplicate issue reports ;)

[2015-12-10 14:34] sgdc3 commented on #297
No, you can try with authmebridge's session reset feature: https://www.spigotmc.org/resources/authmebridge-for-bungeecord.574/

[2015-12-10 17:43] Xephi commented on #333
Can you please try the latest DEV build :
http://ci.xephi.fr/job/AuthMeReloaded-Dev/

and set in your config.yml the hook to Bungee as TRUE :)

[2015-12-10 17:52] Xephi commented on #334
Can you send us more information like :
Spigot/CraftBukkit version
AuthMe version (if dev , also build)
AuthMe config file

[2015-12-10 17:59] DNx5 commented on #317
@ElitStrikerzHD Thank you!!

[2015-12-10 18:57] sgdc3 commented on #317
This is more a Bukkit bug, we can avoid it, but this will require time...

[2015-12-10 19:09] JHXSMatthew commented on #333
Yes, wait a second.

[2015-12-10 19:13] JHXSMatthew commented on #333
Should I enable cache ?

[2015-12-10 19:13] sgdc3 commented on #333
Yes

[2015-12-10 19:16] JHXSMatthew commented on #333
@sgdc3

Do I need install anything on BungeeCord ?
I still got this issue.
When I try to register on Auth1,
Then quit, Join Auth2.
Still need me to register.

[2015-12-10 19:17] sgdc3 commented on #333
No, it should work fine wothout any onther plugin.
Can you check if there are errors in the consoles?

[2015-12-10 19:18] JHXSMatthew commented on #333
[03:11:21 INFO]: [AuthMe] Enabling AuthMe v5.2-SNAPSHOT-b511

My server Ip:
222.187.254.36.

[2015-12-10 19:23] sgdc3 commented on #333
It seems to work

[2015-12-10 19:27] JHXSMatthew commented on #333
Emm..
Let me have dudes to test it .
Hang on.

[2015-12-10 19:30] JHXSMatthew commented on #333
Auth 1:
\[03:11:22 INFO]: Done (2.903s)! For help, type "help" or "?"
[03:12:12 INFO]: UUID of player cesh11a is 3e2b4bcf-7ba7-3469-ac3b-ba8149e7c94d
[03:12:12 INFO]: cesh11a[/39.68.148.158:50884] logged in with entity id 7 at ([lobby]-320.64795040868506, 69.0, 416.3562898074755)
[03:12:21 WARN]: [AuthMe] Duplicate entry 'cesh11a' for key 'username'
[03:12:21 INFO]: [AuthMe] cesh11a registered 39.

[2015-12-10 19:48] sgdc3 commented on #333
@Xephi

[2015-12-10 19:48] Xephi commented on #333
This : [03:27:38 WARN]: [AuthMe] Duplicate entry 'cesh11a' for key 'username' -> you got an error in your mysql database

Can you please try with latest devbuild on each server and tell me ?

[2015-12-11 00:11] JHXSMatthew commented on #333
@Xephi
I register once. logically there should be an entry storing into database.
Then I change to auth2, this "error" pop up.
It is NOT MySQL error.

Trying Building 515.

[2015-12-11 00:13] JHXSMatthew commented on #333
Auth1

[08:12:14 INFO]: Done (1.511s)! For help, type "help" or "?"
[08:12:36 INFO]: UUID of player memega is 3b174f3e-8818-391e-82b1-1e0af4611ee8
[08:12:36 INFO]: memega[/39.68.148.158:40377] logged in with entity id 7 at ([lobby]-320.64795040868506, 69.0, 416.3562898074755)
[08:12:44 INFO]: [AuthMe] memega registered 39.68.148.158

Auth2

[08:12:17 INFO]: Done (1.845s)! For help, type "help" or

[2015-12-11 00:17] Xephi commented on #333
oh , sorry, can you actually just test for login ? i haven't implement the registration system yet :')

[2015-12-11 00:18] JHXSMatthew commented on #333
Ops, hang on . a second.

[2015-12-11 00:26] Xephi commented on #333
Yeah they should be forwarded to another servers :/ I'll take a look

[2015-12-11 00:53] JHXSMatthew commented on #333
Awesome.  @Xephi

[2015-12-11 07:49] Xephi commented on #333
Can you please try the latest dev build please?

[2015-12-11 12:06] JHXSMatthew commented on #333
@Xephi  today is Friday, I cannot stop any auth server. I would try latest version later in midnight, (now 20:00)

[2015-12-11 22:00] JHXSMatthew commented on #333
Build #517

Not working.
Nether login nor register.

IP: play.mcndsj.com

[2015-12-11 23:21] sgdc3 commented on #333
@Xephi @DNx5

[2015-12-12 00:59] JHXSMatthew commented on #333
Hang on,
I was wrong.
For latest version BungeeCord hook works.
But I am using RedisBungee to simulate two BungeeCord instances.
Thus it does not work on RedisBungee

Sorry, I am wrong about BungeeCord support.
btw, Could you add RedisBungee support in future ?
Cheers.

You guys are awesome to keep developing AuthMe.
:)

[2015-12-12 08:26] ElitStrikerzHD commented on #334
version: Spigot 1.8.8 (auto update)
Authme version: Authme-5.0-SNAPSHOT.jar

Config authme=
DataSource:
  mySQLColumnName: username
  mySQLTablename: authme
  mySQLUsername: authme
  backend: file
  mySQLColumnLastLogin: lastlogin
  mySQLDatabase: authme
  mySQLPort: '3306'
  mySQLColumnIp: ip
  mySQLHost: 127.0.0.1
  mySQLColumnPassword: password
  mySQLPassword: '12345'
  caching: true
  mySQLla

[2015-12-12 08:30] DNx5 commented on #334
@ElitStrikerzHD you are not using latest version

[2015-12-12 11:33] sgdc3 commented on #333
This is our fault, it should be compatible, we need to check our code ;)

[2015-12-12 12:43] DNx5 commented on #333
@sgdc3 what code? the redisbungee support is not implemented yet.

[2015-12-12 12:45] sgdc3 commented on #333
I know, but @Xephi said that it should work fine with the normal bungee messaging system

[2015-12-12 13:06] ElitStrikerzHD commented on #334
Okay thnx DNx5 :D so wich 1 i need? authme 5.0 beta3?

[2015-12-12 13:07] sgdc3 commented on #334
No, this one: http://ci.xephi.fr/job/AuthMeReloaded-Dev/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT.jar

[2015-12-12 13:08] ElitStrikerzHD commented on #334
ok

[2015-12-12 13:08] ElitStrikerzHD commented on #334
will this reset my player data and passwords?

[2015-12-12 13:15] DNx5 commented on #334
you should backup your server before update any plugin.

[2015-12-12 13:19] DNx5 commented on #334
https://github.com/AuthMe-Team/AuthMeReloaded/commit/2fc55c5e7f55edfec19dc2055cc96b1ed5021072

[2015-12-12 13:20] DNx5 commented on #334
@ElitStrikerzHD please redownload it if you've downloaded the plugin.

[2015-12-12 13:21] DNx5 commented on #317
https://github.com/AuthMe-Team/AuthMeReloaded/commit/2fc55c5e7f55edfec19dc2055cc96b1ed5021072

[2015-12-12 13:23] DNx5 commented on #297
try latest dev build, **don't forget to backup**
http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-12 13:24] ElitStrikerzHD commented on #334
???

[2015-12-12 13:24] ElitStrikerzHD commented on #334
what do you mean?

[2015-12-12 13:28] DNx5 commented on #334
I just updated the plugin, 10 min ago.

[2015-12-12 13:34] ElitStrikerzHD commented on #334
this doesnt fix anything

[2015-12-12 13:34] ElitStrikerzHD commented on #334
now you can join with 2 accounts on the server
and if i do /mcstats on the other account the stats will apear LOL

[2015-12-12 13:34] ElitStrikerzHD commented on #334
this one: http://ci.xephi.fr/job/AuthMeReloaded-Dev/lastSuccessfulBuild/artifact/target/AuthMe-5.2-SNAPSHOT.jar?

[2015-12-12 13:42] ljacqu opened #336 "[Dev] Tools: Create task to generate a page with all commands"
Akin to the permissions task, it would be nice to be able to generate a page with all current commands. This should be easy since we can just iterate over the data from CommandInitializer

[2015-12-12 13:42] ElitStrikerzHD commented on #334
Well now i an not join anymore with ElitStrikerzHD.........
its case sensitive XD

[2015-12-12 13:44] ljacqu opened #337 "[Dev] Test that plugin.yml has up-to-date permission nodes"
CommandConsistencyTest checks that plugin.yml lists the same base commands as defined in CommandInitializer.
- Rename CommandConsistencyTest to PluginYmlConsistencyTest (or similar)
- Create a test that checks the listed permission nodes in plugin.yml against the existing ones

[2015-12-12 13:44] ElitStrikerzHD commented on #334
Now it even has permissions...
i dont have the login permission LoL

[2015-12-12 13:46] ljacqu commented on #315
@ljacqu Currently working on this during command refactoring

[2015-12-12 13:52] ljacqu commented on #321
Sorting is not done — do we need it?
Nonetheless, I'd like to keep it open. I want to try if I can load it with a Yaml reader instead. This would allow comments and new lines to be handled better. My solution is not cool in that I had to replace new lines with `&n`

[2015-12-12 13:54] ljacqu opened #338 "[Dev] Create test to verify consistent argument count"
Some CommandDescription objects link to the same ExecutableCommand instance. Important to check that they all have the same argument count as it's an assumption we're making within the command implementations

[2015-12-12 13:55] sgdc3 commented on #334
We changed permissions nodes: https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md

[2015-12-12 13:55] sgdc3 commented on #334
@ElitStrikerzHD

[2015-12-12 13:56] sgdc3 commented on #297
@Done84

[2015-12-12 13:56] sgdc3 commented on #317
Well done @DNx5  :)

[2015-12-12 13:56] ElitStrikerzHD commented on #334
well 1 problem i tried it and it doesnt work anymore
but now it says you should join with TImothy2001
the account i tried with lol but the real acccount is timothy2001
and now he cant join anymore =p

[2015-12-12 14:10] DNx5 commented on #334
@ElitStrikerzHD http://ci.xephi.fr/job/AuthMeReloaded-Dev/524/

[2015-12-12 14:19] ElitStrikerzHD commented on #334
????

[2015-12-12 14:19] ElitStrikerzHD commented on #334
whats that? lol

[2015-12-12 14:20] sgdc3 commented on #334
?

[2015-12-12 14:20] ElitStrikerzHD commented on #334
whats the link @DNx5  sended?

[2015-12-12 14:22] sgdc3 commented on #334
Our devbuild server ;)

[2015-12-12 14:22] ElitStrikerzHD commented on #334
thats a link for authme download

[2015-12-12 14:22] DNx5 commented on #334
whatever :unamused:

[2015-12-12 14:22] ElitStrikerzHD commented on #334
everything is good but 1 problem pls help me with this

[2015-12-12 14:23] ElitStrikerzHD commented on #334
ok 2 problems:
1. whats this?

12.12 09:23:05 [Disconnect] User com.mojang.authlib.GameProfile@4ad2046e[id=415b6d8b-671c-329e-8c95-756417d92f1b,name=MarcelAlKenany,properties={},legacy=false] (/83.162.194.15:50924) has disconnected, reason: You are not whitelisted on this server!
12.12 09:23:05 [Server] INFO Disconnecting com.mojang.authlib.GameProfile@4ad2046e[id=415b6d8b-671c-329e-8c95-756417d92

[2015-12-12 14:24] sgdc3 commented on #334
..........
Don't use per world plugin with AuthMe!

[2015-12-12 14:24] sgdc3 commented on #334
At least allow it on the entire server!

[2015-12-12 14:24] DNx5 commented on #334
i have fix that error, download it.

[2015-12-12 14:25] ElitStrikerzHD commented on #334
download what DNx5?

[2015-12-12 14:25] ElitStrikerzHD commented on #334
and my last issue:
my account timothy2001 is my rela account but i tried to join with TIMothy2001
but now it sayas join with TIMothy2001 instead so i can never join witth timothy2001 again :/

[2015-12-12 14:25] DNx5 commented on #334
http://ci.xephi.fr/job/AuthMeReloaded-Dev/524/artifact/target/AuthMe-5.2-SNAPSHOT.jar

[2015-12-12 14:26] sgdc3 commented on #334
@DNx5 Yeah, we need to check how to determinate the real name

[2015-12-12 14:27] ElitStrikerzHD commented on #334
btw i can't remove perworldplugins i need it

[2015-12-12 14:27] DNx5 commented on #334
@ElitStrikerzHD you should update your RealName column in the database

[2015-12-12 14:28] sgdc3 commented on #334
@ElitStrikerzHD can you post your "PerWorldPlugin" configuration?

[2015-12-12 14:29] ElitStrikerzHD commented on #334
# This config controls what plugins work on certain worlds.
# Example
# limit:
#   WorldEdit:
#     - world
#     - world_nether
#   Essentials: []
# This will make it so worldedit will only work in world & world_nether, meaning in the end it is not usable.
# When there is no worlds in the list it will allow it for any worlds, in this example allowing all worlds.
# Whenever a plugin is added, this

[2015-12-12 14:29] DNx5 commented on #334
this...

[2015-12-12 14:29] sgdc3 commented on #334
:/

[2015-12-12 14:30] ElitStrikerzHD commented on #334
xD thats perworldplugins

[2015-12-12 14:30] ElitStrikerzHD commented on #334
each world has his own Plugs.....
SkyBlocck needs stuff to be disabled :D

[2015-12-12 14:30] sgdc3 commented on #334
AuthMe: []
AuthMe should work fine...

[2015-12-12 14:31] ElitStrikerzHD commented on #334
i know ;-)

[2015-12-12 14:32] DNx5 commented on #334
if you don't want to have uuid issue and can login with other name case, you should set your server to
``` online-mode=false ```

[2015-12-12 14:32] ElitStrikerzHD commented on #334
No thnx i need a cracked server

[2015-12-12 14:33] ElitStrikerzHD commented on #334
my server = offline

[2015-12-12 14:33] ElitStrikerzHD commented on #334
its cracked XD

[2015-12-12 14:35] DNx5 commented on #334
in offline mode server, uuid is determined by player's name (case sensitive). We can't change it instead preventing player join with another name case.

[2015-12-12 14:35] ElitStrikerzHD commented on #334
okay!

[2015-12-12 15:51] JHXSMatthew commented on #333
https://minecraft.minimum.io/wiki/RedisBungee/API

This is the RedisBungee API.
Hope this will help you guys.

Thanks a lot !

[2015-12-12 15:58] MithrandirCraft opened #339 "Some players can't move on login"
I don't know exactly what causes this, but it seems that some new players that register for the first time, can't move. They can move once they relog in though.

This could be due to the speed removal effect, which is already quite buggy (And should be improved). It could be being maintained after they log in.

I can't detail much more, as I'm already using some really shittly methods for login, i

[2015-12-12 16:09] DNx5 commented on #333
hey @JHXSMatthew could you test latest dev build?
I hope it fixed the issue.

[2015-12-12 16:21] ElitStrikerzHD commented on #334
Players can still talk and move when they are not logged in? dafuck?

config:

DataSource:
  backend: sqlite
  caching: true
  mySQLHost: 127.0.0.1
  mySQLPort: '3306'
  mySQLUsername: authme
  mySQLPassword: '12345'
  mySQLDatabase: authme
  mySQLTablename: authme
  mySQLColumnId: id
  mySQLColumnName: username
  mySQLColumnPassword: password
  mySQLColumnEmail: email
  mySQLColumnLogged: isLogge

[2015-12-12 17:04] JHXSMatthew commented on #333
@DNx5
What is the issue ?
For BungeeCord or RedisBungee ?

BungeeCord should work since Loign feature works.

[2015-12-12 20:14] ElitStrikerzHD commented on #334
they login and it says already logged in but they can't move

[2015-12-12 20:30] DNx5 commented on #339
@MithrandirCraft could you include the build number?

[2015-12-12 20:42] Dimatert9 opened #340 "How use a bungeecord send server after login/register?"
https://github.com/AuthMe-Team/AuthMeReloaded/commit/d01713a2f59cf7a313eb8d8874b735164daf75f9

How use it? How configure a Lobby server?

[2015-12-12 20:48] Dimatert9 opened #341 "Make a converter faster."
Its too slow. it make a 100 accounts for 2-3 sec.
![image](https://cloud.githubusercontent.com/assets/8667294/11763820/5b1e5806-a122-11e5-934c-b5db37a96587.png)

[2015-12-12 20:50] kingpyro commented on #341
You'd only do a conversion once. Should be happy their even is a conversion...

[2015-12-12 21:55] ljacqu commented on #341
We have eight different converters. Which one is this about?

[2015-12-12 22:02] Dimatert9 commented on #341
converter sqltoflat

[2015-12-12 22:10] kingpyro commented on #291
@DNx5  @sgdc3  Tested on build 185 on the dev server and now the result is that the vanilla message ( First one ) is still there but the one for after login is now not working. ( delayJoinLeaveMessage:True )

[2015-12-12 22:17] ljacqu commented on #341
For any dev reading this.
Looking at the code I would suggest a `saveAuth(Iterable<PlayerAuth> auths)` method on `FlatFile` to save multiple _PlayerAuth_ instances with the same writers. Opening buffers for each entry is grossly inefficient, especially when we're talking about thousands of entries.
Additionally, I wonder how much of an impact it would have to replace `if ((i % 100) == 0)` to `if (

[2015-12-12 23:23] sgdc3 commented on #341
sqltoflat converter?! WE SHOULD REMOVE IT

[2015-12-12 23:24] sgdc3 commented on #341
FlatFile support is deprecated, it should be readonly. (r/w only before a complete flat to sql convertion)!

[2015-12-12 23:25] sgdc3 commented on #340
No this isn't a "send to" feature. We can add it anyway if you want ;)

[2015-12-13 00:46] DNx5 commented on #309
I still don't know what should I do with subclasses thing.

[2015-12-13 01:51] DNx5 commented on #334
I hope you have restarted the server after updating AuthMe.

[2015-12-13 04:14] Toshka17 opened #342 "Can't find the email.html file"
I can not fine this file in my Authme Foilder (latest dev build)

[2015-12-13 09:24] Xephi commented on #342
This file is use in replace of mailText variable in config.yml, the entire email.html is read and send to a player when he use /email recovery

[2015-12-13 09:27] ljacqu commented on #315
Commit with ref. to this issue is not the final solution but any further changes will be handled within #315 or its successor issue, so closing.

[2015-12-13 09:27] #315 closed

[2015-12-13 09:33] ljacqu commented on #309
I'll get back to you on Tuesday. I need some time to analyze this huge class. :P

[2015-12-13 10:00] Xephi commented on #309
I have a dump of a Xenforo database if we need it to implement xenforo correctly

[2015-12-13 11:13] Dimatert9 commented on #341
i need flat file to wipe accaunts.

[2015-12-13 11:33] sgdc3 commented on #341
What do you mean?

[2015-12-13 11:37] Dimatert9 commented on #341
I want remove all accaunts without pex groups.(Default group users)

[2015-12-13 11:38] sgdc3 commented on #341
Why do you need to convert the database to flatfile?

[2015-12-13 11:38] sgdc3 commented on #341
You can do it with mysql and sqlite

[2015-12-13 11:39] Dimatert9 commented on #341
How?

[2015-12-13 11:40] sgdc3 commented on #341
Can you describe how you wipe the flatfile ?

[2015-12-13 11:43] Dimatert9 commented on #341
From bukkit plugin get donators names, and with utilite remove other users from file.

[2015-12-13 11:48] sgdc3 commented on #341
You can edit any .sql file with programs like http://www.sqlabs.com/sqlitemanager.php

[2015-12-13 11:50] Dimatert9 commented on #341
Ok. How i can convert from sql to mysql? Authme.db ----> authme.sql

[2015-12-13 11:52] sgdc3 commented on #341
Authme.sb is the FlatFile database, authme.sql is the sqlite database, mysql is stored only on the mysql server!

[2015-12-13 11:52] sgdc3 commented on #341
At the moment, what's your database backend? Mysql or Sqlite?

[2015-12-13 11:53] Dimatert9 commented on #341
Sqlite

[2015-12-13 11:53] sgdc3 commented on #341
Ok

[2015-12-13 11:53] sgdc3 commented on #341
How many .sql file do you have in authme directory?

[2015-12-13 11:54] Dimatert9 commented on #341
0

[2015-12-13 11:54] sgdc3 commented on #341
Impossible

[2015-12-13 11:54] Dimatert9 commented on #341
![image](https://cloud.githubusercontent.com/assets/8667294/11766825/04905794-a1a1-11e5-9ca1-dba7eec90e93.png)

[2015-12-13 11:55] sgdc3 commented on #341
Wait, right, we save sql as authme.db xD sorry.

[2015-12-13 11:55] sgdc3 commented on #341
.sql are the export to mysql

[2015-12-13 11:56] Dimatert9 commented on #341
How i can make .sql from .db?

[2015-12-13 11:56] sgdc3 commented on #341
wait, you don't need to do it

[2015-12-13 11:57] sgdc3 commented on #341
you need to open your authme.db with a sqlite management software

[2015-12-13 11:58] sgdc3 commented on #341
wait, can you post your configuration?

[2015-12-13 11:58] Dimatert9 commented on #341
I want move authme database to mysql.

[2015-12-13 12:12] Dimatert9 commented on #340
add this please.

[2015-12-13 12:16] Dimatert9 commented on #341
I have donators users list. How i can wipe others accaunts with sql command?

[2015-12-13 12:48] DNx5 commented on #340
@sgdc3 no, restructure those damn Settings before adding more feature.

[2015-12-13 13:30] ElitStrikerzHD commented on #334
i did :/.
and btw now it doesnt show ElitStrikerzHD left the game!
only ElitStrikerzHD joined the game :p help me lol

[2015-12-13 13:47] ElitStrikerzHD commented on #334
it is really bugy
my new players they all need to
/register [password] [password]
then it registers them but they can't move i think they do can talk :p
but when they logout and join again
the are logged in lol or they can /login then and then it works
and after that it nevers seems to be happening only with new ppl

[2015-12-13 13:50] MithrandirCraft commented on #339
wow sorry, I thought I had already answered this: build nº 494

[2015-12-13 13:52] NickFirenzo opened #343 "Help about Authme PURGE in config.yml"
Hi I need help about PURGE in config.yml at authme.
I'd like to make if player is not joined on the server last 20-30 days his account will be deleted.
Is it purge option?
IF daysBeforeRemovePlayer: 60, person who is not joined last 60 days will be deleted from the database?

Purge:
  useAutoPurge: true
  daysBeforeRemovePlayer: 60
  removePlayerDat: true
  removeEssentialsFile: true
  defaultWorl

[2015-12-13 15:14] DNx5 commented on #334
related to #339

[2015-12-13 15:21] DNx5 commented on #343
@NickFirenzo Yes!

[2015-12-13 15:41] hsombini commented on #339
I can relate!

Also it happens on bungeecord using AuthMeBungeeBridge, players who changes the server cannot move!

[2015-12-13 15:42] #343 closed

[2015-12-13 15:48] sgdc3 opened #344 "Deprecate the FlatFile backend"
- remove all the X to FlatFile converter
- on first start convert the entire database to sql (kick players until the convertion is finished)

[2015-12-13 15:54] Toshka17 commented on #342
[AuthMe] Your email.html config contains some error and cannot be send!

Where i can find this file?

[2015-12-13 16:13] DNx5 commented on #339
http://ci.xephi.fr/job/AuthMeReloaded-Dev/525/artifact/target/AuthMe-5.2-SNAPSHOT.jar

[2015-12-13 18:52] NickFirenzo opened #345 "I need help about delete accounts from DATABASE"
I need help about database authme which you saved all that poop is registered. I want to delete a part of the accounts and some to stay, whether they could somehow, by some accounts command as the database and the rest remain to be deleted? With Purge it can not do because I want to leave a few accounts.

[2015-12-13 20:20] ljacqu commented on #344
I don't understand the second point – what database type should be converted to SQL?

[2015-12-13 22:25] sgdc3 commented on #344
Atm when the backend is set to flatfile we send warning messages saying that an automated conversion have been scheduled. After a restart if the convertion is finished, the backend option is set to sqlite.

[2015-12-13 22:27] sgdc3 commented on #344
Now with the canConnect boolean value we can allow connections only after the conversion is finished.

[2015-12-13 22:27] sgdc3 commented on #344
So flatfile will be completely deprecated

[2015-12-13 22:28] sgdc3 commented on #344
We need also to add new converters, like the x to sqlite one.

[2015-12-14 05:32] ljacqu commented on #344
Thanks. So it's "convert the database to sqlIte"

[2015-12-14 15:25] #338 closed

[2015-12-14 16:24] ljacqu commented on #310
https://github.com/AuthMe-Team/AuthMeReloaded/wiki/Breaking-Changes

[2015-12-14 16:24] #310 closed

[2015-12-14 17:16] zhgt opened #346 "Email.txt detected brackets"
Hi. The problem that occurs to me is that when a user receives an email to retrieve your password (/ email recovery) this does not display the password, either the server name or user name (not displayed <generatedpass> for example).

The console does not appear to errors because the email is sent successfully.

[2015-12-14 17:35] NickFirenzo commented on #340
AuthMe plugin install only on lobby(hub) server. On others spigot servers change port, set 23781 or etc

[2015-12-14 18:50] sgdc3 commented on #344
yeah and set canConnect to false until it is finished

[2015-12-14 19:15] ljacqu commented on #346
Are you using newer versions where the email is defined in email.html already? (Not in config.yml)
If so, please make sure that you've adjusted your tags accordingly. It's no longer ´<playerName>´ but ´%playerName%´.
You can see the default here: https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/resources/email.html

[2015-12-14 19:17] ljacqu commented on #345
What database type are you using? If it's a SQL one I would suggest running a SQL command on your DB. It would be hard to generalize the behavior you want to a command.

[2015-12-14 19:20] ljacqu commented on #319
I'm going to assume that this has been solved. If this is not the case, kindly open another issue with  a reference to this one.

[2015-12-14 19:20] #319 closed

[2015-12-14 19:21] ljacqu commented on #285
I'm going to assume that this has been solved. If this is not the case, kindly open another issue with a reference to this one.

[2015-12-14 19:21] #285 closed

[2015-12-14 20:08] ljacqu commented on #336
Task doesn't run yet -- Bukkit classes are included somehow and it doesn't know how to load that from the tools task

[2015-12-14 20:22] sgdc3 commented on #342
Should have been fixed, try latest dev build ;) http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-14 20:25] sgdc3 opened #347 "[DEV] Clean and Rework the entire Configuration"

[2015-12-14 20:26] sgdc3 commented on #347
#90

[2015-12-14 20:27] sgdc3 commented on #347
#311

[2015-12-14 20:36] MithrandirCraft opened #348 "Player logout coordinates do not correspond with login coordinates"
It seems that when some players log out, their position is reset to some RANDOM POSITION.

@Xephi Indicated to me that this issue could be solved by kicking all players before a restart, but that was on a time that I though that this was happening during restarts. Now I've noticed it happens whenever certain players log out.

-----------------------------------

Current authme version: 5.2-SNAPSHO

[2015-12-14 20:46] ljacqu commented on #312
Issue blocked by #347

[2015-12-14 20:53] ljacqu opened #349 "[Dev] Messages: Store the tags the messages have"
Certain keys in the translatable messages have special codes that are replaced with actual content, e.g. `THE_CAPTCHA`.

1. Save what tags are possible for each message (probably a `String...` arg to the enum constructor)
2. Create a test to ensure that the tags are present in all languages' message (if some can be optional, add an exception list in the test). Either a regular JUnit test or a tool

[2015-12-14 21:32] NickFirenzo commented on #345
I'm using SQL on SHA256 alogrithm and I want to delete a part of account, but other part stay in database. Any command or etc?

[2015-12-15 00:07] ElitStrikerzHD commented on #334
so ya i will need to have some help with that

[2015-12-15 01:05] sgdc3 commented on #345
Of all the accounts? Describe what do you want to do ;)

[2015-12-15 03:26] Toshka17 commented on #342
Unfortunately, nothing changed (sorry for my English)

[2015-12-15 06:55] ljacqu commented on #345
You only want to delete a part of the accounts? Like all of their IP addresses for example?

[2015-12-15 08:44] DNx5 commented on #333
Multi server sync problem. How is going now?

[2015-12-15 08:48] #250 closed

[2015-12-15 13:12] NickFirenzo commented on #345
My serevr has ranks in large numbers over 100 and now not to register new I want to stay just as they normally ranks those in GroupManager and other players(who is not in users.yml, who is members) can be removed from the base, as it can afford to do? I know GroupManager AuthMe with no connection.

[2015-12-15 16:50] d1One commented on #297
Yes. Its fixed int he latest #531 dev version. Thanks.

[2015-12-15 17:12] NickFirenzo opened #350 "Authme recovery password via email[Need Help]"
Hi,
I need help on how to configure the players to be able to regain their password via email, I have a question. If your account is hacked and the hacker a player plays from that account and the correct player wants to return the password then how could you return? And how to connect to can afford returns through email?

[2015-12-15 17:28] #350 closed

[2015-12-15 17:31] NickFirenzo opened #351 "Email recovery, getting an error in console[Help please]"
Hi, I need help. I configure in config.yml at authme for email. I add my email adress with /email add adress@gmail.com and I logged out, again join and type /email recovery adress@gmail.com and getting console error. Can you tell me how to fix this error? Thanks :)
config.yml: http://pastebin.com/UDch4V1R
Error: http://pastebin.com/y7yKExk9
On chay say: Recovery email sent, but I getting console e

[2015-12-15 18:14] #351 closed

[2015-12-15 18:14] NickFirenzo opened #352 "Authme Console SPAWM Error[DRIVER]"
Hi, I need help about authme, I getting and error in console.

15.12 19:13:08 [Server] ERROR Connection failed.
15.12 19:13:08 [Server] ERROR Unknown SQL driver 'sql'. Please use one of these drivers: [mysql, pgsql, sqlite, h2]
15.12 19:12:08 [Server] ERROR Connection failed.
15.12 19:12:08 [Server] ERROR Unknown SQL driver 'sql'. Please use one of these drivers: [mysql, pgsql, sqlite, h2]
15.12 1

[2015-12-15 18:30] NickFirenzo commented on #352
And how to disable command
/email change Old New
Only
/email recovery
/email add been availible, /email change how to disable?

[2015-12-15 19:44] MithrandirCraft commented on #339
I would call this fixed unless I find someone crying about it on my server.

I can't try it myself, because I've limited my manual registry ammount, and don't like adding random emails to the login xD (Sorry about that)

Feel free to close this ticket, I will reopen it if I find out this happening again.

[2015-12-15 20:34] zhgt commented on #346
That was the problem, thank you very much!

[2015-12-15 20:44] zhgt opened #353 "Email Recovery. Own domain"
I think I made 3 ticket and email but hey, I want to finish. The problem is missing me fix it:

I am not allowed to send emails from your own domain (@ imperiummc.com.ar) but from a @ gmail.com if I may.

When I use an @ gmail.com I use port 25. smtp.gmail.com and works perfect.

When I use an email with own domain, in this case @ imperiummc.com.ar not work for me, I contact people who also use th

[2015-12-15 21:12] #352 closed

[2015-12-15 21:17] NickFirenzo opened #354 "Email RECOVERY password via E - MAIL"
Hi, I configure in config.yml to recovery password via email but getting an error, please tell me how to fix :(

Error: http://pastebin.com/wH7hQqMG
AuthMe config.yml[EMAIL]: http://pastebin.com/fntTjkTh
AuthMe config.yml: http://pastebin.com/4ansUTi3

Before 3-5 hours worked fine without problem I getting an email, but now I getting an error

[2015-12-15 23:06] sgdc3 commented on #297
@Done84 Can you check this out? ;)

[2015-12-15 23:08] #346 closed

[2015-12-15 23:10] sgdc3 commented on #352
Why did you close that?

[2015-12-15 23:12] sgdc3 commented on #353
Have you tried to send an email from gmail to our domain? Maybe it's a dns or maillserver issue.

[2015-12-15 23:45] Done84 commented on #297
Yes. Its fine, for some reason i have 2 account on github.

[2015-12-16 00:45] JHXSMatthew commented on #333
Can be closed for BungeeCord.
Did you guys implement RedisBungee stuff ?

[2015-12-16 02:51] zhgt commented on #353
By sending an email from agmail aimperiummc is sent correctly.

Using a mail to sendgmail works.
Using aimperiummc mail is not working.

Mails to other games that domain is used and the local SMTP 127.0.0.1 is used and it works, but not authme.

[2015-12-16 02:55] zhgt commented on #354
Change the port to 25.

[2015-12-16 05:12] DNx5 commented on #333
you should test it. just update authme on every bukkit server.

[2015-12-16 05:21] ljacqu commented on #352
Probably had a wrong config value, and the second was presumably a permissiobns issue

[2015-12-16 12:36] sgdc3 commented on #297
Lol :P

[2015-12-16 12:36] #297 closed

[2015-12-16 13:12] NickFirenzo commented on #354
No changes, again some error

@zhgt

[2015-12-16 13:20] NickFirenzo commented on #354
When will be fixed email recovery?

[2015-12-16 13:24] sgdc3 commented on #254
@Kritex Try latest dev build ;)

[2015-12-16 15:34] Kritex commented on #254
It doesn't work in 1.8.7 spigot my dear friend.

[2015-12-16 17:39] andris155 opened #355 "Remove fly in join why?"
Authme 5.2 build:185 Snapshot remove fly mode join.
How to disable?

[2015-12-16 17:40] ljacqu commented on #254
this is my plan for this evening

[2015-12-16 18:35] Xephi commented on #353
Does your smtp support ssl ?

[2015-12-16 18:54] andris155 opened #356 "removespeed: true = Nocheatplus fly hack. (blocked ncp move) first registered players."
Authme 5.2 build:185 Snapshot

[2015-12-16 19:46] #349 closed

[2015-12-16 20:10] MithrandirCraft commented on #339
Ok, big NOPE.

This issue is still happening, and it's not only happening on registry, it also happens to random players on login.

It's curious, because they can't move a single inch. Maybe you should learn from whatever is happening to them in order to apply complete inmobility before login xDD

[2015-12-16 21:18] sgdc3 commented on #355
Can you post your config.yml

[2015-12-16 21:20] sgdc3 commented on #356
Can you describe an example scenario? Who is affected? Before or after the login?

[2015-12-16 21:42] ljacqu commented on #254
@Kritex
I just tried with the latest build with both sqlite and mysql. If I register a user and try to join with a different uppercase / lowercase combination I may not join. Are you using another database type?

It might be possible that we had a bug where we didn't properly save the names as all lowercase. If you look at your database you should see a "realname" column with the usernames in all

[2015-12-16 21:53] andris155 commented on #355
http://pastebin.com/BF9cYfwY

[2015-12-16 22:38] andris155 commented on #355
https://youtu.be/diCVKZn6Sxk
Fly remove: 2:00

[2015-12-16 22:39] andris155 commented on #356
https://youtu.be/diCVKZn6Sxk

[2015-12-16 23:46] sgdc3 commented on #356
ok fixed 50%: Now newbies will be able to walk without quitting and relogging. We still need to fix the ncp issue.

[2015-12-17 01:48] smartmadio commented on #269
I‘ve put email.html in authme folder,and it can start up now.But,still,there's ??????????????? instead of Chinese charactors in the email I received.(Tested on adding '-Dfile.encoding=UTF-8' or not adding '-Dfile.encoding=UTF-8' and changing email.htm to 'UTF-8 no bom' or GBK .

[2015-12-17 02:06] zhgt commented on #353
Yes.

[2015-12-17 02:10] zhgt commented on #355
It happens exactly the same!

[2015-12-17 06:32] Kritex commented on #254
I've tried latest build, it still gives same problem. The thing you don't understand is that player register with "John" but later on he can join with "john". Both of them cannot join in same time. However he can change his nickname and join to server. Only build 151 provides this option.

[2015-12-17 06:44] sgdc3 commented on #254
Nope, it should work! Try build number 536

[2015-12-17 06:59] ljacqu commented on #254
What database type are you using?
Can you look at the db?, is there anywhere a 'realname' column with all lowercase usernames (if any names are not lowercase, that's a problem).

To make sure we're on the same page – the user 'john' can then really _log in_ as 'John', right?

@sgdc3 Is there maybe a setting for this check the user may have disabled? (On phone, so difficult to check for myself)

[2015-12-17 07:15] ljacqu opened #357 "Test permission system integrations"
It would be nice to somehow have a way to test our hooks into permission systems. I could imagine a few solutions:
- as unit tests, if possible at all (I can imagine that it's hard to initialize other plugins as to check the interactions with them. Otherwise writing unit tests won't really test much.)
- Some command that will generate a few test users with different permissions. The question here

[2015-12-17 07:17] ljacqu opened #358 "[Dev] EncryptionMethod interface shouldn't throw exception"
The `EncryptionMethod` interface has a `throws` clause that should be handled a level lower – it should not pass it up to be handled where the classes are used.

`MessageDigest.getInstance()` and similar methods may throw a `NoSuchAlgorithmException` but this should be handled within the implementation – e.g. by using a local `try`-`catch` clause and converting it into a runtime exception:
[code]

[2015-12-17 12:56] ljacqu opened #359 "[Dev] Add technical documentation about command handling"
After merge of commands-refactor

[2015-12-17 14:03] DNx5 commented on #339
so, this is not remove speed problem.

[2015-12-17 14:15] Xephi commented on #354
Can you please try the latest dev build ? After the reboot, authme will create a file name email.html in the config folder that can me modify as you wish

In case of gmail, you need to disable low level application security :
https://github.com/Xephi/AuthMeReloaded/issues/260#issuecomment-155617799

[2015-12-17 14:30] NickFirenzo commented on #354
I installed latest buil but email.html file doesn't generate in AuthMe folder.
Getting WARN in console
'WARN Your email.html config contains some error and cannot be send!'
http://prntscr.com/9fa2as - Email.html doesn't exist.

[2015-12-17 17:34] MithrandirCraft commented on #339
@DNx5 It might be, I don't really know... :S

[2015-12-17 17:53] ljacqu opened #360 "Investigate NPC issue"
Ref: 558a124 by @sgdc3
If an NPC player has the same name tag as a player, it can be used to bypass certain checks. Investigate what may be affected by this and find an elegant solution.

@sgdc3 If I described this issue wrong or if there's more to add, kindly edit this description

[2015-12-17 17:57] Xephi commented on #354
My bad, can you please try the latest devbuild please ?

[2015-12-17 17:57] Xephi commented on #354
erf missclick sorry for closing

[2015-12-17 18:00] Xephi commented on #360
NPC from which plugin ?

[2015-12-17 18:52] NickFirenzo commented on #354
When type /email recovery example@example.com getting WARN
17.12 19:51:41 [Server] WARN Fail to send a mail to example@example.com cause Sending the email to the following server failed : smtp.gmail.com:465

[2015-12-17 19:00] ljacqu commented on #354
Did it create the email.html file? If so, kindly close this and open another issue. Otherwise things will get very confusing fast

[2015-12-17 19:02] Xephi commented on #354
Have you test what i said here :
https://github.com/Xephi/AuthMeReloaded/issues/260#issuecomment-155617799
?

[2015-12-17 19:11] NickFirenzo commented on #354
@Xephi
Yes, sure. I turned on this
http://prntscr.com/9fduy7
I tried to send but can't

[2015-12-17 19:23] NickFirenzo commented on #354
I tried to generate new AuthMe folder, add email, password, join on server registered and added an email, tried to recovery and in console output same error :(

[2015-12-17 20:09] sgdc3 commented on #360
Lots of plugins store npc status with metadatas. The issue is when a plugin creates a npc with the name of an ingame player. In spigot metadatas are sorted by playername, not by entity uuid!

[2015-12-17 20:09] sgdc3 commented on #360
Example plugin: PvPManager Pro

[2015-12-17 20:13] sgdc3 commented on #353
@Xephi

[2015-12-17 20:15] sgdc3 commented on #254
@Kritex Can you post your config.yml file?

[2015-12-17 20:20] sgdc3 commented on #358
@ljacqu I'll assign it to @DNx5 ;) sorry, i've assignet too many issues to you

[2015-12-17 20:23] ljacqu commented on #358
@sgdc3 np. I generally assign myself stuff I intend to do in the near future or things that really make sense for me to do (like documenting the command handling that I refactored)

[2015-12-17 21:08] sgdc3 commented on #358
Ah ok ;) Srry

[2015-12-17 21:50] Kritex commented on #254
I am using default config. You can try on my test server: 5.62.126.44:11000
Its spigot 1.8.7

[2015-12-17 21:56] sgdc3 commented on #254
Can you try with 1.8.8?

[2015-12-17 21:57] sgdc3 commented on #254
Delete the config and let the plugin regenerate it.

[2015-12-17 22:11] Kritex commented on #254
Now its 1.8.8 server, and still gives same error.

[2015-12-17 22:13] ljacqu commented on #254
Unassigning myself since my questions aren't being answered

[2015-12-17 22:15] sgdc3 commented on #254
He uses SQlite

[2015-12-17 22:16] Kritex commented on #254
@ljacqu sorry i forgot to answer. Its sqlite and it saves in lowercase in database

[2015-12-18 02:07] smartmadio commented on #269
Besides,<image>,<playername>,<generatedpass>,<servername> in the email.html won't work.

[2015-12-18 06:54] ljacqu commented on #345
The problem is what you want is essentially to load data from elsewhere (permissions) and then to combine it with AuthMe to alter the data in a specific, individual way. That's a lot of effort to develop for an individual's needs that are beyond the scope of AuthMe.

Maybe we can meet halfway and teach you how to delete all users except a given list

[2015-12-18 06:55] ljacqu commented on #347
Who is doing this? This task is blocking a lot of other issues

[2015-12-18 15:33] NickFirenzo opened #361 "Question, GroupManager + AuthMe"
Hi, I need help and I want to ask you.
Can I saved on database all accounts who is in GroupManager, users.yml and others accounts who is not in Group, members and etc will be deleted from database? Only users.yml accounts stay in base?
Is it possible?
People who is members will be deleted and registered again.

[2015-12-18 15:56] NickFirenzo commented on #354
@Xephi ?

[2015-12-18 16:18] #361 closed

[2015-12-18 16:18] sgdc3 commented on #269
@Xephi

[2015-12-18 16:20] sgdc3 opened #362 "Broken VeryGames IP resolver"

[2015-12-18 16:26] games647 commented on #362
Could you explain this issue.

[2015-12-18 16:28] sgdc3 commented on #362
Sorry I'll post an appropriate description by tomorrow ;)

[2015-12-18 16:36] ljacqu commented on #362
Why is VeryGames IP resolver needed in the first place?

[2015-12-18 16:40] sgdc3 commented on #362
Because VeryGames (server hosting provider) uses an own DDOS protection (proxy) that hides the realname of connected players.

[2015-12-18 16:53] ljacqu commented on #362
Oh, thanks for the info

[2015-12-18 19:55] MithrandirCraft commented on #348
Corrected the login position where players appear: It's actually completely RANDOM some times.

[2015-12-19 09:06] ljacqu opened #364 "[Dev] Write tests for the encryption algorithms"
Write tests for the encryption algorithms since it is crucial that they always behave the same way.

Thoughts:
- An `AbstractCryptTest` class could handle most of the test logic
- Test that a newly encrypted hash is recognized back to its password
- Generate a hash / hashes and save them in the test to test that they will match
- Test uppercase / lowercase variations in the passwords (also that st

[2015-12-19 09:09] ljacqu commented on #356
Hello @andris155, a change was made by @games647. Could you try the latest build at http://ci.xephi.fr/job/AuthMeReloaded-Dev/ and see if it fixes your issue? Thanks.

[2015-12-19 15:39] NickFirenzo commented on #345
And I need to delete all users except those specified as in GroupManager users.yml. If possible if you can, to enter names that can be left in the database and the rest are deleted.

[2015-12-19 18:22] DardBrinza commented on #339
The same problem : l The latest version authme 5.2, new players can not move , it helps rejoining after registration. Last spigot 1.8.8 + ProtocolSupport. AuthmeBridge not used.

[2015-12-19 18:40] ljacqu commented on #339
I had this issue while testing my command refactor before merging the change from games647 to my branch and encountered this issue when I logged out in creative. Once I included the changes by games647 I could move again but not fly (as would be expected in creative mode).

[2015-12-19 19:15] games647 commented on #339
@ljacqu This is related to #355

[2015-12-19 19:18] games647 commented on #355
It should be restored by this: [restoreMethod](https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/process/login/ProcessSyncronousPlayerLogin.java#L169).

By using the IDE debugger I found out that this code doesn't won't execute, because [limbo is null](https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/process/login/Process

[2015-12-19 19:29] #305 closed

[2015-12-19 22:52] ljacqu commented on #358
Also salt generation should be handled in each class, not in `PasswordSecurity`.

[2015-12-20 01:34] JHXSMatthew commented on #333
Fixed.
Can be closed.
Thank you guys!

[2015-12-20 01:36] JHXSMatthew opened #365 "SQL Cache refresh/update"
I have been using an external register (web) system && AuthMe database cache .
But if players registered on the webpage, the data is not in the AuthMe cache.

Is there any way to solve this issue better than restarting server or adding a cache refresh task ?

Thanks.

[2015-12-20 08:12] UberNoel opened #366 "Players sent to wrong location upon login after server restart"
I've been hosting my server for 3 months now and it worked perfectly until yesterday my players started complaining to me about this , i tried to fix it but it dint work out . Yesterday all i remembered was i restarted my server once .
Let 'Place B' Be : Everyones log out point when the server restarted yesterday
Let 'Place A' Be : The Normal Log Out Place When Players Disconnect
How It Works Now

[2015-12-20 09:33] NickFirenzo commented on #354
@Xephi
@sgdc3
@ljacqu

[2015-12-20 11:21] ljacqu commented on #333
@JHXSMatthew Thanks for the feedback!

[2015-12-20 11:21] #333 closed

[2015-12-20 11:37] sgdc3 commented on #354
Working on it ;)

[2015-12-20 11:47] NickFirenzo commented on #354
Oh, thanks for notify :)

[2015-12-20 12:12] ljacqu commented on #359
https://github.com/AuthMe-Team/AuthMeReloaded/wiki/Command-Handling

[2015-12-20 12:12] #359 closed

[2015-12-20 16:11] ljacqu opened #367 "EventListeners with MONITOR priority should not modify events"
`AuthMePlayerListener#onPlayerQuit` and `AuthMePlayerListener#onPlayerKick` have priority level `EventPriority.MONITOR` but modify the events.

Check all listener methods using the `MONITOR` level and change the level if they change the event under circumstances.

http://wiki.bukkit.org/Event_API_Reference#Event_Priorities

[2015-12-20 19:24] ljacqu opened #368 "Event listeners also handling canceled events"
I noticed that some event listener methods do not have `ignoreCancelled = true` and so also perform logic when an event has been canceled. I'm not familiar enough with the event listener to change this as I don't know if it is intended.

In any case, I wrote a test class `ListenerConsistencyTest` in which the methods without `ignoreCancelled = true` are saved in `CANCELED_EXCEPTIONS`. If all is go

[2015-12-20 22:10] ljacqu opened #369 "WBB4 hash is broken"
Encryption method WBB4 doesn't work, see WBB4Test. Fix it and un-ignore the test class.

[2015-12-20 22:41] NickFirenzo opened #370 "How can I use AuthMe with AuthMe bridge[BungeeCord]"
Hi,
I need help about Authme + AuthME bridge on bungeecord mod.
How to install AuthMe on all spigot servers wich are on my bungeecord?
Connect with bridge, same account, password and etc will be on all servers, how to do that?
Thanks :)

[2015-12-20 23:43] andris155 commented on #355
Latest dev build not fixed bug.

[2015-12-20 23:43] andris155 commented on #356
Latest dev build fixed bug thanks. :)

[2015-12-20 23:48] andris155 opened #371 "2x welcome messages on first join (synchronous login called twice!!!)"
![kepkivagas](https://cloud.githubusercontent.com/assets/8324198/11920953/80c1ea7c-a77c-11e5-93bc-30677aeb1184.PNG)
AuthMeReloaded-Dev b548

[2015-12-20 23:52] sgdc3 commented on #370
You need a mysql server shared between all the authme instances.
A more simple way is to install authme only on the join server and block direct servers port with a firewall rule (keep open only the bungeecord one) ;)

[2015-12-21 00:06] #356 closed

[2015-12-21 00:19] sgdc3 commented on #371
Critical issue, login process is called twice! This may be the cause of lot of other issues!

[2015-12-21 00:20] sgdc3 commented on #371
@ljacqu @Xephi @DNx5 @timvisee

[2015-12-21 00:42] andris155 opened #372 "Authme removeSpeed doesn't work with non registered users."
Join = allow moving, and later remove speed.
https://www.youtube.com/watch?v=e_gK_0OcoPU&feature=youtu.be
AuthMeReloaded-Dev b548

[2015-12-21 06:42] ljacqu commented on #355
I'll have a look at this

[2015-12-21 09:55] Xephi commented on #371
We never call synchronous login after a registration :O

[2015-12-21 10:01] Xephi commented on #371
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/process/register/AsyncRegister.java#L147 WHY ? :O @sgdc3

[2015-12-21 10:12] Xephi commented on #371
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/process/register/ProcessSyncPasswordRegister.java#L132 @DNx5 call login event in registration ? :O

You add this to registration :
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/java/fr/xephi/authme/process/register/ProcessSyncPasswordRegister.java#L152
But i think it's called again at login

[2015-12-21 10:14] Xephi commented on #370
Nah, the better way is actually that :

Use ONLY one instance of BungeeCord,
Install AuthMe and configure it with mySQL on EACH servers
In each authme config.yml, set to true on Hook > BungeeCord

:)

[2015-12-21 10:18] Xephi commented on #372
If i understand the video correctly, on first join, speed is set to 0,
what about if you logged in ?

[2015-12-21 10:32] Xephi commented on #368
Actually all event got ignoreCancelled = true has they need it, only event which cannot been cancel don't provide this annotation :)

[2015-12-21 10:39] Xephi commented on #367
Changed, idk why that was has monitor T.T

Thanks

[2015-12-21 10:39] #367 closed

[2015-12-21 11:08] Xephi commented on #366
Can you please try with latest dev version ?

http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-21 12:20] andris155 commented on #372
New video:
https://www.youtube.com/watch?v=vGFtsXdplRA&feature=youtu.be

[2015-12-21 12:23] sgdc3 commented on #371
True, sorry, but register should call login instead of doing login process itself

[2015-12-21 12:24] sgdc3 commented on #370
Yeah but if you don't own a dedicated server it's hard to setup a common mysql server

[2015-12-21 12:28] Xephi commented on #362
Fixed

[2015-12-21 12:28] #362 closed

[2015-12-21 12:28] sgdc3 commented on #372
Ok, understood

[2015-12-21 13:10] NickFirenzo commented on #370
OK I know it needs to connect to MySQL database from which you read the data but my question is whether all Spigoli servers should install AuthMe and AuthMe Bridge on BungeeCord.

[2015-12-21 13:11] ljacqu commented on #368
I thought about it this morning… It wouldn't make sense to be able to cancel the event of a player leaving etc.
If all the exceptions are fine the TODO can be removed and this issue closed. I don't want to do this myself so a second pair of eyes can go over the exceptions for the canceled thing :)

[2015-12-21 13:59] Xephi commented on #370
If you use only one instance of BungeeCord, you don't need AuthMe Bridge, you just need to install latest dev build of AuthMe and set the bungeecord hook to true :)

[2015-12-21 14:01] Xephi commented on #342
Can you please try latest devbuild ?

[2015-12-21 14:02] NickFirenzo commented on #370
Done, solved. But I have one question how to convert SQL to MySQL because when make connect and join on server on screen getting /register, but all accounts are on SQL.

[2015-12-21 14:07] Toshka17 commented on #342
the problem is solved. Error is no more, but the message still has not come to email to the player

[2015-12-21 14:07] #342 closed

[2015-12-21 14:08] Toshka17 commented on #342
Thanks for your work :)

[2015-12-21 14:15] Xephi commented on #354
Can you please try the latest devbuild ?

[2015-12-21 14:16] Xephi commented on #353
Can you please try the latest devbuild ?

[2015-12-21 14:20] Xephi commented on #330
Can you please try with latest dev build, but replace in email.html :

'%playername%' -> '<playername />'
'%generatedpass' -> '<generatedpass />'
'%servername%' -> '<servername />'

[2015-12-21 14:28] Xephi commented on #370
You mean SQLite to MySQL ?

[2015-12-21 14:32] NickFirenzo commented on #370
Yes

[2015-12-21 14:35] Xephi commented on #370
I think we don't have something like that T.T i'll check >.<

[2015-12-21 14:36] NickFirenzo commented on #370
Can you add option to convert sqlite on accounts to mysql?

[2015-12-21 14:43] NickFirenzo commented on #354
Again same :(

 WARN Fail to send a mail to macedoniancraft05@gmail.com cause Sending the email to the following server failed : smtp.gmail.com:465

[2015-12-21 14:43] NickFirenzo commented on #354
Again Same :(

 WARN Fail to send a mail to XXX@xx.com cause Sending the email to the following server failed : smtp.gmail.com:465

[2015-12-21 14:44] Xephi commented on #370
Done : latest dev build ->
Configure your authme config.yml to work with mySQL, and use : /converter sqlitetosql

[2015-12-21 14:49] Xephi commented on #365
Can you try latestdevbuild and set
mySQLWebsite to true ?

[2015-12-21 14:53] Xephi commented on #371
Fixed in latest dev build

[2015-12-21 14:53] #371 closed

[2015-12-21 14:54] NickFirenzo commented on #370
Already using MySQL, getting an error to configure, how to configure ?
http://prntscr.com/9gt9do
Converter:
  Rakamak:
    fileName: igraci.rak
    useIP: true
    ipFileName: ip.rak
  CrazyLogin:
    fileName: accounts.db

[2015-12-21 14:55] Xephi commented on #370
What ? :') if you already use MySQL you don't need to convert :O :')

[2015-12-21 14:56] Xephi commented on #370
Even if, you need to configure the database part of the config.yml to work with mysql :

DataSource:
    # What type of database do you want to use?
    # Valid values: sqlite, mysql
    backend: mysql
    # Enable database caching, should improve database performance
    caching: true
    # Database location
    mySQLHost: 127.0.0.1
    # Database Port
    mySQLPort: '3306'
    # Username about D

[2015-12-21 15:01] Xephi commented on #354
ok, what's the mail provider to the player who's receive the mail ? can you try to send from a gmail.com mail to another gmail.com mail to test?

[2015-12-21 15:03] NickFirenzo commented on #370
Before MySQL I'm used SQLite and now I want to convert SQLite to MySQL and save on mysql driver.
I need convert of h2 to mysql

[2015-12-21 15:04] NickFirenzo commented on #354
I'm ever trying to send on gmail.com
xxx@gmail.com send to zzz@gmail.com
Provider is gmail, again problem and i'm using in config.yml gmail provider.

[2015-12-21 16:34] NickFirenzo commented on #370
Fixed, thanks

[2015-12-21 16:34] #370 closed

[2015-12-21 16:55] Xephi commented on #342
I'm working on all issue with email sending, wait a bit , sorry for problems

[2015-12-21 17:22] ljacqu commented on #367
5c2547c

[2015-12-21 17:24] ljacqu commented on #362
705cc7ba

[2015-12-21 17:58] DardBrinza commented on #355
Where fix?

[2015-12-21 18:01] UberNoel commented on #366
I've installed it on my server and it does not let anyone join the server.
My username is ' UberNoel ' it states that im using UberNoel and i should have joined with ubernoel without caps.
Same goes with the username ' Jintai ' it says that he should have joined with jintai without caps

[2015-12-21 18:24] games647 commented on #246
Do we actually need to save and restore the gamemode? I think it's useless.

[2015-12-21 18:29] ljacqu commented on #355
None yet

[2015-12-21 18:31] sgdc3 commented on #246
@games647 I agree

[2015-12-21 18:33] sgdc3 commented on #366
@UberNoel Can you open another issue for that? Thx ;)

[2015-12-21 19:24] sgdc3 commented on #372
Fixed, try latest dev build

[2015-12-21 21:32] andris155 commented on #372
New players = Not fixed bug.

[2015-12-21 21:34] andris155 commented on #372
Registered players = Fixed bug

[2015-12-21 22:04] ljacqu commented on #309
Sorry I haven't gotten back to this – I'll open a more concise issue if I come up with something specific. No sense leaving this issue dangling around in the meantime.

[2015-12-21 22:04] #309 closed

[2015-12-21 22:54] MithrandirCraft commented on #260
Hi!

Testing with Authme dev build 557 as requested by @Xephi:

1. I sent an email recovery request, but I didn't recieve any email.
2. I've reset the password to how it was, after having sent the recovery email to limbo.
3. Entering my reset password doesn't even return "invalid password"
it just keeps asking me to log in. This looks like a new issue in it self, and it never happened before.

[2015-12-22 23:55] Xephi commented on #260
Can you test with the latest devbuild ?

[2015-12-23 00:17] sgdc3 opened #373 "verifyPasswordEnabled setting can't be disabled (always enabled)"

[2015-12-23 06:24] rErEaT opened #374 "verifyPassword option is broken"
I maked it true but nothing happend!

I using your latest dev build!

[2015-12-23 07:59] ljacqu commented on #373
Why is this even a setting? Password should be verified

[2015-12-23 08:18] ljacqu opened #375 "Fix the testGivenPasswords for encryption method tests"
`testGivenPasswords` in `AbstractEncryptionMethodTest` are temporarily disabled as they don't always run locally.

I'm not very happy with ignoring a whole load of tests because they don't work locally when they do remotely.

[2015-12-23 08:59] ljacqu commented on #306
![untitled diagram 1](https://cloud.githubusercontent.com/assets/8417009/11973542/cd857ce4-a95b-11e5-88c8-c5f5ef38a134.png)
Planned architecture – took a while to find out how to get rid of the circular dependencies

[2015-12-23 10:07] ljacqu commented on #306
Second version. The issue is that HelpCommand requires all of the command mapping logic and I don't want to pass the CommandHandler to ExecutableCommand.

The new idea compared to the previous diagram is that we put everything inside the CommandService, and then both CommandHandler and any ExecutableCommand implementations only have to worry about the interface of the CommandService --> loose coup

[2015-12-23 10:11] sgdc3 commented on #375
What's the issue when they are executed locally? Errors, missings libs...?

[2015-12-23 10:14] ljacqu commented on #375
I believe when running `mvn install` on Windows console the test fails because of the password with special characters. But it works fine if run with IntelliJ or here on Xephi's Jenkins. Probably we just need to add some command line argument when executing Maven command on console. I think there's a -Dencoding=utf-8 thing or something like that; I haven't checked.

[2015-12-23 10:15] sgdc3 commented on #375
:/ it should work anyway

[2015-12-23 10:16] #373 closed

[2015-12-23 10:19] ljacqu commented on #374
Why is verifyPassword even a setting? Password should always be verified

[2015-12-23 10:21] sgdc3 commented on #374
We should rename it to enableDoubleCheckPassword (/register psw *psw*)

[2015-12-23 10:21] sgdc3 commented on #374
I'm doing it right now..

[2015-12-23 10:29] rErEaT commented on #374
And should be fixed :D

2015-12-23 11:21 GMT+01:00 Gabriele C. <notifications@github.com>:

--
Üdvözlettel:
Foki Dániel

[2015-12-23 10:30] sgdc3 commented on #374
Yeah, working on it

[2015-12-23 10:31] rErEaT commented on #374
I watch this dev site: http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-23 10:32] sgdc3 commented on #374
Yeah it's the right one

2015-12-23 11:31 GMT+01:00 rErEaT <notifications@github.com>:

[2015-12-23 10:32] ljacqu commented on #374
enableDoubleCheckPassword implies that the password gets... _double-checked_ (while actually it's either checked, or not). How about something with `confirmation` in it, uhh... I'm bad at naming things. confirmPasswordOnRegister? Something like that? enablePasswordConfirm? I don't know

[2015-12-23 10:35] sgdc3 commented on #374
@ljacqu ok, @rErEaT can you post your configuration file (remember to remove the mysql passwords if you use them)

[2015-12-23 10:42] rErEaT commented on #374
http://pastebin.com/FEhjzRbT

[2015-12-23 10:53] sgdc3 commented on #374
Ok, blindness should have been fixed ;)

[2015-12-23 10:56] sgdc3 commented on #374
@rErEaT Can you record a video of  the other issue?

[2015-12-23 11:02] rErEaT commented on #374
ye I hope.

btw what does it?
    enablePasswordConfirmation
    enablePasswordVerifier

same thing or not?

[2015-12-23 11:08] rErEaT commented on #374
![1](https://cloud.githubusercontent.com/assets/2604798/11975418/e1874bde-a96d-11e5-9e46-e410be012cc9.png)
![2](https://cloud.githubusercontent.com/assets/2604798/11975419/e1a5d5a4-a96d-11e5-99f3-63197d7b19d9.png)

[2015-12-23 11:14] sgdc3 commented on #374
does it work with rimeout > 0 ?

[2015-12-23 11:16] sgdc3 commented on #374
blindness i mean xD

[2015-12-23 11:17] rErEaT commented on #374
yepp, works with 1.

[2015-12-23 11:18] sgdc3 commented on #374
Build number?

[2015-12-23 11:19] rErEaT commented on #374
#572

[2015-12-23 11:19] sgdc3 commented on #374
ok

[2015-12-23 11:28] sgdc3 commented on #374
I'm too stupid, fixed xD

[2015-12-23 11:44] rErEaT commented on #374
blind effect is working now with build575 :+1:

[2015-12-23 11:51] rErEaT commented on #374
what about "enablePasswordConfirmation" ?

[2015-12-23 11:52] Xephi commented on #269
Fixed

[2015-12-23 14:03] games647 commented on #246
@Platinteufel Can I send you new version in order to test if the issue still exists?

I already tested my changes, but it's very likely that I forgot something.

[2015-12-23 14:28] ljacqu commented on #375
I have the same issue. If I run `mvn test` on Windows console the password with the non-ASCII characters fails, but if I run it inside of IntelliJ the tests are fine. I searched around and tried some command line parameters but none can fix the issue. I've found similar accounts online with no solution, sadly.
I'll revert the `@Ignore` since the tests work fine in the "important environments." If

[2015-12-23 15:15] NickFirenzo commented on #354
Done, FIXED

[2015-12-23 15:15] #354 closed

[2015-12-23 15:18] sgdc3 commented on #365
@JHXSMatthew

[2015-12-23 18:44] ljacqu commented on #375
Reopened. The password with the special characters is too much of an issue; I will replace it in due time.

[2015-12-23 21:48] ljacqu commented on #374
@rErEaT If you set `enablePasswordConfirmation` to `false` players will only have to enter the password once, e.g. `/register test` instead of `/register test test`. The message will be the same, but you can change it in the `messages_en.yml` file or whatever language you use.

I tested it and it worked as expected.

[2015-12-23 21:58] rErEaT commented on #374
Okay, then everything works!

[2015-12-23 22:18] ljacqu commented on #374
Great, thanks for the feedback! In that case I'll close this issue.

[2015-12-23 22:18] #374 closed

[2015-12-24 01:12] smartmadio commented on #269
Got it,I'll test on it.

[2015-12-24 01:22] smartmadio commented on #269
`[09:20:26 WARN]: org.apache.commons.mail.EmailException: Invalid message supplied
        at org.apache.commons.mail.HtmlEmail.setHtmlMsg(HtmlEmail.java:151)
        at fr.xephi.authme.SendMailSSL$1.run(SendMailSSL.java:84)
        at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftTask.run(CraftTask.java:71)
        at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java

[2015-12-24 01:24] smartmadio commented on #269
Still can't find email.html.
I'll write email.html using dreamwaver and put it in authme folder and have another test.

[2015-12-24 01:32] smartmadio commented on #269
This's what I've wrote in email.html:
[code]
This's the content of the email I've received:
[code]

[2015-12-24 01:55] smartmadio commented on #269
I've read https://github.com/Xephi/AuthMeReloaded/commit/e781115d7cf66db57a436de8d21693aa05d50be3 seems something wrong in email.html,then,another test:
1.email.html:
[code]
This's content of the mail I've received:
[code]

[2015-12-24 02:09] smartmadio commented on #269
Testing AuthMeReloaded-Dev #5​83:
email.html:
[code]
This's content of the mail I've received:
[code]
`<image>` or `%image%` won't work,all Chinese charactors in the mail content still displayed as ???.

[2015-12-24 02:15] smartmadio commented on #269
Testing AuthMeReloaded-Dev #5​83,This version could creat email.html now.
email.html:
[code]
This's content of the mail I've received:
[code]
`<image>` or `%image%` won't work,all Chinese charactors in the mail content still displayed as ???.

[2015-12-24 11:00] Xephi commented on #269
Here is a good usage of the email.html :
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/main/resources/email.html

By the way, i will check why Chinese charactors are not displayed correctly, try to encode email.html as utf-8 :/

[2015-12-24 11:08] Xephi commented on #269
@smartmadio Can you please try with this build :
http://ci.xephi.fr/job/AuthMeReloaded-Dev/584/

[2015-12-24 14:30] DardBrinza opened #376 "Error 'login' Authme 5.2"
I use spigot latest spigot 1.8.8 and authme 5.2 #582
Error:
http://pastebin.com/CRUTpTGc

[2015-12-24 14:34] ljacqu commented on #376
Do you have any idea what the player invoked? From the error it seems to me that he wrote `/login` (just that) but I can't reproduce it.

[2015-12-24 14:47] ljacqu commented on #376
Thanks for the report; it should be fixed as of build nr. 585.
http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-24 15:04] ljacqu commented on #345
You said you were using SQL. Something like the following will **delete all users** _except_ the ones in the list:
[code]
The list with anna, bobby, etc. are the users that will **not** be deleted. **Please back up your database beforehand;** it should be possible to generate a dump of it.

I'm assuming standard config values where `authme` = mySQLTablename, `username` = mySQLColumnName

[2015-12-24 15:56] JHXSMatthew commented on #365
Sorry, I have not been active for a while,
I will test it tomorrow (23:00 now).
Thanks for fixing !

[2015-12-24 19:31] DardBrinza commented on #376
Fixed. Thanks :) Close.

[2015-12-24 19:39] DardBrinza opened #377 "Error messages authme 5.2 #585"
New lang file and same error in console:

[AuthMe] Error getting message with key 'invalid_session'. Please verify your config file at 'messages_en.yml'

[AuthMe] Error getting message with key 'password_error_nick'. Please verify your config file at 'messages_en.yml'

[2015-12-24 20:34] NickFirenzo commented on #345
Doesn't work, all acounts has been removed xD

[2015-12-24 21:06] #376 closed

[2015-12-24 23:56] jwtuan opened #378 "Player can't move after register"
hi, im use AuthMe-5.2-Snapshot, Build 186. After player register, thay can't move.
Sorry for my english.

[2015-12-25 00:22] sgdc3 commented on #378
Can you try this version please? http://ci.xephi.fr/job/AuthMeReloaded-Dev/ ;)

[2015-12-25 00:23] sgdc3 commented on #345
Have you done a backup? D:

[2015-12-25 00:24] sgdc3 commented on #345
all the name should be lowercase

[2015-12-25 09:31] JHXSMatthew commented on #365
Works, cheers!

[2015-12-25 13:04] NickFirenzo commented on #345
Yes I have a backup :D

[2015-12-25 15:03] Platinteufel commented on #246
Seems like everything works fine now, thank you @games647 !
Just one suggestion: Maybe you could disable gamemode restoring by default and the user can enable it in config if they need to. There should be a warning like: "gamemode restoring can cause inventory swaps".

[2015-12-25 15:41] games647 commented on #246
@Platinteufel it should be already disabled by default because of this commit https://github.com/AuthMe-Team/AuthMeReloaded/commit/0beb937b8fcfef8e1e1b06f42ea65088e403ee5b. The warning hint is really good point. We might add it to the config.

[2015-12-25 18:06] #365 closed

[2015-12-25 19:46] MithrandirCraft commented on #260
I think I already did, with no success. I'm going to keep testing ASAP.

In any case, this new configuration is weird. I don't know if its because it's still in development, but having a message edited from an html file, and the rest of email configurations on the main config is just strange...

I could perfectly have something badly configured with all these changes. You already saw my configs, s

[2015-12-25 20:30] sgdc3 commented on #260
Can you post your config? I'll try to clean it up ;)

[2015-12-25 20:31] #246 closed

[2015-12-25 20:31] sgdc3 commented on #378
@jwtuan

[2015-12-25 20:32] sgdc3 commented on #377
TODO: clean/check all the language files for deprecated/missing messages

[2015-12-25 22:37] ljacqu commented on #377
A quick look at the repository's messages_en.yml confirms we have those keys in messages_en.yml.
https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/resources/messages/messages_en.yml

We have a tool task to verify our default message files and there, no keys are missing.

So maybe @DardBrinza is using an old version of messages_en.yml, or for some reason those keys were removed.

[2015-12-25 23:29] sgdc3 commented on #377
Yeah, sorry, forgot about this ;)

[2015-12-25 23:30] sgdc3 commented on #377
Wait, he said "new lang files" :p

[2015-12-25 23:47] ljacqu commented on #377
Oh, good catch, didn't notice that :P

[2015-12-26 00:27] andris155 opened #379 "How to disable ForceSurvivalMode latest dev build?"
ForceSurvivalMode: false config option not work.
authme.player.bypassforcesurvival permission not work.

[2015-12-26 00:29] andris155 commented on #379
Fixed:
- mv.bypass.gamemode.*

[2015-12-26 00:29] #379 closed

[2015-12-26 00:34] andris155 commented on #246
Thanks!

[2015-12-26 00:36] sgdc3 commented on #379
so, not an authme issue, right? ;)

[2015-12-26 00:39] andris155 commented on #379
Not, and thank you for the new version.
I like new permission logic. :)

[2015-12-26 00:53] sgdc3 commented on #379
if you look at the newPlugin.yml file you can see how permissions will look like in version 5.2 release. What do you think about? (we need feedback ;D)

[2015-12-26 01:11] sgdc3 commented on #345
@Xephi MySql master, we need your magic power!

[2015-12-26 06:15] smartmadio commented on #269
OK,I'll have a try

[2015-12-26 07:08] jwtuan commented on #378
@sgdc3  yes, i'm use this version (latest build 586), with spigot 1.8.8. (just fresh spigot 1.8.8 and only 1 plugin is authme)
also MagRegPerIP dont work.
sorry again for my bad english.

[2015-12-26 08:43] smartmadio commented on #269
@Xephi Test finished.The mail content could display Chinese charactors correctly now:)

[2015-12-26 10:57] #269 closed

[2015-12-26 11:53] #375 closed

[2015-12-26 12:39] Xephi commented on #353
Up

[2015-12-26 12:42] Xephi commented on #341
Use latest devbuild, and use /converter sqlitetosql

[2015-12-26 12:50] Xephi commented on #260
i can't reproduce any bug with gmail account for myself, actually it works well with port 465 ad 587 :/

[2015-12-26 13:07] Xephi commented on #340
Done, use latest devbuild please

[2015-12-26 13:07] #340 closed

[2015-12-26 13:09] #336 closed

[2015-12-26 13:27] Xephi commented on #345
The only one way to do it without need to dev an individual method, is to use the system that @ljacqu as mentioned, by the way, you need to check each syntax of player names, and check the column where you do your conditions have the same case

[2015-12-26 13:29] #341 closed

[2015-12-26 13:30] sgdc3 commented on #345
@Xephi can you fix the query @ljacqu posted?

[2015-12-26 13:30] sgdc3 commented on #353
@zhgt Bump

[2015-12-26 13:31] Xephi commented on #345
The query is correct :O

[2015-12-26 13:42] jwtuan commented on #378
@sgdc3 Thank you! it work perfect.

[2015-12-26 13:44] #378 closed

[2015-12-26 13:54] sgdc3 commented on #345
"Doesn't work, all acounts has been removed xD"

[2015-12-26 13:58] Xephi commented on #345
yeah , he needs to list all his users in users.yml , in the query , was an error occured when you use the command @NickFirenzo  ?

[2015-12-26 14:38] Xephi commented on #344
Done

[2015-12-26 14:38] #344 closed

[2015-12-26 15:47] NickFirenzo commented on #345
No need all. Tested just a few when I wrote the command was above write are erased from all accounts MySQL (Of course, this was just a test of the new database).

[2015-12-26 16:04] ziutekkk opened #380 "Allow restricted users by domain instead of ip"
Hi
I would like to suggest option to accept domain ip in restricted users section of configuration.

        # For activate Restricted user by ip u need
        # to set True this option and configure the field
        # AllowedRestrctedUser as show below
        AllowRestrictedUser: true
        # Restricted user will kick players that
        # is listed below and they dont
        # meet the ma

[2015-12-26 16:32] MithrandirCraft commented on #260
Thank you @sgdc3 :)

.html file: http://hastebin.com/ojagurakec.xml
Authme regular config: http://hastebin.com/uqujuxarib.vbs

[2015-12-26 16:58] andris155 commented on #379
We like the newer version of the Permissions. We think, that it's more convenient and better than the older versions of the AuthMe.

[2015-12-26 17:18] sgdc3 commented on #379
Thanks ;) We'll try to implement it asap

[2015-12-26 17:20] sgdc3 commented on #379
email: http://hastebin.com/ayopinuqax.xml

[2015-12-26 17:20] sgdc3 commented on #260
email: http://hastebin.com/ayopinuqax.xml

[2015-12-26 17:28] sgdc3 commented on #260
config (enabled verygames ip check, it should have been fixed) http://hastebin.com/udemoconez.sm

[2015-12-26 17:29] sgdc3 commented on #260
check also if spawn loc works with this config

[2015-12-26 17:29] MithrandirCraft commented on #260
I provably won't be using that feature, as I am not sure I have the correct service for the IP checks to work.

[2015-12-26 17:29] sgdc3 commented on #260
Which service are you using?

[2015-12-26 18:49] MithrandirCraft commented on #258
I think this issue may be fixed.
I'm closing the ticket.
If the issue re-emerges I will re-open it.

[2015-12-26 18:49] #258 closed

[2015-12-26 18:51] MithrandirCraft commented on #348
This issue is fixed.

If It re-emerges for some reason, I will reopen this ticket.

[2015-12-26 19:17] MithrandirCraft commented on #348
yeah...

[2015-12-26 20:16] DardBrinza opened #381 "It gets very old after the exit point /login"
I go to the server and appears in the exit point, insert / login and throws me on a very old exit point. After entering the password I do not stay on the same spot, and flip to the other. Latest authme and spigot,

[2015-12-26 20:27] ljacqu commented on #381
Possibly related to #348

[2015-12-26 20:35] DardBrinza commented on #381
Returns on the coordinates of which have been for a long time when you exit . I updated the plugin to the new version , and the coordinates of the older players in the outlet were old .

[2015-12-26 20:53] ljacqu commented on #344
I've added it to our list of [breaking changes](https://github.com/AuthMe-Team/AuthMeReloaded/wiki/Breaking-Changes)

[2015-12-26 21:17] sgdc3 commented on #348
This happens only with old accounts. New users (registered on latest builds) are ok.

[2015-12-26 22:45] MithrandirCraft opened #382 "Error on console + Crash"
I have this error spamming on the console:
http://hastebin.com/ofododifuh.rb

It looks like it also caused a global kick tonight.
The server also shows symptoms of low tps, allthgough the timings don't seem to indicate this is Authme's fault.

------------------------------
Current authme version: 5.2 - SNAPSHOT (build 593)
Current Minecraft-Spigot version: 1.8.8

[2015-12-26 22:45] sgdc3 commented on #382
@ljacqu

[2015-12-26 23:10] ljacqu commented on #382
Hello,
Thank you for the report and sorry for the trouble! This should be fixed from build nr. 595 and upwards.
http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-27 01:16] andris155 opened #383 "Server stop WARN."
http://ci.xephi.fr/job/AuthMeReloaded-Dev/586/
[02:06:39] [Thread-16/WARN]: Exception in thread "Thread-16"
[02:06:39] [Thread-16/WARN]: java.lang.IllegalStateException: Asynchronous player kick!
[02:06:39] [Thread-16/WARN]: 	at org.spigotmc.AsyncCatcher.catchOp(AsyncCatcher.java:14)
[02:06:39] [Thread-16/WARN]: 	at org.bukkit.craftbukkit.v1_8_R3.entity.CraftPlayer.kickPlayer(CraftPlayer.java:215)

[2015-12-27 08:31] DardBrinza opened #384 "Logout problem"
While playing could accidentally delete the authorization. Writing a chat and you can not move, but the message asking you to enter the password is not present. If you enter / login in the chat message is displayed on successful authorization. Latest authme and spigot :)
As auto /logout

[2015-12-27 12:29] sgdc3 commented on #384
This is an issue with /reload command

[2015-12-27 12:29] sgdc3 commented on #384
Don't reload the server/plugin if not required.

[2015-12-27 12:30] sgdc3 commented on #384
If you don't run the /reload command everything should work fine.

[2015-12-27 13:15] DardBrinza commented on #384
No, i don't use /reload. My online 180 players and /reload is very dangerous,

[2015-12-27 13:57] sgdc3 commented on #384
Is it a standalone server or a bungeecord network?

[2015-12-27 14:55] DardBrinza commented on #384
This 1 server + bungeecord. Bunch need for anti-bot.

[2015-12-27 16:08] sgdc3 commented on #384
why bungee as antibot?

[2015-12-27 17:36] DardBrinza commented on #384
A small room in which players get when joining a server. This room can not interact with the server. I use session:

  sessions:
    enabled: true
    timeout: 8
    sessionExpireOnIpChange: true

[2015-12-27 17:49] sgdc3 commented on #384
ah ok, so 3 servers... Bungee + Login + GameServer

[2015-12-27 18:58] DardBrinza commented on #384
No, Bumgee +Login Game Server. Anti-bot room in plugin. No plugin creates a room and after passing it , the player gets to the primary server, and enter a password . No AuthmeBungee or more servers, 1 server.

[2015-12-27 23:25] ljacqu opened #385 "[Dev] Release AuthMe 5.2"
This is an issue for us to store whatever needs to be taken care of for the person doing the 5.2 release of AuthMe (I presume @Xephi).
- [x] Remove `AuthMe#getVerygamesIp`: ([ref](https://github.com/AuthMe-Team/AuthMeReloaded/commit/5d21d1b))
- [x] Update the [AuthMe Bukkit dev page](http://dev.bukkit.org/bukkit-plugins/authme-reloaded/) with the [new permission nodes](https://github.com/AuthMe-Te

[2015-12-27 23:32] Xephi commented on #383
Can you turn off in config.yml > Security >kickPlayerBeforeStopping, and tell me if you keep getting this error?

[2015-12-27 23:33] DardBrinza commented on #384
I clear xyz in mysql and fix problem. Close :)

[2015-12-27 23:53] sgdc3 commented on #384
? are you sure? It sounds strange...

[2015-12-28 00:22] sgdc3 commented on #385
Why do we need to remove verygames ipresolver? @Xephi

[2015-12-28 07:39] Xephi commented on #385
Cause VeryGames will remove the technology and will use something else that we don't need to handle to get real Player ip ;) they are finishing change their Architecture just before :)

[2015-12-28 10:43] Xephi commented on #260
@MithrandirCraft if your server don't use ipClean from Verygames, i don't think you need it :) it's useless for you ;)

For the email feature, test like that : set smtp to : smtp.gmail.com
Use your gmail address which you have enable the low security application system on google config
Set the port to 465
Cross fingers :')

[2015-12-28 10:43] DardBrinza commented on #384
I'm sure. Just cleared the columns x y z.

[2015-12-28 10:45] Xephi commented on #384
Okok, thanks for your report anyway ^^

[2015-12-28 10:45] #384 closed

[2015-12-28 10:50] DardBrinza commented on #382
Fixed

[2015-12-28 10:51] Xephi commented on #381
Is it now fixed when you had reset all last pos player ?

[2015-12-28 10:53] DardBrinza commented on #381
Oh lol, I mixed up the topic. After cleaning the columns I corrected this problem with the exit points . But the upgrade to the latest version , removing the problem with /logout. Close Fix XD

[2015-12-28 10:56] Xephi commented on #381
Okay, thanks for your report anyway :)

[2015-12-28 10:56] #381 closed

[2015-12-28 10:56] Xephi commented on #383
Fixed

[2015-12-28 10:56] #383 closed

[2015-12-28 11:00] Xephi commented on #380
Can you please try this build ?
http://ci.xephi.fr/job/AuthMeReloaded-Dev/599/

[2015-12-28 11:01] #382 closed

[2015-12-28 11:02] Xephi commented on #377
Is is fixed with latest build?

[2015-12-28 11:03] Xephi commented on #360
"Lots of plugins store npc status with metadatas. The issue is when a plugin creates a npc with the name of an ingame player. In spigot metadatas are sorted by playername, not by entity uuid!" , also it's a spigot issue, nop ? :/

[2015-12-28 11:05] Xephi commented on #306
Are these change finished ?

[2015-12-28 11:14] DardBrinza commented on #377
Yep, fix

[2015-12-28 11:18] #377 closed

[2015-12-28 11:40] sgdc3 commented on #306
@ljacqu

[2015-12-28 11:40] sgdc3 commented on #360
Yeah

[2015-12-28 11:40] sgdc3 commented on #360
Idk how we can fix this xD

[2015-12-28 11:43] sgdc3 commented on #260
@Xephi we should rename the verygames option in the configuration

[2015-12-28 11:44] sgdc3 commented on #385
Ah ok ;)

[2015-12-28 12:26] ljacqu commented on #306
Not yet. I want _more_ to go through the command service, we still have a lot of "singleton injections" right now. I don't plan on cleaning everything within this issue, but there is still a little more to come. Also want to update the graph on the Wiki within this issue.

@sgdc3 Thanks for the mention, but if someone creates an issue they're notified of every comment regardless of mention or not

[2015-12-28 12:28] ljacqu commented on #368
Not done, the TODO is still in the code.

[2015-12-28 12:41] ljacqu commented on #334
@ElitStrikerzHD I believe this should not happen anymore with the latest dev builds.

[2015-12-28 12:50] andris155 commented on #383
Thanks!

[2015-12-28 13:02] MithrandirCraft commented on #260
I noticed my email was blocking Authme from using it, because it considers it a "Less secure application".

So I allowed less secure applications to connect to my gmail, but I still don't recieve any email for recovery.

Does anyone want to try it?: sv1.mithrandircraft.es

[2015-12-28 13:26] Xephi commented on #368
Done ! >.<

[2015-12-28 13:26] #368 closed

[2015-12-28 13:32] ziutekkk opened #386 "authme 5.2 #586 join bug"
Hello
When players try to join server on newest authme build, they are not allowed to and this error in console appears.
http://pastebin.com/tviHvRZZ
Everything was fine on authme 5.1

Im using:
newest spigot
authme #586
offline mode server

Please look at that.
Thanks

[2015-12-28 13:36] Xephi commented on #386
Can you please try with build 617 ? http://ci.xephi.fr/job/AuthMeReloaded-Dev/617/

[2015-12-28 13:39] ziutekkk commented on #386
It is ok now,
Thank you :)

[2015-12-28 13:40] Xephi commented on #386
You're welcome ;)

[2015-12-28 13:40] #386 closed

[2015-12-28 14:13] ziutekkk commented on #380
Unfortunately no, still it doesn't work.
It is not very very needed thing but it would be great if it worked well to improve security on cracked servers.

[2015-12-28 14:16] ljacqu commented on #358
Planned changes:
1. Make `PasswordSecurity` non-static
2. `PasswordSecurity` is a real "manager" class and will worry about persisting the salt
3. However, it's the job of `EncryptionMethod` to generate a salt if none supplied
4. `EncryptionMethod` implementations do not do any datasource modifications: that's the job of `PasswordSecurity`

--> Separation of concerns, clearer layout of what happen

[2015-12-28 14:33] sgdc3 commented on #380
@Xephi

[2015-12-28 14:45] DNx5 commented on #380
afaik, it will never work on dynamic ip

[2015-12-28 14:51] Xephi commented on #345
Done, result was :

DELETE FROM authme WHERE id IN (SELECT * FROM (SELECT id FROM authme WHERE username NOT IN ('xephi', 'nickfirenzo')) as tmp);

[2015-12-28 14:51] #345 closed

[2015-12-28 18:00] MithrandirCraft commented on #259
By the way, the current situation with this issue is that right now, using Authme Reloaded + the last official version of FactionChat, moderator chat doesn't work.

[2015-12-28 20:51] sgdc3 commented on #259
even if logged in

[2015-12-28 20:52] sgdc3 commented on #380
@DNx5 why?

[2015-12-28 20:52] sgdc3 commented on #380
DDNS do the trick

[2015-12-28 22:06] MithrandirCraft commented on #259
it seems you have stopped the visualization and usage of that chat all together xD both when logged in and logged out.

[2015-12-28 23:31] sgdc3 commented on #259
ah, right. Fchat author needs to recompile the plugin

[2015-12-28 23:31] sgdc3 commented on #259
and remove any authme hook

[2015-12-29 02:07] sgdc3 commented on #68
Bump!!!!

[2015-12-29 02:08] sgdc3 commented on #90
Bump

[2015-12-29 02:09] sgdc3 commented on #137
bump

[2015-12-29 02:09] sgdc3 commented on #192
bump

[2015-12-29 02:10] sgdc3 commented on #226
@emre24807 should have been fixed! ;)

[2015-12-29 02:11] #199 closed

[2015-12-29 02:12] #220 closed

[2015-12-29 02:13] sgdc3 commented on #238
@Xephi bump?

[2015-12-29 02:15] #245 closed

[2015-12-29 02:15] sgdc3 commented on #248
@kingpyro fixed

[2015-12-29 02:16] #249 closed

[2015-12-29 02:17] #286 closed

[2015-12-29 02:17] #300 closed

[2015-12-29 02:18] #254 closed

[2015-12-29 02:19] #291 closed

[2015-12-29 02:20] #320 closed

[2015-12-29 02:21] sgdc3 commented on #259
not an authme issue anymore

[2015-12-29 02:23] sgdc3 commented on #267
no more response

[2015-12-29 02:24] sgdc3 commented on #267
@MithrandirCraft can prove that the issue is fixed

[2015-12-29 02:24] #267 closed

[2015-12-29 02:26] #325 closed

[2015-12-29 02:28] #335 closed

[2015-12-29 02:28] Warfacenl opened #387 "Error cant use mysql 000webhost incorrent?"
What am i doing wrong here? using wordpress

DataSource:
  mySQLColumnName: user_login
  mySQLTablename: wp_users
  mySQLUsername: a6995701_user
  backend: mysql
  mySQLColumnLastLogin: last_login
  mySQLDatabase: a6995701_databasename
  mySQLPort: '3306'
  mySQLColumnIp: ip
  mySQLHost: mysql**.000webhost.com
  mySQLColumnPassword: user_pass
  mySQLPassword: password
  caching: true
  mySQLlastlo

[2015-12-29 02:30] sgdc3 commented on #347
#90

[2015-12-29 02:31] sgdc3 commented on #387
why mysql*.000host.com with the "*"?

[2015-12-29 02:33] sgdc3 commented on #387
@Warfacenl

[2015-12-29 02:34] Warfacenl commented on #387
Ooh not all ppl from here needs that number ;) @sgdc3

[2015-12-29 02:34] sgdc3 commented on #308
@ljacqu bump

[2015-12-29 02:36] sgdc3 commented on #387
i can't understand your issue

[2015-12-29 02:37] sgdc3 commented on #387
what happens in console on start?

[2015-12-29 02:39] sgdc3 commented on #387
https://www.000webhost.com/faq.php?ID=27

[2015-12-29 02:40] sgdc3 commented on #387
@Warfacenl

[2015-12-29 02:40] Warfacenl commented on #387
I use a minecraft webhosting not in my home network?

I am trying to connect authme to my webhosting databse and im sure i have the authme config good with the 000webhosting data.

29.12 03:40:24 [Server] INFO ConnectionPool was unavailable... Reconnected!
29.12 03:38:17 [Server] INFO Connection pool ready
29.12 03:38:17 [Server] INFO MySQL driver loaded
29.12 03:38:16 [Server] INFO Set Language:

[2015-12-29 02:42] sgdc3 commented on #387
Look at the link I posted.

[2015-12-29 02:42] Warfacenl commented on #387
otherwise if that problem counts out of network to with mysql connection, than i need to look for an other webhost :)

[2015-12-29 02:43] sgdc3 commented on #387
yeah, 000webhost's free plan doesn't provide remote mysql access

[2015-12-29 02:43] #387 closed

[2015-12-29 06:39] DNx5 commented on #380
@sgdc3 because it was dynamic, reverse lookup not always do the trick.

[2015-12-29 06:58] DNx5 commented on #366
@UberNoel do you have access to mysql db? if yes, try to clear all realname column values.

[2015-12-29 09:33] ljacqu commented on #238
I think this is done.

Salt is saved on a per-column basis (as is correct: a _salt_ should be individual for each password, whereas a "global salt" is typically called a _pepper_). Adding a _pepper_ IMHO makes not much sense; complicates the code. Just use a good hashing algorithm that uses a salt (SHA256, our default) and you're good to go.

[2015-12-29 09:38] ljacqu commented on #308
I don't have time to do this personally within the release of 5.2, but if there's any taker for it, it would certainly be great to have it done in 5.2

[2015-12-29 09:43] DNx5 commented on #308
i think there is no need to validate the database configuration, because it will fail to connect if something wrong. people should put the right value there.

[2015-12-29 09:43] ljacqu commented on #308
It's more about preventing some sort of SQL injection. I know it's a long shot since the names come from the config file, i.e. a file only an admin has access to, but it wouldn't hurt.

[2015-12-29 09:49] DNx5 commented on #308
I'm too lazy to think about that, because it is not only for MySQL :laughing:

[2015-12-29 09:50] ljacqu commented on #308
OK :laughing:
Is 3) possible to be done?

[2015-12-29 10:07] DNx5 commented on #308
we can remove it, if 1) is done.

[2015-12-29 12:14] sgdc3 commented on #308
5.3 beta

[2015-12-29 12:17] sgdc3 commented on #380
why not?

[2015-12-29 13:12] Xephi commented on #260
Finally Done !

That was a problem with server blacklisted in the smtp server
to solve it, we use our own smtp server from the domain name provider ;)

[2015-12-29 13:12] #260 closed

[2015-12-29 16:10] ElitStrikerzHD commented on #334
whats the latest dev build?

[2015-12-29 16:22] ljacqu commented on #334
You can find it at http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2015-12-29 19:10] eero619 opened #388 "Authme location bug"
Authme location bug. Happend when i restarted server. 1.5 version. Some users are bugged. some are not.
my config:
DataSource:
  mySQLColumnName: username
  mySQLTablename: authme
  mySQLUsername: authme
  backend: sqlite
  mySQLColumnLastLogin: lastlogin
  mySQLDatabase: authme
  mySQLPort: '3306'
  mySQLColumnIp: ip
  mySQLHost: 127.0.0.1
  mySQLColumnPassword: password
  mySQLPassword: '12345'

[2015-12-29 22:34] andris155 opened #389 "Exception in thread "Craft Scheduler Thread - 2421""
[21:45:02] [Server thread/INFO]: [-] szsoma22
[21:45:02] [Craft Scheduler Thread - 2421/WARN]: Exception in thread "Craft Scheduler Thread - 2421"
[21:45:02] [Craft Scheduler Thread - 2421/WARN]: org.apache.commons.lang.UnhandledException: Plugin AuthMe v5.2-SNAPSHOT-b586 generated an exception while executing task 6533616
	at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncT

[2015-12-29 22:44] DardBrinza commented on #389
Exactly the same error :)

[2015-12-29 23:19] DardBrinza opened #390 "Block TAB auto completion for unlogged players"
Can you add a feature to block the use of the TAB key to authorization , as is done in the plugin AntiTAB. Someone may try to login as admin , and without entering a password , press / <TAB> and get a list of plugins. Thanks :)

[2015-12-30 00:30] sgdc3 commented on #388
try to purge your last location with this command: /authme resetpos yourname

[2015-12-30 08:41] DNx5 commented on #380
just try it

[2015-12-30 09:16] sgdc3 commented on #380
done xD

[2015-12-30 09:17] sgdc3 commented on #380
it should work fine with noip

[2015-12-30 09:19] sgdc3 commented on #380
anyway it's not safe as a static ip, i'll close the issue

[2015-12-30 09:19] #380 closed

[2015-12-30 11:25] Xephi commented on #390
https://www.spigotmc.org/wiki/spigot-configuration/
You can set the autocomplete as -1 to prevent it

[2015-12-30 12:21] Xephi commented on #390
AuthMe-Team/AuthMeReloaded@edffae3

[2015-12-30 12:21] Xephi commented on #390
Can you try the latest dev build please ?

[2015-12-30 13:01] ljacqu opened #391 "Wordpress encryption algorithm fails sometimes"
Occasionally, the test for the Wordpress encryption method fails. The log below is an excerpt of it happening remotely recently. I've also noticed it happening locally a few times. I would wager that the salt the algorithm generates sometimes isn't valid.

[code]

[2015-12-30 13:48] Xephi commented on #68
Done
https://github.com/Xephi/AuthMeBungeeBridge/commit/f5f5d5b88f166b34f55bdf5d79e5c9fcc609f18b

[2015-12-30 16:07] ljacqu opened #392 "[Dev] Add integration tests for SQLite and possibly MySQL"
Related: #357

Create integration tests for the SQLite data source and if possible for MySQL (using H2?).

[2015-12-30 19:30] eero619 commented on #388
/authme purgelastpos name worked for me ty !

[2015-12-30 19:32] sgdc3 commented on #388
if you use /authme purgelastpos * it should remove it for EVERYONE!!! (use it only if you don't mind about last pos of players)

[2015-12-30 21:54] #358 closed

[2015-12-30 22:26] #364 closed

[2015-12-30 22:56] #321 closed

[2015-12-30 23:41] ljacqu commented on #137
FYI: Admin password in the dump is `oIYPsCpn` (as mentioned by @Xephi).

The code that we have for Xenforo (doesn't work!) has been pushed to the **137-xenforo-support** branch (aed23cb). There are various code snippets with `TODO #137` scattered all around the codebase that need to be tackled. In particular:
- [ ] Make sure that the salt and the hash are always retrieved and stored together
- [ ]

[2015-12-30 23:47] DardBrinza commented on #390
Great work. Thank. Closed.

[2015-12-31 04:21] #390 closed

[2015-12-31 09:44] Slaand commented on #137
Also, do you know, what XF use 2 separate tables?
xf_user - user table
xf_user_authenticate - password table

And yes, for now it's doesn't work at all.
[Server thread/WARN]: [AuthMe] Unknown Hash Algorithm; defaulting to SHA256

Waiting for new builds to test them :dancer:

[2015-12-31 09:47] ljacqu commented on #137
Thanks for the info. @DNx5 is working on adding Xenforo support. Right now it's not in AuthMe just yet, so it doesn't know the "XENFORO" hash algorithm for now. ^^

@Slaand, thanks a lot for all of your help (the information and the dump you have provided) and your patience!

[2015-12-31 09:51] Xephi commented on #90
Keep just one issue open for the config rework :)
https://github.com/Xephi/AuthMeReloaded/issues/347

[2015-12-31 09:51] #90 closed

[2015-12-31 09:55] Xephi commented on #347
As @sgdc3 mention me, we need to make something equivalent to Yamler does :
https://github.com/Cube-Space/Yamler/tree/master/Yamler-Core
https://www.spigotmc.org/resources/yamler.315/

By the way we actually need some things :

- [] Enum System
- [] Restructure and Split configuration
- [] Comments support
- [] Update from the old Settings to the new one

Feel free to add some tasks here

[2015-12-31 10:13] Xephi commented on #312
I close this issue, keep track of all Settings change into this one :
https://github.com/Xephi/AuthMeReloaded/issues/347

[2015-12-31 10:13] #312 closed

[2015-12-31 10:14] #68 closed

[2015-12-31 10:16] ljacqu commented on #312
@Xephi Good idea, the reason I made a separate issue was that I could do it once independently of the rest. I could just leave it on a branch then or something

[2015-12-31 10:23] ljacqu commented on #347
enum system will be done by me

[2015-12-31 10:27] Xephi commented on #347
ok nice ;)

[2015-12-31 14:19] Xephi commented on #347
I'm working on a new CustomConfiguration management

[2015-12-31 17:35] MithrandirCraft commented on #259
Ok, the moderator chat is back again, but it can still be read when logged out: /logout

[2016-01-01 10:00] ljacqu commented on #347
I have done an enum-like setup on the branch. Enums weren't possible because of generics but basically a config file would have `public static final` fields of `Property<T>`:
[code]

Retrieving a setting would be something along the lines of
[code]

What's nice about this:
- it's typed (compiler knows that `getProperty()` will return a String or whatever)
- settings are retrieved through a method

[2016-01-01 11:35] ljacqu opened #393 "[Dev] Discussion: config.yml and comments"
addressing @Xephi @sgdc3 @DNx5 @games647 @MithrandirCraft & anyone else interested. (This relates to #347 but there's so much going on in there I'd like to create a new issue for discussion.)

The current problem we have is that we save config.yml whenever we detect missing or deprecated properties. When saving to config.yml, we lose all comments. We'd like to address that.

Possibility A (what we

[2016-01-01 11:42] DardBrinza commented on #393
Like

[2016-01-01 11:52] games647 commented on #393
In my opinion B is the best solution, but it's a lot of work to implement it. So I would rather choose C and then notify our users if there some changes made to the config. If we use possibility A, we lose all the comments which are in my opinion very helpful.

[2016-01-01 11:54] ljacqu commented on #393
Note that with B we will always write our default comments. If you think that's OK, we can probably swing that.

[2016-01-01 14:02] sgdc3 commented on #393
Nope, i prefer to remove the merge feature

[2016-01-01 14:03] sgdc3 commented on #393
Method C will only create confusion...

[2016-01-01 14:16] ljacqu commented on #393
@sgdc3 What merge feature do you mean? Can you elaborate on the confusion?

[2016-01-01 14:17] Xephi commented on #393
I've already begin the B choice and i will finish it soonly, by the way i think it's the better and easier way to do this ^^'

[2016-01-01 14:21] ljacqu commented on #393
Why do you think it would be easier? Why do you think it's better? I'm trying to gather thoughts here

[2016-01-01 14:24] DNx5 commented on #393
B is good, looks like Yamler. User should not put personal comments in config.yml , only able to edit the value.

[2016-01-01 14:26] ljacqu commented on #393
B it is. Thanks for the comments!

[2016-01-01 14:38] DNx5 commented on #393
how about creating our own template processor for snakeyaml?

[2016-01-01 14:42] ljacqu commented on #393
@DNx5 That's a difficult thing to do. If you would be willing to write one, then it could be an option to explore; you're a good coder. I don't think it's a good idea if someone else does it.

[2016-01-01 14:49] DNx5 commented on #393
ah :smile: nevermind, I'm not a good coder. Also, I see B is already in progress.
maybe I can help.

[2016-01-01 14:55] andris155 opened #394 "Recover password e-mail bug"
![kepkivagas](https://cloud.githubusercontent.com/assets/8324198/12071215/fc0b2730-b09f-11e5-921a-21f4fd5091cc.PNG)

[2016-01-01 14:57] sgdc3 commented on #394
you need to use <playername /> format not the %playername% one

[2016-01-01 14:58] ljacqu commented on #394
Also, there is still one tag in the email.html file in our repo that uses the `%` format

[2016-01-01 14:58] sgdc3 commented on #394
ok, can you fix it?

[2016-01-01 14:59] ljacqu commented on #394
Not right now.

[2016-01-01 15:02] andris155 commented on #394
<playername /> works thanks! :)

[2016-01-01 15:02] #394 closed

[2016-01-01 15:14] ljacqu commented on #394
Btw, my bad, all tags are fine in the file. I must have looked at an old diff sometime

[2016-01-01 19:01] ArcasCZ commented on #355
In last build still doesn't work for me...

[2016-01-01 19:04] games647 commented on #355
So you aren't allowed to fly after login?

[2016-01-01 19:16] ArcasCZ commented on #355
Nope, i need to use /fly or /gm s -> /gm c

[2016-01-01 19:18] ArcasCZ opened #395 "Players doesn't have permissions for login"
As title says, when player without OP or '*' permission try to use /login, they are sent to hell with message - ,,You don't have permissions for this command" (screen below)

Players has this permissions: authme.player.*

I'm using KCrauldron (latest Spigot API for 1.7.10), PermissionsEx 1.22.9 and Vault 1.5.2-b33.

[2016-01-01 19:42] ArcasCZ commented on #395
Bug was between chair and keyboard -_- I'm so sorry.

[2016-01-01 19:42] #395 closed

[2016-01-01 19:43] ArcasCZ opened #396 "Email command generates exception"
When I try to use /email recover (mail) command, I get this error:

[20:43:15 WARN]: org.apache.commons.mail.EmailException: Invalid message supplied

I'm using latest AuthMe.

[2016-01-01 20:12] Xephi commented on #396
can you send your email.html file please?

[2016-01-01 20:20] ArcasCZ commented on #396
It didn't create any email.html...

[2016-01-01 20:38] #393 closed

[2016-01-01 20:45] ArcasCZ commented on #355
https://ctrlv.cz/shots/2016/01/01/Ti15.png - here is error that I get when I use /tp player [essentials]

[2016-01-01 21:29] Xephi commented on #396
Huum, what's your actual build please?

[2016-01-01 21:39] ArcasCZ commented on #396
Latest.

[2016-01-01 21:41] ArcasCZ opened #397 "Microlag on player join"
Hello there!

When player joins, whole server got microlag for 3-4 seconds. Plugins doesn't react, tile entities stop working. After 4 secs all works fine. It doesn't happens all time, but it happens.

I'm running latest version of AuthMe and KCauldron.

[2016-01-01 23:10] DNx5 commented on #397
what is your ``` /authme version ``` ?

[2016-01-01 23:36] ArcasCZ commented on #397
AuthMeReloaded v5.2-SNAPSHOT (build: 186)

[2016-01-01 23:39] sgdc3 commented on #397
can you post your config?

[2016-01-01 23:40] sgdc3 commented on #396
With latest build we mean this: http://ci.xephi.fr/job/AuthMeReloaded-Dev/
NOT THIS: http://ci.xephi.fr/job/AuthMeReloaded/

[2016-01-01 23:40] ArcasCZ commented on #396
http://pastebin.com/dJEbVWNt

DB login information are hidden.

[2016-01-01 23:41] sgdc3 commented on #396
download build number 654

[2016-01-01 23:42] sgdc3 commented on #355
@ArcasCZ please, open a new issue

[2016-01-01 23:50] DNx5 commented on #397
Well, that's not a dev build.

[2016-01-01 23:51] DNx5 commented on #397
Well, that's not dev build.

[2016-01-01 23:53] DNx5 commented on #355
he is downloaded the wrong build :laughing:

[2016-01-01 23:53] ArcasCZ commented on #397
Meh, maybe someone have to fix that link in readme ;)

[2016-01-01 23:53] ArcasCZ commented on #355
Yep - someone has to fix that link in Readme ;)

[2016-01-01 23:54] ljacqu commented on #397
I agree with ArcasCZ, "latest build" is misleading/ambiguous for users

[2016-01-01 23:55] DNx5 commented on #397
http://ci.xephi.fr/job/AuthMeReloaded-Dev/

[2016-01-02 00:02] ArcasCZ commented on #397
All seems working :-)

[2016-01-02 00:02] #397 closed

[2016-01-02 00:03] ArcasCZ commented on #396
All works now. Please, fix that missleading link. Thanks :-)

[2016-01-02 00:03] #396 closed

[2016-01-02 00:36] ArcasCZ opened #399 "Email added whenever player joins server"
Hello there!

I'm (finally) using latest version of AuthMe (b654) and I have a little bit problem.

When player joins server, after login AuthMe sends to player MSG email_added, but player has no added email. Then server (correctly) sends message add_email.

What is wrong?

[2016-01-02 00:41] sgdc3 commented on #355
Yeah now i deleted the other jenkins build ;)

[2016-01-02 09:51] ljacqu commented on #355
Thanks, @sgdc3!

[2016-01-02 13:26] sgdc3 commented on #355
@ArcasCZ @andris155 any news about THIS issue? ;)

[2016-01-02 13:26] sgdc3 commented on #399
@Xephi

[2016-01-02 14:15] andris155 commented on #355
Fixed Thanks!

[2016-01-02 15:10] MithrandirCraft opened #400 "Abnormal ammount of registred users with localhost IP"
My team has recently noticed an abnormal ammount of players with IP 127.0.0.1 (default localhost IP) attributed to their names on the Authme mySQL tables.
(Yes I do have a team which notices these things huh e_e, we're professionals after all.)

The ammount of players registred with these IP's is growing every day :/

-------------------------
Spigot version: 1.8.8
Authme version: 5.2-SNAPSHOT-b59

[2016-01-02 17:32] ljacqu commented on #400
If I recall correctly, you're on VeryGames, right? So do you have `VeryGames.enableIpCheck` set to `true` in your config.yml?

Are there still new registrations (say, since Dec 30th) that are _not_ with the IP address 127.0.0.1?

[2016-01-02 17:46] DNx5 commented on #400
default ip for PlayerAuth object is ``` 127.0.0.1 ``` :open_mouth:

[2016-01-02 17:47] #355 closed

[2016-01-02 17:58] MithrandirCraft commented on #400
@ljacqu I imagined that could have something to do. I just disabled that function before the last restart (1h ago)

I'm checking right now if this volume of registred players with "127.0.0.1" may actually be the whole volume of recently registred players.

[2016-01-02 18:01] ljacqu commented on #400
@MithrandirCraft  Thanks, that will provide us some insight as for what is causing this :)

[2016-01-02 18:15] MithrandirCraft commented on #400
@ljacqu No, it's not everyone who registred since Dec 30. It's a bunch of random people, and the volume grows every now and then, I would say there's around 40 player names (I haven't really counted them).

If you think the verygames function may have something to do, this issue may now be prevented.

[2016-01-02 18:23] DardBrinza opened #401 "Wurst hack Authme tutorial"
Hi, i found hack-tutorial: https://www.wurst-client.tk/forceop-tutorial/#/title
How protect for this?

[2016-01-02 18:56] ljacqu commented on #401
- AuthMe has a **captcha feature** (`max login tries before captcha` setting) that prevents such automatic attacks, since it requires user input and thus halts any automatic script sending passwords. It also helps to keep an eye out for admin usernames logging on from the same IP address. Brute force attacks will typically be well visible within your logs because they will send dozens of tries to

[2016-01-02 19:00] ljacqu commented on #401
Sorry, I didn't mean to close this. I hit the button on accident.

[2016-01-02 19:05] ljacqu commented on #400
@MithrandirCraft Thanks for the info. It will be interesting to know if this no longer happens without the very games function.

From an analytical point of view, the fact that not everyone has 127.0.0.1 as IP address can mean one of two things:
- The users with 127.0.0.1 are the users who registered and never came back, or they are the ones who registered and logged back in later—i.e., our regist

[2016-01-02 19:27] MithrandirCraft commented on #400
@ljacqu Understood. My webmaster has this IP, and he's pretty active (It's definetly not his real IP xD)

[2016-01-02 20:42] sgdc3 opened #402 "MySql ssh connection"
inspired by @CryLegend https://github.com/CryLegend/AuthMeReloaded/commit/222bb751957d34233f5db7b559232cebe01fa9f8

[2016-01-03 00:26] DNx5 commented on #402
should be a module.

[2016-01-03 00:32] DNx5 commented on #401
from what i read, that was some kind of brute force method.
@ljacqu maybe we can add some delay to use login command?

[2016-01-03 00:43] sgdc3 commented on #401
no, we already have kick on wrong password

[2016-01-03 00:44] sgdc3 commented on #401
we can add a temp ban/banip if the user fails to login more then x times

[2016-01-03 02:42] DNx5 commented on #400
@ljacqu If your webmaster registered by ``` /authme register ``` he will have that IP.

[2016-01-03 09:39] ljacqu commented on #401
AuthMe has a few things in its tool box to counter brute-force attacks:

- Captcha feature. The limit for showing a captcha can be quite low here (e.g. 3). What might be nice is an option to display the captcha more frequently after many bad login attempts, e.g. "display catcha after 5 login tries, and then after every 2 login tries."

- Fantastic idea about the temp banip! (I think IP might be be

[2016-01-03 11:14] NickFirenzo opened #403 "WARNS when "restart" server[MySQL]"
Hi, When I restart my server authme getting warns, i'm using mysql
http://pastebin.com/5kYm2kJz

[2016-01-03 18:39] GeARCraft1 opened #404 "Add NodeBB Support"

[2016-01-03 18:45] GabrielTK opened #405 "Add API Actions on Register"
For Example, i would like to use this: https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html#Add-Single-Recipient-POST

[2016-01-03 18:48] GeARCraft1 commented on #401
I will test it on my server, then i send the log.

[2016-01-03 19:22] sgdc3 commented on #405
? what do you mean?

[2016-01-03 19:23] sgdc3 commented on #404
@Xephi I think NodeBB uses a standard hash method, right?

[2016-01-03 19:31] ljacqu commented on #405
That's a REST API over HTTP. That would be a whole other module. We do have a NewAPI.java class for other plugins to talk with us, though.

[2016-01-03 20:20] andris155 opened #406 "/authme unregister name sometimes not work."

[2016-01-03 20:48] DNx5 commented on #405
Looks like email sending service.
@GeARCraft1 you could create a plugin and listen at AuthMe register event.

[2016-01-03 20:59] GeARCraft1 commented on #405
But how i do this?? (Sorry, i`m very noob, but at least i know the plugin structure, so i just need to know how to listen for the event and get the player name and e-mail)

[2016-01-03 21:27] MithrandirCraft commented on #259
https://github.com/James137137/FactionChat/issues/12#event-504269111

[2016-01-03 21:47] sgdc3 commented on #406
Can you provide more infos?

[2016-01-03 23:05] NickFirenzo commented on #403
Done, fixed

[2016-01-04 00:23] Eisenbahn opened #407 "Players are able to bypass server user limit"
For some reason, it started happening after i got 5.2 snapshop (b185)

It stats fine. A player tries to login when its full, and it says its full and stuff. But for some reason, the plugin start ignoring this and anyone can join after this. :c

Java 7
Linux
Cauldron
Mine 1.7.10

[]'s !

[2016-01-04 01:07] Eisenbahn commented on #407
I've noticed after a restart, works until i do /authme reload. I gotta confirm this.

[2016-01-04 05:32] prozhong opened #408 "Player's logout positon freeze after plugin update"
I updated my authme from 5.0 to 5.2#657.
http://ci.xephi.fr/job/AuthMeReloaded/657/

Now wherever you logout and disconnect, you will be teleported to one fixed location (saved in mysql before update)

seems the 5.2 update caused mySQLlastloc wont be saved ?

Here is some config related:

  backend: mysql
  caching: true
  mySQLColumnId: id
  mySQLColumnName: username
  mySQLColumnPassword: passwo

[2016-01-04 13:40] sgdc3 commented on #407
Only after an authme reload, right?

[2016-01-04 13:41] #403 closed

[2016-01-04 13:42] sgdc3 opened #409 "Force email registration for secondary accounts (per IP)"

[2016-01-04 14:16] MithrandirCraft opened #410 "A fix for #348 by deleting all last player locations"
In reference to:
https://github.com/Xephi/AuthMeReloaded/issues/348

@sgdc3 Gave me a command: /purgelastloc *
He said it might help with purging the logout location of all players, and therefore might fix #348

The problem is that purgelastloc isn't an existing command.
A valid command is: /purgelastpos
Yet * doesn't automatically work for all players, instead, the command tries to find the playe

[2016-01-04 14:55] Eisenbahn commented on #407
Ok. Not confirmed. Havent perform a reload and there are common players bypassing.
(Vips got essentials bypass permission).
Maybe permission issue?

[2016-01-04 14:55] Eisenbahn commented on #407
This very weird. It blocks, then suddenly, it doesnt. Maybe a new player joining triggers it?

[2016-01-04 14:57] sgdc3 commented on #407
I still can't understand you issue

[2016-01-04 14:59] Eisenbahn commented on #407
Well. Server's player limit is 70. (But Vips has a permission, from essentials plugin, that allows them to bypass this limit. But ONLY VIPS)
For some reason, after i updated to 5.2 b185, ANY player can bypass this limit.
For some reason, when it reachs 70/70 and another player tries to join, it returns 'server full bla bla bla'.
But after some time, it doesnt return anything and any player can byp

[2016-01-04 15:03] sgdc3 commented on #407
Ok, understood

[2016-01-04 15:28] Eisenbahn commented on #407
Oh, god. I guess i cant use the 3.5 Snapshot again :'(
When i enter a command it just returns the same the command.

[2016-01-04 15:31] Eisenbahn commented on #407
http://pastebin.com/8ABnsHLM

[2016-01-04 15:35] ljacqu commented on #407
What command?

[2016-01-04 15:36] Eisenbahn commented on #407
Any command. /login, /logout /changepassword. The log is on the ling above.
[]'s

[2016-01-04 20:00] Eisenbahn commented on #407
Any way i could tempfix this? Or a way i could use the old version? (5.0)

[2016-01-04 20:10] ljacqu commented on #407
By the way, looks like that was 3.5:

I haven't worked on the code back in 3.5 so I have no idea what changed. But from the error I would guess that the database structure may have changed, which would not be easy to tempfix.

[2016-01-04 20:11] ljacqu commented on #409
Could you add a description?

[2016-01-04 20:13] ljacqu commented on #410
Are you using an older version? For me it works fine; using the latest dev build.

[code]

[2016-01-04 20:19] Eisenbahn commented on #407
Oh. You are 100% right :c . My mistake. But again i tried 5.0:
http://pastebin.com/pBgKRvf2

[2016-01-04 20:20] Eisenbahn commented on #407
Thank you guys for answering so quickly. :)

[2016-01-04 20:47] MithrandirCraft commented on #410
I'm using b596

This link is down, so I can't get anything more recent:
http://ci.xephi.fr/job/AuthMeReloaded-Dev/596/

My case:
/authme purgelastpos *
[21:47:07 INFO]: El usuario no se encuentra en la base de datos

(user doesn't exist.)

[2016-01-04 20:53] ljacqu commented on #408
I think I've found the issue—please try with the latest dev build (nr. 660 or upwards)
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-01-04 20:58] ljacqu commented on #410
Please use http://ci.xephi.fr/job/AuthMeReloaded/ — sgdc3 recently renamed the dev build to "AuthMeReloaded". I think if you use a more recent build version it should be included.
We can see that build nr. 586 was on Dec 25th, and Xephi added the `*` option on [Dec 28th](https://github.com/AuthMe-Team/AuthMeReloaded/commit/c94b622). So it's possible that it was _after_ build nr. 596.

Sorry for th

[2016-01-04 20:59] ljacqu commented on #388
@eero619 Am I right to assume that we can close this issue? Or is there still something pending on our side? :)

[2016-01-04 21:05] MithrandirCraft commented on #410
No problem, lets hope that's the case :)

I'll be doing this asap and reporting back.

[2016-01-04 21:11] MithrandirCraft opened #411 "forceCommands redesign & fix?"
I think the forceCommand functions could benefit from some fixing and changes, just like the "ForceSpawnOnTheseWorlds" function, as I mention on #256

I've been trying to set a command to be executed when the player logs in, so that it opens the shop on player's faces after they log in:

![screenshot_1 2](https://cloud.githubusercontent.com/assets/6623704/12100597/5054a6b2-b330-11e5-8e7d-fed7ea413

[2016-01-04 22:44] DNx5 commented on #411
maybe
[code]
or put that on new .yml file.

[2016-01-04 22:53] MithrandirCraft commented on #411
That would look much better n_n

[2016-01-04 23:08] DNx5 commented on #407
by the way, 5.0 contains a lot of bugs and performance problem. like inventory wipe, mysql lag, etc.
I recommend you to stick at last dev build

[2016-01-04 23:10] Eisenbahn commented on #407
I'll anyway. But im getting like 100 players in a modded server and its lagging the crap of it :C hahaha

Any way to force the limit? A plugin maybe?

[2016-01-04 23:27] DNx5 commented on #407
are your players have ``` authme.player.vip ``` ?

[2016-01-04 23:33] Eisenbahn commented on #407
They probably has authme.player.* . But had in the 5.0. Is it new in 5.2?
I'll check it. But im almost sure i tried it.

[2016-01-04 23:36] DNx5 commented on #407
see this,
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md

[2016-01-04 23:36] Eisenbahn commented on #407
Mhm. So. ive added a "-authme.player.vip" and still happening. :(

[2016-01-04 23:37] Eisenbahn commented on #407
As i explained above. Sometimes it works just fine, but 90% of the time, it just ignores the limit =/

[2016-01-04 23:37] DNx5 commented on #407
yeah, its happen because player has vip permissions :laughing:

[2016-01-04 23:38] Eisenbahn commented on #407
Hm.. only vip has. And any player is joining :(
It were alright before 5.2. So i guess is a small glitch

[2016-01-04 23:39] DNx5 commented on #407
if you give players ``` authme.player.* ``` permission. that mean you give them ``` authme.player.vip ``` too.

[2016-01-04 23:40] Eisenbahn commented on #407
Okay. I'll try removing this node. I tought adding a - before a node, it added an exception.

[2016-01-04 23:41] DNx5 commented on #407
well, authme seems broken with ``` * ``` node. What do you think @ljacqu ?
@Eisenbahn
could you try this build?
http://ci.xephi.fr/job/AuthMeReloaded/661/

[2016-01-04 23:42] Eisenbahn commented on #407
Will do.

[2016-01-04 23:54] Eisenbahn commented on #407
Ok. Removing the authme.player.*, adding authme.player.login, logout and authme.player.register. now returns the vanilla 'full' message ("Server is Full !").

I'll keep my eyes on it, But seems to be fine again. (Still using the 5.2 b185)

[2016-01-04 23:55] Eisenbahn commented on #407
I'll let ya know if still bypassing. Thank you for all your patiece, guys. Keep the good work :)

[2016-01-05 00:23] DNx5 commented on #407
You can close this if there is no problem left.

[2016-01-05 00:24] Eisenbahn commented on #407
Okay. Closing. []'s

[2016-01-05 00:24] #407 closed

[2016-01-05 00:28] DNx5 commented on #400
^ I just realized I tagged the wrong person :laughing:
that shoul go for @MithrandirCraft

[2016-01-05 00:49] me1ga opened #412 "Players doesn't have permissions for register"

[2016-01-05 01:18] #412 closed

[2016-01-05 02:19] sgdc3 commented on #411
Another file would be better ;) +1

[2016-01-05 02:21] sgdc3 commented on #388
@ljacqu we need to fix this issue with last location first

[2016-01-05 02:28] prozhong commented on #408
fixed confirmed

[2016-01-05 02:28] #408 closed

[2016-01-05 05:53] ljacqu commented on #407
@DNx5 Great analysis! How is the `*` node broken? Currently player.vip falls under player.* so it will be granted. Once we use the reworked perms by @sgdc3 this will no longer be the case

[2016-01-05 05:56] ljacqu commented on #388
Hopefully done with #408. I should have mentioned

[2016-01-05 06:11] ljacqu commented on #407
I had a look at the commits again, and I guess that player.* is still allowing player.vip (as it should currently)? From what I can tell (reading on a phone) the changes look good

[2016-01-05 11:41] DNx5 commented on #407
I mean, the exclude thing.
something like,
[code]

[2016-01-05 12:07] ljacqu commented on #407
Once we use @sgdc3's newPlugin setup we won't have this problem anymore :)

[2016-01-05 13:37] MithrandirCraft commented on #259
Still readable.

[2016-01-05 13:50] MithrandirCraft commented on #259
Updated affected versions of both plugins.

[2016-01-05 14:07] MithrandirCraft commented on #348
Using a more actual version (updated version to 660) and executing: /authme purgelastpos *

My server crashed, nice xD
huh... but it looks like it helped, I don't know if it's going to be something permanent though...

[2016-01-05 14:18] MithrandirCraft commented on #400
@DNx5 I still saw it though :P

In any case, I don't think I registred my webmaster through that command.

Looks like the ammount of accounts with 127.0.0.1 attributed to them is being reduced since I disactivated the verygames function.
I would call this verygames's fault, and close this ticket untill the likelyhood of any further issues re-emerging.

[2016-01-05 14:18] #400 closed

[2016-01-05 14:19] MithrandirCraft commented on #410
reported on #348

[2016-01-05 14:32] eero619 commented on #388
There is still a problem i tried this :
Hopefully done with #408. I should have mentioned
and it was ok until no permssions worked only * perm worked. so please fix
i am using pex

[2016-01-05 17:19] ljacqu commented on #388
Are you using the most recent perm nodes? They've changed from 5.0 to 5.2:

https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md

[2016-01-05 17:22] ljacqu commented on #410
What is still open for this issue?

[2016-01-05 17:24] prozhong opened #413 "WARN after server stop"
http://pastebin.com/c6piN8tD
"org.bukkit.plugin.IllegalPluginAccessException: Plugin attempted to register task while disabled"

Using #660
http://ci.xephi.fr/job/AuthMeReloaded/660/
My config same as #408

[2016-01-05 17:32] ljacqu opened #414 "[Dev] Clean wildcard permissions"
- Verify whether it is sufficient to define wildcard permission nodes in plugin.yml
- If so, remove the logic for wildcard nodes in the permissions manager and the permission enums

[2016-01-05 17:37] ljacqu opened #415 "[Dev] Rework permission nodes (newplugin.yml)"
- Review that the setup in the newplugin.yml file is satisfactory
- Replace the current plugin.yml file with it
- Add the breaking changes to the wiki page (e.g. /converter --> /authme converter)
- Update the permission enums accordingly
- Update the command initializer accordingly
- Move the ExecutableCommand implementation(s?) to the authme package
- Run the tools tasks to create the list of per

[2016-01-05 17:38] ljacqu commented on #415
Adding it to the 5.2 release. If we can still fit this + the config rework into 5.2 then we'll have a nice setup and hopefully very little breaking changes in the future :)

[2016-01-05 17:49] DNx5 commented on #414
It's optional to put wildcard permission in plugin.yml, but registering the permissions is required.

[2016-01-05 17:53] DNx5 commented on #414
plugin.getServer().getPluginManager().addPermission(new Permission(...));
https://hub.spigotmc.org/javadocs/spigot/org/bukkit/permissions/Permission.html

[2016-01-05 17:55] ljacqu commented on #414
Where do we do this in AuthMe? I'm really confused now.

[2016-01-05 18:02] ljacqu commented on #414
https://bukkit.org/threads/permissions-faq.25080/, although dated, says:

No. It's entirely optional to register permissions at all. However, I recommend that you do so that you may provide a description of each permissions and set a default. Also, you can set "shortcut" permissions in plugin.yml to let people easily pick groups of similar permissions using a single node.

[2016-01-05 18:05] #410 closed

[2016-01-05 18:05] #348 closed

[2016-01-05 18:15] DNx5 commented on #414
We only check player's permission, and permissions section in plugin.yml isn't fully updated.

[2016-01-05 20:06] sgdc3 commented on #415
newPlugin can be ommited if @DNx5 's one is better ;)

[2016-01-05 20:43] ljacqu commented on #415
I think we've seen in #414 that I have no idea how permissions are defined... :P So I'll describe it on a higher level: giving `authme.player.vip` when a player has `authme.player.*` is obviously a bad idea since a plugin admin won't suspect the consequences of that, but at the same time I find it very ugly to have `authme.player.*` NOT include all `authme.player` permissions.

@sgdc3, your change

[2016-01-06 02:14] DNx5 commented on #415
http://wiki.ess3.net/wiki/Group_Manager#Permissions_Nodes

Group Manager supports summary nodes, that is using a wildcard to enable all registered sub-permissions.

essentials.* : Allows access to every essentials command
essentials.kits.* : Allows access to use every kit
You can also give the '*' wildcard by itself, without specifying a plugin. This causes the specified group to have access to ev

[2016-01-06 02:20] DNx5 commented on #414
Probably we aren't register permissions properly
http://wiki.ess3.net/wiki/Group_Manager#Permissions_Nodes

Group Manager supports summary nodes, that is using a wildcard to enable all registered sub-permissions.
`essentials.*` : Allows access to every essentials command
`essentials.kits.*` : Allows access to use every kit
You can also give the '*' wildcard by itself, without specifying a plugin.

[2016-01-06 04:25] DNx5 commented on #415
I agree with you :smile: I don't like `authme.vip`

[2016-01-06 05:56] ljacqu commented on #415
I like it better than `authme.player.vip` though :/ This way it isn't included in `authme.player.*`

[2016-01-06 14:48] andris155 commented on #406
https://www.youtube.com/watch?v=2o-U1BjsbeA&feature=youtu.be

[2016-01-06 17:25] ljacqu commented on #137
@DNx5 Any news on this? I recently generated the test class for Xenforo and I think the only problem was a null pointer exception from ConsoleLogger. That's just because of the test — I'll fix this (i.e. I'll do the test class) so it doesn't stop progress on this issue

[2016-01-06 19:38] Done84 commented on #415
authme.player.* Gives everyone the perm to see alternate accounts, i don't think this permission should be under authme.player, its more of a staff perm than a players perm.

[2016-01-06 19:47] NickFirenzo opened #416 "Bug with /email add - Please fix"
Hi,
I want to report a bug with /email add.
If someone have acounts who is the maximum of limit, example in config yml have maxregperip: 3 and someone have 3 accounts when type /email add hisemail@example.com getting a text:
You have reached the maximum number of accounts when type /email add.

[2016-01-06 21:28] MithrandirCraft commented on #339
Calling this closed untill further report from my players.

[2016-01-06 21:28] #339 closed

[2016-01-06 23:51] DNx5 commented on #416
http://ci.xephi.fr/job/AuthMeReloaded/664/

[2016-01-07 00:06] NickFirenzo commented on #416
Done, fixed. But have another bug.
When you add an email adress
example:
/email add email@example.com email@example.com and you added sucsess.
You can add again with /email add email@example.com email@example.com, again getting sucsess added. Please fix it with /email add, when added 1 time, no more. To change use /email change, thanks

[2016-01-07 00:31] NickFirenzo commented on #416
fixed, thanks

[2016-01-07 00:31] #416 closed

[2016-01-07 00:45] DNx5 commented on #137
I renamed XENFORO hash algorithm to XFBCRYPT because current version of xenforo is using Bcrypt but the old version is sha256/md5

[2016-01-07 04:04] prozhong opened #417 "Player can't join bug due to 'USERNAME_ALREADY_ONLINE_ERROR'"
Using #660
http://ci.xephi.fr/job/AuthMeReloaded/660/
My config same as #408

When a player named 'oneplayer' is playing ,the new player named 'oneplaye' can't join and will kicked with ''USERNAME_ALREADY_ONLINE_ERROR''

[2016-01-07 04:08] prozhong commented on #417
so player EASON's online will block player 'EASO' or 'EAS' joining
but player EASO's online wont block player 'EASON' joining

[2016-01-07 07:21] DNx5 commented on #417
You could test this build,
http://ci.xephi.fr/job/AuthMeReloaded/666/

[2016-01-07 07:28] DNx5 commented on #360
Solution:
Use NPC check API from those NPC plugins instead checking player's metadatas.

[2016-01-07 07:36] me1ga opened #418 "Strict Mode"
Please add the ability to disable mysql strict modes for AuthMe session.
When strict modes enabled:
[10:39:29] [pool-3-thread-1/WARN]: [AuthMe] Field 'buddy_list' doesn't have a default value
and in-game message:
An unexpected error occured, please contact an Administrator!

[2016-01-07 07:47] DNx5 commented on #418
you should do it yourself. AuthMe shouldn't handle MySQL system configuration.
Also, where is field 'buddy_list' come from? could you set default value for it?

[2016-01-07 07:58] me1ga commented on #418
in my system MySQL configuration sql-mode=""
I am using simple machines forum base for storage player data, there is a field, such as 'buddy_list' TEXT NOT NULL, and TEXT NOT NULL field can't have a default value.
Old version AuthMe (on 1.7.2 craftbukkit server) register new users without errors.

[2016-01-07 09:42] SmeXhy opened #419 "Random logouts, without any message"
I don't know why, but sometimes it logout me or my players, and I can't move, I can't anything, like when I didn't login. But it didn't write message: "You must login.." just I can't move, chat and doing nothing. I must type /login password or relog (so all are confused). Can you tell me why it's doing this?

[2016-01-07 11:29] kristiantomov opened #420 "Falling through the world"
There is some weird issue that when player leave in The End then log back in sometimes he fall though the world. I dont know why but before he log in it just spawns him at x.y.z = 0, and after he log in it spawns him where he left.

[2016-01-07 17:21] ljacqu opened #421 "[Dev] Document AuthMe events and the API"
Not very important but a nice improvement.

- Create a Wiki page listing the custom events of AuthMe that can be listened to by third party developers (e.g. a short description + link to javadoc)
- Include a note to use NewAPI.java and not Api.java, link to NewAPI javadoc
- Ensure that NewAPI has useful javadoc, i.e. a short description of what the method does + a description of the parameters – *

[2016-01-07 17:30] ljacqu commented on #415
I can't find that node explicitly but what @Done84 mentions (authme.player.* gives more than it should) would be fixed by sgdc3's newPlugin.yml

I will assign this issue to me and make the necessary changes on a branch, then I'll assign this to DNx5 or sgdc3 for verification and changing whatever you don't like ^^

Once we rework the perm nodes we need to make sure that we all like it so that we s

[2016-01-07 17:33] ljacqu commented on #137
That sounds nice! Thanks for all the recent commits. I'll fix the tests and assign this to you for merging to master? I don't know if there's anything else pending for Xenforo support

[2016-01-07 17:39] ljacqu commented on #347
Todo @ljacqu:
- Write proper tests for the new classes; extract EnumProperty to its own class
- Write consistency tests (ensure public final static fields on ConfigurationClass children)
- Verify whether we can use an existing Yaml writer (snakeyaml as used by Bukkit)
- Add a `contains()` method to PropertyType
- Add checks to see if we need to rewrite the config.yml (as currently done in Settings

[2016-01-07 19:53] ljacqu commented on #137
Tests fixed.

[2016-01-07 21:51] DardBrinza opened #422 ""Craft Scheduler Thread" build #659"
http://pastebin.com/NbLDzEYP

[2016-01-07 22:41] MithrandirCraft opened #423 "Fix own accounts message"
I don't know how you guys will find this, but there's currently an option for viewing related accounts when someone logs in, as long as you have the "authme.player.seeotheraccounts" permission.

I would like to suggest a permission for viewing one's own account names when logging in, or a command for such checking purpose.

This would be usefull for players who want to unregister some accounts bec

[2016-01-07 22:45] DNx5 commented on #420
What is your `/authme version` ?

[2016-01-07 22:49] DNx5 commented on #419
What is your `/authme version` ?
Are session enabled?

[2016-01-07 23:10] sgdc3 commented on #360
Nope, too many dependencies

[2016-01-07 23:10] #360 closed

[2016-01-07 23:11] sgdc3 commented on #406
Are you using latest dev build?

[2016-01-07 23:12] NickFirenzo opened #424 "Players can join with Big/Small characters of his real names - Bug [Build: 665]"
Hi,
I want to report a bug with big/small character of his real name.
realname: Nick
you can join with: NicK, niCK and etc.

[2016-01-07 23:13] andris155 commented on #406
AuthMeReloaded v5.2-SNAPSHOT (build: 659)

[2016-01-07 23:37] DNx5 commented on #424
set `preventOtherCase` to true

[2016-01-07 23:52] sgdc3 commented on #406
@DNx5 can you look at this?

[2016-01-07 23:55] SmeXhy commented on #419
My version is:
==========[ AuthMeReloaded ABOUT ]==========

And yes, I have sessions enabled

[2016-01-07 23:58] DNx5 commented on #406
Not now, too lazy to open the IDE on my slow pc. :penguin:

[2016-01-08 00:09] NickFirenzo commented on #424
Done

[2016-01-08 00:09] #424 closed

[2016-01-08 00:10] sgdc3 commented on #406
lol

[2016-01-08 00:16] sgdc3 commented on #137
Ok, @Slaand can you try it? ;)

[2016-01-08 00:17] sgdc3 commented on #226
no answer

[2016-01-08 00:18] #226 closed

[2016-01-08 00:20] #238 closed

[2016-01-08 00:21] sgdc3 commented on #248
@kingpyro should have been fixed

[2016-01-08 00:22] #330 closed

[2016-01-08 00:24] sgdc3 commented on #317
@Kixot14 should work fine now, remember to enable the preventOtherCase feature in the config file ;)

[2016-01-08 00:25] sgdc3 commented on #334
@ElitStrikerzHD so, any news?

[2016-01-08 00:27] sgdc3 commented on #353
@zhgt Any news?

[2016-01-08 00:32] DNx5 commented on #419
probably it's caused by expired session.
AuthMe should send "Session expired." message on join, and maybe you couldn't see it because motd.

[2016-01-08 00:34] DNx5 commented on #419
*TODO:*
* Ask player to login when session is expired.

[2016-01-08 01:14] SmeXhy commented on #419
But this problem is doing random while players are playing, for e.g. mining. They just suddenly can't move and do nothing (like when I am logouted, but with ANY messages of AuthMe). Command "/login pass" help, or relog too (then players can see sentence: "Use /login password to login!"). But I don't know why it's doing random while playing and without any message of AuthMe...

[2016-01-08 05:59] ljacqu commented on #423
That sounds like a nice idea! Since we can associate it with a permission node, a plugin admin can then decide if he wants to allow it or not. So no downsides per se ^^

[2016-01-08 06:49] sgdc3 commented on #419
Are you using any sort of reload command?

[2016-01-08 09:47] Slaand commented on #137
1. Problem with player register, after /reg command server server snow me an error at console:
[Craft Scheduler Thread - 1/WARN]: [AuthMe] Field 'email' doesn't have a default value
So what's wrong? :D My cfg http://pastebin.com/xTuxfd4Z

2. After password change at server, player can't log in anymore. At server/website same error: wrong password.

[2016-01-08 09:50] Slaand commented on #137
Also if you still need alot more info from this, you can take all my logins and passes from xenforo db, but admin account is broken for now, because of this passchange at server :D
P.S. Sorry for my english

[2016-01-08 11:00] SmeXhy commented on #419
I am using plugman, but not on AuthMe (only sometimes, a long time ago)

[2016-01-08 12:07] DNx5 commented on #137
try to set encryption to `xfbcrypt`

[2016-01-08 12:16] DNx5 commented on #137
probably related to #418
but I dont know why.

[2016-01-08 12:37] Slaand commented on #137
My encryption already is XFBCRYPT, you can see my config, comments above.

[2016-01-08 13:18] DNx5 commented on #137
You can't login only after change your password right?

[2016-01-08 13:20] Slaand commented on #137
Yes, that's right. Later I'll do more tests with xenforo and authme, maybe we get more bugs :)

[2016-01-08 13:34] TonyMontero opened #425 "Permission authme.admin.accounts doesn't work (showing up to all the multiaccounts)"
Since i update to the AuthMe Reloaded v5.2 (build 662) all my players can see the multi accounts of other people, no way i negate the authme.admin.accounts node to all (including OP and Admins).

Using Spigot 1.8.8 r0.1 Snapshot (fdc1440-53fac9f)

[2016-01-08 13:48] DNx5 commented on #137
Is your previous password generated by AuthMe with `xfbcrypt` encryption?
Or by Xenforo?

[2016-01-08 13:49] DNx5 commented on #425
see
https://github.com/AuthMe-Team/AuthMeReloaded/blob/master/src/tools/docs/permission_nodes.md

[2016-01-08 13:51] Slaand commented on #137
By xenforo

[2016-01-08 18:18] #418 closed

[2016-01-08 18:20] Xephi commented on #413
Can you please try latest build ?

[2016-01-08 18:27] Xephi commented on #422
Can you please try latest build ? http://ci.xephi.fr

[2016-01-08 21:07] DardBrinza commented on #422
Fixed :) Thanks.

[2016-01-08 21:31] kristiantomov commented on #420
The server is using 5.2-Snapshot (i dont even know how did they got it...)

[2016-01-08 21:48] DNx5 commented on #420
build number please?

[2016-01-08 22:09] kristiantomov commented on #420
186

[2016-01-08 22:55] DNx5 commented on #420
Could you update?
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-01-08 23:17] kristiantomov commented on #420
the admins said that its fixed.. we'll see

[2016-01-08 23:28] DNx5 commented on #137
@Slaand Should works fine now :smile:

[2016-01-08 23:29] DNx5 commented on #137
try latest dev build,
http://ci.xephi.fr/job/AuthMeReloaded/

[2016-01-09 00:40] Slaand commented on #137
Almost perfect. 1 problem left - when player register at server, he can't log in website.
![0000](https://cloud.githubusercontent.com/assets/1496072/12213029/404f9a5e-b67a-11e5-819d-1ea50b2d2f99.PNG)

[2016-01-09 02:23] sgdc3 commented on #137
@DNx5

[2016-01-09 02:24] #422 closed

[2016-01-09 02:25] sgdc3 commented on #413
@prozhong

[2016-01-09 02:26] #425 closed

[2016-01-09 02:27] sgdc3 commented on #419
@DNx5 @ljacqu @Xephi we need to find out the cause of this issue :/

[2016-01-09 02:28] sgdc3 commented on #406
@DNx5 now? xD

[2016-01-09 02:43] prozhong commented on #413
Fixed

[2016-01-09 02:43] #413 closed

[2016-01-09 02:54] prozhong commented on #417
fixed

[2016-01-09 02:54] #417 closed

[2016-01-09 04:31] DNx5 commented on #137
@Slaand I'm sure that's optional.
could you check xf_user table?

[2016-01-09 09:42] ljacqu commented on #415
I merged some of the changes of newPlugin.yml on a branch; please review and make any changes you're not happy with (e.g. if you have a better name for `PlayerStatePermission`).

List of what the new permission nodes would be can be seen [on the branch](https://github.com/AuthMe-Team/AuthMeReloaded/blob/415-perm-nodes-rework/src/tools/docs/permission_nodes.md).
I didn't move `/converter` to `/auth

[2016-01-09 09:44] ljacqu commented on #414
Thanks for the commit! I think we can close this.

[2016-01-09 09:44] #414 closed

[2016-01-09 10:33] Slaand commented on #137
@DNx5 look for PM in gitter, I send info to xenforo db

[2016-01-09 10:54] Slaand commented on #137
Oww.. I need also test out password change from website.

[2016-01-09 13:46] Xephi commented on #423
Check if it works

[2016-01-09 14:07] Xephi commented on #259
https://github.com/James137137/FactionChat/pull/14

I've directly pull request him with the fix

[2016-01-09 14:47] MithrandirCraft commented on #423
Permission node or New config?

[2016-01-09 15:16] Xephi commented on #423
Permission node
authme.player.showotheraccounts

[2016-01-09 15:23] Xephi commented on #419
Yup, but i still can't reproduce it :/

[2016-01-09 15:26] SmeXhy commented on #419
But something is really doing that, and it's just RANDOM...

[2016-01-09 15:26] MithrandirCraft commented on #423
authme.player.seeownaccounts

[2016-01-09 15:27] Xephi commented on #419
I will investigate, but i don't have any step to reproduce it, it will be hard :/

[2016-01-09 15:55] MithrandirCraft commented on #423
Not working.

[2016-01-09 16:00] MithrandirCraft commented on #259
Fixed with the suspicious FactionChat build that Xephi handed to me.

[2016-01-09 16:00] #259 closed

[2016-01-09 16:04] Xephi commented on #259
LOL , it's just a build with the pull request i've send to the dev of FactionChat ;)

[2016-01-09 16:06] MithrandirCraft commented on #259
I know, I'm just joking xD

[2016-01-09 19:52] Xephi commented on #389
Can you please try latest dev build ?

[2016-01-09 20:48] games647 commented on #372
So if I understand it correctly. The speed isn't removed on join as it should, correct?

[2016-01-09 20:53] ljacqu commented on #308
@Xephi "awaiting answer"?

[2016-01-09 20:55] Xephi commented on #308
I would put please-verify :') but i've finish my check, also i think it's ok now

If you're ok by the way i've fixed 1), we can close this

[2016-01-09 21:02] ljacqu commented on #308
1) looks good
2) was decided by DNx5 that we skip (for this issue anyway; I will create another)
3) is still open

[2016-01-09 21:06] ljacqu commented on #308
Reopened – there are three other places annotated with `TODO #308` and there are probably more places where this check is present.

[2016-01-09 21:06] sgdc3 commented on #372
yeah

[2016-01-09 21:08] sgdc3 commented on #389
@andris155

[2016-01-09 21:09] Xephi commented on #404
Can you try with BCRYPT please ?

if it not work, set in config.yml :
    bCryptLog2Round: 10 -> 12

[2016-01-09 21:11] sgdc3 commented on #423
@Xephi

[2016-01-09 21:13] Xephi commented on #308
Reclose - Sorry :')

[2016-01-09 21:13] sgdc3 commented on #404
@GeARCraft1

[2016-01-09 21:16] ljacqu commented on #308
Looks good – thanks! I'm very glad that these checks are no longer part of the codebase. :)

[2016-01-09 21:16] #308 closed

[2016-01-09 21:17] sgdc3 commented on #137
@ljacqu Can you update the checklist above? ;)

[2016-01-09 21:20] sgdc3 commented on #137
Can we close the issue or there is still work to do with it?

[2016-01-09 21:24] ljacqu commented on #137
@sgdc3: Thanks for the query. @DNx5 knows best what the status is of this issue since he's implemented Xenforo support. I've updated the checklist with what I know is done. I don't know if tests have been done (though I would assume so) and I know that the readme hasn't been updated (though it doesn't _need_ to be if we don't care/want).

[2016-01-09 21:31] sgdc3 commented on #137
Added the support on the readme..

[2016-01-09 21:58] GeARCraft1 commented on #404
Sorry, I Will try to do this

[2016-01-09 22:01] GeARCraft1 commented on #421
+1

[2016-01-09 22:05] ljacqu commented on #421
@GeARCraft1 I'm glad for the +1, your issue #405 inspired this one ;)

[2016-01-09 22:05] #306 closed

[2016-01-09 23:59] andris155 commented on #389
This error only occurred a couple of times, but since then I've never seen it again.

[2016-01-10 00:16] #389 closed

[2016-01-10 03:24] sNuuFix opened #426 "usernames are lowercase"
all registered usernames saved in mysql database are lowercase, no matter what config uption they are created with (mySQLColumnName and mySQLOtherUsernameColumns (tested as array and string)), no matter what field type. I have tested all possible combinations and nothing works. This compleatly breaks all web integration feature and renders weeks of work useless for our project. I've implemented fu

[2016-01-10 04:11] sNuuFix opened #427 "Feature suggestion: registering with password and email at the same time"
It would be nice to have the option to ask player to register password and email at the same time.

For example with command "/register password email" because then confirming password could be removed, as the password is already seen on screen and there would be an option to reset it with email (ofcourse if the email isn't fake, that can be avoided in most cases by doing quick dns lookup on the e

[2016-01-10 05:42] sNuuFix commented on #426
Resloved this by cloning and compiling latest snapshot and regenerating configuration.

P.S. Thank you for such plugin with so many good features, I was impressed by bcrypt support. :)

[2016-01-10 05:42] #426 closed

[2016-01-10 06:28] sNuuFix opened #428 "Latest snapshot forces to use salt database field when using bcrypt"
Latest version (5.2) from git master branch forces to use some value in mySQLColumnSalt field when passwordHash is set to BCRYPT, otherwise it fails to save new user because of mysql syntax error, for example: INSERT INTO users(username,password,ip,lastlogin,name,) VALUES ('player','bcrypt_hash_with_salt','0.0.0.0',1452406638176,'Player','salt_from_bcrypt')
with the part "name,)" obviously being i

[2016-01-10 09:12] ljacqu commented on #426
Weird, if this happens again please reopen or create a new issue. Note that the "username" column _is_ lower-case by definition, but "realname" has the actual casing of the user.

[2016-01-10 09:32] ljacqu commented on #428
Hi, would it be possible that your "mySQLColumnEmail" is empty in your config? The handling of the salt column seems fine and is indeed optional. From the SQL you've posted it would seem that the email column name is empty.

[2016-01-10 09:51] ljacqu opened #429 "[Dev] Validate column names"
This has a low priority and is a follow-up of #308.

In the data sources, we use the column names given from the config but without any validation. It would be nice to validate the column names as we get them from the config to make sure that they won't break the SQL code we generate.

[2016-01-10 09:59] ljacqu opened #430 "[Dev] Improve PlayerAuth builder"
The PlayerAuth builder is excellent and has rendered the code a lot clearer. The following are some improvements:

- Automatically set `name` from `realName`, since `name` should always be `realName.toLowerCase()`. This is a field we shouldn't have to set explicitly. This reduces redundancy & the potential for mistakes.

- The builder speaks of `name`, whereas the PlayerAuth class has the field `n

[2016-01-10 09:59] sNuuFix commented on #428
No, it is defined (mySQLColumnEmail: email), all of column config options are filled and exist in database, except mySQLColumnGroup. It was working with SHA hashes, but this problem occured right after I changed hashes to bcrypt. Right after that I enabled sql query logs and saw that it suddenly tries to insert salt value.

[2016-01-10 10:09] sNuuFix commented on #426
There was no realname column option in 5.0 version from dev.bukkit.com stable download. Only possibility to use mySQLOtherUsernameColumns that by documentation was supposed to be all-case. But it's old version anyway so doesn't need fixing.

[2016-01-10 10:11] ljacqu commented on #428
The only place where we issue such an `INSERT` statement is in MySQL#saveAuth(), and there the email column comes right after the "name" column. Your SQL example `INSERT INTO users(username,password,ip,lastlogin,name,)` shows there is no salt at play (it tries to insert 6 values: username, password, IP, lastlogin, realname and email). With a salt there would be 7 values.

It really seems to me tha

[2016-01-10 10:17] ljacqu opened #431 "[Dev] Tool task to update all doc pages"
- Create a tool task that runs all of the tasks that generate a doc page (do not include the verification task of the messages file)

- Move the doc pages outside of tools, e.g. to a "doc" or "docs" folder alongside "src". I think this only requires moving the files and updating ToolsConstants#DOCS_FOLDER. Wait for #415 to have been done

[2016-01-10 10:20] sNuuFix commented on #428
The query I copied from log and changed data in it was when salt column config was empty. right after I put some value in it, it generated (username,password,ip,lastlogin,name,salt). I figured out it The thing is I have password registering mode, not email. Emails are set to false at config and doesn't show up in query at all, just as it should be by default. I figured out it was salt only because